<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-index-screen' %>
  <%= rendered_stylesheet_tag 'administration-site-appearance' %>
  <%= render_translations LocalePart.screens.admin.site_appearance %>
  <title><%= t('screens.admin.site_appearance.editing') %> | <%= get_site_title %></title>
<% end %>

<%= display_standard_flashes %>

<% admin_breadcrumb('screens.admin.site_appearance.site_appearance') %>

<% content_for :admin_header do %>
  <div class="site-appearance-header">
    <%= render 'tabs' %>
    <%= render 'page_controls' %>
  </div>
<% end %>

<div class="site-appearance <%= 'custom' if enable_custom_chrome? %>">
  <div class="site-appearance-admin-header">
    <div class="locale-warning">
      <% if using_non_default_locale? %>
        <div class="alert warning">
          <%= t('screens.admin.site_appearance.warning_html') %>
        </div>
      <% end %>
    </div>

    <% if enable_custom_chrome? %>
      <%= content_tag(
        :div,
        t('screens.admin.site_appearance.custom_content_warning_html'),
        :class => 'alert warning custom-content-warning') %>

      <div class="page-controls">
        <%= link_to('#') do %>
          <button id="site_appearance_preview">
            <%= t('screens.admin.site_appearance.preview') %>
            <span class="icon-preview"></span>
          </button>
        <% end %>
      </div>
    <% else %>
      <%= form_tag update_site_appearance_path(anchor: {tab: :general}), id: 'site_appearance_form', method: :put, remote: true do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% tab_sections.each_with_index do |section, i| %>
          <div class="tab-content" data-tab-id="<%= section %>">
            <%= render "site_appearance/tab_content/#{section}",
              :locale_string => "screens.admin.site_appearance.tabs.#{section}.fields" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :js_footer do %>
  <%= include_webpack_bundle 'site-appearance/main.js' %>
  <%= include_webpack_bundle 'open-data/admin-site-appearance.js' %>
<% end %>
