<% content_for :headline do %>
<h1><span class="showHideIcon">Advanced Show/Hide Columns</span></h1>
<% end %>

<div class='modalContentWrapper showHideWrapper'>
  <p class='subtitle'>
  The order of columns in the Visible list will be reflected in the grid.
  </p>

  <div id="showHideList" class="reorderList clearfix">
    <div class='activeBlock listBlock'>
      <h4>Visible Columns</h4>
      <div class='listWrapper clearfix'>
        <div class="border"></div>
        <div class="activeList list">
          <ul class="reorder">
            <% @selected.each_with_index do |col, i| %>
            <li>
            <div class="itemWrapper">
              <span class="orderIndex"><%= i + 1 %></span>
              <div class="type datatype-<%= col.client_type %>"></div>
              <span class='name'><%= col.name %></span>
              <%= hidden_field_tag("sort-#{col.id}", true,
              :class => "columnId", :value => "#{col.id}") %>
            </div>
            </li>
            <%- end -%>
          </ul>
        </div>
      </div>

      <a href="#hideAll" class="removeAllLink">Hide All Columns</a>
    </div>

    <div class="swapArrows">
      <a href="#addItem" class="addItemButton">Add</a>
      <a href="#removeItem" class="removeItemButton">Remove</a>
    </div>

    <div class='listBlock'>
      <h4>Hidden Columns</h4>
      <div class='listWrapper clearfix'>
        <div class="border"></div>
        <div class="inactiveList list">
          <ul class="reorder">
            <% @unselected.each do |col| %>
            <li>
            <div class="itemWrapper">
              <span class="orderIndex hide"></span>
              <div class="type datatype-<%= col.client_type %>"></div>
              <span class='name'><%= col.name %></span>
              <%= hidden_field_tag("sort-#{col.id}", true,
              :class => "columnId", :value => "#{col.id}") %>
            </div>
            </li>
            <%- end -%>
          </ul>
        </div>
      </div>
      <a href="#showAll" class="addAllLink">Show All Columns</a>
    </div>

  </div>

  <div class='error mainError'></div>

  <div class='submitLine clearfix'>
    <ul class='actionButtons clearfix'>
      <li><a href='#showHide' class='update arrowButton'>Update</a></li>
    </ul>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
  blist.common.modalReady = function()
  {
    $('.showHideWrapper .reorderList').reorderableList();

    $(".showHideWrapper .update").click(function(event)
    {
        event.preventDefault();
        var cols = [];

        $(".showHideWrapper .activeList .itemWrapper").each(function(i, item)
        {
            var $item = $(item);

            cols.push({
                id: $item.find("input.columnId").val(),
                position: parseInt($item.find(".orderIndex").text())
            });
        });

        cols.sort(function(s1, s2) { return s1.position - s2.position; });

        $("#dataGrid").datasetGrid().updateVisibleColumns($.map(cols,
            function(c) { return c.id; }));
        $("#modal").jqmHide();
    });
  };
</script>
