<h3 class="h6 styleguide-subheader">Default Buttons</h3>
<p>
  <%= partial "elements/skeletons/buttons/button_default_lg", locals: { text: "Large Button" } %>
</p>
<p>
  <%= partial "elements/skeletons/buttons/button_default", locals: { text: "Default Button" } %>
</p>
<p>
  <%= partial "elements/skeletons/buttons/button_default_sm", locals: { text: "Small Button" } %>
</p>
<p>
  <%= partial "elements/skeletons/buttons/button_default_xs", locals: { text: "Extra-Small Button" } %>
</p>
<pre class="usage">
<code class="language-markup">
<%= escape_html(partial "elements/skeletons/buttons/button_default_lg", locals: { text: "Large Button" }) %>
<%= escape_html(partial "elements/skeletons/buttons/button_default", locals: { text: "Default Button" }) %>
<%= escape_html(partial "elements/skeletons/buttons/button_default_sm", locals: { text: "Small Button" }) %>
<%= escape_html(partial "elements/skeletons/buttons/button_default_xs", locals: { text: "Extra-Small Button" }) %>
</code>
</pre>

<h3 class="h6 styleguide-subheader">Default Buttons as Links</h3>
<p>
  <%= partial "elements/skeletons/buttons/button_link_default_lg", locals: { text: "Large Button Link" } %>
</p>
<p>
  <%= partial "elements/skeletons/buttons/button_link_default", locals: { text: "Default Button Link" } %>
</p>
<p>
  <%= partial "elements/skeletons/buttons/button_link_default_sm", locals: { text: "Small Button Link" } %>
</p>
<p>
  <%= partial "elements/skeletons/buttons/button_link_default_xs", locals: { text: "Extra-Small Button Link" } %>
</p>
<pre class="usage">
<code class="language-markup">
<%= escape_html(partial "elements/skeletons/buttons/button_link_default_lg", locals: { text: "Large Button Link" }) %>
<%= escape_html(partial "elements/skeletons/buttons/button_link_default", locals: { text: "Default Button Link" }) %>
<%= escape_html(partial "elements/skeletons/buttons/button_link_default_sm", locals: { text: "Small Button Link" }) %>
<%= escape_html(partial "elements/skeletons/buttons/button_link_default_xs", locals: { text: "Extra-Small Button Link" }) %>
</code>
</pre>

<h3 class="h6 styleguide-subheader">Button Variations</h3>
<p>
  <%= partial "elements/skeletons/buttons/button_primary", locals: { text: "Primary Button" } %>
  <%= partial "elements/skeletons/buttons/button_primary_inverse", locals: { text: "Primary Inverse Button" } %>
</p>
<pre class="usage">
<code class="language-markup">
<%= escape_html(partial "elements/skeletons/buttons/button_primary", locals: { text: "Primary Button" }) %>
<%= escape_html(partial "elements/skeletons/buttons/button_primary_inverse", locals: { text: "Primary Inverse Button" }) %>
</code>
</pre>

<p>
  <%= partial "elements/skeletons/buttons/button_primary-alt-1", locals: { text: "Alternate Button" } %>
  <%= partial "elements/skeletons/buttons/button_primary-alt-1_inverse", locals: { text: "Alternate Inverse Button" } %>
</p>
<pre class="usage">
<code class="language-markup">
<%= escape_html(partial "elements/skeletons/buttons/button_primary-alt-1", locals: { text: "Alternate Button" }) %>
<%= escape_html(partial "elements/skeletons/buttons/button_primary-alt-1_inverse", locals: { text: "Alternate Inverse Button" }) %>
</code>
</pre>

<p>
  <%= partial "elements/skeletons/buttons/button_secondary", locals: { text: "Alternate Button" } %>
  <%= partial "elements/skeletons/buttons/button_secondary_inverse", locals: { text: "Alternate Inverse Button" } %>
</p>
<pre class="usage">
<code class="language-markup">
<%= escape_html(partial "elements/skeletons/buttons/button_secondary", locals: { text: "Secondary Button" }) %>
<%= escape_html(partial "elements/skeletons/buttons/button_secondary_inverse", locals: { text: "Secondary Inverse Button" }) %>
</code>
</pre> 

<p>
<%= partial "elements/skeletons/buttons/button_simple", locals: { text: "Simple Button" } %>
</p>
<pre class="usage">
<code class="language-markup">
<%= escape_html(partial "elements/skeletons/buttons/button_simple", locals: { text: "I am just a simple button" }) %>
</code>
</pre>

<p>
<%= partial "code_sample", locals: {
  component: "elements/skeletons/buttons/button_default_disabled",
  partial_locals: {
    text: "Disabled Button"
  }
} %>
</p>

<p>
<%= partial "code_sample", locals: {
  component: "elements/skeletons/buttons/button_block_lg",
  partial_locals: {
    text: "Large Block Button"
  }
} %>
</p>

<p>
  <%= partial "elements/skeletons/buttons/button_warning", locals: { text: "Warning Button" } %>
  <%= partial "elements/skeletons/buttons/button_warning_inverse", locals: { text: "Warning Inverse Button" } %>
</p>
<pre class="usage">
<code class="language-markup">
<%= escape_html(partial "elements/skeletons/buttons/button_warning", locals: { text: "Warning Button" }) %>
<%= escape_html(partial "elements/skeletons/buttons/button_warning_inverse", locals: { text: "Warning Inverse Button" }) %>
</code>
</pre>

<p>
  <%= partial "elements/skeletons/buttons/button_success", locals: { text: "Success Button" } %>
  <%= partial "elements/skeletons/buttons/button_success_inverse", locals: { text: "Success Inverse Button" } %>
</p>
<pre class="usage">
<code class="language-markup">
<%= escape_html(partial "elements/skeletons/buttons/button_success", locals: { text: "Success Button" }) %>
<%= escape_html(partial "elements/skeletons/buttons/button_success_inverse", locals: { text: "Success Inverse Button" }) %>
</code>
</pre>

<p>
  <%= partial "elements/skeletons/buttons/button_error", locals: { text: "Error Button" } %>
  <%= partial "elements/skeletons/buttons/button_error_inverse", locals: { text: "Error Inverse Button" } %>
</p>
<pre class="usage">
<code class="language-markup">
<%= escape_html(partial "elements/skeletons/buttons/button_error", locals: { text: "Error Button" }) %>
<%= escape_html(partial "elements/skeletons/buttons/button_error_inverse", locals: { text: "Error Inverse Button" }) %>
</code>
</pre>

<h3 class="h6 styleguide-subheader">Dark Variations</h3>
<div class="dark-context">
  <p>
    <%= partial "elements/skeletons/buttons/button_default_dark", locals: { text: "Default Button" } %>
  </p>
  <p>
    <%= partial "elements/skeletons/buttons/button_default_dark_disabled", locals: { text: "Disabled Button" } %>
  </p>
  <p>
    <%= partial "elements/skeletons/buttons/button_primary_dark", locals: { text: "Primary Button" } %>
  </p>
  <p>
    <%= partial "elements/skeletons/buttons/button_secondary_dark", locals: { text: "Secondary Button" } %>
  </p>
</div>
<pre class="usage">
<code class="language-markup">
<%= escape_html(partial "elements/skeletons/buttons/button_default_dark", locals: { text: "Default Button" }) %>
<%= escape_html(partial "elements/skeletons/buttons/button_default_dark_disabled", locals: { text: "Disabled Button" }) %>
<%= escape_html(partial "elements/skeletons/buttons/button_primary_dark", locals: { text: "Primary Button" }) %>
<%= escape_html(partial "elements/skeletons/buttons/button_secondary_dark", locals: { text: "Secondary Button" }) %>
</code>
</pre>
