<h3 class="styleguide-subheader">Form Fields </h3>

<form>

  <h4 class="h6 styleguide-subheader">Text Field</h4>
  <%= partial "code_sample", locals: {
    component: "elements/skeletons/forms/textfield",
    partial_locals: {
      placeholder_text: "Example Text",
      label_text: "An input field:",
      label_position: "inline-label"
    }
  } %>

  <%= partial "code_sample", locals: {
    component: "elements/skeletons/forms/textfield",
    partial_locals: {
      placeholder_text: "Example Text",
      label_text: "Another input field:",
      label_position: "block-label"
    }
  } %>

  <%= partial "code_sample", locals: {
    component: "elements/skeletons/forms/textfield",
    partial_locals: {
      label_text: "What would you like to see succeed?",
      label_position: "block-label",
      classes: "text-input-success",
      value: 'A successful endeavour!'
    }
  } %>

  <%= partial "code_sample", locals: {
    component: "elements/skeletons/forms/textfield",
    partial_locals: {
      label_text: "A curious warning says:",
      label_position: "block-label",
      classes: "text-input-warning text-input-block",
      value: "I'm not so sure about this!"
    }
  } %>

  <%= partial "code_sample", locals: {
    component: "elements/skeletons/forms/textfield",
    partial_locals: {
      label_text: "Et tu, Brute?",
      label_position: "block-label",
      classes: "text-input-error",
      value: "A treacherous endeavour!",
      attributes: ['aria-invalid="true"']
    }
  } %>

  <h4 class="h6 styleguide-subheader">Text Area</h4>
  <%= partial "code_sample", locals: {
    component: "elements/skeletons/forms/textarea",
    partial_locals: {
      placeholder_text: "Example Paragraph",
      label_text: "A longer input field:",
      label_position: "block-label"
    }
  } %>

  <h4 class="h6 styleguide-subheader">Checkboxes</h4>
  <%= partial "code_sample", locals: {
  component: "elements/skeletons/forms/checkbox",
    partial_locals: {
      label: "Checked Checkbox", id: "1", checked: "checked=\"checked\""
    }
  } %>

  <%= partial "code_sample", locals: {
  component: "elements/skeletons/forms/checkbox",
    partial_locals: {
      label: "Unchecked Checkbox", id: "2", checked: ""
    }
  } %>

  <h4 class="h6 styleguide-subheader">Radio Buttons</h4>
  <%= partial "code_sample", locals: {
  component: "elements/skeletons/forms/radiobutton",
    partial_locals: {
      labels: [{:id => "Radiobutton 1", :checked => true}, {:id => "Radiobutton 2"}]
    }
  } %>


</form>
