<h6> <%= label %> </h6>
<p class="color-label">Base: <%= hexValue %></p>
<p class="color-label">Light: <%= hexValueLight %></p>
<p class="color-label">Dark: <%= hexValueDark %></p>
<div class="swatch-container">
  <div class="<%= color %> box"></div>
  <div class="subcontainer">
      <div class="<%= color %> small-box light"></div>
      <div class="<%= color %> small-box dark"></div>
  </div>
</div>