<header id="site-chrome-header" class="<%= size %>" template="rally">
  <div class="banner">
    <div class="rally-top">
      <div class="header-content">
        <%= header_logo %>
        <%= render 'site_chrome/searchbox', path: '/browse', vanishing_search_button: true %>
      </div>
    </div>

    <div class="rally-bottom">
      <div class="header-content">
        <nav class="desktop">
          <div class="navbar-left">
            <%= navbar_links_div %>
          </div>

          <div class="navbar-right">
            <div class="site-chrome-social-links">
              <%= render 'site_chrome/social_links' %>
            </div>

            <% if valid_social_links(get_site_chrome.general[:social_shares]).present? %>
              <%= content_tag(:span, nil, :class => 'divider') %>
            <% end %>

            <%= render 'site_chrome/user_actions' %>
          </div>
        </nav>

        <nav class="mobile">
          <a class="site-chrome-btn menu-toggle" href="#" onclick="mobileMenuToggle()">
            <span class="icon-hamburger"></span>
            Menu
          </a>
        </nav>
      </div>
    </div>
  </div>
  <%= render 'site_chrome/mobile_menu' %>
</header>
