<% content_for :head do %>
  <title><%= CurrentDomain.strings.site_title %></title>
  <%= rendered_stylesheet_tag 'homepage-show' %>
<% end %>

<%- if !CurrentDomain.templates['data_splash'].nil? -%>
  <%= render_domain_template('data_splash') %>
<%- elsif !@stories_cached.nil? || ((defined? @stories) && !@stories.empty?) -%>
  <%- prerendered_cache cache_key('homepage-stories', { 'domain' => CurrentDomain.cname }),
      @stories_cached, :expires_in => 16.minutes do -%>
    <%= render :partial => 'stories' %>
  <%- end -%>
<%- elsif CurrentDomain.user_can?(current_user, :manage_stories) -%>
  <div class="contentBox">
    <h2>It looks like your domain is not configured yet.</h2>
    <p>Please visit the <a href="/admin">administration panel</a>
       and choose some content to be featured right here.</p>
  </div>
<%- end -%>

<%- unless CurrentDomain.featured_views.nil? -%>
  <% prerendered_cache cache_key('homepage-featured', { 'domain' => CurrentDomain.cname }),
      @featured_cached, :expires_in => 15.minutes do %>
    <ul class="featuredViews clearfix">
      <%- CurrentDomain.featured_views.each do |view| -%>
        <li class="featuredViewContainer<%= ' last' if view == CurrentDomain.featured_views.last %>"
            <%= raw "style=\"width:#{100.0 / CurrentDomain.featured_views.size}%\"" unless view == CurrentDomain.featured_views.last %>>
          <div class="featuredView">
            <%- if view['display'] == 'thumbnail' || view['display'] == 'custom' -%>
              <a href="<%= @view_urls[view.viewId] %>">
                <img src="<%= View.featured_image(view)%>" alt="<%= view.title %>" />
              </a>
            <%- else -%>
              <div class="statContainer">
                <a href="<%= @view_urls[view.viewId] %>">
                  <p class="statTitle"><%= view['display'].title %></p>
                  <p class="statDescription"><%= view['display'].description %></p>
                </a>
              </div>
            <%- end -%>

            <a href="<%= @view_urls[view.viewId] %>"
              class="viewTitle"><%= view.title.gsub("\u00a0", ' ') %></a>
            <p class="viewDescription"><%= view.description %></p>
          </div>
        </li>
      <%- end -%>
    </ul>
  <%- end -%>
<%- end -%>

<%- unless !CurrentDomain.theme.homepage.nil? &&
        !CurrentDomain.theme.homepage.show_catalog.nil? &&
        CurrentDomain.theme.homepage.show_catalog != true -%>
<% prerendered_cache cache_key('homepage-browse', { 'domain' => CurrentDomain.cname }),
    @browse_cached, :expires_in => 10.minutes do %>
  <%= render_browse(@processed_browse) %>
<% end %>
<%- end -%>

<% content_for :js_footer do %>
  <%= include_javascripts 'homepage-show' %>
<% end %>
