<h1 class="title center">API Management</h1>
<ul class="title flowlist">
  <li class="ico-permissions-sharing" >
  <a href="<%= @nav_root + "/" + 'permission'  %>" >
    <span class="icon"></span>
    <p>Permissions and Sharing</p>
  </a>
  </li>
  <li class="ico-applications"  >
  <a href="<%= @nav_root + "/" + 'apps'        %>" >
    <span class="icon"></span>
    <p>Application Request Limits</p>
  </a>
  </li>
  <li class="ico-metrics" >
  <a href="<%= @nav_root + "/" + 'metrics'     %>" >
    <span class="icon"></span>
    <p>Metrics</p>
  </a>
  </li>
  <li class="ico-names-descriptions"  >
  <a href="<%= @nav_root + "/" + 'naming'      %>" >
    <span class="icon"></span>
    <p>Names and Descriptions</p>
  </a>
  </li>
  <li class="ico-transfer-ownership" >
  <a href="<%= @nav_root + "/" + 'transfer'    %>" >
    <span class="icon"></span>
    <p>Transfer Ownership</p>
  </a>
  </li>
  <li class="ico-delete" >
  <a href="<%= @nav_root + "/" + 'delete'      %>" >
    <span class="icon"></span>
    <p>Delete this API</p>
  </a>
  </li>
</ul>
