<h1 class="center">Socrata API Management</h1>
<ul>
  <li><h2><a href="<%= @nav_root + "/" + 'permission'  %>" >Permissions and Sharing     </a></h2></li>
  <li><h2><a href="<%= @nav_root + "/" + 'apps'        %>" >Application Request Limits  </a></h2></li>
  <li><h2><a href="<%= @nav_root + "/" + 'metrics'     %>" >Metrics                     </a></h2></li>
  <li><h2><a href="<%= @nav_root + "/" + 'naming'      %>" >Names and Descriptions      </a></h2></li>
  <li><h2><a href="<%= @nav_root + "/" + 'transfer'    %>" >Transfer Ownership          </a></h2></li>
  <li><h2><a href="<%= @nav_root + "/" + 'delete'      %>" >Delete this API             </a></h2></li>
</ul>
