<h1 class="title center">API Management: <strong><%= @view.name -%></strong></h1>
<ul class="title flowlist">
  <li>
  <a href="<%= @nav_root + "/" + 'permission'  %>" >
    <span class="apiicon ico-permissions-sharing"></span>
    <p>Permissions and Sharing</p>
  </a>
  </li>
  <li>
  <a href="<%= @nav_root + "/" + 'apps'        %>" >
    <span class="apiicon ico-applications"></span>
    <p>Application Request Limits</p>
  </a>
  </li>
  <li>
  <a href="<%= @nav_root + "/" + 'metrics'     %>" >
    <span class="apiicon ico-metrics"></span>
    <p>Metrics</p>
  </a>
  </li>
  <li>
  <a href="<%= @nav_root + "/" + 'naming'      %>" >
    <span class="apiicon ico-names-descriptions"></span>
    <p>Names and Descriptions</p>
  </a>
  </li>
  <li>
  <a href="<%= @nav_root + "/" + 'transfer'    %>" >
    <span class="apiicon ico-transfer-ownership"></span>
    <p>Transfer Ownership</p>
  </a>
  </li>
  <li>
  <a href="<%= @nav_root + "/" + 'delete'      %>" >
    <span class="apiicon ico-delete"></span>
    <p>Delete this API</p>
  </a>
  </li>
</ul>
