<h2>Application Request Limits</h2>
<ul>
  <li><a href="<%= @nav_root + "/" + 'permission'  %>" >Permissions and Sharing     </a></li>
  <li><a href="<%= @nav_root + "/" + 'apps'        %>" >Application Request Limits  </a></li>
  <li><a href="<%= @nav_root + "/" + 'metrics'     %>" >Metrics                     </a></li>
  <li><a href="<%= @nav_root + "/" + 'naming'      %>" >Names and Documentations    </a></li>
  <li><a href="<%= @nav_root + "/" + 'transfer'    %>" >Transfer Ownership          </a></li>
  <li><a href="<%= @nav_root + "/" + 'delete'      %>" >Delete this API             </a></li>
</ul>
