<% content_for :morsel_nav do %>
  <li>Application Request Limits</li>
<% end %>
<a name="apps"></a>
<div id="applications" class="managesection">
  <div id="tableWrapper">
    <table class="throttleTable" cellspacing="0">
      <tr>
        <th colspan="2" class="left title tableTitle">
          Application Request Limits
        </th>
      </tr>
      <tr>
        <td colspan="5" class="left">
          <p>These applications have limits on the requests they can make during each minute, hour, and day.</p>
          <p>Limits for "Anonymous Applications" affect all applications that are not specifically listed in this table.</p>
        </td>
      </tr>
      <tr>
        <th class="left"><div class="bg">Application</div></th>
        <th><div class="bg">Token</div></th>
        <th colspan="3"><div class="bg">Request Limits</div></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th><div class="bg">/Minute</div></th>
        <th><div class="bg">/Hour</div></th>
        <th><div class="bg">/Day</div></th>
      </tr>
      <% throttles = @view.find_api_throttles() %>
      <% throttles.each do |throttle| %>
        <tr id="<%= throttle.appToken %>">
          <td class="left">
            <div>
              <span class="apiicon ico-applications"> </span>
              <p class="appName"><%= throttle.appName %></p>
              <p class="desc"><%= throttle.appDesc %></p>
            </div>
          </td>
          <td><%= throttle.appToken %></td>
          <td class="hunum"><%= throttle.minuteLimit %></td>
          <td class="hunum"><%= throttle.hourLimit %></td>
          <td class="hunum"><%= throttle.dayLimit %></td>
          <td><a href="<%= "apps/" + throttle.appToken %>">Edit</a></td>
        </tr>
      <% end %>
      <% @anonThrottle = @view.find_api_anonymous_throttle() %>
      <% if !@anonThrottle.nil? %>
        <tr id="anonymous">
          <td class="left">
            <span class="apiicon ico-applications"> </span>
            <span>
              <p class="appName">Anonymous Applications</p>
              <p class="desc">where no application token is provided</p>
            </span>
          </td>
          <td>none provided</td>
          <td class="hunum"><%= @anonThrottle.minuteLimit %></td>
          <td class="hunum"><%= @anonThrottle.hourLimit %></td>
          <td class="hunum"><%= @anonThrottle.dayLimit %></td>
          <td><a href="<%= "apps/anonymous" %>">Edit</a></td>
        </tr>
      <% end %>
      <tr>
        <td class="left" colspan="6">
          <a href="apps/new" id="addLimits" class="button">Add Application Limits</a>
          <a href="apps/anonymous" id="editAnonymous" class="button">Edit Anonymous Limits</a>
        </td>
      </tr>
    </table>
  </div>
</div>
