<% content_for :nav_crumb do %>
  <li>
    <a href="<%= @nav_root + "/naming" %>" >Names and Descriptions</a>
    <ul>
      <% @view.columns.each do |column| %>
        <li><a href="<%= @nav_root + "/naming/" + column.fieldName %>"><%= column.name %></a></li>
      <% end %>
    </ul>
  </li>
<% end %>
<a name="naming"></a>
<div id="names" class="managesection apiFieldPane">
  <div class="flash"></div>
    <% @view.columns.find_all{|col| col.fieldName == params[:column] }.each do |column| %>
        <% content_for :nav_crumb do %>
          <li>
              <%= column.name %>
          </li>
        <% end %>
        <%= render :partial => 'edit_column', :locals => {:column => column, :disable_field_name => true}%>
    <% end %>
  <a href="#updateField" id="updateField" class="button">Apply</a>
</div>
