<% content_for :morsel_nav do %>
  <li>
    <a href="<%= @nav_root + "/naming" %>" >Names and Descriptions</a>
    <ul>
      <% @view.columns.each do |column| %>
        <li><a href="<%= @nav_root + "/naming/" + column.fieldName %>"><%= column.name %></a></li>
      <% end %>
    </ul>
  </li>
<% end %>
<div id="namesOuter">
  <div id="names" class="managesection apiFieldPane">
    <div class="flash"></div>
      <% @view.columns.find_all{|col| col.fieldName == params[:column] }.each do |column| %>
          <% content_for :morsel_nav do %>
            <li>
                <%= column.name %>
            </li>
          <% end %>
          <%= render :partial => 'edit_column', :locals => {:column => column, :published => @view.is_published? }%>
      <% end %>
    <a href="#updateField" id="updateField" class="button">Apply</a>
    <a href="../" class="button">Cancel</a>
  </div>
</div>
