<% content_for :head do %>
  <%= rendered_stylesheet_tag 'api-new' %>
  <title>Socrata API Foundry | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div class="logo"><h1><img src="/images/apifoundry/api-foundry-logo.png" alt="Socrata API Foundry"></img></h1></div>
<div class="contentBox fixedWidth">
  <form id="newApiForm">
    <div id="aboveslide">
      <div id="toptext">
        <h4>Customize Your API -</h4>
        <p><%= @view.name %></p>
      </div>
      <div id="skip"><a id="skip" href="#apiPublish">Skip to end ></a></div>
      <div id="progressbar"></div>
      <div id="steps">
        Step <span id="step">0</span> of <span id="stepTotal">0</span>
      </div>
    </div>
    <div id="apiFoundryWizard" class="wizard">
      <ul class="clearfix">
        <li id="checkpub" class="wizpane" data-wizardpanename="checkpub">
          <h1>Your datset is already published</h1>
          <p>The API Foundry can only modify unpublished datasets</p>
          <p>Would you like to work on a copy?</p>
          <a id="copybutton" class="button" href="#copy">Make a copy</a>
          <a id="docslink" href="/developers/docs/<%= params[:id] %>"><h2>Read more about the Socrata API Foundry</h2></a>
        </li>
        <li id="welcome" class="wizpane" data-wizardpanename="welcome">
          <h1>Let's get started</h1>
          <p>This wizard will help you create an API over your data. </p>
          <p>You can go forward and back through the steps - the changes are saved at the end.</p>
          <a id="docslink" href="/developers/docs/<%= params[:id] %>"><p>Read more about the Socrata API Foundry</p></a>
        </li>
        <li id="datasetResourceName" class="wizpane" data-wizardpanename="datasetResourceName"> 
          <div class="paneControlOuter">
            <div class="paneFormControls center">
              <h1>Select a location for your API</h1>
              <div class="line clearfix formControl">
                <span class="locationSpan">http://<%= CurrentDomain.cname %>/resource/</span>
                <div class="controlDiv">
                  <%= text_field_tag("resourceName", @view.resourceName, :title => "Enter API Location", :class => "required textPrompt liveDoc locationInput") %>
                  <div>
                    <label class="error" style="display: none" for="resourceName">This is required</label>
                    <label class="availableError" style="display: none" for="resourceName">This location is not available</label>
                  </div>
                </div>
                <span class="locationSpan">.json</span>
              </div>
            </div>
            <div id="tabs-datasetResourceName" class="tabs">
              <div id="ht-datasetResourceName" class="helpfulText">
                <h3>Once you set the location, you should not change it</h3>
                <p>The selection you make here determines where developers may find your API.</p>
                <p>After you publish your API, a developers can use it to build applications. 
                  Typically, the location of an API is hard-coded into an application.
                  If the location changes, the applications will break, and developers will be angry!
                </p>
              </div>
            </div>
          </div><!-- paneControlOuter -->
        </li>
        <li id="datasetUniqueId" class="wizpane" data-wizardpanename="datasetUniqueId">
          <div class="paneControlOuter">
            <div class="paneFormControls center">

              <h1>Pick a Unique Identifier</h1>
              <div class="line clearfix formControl">
                <label for="view_category">Unique Identifier</label>
                <div class="controlDiv">
                  <%= select_tag("rowIdentifierColumnId", options_from_collection_for_select(
                      @view.columns.find_all{|column| column.dataTypeName == "text" || column.dataTypeName == "number"}, "id", "name")) %>
                   <div class="additionalHelp">The primary field that identifies a row</div>
                </div>
              </div>

            </div>
            <div id="tabs-datasetUniqueId" class="tabs">
              <div id="ht-datasetUniqueId" class="helpfulText">
                <h3>This is how you refer to individual rows</h3>
                <p>The Unique Identifier is a column in your dataset, it can be a number column or a string column.
                  This is the column that is checked when you want to add, update, or delete individual rows
                </p>
              </div>
            </div>
          </div><!-- paneControlOuter -->
        </li>
        <li id="datasetDescription" class="wizpane" data-wizardpanename="datasetDescription">
          <div class="paneControlOuter">
            <div class="paneFormControls center">

              <h1>Describe your API</h1>
              <div class="line clearfix formControl">
                <%= text_area_tag("description", @view.description, :title => "Enter a description", :class => "textPrompt liveDoc") %>
                <div class="additionalHelp">Tell developers what your dataset is about</div>
              </div>

            </div>
            <div id="tabs-datasetDescription" class="tabs">
              <div id="dp-datasetDescription" class="docPreview">
              <div class="docPreviewInside">
                <h3>Documentation Preview</h3>
              <div class="docPreviewPage">
                <h3><%= @view.name %> API</h3>
                <p><span id="descriptionDoc"><%= @view.description %></span></p>
                <p>This API is available at:</p>
                <p class="link liveDocLink">http://opendata.socrata.com/resource/<span id="resourceNameDoc"><%= @view.resourceName %></span>.json</p>
                <p>Read more about <a href="/developers/docs">Socrata Open Data APIs</a>
              </div>
              </div>
              </div>
            </div>
          </div><!-- paneControlOuter -->
        </li>
        <% @view.columns.each_with_index do |column, index| %>
        <li class="apiFieldPane wizpane" id="col-<%= column.fieldName %>" data-wizardpanename="col-<%= column.fieldName %>">
          <div class="paneControlOuter">
            <div class="paneFormControls clearfix">
              <h1>Customize Field: <%= column.fieldName %></h1>
                <div class="line clearfix formControl">
                  <label class="required" for="displayName">Display Name</label>
                  <%= text_field_tag("name", column.name, :title => "enter a display name", :class => "textPrompt required") %>
                  <div class="additionalHelp"><label>A human-readable name for display and export</label></div>
                </div>
                <div class="line clearfix formControl">
                  <label class="required" for="fieldName">Field Name</label>
                  <%= text_field_tag("fieldName", column.fieldName, :title => "enter a field name", :class => "textPrompt required") %>
                  <div class="additionalHelp"><label>The identifier used by developers and applications</label></div>
                </div>
              <div class="paneFormControls">
                <div class="line clearfix formControl">
                  <label for="description">Description</label>
                  <%= text_area_tag("description", '', :title => "enter a description", :class => "textPrompt") %>
                  <div class="additionalHelp"><label>The description that will be provided to end-users</label></div>
                </div>
              </div>
            </div>
            <div id="tabs-col-<%= column.fieldName %>" class="tabs">
              <div id="ht-col-<%= column.fieldName %>" class="helpfulText column">
                <h3>Helpful text</h3>
                <p>Here's some information about this option</p>
                <p>Make the right choice!</p>
              </div>
              <div id="dp-col-<%= column.fieldName %>" class="docPreview column">
              <div class="docPreviewInside">
                <h3>Documentation Preview</h3>
              <div class="docPreviewPage">
                <p>This is a mock-up of the documentation preview. The API Foundry will generate this documentation</p>
                <h3>example API request</h3>
                <p>This is a mock-up of the documentation preview. The API Foundry will generate this documentation</p>
                <p>This is a mock-up of the documentation preview. The API Foundry will generate this documentation</p>
              </div>
              </div>
              </div>
            </div>
          </div><!-- paneControlOuter -->
        </li>
        <% end %>
        <li id="apiPublish" class="wizpane" data-wizardpanename="apiPublish">
          <div class="publishError"></div>
          <h1>Are you ready to save these changes?</h3>
          <div id="publishResponse"></div>
        </li>
        <li id="published" class="wizpane" data-wizardpanename="published">
         <h1>Congratulations! Your API has been configured.</h1>
         <p>Your API will be live once you publish your dataset.</p>
         <p>After you publish, developers can use your API to create apps with your data.</p>
          <a id="docslink" href="/developers/docs/<%= params[:id] %>"><h3>View the generated documentation</h3></a>
        </li>
      </ul>
    </div>

    <% content_for :js_footer do %>
      <script type="text/javascript">
        blist.configuration.apiFoundry = {
          id: '<%= params[:id] %>',
          published: <%= @view.is_published? %>
        }
      </script>
      <%= include_javascripts 'api-new' %>
    <% end %>
  </form>
</div>
