<% content_for :head do %>
  <%= rendered_stylesheet_tag 'api-new' %>
  <title>Socrata API Foundry | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div class="contentBox fixedWidth">
  <form id="newApiForm">
    <div id="aboveslide">
      <h4 id="toptitleHeader">Customize API: <span id="toptitle"><%= @view.name %></span></h4>
      <div id="progressbar"></div>
      <div id="steps">
        Step <span id="step">0</span> of <span id="stepTotal">0</span>
        <span id="skip"><a id="skip" href="#apiPublish"> - Skip to end ></a></span>
      </div>
      <div id="paneSpinner" style="display: none">
        <div id="paneSpinnerInside">
          <img src="/stylesheets/images/common/BrandedSpinner.gif"></img>
        </div>
      </div>
    </div>
    <div id="apiFoundryWizard" class="wizard">
      <div id="paneError" class="error" style="display: none">There was an error updating your API.</div>
      <ul class="clearfix">
        <li id="checkpub" class="wizpane" data-wizardpanename="checkpub">
          <h1>Your dataset is not published.</h1>
          <p>You must publish your dataset before we can make an API.</p>
          <a id="ds" class="button" href="/id/<%= @view.id %>">View Dataset</a>
        </li>
        <li id="welcome" class="wizpane" data-wizardpanename="welcome">
          <h1>
            <span>Create,</span>
            <span>Customize,</span>
            <span>Deploy.</span>
          </h1>
          <p>Let's get started by creating an API over your data. </p>
          <p>You can go forward and back through the steps - your changes are saved along the way.</p>
          <a id="docslink" href="http://www.socrata.com/api-foundry/"><p>Read more about the Socrata API Foundry</p></a>
        </li>
        <li id="datasetResourceName" class="wizpane" data-wizardpanename="datasetResourceName">
          <div class="paneControlOuter">
            <div class="paneFormControls">
              <h1>Select a location for your API</h1>
              <div class="line clearfix formControl">
                <div class="controlDiv">
                  <label for="resourceName" class="locationSpan">http://<%= CurrentDomain.cname %>/resource/</label>
                  <%= text_field_tag("resourceName",
                                     @rnSuggestion,
                                     :title => "Enter API Location",
                                     :class => "required textPrompt liveDoc locationInput") %>
                  <label for="resourceName" class="locationSpan">.json</label>
                  <div>
                    <label class="error" style="display: none" for="resourceName">This is required</label>
                    <label class="validationError" style="display: none" for="resourceName">This location is not available</label>
                  </div>
                </div>
              </div>
            </div>
            <div id="ht-datasetResourceName" class="helpfulText">
              <h3>Set a permanent resource location for your new API</h3>
              <p>This location will appear on your API catalog, and propagate throughout the
                Internet. For best results, choose a name that's friendly to both humans and search engines.</p>
              <p>After you deploy your new API, developers will reference this URI in their applications.
                If the location changes, their applications will break, and developers will be upset!
              </p>
            </div>
          </div><!-- paneControlOuter -->
        </li>
        <li id="datasetName" class="wizpane" data-wizardpanename="datasetName">
          <%= render :partial => 'edit_view_name'%>
        </li>
        <li id="displayUniqueId" class="wizpane" data-wizardpanename="displayUniqueId">
          <div class="paneControlOuter">
            <div class="paneFormControls">

              <h1>API Row Identifier:
                <span id="rowIdentifier"><%= @view.row_identifier or "Not specified" %></span>
              </h1>
            </div>
            <div id="ht-datasetUniqueId" class="helpfulText">
              <h3>The Row Identifier allows you to select individual rows.</h3>
              <p>This setting is inherited from the dataset.
                Your dataset may have a specific column containing a unique identifier for each row.
                This can be a number or a string, and this unique value is referenced
                when you want to add, update, or delete individual rows programmatically.
              </p>
              <p>A row identifier is not required.</p>
            </div>
          </div><!-- paneControlOuter -->
        </li>
        <li id="datasetUniqueId" class="wizpane" data-wizardpanename="datasetUniqueId">
          <div class="paneControlOuter">
            <div class="paneFormControls">

              <h1>Pick a Unique Identifier</h1>
              <div class="line clearfix formControl">
                <label for="view_category">Unique Identifier</label>
                <div class="controlDiv rowIdentifierColumnId">
                  <%= select_tag("rowIdentifierColumnId", options_from_collection_for_select(
                    @view.columns.find_all{|column| column.dataTypeName == "text" ||
                      column.dataTypeName == "number" ||
                      column.dataTypeName == "calendar_date" ||
                      column.dataTypeName == "date" }, "fieldName", "name"), :prompt => "-- none selected --")  %>
                   <div class="additionalHelp">The primary field that identifies a row</div>
                </div>
              </div>

            </div>
            <div id="ht-datasetUniqueId" class="helpfulText">
              <h3>Does your dataset have a unique identifier column?</h3>
              <p>Your dataset may have a column containing the Unique Identifier for each row,
                which is typically number or a string. This is the column that is referenced
                when you want to add, update, or delete individual rows programmatically.
              </p>
              <p>A Unique Identifier is not required.</p>
            </div>
          </div><!-- paneControlOuter -->
        </li>
        <li id="datasetDescription" class="wizpane" data-wizardpanename="datasetDescription">
          <div class="paneControlOuter">
            <div id="dp-datasetDescription" class="docPreview column">
              <div class="docPreviewInside">
                <h1 class="previewTitle">API Documentation Preview</h1>
              <div class="docPreviewPage">
                <h3 id="nameDoc"><%= @view.name %></h3>
                <p><span id="descriptionDoc"><%= @view.description %></span></p>
                <p>This API is available at:</p>
                <p class="link liveDocLink">
                  http://<%= CurrentDomain.cname %>/resource/<span id="resourceNameDoc"><%= @view.resourceName %></span>.json
                </p>
                <p>Read more about <a href="http://opendata.socrata.com/api/docs/">Socrata Open Data APIs</a>
              </div>
              </div>
            </div>
            <div class="paneFormControls">
              <h1>Describe your API</h1>
              <div class="line clearfix formControl">
                <%= text_area_tag("description", @view.description, :title => "Enter a description", :class => "textPrompt liveDoc apiDescription") %>
                <div class="additionalHelp">Tell developers what your dataset is about</div>
                <div class="additionalHelp">This is optional</div>
              </div>
            </div>
          </div><!-- paneControlOuter -->
        </li>
        <% @view.columns.each_with_index do |column, index| %>
        <li class="apiFieldPane wizpane" id="col-<%= column.fieldName %>" data-wizardpanename="col-<%= column.fieldName %>">
          <%= render :partial => 'edit_column', :locals => {:column => column}%>
        </li>
        <% end %>
        <li id="apiPublish" class="wizpane" data-wizardpanename="apiPublish">
          <h1>Are you ready to deploy this API?</h3>
          <p>Once you deploy, your API is instantly operational, and discoverable on your
            <%= CurrentDomain.cname %>/developer site.
          </p>
          <p>After you deploy, you should not change this API's location or any of its column Field Names,
            as that may break any apps that depend on it!</p>
        </li>
        <li id="published" class="wizpane" data-wizardpanename="published">
         <h1>Congratulations! Your API has been deployed.</h1>
         <p>Developers may now use this API to create applications.</p>
         <a id="docslink" href="/developers/docs/<%= @view.resourceName %>"><h3>View the generated documentation</h3></a>
        </li>
      </ul>
    </div>
    <div id="tagline">
      This API is being created with <a href="http://www.socrata.com/api-foundry/">Socrata API Foundry</a>
    </div>

    <% content_for :js_footer do %>
      <script type="text/javascript">
        blist.configuration.apiFoundry = {
          id: '<%= @view.id %>',
          makeNewView: <%= @makeNewView %>,
          published: <%= @view.is_published? %>,
          defaultUniqueId: '<%= @view.row_identifier %>'
        }
      </script>
      <%= include_javascripts 'api-new' %>
    <% end %>
  </form>
</div>
<%= render_translations LocalePart.screens.wizard %>
