<% content_for :head do %>
  <%= rendered_stylesheet_tag 'api-manage' %>
  <title>Socrata API Management | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div id="apiAdminBox" class="contentBox fixedWidth <%=@section%>_content">

  <% content_for :adminsection do %>
    <%= render :partial => @section %>
  <% end %>

  <div id="navDiv">
    <ul id="morselmenu" class="morsel">
      <li>
        <a href="<%= @nav_root %>/"><strong>API Management:</strong> <%= @view.name %></a>
        <ul>
          <li><a href="<%= @nav_root %>/permission">Permission and Sharing</a> </li>
          <li><a href="<%= @nav_root %>/apps">Applications</a>                 </li>
          <li><a href="<%= @nav_root %>/metrics">Metrics</a>                   </li>
          <li><a href="<%= @nav_root %>/naming">Names and Descriptions</a>     </li>
          <li><a href="<%= @nav_root %>/transfer">Transfer Ownership</a>       </li>
          <li><a href="<%= @nav_root %>/delete">Delete</a>                     </li>
        </ul>
      </li>
      <%= yield :morsel_nav %>
    </ul>
  </div>

  <div class="adminContent">
    <%= yield :adminsection %>
  </div>
  <div id="tagline">
    This API is managed with <a href="http://www.socrata.com/api-foundry/">Socrata API Foundry</a>
  </div>

  <% content_for :templates do %>
    <%= render(:partial => 'templates/grid_sidebar') %>
  <% end %>

  <%- content_for :modals do -%>
    <%= render :partial => 'modals/email_dataset' %>
    <%- unless current_user -%>
      <%= render :partial => 'modals/inline_login' %>
    <%- end -%>
  <%- end -%>

  <% content_for :js_footer do %>
    <%= include_javascripts 'api-manage' %>
    <script type="text/javascript">
      blist.dataset = new Dataset(<%= safe_json(@view) %>);
    </script>
  <% end %>
</div>
