<%- view = carousel_item -%>

<li class="carouselItem">
  <div class="carouselInner">
    <div class="itemTitle clearfix">
      <h3><%= link_to(h(view.name), blist_url(view.id)) %></h3>
      <%# TODO: Make this image the logo associated with the blist. %>
      <%= image_tag("/stylesheets/images/gov/common/data_gov_logo_dialog.png", :size => "55x55", :alt => "placeholder") %>
    </div>
    <div class="itemMetaData">
      <%# TODO: Add ratings. %>
      <ul class="metaList">
        <li class="ratingContainer"><%= get_blist_rating_html(view) %></li>
        <li>Viewed <%= pluralize(view.viewCount, "time") %></li>
        <li><%= pluralize(view.numberOfComments, "Comment") %></li>
      </ul>
    </div>
  </div>
</li>