
<div class="tabContentOuter"><div class="tabContentTL"><div class="tabContentBL">
  <div class="tabContent">
    <h2><%= tab_title %></h2>
    <div class="contentSort">
      <p>
        Sort by 
        <select>
          <option value="POPULAR">Popularity</option>
          <option value="ALPHA">A - Z</option>
          <option value="ALPHA_DESC">Z - A</option>
          <option value="VIEWS"># of times Viewed</option>
          <option value="COMMENTS"># of Comments</option>
          <option value="LAST_CHANGED">Date</option>
          <option value="CATEGORY">Category</option>
        </select>
      </p>
    </div>
  
    <ul class="discoverContentList">
      <%= render(:partial => "view_list_item", :collection => views) %>
    </ul>
    
    <div class="viewPager">
      <%= create_pagination(views_total, @page_size, current_page, filter_discover_url({:type => type, :filter => current_filter})) %>
    </div>
  </div>
</div></div></div>

<div class="tabContentNavTR"><div class="tabContentNavBR">
  <div class="tabContentNav">
    <h2>Show <%= t(:blists_name) %></h2>
    <ul class="filterList">
      <%- if (type == "ALL") -%>
        <li><a href="#most_popular" class="tabLink popular">Most popular</a></li>
      <%- end -%>
      <%- if (!@current_user.nil?) -%>
        <li><%= link_to("In my network", 
                filter_discover_url({:type => type, :filter => {:inNetwork => true}}),
                :class => "filterLink") %></li>
        <li><%= link_to("Public #{t(:blists_name)}", 
                filter_discover_url({:type => type, :filter => {:publicOnly => true}}),
                :class => "filterLink") %></li>
        <li><%= link_to("Private #{t(:blists_name)}", 
                filter_discover_url({:type => type, :filter => {:privateOnly => true}}),
                :class => "filterLink") %></li>
      <%- end -%>
    </ul>

    <h2>Browse by tag</h2>
    <ul class="tagList">
      <li><a href="#tag">Wines</a></li>
      <li><a href="#tag">Contributors</a></li>
      <li><a href="#tag">Energy</a></li>
      <li><a href="#tag">Finance</a></li>
    </ul>
    
    <%- if (is_gov_site?) -%>
      <h2>Browse by Agency</h2>
      <ul class="categoryList">
        <li><a href="#agriculture">Agriculture</a></li>
        <li><a href="#commerce">Commerce</a></li>
        <li><a href="#defense">Defense</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#energy">Energy</a></li>
      </ul>
    <%- else -%>
      <h2>Browse by Category</h2>
      <ul class="categoryList">
        <li><%= link_to("Fun", 
                filter_discover_url({:type => type, :filter => {:category => "Fun"}}),
                :class => "filterLink") %></li>
        <li><%= link_to("Personal", 
                filter_discover_url({:type => type, :filter => {:category => "Personal"}}),
                :class => "filterLink") %></li>
        <li><%= link_to("Education", 
                filter_discover_url({:type => type, :filter => {:category => "Education"}}),
                :class => "filterLink") %></li>
        <li><%= link_to("Business", 
                filter_discover_url({:type => type, :filter => {:category => "Business"}}),
                :class => "filterLink") %></li>
      </ul>
    <%- end -%>
  </div>
</div></div>