
<div class="tabContentOuter"><div class="tabContentTL"><div class="tabContentBL">
  <div class="tabContent">
    <h2><%= tab_title %></h2>
    <div class="contentSort">
      <% form_tag(filter_discover_url(:type => type, :filter => current_filter), :class => "sortForm") do %>
        <p>
          Sort by
          <%= select_tag("sort_by", sort_select_options(sort_by), :id => "sort_by_" + type) %>
        </p>
      <% end %>
    </div>
  
    <ul class="discoverContentList">
      <%= render(:partial => "view_list_item", :collection => views) %>
    </ul>
    
    <div class="viewPager">
      <%= create_pagination(views_total, @page_size, current_page, filter_discover_url({:type => type, :filter => current_filter, :sort_by => sort_by})) %>
    </div>
  </div>
</div></div></div>

<div class="tabContentNavTR"><div class="tabContentNavBR">
  <div class="tabContentNav">
    <h2>Show <%= t(:blists_name) %></h2>
    <ul class="filterList hilightList">
      <%- if (type == "ALL") -%>
        <li><a href="#most_popular" class="tabLink popular"><span>Most popular</span></a></li>
      <%- else -%>
        <li><a href="#all" class="tabLink all"><span>All <%= t(:blists_name) %></span></a></li>
      <%- end -%>
      <%- if (!@current_user.nil?) -%>
        <li><%= link_to("<span>In my network</span>", 
                filter_discover_url({:type => type, :filter => {:inNetwork => true}}),
                :class => "filterLink#{get_filter_hilight_class({'inNetwork' => 'true'}, current_filter, ' hilight')}") %>
        </li>
        <li><%= link_to("<span>Public #{t(:blists_name)}</span>", 
                filter_discover_url({:type => type, :filter => {:publicOnly => true}}),
                :class => "filterLink#{get_filter_hilight_class({'publicOnly' => 'true'}, current_filter, ' hilight')}") %></li>
        <li><%= link_to("<span>Private #{t(:blists_name)}</span>", 
                filter_discover_url({:type => type, :filter => {:privateOnly => true}}),
                :class => "filterLink#{get_filter_hilight_class({'privateOnly' => 'true'}, current_filter, ' hilight')}") %></li>
      <%- end -%>
    </ul>

    <h2>Browse by tag</h2>
    <ul class="tagList hilightList">
      <li><a href="#tag"><span>Wines</span></a></li>
      <li><a href="#tag"><span>Contributors</span></a></li>
      <li><a href="#tag"><span>Energy</span></a></li>
      <li><a href="#tag"><span>Finance</span></a></li>
    </ul>
    
    <%- if (is_gov_site?) -%>
      <h2>Browse by Agency</h2>
      <ul class="categoryList hilightList">
        <li><a href="#agriculture">Agriculture</a></li>
        <li><a href="#commerce">Commerce</a></li>
        <li><a href="#defense">Defense</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#energy">Energy</a></li>
      </ul>
    <%- else -%>
      <h2>Browse by Category</h2>
      <ul class="categoryList hilightList">
        <li><%= link_to("<span>Fun</span>", 
                filter_discover_url({:type => type, :filter => {:category => "Fun"}}),
                :class => "filterLink#{get_filter_hilight_class({'category' => 'Fun'}, current_filter, ' hilight')}") %></li>
        <li><%= link_to("<span>Personal</span>", 
                filter_discover_url({:type => type, :filter => {:category => "Personal"}}),
                :class => "filterLink#{get_filter_hilight_class({'category' => 'Personal'}, current_filter, ' hilight')}") %></li>
        <li><%= link_to("<span>Education</span>", 
                filter_discover_url({:type => type, :filter => {:category => "Education"}}),
                :class => "filterLink#{get_filter_hilight_class({'category' => 'Education'}, current_filter, ' hilight')}") %></li>
        <li><%= link_to("<span>Business</span>", 
                filter_discover_url({:type => type, :filter => {:category => "Business"}}),
                :class => "filterLink#{get_filter_hilight_class({'category' => 'Business'}, current_filter, ' hilight')}") %></li>
      </ul>
    <%- end -%>
  </div>
</div></div>