<% content_for :head do %>
  <%= stylesheet_link_tag "discover-screen", "widgets", 
    "carousel/jquery.jcarousel", "carousel/discover-carousel-skin",
    :cache => "cache/discover_show_all" %>
  <title><%= t(:page_title) %></title>
<% end %>

<div id="discover">
  <div class="discoverHeaderOuter"><div class="discoverHeaderTL"><div class="discoverHeaderTR">
  <div class="discoverHeaderBL"><div class="discoverHeaderBR">
    <div class="discoverHeaderContainer">
      <div class="discoverIntro">
        <p><%= t(:discover_header_intro) %></p>
      </div>
      <div class="discoverSearch">
        <p><%= t(:discover_search_intro) %></p>
        <% form_tag(discover_url, :class => "search") do %>
          <p>
            <%= text_field_tag("search", @discover_search, :class => "textPrompt", :title => "Search") %>
            <%= image_submit_tag("find_button.png", :name => "discoverSubmit", :class => "submit") %>
          </p>
        <% end %>
      </div>
      <div class="discoverHeaderContent clearfix">
        <div class="featuredViewsCarousel carouselWrapper">
          <div class="carouselOuter"><div class="carouselInner">
            <h2><%= t(:discover_carousel_header) %></h2>
            <ul id="featuredCarousel" class="jcarousel-skin-discover carousel">
              <%= render(:partial => "carousel_item", :collection => @carousel_views) %>
            </ul>
          </div></div>
        </div>
      
        <div class="myNetworkViews">
          <h2><%= @current_user.nil? ? "Recently Updated" : "In My Network" %></h2>
          <ul class="myNetworkList">
            <%- @network_views.each do |view| -%>
              <li class="clearfix">
                <%= link_to(h(view.name), view.href, :title => h(view.name), :class => "clipText") %> 
                <span class="authorLine">by <%= h(view.owner.displayName) %></span>
              </li>
            <%- end -%>
          </ul>
        </div>
      </div>
    </div>
  </div></div>
  </div></div></div>
  
  <div class="discoverTabsContainer">
    
    <div class="discoverTabNav">
      <ul class="discoverTabs tabList clearfix">
        <%# TODO: Add tab for search results. %>
        <li id="tabPopular" class="active"><div class="wrapper"><a href="#top">Top 100</a></div></li>
        <li id="tabAll"><div class="wrapper"><a href="#all">All <%= t(:blists_name) %></a></div></li>
      </ul>
    </div>
    <div id="discoverTabPopular" class="discoverContentContainer active clearfix">
      <%= render(:partial => "view_list_tab", :locals => { 
        :tab_title => t(:discover_popular_content_header), :views => @popular_views }) %>
    </div>
    <div id="discoverTabAll" class="discoverContentContainer clearfix">
      <%= render(:partial => "view_list_tab", :locals => { 
        :tab_title => "All #{t(:blists_name)}", :views => @all_views }) %>
    </div>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "plugins/jquery.jcarousel",
  "screens/discover-screen", :cache => "cache/discover_show_all" %>
<% end %>
