<% content_for :head do %>
  <%= stylesheet_link_tag "discover-screen", "splash",
    "carousel/jquery.jcarousel", "carousel/discover-carousel-skin",
    :cache => "cache/discover_show_all" %>
  <title><%= t(:page_title) %></title>
<% end %>

<div id="discover">
  <div class="pageBlockHeaderOuter"><div class="pageBlockHeaderTL"><div class="pageBlockHeaderTR">
  <div class="pageBlockHeaderBL"><div class="pageBlockHeaderBR">
    <div class="pageBlockHeaderContainer">
      <div class="pageBlockIntro">
        <p><%= t(:discover_header_intro) %></p>
      </div>
      <div class="pageBlockSearch">
        <p class="searchIntro"><%= t(:discover_search_intro) %></p>
        <% form_tag(filter_discover_url, :class => "search large") do %>
          <p>
            <%= text_field_tag("search", @search_term, :class => "textPrompt", :title => "Search") %>
            <%= hidden_field_tag("type", "SEARCH") %>
            <%= image_submit_tag("find_button_large.png", :name => "discoverSubmit", :class => "submit") %>
          </p>
        <% end %>
      </div>
      <div class="pageBlockHeaderContent clearfix">
        <div class="pageBlockHeaderCarousel carouselWrapper">
          <div class="carouselOuter"><div class="carouselInner">
            <h2><%= t(:discover_carousel_header) %></h2>
            <ul id="featuredCarousel" class="jcarousel-skin-discover carousel">
              <%= render(:partial => "carousel_item", :collection => @carousel_views) %>
            </ul>
          </div></div>
        </div>
        
        <%- if !@current_user.nil? -%>
          <div class="pageBlockHeaderSide">
            <h2>In My Network</h2>
            <ul class="myNetworkList">
              <%- @network_views.each do |view| -%>
                <li class="clearfix">
                  <%= link_to(h(view.name), view.href, :title => h(view.name), :class => "clipText") %> 
                  <span class="authorLine">by <%= h(view.owner.displayName) %></span>
                </li>
              <%- end -%>
            </ul>
          </div>
        <%- else -%>
          <div class="pageBlockHeaderSide discoverBugContainer">
            <h2>Revolutionize Your .GOV</h2>
            <h3>High Quality Data, Low Cost Delivery</h3>
            <p class="bugActionButton">
              <a href="/about">About <%= t(:blist_company) %></a>
            </p>
            <p class="footnote">US Federal Government Agencies, US State &amp; Local Governments, Worldwide Federal Governments</p>
          </div>
        <%- end -%>
        

      </div>
    </div>
  </div></div>
  </div></div></div>
  
  <div class="simpleTabsContainer">
    <div class="simpleTabNav">
      <ul class="simpleTabs tabList clearfix">
        <%- if (@search_views && @search_views.length > 0) -%>
          <li id="tabSearch" class="active">
            <div class="wrapper"><a href="#results">Search Results</a></div>
          </li>
        <%- end -%>
        <li id="tabPopular" class="<%= @search_views.nil? ? 'active' : '' %>">
          <div class="wrapper"><a href="#top">Top 100</a></div>
        </li>
        <li id="tabAll"><div class="wrapper"><a href="#all">All <%= t(:blists_name) %></a></div></li>
      </ul>
    </div>
    <div id="discoverTabSearchResults" class="tabContentContainer clearfix<%= @search_views.nil? ? '' : ' active' %>">
      <%- if (@search_views && @search_views.length > 0) -%>
        <%= render(:partial => "view_list_tab", :locals => { 
          :tab_title => "Search Results for \"#{@search_term}\"", 
          :views => @search_views, :views_total => @search_views_total,
          :current_page => 1, :type => "SEARCH", :current_filter => nil, 
          :sort_by => "LAST_CHANGED", :tag_list => nil, :current_tag => nil,
          :search_term => @search_term }) %>
      <%- else -%>
        <%= render(:partial => "view_list_tab_noresult", :locals => { :term => @search_term }) %>
      <%- end -%>
    </div>
    <div id="discoverTabPopular" class="tabContentContainer clearfix<%= @search_views.nil? ? ' active' : '' %>">
      <%= render(:partial => "view_list_tab", :locals => { 
        :tab_title => t(:discover_popular_content_header), 
        :views => @popular_views, :views_total => @popular_views_total,
        :current_page => 1, :type => "POPULAR", :current_filter => nil, 
        :sort_by => "POPULAR", :tag_list => @popular_views_tags, :current_tag => nil,
        :search_term => nil }) %>
    </div>
    <div id="discoverTabAll" class="tabContentContainer clearfix">
      <%= render(:partial => "view_list_tab", :locals => { 
        :tab_title => "All #{t(:blists_name)}", 
        :views => @all_views, :views_total => @all_views_total,
        :current_page => 1, :type => "ALL", :current_filter => nil, 
        :sort_by => "LAST_CHANGED", :tag_list => @all_views_tags, :current_tag => nil,
        :search_term => nil }) %>
    </div>
  </div>
</div>

<% content_for :js_footer do %>
  <div class="jqmWindow" id="tagCloud"></div>
  <%- if @show_splash -%>
    <div class="jqmWindow" id="splashModal"></div>
  <%- end -%>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "plugins/jquery.jcarousel", "plugins/jquery.tagcloud", 
  "widgets/simple-tab-navigate", "screens/discover-screen", :cache => "cache/discover_show_all" %>
<% end %>
