<% content_for :head do %>
  <%= stylesheet_link_tag "discover-screen", "widgets",
    :cache => "cache/discover_show_all" %>
  <title>blist | share your weblists</title>
<% end %>

<div id="discover">
  <div class="discoverHeaderOuter"><div class="discoverHeaderTL"><div class="discoverHeaderTR">
  <div class="discoverHeaderBL"><div class="discoverHeaderBR">
    <div class="discoverHeaderContainer">
      <div class="discoverIntro">
        <p>Discover useful, unique and unusual datasets created by the blist community. View or copy and use for yourself!</p>
      </div>
      <div class="discoverSearch">
        <p>Search for blists</p>
        <% form_tag(discover_url, :class => "search") do %>
          <p>
            <%= text_field_tag("search", @discover_search, :class => "textPrompt", :title => "Search") %>
            <%= image_submit_tag("find_button.png", :name => "discoverSubmit", :class => "submit") %>
          </p>
        <% end %>
      </div>
      <div class="discoverHeaderContent clearfix">
        <div class="featuredViewsCarousel carouselWrapper">
          <div class="carouselOuter"><div class="carouselInner">
            <h2>Featured blists</h2>
            <ul class="carousel clearfix">
              <li class="arrow prev"><a href="#previous">previous</a></li>
              <%= render(:partial => "carousel_item", :collection => @carousel_views) %>
              <li class="arrow next"><a href="#next">next</a></li>
            </ul>
          </div></div>
        </div>
      
        <div class="myNetworkViews">
          <h2>In My Network</h2>
          <ul class="myNetworkList">
            <%- @network_views.each do |view| -%>
              <li>
                <%= link_to(h(view.name), blist_url(view.id)) %> 
                <span class="authorLine">by <%= h(view.owner.displayName) %></span>
              </li>
            <%- end -%>
          </ul>
        </div>
      </div>
    </div>
  </div></div>
  </div></div></div>
  
  <div class="discoverTabsContainer">
    
    <div class="discoverTabNav">
      <ul class="discoverTabs tabList clearfix">
        <%# TODO: Add tab for search results. %>
        <li id="tabTop" class="active"><div class="wrapper"><a href="#top">Top 100</a></div></li>
        <li id="tabAll"><div class="wrapper"><a href="#all">All Datasets</a></div></li>
      </ul>
    </div>
    <div class="discoverContentContainer clearfix">
      <%= render(:partial => "view_list_tab", :locals => { :type => "popular", :views => @popular_views }) %>
    
      <%# *** START: Fun *** %>
      <%# *** END: Fun *** %>
    
      <%# *** START: Personal *** %>
      <%# *** END: Personal *** %>
    
      <%# *** START: Business *** %>
      <%# *** END: Business *** %>
    
      <%# *** START: Education *** %>
      <%# *** END: Education *** %>
    </div>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "screens/discover-screen", :cache => "cache/discover_show_all" %>
<% end %>
