<fieldset>
  <p>
    <label for="invitation_email">*Your Email</label>
    <%= text_field_tag("invitation[email]", current_user.email || "", :class => "textEmail") %>
  </p>
  <p>
    <label for="invitation_firstName">*First Name</label>
    <%= text_field_tag("invitation[firstName]", current_user.firstName || "") %>

    <label for="invitation_lastName">*Last Name</label>
    <%= text_field_tag("invitation[lastName]", current_user.lastName || "") %>
  </p>
</fieldset>

<p><strong>Add the names and email addresses of the people you'd like to join you at <%= t(:blist_company) %>.</strong></p>

<div class="recipientsWrapper">
  <div class="recipientsShowTableContainer">
    <table cellspacing="0">
      <colgroup>
        <col class="add_handle" />
        <col class="add_email" />
        <col class="add_first_name" />
        <col class="add_last_name" />
        <col class="add_action" />
      </colgroup>
      <thead>
        <tr>
          <th class="add_handle">&nbsp;</th>
          <th class="add_email">Recipient's email address</th>
          <th class="add_first_name">First name</th>
          <th class="add_last_name">Last name</th>
          <th class="add_action">&nbsp;</th>
        </tr>
      </thead>
      <tbody />
    </table>
  </div>
  <div class="recipientsEditTableContainer">
    <table cellspacing="0">
      <colgroup>
        <col class="add_handle" />
        <col class="add_email" />
        <col class="add_first_name" />
        <col class="add_last_name" />
        <col class="add_action" />
      </colgroup>
      <tbody>
        <tr>
          <td class="add_handle"><span>add</span></td>
          <td class="add_email">
            <%= text_field_tag("add_recipient_email", "", 
                  :class => "textPrompt", :title => "Recipient's email address") %></td>
          <td class="add_first_name"><%= text_field_tag("add_recipient_first_name", "", 
                :class => "textPrompt", :title => "First Name") %></td>
          <td class="add_last_name"><%= text_field_tag("add_recipient_last_name", "", 
                      :class => "textPrompt", :title => "Last Name") %></td>
          <td class="add_action">
            <a id="recipientAddButton" href="#add_recipient"><%= image_tag("button_add.png") %></a>
          </td>
        </tr>
      </tbody>
    </table>
    <%= hidden_field_tag("invitation[recipients]") %>
  </div>
</div>

<fieldset>
  <p><strong>Customize your message:</strong></p>
  <p><%= check_box_tag("invitation[addName]", "true", true) %> Automatically add friend's name</p>
  
  <div class="invitationPreviewContainer">
    <p class="emailIntro">Hi [Recipient's First Name],</p>
    <p>
      <%= text_area_tag("invitation[message]", t(:invitation_email_text), :class => "invitationText") %>
    </p>
  </div>
</fieldset>