<% content_for :head do %>
  <%= stylesheet_link_tag "profile-screen" %>
  <title>blist | share your weblists</title>
<% end %>



<div class="twoColumnContainer clearfix">
  <div id="mainColumnContent" class="column mainContent">
    <div id='profile'>
      <%= render(:partial => "shared/tabs") %>

      <div class='outerContent'>
        <div class='content'>


          <div class='userInfo clearfix'>

            <div class='profilePicture'>
              <%= image_tag(current_user.profile_image("medium"),
                :size => "80x80", :alt => h(current_user.displayName)) %>
              <a class='action' href='#'>Change</a>
            </div>

            <div class="profileContent sectionContainer">
              <div class="sectionShow">
                <div class='userName'>
                  <h1>
                    <%= h(current_user.displayName) %>
                  </h1>
                  <a class='first action showListBoxLink' href='#edit'>Edit</a>
                  <a id='switchUsernameLink' class='action'
                    href='#show_<%= current_user.privacyControl == "login" ?
                      'fullName' : 'login' %>'>
                    Display <%= current_user.privacyControl == "login" ?
                      'Full Name' : 'Username' %>
                  </a>
                </div>
                <div class='userLocation'>
                  <h5><%= h(current_user.displayLocation) %></h5>
                </div>
                <div class='userTitle'>
                  <h5><%= h(current_user.title) %></h5>
                </div>
                <div class='userTags'>
                  <h5>Tags: <span class='tagContent'>
                      <%= current_user.tag_display_string %>
                  </span></h5>
                </div>
              </div>
              <div class="sectionEdit formListBox">
                <div class="formListBoxTL"><div class="formListBoxTR">
                <div class="formListBoxBL"><div class="formListBoxBR">
                  <% form_tag(profile_url, :class => "clearfix") do %>
                    <dl class="clearfix">
                      <dt>Name Display</dt>
                      <dd>
                        <%= radio_button_tag("user[privacyControl]",
                        "fullName", current_user.privacyControl == "fullName") %>
                        <label class="radioLabel"
                          for='user_privacyControl_fullname'>
                          Display Full Name
                        </label>
                        <%= radio_button_tag("user[privacyControl]",
                          "login", current_user.privacyControl == "login") %>
                        <label class="radioLabel" for='user_privacyControl_login'>
                          Display Username
                        </label>
                      </dd>
                      <dt><label for="user_firstName">First Name</label></dt>
                      <dd>
                        <%= text_field_tag("user[firstName]",
                          current_user.firstName) %>
                      </dd>
                      <dt><label for="user_lastName">Last Name</label></dt>
                      <dd>
                        <%= text_field_tag("user[lastName]",
                          current_user.lastName) %>
                      </dd>
                      <dt><label for="user_login">Username</label></dt>
                      <dd>
                        <%= text_field_tag("user[login]", current_user.login) %>
                      </dd>
                      <dt class='sectionEnd'>
                        <label for="user_title">Title</label>
                      </dt>
                      <dd class='sectionEnd'>
                        <%= text_field_tag("user[title]", current_user.title) %>
                      </dd>
                      <dt><label for="user_city">City</label></dt>
                      <dd>
                        <%= text_field_tag("user[city]", current_user.city) %>
                      </dd>
                      <dt><label for="user_state">State</label></dt>
                      <dd>
                        <%= select_tag("user[state]",
                          us_state_select_options(current_user.state)) %>
                      </dd>
                      <dt class='sectionEnd'>
                        <label for="user_country">Country</label>
                      </dt>
                      <dd class='sectionEnd'>
                        <%= select_tag("user[country]",
                          country_select_options(current_user.country)) %>
                      </dd>
                      <dt><label for="user_tags">Tags</label></dt>
                      <dd>
                        <%= text_field_tag("user[tags]",
                          current_user.tag_display_string) %>
                        <span class="fieldNote">(Separate tags with commas)</span>
                      </dd>
                    </dl>
                    <p class="formListBoxSubmit">
                      <%= image_submit_tag("button_save.png") %>
                    </p>
                    <p class='errorMessage'></p>
                  <% end %>
                  <p class="formListBoxClose"><a href="#close">Close</a></p>
                </div></div>
                </div></div>
              </div>
            </div>

          </div>

          <div class="descriptionContent sectionContainer">

            <div class="sectionShow">
              <p class="descriptionText"><%= current_user.htmlDescription %></p>
              <p>
                <a class='action showListBoxLink' href='#edit'>Edit Description</a>
              </p>
            </div>
            <div class="sectionEdit formListBox">
              <div class="formListBoxTL"><div class="formListBoxTR">
              <div class="formListBoxBL"><div class="formListBoxBR">
                <% form_tag(profile_url, :class => "clearfix") do %>
                  <dl class="clearfix">
                    <dt><label for="user_description">Description</label></dt>
                    <dd>
                      <%= text_area_tag("user[description]",
                        h(current_user.description), :class => "text_wide") %>
                    </dd>
                  </dl>
                  <p class="formListBoxSubmit">
                    <%= image_submit_tag("button_save.png") %>
                  </p>
                  <p class='errorMessage'></p>
                <% end %>
                 <p class="formListBoxClose"><a href="#close">Close</a></p>
              </div></div>
              </div></div>
            </div>

          </div>


          <div class='publicBlists'>
            <h3>My public blists &amp; filters</h3>
            <div class='infoContentOuter active'>
              <div class='infoContent'>
                <div class='infoContentHeader'>
                  <div class='infoContentHeaderInner clearfix'>
                    <h2 class='panelHeader'>
                      <%= pluralize(@public_views.length, 'item') %> total
                    </h2>
                  </div>
                </div>

                <div class="gridListContainer">
                  <table class="gridList" cellspacing="0">
                    <colgroup>
                      <col class='type' />
                      <col class='name' />
                      <col class='views' />
                      <col class='copies' />
                      <col class='actionContainer' />
                    </colgroup>
                    <thead>
                      <tr>
                        <th class="type first" title="Type"><div>Type</div></th>
                        <th class="name"><div>Name</div></th>
                        <th class="views"><div>Views</div></th>
                        <th class="copies"><div>Copies</div></th>
                        <th class="actionContainer last"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <%= render( :partial => "public_blist_row", 
                        :collection => @public_views) %>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column scrollContentColumn">
    <% render(:layout => "shared/sidebar_box",
      :locals => { :id => 'userStats' } ) do %>
      <p>Joined on <%= blist_date(current_user.createdAt) %></p>
      <p>Last login: <%= blist_date(current_user.lastLogin) %></p>
    <% end %>
    <% render(:layout => "shared/sidebar_box",
      :locals => { :id => 'blistStats' } ) do %>
        <h4>Your Stats</h4>
        <dl>
          <dt>Private blists: <%= @private_blists.length %></dt>
          <dd><%= pluralize(@private_filters.length, 'filter') %></dd>
          <dt>Public blists &amp; Filters: <%= @public_views.length %></dt>
          <dd><%= pluralize(@public_view_count, 'view') %></dd>
          <dd><%= pluralize(@public_copy_count, 'copy') %></dd>
          <dt>Shared blists: <%= @shared_blists.length %></dt>
          <dt>Contacts: <%= @contacts.length %></dt>
        </dl>
    <% end %>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "plugins/jquery.validate",
    "plugins/jquery.tablesorter", "widgets/selectable-list",
    "widgets/combination-list", "screens/profile-screen",
    :cache => "cache/profiles_show_all" %>
<% end %>
