<% content_for :head do %>
  <%= stylesheet_link_tag "profile-screen", :cache => "cache/all" %>
  <title>blist | share your weblists</title>
<% end %>



<div class="twoColumnContainer clearfix">
  <div id="mainColumnContent" class="column mainContent">
    <div id='profile'>
      <%= render(:partial => "shared/tabs") %>

      <div class='outerContent'>
        <div class='content'>
          <div class='userInfo clearfix'>
            <div class='profilePicture'>
              <%= image_tag(current_user.profile_image("medium"),
                :size => "80x80", :alt => h(current_user.displayName)) %>
              <a class='action' href='#'>Change</a>
            </div>
            <div class='userName'>
              <h1>
                <%= h("#{current_user.firstName} #{current_user.lastName}") %>
              </h1>
              <a class='first action' href='#'>Edit</a>
              <a id='switchUsernameLink' class='action'
                href='#show_username'>Display Username</a>
            </div>
            <div class='location'>
              <h5><%= h("#{current_user.displayState} " +
                "#{current_user.displayCountry}") %></h5>
              <a class='action' href='#'>Edit</a>
            </div>
            <div class='userTitle'>
              <h5>[Developer]</h5>
              <a class='action' href='#'>Edit</a>
            </div>
            <div class='tags'>
              <h5>Tags: <span class='tagContent'>[test, test2, sde]</span></h5>
              <a class='action' href='#'>Edit</a>
            </div>
          </div>
          <div class='description'>
            <h5>[I am some test user that lives in dev]</h5>
            <a class='action' href='#'>Edit</a>
          </div>

          <div class='publicBlists'>
            <h3>My public blists &amp; filters</h3>
            <div class='infoContentOuter active'>
              <div class='infoContent'>
                <div class='infoContentHeader'>
                  <div class='infoContentHeaderInner clearfix'>
                    <h2 class='panelHeader'>
                      <%= pluralize(@public_views.length, 'item') %> total
                    </h2>
                  </div>
                </div>

                <div class="gridListContainer">
                  <table class="gridList" cellspacing="0">
                    <colgroup>
                      <col class='type' />
                      <col class='name' />
                      <col class='views' />
                      <col class='copies' />
                      <col class='actionContainer' />
                    </colgroup>
                    <thead>
                      <tr>
                        <th class="type first" title="Type"><div>Type</div></th>
                        <th class="name"><div>Name</div></th>
                        <th class="views"><div>Views</div></th>
                        <th class="copies"><div>Copies</div></th>
                        <th class="actionContainer last"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <%= render( :partial => "public_blist_row", 
                        :collection => @public_views) %>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column scrollContentColumn">
    <% render(:layout => "shared/sidebar_box",
      :locals => { :id => 'userStats' } ) do %>
      <p>Joined on <%= blist_date(current_user.createdAt) %></p>
      <p>Last login:</p>
    <% end %>
    <% render(:layout => "shared/sidebar_box",
      :locals => { :id => 'blistStats' } ) do %>
        <h4>Your Stats</h4>
        <dl>
          <dt>Private blists: <%= @private_blists.length %></dt>
          <dd><%= pluralize(@private_filters.length, 'filter') %></dd>
          <dt>Public blists &amp; Filters: <%= @public_views.length %></dt>
          <dd><%= pluralize(@public_view_count, 'view') %></dd>
          <dd>[50] copies</dd>
          <dt>Shared blists: <%= @shared_blists.length %></dt>
          <dt>Contacts: <%= @contacts.length %></dt>
        </dl>
    <% end %>
    <%= render(:partial => "shared/ad_box") %>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "widgets/selectable-list",
    "screens/profile-screen", :cache => "cache/all" %>
<% end %>
