<header id="site-chrome-header" class="<%= size %>" role="banner" template="evergreen">
  <div class="banner">
    <div class="header-content">
      <%= header_logo %>

      <nav class="desktop" aria-label="<%= t('shared.site_chrome.header.header_links_aria_label') %>">
        <div class="evergreen-link-cluster">
          <% unless current_user_can_see_admin_link? %>
            <%= render 'site_chrome/user_actions' %>
            <%= divider %>
          <% end %>

          <% if show_language_switcher? %>
            <%= render 'site_chrome/language_switcher', :orientation => 'bottom' %>
            <%= divider %>
          <% end %>

          <% unless current_user_can_see_admin_link? %>
            <div class="collapsible-search" data-autocomplete="<%= get_feature_flag('browse_autocomplete') ? true : false %>" data-autocomplete-collapsible="true">
              <span class="socrata-icon-search collapsible-search-toggle"
                title="<%= t('shared.site_chrome.header.search') %>" onclick="toggleCollapsibleSearch(this)"
                onkeypress="toggleCollapsibleByKeypress(event)" role="button" tabindex="0">
              </span>

              <%= render 'site_chrome/searchbox', path: site_chrome_massage_url('/browse'), vanishing_search_button: true %>
            </div>

            <%= divider %>
          <% end %>

          <% if valid_social_links(site_chrome_instance.general[:social_shares]).present? %>
            <div class="site-chrome-social-links">
              <%= render 'site_chrome/social_links' %>
            </div>

            <%= divider %>
          <% end %>
        </div>

        <%= navbar_links_div(:use_dropdown => true) %>
      </nav>

      <nav class="mobile" aria-label="<%= t('shared.site_chrome.header.header_links_aria_label') %>">
        <a class="site-chrome-btn menu-toggle" href="#" onclick="mobileMenuToggle()">
          <span class="socrata-icon-hamburger"></span>
          <%= t('shared.site_chrome.header.menu') %>
        </a>
      </nav>
    </div>
  </div>
  <%= render 'site_chrome/mobile_menu' %>
</header>
