<div class="esri-tree">
  <%- @tree['folders'].each do |folder| -%>
    <div class="item folder search-item">
      <div class="editItem">
        <div
          class="select-style <%= disabled_class(@server)%>"
          id="style-div-for-<%=folder['id']%>">
          <%= icon_for_asset(@server, folder) %>
          <%= folder_select_tag(@server, folder) %>
        </div>
        <span class="asset-name">
          <%= truncate(folder['name'], length: 120) %>
        </span>
      </div>

      <%- folder['services'].each do |service| -%>
        <div class="item child service search-item">
          <div class="editItem">
            <div
              class="select-style <%=disabled_class(@server)%>"
              id="style-div-for-<%=service['id']%>">
              <%= icon_for_asset(@server, service) %>
              <%= service_select_tag(@server, folder, service) %>
            </div>
            <a target="_blank" href="<%= service['url'] %>"
              name="<%= service_display_string(service) %>">
              <span class="asset-name">
                <%= truncate(service_display_string(service), length: 120) %>
              </span>
            </a>
          </div>

          <%- service['layers'].each do |layer| -%>
            <div class="item child layer search-item">
              <div class="editItem">
                <div
                  class="select-style <%= disabled_class(@server)%>"
                  id="style-div-for-<%=layer['id']%>">
                  <%= icon_for_asset(@server, layer) %>
                  <%= layer_select_tag(@server, folder, service, layer) %>
                </div>
                <a target="_blank" href="<%= layer['url'] %>">
                  <%- if layer['name'].blank? -%>
                    <%= layer['url'] %>
                  <%- else -%>
                    <span class="asset-name">
                      <%= truncate(layer['name'], length: 120) %>
                    </span>
                  <%- end -%>
                </a>
              </div>
            </div>
          <%- end -%>
        </div>
      <%- end -%>
    </div>
  <%- end -%>
</div>
