<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-connectors' %>
  <title><%= t("screens.admin.connector.title") %> | <%= get_site_title %></title>
<% end %>

<%= render :partial => 'left_nav' %>

<div id="connector-content" class="contentBox withLeftNavigation">

  <div class="adminHeader connectors floating">
    <span class="icon"></span>
    <h1><%= t("screens.admin.connector.title") %></h1>
    <div class="connector-top-page-button-area">
      <div class="buttonArea">
        <%= link_to(
          t("screens.admin.connector.add_new"),
          :new_connector,
          :class => "button",
          :title => t("screens.admin.connector.add_new")
        )%>
      </div>
    </div>
  </div>

  <%= display_standard_flashes %>

  <%= render 'esri_connectors' if @esri_connectors.present? %>
  <%= render 'catalog_federator_connectors' if @catalog_federator_connectors.present? %>

</div>

<%= render_admin_qualtrics %>
