<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-connectors' %>
  <title><%= t('screens.admin.connector.title') %> | <%= get_site_title %></title>
<% end %>

<% content_for :breadcrumb do %>
  <%= t('screens.admin.connector.title')  %>
<% end %>

<%= render '/internal/left_nav' %>

<div id="connector-content" class="contentBox withLeftNavigation">

  <div class="adminHeader connectors flexbox-space-between">
    <div class="connectors-header left-content">
      <h1><%= t('screens.admin.connector.show_title') %></h1>
      <p class= "connector-show-url">
        <%= link_to(@server.url, @server.url, :target => "_blank") %>
      </p>
    </div>
    <div class="connectors-header right-content">
      <% unless @failed_esri_connection %>
        <div class="connector-top-page-status" \>

          <p class= "connector-status-label">
            <span class="connector-icon connector-icon-<%=@server.status_key.dasherize %> icon-<%= connector_icon(@server.status_key)%>"></span>
            <%= t("screens.admin.connector.#{@server.status_key}") %>
          </p>

          <p class= "connector-status-last-synced">  <%= t('screens.admin.connector.last_synced') %>: </p>
          <p class="result-time-stamp time-stamp">
            <%- if @server.last_synced -%>
              <%= date_time_span(@server.last_synced) %>
              (<%= HumaneDateHelper.humane_date(Time.parse(@server.last_synced)) %>)
            <%- else -%>
              <%= t('screens.admin.connector.never') %>
            <%- end -%>
          </p>
        </div>
      <% end %>

      <div class="connector-list-go-back">
        <%= link_to(
          t('screens.admin.connector.back_to_connector_list'),
          :controller => '/administration/connector',
          :action => 'connectors'
        ) %>
      </div>
    </div>
  </div>

  <%= display_standard_flashes %>
  <%- unless @failed_esri_connection -%>

  <div class="connector-dataset-list">
    <div class="gridListWrapper">
      <table class="gridList templatesList" cellspacing="0">
        <colgroup>
          <col class="name" />
          <col class="federatedAssets" />
          <col class="status" />
          <col class="endedAt" />
          <col class="actions" />
        </colgroup>
        <thead>
          <tr>
            <th class="acgis_layer" scope="col">
              <span>
                <%= t('screens.admin.connector.arcgis_layer') %>
              </span>
            </th>
            <th class="dataset" scope="col">
              <span>
                <%= t('screens.admin.connector.dataset') %>
              </span>
            </th>
            <th class="connection_type" scope="col">
              <span>
                <%= t('screens.admin.connector.connection_type') %>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <%- @layers.each do |layer| -%>
            <tr>
              <td class="acgis_layer" scope="row">
                <%= link_to(layer['name'], layer['url'], :target => "_blank") %>
              </td>
              <td class="dataset" scope="row">
                <%= link_to(layer['name'], "/dataset/#{layer['fourfour']}", :target => "_blank") %>
              </td>
              <td class="connection_type" scope="row">
                <%- if layer['sync_type'] == 'ignored' -%>
                  <span role="presentation" class="socrata-icon-close-circle"> </span>
                  <%= t('screens.admin.connector.deleted_pending') %>
                <%- else %>
                  <span role="presentation" class=<%=sync_type_icon(layer['sync_type'])%> ></span>
                  <%= t("screens.admin.connector.#{layer['sync_type']}") %>
                <%- end -%>
              </td>
            </tr>
          <%- end -%>
        </tbody>
      </table>
    </div>
  </div>
</div>

  <div class="pager">
    <% @pager_elements.each do |element| %>
      <% if element.page? %>
        <%= link_to(
          element.index,
          "/admin/connectors/#{@server.id}?page=#{element.index}&#{element.get_params}",
          :class => "pager-element page #{'pager-page-selected' if element.selected}"
        ) %>
      <% else %>
        <span class="pager-element ellipsis">…</span>
      <% end %>
    <% end %>
  </div>
<%- end %>

<%= render_admin_qualtrics %>
