<h4 class="h6">Socrata Logo (Full Color)</h4>


<div class="inline-container">
	<div class="half">
		<p class="logo-sample"> 
			<%= image_tag 'socrata-logo.png' %>
		</p>
	</div>
</div>

<h4 class="h6">Socrata Logo (Dark, 2 Color)</h4>

<div class="inline-container">

	<div class="half">
		<p class="dark-context logo-sample">
			<%= image_tag 'socrata-logo-2c-dark.png' %>
		</p>
	</div>
</div>


<h4 class="h6">Powered By Socrata</h4>

<p class="logo-sample">
	<span class="powered-by-socrata"><span class="powered-by">Powered By</span> <%= image_tag 'socrata-logo-pb.png', :class => 'logo' %></span>
</p>


<p class="logo-sample">
	<span class="powered-by-socrata mini"><span class="powered-by">Powered By</span> <%= image_tag 'socrata-logo-pb.png', :class => 'logo' %></span>
</p>

<h4 class="h6">Socrata Logo Alternate (1 color)</h4>

<div class="logo-sample">
	<p>
		<div class="inline-container">
			<div class="third primary-context">

				<%= image_tag 'socrata-logo-1c-dark.png' %>

			</div>		

			<div class="third medium-context">

				<%= image_tag 'socrata-logo-1c-dark.png' %>

			</div>		

			<div class="third dark-context">

				<%= image_tag 'socrata-logo-1c-dark.png' %>

			</div>
		</div>
	</p>
</div>


<h4 class="h6">Favicon</h4>

<p class="logo-sample">
	<a href="/images/favicon/socrata-favicon.zip"><span class="icon-copy-document"></span> Download archive including all icons</a>
</p>