<h4 class="h6">Socrata Logo (Full Color)</h4>


<div class="inline-container">
	<div class="half">
		<p class="logo-sample">
			<%= partial "components/code_sample", locals: { component: "components/_brand_logo" } %>
		</p>
		  <table class="table logo-download table-discrete table-condensed table-borderless">
    <thead>
      <tr>
        <th scope="col">Format</th>
        <th scope="col">Download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">PNG</td>
        <td><a href="images/socrata-logo.png">socrata-logo.png</a></td>
      </tr>
       <tr>
        <td scope="row">SVG</td>
        <td><a href="images/socrata-logo.svg">socrata-logo.svg</a></td>
      </tr>
    </tbody>
  </table>
	</div>
</div>

<h4 class="h6">Socrata Logo (Dark, 2 Color)</h4>

<div class="inline-container">

	<div class="half">
		<p class="dark-context logo-sample">
			<%= image_tag 'socrata-logo-2c-dark.png' %>
		</p>
  <table class="table logo-download table-discrete table-condensed table-borderless">
    <thead>
      <tr>
        <th scope="col">Format</th>
        <th scope="col">Download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">PNG</td>
        <td><a href="images/socrata-logo-2c-dark.png">socrata-logo-2c-dark.png</a></td>
      </tr>
       <tr>
        <td scope="row">SVG</td>
        <td><a href="images/socrata-logo-2c-dark.svg">socrata-logo-2c-dark.svg</a></td>
      </tr>
    </tbody>
  </table>

	</div>
</div>

<h4 class="h6">Socrata Logo Alternate (1 color)</h4>

<div class="logo-sample">
	<p>
		<div class="inline-container">
			<div class="third primary-context">

				<%= image_tag 'socrata-logo-1c-dark.png' %>

			</div>

			<div class="third medium-context">

				<%= image_tag 'socrata-logo-1c-dark.png' %>

			</div>

			<div class="third dark-context">

				<%= image_tag 'socrata-logo-1c-dark.png' %>

			</div>
		</div>
	</p>

	<div class="inline-container">
		<div class="half">

	 <table class="table logo-download table-discrete table-condensed table-borderless">
    <thead>
      <tr>
        <th scope="col">Format</th>
        <th scope="col">Download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">PNG</td>
        <td><a href="images/socrata-logo-2c-dark.png">socrata-logo-2c-dark.png</a></td>
      </tr>
       <tr>
        <td scope="row">SVG</td>
        <td><a href="images/socrata-logo-2c-dark.svg">socrata-logo-2c-dark.svg</a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>

</div>


<h4 class="h6">Powered By Socrata</h4>

<div class="powered-by-sample">

<%= partial "components/code_sample", locals: { component: "components/_brand_poweredby" } %>

	<div class="inline-container">
		<div class="half">

	 <table class="table logo-download table-discrete table-condensed table-borderless">
    <thead>
      <tr>
        <th scope="col">Format</th>
        <th scope="col">Download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">PNG</td>
        <td><a href="images/socrata-logo-pb.png">socrata-logo-pb.png</a></td>
      </tr>
       <tr>
        <td scope="row">SVG</td>
        <td><a href="images/socrata-logo-pb.svg">socrata-logo-pb.svg</a></td>
      </tr>      <tr>
        <td scope="row">PNG</td>
        <td><a href="images/socrata-logo-pb-mini.png">socrata-logo-pb-mini.png</a></td>
      </tr>
       <tr>
        <td scope="row">SVG</td>
        <td><a href="images/socrata-logo-pb-mini.svg">socrata-logo-pb-mini.svg</a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>

</div>


<h4 class="h6">Favicon</h4>

<p class="logo-sample">

		<%= image_tag 'favicon/favicon-32x32.png' %>


	<div class="inline-container">
		<div class="half">

	 <table class="table logo-download table-discrete table-condensed table-borderless">
    <thead>
      <tr>
        <th scope="col">Format</th>
        <th scope="col">Download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Zip Archive</td>
        <td><a href="images/favicon/socrata-favicon.zip">socrata-favicon.zip</a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>

</p>
