<h4 class="h6">Bordered Table</h6>
<%= partial "components/code_sample", locals: { component: "examples/_table_bordered" } %>

<h4 class="h6">Borderless Table</h6>
<%= partial "components/code_sample", locals: { component: "examples/_table_borderless" } %>

<h4 class="h6">Striped Table</h6>
<%= partial "components/code_sample", locals: { component: "examples/_table_striped" } %>


<h4 class="h6">Responsive Table</h6>
<%= partial "components/code_sample", locals: { component: "examples/_table_responsive" } %>


<h4 class="h6">Condensed Table</h6>
<%= partial "components/code_sample", locals: { component: "examples/_table_condensed" } %>

