<div class="scrollable inspiration-category-list">
  <% @inspiration_category_list.each do |index, category| %>
    <div class="inspiration-category">
      <h1 class="inspiration-category-title"><%= category['name'] %></h1>
      <% if category['description'] %>
        <h2 class="inspiration-category-subtitle"><%= category['description'] %></h2>
      <% end %>
      <div class="inspiration-blocks">
      <% category['blocks'].each do |block| %>
        <div
          class="inspiration-block"
          data-block-id="<%= block['blockContent']['id'] %>"
          data-block-content="<%= block['blockContent'].to_json %>">
            <img src="<%= asset_path(block['imagePreview']) %>">
            <div class="drag-overlay"></div>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>
</div>

