

<div class="<%= color %> box large"><%= color %></div>	
<div class="<%= color %> box dark-3">Dark <%= color %> 3</div>	
<div class="<%= color %> box dark-2">Dark <%= color %> 2</div>
<div class="<%= color %> box dark-1">Dark <%= color %> 1</div>
<div class="<%= color %> box"><%= color %></div>
<div class="<%= color %> box light-1">Light <%= color %> 1</div>
<div class="<%= color %> box light-2">Light <%= color %> 2</div>
<div class="<%= color %> box light-3">Light <%= color %> 3</div>
<div class="<%= color %> box light-4">Light <%= color %> 4</div>
