<%- if profile_image? %>
  <div class="site-chrome-admin-user-image">
    <img id="site-chrome-admin-user-image" src="<%= user_profile_image_url %>" alt="<%= username %>" />
  </div>
<%- else %>
  <span class="socrata-icon-user"></span>
<%- end %>

<ul role="menu" aria-hidden="true">
  <li>
    <a href="<%= site_chrome_massage_url('/profile') %>">
      <span class="socrata-icon-user"></span>
      <span><%= t('shared.site_chrome.admin.user.my_profile') %></span>
    </a>
  </li>

  <li>
    <a href="https://support.socrata.com">
      <span class="socrata-icon-question-inverse"></span>
      <span><%= t('shared.site_chrome.admin.user.get_help') %></span>
    </a>
  </li>

  <li>
    <a href="<%= site_chrome_massage_url('/logout') %>">
      <span class="socrata-icon-sign-out"></span>
      <span><%= t('shared.site_chrome.admin.user.sign_out') %></span>
    </a>
  </li>
</ul>
