<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-analytics-screen' %>
  <%= rendered_stylesheet_tag 'analytics-shared' %>
  <title>Site Analytics | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div class="contentBox">
  <div id="analyticsDataContainer" class="publicSiteMetrics">
    <div class="adminHeader analytics">
      <span class="icon"></span>
      <h1>Site Analytics</h1>
      <%= render :partial => 'shared/metrics_timing' %>
    </div>

    <div class="summaryDisplay clearfix container"></div>

    <div class="chartsDisplay container">
      <div class="flash error message errorMessage">
        <h3>An error occurred loading the metrics data. Please try again later</h3>
      </div>
    </div>

    <div class="detailDisplay clearfix container"></div>

    <div class="topDisplay clearfix container">
      <div class="leftColumn"></div>
      <div class="rightColumn"></div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<% content_for :templates do %>
  <%= render :partial => 'shared/metrics_sections' %>
  <%= render :partial => 'shared/control_templates' %>
<%- end -%>

<% content_for :js_footer do %>
  <%= include_javascripts 'sanitize-html' %>
  <%= include_javascripts 'shared-metrics' %>
  <%= include_javascripts 'public-analytics' %>
<% end %>
<%= render_translations LocalePart.screens.stats %>
<%= render_translations LocalePart.plugins.daterangepicker %>
