<% content_for :head do %>
<%= rendered_stylesheet_tag 'internal' %>
<title>Feature Flags for Domain <%= @domain.try(:name) %>
    | Internal Panel | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<%= render :partial => 'left_nav' %>

<div class="contentBox withLeftNavigation featureFlags">
  <%- @flags.each do |flag, flag_config| %>
  <%= form_tag('/internal/orgs/' + @domain.organizationId.to_s +
    '/domains/' + @domain.cname + '/set_feature_flags') do %>
    <div class="clearfix" style="clear: both">
        <div class="flagBox">
            <div><%= flag %></div>
            <p><%= flag_config.description %></p>
        </div>
        <div class="valueBox">
            <p>Default Value: <%= flag_config.defaultValue %></p>
            <%= feature_flag_input flag, flag_config, flag_config.value %>
            <br>
            <input type="submit" value="Update" />
        </div>
    </div>
    <%- end %>
  <%- end %>
</div>

<% content_for :js_footer do %>
  <script type="text/javascript">
    $(function() {
        var $form = $('.featureFlags form');
        $('input:text, select', $form).bind('focus change', function()
        {
            $(this).siblings('input.other').click();
        });
        $form.submit(function(e)
        {
            $('.valueBox').each(function()
            {
                var $this = $(this);
                if (!$this.find('.other').is(':checked'))
                { $this.find('input:text, select').prop('disabled', true); }
            });
        });
    });
  </script>
<% end %>
