<% content_for :head do %>
<%= rendered_stylesheet_tag 'internal' %>
<title>Domain <%= @domain.nil? ? '' : @domain.name %> | Internal Panel |
  <%= CurrentDomain.strings.site_title %></title>
<% end %>

<%= render :partial => 'left_nav' %>


<div class="contentBox withLeftNavigation">
  <div class='content'>

    <% if @domain.nil? %>
      <p>Domain could not be found</p>

    <% else %>
      <%= render :partial => 'production_warning' %>
      <h1><%= @domain.name %> (<%= @domain.cname %>)</h1>

      <p>This is a
      <a href="/internal/tiers/<%= @domain.accountTier.name %>">
        <em><%= @domain.accountTier.name %></em>
      </a>
      domain.</p>

      <h2>Domain/Aliases:</h2>
      <%= form_tag '/internal/orgs/' + @domain.organizationId.to_s +
        '/domains/' + @domain.cname + '/aliases' do %>
        <div class='line'>
          <label>Primary CName</label>
          <input type='text' name='new_cname' value="<%= @domain.cname %>" />
        </div>
        <div class='line'>
          <label>Aliases</label>
          <input type='text' name='aliases' value="<%= @domain.aliases %>"
                 title="separated by comma"
            />
        </div>
        <input type='submit' value='Update' />
      <% end %>


      <%- sorted_configs = @domain.configurations('site_theme').
        sort {|a,b| a.default == b.default ?
          a.name.downcase <=> b.name.downcase :
          (a.default ? -1 : 1)} -%>
      <h2>Theme Configurations:</h2>
      <%= form_tag '/internal/orgs/' + @domain.organizationId.to_s +
        '/domains/' + @domain.cname + '/default_site_config' do %>
      <ul>
        <%- sorted_configs.each do |conf| -%>
        <li>
        <%= radio_button_tag 'default-site-config', conf.id, conf.default %>
        <a href='/internal/orgs/<%= @domain.organizationId
          %>/domains/<%= @domain.cname %>/site_config/<%= conf.id %>'>
          <%= conf.name %>
        </a>
        </li>
        <%- end -%>
      </ul>
      <input type='submit' value='Set Default' />
      <%- end -%>

      <h2>Other Configurations</h2>
      <ul>
        <li><a href="/internal/orgs/<%= @domain.organizationId %>/domains/<%= @domain.cname %>/feature_flags">Feature Flags</a></li>
        <%- @configs.each do |conf| -%>
        <%- next if conf.type == 'site_theme' || conf.type == 'feature_flags' -%>
        <li<%= " class='isDefault'" if conf.default %>>
        <a href='/internal/orgs/<%= @domain.organizationId
          %>/domains/<%= @domain.cname %>/site_config/<%= conf.id %>'>
          <%= conf.name %> (<%= conf.type %>)
        </a>
        </li>
        <%- end -%>
      </ul>

      <h2>Add Configurations:</h2>
      <%= form_tag '/internal/orgs/' + @domain.organizationId.to_s +
        '/domains/' + @domain.cname + '/site_config' do %>
        <div class='line'>
          <label>Name</label>
          <input type='text' name='config[name]' />
        </div>
        <div class='line'>
          <label>Type</label>
          <input type='text' name='config[type]' value='site_theme' />
        </div>
        <div class='line'>
          <label>Default?</label>
          <input type='checkbox' name='config[default]' checked='checked' />
        </div>
        <div class='line'>
          <label>Parent Config</label>
          <select name='config[parentId]'>
            <option value=''>(none)</option>
            <%- sorted_configs.each do |conf| -%>
            <option value='<%= conf.id %>'><%= conf.name %></option>
            <%- end -%>
          </select>
        </div>
        <input type='submit' value='Create' />
      <% end %>

      <h2>Features:</h2>
      <%= form_tag '/internal/orgs/' + @domain.organizationId.to_s +
        '/domains/' + @domain.cname + '/feature' do %>
        <%- @domain.features.each do |feature, enabled| -%>
        <div class='line'>
          <label><%= feature %></label>
          <%= hidden_field_tag 'features[name[' + feature + ']]',
            feature %>
          <%= check_box_tag 'features[enabled[' + feature + ']]',
            'enabled', enabled %>
        </div>
        <%- end -%>
        <input type="submit" value="Update"/>
      <% end %>

      <h2>Add Feature</h2>
      <%= form_tag '/internal/orgs/' + @domain.organizationId.to_s +
        '/domains/' + @domain.cname + '/feature' do %>
        <div class='line'>
          <input type="text" name="new-feature_name" />
          <%= check_box_tag 'new-feature_enabled', 'enabled', true %>
        </div>
        <input type="submit" value="Add"/>
      <% end %>

      <h2>Account Modules:</h2>
      <% if @domain.accountModules.nil? || @domain.accountModules.size <= 0 %>
        <p>No account modules configured.</p>
      <% else %>
        <ul>
          <% @domain.accountModules.each do |mod| %>
            <li><%= mod.name %> (<%= mod.description %>)</li>
          <% end %>
        </ul>
      <% end %>

      <h2>Add an account module</h2>
      <%= form_tag '/internal/orgs/' + @domain.organizationId.to_s +
        '/domains/' + @domain.cname + '/account_modules' do %>
        <div class='line'>
          <label>Module:</label>
          <select name="module[name]">
            <% @modules.each do |mod| %>
            <option value="<%= mod.name %>"><%= mod.name %></option>
            <% end %>
          </select>
        </div>
        <input type="submit" value="Add"/>
      <% end %>
    <% end %>

  </div>
</div>
