<% content_for :head do %>
<%= rendered_stylesheet_tag 'internal' %>
<title>Organization <%= @org.nil? ? '' : @org.name %> | Internal Panel |
  <%= CurrentDomain.strings.site_title %></title>
<% end %>

<%= render :partial => 'left_nav' %>

<div class="contentBox withLeftNavigation">
    <div class='content'>

      <%- if @org.nil? -%>
        <p>Organization could not be found</p>

      <%- else -%>
        <h1>Organization: <%= @org.name %></h1>

        <h2>Domains:</h2>
        <%- if @org.domains.nil? || @org.domains.size <= 0 -%>
          <p>No domains for this org.</p>
        <%- else -%>
          <ul>
            <%- @org.domains.each do |domain| -%>
            <li><a href="/internal/orgs/<%= @org.id.to_s + '/domains/' +
              domain.cname %>">
              <%= domain.name %> (<%= domain.cname %>)
            </a></li>
          <%- end -%>
        </ul>
      <%- end -%>

      <h2>Create a domain:</h2>
      <%= form_tag('/internal/orgs/' + @org.id.to_s + '/domains') do %>
        <%= hidden_field_tag 'domain[organizationId]', @org.id.to_s %>
        <div class='line'>
          <label>Name:</label>
          <input type="text" name="domain[name]"/>
        </div>
        <div class='line'>
          <label>CName:</label>
          <input type="text" name="domain[cName]"/>
        </div>
        <div class='line'>
          <label>Short Name:</label>
          <input type="text" name="domain[shortName]"/>
        </div>
        <div class='line'>
          <label>Tier:</label>
          <select name="domain[accountTierId]">
            <%- @tiers.each do |tier| -%>
            <option value="<%= tier.id %>"><%= tier.name %></option>
            <%- end -%>
          </select>
        </div>
        <input type="hidden" name="config[parentDomainCName]" value="<%= @domains.first.cname %>" />
        <input type="hidden" name="domain[parentDomainId]" value="<%= @domains.first.id %>" />
        <input type="submit" value="Create"/>
      <% end %>
    <%- end -%>
  </div>
</div>
