<% content_for :head do %>
<%= include_stylesheets 'internal-shared' %>
<%= rendered_stylesheet_tag 'internal' %>
<title>Property <%= @property_id %> |
  Domain <%= @domain.nil? ? '' : @domain.name %> | Internal Panel |
  <%= CurrentDomain.strings.site_title %></title>
<% end %>

<%= render :partial => 'left_nav' %>

<%- is_json = !@property.is_a?(String) -%>

<div class="contentBox withLeftNavigation">
  <div class='content'>
    <%= render :partial => 'production_warning' %>
    <h1>
      <%= @property_key %> for
      <a href="/internal/orgs/<%= @domain.organizationId %>/domains/<%= @domain.cname %>">
        <%= @domain.name %> (<%= @domain.cname %>)
      </a>
    </h1>

    <% form_tag('/internal/orgs/' + @domain.organizationId.to_s +
      '/domains/' + @domain.cname + '/site_config/' + @config.id.to_s +
      '/property', {:class => 'wide'}) do %>
      <div class="bespin" data-bespinoptions='{"stealFocus":true, "syntax":"<%= is_json ? 'js' : 'html' %>"}'
        style="height: 60em"></div>
      <%= text_area_tag 'properties[' + @property_key + ']', raw(@property), :style => 'display: none', :id => 'preText' %>
      <input type="submit" value="Save" id="saveButton"/>
      <div class="flash notice hide saveMessage">Configuration Saved</div>
    <%- end -%>
  </div>
</div>

<% content_for :js_footer do %>
  <link id="bespin_base" href="/javascripts/plugins/bespin/">
  <%= include_javascripts 'bespin' %>
  <script type="text/javascript">
  var isJson = <%= is_json == true %>;
  $(function()
  {
      $('div.bespin')
        <%- if (is_json && @property)-%>
          .text(
            <%= raw( "JSON.stringify(#{@property.to_json}, null, 4)") %>
          )
        <%- else -%>
          .get(0).innerHTML =
            $('#preText').val()
        <%- end -%>
      ;
      var $form = $('form');
      var updateJsonVal = function()
      {
          var bespinVal = $('.bespin').get(0).bespin.editor.value;

          if (!$.isBlank($.trim(bespinVal)) || confirm('Do you want to clear this field?'))
          {
              $form.find('textarea').val(isJson ? bespinVal : JSON.stringify(bespinVal));
          }
      };

      $('#saveButton').click(function(event)
      {
          updateJsonVal();
          event.preventDefault();
          $.ajax({
              type: 'POST',
              url: $form.attr('action'),
              data: $form.serialize(),
              success: function() {
                  $('.saveMessage').removeClass('hide');
              }
          })
      });

      $form.submit(function(event)
      {
          updateJsonVal();
      });
  });
  </script>
<% end %>
