<% content_for :head do %>
<%= stylesheet_link_merged 'internal-shared' %>
<title>Domain <%= @domain.nil? ? '' : @domain.name %> | Admin Panel |
  <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div class="twoColumnContainer tabContainer clearfix">
  <div id="mainColumnContent" class="column mainContent">
    <ul class='tabList'>
      <li class='even active'><div class='wrapper'>
        <%= link_to 'Admin Home', '/internal' %>
      </div></li>
    </ul>

    <div class='outerContent'>
      <div class="contentTR"><div class="contentTL"></div></div>
      <div class='content'>

        <% if @domain.nil? %>
          <p>Domain could not be found</p>

        <% else %>
          <h1><%= @domain.name %> (<%= @domain.cname %>)</h1>

          <p>This domain is a
          <a href="/internal/tiers/<%= @domain.accountTier.name %>">
            <em><%= @domain.accountTier.name %></em>
          </a>
          domain.</p>

          <h2>Property Configurations:</h2>
          <ul>
            <%- @domain.configurations('site_theme').each do |conf| -%>
            <li>
            <%= radio_button_tag 'default-site-config', conf.id, conf.default %>
            <a href='/internal/orgs/<%= @domain.organizationId
              %>/domains/<%= @domain.cname %>/site_config/<%= conf.id %>'>
              <%= conf.name %>
            </a>
            </li>
            <%- end -%>
          </ul>

          <h2>Features:</h2>
          <ul>
            <%- @domain.features.each do |feature, enabled| -%>
            <li>
            <label><%= feature %></label>
            <%= check_box_tag 'feature-' + feature, '', enabled %>
            </li>
            <%- end -%>
          </ul>

          <h2>Add Feature</h2>
          <form action="/internal/orgs/<%= @domain.organizationId
            %>/domains/<%= @domain.cname %>/feature" method="post">
            <div class='line'>
              <input type="text" name="name" />
              <%= check_box_tag 'enabled', '', true %>
            </div>
            <input type="submit" value="Add"/>
          </form>

          <h2>Account Modules:</h2>
          <% if @domain.accountmodules.nil? || @domain.accountModules.size <= 0 %>
            <p>No account modules configured.</p>
          <% else %>
            <ul>
              <% @domain.accountModules.each do |mod| %>
                <li><%= mod.name %> (<%= mod.description %>)</li>
              <% end %>
            </ul>
          <% end %>

          <h2>Add an account module</h2>
          <form action="/internal/orgs/<%= @domain.organizationId
            %>/domains/<%= @domain.cname %>/account_modules" method="post">
            <div class='line'>
              <label>Module:</label>
              <select name="module[mod_id]">
                <% @modules.each do |mod| %>
                <option value="<%= mod.id %>"><%= mod.name %></option>
                <% end %>
              </select>
            </div>
            <input type="submit" value="Add"/>
          </form>
        <% end %>

      </div>
    </div>
  </div>
</div>
