<% content_for :head do %>
<%= stylesheet_link_merged 'internal-shared' %>
<%= rendered_stylesheet_tag 'internal' %>
<title>Property <%= @property_id %> |
  Domain <%= @domain.nil? ? '' : @domain.name %> | Internal Panel |
  <%= CurrentDomain.strings.site_title %></title>
<% end %>

<%= render :partial => 'left_nav' %>

<%- is_json = !@property.is_a?(String) -%>

<div class="contentBox withLeftNavigation">
  <div class='content'>
    <%= render :partial => 'production_warning' %>
    <h1>
      <%= @property_key %> for
      <a href="/internal/orgs/<%= @domain.organizationId %>/domains/<%= @domain.cname %>">
        <%= @domain.name %> (<%= @domain.cname %>)
      </a>
    </h1>

    <% form_tag('/internal/orgs/' + @domain.organizationId.to_s +
      '/domains/' + @domain.cname + '/site_config/' + @config.id.to_s +
      '/property', {:class => 'wide'}) do %>
      <div class="bespin" data-bespinoptions='{"stealFocus":true, "syntax":"<%= is_json ? 'js' : 'html' %>"}'
        style="height: 60em"><%= raw(@property) if (@property && !is_json) %></div>
      <%= text_area_tag 'properties[' + @property_key + ']', '', :style => 'display: none' %>
      <input type="submit" value="Save"/>
    <%- end -%>
  </div>
</div>

<% content_for :js_footer do %>
  <link id="bespin_base" href="/javascripts/plugins/bespin/">
  <%= javascript_include_tag 'plugins/bespin/BespinEmbedded.js' %>
  <script type="text/javascript">
  var isJson = <%= is_json == true %>;
  $(function()
  {
      <%- if (is_json && @property)-%>
      $('div.bespin').text(
        <%= raw( "JSON.stringify(#{@property.to_json}, null, 4)") %>
      );
      <%- end -%>
      $('form').submit(function(event)
      {
        var bespinVal = $('.bespin').get(0).bespin.editor.value;

        if (!$.isBlank($.trim(bespinVal)) || confirm('Do you want to clear this field?'))
        {
          $(this).find('textarea').val(isJson ? bespinVal : JSON.stringify(bespinVal));
        }
      });
  });
  </script>
<% end %>
