<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-govstat-goals' %>
  <title>Edit Goals | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div id="editGoalsPage">
  <div class="subnavigation">
    <ul class="breadcrumb">
      <li class="root"><a class="ss-icon" href="/manage">Home</a></li>
      <li><span class="ss-icon">navigateright</span></li>
      <li class="main"><a href="/manage/site_config">Configuration</a></li>
      <li><span class="ss-icon">navigateright</span></li>
      <li><a>Goals</a></li>
    </ul>
  </div>

  <a class="button addCategory ss-plus" href="#new category">New Category</a>

  <div class="gridFlowLayout nonDS categoryContainer clearfix">
    <div class="categoryItem">
      <div class="categoryTitle"><h2>Draft Goals</h2></div>
      <div class="clearfix">
        <div class="singleItem addNewItem">
          <div class="primaryAction">
            <a class="actionDetails ss-checkclipboard" href="#new goal">Create New Goal</a>
          </div>
        </div>
        <div class="draftGoals">
        </div>
      </div>
    </div>
  </div>

<% content_for :js_footer do %>
  <%= include_javascripts 'screen-govstat-goals' %>
<% end %>

<%- content_for :new_modals do -%>
  <div class="socrataDialog" id="selectDataset">
    <h2>Choose a Dataset</h2>
    <a href="#close" class="jqmClose">Close</a>
    <p>Please select a dataset from below.</p>
    <iframe src="<%= url_for :controller => :browse, :action => :select_dataset %>?nofederate=true&amp;suppressed_facets[]=domain" frameBorder="0"></iframe>
    <p>Or, paste the web address of the dataset you would like to add.</p>
    <form class="viewUrlForm" action="#">
      <input type="text" title="Dataset web address" class="viewUrl textPrompt" name="viewUrl"/>
      <input type="submit" value="Use" class="button"/>

      <div class="viewUrlError flash"></div>
    </form>
  </div>
<%- end -%>
<%= render_translations LocalePart.controls.global_indicator %>
