<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-govstat-manage' %>
  <title><%= t('govstat.template.title') %> | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div id="manageTemplatePage">
  <div class="subnavigation">
    <ul class="breadcrumb">
      <li class="root"><%= localized_link_to 'Home', '/stat', :class => 'ss-icon' %></li>
      <li><span class="ss-icon">navigateright</span></li>
      <li><%= localized_link_to t('govstat.configuration.config'), '/manage/site_config' %></li>
      <li><span class="ss-icon">navigateright</span></li>
      <li class="main"><%= localized_link_to t('govstat.template.title'), '/manage/template' %></li>
    </ul>
  </div>

  <div class="flashContainer">
    <%= display_standard_flashes %>
  </div>

  <div class="categoryList gridFlowLayout nonDS clearfix">
    <div class="categoryItem">
      <div class="categoryTitle"><h2><%= t('govstat.template.layouts') %></h2></div>
      <%= form_tag(manage_template_path, :method => 'post', :class => 'commonForm') do %>
        <%- [{ value: 'grid_flow', text: t('govstat.template.grid_flow_layout') }, { value: 'list', text: t('govstat.template.list_layout') }].each do |opt| -%>
            <input type="radio" name="template" id="template_<%= opt[:value] %>"
            <%= opt[:value] == @template ? 'checked="checked"' : '' %> value="<%= opt[:value] %>" />
            <label for="template_<%= opt[:value] %>">
              <img src="/images/govstat/paradigm_<%= opt[:value] %>.png" alt="<%= opt[:text] %>" />
            </label>
        <%- end -%>
        <input type="submit" class="button" value="Save" />
      <% end %>
    </div>
  </div>
</div>

<%- content_for :js_footer do -%>
  <%= include_javascripts 'screen-govstat-manage' %>
<%- end -%>
<%= render_translations LocalePart.controls.global_indicator %>
