<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-govstat-manage' %>
  <title>Manage Reports | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div id="manageReportsPage">
  <div class="subnavigation">
    <ul class="breadcrumb">
      <li class="root"><a class="ss-icon" href="/manage">Home</a></li>
      <li><span class="ss-icon">navigateright</span></li>
      <li class="main"><a href="/manage/reports">Reports</a></li>
    </ul>
  </div>

  <div class="gridFlowLayout nonDS clearfix">
    <div class="categoryItem ownerReports">
      <div class="categoryTitle"><h2>Your Reports</h2></div>
      <div class="clearfix">
        <div class="singleItem addNewItem">
          <a class="primaryAction" href="<%= canvas_create_path %>">
            <span class="actionDetails ss-compose">Create New Report</span></a>
        </div>
        <%- @own_reports.each do |report| -%>
          <div class="singleItem">
            <div class="singleInner" title="<%= report.name %>">
              <div class="title"><h2><%= report.name %></h2></div>
              <div class="secondaryAction">
                <a href="<%= report.path %>?_edit_mode=true" class="button">
                  <span class="actionDetails ss-write">Edit</span></a>
                <a href="#delete" class="button delete" data-id="<%= report.path %>">
                  <span class="actionDetails ss-trash">Delete</span></a>
              </div>
              <div class="primaryAction">
                <a href="<%= report.path %>"><span class="actionDetails ss-right"></span></a>
              </div>
              <div class="secondaryMetadata">updated: <%= blist_date(report.updated_at) %></div>
            </div>
          </div>
        <%- end -%>
      </div>
    </div>

    <div class="categoryItem otherReports">
      <div class="categoryTitle"><h2>Other Reports</h2></div>
      <div class="clearfix">
        <%- @other_reports.each do |report| -%>
          <div class="singleItem">
            <div class="singleInner" title="<%= report.name %>">
              <div class="title"><h2><%= report.name %></h2></div>
              <div class="primaryAction">
                <a href="<%= report.path %>"><span class="actionDetails ss-right"></span></a>
              </div>
              <div class="secondaryMetadata">
                <%- o = report.owner_user
                    if !o.nil? -%>
                <span class="mdLine">owner: <%= o.displayName %></span>
                <%- end -%>
                <span class="mdLine">updated: <%= blist_date(report.updated_at) %></span>
              </div>
            </div>
          </div>
        <%- end -%>
      </div>
    </div>
  </div>
</div>

<% content_for :js_footer do %>
  <%= include_javascripts 'screen-govstat-manage' %>
<% end %>
