<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-govstat-manage' %>
  <title>Manage Site Configuration | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div id="manageConfigPage">
  <div class="subnavigation">
    <ul class="breadcrumb">
      <li class="root"><%= localized_link_to 'Home', '/stat', :class => 'ss-icon' %></li>
      <li><span class="ss-icon">navigateright</span></li>
      <li class="main"><%= localized_link_to 'Configuration', '/manage/site_config' %></li>
    </ul>
  </div>

  <%
    admin_links = [{
      title: 'GovStat',
      color: '#002635',
      links: [
        { icon: 'users', text: 'Users', href: users_path, right: :manage_users },
        { icon: 'linecharts', text: 'Analytics', href: '/admin/analytics',
          module_available: :advanced_metrics }
      ]
    }, {
      title: 'Data Management',
      color: '#d97925',
      links: [
        { icon: 'notebook', text: 'Datasets', href: '/admin/datasets',
          right: :edit_others_datasets },
        { icon: 'searchbarcode', text: 'Metadata', href: '/admin/metadata',
          right: :edit_site_theme },
        { icon: 'contract', text: 'Federations', href: '/admin/federations',
          right: :federations, module_available: :federations },
        { icon: 'check', text: 'Routing and Approval', href: '/admin/routing_approval',
          module_available: :routing_approval } # current_user.can_approve?
      ]
    }, {
      title: 'Appearance',
      color: '#a1ba25',
      links: [
        { icon: 'bankcheck', text: 'Data Player Templates', href: '/admin/sdp_templates',
          right: :edit_sdp, module_available: :sdp_customizer },
        { icon: 'browseonline', text: 'Homepage', href: '/admin/home',
          right: :edit_site_theme }
      ]
    }, {
      title: 'Content Moderation',
      color: '#a92c2a',
      links: [
        { icon: 'chat', text: 'Comment Moderation', href: '/admin/comment_moderation',
          right: :moderate_comments, module_available: :publisher_comment_moderation },
        { icon: 'userprofile', text: 'Nomination Moderation', href: '/admin/nominations',
          right: :approve_nominations, feature: :view_moderation }
      ]
    }]
  %>

  <div class="categoryList gridFlowLayout nonDS clearfix">
    <% admin_links.each do |cat| %>
      <div class="categoryItem">
        <%
          relevant_links = cat[:links].reject do |link|
            (link[:right].present? and !CurrentDomain.user_can?(current_user, link[:right])) or
            (link[:module_available].present? and !CurrentDomain.module_available?(link[:module_available])) or
            (link[:module_enabled].present? and !CurrentDomain.module_available?(link[:module_enabled])) or
            (link[:feature].present? and !CurrentDomain.feature?(link[:feature]))
          end

          next if relevant_links.empty?
        %>

        <div class="categoryTitle"><h2 style="color:<%= cat[:color] %>"><%= cat[:title] %></h2></div>
        <div class="clearfix">
          <% relevant_links.each do |link| %>
            <div class="singleItem" style="background-color:<%= cat[:color] %>">
              <div class="singleInner">
                <div class="title"><span class="fullIcon ss-icon"><%= link[:icon] %></span></div>
                <div class="primaryAction">
                  <a href="<%= link[:href] %>"><span class="actionDetails ss-right"><%= link[:text] %></span></a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  </div>
  <div class="actionLinks">
  </div>
</div>

