<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-govstat-manage' %>
  <title>Manage Reports | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div id="manageReportsPage">
  <div class="headerLine">
    <a class="button manageLink" href="<%= manage_path %>"><span class="ss-left">Back</span></a>
  </div>

  <div class="gridFlowLayout nonDS clearfix">
    <%- @reports.each do |report| -%>
      <div class="singleItem">
        <div class="singleInner">
          <div class="title"><h2><%= report.name %></h2></div>
          <div class="primaryAction">
            <a href="<%= report.path %>?_edit_mode=true"><span class="actionDetails ss-write">Edit Report</span></a>
          </div>
        </div>
      </div>
    <%- end -%>
    <div class="singleItem addNewItem">
      <a class="primaryAction" href="<%= canvas_create_path %>">
        <span class="actionDetails ss-compose">Create New Report</span></a>
    </div>
  </div>
</div>
