<%- prefix = 'govstat.configuration' %>
<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-govstat-manage' %>
  <title><%= t("#{prefix}.title") %> | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div id="manageConfigPage">
  <div class="subnavigation">
    <ul class="breadcrumb">
      <li class="root"><%= localized_link_to 'Home', '/stat', :class => 'ss-icon' %></li>
      <li><span class="ss-icon">navigateright</span></li>
      <li class="main"><%= localized_link_to t("#{prefix}.config"), '/manage/site_config' %></li>
    </ul>
  </div>

  <%
    admin_links = [{
      title: 'GovStat',
      color: '#002635',
      links: [
        { icon: 'users', translateKey: 'users', href: '/admin/users', right: :manage_users },
        { icon: 'linecharts', translateKey: 'analytics', href: '/admin/analytics' }
      ]
    }, {
      title: t("#{prefix}.data_management"),
      color: '#d97925',
      links: [
        { icon: 'notebook', translateKey: 'datasets', href: '/admin/datasets',
          right: :edit_others_datasets },
        { icon: 'searchbarcode', translateKey: 'metadata', href: '/admin/metadata',
          right: :edit_site_theme },
        { icon: 'contract', translateKey: 'federations', href: '/admin/federations',
          right: :federations, module_available: :federations },
        { icon: 'check', translateKey: 'routing', href: '/admin/routing_approval',
          module_enabled: :routing_approval } # current_user.can_approve?
      ]
    }, {
      title: t("#{prefix}.appearance"),
      color: '#a1ba25',
      links: [
        { icon: 'bankcheck', translateKey: 'sdp_templates', href: '/admin/sdp_templates',
          right: :edit_sdp },
        { icon: 'browseonline', translateKey: 'homepage', href: '/admin/home',
          right: :edit_site_theme }
      ]
    }, {
      title: t("#{prefix}.content_moderation"),
      color: '#a92c2a',
      links: [
        { icon: 'chat', translateKey: 'moderation', href: '/admin/comment_moderation',
          right: :moderate_comments },
        { icon: 'userprofile', translateKey: 'nomination', href: '/admin/nominations',
          right: :approve_nominations, feature: :view_moderation }
      ]
    }]
  %>

  <div class="categoryList gridFlowLayout nonDS clearfix">
    <% admin_links.each do |cat| %>
      <div class="categoryItem">
        <%
          relevant_links = cat[:links].reject do |link|
            (link[:right].present? and !CurrentDomain.user_can?(current_user, link[:right])) or
            (link[:module_enabled].present? and !CurrentDomain.module_enabled?(link[:module_enabled])) or
            (link[:module_available].present? and !CurrentDomain.module_available?(link[:module_available])) or
            (link[:feature].present? and !CurrentDomain.feature?(link[:feature]))
          end

          next if relevant_links.empty?
        %>

        <div class="categoryTitle"><h2 style="color:<%= cat[:color] %>"><%= cat[:title] %></h2></div>
        <div class="clearfix">
          <% relevant_links.each do |link| %>
            <div class="singleItem" style="background-color:<%= cat[:color] %>">
              <div class="singleInner">
                <div class="title"><span class="fullIcon ss-icon"><%= link[:icon] %></span></div>
                <div class="primaryAction">
                  <a href="<%= I18n.locale.to_s != CurrentDomain.default_locale ? "/#{I18n.locale}#{link[:href]}" : link[:href] %>"><span class="actionDetails ss-right"><%= t("#{prefix}.#{link[:translateKey]}") %></span></a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  </div>
  <div class="actionLinks">
  </div>
</div>

<%= render_translations LocalePart.controls.global_indicator %>
