<%- prefix = 'govstat.reports.manage' %>
<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-govstat-manage' %>
  <title><%= t("#{prefix}.title") %> | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div id="manageReportsPage">
  <div class="subnavigation">
    <ul class="breadcrumb">
      <li class="root"><%= localized_link_to 'Home', '/stat', :class => "ss-icon" %></li>
      <li><span class="ss-icon">navigateright</span></li>
      <li class="main"><%= localized_link_to t("#{prefix}.reports"), '/manage/reports' %></a></li>
    </ul>
  </div>

  <div class="gridFlowLayout nonDS clearfix">
    <div class="categoryItem ownerReports">
      <div class="categoryTitle"><h2><%= t("#{prefix}.your_reports") %></h2></div>
      <div class="clearfix">
        <div class="singleItem addNewItem">
          <a class="primaryAction" href="<%= canvas_create_path %>">
            <span class="actionDetails ss-compose"><%= t("#{prefix}.create_new_report") %></span></a>
        </div>
        <%- @own_reports.each do |report| -%>
          <div class="singleItem">
            <div class="singleInner" title="<%= report.name %>">
              <div class="title"><h2><%= report.name %></h2></div>
              <div class="secondaryAction">
                <a href="<%= report.path %>?_edit_mode=true" class="button edit">
                  <span class="actionDetails ss-write"><%= t("#{prefix}.edit") %></span></a>
                <a href="#delete" class="button delete" data-id="<%= report.uid %>"
                  data-oldid="<%= report.path %>">
                  <span class="actionDetails ss-trash"><%= t("#{prefix}.delete") %></span></a>
                <a href="#copy" class="button copy" data-id="<%= report.uid %>"
                  data-oldid="<%= report.path %>">
                  <span class="actionDetails ss-fork"><%= t("#{prefix}.copy") %></span></a>
              </div>
              <div class="primaryAction">
                <a href="<%= report.path %>"><span class="actionDetails ss-right"></span></a>
              </div>
              <div class="secondaryMetadata"><%= t("#{prefix}.updated") %>: <%= blist_date(report.updated_at) %></div>
            </div>
          </div>
        <%- end -%>
      </div>
    </div>

    <div class="categoryItem otherReports">
      <div class="categoryTitle"><h2><%= t("#{prefix}.other_reports") %></h2></div>
      <div class="clearfix">
        <%- @other_reports.each do |report| -%>
          <div class="singleItem">
            <div class="singleInner" title="<%= report.name %>">
              <div class="title"><h2><%= report.name %></h2></div>
              <div class="primaryAction">
                <a href="<%= report.path %>"><span class="actionDetails ss-right"></span></a>
              </div>
              <div class="secondaryAction">
                <%- if CurrentDomain.user_can?(current_user, 'edit_pages' ) -%>
                <a href="<%= report.path %>?_edit_mode=true" class="button edit">
                  <span class="actionDetails ss-write"><%= t("#{prefix}.edit") %></span></a>
                <a href="#delete" class="button delete" data-id="<%= report.uid %>"
                  data-oldid="<%= report.path %>">
                  <span class="actionDetails ss-trash"><%= t("#{prefix}.delete") %></span></a>
                <%- end -%>
                <a href="#copy" class="button copy" data-id="<%= report.uid %>"
                  data-oldid="<%= report.path %>">
                  <span class="actionDetails ss-fork"><%= t("#{prefix}.copy") %></span></a>
              </div>
              <div class="secondaryMetadata">
                <%- o = report.owner_user
                    if !o.nil? -%>
                <span class="mdLine"><%= t("#{prefix}.owner") %>: <%= o.displayName %></span>
                <%- end -%>
                <span class="mdLine"><%= t("#{prefix}.updated") %>: <%= blist_date(report.updated_at) %></span>
              </div>
            </div>
          </div>
        <%- end -%>
      </div>
    </div>
  </div>
</div>

<%- content_for :new_modals do -%>
  <%= render :partial => 'modals/configurator_settings' %>
<%- end -%>

<% content_for :js_footer do %>
  <%= include_javascripts 'screen-govstat-manage' %>
<% end %>
