<% content_for :headline do %>
<h1><span class="sortOrderIcon">Sort Order</span></h1>
<% end %>

<div class='modalContentWrapper sortWrapper columnPickerModal'>
  <p class="subtitle">Drag columns on the left in the order you want them sorted</p>

  <%- is_empty = @selected.length < 1 && @unselected.length < 1 -%>

  <%- if is_empty -%>
  <p class='emptyMessage'>
  There are no visible columns to sort on.  Please add or unhide some
  columns, then try again.
  </p>

  <%- else -%>
  <div id="sortBysList" class="reorderList clearfix">
    <div class='activeBlock listBlock'>
      <h4>Sorted Columns</h4>
      <h4 class="actionLabel">Order</h4>
      <div class='listWrapper clearfix'>
        <div class="border"></div>
        <div class="activeList list">
          <ul class="reorder">
            <% @selected.each_with_index do |sort, i| %>
            <%-
            # There appears to be some legacy data which has sort bys on child
            # (something we no longer support). Either way, these columns don't
            # exist in the view's top level columns so View#column_by_id fails
            # to find them and we need to fail gracefully. When the new sort bys
            # are POSTed to the server, the legacy data will be removed.
            col = @view.column_by_id(sort['columnId'])
            if !col.nil?
            -%>
            <li>
            <div class="itemWrapper">
              <span class="orderIndex"><%= i + 1 %></span>
              <div class="type datatype-<%= col.client_type(col.dataTypeName) ||
                col.client_type %>"></div>
              <span class='name'><%= col.name %></span>
              <div class="controls">
                <div class="sort sort-<%= sort['asc'] ? 'asc' : 'desc' %>"
                  title="Click to sort <%= sort['asc'] ?
                  "descending" : "ascending" %>"></div>
              </div>
              <%= hidden_field_tag("sort-#{sort['columnId']}", true,
              :class => "viewColumnId", :value => sort['columnId']) %>
              <%= hidden_field_tag("sort-#{sort['columnId']}-asc", true,
              :class => "asc", :value => sort['asc']) %>
              <%= hidden_field_tag("sort-#{sort['columnId']}-order", i,
              :class => 'orderField') %>
            </div>
            </li>
            <%- end -%>
            <%- end -%>
          </ul>
        </div>
      </div>
      <a href="#removeAll" class="removeAllLink">Remove All</a>
    </div>


    <div class="swapArrows">
      <a href="#addItem" class="addItemButton">Add</a>
      <a href="#removeItem" class="removeItemButton">Remove</a>
    </div>

    <div class='listBlock'>
      <h4>Unsorted Columns</h4>
      <div class='listWrapper clearfix'>
        <div class="border"></div>
        <div class="inactiveList list">
          <ul class="reorder">
            <%- @unselected.each_with_index do |sort, i| -%>
            <%- col = @view.column_by_id(sort['columnId']) -%>
            <li>
            <div class="itemWrapper">
              <span class="orderIndex hide"></span>
              <div class="type datatype-<%= col.client_type(col.dataTypeName) ||
                col.client_type %>"></div>
              <span class='name'><%= col.name %></span>
              <div class="controls hide">
                <div class="sort sort-asc" title="Click to sort descending"></div>
              </div>
              <%= hidden_field_tag("sort-#{col.id}", true,
              :class => "viewColumnId", :value => "#{col.id}") %>
              <%= hidden_field_tag("sort-#{col.id}-asc", true,
              :class => "asc", :value => "true") %>
              <%= hidden_field_tag("sort-#{col.id}-order", i,
              :class => 'orderField') %>
            </div>
            </li>
            <%- end -%>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="error mainError"></div>
  <%- end -%>

  <div class='submitLine clearfix'>
    <ul class='actionButtons clearfix'>
      <%- if !is_empty -%>
      <li><a href="#" class="arrowButton save">Sort</a></li>
      <%- end -%>
      <li><a href='#cancel' class='jqmClose <%= is_empty ? 'arrowButton' : '' %>'>
        <%= is_empty ? 'Continue' : 'Cancel' %>
      </a></li>
    </ul>
  </div>
</div>

<%- if !is_empty -%>
<script type="text/javascript" charset="utf-8">
  blist.common.modalReady = function()
  {
    var toggleOrderLabel = function()
    {
        if ($(".activeList li").length > 0)
        {
            $(".sortWrapper .actionLabel").show();
        }
        else
        {
            $(".sortWrapper .actionLabel").hide();
        }
    }

    toggleOrderLabel();

    var toggleSortOrder = function($item) {
        if ($item.hasClass("sort-desc"))
        {
            $item.removeClass("sort-desc")
                .addClass("sort-asc")
                .attr("title", "Click to sort descending");
            $item.parent()
                .nextAll("input.asc").val("true");
        }
        else
        {
            $item.removeClass("sort-asc")
                .addClass("sort-desc")
                .attr("title", "Click to sort ascending");
            $item.parent()
                .nextAll("input.asc").val("false");
        }
    };

    var valueChanged = function() {
        $("#modal .activeList div.controls").removeClass("hide");
        $("#modal .inactiveList div.controls").addClass("hide");

        toggleOrderLabel();
    };

    $("#modal div.controls").click(function() {
        toggleSortOrder($(this).find(".sort"));
    });

    $('#modal #sortBysList').reorderableList({onChange: valueChanged});

    $("#modal .save").click(function(event) {
        event.preventDefault();
        var orderBys = [];

        $.each($("#modal .activeList .itemWrapper"), function(i, sortItem) {
            var order = {
                expression:
                { columnId: $(sortItem).find("input.viewColumnId").val(),
                  type: 'column' },
                ascending: $(sortItem).find("input.asc").val() == "true",
                position: parseInt($(sortItem).find(".orderIndex").text())
            };

            orderBys.push(order);
        });

        orderBys.sort(function(s1, s2) { return s1.position - s2.position; });
        $.each(orderBys, function(i, o) { delete o.position; });

        $("#dataGrid").blistModel().multiSort(orderBys);
        $("#modal .jqmClose").click();
    });

    $.analytics.trackEvent('Dataset Page Menu', 'Sort dialog opened', blistGridNS.viewId);
  };
</script>
<%- end -%>
