<% content_for :head do %>
  <title>Current Version | <%= get_site_title %></title>
<% end %>

<div class="modalContentBox wide">
  <div class="contentHeader">
    <h1><%= CurrentDomain.strings.company %></h1>
  </div>

  <div class="dialogContents">
    <div class="title clearfix"><h2>Version Info</h2></div>

    <dl class="versionInfo">
      <dt><em>Current Version:</em></dt><dd><%= Frontend.version %></dd>
      <dt><em><a href="https://github.com/socrata/platform-ui/tree/<%= @revision_number %>/frontend">Current Revision</a>:</em></dt><dd><%= @revision_number %></dd>
      <dt><em>Last Deployment:</em></dt><dd><%= @revision_date.to_s %></dd>
      <dt><em><a href="https://github.com/socrata/cheetah/tree/<%= @cheetah_revision_number %>">Current Cheetah Revision</a>:</em></dt><dd><%= @cheetah_revision_number %></dd>
    </dl>
  </div>
</div>
