<div class="aboutDataset">
  <div class="aboutHeader clearfix">
    <img class="aboutAuthorImage" alt="<%= @view.owner.displayName %>"
      src="<%= @view.owner.profile_image_path("medium") %>"/>
    <a class="aboutAuthorName" href="<%= @view.owner.href %>"><%= @view.owner.displayName %></a>
    <p><em>created</em> <span class="aboutCreateDate"><%= blist_date(@view.createdAt) %></span></p>
    <p><em>updated</em> <span class="aboutUpdateDate"><%= blist_date(@view.last_activity) %></span></p>
  </div>

  <%- if @view.can_edit? -%>
    <a href="<%= @view.href %>/edit_metadata" class="fullButton editMetadataButton">Edit Metadata</a>
  <%- end -%>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Description
    </a>
    <div class="sectionContent">
      <p><%= @view.description || "(none)" %></p>
    </div>
  </div>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Activity
    </a>
    <dl class="sectionContent">
      <%- (CurrentDomain.properties.rating_types || ["rating"]).each do |rating_type| -%>
        <dt><%= rating_type.titleize %></dt>
        <dd class="clearfix">
          <div class="starsControl datasetAverageRating" data-rating="<%= @view.average_rating(rating_type) %>" data-rating-type="<%= rating_type %>">
            <%= @view.average_rating(rating_type) %>
          </div>
        </dd>
      <%- end -%>
      <dt>Raters</dt>
      <dd class="totalTimesRated"><%= @view.totalTimesRated %></dd>
      <dt>Visits</dt>
      <dd><%= @view.viewCount %></dd>
      <dt>Comments</dt>
      <dd class="numberOfComments"><%= @view.numberOfComments %></dd>
      <dt>Contributors</dt>
      <dd><%= @view.contributor_users.length %></dd>
      <%- if @view.owned_by?(current_user) || CurrentDomain.user_can?(current_user, :edit_others_datasets) -%>
        <dt class='widenedItem'>
          <%= link_to 'View Statistics', "#{@view.href}/stats" %>
        </dt>
        <dd>&nbsp;</dd>
      <%- end -%>
    </dl>
  </div>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Meta
    </a>
    <dl class="sectionContent">
      <dt>Category</dt>
      <dd><%= @view.category || '(none)' %></dd>
      <dt>Permissions</dt>
      <dd><%= @view.is_public? ? 'Public' : 'Private' %></dd>
      <dt>Tags</dt>
      <dd><span class="wrap"><%= @view.tag_display_string %></span></dd>
    </dl>
  </div>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Links
    </a>
    <dl class="sectionContent">
      <dt>Permalink</dt>
      <dd><span class="hardWrap"><%= link_to_url request.protocol +
        request.host_with_port + @view.href, :rel => 'external' %></span></dd>
      <dt>Short URL</dt>
      <dd><span class="hardWrap"><%= link_to_url request.protocol +
        request.host_with_port.gsub(/www\./, '') + @view.short_href,
        :rel => 'external' %></span></dd>
    </dl>
  </div>

<%- if @view.metadata && !@view.metadata.attachments.blank? -%>
  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Attachments
    </a>
    <ul class="sectionContent">
      <%- @view.metadata.attachments.each do |attachment| -%>
        <%- attachmentObj = Attachment.set_up_model(attachment) -%>
        <li>
          <%= link_to( h(attachmentObj.displayName), attachmentObj.href, :target => "_blank" ) %>
        </li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Licensing and Attribution
    </a>
    <dl class="sectionContent">
      <dt>Data Provided By</dt>
      <dd><%= @view.property_or_default(['attribution']) || '(none)' %></dd>
      <dt>Source Link</dt>
      <dd><%= @view.property_or_default(['attributionLink']).blank? ?
                '(none)' :
                link_to_url(h(@view.property_or_default(['attributionLink'])), :rel => 'nofollow external') %></dd>
      <%- if @view.property_or_default(['license']) -%>
        <dt>License</dt>
        <dd>
          <%- if @view.property_or_default(['license']).nil? -%>
            (none)
          <%- elsif @view.property_or_default(['license', 'logoUrl']).blank? -%>
            <%= @view.property_or_default(['license', 'name']) %>
          <%- else -%>
            <a href="<%= @view.property_or_default(['license', 'termsLink']) %>" rel="nofollow external">
              <img src="/<%= @view.property_or_default(['license', 'logoUrl']) %>" alt="<%= @view.property_or_default(['license', 'name']) %>" />
            </a>
          <%- end -%>
        </dd>
      <%- end -%>
      <%- if @view.property_or_default(['termsAndConditions']) -%>
        <dt>Terms of Use</dt>
        <dd><span class="wrap"><%= @view.property_or_default(['termsAndConditions']) %></span></dd>
      <%- end -%>
    </dl>
  </div>

<%- if @view.is_tabular? -%>
  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Advanced
    </a>
    <dl class="sectionContent">
      <dt>Semantic Class</dt>
      <dd><span class="hardWrap"><%= rdf_class_display_name(@view.rdf_class) %></span></dd>
      <dt>Subject Column</dt>
      <dd><%= @view.rdf_subject %></dd>
    </dl>
  </div>
<%- end -%>

<%- if @view.metadata && @view.metadata.custom_fields -%>
  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Additional Information
    </a>
    <dl class="sectionContent">
      <%- @view.metadata.custom_fields.each do |field| -%>
        <dt><%= h(field.first) %></dt>
        <dd><span class="wrap">
          <%= raw auto_link(h(field.last), :html => { :rel => 'nofollow external' }) %>
        </span></dd>
      <%- end -%>
    </dl>
  </div>
<%- end -%>

<%- if current_user.nil? || (current_user.id != @view.owner.id) -%>
  <div class="formSection">
    <a href="#expand" class="expander expanded formHeader">
      <span class="icon"></span>
      Actions
    </a>
    <div class="flash"></div>
    <dl class="sectionContent contactOwnerLinks">
      <dt class="widenedItem">
        <%= link_to 'Flag Dataset', '#flag', :class => 'contactButton', 'data-select' => '' %>
      </dt>
      <dd>&nbsp;</dd>
      <dt class="widenedItem">
        <%= link_to 'Contact Dataset Owner', '#contact',
            {:class => 'contactButton', 'data-select' => 'other'} %>
      </dt>
      <dd>&nbsp;</dd>
    </dl>
  </div>
<%- end -%>

</div>
