<div class="aboutDataset">
  <div class="aboutHeader clearfix">
    <a class="aboutAuthorImageLink" href="<%= @view.owner.href %>">
      <img class="aboutAuthorImage" alt="<%= @view.owner.displayName %>"
        src="<%= @view.owner.profile_image_path("medium") %>"/>
    </a>
    <a class="aboutAuthorName" href="<%= @view.owner.href %>"><%= @view.owner.displayName %></a>
    <p><em>created</em> <span class="aboutCreateDate"><%= blist_date(@view.createdAt) %></span></p>
    <p><em>updated</em> <span class="aboutUpdateDate"><%= blist_date(@view.last_activity) %></span></p>
  </div>

  <%- if @view.has_rights?('update_view') -%>
    <a href="<%= @view.href %>/edit_metadata" class="fullButton editMetadataButton">Edit Metadata</a>
  <%- end -%>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Description
    </a>
    <div class="sectionContent">
      <p><%= raw(auto_link(h(@view.description), :html => { :rel => 'nofollow' })) || "(none)" %></p>
    </div>
  </div>

  <%- approval = Approval.find()[0] -%>
  <%- next_stage = @view.next_approval_stage(approval) -%>
  <%- if !next_stage.nil? -%>
  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Routing & Approval
    </a>
    <dl class="sectionContent">
      <%- last_app = @view.last_approval -%>
      <%- last_app_rej = @view.last_approval(true) -%>
      <dt>Stage</dt>
      <dd class='stage'>
        <div class='icon'>
          <%- @view.approval_stream(approval).each do |as| -%>
          <span class='<%= as['approvalRejected'] ? 'rejected' : 'on' %>'
            title='<%= approval.stage(as['approvalStageId'])['name'] %>'></span>
          <%- end -%>
          <%- (approval.stages.length - @view.approval_stream(approval).length).times do |i| -%>
          <span class='off'></span>
          <%- end -%>
        </div>
        <span class='name'><%= approval.stage((last_app || {})['approvalStageId'])['name'] %></span>
      </dd>
      <%- if CurrentDomain.user_can?(current_user, 'manage_approval') ||
        ((@view.next_approval_stage(approval) || {})['approverUids'] || []).include?(current_user.id) -%>
      <dt>Actions</dt>
      <dd class='actions'>
        <% form_button({:action => 'approve_view', :controller => 'administration', :id => @view.id,
            :approved => 'yes'}, 'Approve', {}, {:class => 'button approve'}) %>
        <%- if last_app_rej.nil? || !last_app_rej['approvalRejected'] -%>
        <% form_button({:action => 'approve_view', :controller => 'administration', :id => @view.id,
            :approved => 'no'}, 'Reject', {}, {:class => 'button reject'}) %>
        <%- end -%>
      </dd>
      <%- end -%>
      <%- if !@view.approval_history.empty? -%>
      <dt>Last <%= last_app_rej['approvalRejected'] ? 'Rejected' : 'Approved' %> By</dt>
      <%- last_user = User.find(last_app_rej['approverUserUid']) -%>
      <dd><a href='<%= last_user.href %>'><%= last_user.displayName %></a></dd>
      <dt>Date of Last <%= last_app_rej['approvalRejected'] ? 'Rejection' : 'Approval' %></dt>
      <dd><%= blist_date(last_app_rej['approvalDate']) %></dd>
      <%- end -%>
      <dt>Next Approver</dt>
      <%- @next_approvers = {}
        (CoreServer::Base.connection.batch_request do
          (next_stage['approverUids'] || []).each do |userId|
            User.find(userId, {}, true)
          end
        end || []).each do |r|
          u = User.parse(r['response'])
          @next_approvers[u.id] = u
        end -%>
      <dd><ul>
        <%- (next_stage['approverUids'] || []).each do |uid| -%>
        <%- u = @next_approvers[uid] -%>
        <li><a href='<%= u.href %>'><%= u.displayName %></a></li>
        <%- end -%>
      </ul></dd>
    </dl>
  </div>
  <%- end -%>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Activity
    </a>
    <dl class="sectionContent">
      <%- (CurrentDomain.properties.rating_types || ["rating"]).each do |rating_type| -%>
        <dt><%= rating_type.titleize %></dt>
        <dd class="clearfix">
          <div class="starsControl datasetAverageRating" data-rating="<%= @view.average_rating(rating_type) %>" data-rating-type="<%= rating_type %>">
            <%= @view.average_rating(rating_type) %>
          </div>
        </dd>
      <%- end -%>
      <dt>Raters</dt>
      <dd class="totalTimesRated"><%= @view.totalTimesRated %></dd>
      <dt>Visits</dt>
      <dd><%= @view.viewCount %></dd>
      <dt>Comments</dt>
      <dd class="numberOfComments"><%= @view.numberOfComments %></dd>
      <dt>Contributors</dt>
      <dd><%= @view.contributor_users.length %></dd>
      <%- if @view.user_granted?(current_user) || CurrentDomain.user_can?(current_user, :edit_others_datasets) -%>
        <dt class='widenedItem'>
          <%= link_to 'View Statistics', "#{@view.href}/stats" %>
        </dt>
        <dd>&nbsp;</dd>
      <%- end -%>
    </dl>
  </div>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Meta
    </a>
    <dl class="sectionContent">
      <dt>Category</dt>
      <dd><%= @view.category || '(none)' %></dd>
      <dt>Permissions</dt>
      <dd><%= @view.is_public? ? 'Public' : 'Private' %></dd>
      <dt>Tags</dt>
      <dd><span class="wrap"><%= @view.tag_display_string %></span></dd>
    </dl>
  </div>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Links
    </a>
    <dl class="sectionContent">
      <dt>Permalink</dt>
      <dd><span class="hardWrap"><%= link_to_url request.protocol +
        request.host_with_port + @view.href, :rel => 'external' %></span></dd>
      <dt>Short URL</dt>
      <dd><span class="hardWrap"><%= link_to_url request.protocol +
        request.host_with_port.gsub(/www\./, '') + @view.short_href,
        :rel => 'external' %></span></dd>
    </dl>
  </div>

<%- if @view.metadata && !@view.metadata.attachments.blank? -%>
  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Attachments
    </a>
    <ul class="sectionContent">
      <%- @view.metadata.attachments.each do |attachment| -%>
        <%- attachmentObj = Attachment.set_up_model(attachment) -%>
        <li>
          <%= link_to( attachmentObj.displayName, attachmentObj.href, :target => "_blank" ) %>
        </li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Licensing and Attribution
    </a>
    <dl class="sectionContent">
      <dt>Data Provided By</dt>
      <dd><%= @view.property_or_default(['attribution']) || '(none)' %></dd>
      <dt>Source Link</dt>
      <dd><%= @view.property_or_default(['attributionLink']).blank? ?
                '(none)' :
                link_to_url(h(@view.property_or_default(['attributionLink'])), :rel => 'nofollow external') %></dd>
      <%- if @view.property_or_default(['license']) -%>
        <dt>License</dt>
        <dd>
          <%- if @view.property_or_default(['license']).nil? -%>
            (none)
          <%- elsif @view.property_or_default(['license', 'logoUrl']).blank? -%>
            <%= @view.property_or_default(['license', 'name']) %>
          <%- else -%>
            <a href="<%= @view.property_or_default(['license', 'termsLink']) %>" rel="nofollow external">
              <img src="/<%= @view.property_or_default(['license', 'logoUrl']) %>" alt="<%= @view.property_or_default(['license', 'name']) %>" />
            </a>
          <%- end -%>
        </dd>
      <%- end -%>
      <%- if @view.property_or_default(['termsAndConditions']) -%>
        <dt>Terms of Use</dt>
        <dd><span class="wrap"><%= @view.property_or_default(['termsAndConditions']) %></span></dd>
      <%- end -%>
    </dl>
  </div>

<%- if !@view.data['northWest'].nil? -%>
  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Spatial Extent
    </a>
    <div class="sectionContent">
      <%- extent = extent_html(@view.data['northWest']['lat'],
            @view.data['northWest']['long'],
            @view.data['southEast']['lat'],
            @view.data['southEast']['long']) -%>
      <%= raw extent %>
    </div>
  </div>
<%- end -%>

<%- if @view.is_tabular? -%>
  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Semantics and RDF
    </a>
    <dl class="sectionContent">
      <dt>Row Class</dt>
      <dd><span class="hardWrap"><%= @view.rdf_class_display_name %></span></dd>
      <dt>Subject Column</dt>
      <dd><%= @view.rdf_subject %></dd>
    </dl>
  </div>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Permanent Links
    </a>
    <dl class="sectionContent">
      <dt>Resource Name</dt>
      <dd><span class="hardWrap"><%= @view.resourceName %></span></dd>
      <dt>Row Identifier</dt>
      <dd><%= @view.row_identifier %></dd>
    </dl>
  </div>

<%- end -%>

<%- view_meta = @view.merged_metadata['custom_fields'] -%>
<%- if !view_meta.blank? -%>
  <%- merge_custom_metadata(@view).each do |fieldset| -%>
    <%- if (fieldset.fields || []).any? { |field| (view_meta[fieldset.name] || {})[field.name].present? } %>
      <div class="formSection">
        <a class="expander expanded formHeader" href="#expand">
          <span class="icon"></span>
          <%= fieldset.name %>
        </a>
        <%- existing_fields = (view_meta &&
            view_meta.assoc(fieldset.name)) ?
            view_meta.assoc(fieldset.name)[1] : {} -%>

        <dl class="sectionContent">
          <%- (fieldset.fields || []).each do |field| -%>
            <%- unless existing_fields[field.name].blank? -%>
              <dt><%= field.name %></dt>
              <dd><span class="wrap">
                  <%= raw(auto_link(h(existing_fields[field.name])|| '',
                      :html => { :rel => 'nofollow external' })) %>
              </span></dd>
            <%- end -%>
          <%- end -%>
        </dl>
      </div>
    <%- end -%>
  <%- end -%>
<%- end -%>

<%- if !CurrentDomain.feature?("disable_owner_contact") && (current_user.nil? || (current_user.id != @view.owner.id)) -%>
  <div class="formSection">
    <a href="#expand" class="expander expanded formHeader">
      <span class="icon"></span>
      Actions
    </a>
    <div class="flash"></div>
    <dl class="sectionContent contactOwnerLinks">
      <dt class="widenedItem">
      <%= link_to 'Flag Dataset', local_assigns[:static_links] ?
        contact_dataset_path(@view.id) : '#flag',
        :class => 'contactButton', 'data-select' => '' %>
      </dt>
      <dd>&nbsp;</dd>
      <dt class="widenedItem">
      <%= link_to 'Contact Dataset Owner', local_assigns[:static_links] ?
        contact_dataset_path(@view.id) : '#contact',
            {:class => 'contactButton', 'data-select' => 'other'} %>
      </dt>
      <dd>&nbsp;</dd>
    </dl>
  </div>
<%- end -%>

</div>
