<div class="aboutDataset">
  <div class="aboutHeader clearfix">
    <a class="aboutAuthorImageLink" href="<%= @view.owner.href %>">
      <img class="aboutAuthorImage" alt="<%= @view.owner.displayName %>"
        src="<%= @view.owner.profile_image_path("medium") %>"/>
    </a>
    <a class="aboutAuthorName" href="<%= @view.owner.href %>"><%= @view.owner.displayName %></a>
    <p><em>created</em> <span class="aboutCreateDate"><%= blist_date(@view.createdAt) %></span></p>
    <%- if @view.is_snapshotted? -%>
    <p><em>snapshotted</em> <span class="aboutUpdateDate"><%= blist_date(@view.publicationDate) %></span></p>
    <%- else -%>
    <p><em>updated</em> <span class="aboutUpdateDate"><%= blist_date(@view.last_activity) %></span></p>
    <%- end -%>
  </div>

  <%- if @view.has_rights?('update_view') -%>
    <a href="<%= @view.href %>/edit_metadata" class="fullButton editMetadataButton">Edit Metadata</a>
  <%- end -%>

  <%- unless local_assigns[:full_page] -%>
    <a href="<%= @view.href %>/about" class="viewFullLink fullButton">View Full Page</a>
  <%- end -%>

  <%- if @view.custom_image.present? -%>
  <div class="customImageSection clearfix">
    <div class="sectionContent">
      <img alt="icon" src="<%= @view.custom_image('large') %>" class="datasetCustomImage" />
    </div>
  </div>
  <%- end -%>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Description
    </a>
    <div class="sectionContent">
      <p><%= raw(auto_link(h(@view.description), :html => { :rel => 'nofollow' })) || "(none)" %></p>
    </div>
  </div>

  <%- approval = Approval.find()[0] -%>
  <%- if module_available?(:routing_approval) && !approval.nil? && !current_user.nil? &&
    (current_user.can_approve? || current_user.id == @view.owner.id) -%>
  <%- next_stage = @view.next_approval_stage(approval) -%>
  <%- @users = {}
    (CoreServer::Base.connection.batch_request do
      ((next_stage || {})['approverUids'] || []).each do |userId|
        User.find(userId, {}, true)
      end
      (@view.approval_history || []).each do |ah|
        User.find(ah['approverUserUid'], {}, true)
      end
    end || []).each do |r|
      u = User.parse(r['response'])
      @users[u.id] = u
    end -%>

  <div class="formSection">
    <a class="expander <%= !next_stage.nil? ? "expanded" : "collapsed" %> formHeader" href="#expand">
      <span class="icon"></span>
      Routing &amp; Approval
    </a>
    <dl class="sectionContent routingApproval" style="<%= next_stage.nil? &&
      !local_assigns[:full_page] ? 'display:none' : '' %>">
      <%- last_app = @view.last_approval -%>
      <%- last_app_rej = @view.last_approval(true) -%>
      <dt>Stage</dt>
      <dd class="stage">
        <%= render :partial => 'datasets/stage_icon', :locals => {:view => @view, :approval => approval} %>
        <span class="name"><%= approval.stage((last_app || {})['approvalStageId'])['name'] %></span>
      </dd>
      <%- if !next_stage.nil? -%>
      <%- if CurrentDomain.user_can?(current_user, 'manage_approval') ||
        (next_stage['approverUids'] || []).include?(current_user.id) -%>
      <dt>Actions</dt>
      <dd class="actions">
        <% form_button({:action => 'approve_view', :controller => 'administration', :id => @view.id,
            :approved => 'yes'}, 'Approve', {}, {:class => 'button approve'}) %>
        <%- if last_app_rej.nil? || last_app_rej['approvalTypeName'] != 'R' -%>
        <% form_button({:action => 'approve_view', :controller => 'administration', :id => @view.id,
            :approved => 'no'}, 'Reject', {},
            {:class => 'button reject'}) do %>
            <% '<div class="rejectionReason">'.html_safe +
              label_tag('Rejection reason') + text_area_tag('comment') + '</div>'.html_safe %>
        <% end %>
        <%- end -%>
      </dd>
      <%- end -%>
      <dt>Next Approver</dt>
      <dd><ul>
        <%- (next_stage['approverUids'] || []).each do |uid| -%>
        <%- u = @users[uid] -%>
        <li><a href='<%= u.href %>'><%= u.displayName %></a></li>
        <%- end -%>
      </ul></dd>
      <%- end -%>
    </dl>
  </div>

  <%- if !@view.approval_history.empty? -%>
  <div class="formSection">
    <a class="expander <%= !next_stage.nil? ? "expanded" : "collapsed" %> formHeader" href="#expand">
      <span class="icon"></span>
      Approval History
    </a>
    <ul class="sectionContent approvalHistory" style="<%= next_stage.nil? &&
      !local_assigns[:full_page] ? 'display:none' : '' %>">
      <%- @view.approval_history.each do |ah| -%>
      <li>
      <div class="stage">
        <div class="icon">
          <%- i = approval.stages.index {|s| s['id'] == ah['approvalStageId']} || 0 -%>
          <%- approval.stages.length.times do |j| -%>
          <span class="<%= j > i ? "off" : i == j &&
            ah['approvalTypeName'] == 'R' ? "rejected" : "on" %>"></span>
          <%- end -%>
        </div>
        <%= approval.stage(ah['approvalStageId'])['name'] %></div>
      <%- u = @users[ah['approverUserUid']] -%>
      <div class='user'><%= ah['approvalTypeName'] == 'R' ? 'Rejected' : 'Approved' %> by
        <a href='<%= u.href %>'><%= u.displayName %></a></div>
      <span class="date">On <%= blist_date(ah['approvalDate']) %></span>
      <%- if !ah['comment'].blank? -%>
      <span class="reason"><%= ah['comment'] %></span>
      <%- end -%>
      </li>
      <%- end -%>
    </ul>
  </div>
  <%- end -%>
  <%- end -%>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Activity
    </a>
    <dl class="sectionContent">
      <%- (CurrentDomain.properties.rating_types || ["rating"]).each do |rating_type| -%>
        <dt><%= rating_type.titleize %></dt>
        <dd class="clearfix">
          <div class="starsControl datasetAverageRating" data-rating="<%= @view.average_rating(rating_type) %>" data-rating-type="<%= rating_type %>">
            <%= @view.average_rating(rating_type) %>
          </div>
        </dd>
      <%- end -%>
      <dt>Raters</dt>
      <dd class="totalTimesRated"><%= @view.totalTimesRated %></dd>
      <dt>Visits</dt>
      <dd><%= @view.viewCount %></dd>
      <dt>Downloads</dt>
      <dd><%= @view.downloadCount %></dd>
      <dt>Comments</dt>
      <dd class="numberOfComments"><%= @view.numberOfComments %></dd>
      <dt>Contributors</dt>
      <dd><%= @view.contributor_users.length %></dd>
      <%- if @view.user_granted?(current_user) || CurrentDomain.user_can?(current_user, :edit_others_datasets) -%>
        <dt class="widenedItem">
          <%= link_to 'View Statistics', "#{@view.href}/stats" %>
        </dt>
        <dd>&nbsp;</dd>
      <%- end -%>
    </dl>
  </div>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Meta
    </a>
    <dl class="sectionContent">
      <dt>Category</dt>
      <dd><%= @view.category || '(none)' %></dd>
      <dt>Permissions</dt>
      <dd><%= @view.is_public? ? 'Public' : 'Private' %></dd>
      <dt>Tags</dt>
      <dd><span class="wrap"><%= @view.tag_display_string %></span></dd>
    </dl>
  </div>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Links
    </a>
    <dl class="sectionContent">
      <dt>Permalink</dt>
      <dd><span class="hardWrap"><%= link_to_url request.protocol +
        request.host_with_port + @view.href, :rel => 'external' %></span></dd>
      <dt>Short URL</dt>
      <dd><span class="hardWrap"><%= link_to_url request.protocol +
        request.host_with_port.gsub(/www\./, '') + @view.short_href,
        :rel => 'external' %></span></dd>
    </dl>
  </div>

<%- if @view.metadata && !@view.metadata.attachments.blank? -%>
  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Attachments
    </a>
    <ul class="sectionContent">
      <%- @view.metadata.attachments.each do |attachment| -%>
        <%- attachmentObj = Attachment.set_up_model(attachment) -%>
        <li>
          <%= link_to( attachmentObj.displayName, attachmentObj.href, :target => "_blank" ) %>
        </li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>

  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Licensing and Attribution
    </a>
    <dl class="sectionContent">
      <dt>Data Provided By</dt>
      <dd><%= @view.property_or_default(['attribution']) || '(none)' %></dd>
      <dt>Source Link</dt>
      <dd><%= @view.property_or_default(['attributionLink']).blank? ?
                '(none)' :
                link_to_url(h(@view.property_or_default(['attributionLink'])), :rel => 'nofollow external') %></dd>
      <%- if @view.property_or_default(['license']) -%>
        <dt>License</dt>
        <dd>
          <%- if @view.property_or_default(['license']).nil? -%>
            (none)
          <%- elsif @view.property_or_default(['license', 'logoUrl']).blank? -%>
            <%= @view.property_or_default(['license', 'name']) %>
          <%- else -%>
            <a href="<%= @view.property_or_default(['license', 'termsLink']) %>" rel="nofollow external">
              <img src="/<%= @view.property_or_default(['license', 'logoUrl']) %>" alt="<%= @view.property_or_default(['license', 'name']) %>" />
            </a>
          <%- end -%>
        </dd>
      <%- end -%>
      <%- if @view.property_or_default(['termsAndConditions']) -%>
        <dt>Terms of Use</dt>
        <dd><span class="wrap"><%= @view.property_or_default(['termsAndConditions']) %></span></dd>
      <%- end -%>
    </dl>
  </div>

<%- if !@view.data['northWest'].nil? -%>
  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Spatial Extent
    </a>
    <div class="sectionContent">
      <%- extent = extent_html(@view.data['northWest']['lat'],
            @view.data['northWest']['long'],
            @view.data['southEast']['lat'],
            @view.data['southEast']['long']) -%>
      <%= raw extent %>
    </div>
  </div>
<%- end -%>

<%- if @view.is_tabular? -%>
  <%- if @view.rdf_subject.present? || @view.rdf_class_display_name.present? -%>
  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Semantics and RDF
    </a>
    <dl class="sectionContent">
      <dt>Row Class</dt>
      <dd><span class="hardWrap">
        <%= @view.rdf_class_display_name.present? ? @view.rdf_class_display_name : '(none)' %></span></dd>
      <dt>Subject Column</dt>
      <dd>
        <%= @view.rdf_subject.present? ? @view.rdf_subject : '(none)' %>
      </dd>
    </dl>
  </div>
  <%- end -%>

  <%- if @view.resourceName.present? || @view.row_identifier.present? -%>
  <div class="formSection">
    <a class="expander expanded formHeader" href="#expand">
      <span class="icon"></span>
      Permanent Links
    </a>
    <dl class="sectionContent">
      <dt>Resource Name</dt>
      <dd><span class="hardWrap">
        <%= @view.resourceName.present? ? @view.resourceName : '(none)' %>
      </span></dd>
      <dt>Row Identifier</dt>
      <dd>
        <%= @view.row_identifier.present? ? @view.row_identifier : '(none)' %>
      </dd>
    </dl>
  </div>
  <%- end -%>
<%- end -%>

<%- view_meta = @view.merged_metadata['custom_fields'] -%>
<%- if !view_meta.blank? -%>
  <%- merge_custom_metadata(@view).each do |fieldset| -%>
    <%- if (fieldset.fields || []).any? { |field| (view_meta[fieldset.name] || {})[field.name].present? } %>
      <div class="formSection">
        <a class="expander expanded formHeader" href="#expand">
          <span class="icon"></span>
          <%= fieldset.name %>
        </a>
        <%- existing_fields = (view_meta &&
            view_meta.assoc(fieldset.name)) ?
            view_meta.assoc(fieldset.name)[1] : {} -%>

        <dl class="sectionContent">
          <%- (fieldset.fields || []).each do |field| -%>
            <%- unless existing_fields[field.name].blank? -%>
              <dt><%= field.displayName || field.name %></dt>
              <dd><span class="wrap">
                  <%= raw(auto_link(h(existing_fields[field.name])|| '',
                      :html => { :rel => 'nofollow external' })) %>
              </span></dd>
            <%- end -%>
          <%- end -%>
        </dl>
      </div>
    <%- end -%>
  <%- end -%>
<%- end -%>

<%- if !CurrentDomain.feature?("disable_owner_contact") && (current_user.nil? || (current_user.id != @view.owner.id)) -%>
  <div class="formSection">
    <a href="#expand" class="expander expanded formHeader">
      <span class="icon"></span>
      Actions
    </a>
    <div class="flash"></div>
    <dl class="sectionContent contactOwnerLinks">
      <dt class="widenedItem">
      <%= link_to 'Flag Dataset', local_assigns[:static_links] ?
        contact_dataset_path(@view.id) : '#flag',
        :class => 'contactButton', 'data-select' => '' %>
      </dt>
      <dd>&nbsp;</dd>
      <dt class="widenedItem">
      <%= link_to 'Contact Dataset Owner', local_assigns[:static_links] ?
        contact_dataset_path(@view.id) : '#contact',
            {:class => 'contactButton', 'data-select' => 'other'} %>
      </dt>
      <dd>&nbsp;</dd>
    </dl>
  </div>
<%- end -%>

</div>
