<thead>
  <tr>
    <th scope="col" id="header_row_number_<%= parent_id %>">Row number</th>
    <% unless columns.nil? %>
      <% columns.each do |column|%>
        <th scope="col" id="header_<%= column.id %>" class="<%= column.dataTypeName %>"
          <%= "colspan='" + (column.viewable_children.length + 1).to_s + "'" if
            column.is_nested_table %>>
          <%= column.name %>
        </th>
      <%- end -%>
    <% end %>
  </tr>
</thead>
<tbody>
  <%# This is somewhat ugly but is inline for perf reasons %>
  <% row_number = ((start_page - 1) * @per_page)  %>
  <%- rows.each do |row| -%>
    <% row_number += 1 %>
    <tr class="<%= cycle('even', 'odd', :name => 'row_' + parent_id) %>">
      <th scope="row" header="header_row_number_<%= parent_id %>" class="row_number">
        <%= row_number %>
      </th>
      <% columns.each do |column|%>
      <td header="header_<%= column.id %>" class="type_<%= column.client_type %>"
        <%= 'colspan="' + (column.viewable_children.length + 1).to_s + '"' if
          column.is_nested_table %>>
          <%- cell = row[column.data_position] -%>
          <%- unless cell.nil? -%>
            <%- case column.renderTypeName -%>
            <%# I'd really like a blank line here for readability; but apparently
               Rails requires that the first when immediately follow the case
               statement (except apparently comments work fine) %>
            <%- when 'text' -%>
            <%= cell.to_s %>

            <%- when 'html' -%>
            <%= raw cell.to_s %>

            <%- when 'url' -%>
            <%- url = cell[column.sub_type_index('url')] -%>
            <%- if (!url.blank? && url.index('/') != 0 && !url.match(/^([a-z]+):/i)) -%>
              <%- url = 'http://' + url -%>
            <%- end -%>
            <%- desc = cell[column.sub_type_index('description')] || url -%>

            <%- if !url.blank? || !desc.blank? -%>
            <%= link_to desc, url %>
            <%- end -%>

            <%- when 'email' -%>
            <%= link_to cell, 'mailto:' + cell %>

            <%- when 'phone' -%>
              <%= cell[column.sub_type_index('phone_number')] %>
              <%- phone_type =
                cell[column.sub_type_index('phone_type')] -%>
              <%- if !phone_type.nil? -%>
                (<%= phone_type %>)
              <%- end -%>

            <%- when 'drop_down_list', 'picklist' -%>
              <%- column.dropDown.values.each do |option| -%>
                <%- if option['id'] == cell -%>
                  <%= option['description'] %>
                <%- end -%>
              <%- end -%>

            <%- when 'number' -%>
              <%- if !column.precision.nil? -%>
                <%- precision = '.' + column.precision -%>
                <%- precision_style = 'f' -%>
              <%- end -%>
              <%- precision_style = 'e' if column.precision_style == 'scientific' -%>
              <%- if !precision_style.nil? -%>
                <%= "%#{precision}#{precision_style}" % cell %>
              <%- else -%>
                <%= cell %>
              <%- end -%>

            <%- when 'percent' -%>
              <%- if !column.precision.nil? -%>
                <%= "%.#{column.precision}f" % cell %>%
              <%- else -%>
                <%= cell %>%
              <%- end -%>

            <%- when 'money' -%>
              <%= raw(column.currency_symbol) %><%=
                "%.#{column.precision || 2}f" % cell %>

            <%- when 'calendar_date', 'date' -%>
              <%- if column.renderTypeName == 'calendar_date' -%>
              <%- value = Time.parse(cell) -%>
              <%- else -%>
              <%- value = Time.at(cell.to_i) -%>
              <%- end -%>
              <%- tz_str = column.renderTypeName == 'date' ? ' %Z' : '' -%>
              <%- output_value = case column.format_view -%>
                <%- when 'date'          then value.strftime('%m/%d/%Y') %>
                <%- when 'date_time'     then value.strftime('%m/%d/%Y %I:%M:%S' + tz_str) %>
                <%- when 'date_dmy'      then value.strftime('%d/%m/%Y') %>
                <%- when 'date_dmy_time' then value.strftime('%d/%m/%Y %I:%M:%S' + tz_str) %>
                <%- when 'date_ymd'      then value.strftime('%Y/%m/%d') %>
                <%- when 'date_ymd_time' then value.strftime('%Y/%m/%d %I:%M:%S' + tz_str) %>
                <%- when 'date_monthdy'  then value.strftime('%B %d, %Y') %>
                <%- when 'date_monthdy_shorttime'  then value.strftime('%B %d, %Y %I:%M') %>
                <%- when 'date_monthdy_time'  then value.strftime('%B %d, %Y %I:%M:%S') %>
                <%- when 'date_shortmonthdy'  then value.strftime('%b %d, %Y') %>
                <%- when 'date_shortmonthdy_shorttime'  then value.strftime('%b %d, %Y %I:%M') %>
                <%- when 'date_dmonthy'  then value.strftime('%d %B %Y') %>
                <%- when 'date_ymonthd'  then value.strftime('%Y %B %d') %>
                <%- else                      value.strftime('%m/%d/%Y %I:%M:%S' + tz_str) %>
              <%- end -%>
              <%= output_value || value.strftime('%c') %>

            <%- when 'document', 'document_obsolete' -%>
              <%- name_i = column.sub_type_index('filename') -%>
              <%- size_i = column.sub_type_index('size') -%>
              <%- type_i = column.sub_type_index('content_type') -%>
              <%- is_new = column.sub_type_index('id').nil? -%>
              <%- id_i = column.sub_type_index(is_new ?
                'file_id' : 'id') -%>

              <%- if !cell[id_i].nil? -%>
              <%- params = [] -%>
              <%- params << 'filename=' +
                URI::escape(cell[name_i]) if
                !cell[name_i].blank? -%>
              <%- params << 'content_type=' +
                URI::escape(cell[type_i]) if
                !cell[type_i].blank? -%>
              <a href="/views/<%= @view.id %>/<%= is_new ?
                '' : 'obsolete_' %>files/<%= cell[id_i] %><%=
                  is_new && params.length > 0 ?
                  '?' + params.join('&') : '' %>">
                  <%= cell[name_i] %>
                </a>
                (<%= number_to_human_size(cell[size_i],
                  {:locale => 'en'}) %>)
                (<%= cell[type_i] %>)
              <%- end -%>

            <%- when 'photo', 'photo_obsolete' -%>
              <%- url = '/views/' + @view.id + '/' +
                (column.dataTypeName == 'photo_obsolete' ?
                'obsolete_' : '') + 'files/' + cell -%>
              <a href="<%= url %>">
                <img width='20' height='20' src="<%= url %>" />
              </a>

            <%- when 'location' -%>
              <%- human_address =
                cell[column.sub_type_index('human_address')] -%>
              <%- pieces = [] -%>

              <%- if !human_address.nil? -%>
              <%- address = JSON.parse(human_address) -%>

              <%- if !address['address'].blank? -%>
              <%- pieces << h(address['address']) -%>
              <%- end -%>

              <%- csz = h([[address['city'],
                  address['state']].compact.join(', '),
                  address['zip']].compact.join(' ')) -%>
              <%- pieces << csz if !csz.blank? -%>
              <%- end -%>

              <%- lat = cell[column.sub_type_index('latitude')] -%>
              <%- long = cell[column.sub_type_index('longitude')] -%>
              <%- if !lat.blank? || !long.blank? -%>
              <%- pieces << '(' + (lat || '') + '&deg;, ' + (long || '') + '&deg;)' -%>
              <%- end -%>

              <%= raw pieces.compact.join('<br />') %>

            <%- when 'nested_table' -%>
            <%- if cell.length > 0 -%>
            <table>
            <%= render(:partial => 'alt_tbody', :locals => {:start_page => 1,
              :columns => column.viewable_children, :rows => cell,
              :parent_id => parent_id + '_' + row_number.to_s}) %>
            <%- reset_cycle('row_' + parent_id + '_' + row_number.to_s) -%>
            </table>
            <%- end -%>

            <%- when 'tag' -%>
            <%= cell.join(', ') %>
            <%- else -%>
              <%= cell.to_s %>
            <%- end -%>
          <%- end -%>
        </td>
      <%- end -%>
    </tr>
  <%- end -%>
</tbody>
