<div class="apiFoundryPaneWrapper">
  <div>
    <p><%= t('screens.ds.grid_sidebar.apis.prompt_new_html') %></p>
    <a href="<%= root_path %>api_foundry/forge/<%= @view.id %>"
      class="createapi toolbarButton button"
      title="<%= t('screens.ds.grid_sidebar.apis.create_button_prompt') %>"><%= t('screens.ds.grid_sidebar.apis.create_button') %></a>
  </div>
  <div id="existingAPIs" style="display:none">
    <p><%= t('screens.ds.grid_sidebar.apis.prompt_existing_html') %></p>
    <select id="selectAPI"></select>
    <a href="#manage" class="manageAPI toolbarButton button"
      title="<%= t('screens.ds.grid_sidebar.apis.manage_button_prompt') %>"><%= t('screens.ds.grid_sidebar.apis.manage_button') %></a>
  </div>
</div>
