<div class="apiContentWrapper">
  <p><%= t('screens.ds.grid_sidebar.api.intro_html') %></p>
  <p><%= t('screens.ds.grid_sidebar.api.reference_html') %></p>
  <h3><%= t('screens.ds.grid_sidebar.api.endpoint_title') %></h3>
  <div class="apiEndpointWrapper">
    <pre><%= "#{CurrentDomain.domain.protocol}://#{CurrentDomain.cname}#{CurrentDomain.domain.port}/resource/#{@view.id}.json" %></pre>
  </div>

  <%- if @view.is_tabular? && @view.visible_columns.present? -%>
    <h3><%= t('screens.ds.grid_sidebar.api.column_ids_title') %></h3>
    <dl class="sectionContent">
      <%- @view.visible_columns.each do |column| -%>
        <dt title="<%= column.name %>"><%= column.name %></dt>
        <dd title="<%= column.fieldName %>"><%= column.fieldName %></dd>
      <%- end -%>
    </dl>
  <%- end -%>
</div>
