<div class="browse2-create-asset">

  <h3 class="browse2-create-asset-prompt">
    <%= t('controls.browse.browse2.create.title') %>
  </h3>

  <a class="browse2-create-dataset-button" href="<%= new_dataset_path %>" title="<%= t('controls.browse.browse2.create.dataset.title') %>">

    <span class="browse2-create-dataset-button-icon icon-dataset"></span>
    <%= t('controls.browse.browse2.create.dataset.label') %>

  </a>

  <%- if CurrentDomain.feature_flags[:enable_stories] -%>

    <a id="create-story-button" class="browse2-create-story-button" href="#" title="<%= t('controls.browse.browse2.create.story.title') %>" data-status="ready">

      <span class="browse2-create-story-button-icon icon-story"></span>
      <span class="browse2-create-story-button-label">
        <%= t('controls.browse.browse2.create.story.label') %>
      </span>
      <span class="browse2-create-story-button-busy-spinner"></span>

    </a>

  <%- end -%>

</div>
