<div class="browse2-create-asset" data-panel-display="hide">
  <button class="browse2-create-asset-button" title="<%= t('controls.browse.browse2.create.title') %>">

    <span class="browse2-create-asset-icon icon-add"></span>
    <%= t('controls.browse.browse2.create.label') %>

  </button>
  <div class="browse2-create-asset-panel">

    <a class="browse2-create-dataset-button" href="<%= new_dataset_path %>" title="<%= t('controls.browse.browse2.create.dataset.title') %>">

      <span class="browse2-create-dataset-button-icon icon-dataset"></span>
      <%= t('controls.browse.browse2.create.dataset.label') %>

    </a>

    <a id="create-story-button" class="browse2-create-story-button" href="#" title="<%= t('controls.browse.browse2.create.story.title') %>" data-status="ready">

      <span class="browse2-create-story-button-icon icon-story"></span>
      <span class="browse2-create-story-button-label">
        <%= t('controls.browse.browse2.create.story.label') %>
      </span>
      <span class="browse2-create-story-button-busy-spinner"></span>

    </a>
  </div>
</div>
