<%# display_class, display_title, categories, link %>
<div class="browse-list-item" data-viewId="<%= v.id %>" itemscope="itemscope" itemtype="http://schema.org/Dataset">
  <!-- Settings dropdown menu-->
  <div class="settings menu"></div>
  <!-- Dataset information-->
  <div class="media-item">
    <div class="media-element">
      <div
        data-display-type="<%= v.display.type %>"
        class="asset-icon"
        title="<%= display_title %>">
      </div>
      <button
        class="settings-icon <%= v.id %>"
        title="Settings"
      >
      </button>
    </div>

    <div class="media-label">
      <div class="browse-listing-titleinfo">
        <span class="hide" itemprop="name"><%= v.name %></span>
        <a class="browse-listing-name" href="<%= link %>" itemprop="url" data-search="highlight"><%= v.name %></a>

        <%- if categories.try(:respond_to?, :each) -%>
          <%- categories.each do |category| -%>
            <span class="browse-listing-category" itemprop="keywords" data-search="highlight"><%= category %></span>
          <%- end -%>
        <%- end -%>
      </div>

      <div class="browse-listing-description">
        <div data-search="highlight"><%= view_format_description_text(v.description) %></div>
        <div class="browse-listing-description-controls hidden">
          <button data-expand-action="more">&hellip; <span>Read more</span></button>
          <button data-expand-action="less"><span>Show less</span></button>
        </div>
      </div>


      <div class="browse-listing-metadata">
        <span class="browse-listing-viewcount">
          <%- if v.respond_to?(:viewCount) %>
            <%= pluralize(number_with_delimiter(v.viewCount), t('core.analytics.visit'), t('core.analytics.visits')) %>
          <%- end %>
        </span>
        <span class="browse-listing-tags" data-search="highlight">
          <%- if v.tags.present? -%>
            <%= join_and_truncate_array(v.tags) %>
          <%- end -%>
        </span>
      </div>

    </div>
  </div>
</div>
