<% content_for :head do %>
  <%= rendered_stylesheet_tag 'browse-control' %>
<% end %>

<%- cur_sort = opts[:sort_opts].detect { |s| s[:value] == opts[:sortBy] } -%>
<%- show_time_period = cur_sort.nil? ? false : cur_sort[:is_time_period] -%>
<%- in_search = opts[:user_params][:q] && opts[:row_count] -%>

<div class="browseSection <%= opts[:facets].length < 1 ? 'noFacets' : '' %>
  <%= opts[:custom_class] || '' %>
  <%= opts[:browse_in_container] ? 'inContainer' : '' %> <%= opts[:disable][:sort] ? 'noSort' : '' %>">
  <%- if opts[:facets].length > 0 -%>
    <div class="browseFacets <%= show_time_period ? 'hasTimePeriod' : '' %>">
      <%= raw opts[:sidebar_config].header if opts[:sidebar_config] && opts[:sidebar_config].header %>
      <%= render :partial => 'datasets/browse_search',
                 :locals => { :opts => opts } if opts[:sidebar_config].nil? || opts[:sidebar_config].search %>

      <%- if opts[:q].present? || opts[:facets].any?{ |f| opts[:user_params][f[:param]].present? } -%>
        <div class="facetSection clearAllSection">
          <ul>
            <li>
            <%- cp = opts[:user_params].reject{ |k| k == :q } -%>
            <%- opts[:facets].each { |facet| cp.delete(facet[:param]) } -%>
            <a href="<%= opts[:base_url] + '?' + cp.to_param %>"><%= t('controls.browse.actions.clear_all') %></a>
            </li>
          </ul>
        </div>
      <%- end -%>

      <%- opts[:facets].each do |facet| -%>
        <%- next if (facet[:options].nil? || facet[:options].length < 1) && facet[:custom_content].nil? -%>
        <div class="facetSection clearfix <%= facet[:param] %>">
          <h4 class="title"><%= facet[:title] %></h4>
          <%- if facet[:custom_content].nil? -%>
            <ul>
              <%- if opts[facet[:param]].present? -%>
                <%- cp = opts[:user_params].dup -%>
                <%- cp.delete(facet[:param]) -%>
                <li><a href="<%= opts[:base_url] + '?' + cp.to_param %>" class="clearValues">
                  <%- if facet[:use_icon] -%>
                    <span class="icon"></span>
                  <%- end -%>
                  <%= t('controls.browse.actions.clear_facet') %>
                </a></li>
              <%- end -%>
              <%- facet[:options].each do |facet_option| -%>
                <%= browse_facet_option(facet_option, facet[:param], opts, facet[:use_icon]) %>
              <%- end -%>
            </ul>
            <%- if !facet[:extra_options].blank? -%>
              <%- if facet[:tag_cloud].present? -%>
                <%- content_for :modals do -%>
                  <%= modal :id => "browseDialog_#{facet[:param]}", :class => 'browseOptionsDialog' do %>
                    <div class="optionsContent">
                      <%- facet[:extra_options].each do |facet_option| -%>
                        <%- cp = opts[:user_params].dup -%>
                        <%- cp[facet[:param]] = facet_option[:value] -%>
                        <a href="<%= opts[:base_url] %>?<%= cp.to_param %>" rel="<%= facet_option[:count] %>">
                          <%= facet_option[:text] %>
                        </a>
                      <%- end -%>
                    </div>
                    <ul class="actions clearfix">
                      <li>
                        <a class="jqmClose button cancel" href="#cancel"><%= t('core.dialogs.close') %></a>
                      </li>
                    </ul>
                  <%- end -%>
                <%- end -%>
                <a class="cloudLink" href="#More <%= facet[:title] %>" rel="<%= facet[:param] %>">
                  <%= t('controls.browse.actions.all_options') %>
                </a>
              <%- else -%>
                <div class="moreOptions list hide">
                  <%- facet[:extra_options].each do |facet_option| -%>
                    <%- cp = opts[:user_params].dup -%>
                    <%- cp[facet[:param]] = facet_option[:value] -%>
                    <a href="<%= opts[:base_url] + '?' + cp.to_param %>">
                      <%- if facet_option[:icon] -%>
                        <img class="customIcon" src="<%= theme_image_url(facet_option[:icon]) %>" alt="icon" />
                      <%- end -%>
                      <%= facet_option[:text] %>
                    </a>
                  <%- end -%>
                </div>
                <a class="moreLink" href="#More <%= facet[:title] %>"><%= t('controls.browse.actions.all_options') %></a>
              <%- end -%>
            <%- end -%>
          <%- else -%>
            <%- if opts[facet[:param]].present? -%>
              <%- cp = opts[:user_params].reject{ |k| k == facet[:param] } -%>
              <ul><li><a href="<%= opts[:base_url] + '?' + cp.to_param %>" class="clearValues">
                (Clear)
              </a></li></ul>
              <%- end -%>
            <%= raw facet[:custom_content].call(params, opts) %>
          <%- end -%>
        </div>
        <%- end -%>
      </div>
    <%- end -%>
    <%- if (!opts[:embedded_browse_iframe_hack]) -%>
        <%- if ((CurrentDomain.user_can?(current_user, :create_datasets) ||
                CurrentDomain.module_enabled?(:community_creation))) && !opts[:suppress_dataset_creation] -%>
            <div class="createDatasetBox infoBox">
            <h3><%= t('controls.browse.actions.create_dataset') %></h3>

            <div class="buttonContainer">
                <a class="button next" href="<%= new_dataset_path %>" title="<%= t('controls.browse.actions.create_dataset_short') %>">
                <%= opts[:browse_in_container] ? t('controls.browse.actions.create_dataset_short') : t('controls.browse.actions.create_dataset_verb') %>
                <span class="icon"></span>
                </a>
            </div>
            </div>
        <%- end -%>
    <%- end -%>


    <%- if opts[:header_config] -%>
      <div class="browseHeader">
        <%- [:counter, :search].each do |option| -%>
          <%- if opts[:header_config][option] -%>
            <%= render :partial => "datasets/browse_#{option.to_s}",
                       :locals => { :opts => opts } %>
          <%- end -%>
        <%- end -%>
      </div>
    <%- end -%>

    <%- sort_shown = !opts[:view_request_timed_out] && opts[:view_count] > 0 && !opts[:sort_opts].empty? && !opts[:disable][:sort] -%>
    <div class="browseList <%= sort_shown ? 'hasSort' : '' %>">
      <%- if !opts[:browse_in_container] -%>
        <div class="titleContainer">
          <h2 title="<%= opts[:title] %>"><%= opts[:title] %>
            <a href="/catalog.rss" class="subscribe" title="<%= t('controls.browse.actions.subscribe') %>">
              <span class="icon"></span>
            </a>
          </h2>
        </div>
      <%- end -%>

      <div class="topControls">
        <%- if !opts[:hide_view_types] -%>
          <ul class="viewTypeOptions pillButtons">
            <li><a href="<%= opts[:base_url] + '?' + opts[:user_params].merge(
                            {:view_type => 'table', :page => opts[:page]}).to_param %>"
              class="list<%= ' active' if opts[:view_type] != 'rich' %>" title="<%= t('controls.browse.actions.compact_list') %>">
              <span class="icon"></span>
            </a></li>
            <li><a href="<%= opts[:base_url] + '?' + opts[:user_params].merge(
                            {:view_type => 'rich', :page => opts[:page]}).to_param %>"
              class="fatrow<%= ' active' if opts[:view_type] == 'rich' %>" title="<%= t('controls.browse.actions.rich_list') %>">
              <span class="icon"></span>
            </a></li>
          </ul>
        <%- end -%>

        <%- if sort_shown -%>
          <div class="sortOptions">
            <label for="browseSortType" class="sortLabel"><%= t('controls.browse.sort_title') %></label>
            <select id="browseSortType" class="sortType" name="sortType">
              <%- opts[:sort_opts].each do |so| -%>
                <%- next if !so[:requires].nil? && opts[so[:requires]].nil? -%>
                <option value="<%= so[:value] %>" class="<%= 'timePeriod' if so[:is_time_period] %>"
                  <%= "selected='selected'" if so[:value] == opts[:sortBy] %>><%= so[:name] %></option>
              <%- end -%>
            </select>
            <%- time_opts = [
              { :value => 'week', :name => t('controls.browse.sort_periods.week') },
              { :value => 'month', :name => t('controls.browse.sort_periods.month') },
              { :value => 'year', :name => t('controls.browse.sort_periods.year') }
            ] -%>
            <label for="browseSortPeriod" class="sortLabel"><%= t('controls.browse.sort_period_title') %></label>
            <select class="sortPeriod<%= ' hide' unless show_time_period %>" name="sortPeriod" id="browseSortPeriod">
              <%- time_opts.each do |to| -%>
                <option value="<%= to[:value] %>"<%= ' selected="selected"' if to[:value] == opts[:sortPeriod] %>>
                  <%= to[:name] %>
                </option>
              <%- end -%>
            </select>
          </div>
        <%- end -%>
      </div>

      <div class="results">
        <%- if opts[:view_request_timed_out] -%>
          <div class="noResults">
            <span class="message"><%= opts[:timeout_text] %></span>
            <%- if (!opts[:embedded_browse_iframe_hack]) -%>
                <%- if (CurrentDomain.user_can?(current_user, :create_datasets) ||
                        CurrentDomain.module_enabled?(:community_creation)) && !opts[:suppress_dataset_creation] -%>
                    <a class="button createLink" href="<%= new_dataset_path %>"><%= t('controls.browse.actions.create_dataset_short') %></a>
                <%- end -%>
            <%- end -%>
            <%- if CurrentDomain.module_enabled?(:dataset_nomination) && !opts[:suppress_dataset_creation] -%>
              <a class="button suggestLink" href="<%= nominate_index_path %>"><%= t('controls.browse.actions.suggest_dataset_short') %></a>
            <%- end -%>
          </div>
        <%- elsif opts[:view_count] == 0 -%>
          <div class="noResults">
            <span class="message"><%= opts[:no_results_text] %></span>
            <%- if (!opts[:embedded_browse_iframe_hack]) -%>
                <%- if (CurrentDomain.user_can?(current_user, :create_datasets) ||
                        CurrentDomain.module_enabled?(:community_creation)) && !opts[:suppress_dataset_creation] -%>
                    <a class="button createLink" href="<%= new_dataset_path %>"><%= t('controls.browse.actions.create_dataset_short') %></a>
                <%- end -%>
            <%- end -%>
            <%- if CurrentDomain.module_enabled?(:dataset_nomination) && !opts[:suppress_dataset_creation] -%>
              <a class="button suggestLink" href="<%= nominate_index_path %>"><%= t('controls.browse.actions.suggest_dataset_short') %></a>
            <%- end -%>
          </div>
        <%- else -%>
          <table class="gridList<%= ' hasFederations' if opts[:use_federations] %>">
            <colgroup>
              <%- if opts[:grid_items][:index] -%>
                <col class="index" />
              <%- end -%>
              <%- if opts[:grid_items][:domainIcon] -%>
                <col class="domainIcon" />
              <%- end -%>
              <%- if opts[:grid_items][:nameDesc] -%>
                <col class="nameDesc" />
              <%- end -%>
              <%- if opts[:grid_items][:largeImage] -%>
                <col class="largeImage" />
              <%- end -%>
              <%- if opts[:grid_items][:richSection] -%>
                <col class="richSection" />
              <%- end -%>
              <%- if opts[:grid_items][:datasetActions] -%>
                <col class="datasetActions" />
              <%- end -%>
              <%- if opts[:grid_items][:popularity] -%>
                <col class="popularity" />
              <%- end -%>
              <%- if opts[:grid_items][:type] -%>
                <col class="type" />
              <%- end -%>
              <%- if opts[:grid_items][:rss] -%>
                <col class="rss" />
              <%- end -%>
            </colgroup>
            <%- if !opts[:disable][:table_header] -%>
            <thead>
              <tr>
                <%- if opts[:grid_items][:index] -%>
                  <th class="index" scope="col"></th>
                <%- end -%>
                <%- if opts[:grid_items][:domainIcon] -%>
                  <th class="domainIcon" scope="col"></th>
                <%- end -%>
                <%- if opts[:grid_items][:nameDesc] -%>
                  <th class="nameDesc" scope="col"><%= t('controls.browse.listing.table_header.name') %></th>
                <%- end -%>
                <%- if opts[:grid_items][:largeImage] -%>
                  <th class="largeImage" scope="col"></th>
                <%- end -%>
                <%- if opts[:grid_items][:richSection] -%>
                  <th class="richSection" scope="col"><%= t('controls.browse.listing.table_header.name') %></th>
                <%- end -%>
                <%- if opts[:grid_items][:datasetActions] -%>
                  <th class="datasetActions" scope="col"><%= opts[:dataset_actions] %></th>
                <%- end -%>
                <%- if opts[:grid_items][:popularity] -%>
                  <th class="popularity" scope="col"><%= t('controls.browse.listing.table_header.popularity') %></th>
                <%- end -%>
                <%- if opts[:grid_items][:type] -%>
                  <th class="type" scope="col"><%= t('controls.browse.listing.table_header.type') %></th>
                <%- end -%>
                <%- if opts[:grid_items][:rss] -%>
                  <th class="rss" scope="col"><%= t('controls.browse.listing.table_header.rss') %></th>
                <%- end -%>
              </tr>
            </thead>
            <%- end -%>
            <tbody>
              <%- start_index = (opts[:page].to_i - 1) * opts[:limit].to_i + 1 -%>
              <%- opts[:view_results].each_with_index do |v, i| -%>
                <%-
                  view_url = view_url(v)
                  begin
                    if !v.merged_metadata['custom_fields'][opts[:url_override].first][opts[:url_override].last].blank?
                      view_url = v.merged_metadata['custom_fields'][opts[:url_override].first][opts[:url_override].last]
                    end
                  rescue
                    # Chomp Chomp
                  end
                -%>
                <tr itemscope="itemscope" itemtype="http://schema.org/Dataset" class="item collapsed <%= v.federated? ? v.domainCName.gsub(/\./, "_") : "" %><%= v.federated? ? " federated" : " local" %><%=
                  v.rowResults.present? ? ' withRows' : '' %>" data-viewId="<%= v.id %>">
                  <%- if opts[:grid_items][:index] -%>
                    <td class="index" scope="row">
                      <a class="expander" title="<%= t('controls.browse.actions.expand_section') %>" href="#Expand">
                        <span class="icon"></span>
                      </a>
                      <span class="value"><%= start_index + i %>.</span>
                    </td>
                  <%- end -%>

                  <%- rel_type = v.federated? ? CurrentDomain.feature?(:federated_interstitial) ?
                          'externalDomain' : 'external' : (opts[:rel_type] || '') -%>

                  <%- if opts[:grid_items][:domainIcon] -%>
                    <td class="domainIcon">
                      <%- if v.federated? -%>
                        <a itemprop="url" href="<%= view_url %>" rel="<%= rel_type %>">
                          <img src="<%= v.domain_icon_href %>" alt="<%= v.federated? ?
                            t('controls.browse.listing.federation_source', :source => v.domainCName) : CurrentDomain.cname %>" />
                        </a>
                      <%- end -%>
                    </td>
                  <%- end -%>

                  <%- if opts[:grid_items][:nameDesc] -%>
                    <td class="nameDesc">
                      <div class="titleLine">
                        <span class="hide" itemprop="name"><%= v.name %></span>
                        <a itemprop="url" href="<%= view_url %>" class="name"
                          rel="<%= rel_type %>"><%= v.name %></a>
                        <%- if !v.category.blank? -%>
                        <span class="category infoItem"><%= v.category_display %></span>
                        <%- end -%>
                        <%- if !v.tags.nil? && v.tags.length > 0 -%>
                        <%- tag_limit = 50 -%>
                        <%- t = v.tags.join(', ') -%>
                        <%- if t.length > tag_limit
                              i = t.rindex(',', tag_limit)
                              if i.nil?
                                t = v.tags[0].to_s.slice(0, tag_limit)
                              else
                                t = t.slice(0, i + 2)
                              end
                              t += '...'
                            end -%>
                        <span class="tags infoItem" itemprop="keywords"><%= t %></span>
                        <%- end -%>
                        <% if v.federated? %>
                          <div class="federation-source infoItem">
                            <%= t('controls.browse.listing.federation_source_html',
                                  :source_link => link_to(v.domainCName, "//#{v.domainCName}")) %>
                          </div>
                        <% end %>
                      </div>

                      <div class="expandBlock clearfix collapsed">
                        <div class="description"><%= raw(auto_link(h(v.description), :html => { :rel => 'nofollow external' })) %></div>
                        <div class="rowSearchResults"><% if in_search %><span><%= t('controls.browse.row_results.matching_rows') %></span><% end %></div>
                        <div class="extraInfo <%= opts[:use_federations] ? 'federated' : '' %>">
                          <div class="infoContent"></div>
                          <a class="close" href="#Close"><span class="icon"></span></a>
                        </div>
                      </div>
                    </td>
                  <%- end -%>

                  <%- if opts[:grid_items][:largeImage] -%>
                    <td class="largeImage">
                      <%- img_url = v.preferred_image(opts[:port]) -%>
                      <%- if !img_url.nil? -%>
                        <img itemprop="image" class="datasetImage datasetIcon <%= v.preferred_image_type %>"
                          src="<%= img_url %>" alt="<%= v.name %>" />
                      <%- else -%>
                        <div class="datasetIcon type type<%= v.display.type.capitalize %>"
                          title="<%= v.display.name.capitalize %>"><span class="<%= v.display.icon_class %>"></span></div>
                      <%- end -%>
                  </td>
                  <%- end -%>

                  <%- if opts[:grid_items][:richSection] -%>
                    <td class="richSection">
                      <a itemprop="url" href="<%= view_url %>" class="nameLink" rel="<%= rel_type %>">
                        <%- if opts[:use_federations] && v.federated? -%>
                          <img class="domainIcon" src="<%= v.domain_icon_href %>" alt="<%= v.federated? ?
                            t('controls.browse.listing.federation_source', :source => v.domainCName) : CurrentDomain.cname %>" />
                        <%- end -%>
                        <span itemprop="name" class="name"><%= v.name %></span>
                      </a>
                      <% if v.federated? %>
                        <div class="federation-source">
                          <%= t('controls.browse.listing.federation_source_html',
                                :source_link => link_to(v.domainCName, "//#{v.domainCName}")) %>
                        </div>
                      <% end %>
                      <div class="expandBlock">
                        <div class="description collapsed"><%= raw(auto_link(h(v.description), :html => { :rel => 'nofollow external' })) %></div>
                        <a class="expander" title="<%= t('controls.browse.actions.expand_section') %>" href="#Expand">
                          <span class="icon"></span>
                        </a>
                      </div>
                      <div class="rowSearchResults"><% if in_search %><span><%= t('controls.browse.row_results.matching_rows') %></span><% end %></div>
                    </td>
                  <%- end -%>

                  <%- if opts[:grid_items][:datasetActions] -%>
                    <td class="datasetActions">
                      <div class="moderateActions">
                        <span class="textStatus"><%= v.moderation_status %></span>
                        <%- if v.moderationStatus.nil? || !v.moderationStatus -%>
                          <%= form_button({ :action => 'set_view_moderation_status',
                                           :id => v.id, :approved => 'yes' }, t('controls.browse.actions.moderation.accept')) %>
                        <%- end -%>
                        <%- if v.moderationStatus.nil? || v.moderationStatus -%>
                          <%= form_button({ :action => 'set_view_moderation_status',
                                           :id => v.id, :approved => 'no' }, t('controls.browse.actions.moderation.reject')) %>
                        <%- end -%>
                      </div>
                    </td>
                  <%- end -%>

                  <%- if opts[:grid_items][:popularity] -%>
                    <td class="popularity">
                      <%- unless v.new_view? -%>
                      <span class="visits"><%= pluralize(number_with_delimiter(v.viewCount), t('core.analytics.visit'), t('core.analytics.visits')) %></span>
                      <%- end -%>
                    </td>
                  <%- end -%>

                  <%- if opts[:grid_items][:type] -%>
                    <%- if v.display.type == 'new_view' -%>
                      <td class="type type<%= v.display.type.capitalize %>"
                        title="<%= v.display.name %>">
                        <a href="<%= view_url %>" rel="<%= rel_type %>"><div class="<%= v.display.icon_class %>"></div></a>
                      </td>
                    <%- else -%>
                      <td class="type type<%= v.display.type.capitalize %>"
                        title="<%= v.display.name.capitalize %>">
                        <a href="<%= view_url %>" rel="<%= rel_type %>"><div class="<%= v.display.icon_class %>"></div></a>
                      </td>
                    <%- end -%>
                  <%- end -%>

                  <%- if opts[:grid_items][:rss] -%>
                    <td class="rss">
                      <%- if v.is_tabular? && !v.is_form? -%>
                      <a href="<%= v.rss %>" class="subscribe"
                        title="<%= t('controls.browse.actions.dataset_subscribe') %>"><span class="icon"></span></a>
                      <%- end -%>
                    </td>
                  <%- end -%>
              </tr>
            <%- end -%>
          </tbody>
        </table>
        <%- end -%>
      </div>

      <%- if !opts[:view_request_timed_out] && opts[:view_count] > 0 -%>
        <%= create_pagination(opts[:view_count], opts[:limit],
        opts[:page], opts[:base_url] + '?' + opts[:user_params].to_param, 'button') unless opts[:disable][:pagination] %>
        <%- if (opts[:footer_config].nil? || opts[:footer_config].counter) && !opts[:disable][:counter] -%>
          <%= render :partial => 'datasets/browse_counter', :locals => { :opts => opts } %>
        <%- end -%>
      <%- end -%>
    </div>

    <%- if !opts[:browse_in_container] &&
            CurrentDomain.module_enabled?(:dataset_nomination) -%>
    <div class="suggestBox infoBox">
      <h3><%= t('controls.browse.actions.suggest_dataset') %></h3>
      <div class="buttonContainer">
        <a class="button next" href="<%= nominate_index_path %>"><%= t('controls.browse.actions.suggest_dataset_verb') %><span class="icon"></span></a>
      </div>
    </div>
  <%- end -%>

  <div class="clearBoth"></div>
</div>

<%- content_for :modals do -%>
  <%= modal :class => 'browseOptionsDialog' do %>
    <div class="optionsContent"></div>
  <%- end -%>

  <%= modal :class => 'externalDomainNotice' do %>
    <h2>
      <%= t('core.interstitial.leaving_notice_html', :site_name => CurrentDomain.cname) %>
    </h2>
    <p>
      <%= t('core.interstitial.leaving_explanation_html') %>
    </p>
    <div class="nameDescription">
      <p class="dsName"></p>
      <p class="dsDesc"></p>
    </div>
    <div class="leavingLinkWrapper">
      <a class="leavingLink noInterstitial" href="#" rel="external"></a>
    </div>
    <ul class="actions clearfix">
      <li>
        <a class="noInterstitial default button accept" href="#" rel="external">
          <span class="icon"></span>
          <%= t('core.dialogs.continue') %>
        </a>
      </li>
      <li>
        <a class="jqmClose button cancel" href="#cancel">
          <span class="icon"></span>
          <%= t('core.dialogs.cancel') %>
        </a>
      </li>
    </ul>
  <%- end -%>
<%- end -%>

<% content_for :templates do %>
<div class="expandedInfo">
  <div class="actions">
    <a class="manageApi button" href="#Manage" title="<%= t('controls.browse.actions.manage_api.title') %>">
      <%= t('controls.browse.actions.manage_api.button') %>
    </a>
    <a class="permissions button" href="#Permissions"
      title="<%= t('controls.browse.actions.permissions.title') %>">
    </a>
    <a class="delete button" href="#Delete" title="<%= t('controls.browse.actions.delete.title') %>">
      <%= t('controls.browse.actions.delete.button') %>
    </a>
    <a class="about button" href="#About" title="<%= t('controls.browse.actions.about.title') %>">
      <%= t('controls.browse.actions.about.button') %>
    </a>
    <div class="share menu"></div>
  </div>
  <div class="comments" title="<%= t('controls.browse.listing.comment_count') %>">
    <span class="icon"></span><span class="value"></span>
  </div>
  <%= stars_control('datasetAverageRating') %>
</div>
<%= render :partial => 'browse/row_search_templates' %>
<% end %>

<%= render_translations LocalePart.controls.browse %>

<% content_for :js_footer do %>
  <script type='text/javascript'>
    $(function()
    {
       blist.namespace.fetch('blist.browse');
       blist.browse.datasets = {};
       <%- opts[:view_results].each do |v| -%>
       blist.browse.datasets['<%= v.id %>'] = <%= safe_json(v) %>;
       <%- end -%>
       blist.browse.baseURL = "<%= opts[:base_url] %>";
       <%- if opts[:row_count].present? -%>
       blist.browse.rowCount = <%= opts[:row_count].to_i %>;
       blist.browse.searchOptions = <%= safe_json(opts[:search_options]) %>;
       <%- end -%>
    });
  </script>
  <%= include_javascripts 'browse-control' %>
<% end %>
