<div class="browse2-results-title-container clearfix<%= title_full_width ? ' browse2-results-title-container-full-width' : '' %>">
  <h2 class="browse2-results-title" title="<%= opts[:title] %>"><%= opts[:title] %></h2>

  <span class="browse2-results-clear-controls">
    <%- clear_facet_options.each do |clear_facet_option| -%>
      <a class="browse2-results-clear-control" href="<%= clear_facet_option[:url] %>">
        <%= clear_facet_option[:label] %>
        <span class="browse2-clear-all-icon icon-close-2"></span>
      </a>
    <%- end -%>
  </span>
</div>
