<%-
facet_param = facet[:param]
facet_options = facet[:options]
truncate_facet_section = false
truncate_facet_section_at_index = Float::INFINITY
facet_extra_options = nil

if facet[:extra_options].present?
  truncate_facet_section = true
  truncate_facet_section_at_index = facet[:options].length

  facet_extra_options = facet[:extra_options].reject do |extra_facet_option|
    facet_options.select { |facet_option| extra_facet_option[:value] == facet_option[:value] }.length > 0
  end

  facet_options.concat(facet_extra_options)
end

-%>
<div class="browse2-facet-section" data-facet-display="show"<%== ' data-facet-truncation="truncate"' if truncate_facet_section %>>
  <h4 class="browse2-facet-section-title">
    <%= facet[:title] %>
    <span class="browse2-facet-section-expand-icon icon-arrow-up"></span>
    <span class="browse2-facet-section-contract-icon icon-arrow-down"></span>
  </h4>

  <ul class="browse2-facet-section-options">
    <%- facet_options.each_with_index do |facet_option, index| -%>
      <li <%== 'class="truncated"' if index >= truncate_facet_section_at_index %>>
        <%-

          facet_option_url = nil
          facet_option_is_active = opts[facet_param] == facet_option[:value]

          current_params_with_view_type = opts[:user_params].dup

          if params[:view_type] === 'browse2'
            current_params_with_view_type[:view_type] = 'browse2'
          end

          if opts[:strip_params] && opts[:strip_params][facet_param.to_sym]
            current_params_with_view_type.delete_if do |key, value|
              opts[:strip_params][facet_param.to_sym][key.to_sym]
            end
          end

          current_params_with_view_type[facet_param.to_sym] = facet_option[:value]

          if facet_option_is_active
            current_params_with_view_type_without_facet = current_params_with_view_type.dup.reject do |param|
              param == facet[:param]
            end
            facet_option_url = "#{opts[:base_url]}?#{current_params_with_view_type_without_facet.to_param}"
          else
            facet_option_url = "#{opts[:base_url]}?#{current_params_with_view_type.to_param}"
          end

          facet_option_class = 'browse2-facet-section-option'
          facet_option_class << (" #{facet_option[:class]}" || '')
          facet_option_class << (facet_option_is_active ? ' active' : '')
        -%>
        <a class="<%= facet_option_class %>" href="<%= facet_option_url %>">
          <%= facet_option[:text] %>
          <%- if facet_option_is_active -%>
            <span class="browse2-facet-section-option-clear-icon icon-close-2"></span>
          <%- end -%>
        </a>
        <%- if facet_option[:children].respond_to?(:each) -%>
          <ul class="browse2-facet-section-child-options">
            <%-
              facet_option[:children].each do |child_facet_option|

                child_facet_option_url = nil
                child_facet_option_is_active = opts[facet_param] == child_facet_option[:value]

                child_current_params_with_view_type = opts[:user_params].dup

                if params[:view_type] === 'browse2'
                  child_current_params_with_view_type[:view_type] = 'browse2'
                end

                if opts[:strip_params] && opts[:strip_params][facet_param.to_sym]
                  child_current_params_with_view_type.delete_if do |key, _|
                    opts[:strip_params][facet_param.to_sym][key.to_sym].present?
                  end
                end

                child_current_params_with_view_type[facet_param.to_sym] = child_facet_option[:value]

                if child_facet_option_is_active
                  child_current_params_with_view_type_without_facet =
                    child_current_params_with_view_type.reject { |param| param == facet[:param] }
                  child_facet_option_url =
                    "#{opts[:base_url]}?#{child_current_params_with_view_type_without_facet.to_param}"
                else
                  child_facet_option_url = "#{opts[:base_url]}?#{child_current_params_with_view_type.to_param}"
                end

                classes = ['browse2-facet-section-child-option']
                classes << child_facet_option[:class] if child_facet_option[:class]
                classes << 'active' if child_facet_option_is_active
                child_facet_option_class = classes.join(' ')
            -%>
              <li>
                <a class="<%= child_facet_option_class %>" href="<%= child_facet_option_url %>">
                  <%= child_facet_option[:text] %>
                  <%- if child_facet_option_is_active -%>
                    <span class="browse2-facet-section-option-clear-icon icon-close-2"></span>
                  <%- end -%>
                </a>
              </li>
            <%- end -%>
          </ul>
        <%- end -%>
      </li>
    <%- end -%>
  </ul>

  <%- if truncate_facet_section && facet_extra_options.present? -%>
    <button class="browse2-facet-section-expand-button" title="<%= t('controls.browse.browse2.facets.expand.title') %>">
      <span class="browse2-facet-section-expand-label"><%= t('controls.browse.browse2.facets.expand.label') %></span>
      <span class="browse2-facet-section-expand-icon icon-arrow-down"></span>
    </button>
    <button class="browse2-facet-section-contract-button" title="<%= t('controls.browse.browse2.facets.contract.title') %>">
      <span class="browse2-facet-section-contract-label"><%= t('controls.browse.browse2.facets.contract.label') %></span>
      <span class="browse2-facet-section-contract-icon icon-arrow-up"></span>
    </button>
  <%- end -%>

</div>
