<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-browse' %>
<% end %>

<div class='browseSection'>
  <div class='browseFacets'>
  </div>

  <div class='browseList'>
    <div class='sortOptions'>
      <%- sort_opts = [
        {:value => 'relevance', :name => 'Most Relevant'},
        {:value => 'most_accessed', :name => 'Most Accessed',
          :is_time_period => true},
        {:value => 'newest', :name => 'Newest'},
        {:value => 'oldest', :name => 'Oldest'},
        {:value => 'rating', :name => 'Highest Rated'},
        {:value => 'comments', :name => 'Most Comments'},
      ] -%>
      <%- show_time_period = false -%>
      <select class='sortType' name='sortType'>
        <%- sort_opts.each do |so| -%>
        <option value='<%= so[:value] %>' class='<%= so[:is_time_period] ?
          'timePeriod' : '' %>' <%= so[:value] == @opts[:sortBy] ?
          "selected='selected'" : '' %>><%= so[:name] %></option>
        <%- show_time_period = true if so[:value] == @opts[:sortBy] &&
          so[:is_time_period] -%>
        <%- end -%>
      </select>
      <select class='sortPeriod <%= !show_time_period ? 'hide' : '' %>'
        name='sortPeriod'>
        <option value='week'>This week</option>
        <option value='month'>This month</option>
        <option value='year'>This year</option>
      </select>
    </div>

    <div class='results'>
      <table class='gridList'>
        <colgroup>
          <col class='index' />
          <col class='nameDesc' />
          <col class='popularity' />
          <col class='type' />
        </colgroup>
        <thead>
          <tr>
            <th class='index'></th>
            <th class='nameDesc'>Name</th>
            <th class='popularity'>Popularity</th>
            <th class='type'>Type</th>
          </tr>
        </thead>
        <tbody>
          <%- start_index = (@opts[:page] - 1) * @opts[:limit] + 1 -%>
          <%- @view_results.results.each_with_index do |v, i| -%>
          <tr class='item collapsed'>
            <td class='index'>
              <a class='expander' title='Click to expand' href='#Expand'>
                <span class='icon'></span>
              </a>
              <span class='value'><%= start_index + i %>.</span>
            </td>
            <td class='nameDesc'>
              <a href='<%= v.href %>' class='name'><%= v.name %></a>
              <div class='expandBlock clearfix collapsed'>
                <div class='description'><%= v.description %></div>
                <div class='extraInfo'>
                  <div class='infoContent'></div>
                  <a class='close' href='#Close'><span class='icon'></span></a>
                </div>
              </div>
            </td>
            <td class='popularity'>
              <span class='visits'><%= pluralize(number_with_delimiter(v.viewCount,
                {:locale => 'en'}), 'view') %></span>
            </td>
            <td class='type type<%= v.display.type.capitalize %>'
              title='<%= v.display.name.capitalize %>'>
              <div class='icon'></div>
            </td>
          </tr>
          <%- end -%>
        </tbody>
      </table>
    </div>

    <%= create_pagination(@view_results.count, @opts[:limit],
      @opts[:page], @base_url + '?' + @params.map { |pair| pair.map{ |item|
        CGI::escape(item.to_s) }.join("=") }.join('&')) %>
  </div>
</div>

<% content_for :templates do %>
<div class='expandedInfo'>
  <div class='actions'>
    <div class='share menu'></div>
  </div>
  <div class='comments' title='Number of comments'>
    <span class='icon'></span><span class='value'></span>
  </div>
  <div class='starsControl datasetAverageRating'></div>
</div>
<% end %>

<% content_for :js_footer do %>
  <script type='text/javascript'>
    blist.namespace.fetch('blist.browse');
    blist.browse.datasets = [
      <%- @view_results.results.each do |v| -%>
      <%= safe_json(v) %>,
      <%- end -%>
      null // Because IE hates trailing commas
    ];
  </script>
  <%= javascript_include_merged 'screen-browse' %>
<% end %>
