<tbody>
  <%- start_index = (opts[:page].to_i - 1) * opts[:limit].to_i + 1 -%>
  <%- opts[:view_results].each_with_index do |v, i| -%>
    <tr itemscope="itemscope" itemtype="http://schema.org/Dataset" class="item collapsed <%= !v.federated? ? v.domainCName.gsub(/\./, "_") : "" %><%= v.federated? ? " federated" : " local" %>" data-viewId="<%= v.id %>">

      <%- if opts[:grid_items][:index] -%>
        <td class="index" scope="row">
          <a class="expander" title="<%= t('controls.browse.actions.expand_section') %>" href="#Expand">
            <span class="icon"></span>
          </a>
          <span class="value"><%= start_index + i %>.</span>
        </td>
      <%- end -%>

      <%-
        rel_type = v.federated? ?
          (CurrentDomain.feature?(:federated_interstitial) ? 'externalDomain' : 'external') :
          (opts[:rel_type] || '')
      -%>

      <%- if opts[:grid_items][:nameDesc] -%>
        <td class="nameDesc">
          <div class="titleLine">
            <span class="hide" itemprop="name"><%= v.name %></span>
            <a itemprop="url" href="<%= v.link %>" class="name"
              rel="<%= rel_type %>"><%= v.name %></a>
            <%- v.categories.each do |cat| -%>
              <span class="category infoItem"><%= cat %></span>
            <%- end -%>
            <%- if !v.tags.nil? && v.tags.length > 0 -%>
            <%- tag_limit = 50 -%>
            <%- t = v.tags.join(', ') -%>
            <%- if t.length > tag_limit
                  i = t.rindex(',', tag_limit)
                  if i.nil?
                    t = v.tags[0].to_s.slice(0, tag_limit)
                  else
                    t = t.slice(0, i + 2)
                  end
                  t += '...'
                end -%>
            <span class="tags infoItem" itemprop="keywords"><%= t %></span>
            <%- end -%>
            <% if v.federated? %>
              <div class="federation-source infoItem">
                <%= t('controls.browse.listing.federation_source_html',
                      :source_link => link_to(v.domainCName, "//#{v.domainCName}")) %>
              </div>
            <% end %>
          </div>

          <div class="expandBlock clearfix collapsed">
            <div class="description"><%= sanitize raw(auto_link(h(raw(v.description)), :html => { :rel => 'nofollow external' })) %></div>
            <div class="rowSearchResults"><% if in_search %><span><%= t('controls.browse.row_results.matching_rows') %></span><% end %></div>
            <div class="extraInfo <%= opts[:use_federations] ? 'federated' : '' %>">
              <div class="infoContent"></div>
              <a class="close" href="#Close"><span class="icon"></span></a>
            </div>
          </div>
        </td>
      <%- end -%>

      <%- if opts[:grid_items][:largeImage] -%>
        <td class="largeImage">
          <div class="datasetIcon type type<%= v.display_class %>" title="<%= v.display_title %>">
            <span class="<%= v.icon_class %>"></span>
          </div>
        </td>
      <%- end -%>

      <%- if opts[:grid_items][:richSection] -%>
        <td class="richSection">
          <a itemprop="url" href="<%= v.link %>" class="nameLink" rel="<%= rel_type %>">
            <%- if opts[:use_federations] && v.federated? -%>
              <img class="domainIcon" src="<%= v.domain_icon_href %>" alt="<%= v.federated? ?
                t('controls.browse.listing.federation_source', :source => v.domainCName) : CurrentDomain.cname %>" />
            <%- end -%>
            <span itemprop="name" class="name"><%= v.name %></span>
          </a>
          <% if v.federated? %>
            <div class="federation-source">
              <%= t('controls.browse.listing.federation_source_html',
                    :source_link => link_to(v.domainCName, "//#{v.domainCName}")) %>
            </div>
          <% end %>
          <div class="expandBlock">
            <div class="description collapsed"><%= sanitize raw(auto_link(h(raw(v.description)), :html => { :rel => 'nofollow external' })) %></div>
            <a class="expander" title="<%= t('controls.browse.actions.expand_section') %>" href="#Expand">
              <span class="icon"></span>
            </a>
          </div>
          <div class="rowSearchResults"><% if in_search %><span><%= t('controls.browse.row_results.matching_rows') %></span><% end %></div>
        </td>
      <%- end -%>

      <%- if opts[:grid_items][:type] -%>
        <td class="type type<%= v.display_class %>" title="<%= v.display_title %>">
          <a href="<%= v.link %>" rel="<%= rel_type %>"><div class="<%= v.icon_class %>"></div></a>
        </td>
      <%- end -%>
    </tr>
  <%- end -%>
</tbody>
