<%-
facet_param = facet[:param]
facet_options = facet[:options]
truncate_facet_section = false
truncate_facet_section_at_index = Float::INFINITY
facet_extra_options = nil

if facet[:extra_options].present?
  truncate_facet_section = true
  truncate_facet_section_at_index = facet[:options].length

  facet_extra_options = facet[:extra_options].reject do |extra_facet_option|
    facet_options.select { |facet_option| extra_facet_option[:value] == facet_option[:value] }.length > 0
  end

  facet_options.concat(facet_extra_options)
end
-%>

<div class="browse2-facet-section"
  data-facet-display="show"<%== ' data-facet-truncation="truncate"' if truncate_facet_section %>
  data-facet-option-type="<%= facet_param.to_s %>">
  <h3 class="browse2-facet-section-title" title="<%= facet[:title] %>">
    <%= facet[:title] %>
    <span class="browse2-facet-section-expand-contract-icon icon-arrow-down"></span>
  </h3>

  <ul class="browse2-facet-section-options">
  <%-
    facet_options.each_with_index do |facet_option, index|
      has_child_options = facet_option[:children].respond_to?(:each)

      facet_link_classnames = facet_option_classnames(opts, facet_param, facet_option, false, has_child_options)
      facet_link_href = facet_option_url(opts, facet_param, facet_option, params)
  -%>
      <li <%== 'class="truncated"' if index >= truncate_facet_section_at_index %>>
        <a class="<%= facet_link_classnames %>" href="<%= facet_link_href %>"
          data-facet-option-value="<%= facet_option[:value] %>"
          title="<%= facet_option[:text] %>">
          <span class="browse2-facet-option-clear-icon icon-close-2"></span>
          <%= facet_option[:text] %>
        </a>
        <%- if has_child_options -%>
          <a class="browse2-facet-section-child-option-toggle" href="#" title="<%= t('controls.browse.browse2.facets.expand.title') %>">
            <span class="browse2-facet-section-expand-contract-icon icon-arrow-down" href="#"></span>
          </a>
        <%- end -%>

        <!-- Child facet options -->
        <%- if has_child_options -%>
          <ul class="browse2-facet-section-child-options">
            <%-
              facet_option[:children].each do |child_facet_option|
                child_facet_link_classnames = facet_option_classnames(opts, facet_param, child_facet_option, true, false)
                child_facet_link_href = facet_option_url(opts, facet_param, child_facet_option, params)
            -%>
              <li>
                <a class="<%= child_facet_link_classnames %>" href="<%= child_facet_link_href %>"
                  data-facet-option-value="<%= child_facet_option[:value] %>"
                  title="<%= child_facet_option[:text] %>">
                  <span class="browse2-facet-option-clear-icon icon-close-2"></span>
                  <%= child_facet_option[:text] %>
                </a>
              </li>
            <%- end -%>
          </ul>
        <%- end -%>
      </li>
    <%- end -%>
  </ul>

  <!-- "Show All" and "Show Less" toggle at the bottom of facet sections -->
  <%- if truncate_facet_section && facet_extra_options.present? -%>
    <a class="browse2-facet-section-expand-button" href="#" title="<%= t('controls.browse.browse2.facets.expand.title') %>">
      <span class="browse2-facet-section-expand-label"><%= t('controls.browse.browse2.facets.expand.label') %></span>
      <span class="browse2-facet-section-expand-icon icon-arrow-down"></span>
    </a>
    <a class="browse2-facet-section-contract-button" href="#" title="<%= t('controls.browse.browse2.facets.contract.title') %>">
      <span class="browse2-facet-section-contract-label"><%= t('controls.browse.browse2.facets.contract.label') %></span>
      <span class="browse2-facet-section-contract-icon icon-arrow-up"></span>
    </a>
  <%- end -%>

</div>
