<div id="odata-modal" class="modal modal-overlay modal-hidden" data-modal-dismiss>
  <div class="modal-container">
    <header class="modal-header">
      <h5 class="h5 modal-header-title"><%= t('dataset_landing_page.odata_modal.title') %></h5>
      <button class="btn btn-transparent modal-header-dismiss" data-modal-dismiss>
        <span class="icon-close-2"></span>
      </button>
    </header>
    <section class="modal-content odata-description">
      <p class="small"><%= t('dataset_landing_page.odata_modal.description') %></p>
      <%- if @view.geospatial_child_layer_count > 1 -%>
        <p class="small"><%= t('dataset_landing_page.odata_modal.multiple_geo_layers') %></p>
      <%- end -%>
    </section>
    <section class="modal-content">
      <a class="btn btn-default btn-sm documentation-link" href="https://dev.socrata.com/odata" target="_blank">
        <span class="icon-copy-document"></span>
        <%= t('dataset_landing_page.odata_modal.developer_portal_button') %>
      </a>
    </section>
    <%- if @view.geospatial_child_layer_count > 1 -%>
      <%- @view.geospatial_child_layers.each do |child_layer| -%>
        <%= render 'dataset_landing_page_odata_modal_endpoint', :view => child_layer, :show_name => true %>
      <%- end -%>
    <%- elsif @view.geospatial_child_layer_count == 1 -%>
      <%= render 'dataset_landing_page_odata_modal_endpoint', :view => @view.geospatial_child_layers[0], :show_name => false %>
    <%- else -%>
      <%= render 'dataset_landing_page_odata_modal_endpoint', :view => @view, :show_name => false %>
    <%- end -%>
    <footer class="modal-actions">
      <button class="btn btn-default btn-sm" data-modal-dismiss>
        <%= t('dataset_landing_page.done') %>
      </button>
    </footer>
  </div>
</div>
