<%= modal :id => 'login' do %>
  <h2>Sign in using your Socrata ID</h2>

  <%= display_standard_flashes %>

  <%= form_for @user_session, :html => { :class => "commonForm" } do |f| %>
    <%= render :partial => "user_sessions/login_form_data_new", :locals => { :f => f } %>
  <% end %>

  <ul class="accountMaint">
    <li><%= link_to "Forgot your password?", forgot_password_path, :class => 'noRedirPrompt' %></li>
    <li><%= link_to "No account yet?", signup_url, { :class => "signupLink noRedirPrompt" } %></li>
  </ul>
<%- end -%>

<%= modal :id => 'signup' do %>
  <h2>We're glad you want to join Socrata!</h2>

  <%= form_for :signup, :url => account_path, :html => {:id => 'signupForm',
              :class => 'commonForm', :multipart => true} do |f| %>
   <%= render :partial => "accounts/signup_form_data_new", :locals => { :f => f, :is_modal => true } %>
  <% end %>
<%- end -%>
