<div class="signedDataset">
  <p class="sectionContent"><%= t('screens.ds.grid_sidebar.digital_signing.intro_html') %></p>
  <p class="sectionContent consumerText"><%= t('screens.ds.grid_sidebar.digital_signing.consumer') %></p>
  <p class="sectionContent publisherText"><%= t('screens.ds.grid_sidebar.digital_signing.publisher') %></p>
  <p class="sectionContent publisherText"><%= t('screens.ds.grid_sidebar.digital_signing.publisher_generation') %></p>

  <div class="formSection">
    <a class="formHeader" href="#expand"><%= t('screens.ds.grid_sidebar.digital_signing.signature_header') %></a>

    <ul class="sectionContent">
      <li style="display:none;">
        <textarea class="datasetSignature" readonly="readonly"></textarea>
      </li>
      <li class="onlyChild">
        <a href="#download" class="signedDatasetLink"><%= t('screens.ds.grid_sidebar.digital_signing.generate_button') %></a>
      </li>
    </ul>
  </div>
</div>
