<html>
  <head>
    <title><%= @view.name %></title>
    <%= rendered_stylesheet_tag 'base' %>
    <%= jquery_include %>
    <%= rendered_stylesheet_tag 'dataset-show' %>
    <%= rendered_stylesheet_tag 'dataset-bare' %>
  </head>
  <body>
    <div class="outerContainer">
      <div id="renderTypeContainer">
        <div id="staticRenderType" class="fullHeight renderTypeNode hide">
          <%= render(:partial => @view.display.render_partial) if @view.display.render_partial %>
        </div>

        <%- if @view.is_tabular? && !@view.is_form? -%>
        <div id="fatRowRenderType" data-renderType="fatrow"
          class="fatRowRenderType navRenderType renderTypeNode fullHeight hide">
          <div class="columnHeaders"></div>
          <div class="rowList"></div>
          <div class="templateRow row clearfix">
          </div>
        </div>

        <div id="pageRenderType" data-renderType="page"
          class="pageRenderType navRenderType renderTypeNode fullHeight hide">
          <div class="content"></div>
        </div>
        <%- end -%>
      </div>
    </div>

    <div id="templates">
      <%= render :partial => 'fatrow_header_template' %>
    </div>
    <%= render_translations %>

    <%= include_javascripts 'base' %>

    <%- if Rails.env != 'production' -%>
        <%= include_javascripts "debug" %>
    <%- else -%>
      <script type="text/javascript">
        $.debug = function() {};
      </script>
    <%- end -%>

    <%= render_view_js %>

    <script type="text/javascript">
      blist.namespace.fetch('blist.snapshot');

      blist.snapshot.takeSnapshot = true;
      blist.snapshot.name = '<%= @snapshot_name %>';
      <%- if @snapshot_timeout -%>
      blist.snapshot.forcedTimeout = <%= @snapshot_timeout.to_i %>;
      <%- end -%>

      <%= raw @view.display.render_inline_setup_js('renderTypeContainer', self) %>
    </script>

    <%= include_javascripts 'screen-bare-dataset' %>
  </body>
</html>
