<html>
  <head>
    <title><%= @view.name %></title>
    <%= rendered_stylesheet_tag 'base' %>
    <%= jquery_include %>
    <%= rendered_stylesheet_tag 'dataset-show' %>
    <%= rendered_stylesheet_tag 'dataset-bare' %>
    <%= render :partial => 'templates/mixpanel_tracking' %>
  </head>
  <body data-locale="<%= I18n.locale %>" data-defaultlocale="<%= CurrentDomain.default_locale %>">
    <div class="outerContainer">
      <div id="renderTypeContainer">
        <div class="staticRenderType fullHeight renderTypeNode hide">
          <%= render(:partial => @view.display.render_partial) if @view.display.render_partial %>
        </div>

        <%- if @view.is_tabular? && !@view.is_form? -%>
        <%= render :partial => 'templates/fatrow' %>

        <%= render :partial => 'templates/page_render_type' %>
        <%- end -%>
      </div>
    </div>

    <div id="templates">
      <%= render :partial => 'templates/fatrow_header' %>
    </div>
    <%= render_translations %>

    <%= include_javascripts 'base' %>

    <%- if !Rails.env.end_with?('production') -%>
        <%= include_javascripts "debug" %>
    <%- else -%>
      <script type="text/javascript">
        $.debug = function() {};
      </script>
    <%- end -%>

    <%= render_view_js %>

    <script type="text/javascript">
      blist.feature_flags = <%= raw FeatureFlags.derive(@view, request).to_json %>;

      blist.namespace.fetch('blist.snapshot');

      blist.snapshot.takeSnapshot = true;
      blist.snapshot.name = '<%= @snapshot_name %>';
      <%- if @snapshot_timeout -%>
      blist.snapshot.forcedTimeout = <%= @snapshot_timeout.to_i %>;
      <%- end -%>

      <%= raw @view.display.render_inline_setup_js('renderTypeContainer', self) %>
    </script>

    <%= include_javascripts 'screen-bare-dataset' %>
  </body>
</html>
