<div class="responsive-navbar">
  <span>Site Header</span>
</div>

<%- if @view.is_private? -%>
  <div class="alert info full-width private-notice" data-storage-key="<%= @view.id %>">
    <div class="alert-container">
      <%= t('dataset_landing_page.private_notice') %>
      <a href="/dataset/<%= @view.id %>?pane=manage&enable_dataset_landing_page=false">
        <%= t('dataset_landing_page.manage_prompt') %>
      </a>
      <span class="icon-close-2 alert-dismiss"></span>
    </div>
  </div>
<%- end -%>

<div class="info-pane result-card">
  <div class="container">
    <div class="entry-header">
      <div class="entry-title">
        <h1 class="info-pane-name">
          <%- if @view.is_private? -%>
            <span class="icon-private" title="Private Dataset"></span>
          <%- end -%>

          <%= @view.name %>
        </h1>

        <span class="tag-official"><span class="icon-official"></span> <%= t('dataset_landing_page.official') %></span>
        <%- if @view.category -%>
          <span class="tag-category"><%= @view.category.capitalize %></span>
        <%- end -%>
      </div>

      <div class="entry-actions">
        <div class="btn-group">
          <button class="btn btn-default btn-sm grid">
            <%= t('dataset_landing_page.action_buttons.data') %>
          </button>
          <%- if @view.downloadOverride -%>
            <a href="<%= @view.downloadOverride %>" class="btn btn-default btn-sm download">
              <%= t('dataset_landing_page.action_buttons.download') %>
            </a>
          <%- else -%>
            <button class="dropdown btn btn-default download btn-sm" data-dropdown data-orientation="bottom">
              <%= t('dataset_landing_page.action_buttons.download') %>
              <ul class="dropdown-options">
                <%- export_formats.each do |export_format| -%>
                  <li>
                    <a href="<%= export_format[:url] %>"><%= export_format[:label] %></a>
                  </li>
                <%- end -%>

                <%- if @view.geospatial_child_layer_count == 1 -%>
                  <li>
                    <a href="<%= @view.geospatial_child_layers.first.download_path('csv') %>">
                      <%= t('dataset_landing_page.download.csv_without_geo') %>
                    </a>
                  </li>

                  <li>
                    <a href="<%= @view.geospatial_child_layers.first.download_path('json') %>">
                      <%= t('dataset_landing_page.download.json_without_geo') %>
                    </a>
                  </li>
                <%- elsif @view.geospatial_child_layer_count > 1 -%>
                  <%- @view.geospatial_child_layers.each do |child_layer| -%>
                    <li class="geo-layer-heading"><%= child_layer.name %></li>

                    <li class="geo-layer-export">
                      <a href="<%= child_layer.download_path('csv') %>">
                        <%= t('dataset_landing_page.download.csv_without_geo') %>
                      </a>
                    </li>

                    <li class="geo-layer-export">
                      <a href="<%= child_layer.download_path('json') %>">
                        <%= t('dataset_landing_page.download.json_without_geo') %>
                      </a>
                    </li>
                  <%- end -%>
                <%- end -%>
              </ul>
            </button>
          <%- end -%>
          <button class="btn btn-default btn-sm api" data-flannel="api-flannel" data-toggle>
            <%= t('dataset_landing_page.action_buttons.api') %>
          </button>
          <button class="btn btn-default btn-sm share" data-modal="share-modal">
            <%= t('dataset_landing_page.action_buttons.share') %>
          </button>
          <button class="btn btn-default btn-sm dropdown more" data-dropdown data-orientation="bottom">
            <span class="icon-waiting"></span>
            <ul class="dropdown-options">
              <li><a class="option"><%= t('dataset_landing_page.action_buttons.contact_owner') %></a></li>
              <li><a class="option" data-modal="odata-modal"><%= t('dataset_landing_page.action_buttons.odata') %></a></li>
            </ul>
          </button>
        </div>
      </div>
    </div>

    <div class="entry-content">
      <div class="entry-main">
        <div class="entry-description-container collapsible">
          <div class="entry-description">
            <%- if @view.description -%>
              <%= @view.description %>
            <%- end -%>
            <a class="collapse-toggle more"><%= t('dataset_landing_page.more') %></a>
            <a class="collapse-toggle less"><%= t('dataset_landing_page.less') %></a>
          </div>
        </div>
      </div>

      <div class="entry-meta second">
        <div class="entry-meta updated">
          <span class="meta-title"><%= t('dataset_landing_page.updated') %></span>
          <span class="date"><%= format_date(@view.time_last_updated_at) %></span>
        </div>

        <%- if @view.attribution -%>
          <div class="entry-meta views">
            <span class="meta-title"><%= t('dataset_landing_page.published_by') %></span>
            <span class="attribution"><%= @view.attribution %></span>
          </div>
        <%- end -%>
      </div>
    </div>
  </div>
</div>

<main class="container landing-page-container">
  <section class="landing-page-section">
    <h2 class="landing-page-section-header">
      <%= t('dataset_landing_page.featured_views.title') %>
    </h2>
    <%- if @featured_views.empty? -%>
      <div class="alert default">
        <%= t('dataset_landing_page.featured_views.no_content_alert_html') %>
      </div>
    <%- else -%>
      <div class="media-results">
        <%- @featured_views.each do |featured_view| -%>
          <div class="result-card media">
            <div class="entry-header">
              <div class="entry-title">
                <h3 class="entry-name">
                  <a href="<%= featured_view.seo_friendly_url %>"><%= featured_view.name %></a>
                </h3>
              </div>
              <div class="entry-view-type"><span class="<%= view_icon(featured_view) %>"></span></div>
            </div>
            <div class="entry-meta">
              <div class="first">
                <span class="date">
                  <%= format_date(featured_view.time_last_updated_at) %>
                </span>
              </div>
              <div class="second">
                <span class="date">
                  <%= pluralize(featured_view.viewCount, t('dataset_landing_page.featured_views.view')) %>
                </span>
              </div>
            </div>
            <div class="entry-content">
              <div class="entry-main">
                <div class="img-wrapper">
                  <a href="<%= featured_view.seo_friendly_url %>">
                    <span class="<%= view_icon(featured_view) %> x-large-icon"></span>
                  </a>
                </div>
                <div class="entry-description">
                  <%- if featured_view.description -%>
                    <%= sanitize(featured_view.description) %>
                  <%- end -%>
                </div>
              </div>
            </div>
          </div>
        <%- end -%>
      </div>
    <%- end -%>
  </section>

  <section class="landing-page-section">
    <h2 class="landing-page-section-header">
      <%= t('dataset_landing_page.metadata.title') %>
    </h2>

    <div class="metadata-frame">
      <div class="metadata-column fancy">
        <div class="metadata-section">
          <div class="metadata-row">
            <div class="metadata-pair">
              <span class="metadata-pair-key">
                <%= t('dataset_landing_page.updated') %>
              </span>

              <h3 class="metadata-pair-value">
                <%= format_date(@view.time_last_updated_at) %>
              </h3>
            </div>
          </div>

          <div class="metadata-row middle metadata-flex metadata-detail-groups">
            <div class="metadata-detail-group">
              <div class="metadata-detail-group-title">
                <%= t('dataset_landing_page.metadata.data_last_updated') %>
              </div>

              <div class="metadata-detail-group-value">
                <%= format_date(@view.time_data_last_updated_at) %>
              </div>
            </div>

            <div class="metadata-detail-group">
              <div class="metadata-detail-group-title">
                <%= t('dataset_landing_page.metadata.metadata_last_updated') %>
              </div>

              <div class="metadata-detail-group-value">
                <%= format_date(@view.time_metadata_last_updated_at) %>
              </div>
            </div>
          </div>

          <div class="metadata-row metadata-detail-groups">
            <div class="metadata-detail-group">
              <div class="metadata-detail-group-title">
                <%= t('dataset_landing_page.metadata.creation_date') %>
              </div>

              <div class="metadata-detail-group-value">
                <%= format_date(@view.time_created_at) %>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="metadata-section">
          <div class="metadata-row metadata-flex">
            <div class="metadata-pair">
              <span class="metadata-pair-key">
                <%= t('dataset_landing_page.metadata.views') %>
              </span>

              <h3 class="metadata-pair-value">
                <%= format_number(@view.viewCount) %>
              </h3>
            </div>

            <div class="metadata-pair">
              <span class="metadata-pair-key">
                <%= t('dataset_landing_page.metadata.downloads') %>
              </span>

              <h3 class="metadata-pair-value">
                <%= format_number(@view.downloadCount) %>
              </h3>
            </div>
          </div>
        </div>

        <hr>

        <div class="metadata-section">
          <div class="metadata-row metadata-flex metadata-detail-groups">
            <div class="metadata-detail-group">
              <div class="metadata-detail-group-title">
                <%= t('dataset_landing_page.metadata.data_provided_by') %>
              </div>

              <%- if @view.attribution -%>
                <div class="metadata-detail-group-value">
                  <%= @view.attribution %>
                </div>
              <%- else -%>
                <div class="metadata-detail-group-value empty">
                  <%= t('dataset_landing_page.metadata.no_value') %>
                </div>
              <%- end -%>
            </div>

            <div class="metadata-detail-group">
              <div class="metadata-detail-group-title">
                <%= t('dataset_landing_page.metadata.dataset_owner') %>
              </div>

              <div class="metadata-detail-group-value">
                <%= @view.owner.displayName %>
              </div>
            </div>
          </div>

          <button class="btn btn-sm btn-primary btn-block contact-dataset-owner">
            <%= t('dataset_landing_page.contact_dataset_owner') %>
          </button>
        </div>
      </div>

      <div class="metadata-column tables">
        <div class="metadata-table">
          <%- if @view.metadata && @view.metadata.attachments.present? -%>
            <h5 class="metadata-table-title">
              <%= t('dataset_landing_page.metadata.attachments') %>
            </h5>

            <table class="table-condensed table-borderless table-discrete table-striped">
              <tbody>
                <%- @view.metadata.attachments.each do |attachment_data| -%>
                  <%- attachment = Attachment.set_up_model(attachment_data) -%>
                  <td><%= attachment.displayName %></td>
                  <td>
                    <span class="icon-copy-document"></span>
                    <%= link_to(attachment.filename, attachment.href(@view.id), :target => '_blank') %>
                  </td>
                <%- end -%>
              </tbody>
            </table>
          <%- end -%>

          <h5 class="metadata-table-title">
            <%= t('dataset_landing_page.metadata.topics') %>
          </h5>

          <table class="table-condensed table-borderless table-discrete table-striped">
            <tbody>
              <tr>
                <td><%= t('dataset_landing_page.metadata.category') %></td>
                <%- if @view.category -%>
                  <td><%= @view.category.capitalize %></td>
                <%- else -%>
                  <td class="empty"><%= t('dataset_landing_page.metadata.no_value') %></td>
                <%- end -%>
              </tr>

              <tr>
                <td><%= t('dataset_landing_page.metadata.tags') %></td>
                <%- if @view.tags -%>
                  <td>
                    <div class="tag-list-container collapsible">
                      <div class="tag-list">
                        <%= raw tag_links %>
                        <a class="collapse-toggle more"><%= t('dataset_landing_page.more') %></a>
                        <a class="collapse-toggle less"><%= t('dataset_landing_page.less') %></a>
                      </div>
                    </div>
                  </td>
                <%- else -%>
                  <td class="empty"><%= t('dataset_landing_page.metadata.no_value') %></td>
                <%- end -%>
              </tr>
            </tbody>
          </table>

          <h5 class="metadata-table-title">
            <%= t('dataset_landing_page.metadata.licensing') %>
          </h5>

          <table class="table-condensed table-borderless table-discrete table-striped">
            <tbody>
              <tr>
                <td><%= t('dataset_landing_page.metadata.license') %></td>
                <%- if @view.license -%>
                  <td><%= @view.license.name %></td>
                <%- else -%>
                  <td class="empty"><%= t('dataset_landing_page.metadata.no_value') %></td>
                <%- end -%>
              </tr>

              <tr>
                <td><%= t('dataset_landing_page.metadata.source_link') %></td>
                <%- if @view.attributionLink -%>
                  <td><%= link_to_url(@view.attributionLink) %></td>
                <%- else -%>
                  <td class="empty"><%= t('dataset_landing_page.metadata.no_value') %></td>
                <%- end -%>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="landing-page-section">
    <h2 class="landing-page-section-header">
      <%= t('dataset_landing_page.dataset_contents.title') %>
    </h2>

    <div class="metadata-frame">
      <div class="metadata-section">
        <div class="metadata-row">
          <div class="metadata-pair">
            <span class="metadata-pair-key">
              <%= t('dataset_landing_page.dataset_contents.rows') %>
            </span>

            <h3 class="metadata-pair-value">
              <%= format_number(@view.row_count) %>
            </h3>
          </div>

          <div class="metadata-pair">
            <span class="metadata-pair-key">
              <%= t('dataset_landing_page.dataset_contents.columns') %>
            </span>

            <h3 class="metadata-pair-value">
              <%= format_number(@view.columns.length) %>
            </h3>
          </div>

          <%- if row_label -%>
            <div class="metadata-pair">
              <span class="metadata-pair-key">
                <%= t('dataset_landing_page.dataset_contents.row_display_unit') %>
              </span>

              <h3 class="metadata-pair-value">
                <%= row_label %>
              </h3>
            </div>
          <%- end -%>
        </div>
      </div>
    </div>
  </section>
</main>

<%= render :partial => 'dataset_landing_page_api_flannel' %>
<%= render :partial => 'dataset_landing_page_share_modal' %>
<%= render :partial => 'dataset_landing_page_odata_modal' %>
