<div class="responsive-navbar">
  <span>Site Header</span>
</div>

<div class="info-pane result-card">
  <div class="container">
    <div class="entry-header">
      <div class="entry-title">
        <h2 class="info-pane-name"><%= @view.name %></h2>
        <span class="tag-official"><span class="icon-official"></span> <%= t('dataset_landing_page.official') %></span>
        <%- if @view.category -%>
          <span class="tag-category"><%= @view.category.capitalize %></span>
        <%- end -%>
      </div>

      <div class="entry-actions">
        <div class="btn-group">
          <button class="btn btn-default btn-sm grid">
            <%= t('dataset_landing_page.action_buttons.data') %>
          </button>
          <%- if @view.downloadOverride -%>
            <a href="<%= @view.downloadOverride %>" class="btn btn-default btn-sm download">
              <%= t('dataset_landing_page.action_buttons.download') %>
            </a>
          <%- else -%>
            <button class="dropdown btn btn-default download btn-sm" data-dropdown data-orientation="bottom">
              <%= t('dataset_landing_page.action_buttons.download') %>
              <ul class="dropdown-options">
                <%- export_formats.each do |export_format| -%>
                  <li>
                    <a href="<%= export_format[:url] %>"><%= export_format[:label] %></a>
                  </li>
                <%- end -%>

                <%- if @view.geospatial_child_layer_count == 1 -%>
                  <li>
                    <a href="<%= @view.geospatial_child_layers.first.download_path('csv') %>">
                      <%= t('dataset_landing_page.download.csv_without_geo') %>
                    </a>
                  </li>

                  <li>
                    <a href="<%= @view.geospatial_child_layers.first.download_path('json') %>">
                      <%= t('dataset_landing_page.download.json_without_geo') %>
                    </a>
                  </li>
                <%- elsif @view.geospatial_child_layer_count > 1 -%>
                  <%- @view.geospatial_child_layers.each do |child_layer| -%>
                    <li class="geo-layer-heading"><%= child_layer.name %></li>

                    <li class="geo-layer-export">
                      <a href="<%= child_layer.download_path('csv') %>">
                        <%= t('dataset_landing_page.download.csv_without_geo') %>
                      </a>
                    </li>

                    <li class="geo-layer-export">
                      <a href="<%= child_layer.download_path('json') %>">
                        <%= t('dataset_landing_page.download.json_without_geo') %>
                      </a>
                    </li>
                  <%- end -%>
                <%- end -%>
              </ul>
            </button>
          <%- end -%>
          <button class="btn btn-default btn-sm api" data-flannel="api-flannel" data-toggle>
            <%= t('dataset_landing_page.action_buttons.api') %>
          </button>
          <button class="btn btn-default btn-sm share" data-modal="share-modal">
            <%= t('dataset_landing_page.action_buttons.share') %>
          </button>
          <button class="btn btn-default btn-sm dropdown more" data-dropdown data-orientation="bottom">
            <span class="icon-waiting"></span>
            <ul class="dropdown-options">
              <li><a class="option"><%= t('dataset_landing_page.action_buttons.contact_owner') %></a></li>
              <li><a class="option" data-modal="odata-modal"><%= t('dataset_landing_page.action_buttons.odata') %></a></li>
            </ul>
          </button>
        </div>
      </div>
    </div>

    <div class="entry-content">
      <div class="entry-main">
        <div class="entry-description-container">
          <div class="entry-description">
            <%- if @view.description -%>
              <%= @view.description %>
            <%- end -%>
            <a class="entry-description-toggle more"><%= t('dataset_landing_page.more') %></a>
            <a class="entry-description-toggle less"><%= t('dataset_landing_page.less') %></a>
          </div>
        </div>
      </div>

      <div class="entry-meta second">
        <div class="entry-meta updated">
          <span class="meta-title"><%= t('dataset_landing_page.updated') %></span>
          <span class="date"><%= view_last_updated %></span>
        </div>

        <%- if @view.attribution -%>
          <div class="entry-meta views">
            <span class="meta-title"><%= t('dataset_landing_page.published_by') %></span>
            <span class="attribution"><%= @view.attribution %></span>
          </div>
        <%- end -%>
      </div>
    </div>
  </div>
</div>

<%= render :partial => 'dataset_landing_page_api_flannel' %>
<%= render :partial => 'dataset_landing_page_share_modal' %>
<%= render :partial => 'dataset_landing_page_odata_modal' %>
