<% content_for :head do %>
  <title><%= @view.name %> | <%= t('dataset_management_ui.manage') %></title>
  <link rel="stylesheet" href="/stylesheets/socrata-visualizations/socrata-visualizations.css"/>
  <%= rendered_stylesheet_tag('dataset-management-ui') %>
<% end %>

<% @site_chrome_admin_header_options = {size: 'small'} %>
<% @suppress_site_chrome = render_site_admin_chrome? %>

<%- if @suppress_site_chrome -%>
<div id="app" class="no-chrome-header">
<%- else -%>
<div id="app">
<%- end -%>
  <div id="initial-spinner-container">
    <span class="spinner-default spinner-large"></span>
  </div>
</div>

<% content_for :scripts do %>
  <%= render_dataset_management_ui_server_config(@websocket_token) %>
  <%= render_dataset_management_ui_translations %>

  <script>
    var initialState = {
      view: <%== @view.to_json %>,
      update: <%== @update.to_json %>,
      datasetCategories: <%== flatten_category_tree.to_json %>.map(function(titleAndValue) {
        return {
          title: titleAndValue[0],
          value: titleAndValue[1]
        };
      })
    };
  </script>

  <%= include_webpack_bundle 'dataset-management-ui/main.js' %>
<% end %>
