<div class="responsive-navbar">
  <span>Site Header</span>
</div>

<div class="info-pane result-card">
  <div class="container">
    <div class="entry-header">
      <div class="entry-title">
        <h2 class="info-pane-name"><%= @view.name %></h2>
        <span class="tag-official"><span class="icon-official"></span> <%= t('dataset_landing_page.official') %></span>
        <%- if @view.category -%>
          <span class="tag-category"><%= @view.category.capitalize %></span>
        <%- end -%>
      </div>

      <div class="entry-actions">
        <div class="btn-group">
          <button class="btn btn-default grid btn-sm">
            <%= t('dataset_landing_page.action_buttons.data') %>
          </button>
          <button class="btn btn-default download btn-sm dropdown-orientation-bottom">
            <%= t('dataset_landing_page.action_buttons.download') %>
          </button>
          <button class="btn btn-default api btn-sm" data-flannel="api-flannel" data-toggle>
            <%= t('dataset_landing_page.action_buttons.api') %>
          </button>
          <button class="btn btn-default share btn-sm" data-modal="share-modal">
            <%= t('dataset_landing_page.action_buttons.share') %>
          </button>
          <button class="btn btn-default share btn-sm"><span class="icon-waiting"></span></button>
        </div>
      </div>
    </div>

    <div class="entry-content">
      <div class="entry-main">
        <div class="entry-description-container">
          <div class="entry-description">
            <%- if @view.description -%>
              <%= @view.description %>
            <%- end -%>
            <a class="entry-description-toggle more"><%= t('dataset_landing_page.more') %></a>
            <a class="entry-description-toggle less"><%= t('dataset_landing_page.less') %></a>
          </div>
        </div>
      </div>

      <div class="entry-meta second">
        <div class="entry-meta updated">
          <span class="meta-title"><%= t('dataset_landing_page.updated') %></span>
          <span class="date"><%= view_last_updated %></span>
        </div>

        <%- if @view.attribution -%>
          <div class="entry-meta views">
            <span class="meta-title"><%= t('dataset_landing_page.published_by') %></span>
            <span class="attribution"><%= @view.attribution %></span>
          </div>
        <%- end -%>
      </div>
    </div>
  </div>
</div>

<%= render :partial => 'dataset_landing_page_api_flannel' %>
<%= render :partial => 'dataset_landing_page_share_modal' %>
