<% content_for :head do %>
  <title><%= @view.name %> | <%= get_site_title %></title>

  <%= rendered_stylesheet_tag 'data-lens' %>
<% end %>

<div id="app" class="data-lens">
  <div class="main-spinner">
    <div class="spinner-default spinner-large"></div>
  </div>
</div>

<% content_for :scripts do %>
  <script id="data-lens-initial-state">
    var initialState = {
      parentView: <%= raw @parent_view.as_data_lens_visualization_parent.to_json %>,
      view: <%= raw @view.as_data_lens_visualization.to_json %>
    };
  </script>

  <%= render_data_lens_translations %>
  <%= render_data_lens_server_config %>

  <%= include_webpack_bundle 'data-lens/main.js' %>
<% end %>
