<% content_for :head do %>
  <%= rendered_stylesheet_tag 'dataset-new' %>
  <title>Edit Dataset | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <a href="<%= @view.href %>/upload">Upload new data accessibly</a>
<% end %>

<div class="contentBox fixedWidth">
  <form class="appendReplaceForm">
    <h1>Append and Replace data</h1>

    <%= display_standard_flashes %>

    <div class="appendReplaceWizard wizard">
      <ul class="clearfix">
        <li class="selectTypePane" data-wizardPaneName="selectType">
          <p class="headline">What would you like to do with your uploaded data?</p>
          <ul class="importTypeList clearfix">
            <li>
              <a href="#append" class="append" title="You would like the uploaded data to added to the end of your dataset. You will be able to choose how your new data maps to your existing columns.">
                <span class="icon"></span>
                <p>Append</p>
              </a>
            </li>
            <li>
              <a href="#replace" class="replace" title="You would like all existing data to be removed and replaced with your uploaded data. You will be able to choose how your new data maps to your existing columns. This operation cannot be undone.">
                <span class="icon"></span>
                <p>Replace</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="uploadFilePane" data-wizardPaneName="uploadFile">
          <p class="headline"></p>
          <div class="uploadFileContainer">
            <div class="uploadFileNameWrapper"><input type="text" class="uploadFileName" readonly="readonly" value="No file selected yet."/></div>
            <div class="button uploadFileButtonWrapper">Choose a File</div>
            <div class="uploadThrobber"><span class="icon"></span><span class="text">Uploading your file...</span></div>
            <p class="uploadFileFormats">Supported formats are .csv, .tsv, .xls, and .xlsx.</p>
          </div>
        </li>
        <li class="appendReplaceColumnsPane columnsPane" data-wizardPaneName="appendReplaceColumns">
          <div class="flash"></div>
          <p class="headline">How does the data in &ldquo;<span class="fileName"></span>&rdquo; relate to your dataset?</p>
          <h2>Columns to import</h2>
          <div class="columnsListHeader importListHeader clearfix">
            <div class="columnSourceCell">Source Column</div>
            <div class="columnActionCell"></div>
            <div class="columnDestinationCell">Destination Column</div>
            <div class="columnTypeCell">Destination Data Type</div>
          </div>
          <p class="subheadline pendingColumnsMessage">Please wait while we load your columns...</p>
          <ul class="columnsList importList">
          </ul>

          <h2>Headers</h2>
          <p class="instructions">Headers should be ignored and not imported as data.
            Please indicate how many rows of your source file are headers:</p>
          <div class="headersTableWrapper">
            <table class="headersTable"><tbody></tbody></table>
          </div>
          <div class="headersActions clearfix">
            <span class="headersCount"></span>
            <a href="#more" class="button downArrow moreRowsButton"><span class="icon"></span>More Rows</a>
            <a href="#less" class="button upArrow lessRowsButton"><span class="icon"></span>Less Rows</a>
          </div>

          <div class="warningsSection">
            <h2>Errors and Warnings</h2>
            <ul class="columnWarningsList"></ul>
          </div>
          <hr/>
        </li>
        <li class="workingPane" data-wizardPaneName="importing">
          <p class="headline">Importing your data...</p>
          <div class="brandedSpinner"></div>
          <p class="importStatus subheadline"></p>
        </li>
        <li class="importWarningsPane" data-wizardPaneName="importWarnings">
          <p class="headline">Warnings during import</p>
          <p class="subheadline">
            Please note that some of your data may not have imported correctly.
          </p>

          <ul class="importWarningsList"></ul>

          <p class="seeDocs"><strong>Confused?</strong> Please check out our
            <a href="http://dev.socrata.com/publisher/import-data-types" rel="external">publisher documentation</a>
            on importing data for a detailed explanation on how the importer handles data.</p>
        </li>
        <li class="finishPane" data-wizardPaneName="finish">
          <p class="headline">Your Dataset has been updated.</p>
          <p class="subheadline">Click on Finish to see it!</p>
        </li>
      </ul>
    </div>
  </form>
</div>

<% content_for :templates do %>
  <ul class="columnsListLine">
    <li class="importColumn">
      <div class="mainLine">
        <div class="editableSection">
          <div class="columnSourceCell"></div>
          <div class="columnActionCell clearfix">
            <a href="#options" class="options icon" title="Options">options</a>
          </div>
        </div>
        <div class="lockedSection">
          <div class="columnDestinationCell"></div>
          <div class="columnTypeCell"></div>
        </div>
      </div>
      <div class="detailsLine">
        <div class="compositeDetails"></div>
        <div class="locationDetails"></div>
        <div class="generalDetails"></div>
      </div>
    </li>
  </ul>
  <%= render :partial => 'import_common' %>
<% end %>

<% content_for :js_footer do %>
  <script type="text/javascript">
    blist.namespace.fetch('blist.importer');
    blist.importer.dataset = new Dataset(<%= safe_json(@view) %>);
  </script>
  <%= include_javascripts 'dataset-edit' %>
<% end %>
