<% content_for :head do %>
  <%= rendered_stylesheet_tag 'dataset-edit-metadata' %>
  <title>Edit Dataset Metadata | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <a href="?no_js=true">Disable Javascript on this page</a>
<% end %>

<div class="contentBox fixedWidth">
  <% form_tag({}, {:id => "editMetadataForm", :class => 'commonForm', :method => :post, :multipart => true}) do %>
    <h1>Edit Metadata for <%= @view.name %></h1>
    <a href="<%= @view.href %>" class="returnLink">Return to Dataset</a>

    <%= display_standard_flashes %>

    <h2>General Information</h2>

    <%- if @view.is_unpublished? || !@view.is_tabular? -%>
    <div class="line clearfix">
      <label for="view_name" class="required">Dataset Title</label>
      <%= text_field_tag("view[name]", @view.name, :title => "Enter a title", :class => "textPrompt") %>
    </div>
    <%- end -%>

    <div class="line clearfix">
      <label for="view_description">Brief Description</label>
      <%= text_area_tag("view[description]", @view.description, :title => "Enter a description", :class => "textPrompt") %>
    </div>

    <div class="line clearfix">
      <label for="view_category">Category</label>
      <%= select_tag("view[category]", category_select_options(h(@view.category.nil? ? '' : @view.category))) %>
    </div>

    <div class="line clearfix">
      <label for="view_tags">Tags / Keywords</label>
      <%= text_field_tag("view[tags]", @view.tags.nil? ? '' : @view.tags.join(', '), :title => "Enter keywords", :class => "textPrompt") %>
      <div class="additionalHelp">Enter one or more keywords separated by commas</div>
    </div>

    <%- if @view.is_href? -%>
      <h2>External Datasets</h2>
      <%- if @view.metadata && @view.metadata.accessPoints -%>
        <%- @view.metadata.accessPoints.each do |key, value| -%>
          <%- next if key.end_with?('Size') -%>
          <div class="line clearfix existingExternalSource externalSource">
            <label for="external_sources[][name]" class="required"><%= key.upcase %></label>
            <input type="text" name="external_sources[][name]" value="<%= value %>" class="textPrompt url required"/>
            <label for="external_sources[][name]" class="fileTypeLabel">File Type</label>
            <%= text_field_tag 'external_sources[][extension]', key,
                  :class => 'extensionField textPrompt', :title => 'Optional'%>
            <%- unless params[:no_js].present? -%>
              <a href="#remove" class="removeExternalSource button">Remove</a>
            <%- end -%>
          </div>
        <%- end -%>
      <%- end -%>
      <div class="line clearfix newExternalSource externalSource">
        <label>Additional Source</label>
        <%= text_field_tag('external_sources[][name]', '', :class => 'textPrompt url',
                           :title => 'Enter an alternate access point for this dataset') %>
        <label for="external_sources[][name]" class="fileTypeLabel">File Type</label>
        <%= text_field_tag 'external_sources[][extension]', '',
              :class => 'extensionField textPrompt', :title => 'Optional'%>
      </div>
    <%- end -%>
    <h2>Licensing &amp; Attribution</h2>

    <div class="line clearfix">
      <label for="view_licenseId">Licensing</label>
      <%= select_tag("view[licenseId]", merged_license_select_options(@view.licenseId)) %>
      <div class="additionalHelp">Choose licensing terms for people who wish to use this dataset.</div>
    </div>

    <div class="line clearfix">
      <label for="view_attribution">Data Provided By</label>
      <%= text_field_tag("view[attribution]", @view.attribution, :title => "Individual or Organization", :class => "textPrompt") %>
    </div>

    <div class="line clearfix">
      <label for="view_attributionLink">Source Link</label>
      <%= text_field_tag("view[attributionLink]", @view.attributionLink, :title => "Enter Web Address", :class => "textPrompt") %>
    </div>

    <%= render :partial => 'metadata', :locals =>
        {:meta_fields => @view.merged_metadata['custom_fields'], :fieldsets => merge_custom_metadata(@view)} %>

    <%- if (!@view.data['northWest'].nil?) -%>

    <h2>Spatial Extent</h2>
     <div class="line clearfix">
       <label for="view_northWest_lat">Northwest Latitude</label>
       <%= text_field_tag 'view[northWest[lat]]', (@view.data['northWest'] || {})['lat'],
           :disabled => true, :title => 'Northwest Latitude', :name=> 'textPrompt'%>
     </div>
     <div class="line clearfix">
       <label for="view_northWest_long">Northwest Longitude</label>
       <%= text_field_tag 'view[northWest[long]]', (@view.data['northWest'] || {})['long'],
           :disabled => true, :title => 'Northwest Longitude', :name=> 'textPrompt'%>
     </div>
     <div class="line clearfix">
       <label for="view_southEast_lat">Southeast Latitude</label>
       <%= text_field_tag 'view[southEast[lat]]', (@view.data['southEast'] || {})['lat'],
           :disabled => true, :title => 'Southeast Latitude', :name=> 'textPrompt'%>
     </div>
     <div class="line clearfix">
       <label for="view_southEast_long">Southeast Longitude</label>
       <%= text_field_tag 'view[southEast[long]]', (@view.data['southEast'] || {})['long'],
           :disabled => true, :title => 'Southeast Longitude', :name=> 'textPrompt'%>
     </div>

    <%- end -%>

    <%- if @view.is_tabular? -%>
    <h2>Semantics &amp; RDF</h2>
     <div class="line clearfix">
       <label for="view_metadata_rdfClass">Row Class</label>
         <%= select_tag("view[metadata[rdfClass]]",
               options_for_select(
                 RdfTerm.all_class_options,
                 h(@view.metadata.nil? || @view.metadata.rdfClass.nil? ? '' : @view.metadata.rdfClass)),
               :hasCustomEdit => 1, :class => 'combo_button_edit' )
         %>
         <%= text_field_tag 'view[metadata[customRdfClass]]', @view.rdf_class, :name=>'view[metadata[customRdfClass]]',
           :class => 'textValue hide combo_button_edit'
         %>
         <ul class="comboToggle actionButtons"><li><a>Custom</a></li></ul>
     </div>

     <div class="line clearfix">
       <label for="view_metadata_rdfSubject">Subject Column</label>
       <%= select_tag("view[metadata[rdfSubject]]",
           rdf_subject_select_options(
           @view.columns,
           h(@view.metadata.nil? || @view.metadata.rdfSubject.nil? ? '' : @view.metadata.rdfSubject)))
       %>
     </div>

    <h2>Permanent Links</h2>
     <div class="line clearfix">
       <label for="view_resourceName">Resource Name</label>
       <%= text_field_tag("view[resourceName]", @view.resourceName, :title => "Enter a resource name", :class => "textPrompt") %>
     </div>

     <div class="line clearfix">
       <label for="view_metadata_rowIdentifier">Row Identifier</label>
       <%= select_tag("view[metadata[rowIdentifier]]",
           rdf_subject_select_options(
           @view.columns,
           h(@view.metadata.nil? || @view.metadata.rowIdentifier.nil? ? '' : @view.metadata.rowIdentifier)))
       %>
     </div>

    <%- end -%>

    <h2>Image</h2>
    <div class="customImage">
      <div class="line clearfix">
        <label>Upload Image</label>
        <%= file_field_tag('custom_image', :accept => '(jpe?g|gif|png)',
                           'data-endpoint' => '/assets',
                           :class => 'customDatasetImageSelect') %>
        <span class="uploadIndicator throbber"></span>
        <div class="additionalHelp">This image will be cropped into a square</div>
        <span class="imageError flash error">Please select a valid image file</span>
        <%= hidden_field_tag('view[iconUrl]', @view.iconUrl, :class => 'iconUrlField') %>
      </div>
      <div class="line clearfix<%= ' hide' unless @view.iconUrl %>">
        <label>&nbsp;</label>
        <div class="customImageContainer">
          <img alt="image" src="<%= @view.custom_image  %>" class="ajaxImage datasetImage" />
        </div>
      </div>
      <%- if @view.iconUrl.present? -%>
        <div class="line clearfix">
          <label>Remove Image</label>
          <%= check_box_tag ('delete_custom_image') %>
        </div>
      <%- end -%>
    </div>

    <h2>Attachments</h2>

    <div class="attachments">
      <div class="line clearfix">
        <label>Existing Attachments</label>
        <div class="existingAttachments">
          <ul>
            <%- if @view.metadata && !@view.metadata.attachments.blank? -%>
              <%- @view.metadata.attachments.each do |attachment| -%>
                <%- attachmentObj = Attachment.set_up_model(attachment) -%>
                <li>
                  <%= hidden_field_tag("view[metadata[attachments]][][blobId]",   attachment['blobId']) %>
                  <%= hidden_field_tag("view[metadata[attachments]][][filename]", attachment['filename']) %>
                  <%= text_field_tag(  "view[metadata[attachments]][][name]",     attachmentObj.displayName) %>
                  <span class="deleteLinks">
                    <label>Delete</label>
                    <%= check_box_tag("view[metadata[attachments]][][delete]") %>
                  </span>
                </li>
              <%- end -%>
            <%- else -%>
              <li class="noAttachmentsItem">(none)</li>
            <%- end -%>
          </ul>
        </div>
      </div>

      <div class="line clearfix">
        <label for="attachment_new" class="newAttachmentLabel">New Attachment</label>
        <%= file_field_tag("attachment_new") %>
        <span class="uploadAttachmentThrobber throbber"></span>
      </div>
    </div>

    <h2>Contact Information</h2>
    <div class="line clearfix">
      <label>Contact Email</label>
      <%= text_field_tag('view[privateMetadata][contactEmail]', (@view.data['privateMetadata'] || {})['contactEmail'],
            :title => 'Email Address', :class => 'textPrompt email') %>
      <div class="additionalHelp">This address will not be displayed publicly. If left blank, it will default to your address</div>
    </div>

    <div class="required">Required Field</div>
    <div class="clearfix submitActions">
      <input class="button submitButton" type="submit" title="Save changes" value="Save" />
      <a class="button" href="<%= @view.href %>">Cancel</a>
    </div>
  <%- end -%>
</div>

<% content_for :js_footer do %>
  <%- unless params[:no_js] == 'true' -%>
    <%= include_javascripts 'dataset-edit-metadata' %>
  <%- end -%>
<% end %>
