<% content_for :head do %>
  <%= rendered_stylesheet_tag 'dataset-edit-rr' %>
  <%= include_stylesheets 'grid-sidebar' %>
  <title>Editing Rich Display for <%= @view.name %> | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div class='contentBox' id='datasetEditRR'>
  <div class='header clearfix'>
    <h1>Editing Rich Display for <%= @view.name %></h1>
    <a href="<%= @view.href %>" class="returnLink">Return to Dataset</a>

    <div class="actions">
      <a href="#save" class="saveButton button">Save</a>
      <a href="#save" class="revertButton button">Revert Changes</a>
      <span class="loadingIcon">Working...</span>
    </div>
  </div>

  <div class='mainContainer'>
    <div id='layoutContainer'>
    </div>

    <div id='gridSidebar'></div>
  </div>
</div>

<% content_for :templates do %>
<%= render(:partial => 'shared/grid_sidebar_templates') %>
<div class='fieldPalette'>
  <div class='sectionContent'>
    <ul class='columnFields'>
      <li class='columnItem'>
        <div class='columnName fieldItem'></div>
        <div class='columnData fieldItem noRender'></div>
      </li>
    </ul>
    <div class='fieldItem staticLabel'>(Static text)</div>
  </div>
</div>
<% end %>

<% content_for :js_footer do %>
  <script type='text/javascript'>
    blist.dataset = new Dataset(<%= safe_json(@view) %>);
  </script>
  <%= include_javascripts 'dataset-edit-rr' %>
<% end %>
