<% content_for :head do %>
  <%= rendered_stylesheet_tag 'dataset-edit-metadata' %>
  <title><%= t('screens.edit_metadata.title') %> | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <%= link_to t('core.no_js'), '?no_js=true' %>
<% end %>

<div class="contentBox fixedWidth">
  <%= form_tag({}, {:id => "editMetadataForm", :class => 'commonForm', :method => :post, :multipart => true}) do %>
    <h1><%= t('screens.edit_metadata.headline', :name => @view.name) %></h1>
    <a href="<%= view_path(@view) %>" class="returnLink"><%= t('screens.edit_metadata.return') %></a>

    <%= display_standard_flashes %>

    <h2><%= t('screens.edit_metadata.general_information') %></h2>

    <div class="line clearfix">
      <label for="view_name" class="required"><%= t('screens.edit_metadata.dataset_title') %></label>
      <%= text_field_tag("view[name]", @view.name, :title => t('screens.edit_metadata.dataset_title_prompt'), :class => "textPrompt") %>
    </div>

    <div class="line clearfix">
      <label for="view_description"><%= t('screens.edit_metadata.brief_description') %></label>
      <%= text_area_tag("view[description]", @view.description, :title => t('screens.edit_metadata.brief_description_prompt'), :class => "textPrompt") %>
    </div>

    <div class="line clearfix">
      <label for="view_category"><%= t('screens.edit_metadata.category') %></label>
      <%= select_tag("view[category]", category_select_options(@view.category.nil? ? '' : @view.category)) %>
    </div>

    <div class="line clearfix">
      <label for="view_tags"><%= t('screens.edit_metadata.tags_keywords') %></label>
      <%= text_field_tag("view[tags]", @view.tags.nil? ? '' : @view.tags.join(', '), :title => t('screens.edit_metadata.tags_prompt'), :class => "textPrompt") %>
      <div class="additionalHelp"><%= t('screens.edit_metadata.keywords_help') %></div>
    </div>

    <%- if @view.is_href? -%>
      <h2><%= t('screens.edit_metadata.external_datasets') %></h2>
      <%- if @view.metadata && @view.metadata.accessPoints -%>
        <%- @view.metadata.accessPoints.each do |key, value| -%>
          <%- next if key.end_with?('Size') -%>
          <div class="line clearfix existingExternalSource externalSource">
            <label for="external_sources[][name]" class="required"><%= key.upcase %></label>
            <input type="text" name="external_sources[][name]" value="<%= value %>" class="textPrompt url required"/>
            <label for="external_sources[][name]" class="fileTypeLabel"><%= t('screens.edit_metadata.file_type') %></label>
            <%= text_field_tag 'external_sources[][extension]', key,
                  :class => 'extensionField textPrompt', :title => t('screens.edit_metadata.optional') %>
            <%- unless params[:no_js].present? -%>
              <a href="#remove" class="removeExternalSource button"><%= t('screens.edit_metadata.remove') %></a>
            <%- end -%>
          </div>
        <%- end -%>
      <%- end -%>
      <div class="line clearfix newExternalSource externalSource">
        <label><%= t('screens.edit_metadata.additional_source') %></label>
        <%= text_field_tag('external_sources[][name]', '', :class => 'textPrompt url',
                           :title => t('screens.edit_metadata.alternative_access_prompt')) %>
        <label for="external_sources[][name]" class="fileTypeLabel"><%= t('screens.edit_metadata.file_type') %></label>
        <%= text_field_tag 'external_sources[][extension]', '',
              :class => 'extensionField textPrompt', :title => t('screens.edit_metadata.optional') %>
      </div>
    <%- end -%>
    <h2><%= t('screens.edit_metadata.licensing_attr') %></h2>

    <div class="line clearfix">
      <label for="view_licenseId"><%= t('screens.edit_metadata.licensing') %></label>
      <%= select_tag("view[licenseId]", merged_license_select_options(@view.licenseId)) %>
      <div class="additionalHelp"><%= t('screens.edit_metadata.license_help') %></div>
    </div>

    <div class="line clearfix">
      <label for="view_attribution"><%= t('screens.edit_metadata.data_provided_by') %></label>
      <%= text_field_tag("view[attribution]", @view.attribution, :title => t('screens.edit_metadata.data_provided_prompt'), :class => "textPrompt") %>
    </div>

    <div class="line clearfix">
      <label for="view_attributionLink"><%= t('screens.edit_metadata.source_link') %></label>
      <%= text_field_tag("view[attributionLink]", @view.attributionLink, :title => t('screens.edit_metadata.source_link_prompt'), :class => "textPrompt") %>
    </div>

    <%= render :partial => 'metadata', :locals =>
        {:meta_fields => @view.merged_metadata['custom_fields'], :fieldsets => merge_custom_metadata(@view)} %>

    <%- if (!@view.data['northWest'].nil?) -%>

    <h2><%= t('screens.edit_metadata.spatial_extent') %></h2>
     <div class="line clearfix">
       <label for="view_northWest_lat"><%= t('screens.edit_metadata.northwest_latitude') %></label>
       <%= text_field_tag 'view[northWest[lat]]', (@view.data['northWest'] || {})['lat'],
           :disabled => true, :title => t('screens.edit_metadata.northwest_latitude'), :name=> 'textPrompt'%>
     </div>
     <div class="line clearfix">
       <label for="view_northWest_long"><%= t('screens.edit_metadata.northwest_longitude') %></label>
       <%= text_field_tag 'view[northWest[long]]', (@view.data['northWest'] || {})['long'],
           :disabled => true, :title => t('screens.edit_metadata.northwest_longitude'), :name=> 'textPrompt'%>
     </div>
     <div class="line clearfix">
       <label for="view_southEast_lat"><%= t('screens.edit_metadata.southeast_latitude') %></label>
       <%= text_field_tag 'view[southEast[lat]]', (@view.data['southEast'] || {})['lat'],
           :disabled => true, :title => t('screens.edit_metadata.southeast_latitude'), :name=> 'textPrompt'%>
     </div>
     <div class="line clearfix">
       <label for="view_southEast_long"><%= t('screens.edit_metadata.southeast_longitude') %></label>
       <%= text_field_tag 'view[southEast[long]]', (@view.data['southEast'] || {})['long'],
           :disabled => true, :title => t('screens.edit_metadata.southeast_longitude'), :name=> 'textPrompt'%>
     </div>

    <%- end -%>

    <%- if @view.is_tabular? -%>
    <h2><%= t('screens.edit_metadata.semantics_rdf') %></h2>
     <div class="line clearfix">
       <label for="view_metadata_rdfClass"><%= t('screens.edit_metadata.row_class') %></label>
         <%= select_tag("view[metadata[rdfClass]]",
               options_for_select(
                 RdfTerm.all_class_options,
                 h(@view.metadata.nil? || @view.metadata.rdfClass.nil? ? '' : @view.metadata.rdfClass)),
               :hasCustomEdit => 1, :class => 'combo_button_edit' )
         %>
         <%= text_field_tag 'view[metadata[customRdfClass]]', @view.rdf_class, :name=>'view[metadata[customRdfClass]]',
           :class => 'textValue hide combo_button_edit'
         %>
         <ul class="comboToggle actionButtons"><li><a><%= t('screens.edit_metadata.custom') %></a></li></ul>
     </div>

     <div class="line clearfix">
       <label for="view_metadata_rdfSubject"><%= t('screens.edit_metadata.subject_column') %></label>
       <%= select_tag("view[metadata[rdfSubject]]",
           rdf_subject_select_options(
           @view.columns,
           h(@view.metadata.nil? || @view.metadata.rdfSubject.nil? ? '' : @view.metadata.rdfSubject)))
       %>
     </div>

    <h2><%= t('screens.edit_metadata.api_endpoint') %></h2>
    <%- if module_enabled?(:api_foundry)-%>
     <div class="line clearfix">
       <label for="view_resourceName"><%= t('screens.edit_metadata.resource_name') %></label>
       <%= text_field_tag("view[resourceName]", @view.resourceName, :title => t('screens.edit_metadata.resource_name_prompt'), :class => "textPrompt") %>
     </div>
    <%- end -%>

     <div class="line clearfix">
       <label for="view_metadata_rowIdentifier"><%= t('screens.edit_metadata.row_identifier') %></label>
       <%= row_identifier_select_tag %>
     </div>

    <%- end -%>

    <%# HACK: The only customer to really use this is Data.gov, so only show it for them %>
    <%- if Rails.env.development? || CurrentDomain.cname == "explore.data.gov" -%>
      <h2><%= t('screens.edit_metadata.external_id') %></h2>
      <div class="line clearfix">
        <label for="view_externalId"><%= t('screens.edit_metadata.external_identifier') %></label>
        <%= text_field_tag("view[externalId]", @view.externalId, :title => t('screens.edit_metadata.external_id_prompt'), :class => "textPrompt") %>
      </div>
    <%- end -%>

    <h2><%= t('screens.edit_metadata.thumbnail_image') %></h2>
    <div class="customImage">
      <div class="line clearfix">
        <label><%= t('screens.edit_metadata.upload_image') %></label>
        <%= file_field_tag('custom_image', :accept => '(jpe?g|gif|png)',
                           'data-endpoint' => "/api/views/#{@view.id}/files.txt",
                           :class => 'customDatasetImageSelect') %>
        <span class="uploadIndicator throbber"></span>
        <div class="additionalHelp"><%= t('screens.edit_metadata.upload_help') %></div>
        <span class="imageError flash error"><%= t('screens.edit_metadata.upload_error') %></span>
        <%= hidden_field_tag('view[iconUrl]', @view.iconUrl, :class => 'iconUrlField') %>
      </div>
      <div class="line clearfix<%= ' hide' unless @view.iconUrl %>">
        <label>&nbsp;</label>
        <div class="customImageContainer">
          <img alt="image" src="<%= @view.custom_image  %>" class="ajaxImage datasetImage" />
        </div>
      </div>
      <%- if @view.iconUrl.present? -%>
        <div class="line clearfix">
          <label><%= t('screens.edit_metadata.remove_image') %></label>
          <%= check_box_tag ('delete_custom_image') %>
        </div>
      <%- end -%>
    </div>

    <h2><%= t('screens.edit_metadata.attachments') %></h2>

    <div class="attachments">
      <div class="line clearfix">
        <label><%= t('screens.edit_metadata.existing_attachments') %></label>
        <div class="existingAttachments">
          <ul>
            <%- if @view.metadata && !@view.metadata.attachments.blank? -%>
              <%- @view.metadata.attachments.each do |attachment| -%>
                <%- attachmentObj = Attachment.set_up_model(attachment) -%>
                <li>
                  <%= hidden_field_tag("view[metadata[attachments]][][blobId]",   attachment['blobId']) %>
                  <%= hidden_field_tag("view[metadata[attachments]][][assetId]",   attachment['assetId']) %>
                  <%= hidden_field_tag("view[metadata[attachments]][][filename]", attachment['filename']) %>
                  <%= text_field_tag(  "view[metadata[attachments]][][name]",     attachmentObj.displayName) %>
                  <span class="deleteLinks">
                    <label><%= t('screens.edit_metadata.delete') %></label>
                    <%= check_box_tag("view[metadata[attachments]][][delete]") %>
                  </span>
                </li>
              <%- end -%>
            <%- else -%>
              <li class="noAttachmentsItem"><%= t('screens.edit_metadata.none') %></li>
            <%- end -%>
          </ul>
        </div>
      </div>

      <div class="line clearfix">
        <label for="attachment_new" class="newAttachmentLabel"><%= t('screens.edit_metadata.new_attachment') %></label>
        <%= file_field_tag("attachment_new") %>
        <span class="uploadAttachmentThrobber throbber"></span>
      </div>
    </div>

    <h2><%= t('screens.edit_metadata.contact_information') %></h2>
    <div class="line clearfix">
      <label><%= t('screens.edit_metadata.contact_email') %></label>
      <%= text_field_tag('view[privateMetadata][contactEmail]', (@view.data['privateMetadata'] || {})['contactEmail'],
            :title => t('screens.edit_metadata.email_address'), :class => 'textPrompt email') %>
      <div class="additionalHelp"><%= t('screens.edit_metadata.email_help') %></div>
    </div>

    <%- if current_user.flag?('admin') -%>
    <h2 class="featureFlags">Feature Flags (admin only)</h2>
    <div class="featureFlags">
    <%- domain_flags = CurrentDomain.feature_flags
        dataset_flags = @view.metadata.try(:feature_flags) || {}
        FeatureFlags.derive(@view).each do |key, value|
          flag_config = Hashie::Mash.new(ExternalConfig.for(:feature_flag)[key])
          disabled = !dataset_flags.has_key?(key) -%>
      <div class="line clearfix<%= disabled ? ' disabled' : '' %>" title="<%= flag_config.description %>">
        <label><%= key %><br /><span>(From Domain: <%= domain_flags[key] %>)</span></label>
        <a class="enableButton button"><%= disabled ? 'Override' : 'Use Domain Setting' %></a>
        <div class="valueBox"><%= feature_flag_input key, flag_config, value, :edit_metadata => true, :disabled => disabled %></div>
      </div>
    <%- end -%>
    </div>
    <%- end -%>

    <div class="required"><%= t('screens.edit_metadata.required_field') %></div>
    <div class="clearfix submitActions">
      <input class="button submitButton" type="submit" title="<%= t('screens.edit_metadata.save_changes') %>" value="Save" />
      <a class="button" href="<%= view_path(@view) %>"><%= t('screens.edit_metadata.cancel') %></a>
    </div>
  <%- end -%>
</div>
<%= render_translations LocalePart.screens.edit_metadata %>

<% content_for :js_footer do %>
  <script type='text/javascript'>
    blist.viewId = '<%= @view.id %>'
  </script>
  <script type="text/javascript">
    $(function() {
        var $form = $('div.featureFlags');
        $('h2.featureFlags').click(function() { $form.slideToggle(); });
        $('input:text, select', $form).bind('focus change', function()
        {
            $(this).siblings('input.other').click();
        });
        $('form').submit(function(e)
        {
            $('.line', $form).each(function()
            {
                var $this = $(this);
                if (!$this.find('.other').is(':checked'))
                { $this.find('input:text, select').prop('disabled', true); }
            });
        });
        $('.enableButton').click(function()
        {
            var $this = $(this);
            var disabled = $this.text() == 'Use Domain Setting';
            $this.parents('.line').toggleClass('disabled', disabled)
                   .find('input, select').prop('disabled', disabled);
            $this.text( disabled ? 'Override' : 'Use Domain Setting' );
        });
    });
  </script>
  <%- unless params[:no_js] == 'true' -%>
    <%= include_javascripts 'dataset-edit-metadata' %>
  <%- end -%>
<% end %>
