<%- page = 'screens.dataset_new' -%>
<% content_for :head do %>
  <%= rendered_stylesheet_tag 'dataset-new' %>
  <title><%= t("#{page}.title") %> | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <a href="<%= upload_datasets_path %>"><%= t("#{page}.upload_accessible") %></a>
<% end %>

<div id="app"></div>

<%= render_import_wizard_translations %>
<%= render_custom_metadata %>
<%= render_importable_types %>
<%= render_enabled_modules %>
<%= render_dataset_categories %>
<%= render_view(@view) %>
<%= render_license_options %>

<% content_for :js_footer do %>
  <%= render_licenses %>
<% end %>

<%= include_webpack_bundle 'import-wizard/main.js' %>
