<% content_for :head do %>
  <%= rendered_stylesheet_tag 'dataset-new' %>
  <title>New Dataset | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <a href="/datasets/upload">Upload a new dataset accessibly</a>
<% end %>

<div class="contentBox fixedWidth">
  <form class="newDatasetForm">
    <h1>Create a new Dataset</h1>

    <%= display_standard_flashes %>

    <div class="newDatasetWizard wizard">
      <ul class="clearfix">
        <li class="selectTypePane" data-wizardPaneName="selectType">
          <p class="headline">How would you like to create your new Dataset?</p>
          <ul class="newKindList clearfix">
            <li>
              <a href="#create" class="create" title="Choose this if you don't already have data you wish to import. You will be able to define a schema for your data, and input it online.">
                <span class="icon"></span>
                <p>Design from Scratch</p>
              </a>
            </li>
            <li>
              <a href="#import" class="upload" title="Choose this if you already have a data file on your computer you wish to import. Supported formats are .csv, .tsv, .xls, and .xlsx.">
                <span class="icon"></span>
                <p>Import a Data File</p>
              </a>
            </li>
            <%- if CurrentDomain.module_enabled?(:esri_integration) -%>
            <li>
              <a href="#mapLayer" class="mapLayer" title="Choose this if you have an ESRI map layer which you would like to import into the catalog. You will need to provide a URL to the API point where the ESRI layer is stored.">
                <span class="icon"></span>
                <p>Import a Map Layer Dataset</p>
              </a>
            </li>
            <%- end -%>
            <%- if CurrentDomain.module_enabled?(:geospatial) -%>
            <li>
              <a href="#shapefile" class="shapefile" title="Choose this if you have an ESRI shapefile which you would like to import into the catalog.">
                <span class="icon"></span>
                <p>Import an ESRI Shapefile</p>
              </a>
            </li>
            <%- end -%>
            <li>
              <a href="#blobby" class="blobby" title="Choose this if you have a file that has data in it but which cannot be imported, such as a PDF, or an image file. It will be imported into the data catalog, but will not be as interactive as real data.">
                <span class="icon"></span>
                <p>Upload a Non-Data File</p>
              </a>
            </li>
            <%- if CurrentDomain.member?(current_user) -%>
            <li>
              <a href="#external" class="external" title="Choose this if you already have data that is being hosted on another server. This data will not be imported.">
                <span class="icon"></span>
                <p>Link to External Data</p>
              </a>
            </li>
            <%- end -%>
          </ul>
        </li>
        <li class="uploadFilePane" data-wizardPaneName="uploadFile">
          <p class="headline"></p>
          <div class="uploadFileContainer">
            <div class="uploadFileNameWrapper"><input type="text" class="uploadFileName" readonly="readonly" value="No file selected yet."/></div>
            <div class="button uploadFileButtonWrapper">Choose a File</div>
            <div class="uploadThrobber"><span class="icon"></span><span class="text">Uploading your file...</span></div>
            <p class="uploadFileFormats">Supported formats are .csv, .tsv, .xls, and .xlsx.</p>
          </div>
        </li>
        <li class="importColumnsPane" data-wizardPaneName="importColumns">
          <div class="flash"></div>
          <p class="headline">Specify how &ldquo;<span class="fileName"></span>&rdquo; should be imported.</p>
          <h2>Columns to import</h2>
          <div class="columnsListHeader importListHeader clearfix">
            <div class="columnHandleCell importHandleCell"></div>
            <div class="columnNameCell">Name</div>
            <div class="columnTypeCell">Data Type</div>
            <div class="columnSourceCell">
              Source Column
              <a href="#" class="alert importTypesMessageLink">
                <span class="icon"></span>
                Why is it important to choose column types now?
              </a>
            </div>
          </div>
          <p class="subheadline pendingColumnsMessage">Please wait while we load your columns...</p>
          <ul class="columnsList importList">
          </ul>
          <div class="columnsToolbar clearfix">
            <div class="presets">
              <label for="columnsPresetsSelect">Reset to preset:</label>
              <select class="columnsPresetsSelect">
                <option value="suggested">Suggested columns</option>
                <option value="suggestedFlat">Suggested columns (no composites)</option>
                <option value="alltext">All columns as text</option>
              </select>
              <a class="columnsPresetsButton button" href="#set">Set</a>
            </div>
            <div class="actions">
              <a class="clearColumnsButton button" href="#clear">Clear All</a>
              <a class="addColumnButton add button" href="#add"><span class="icon"></span>Add New Column</a>
            </div>
          </div>

          <hr/>

          <h2>Headers</h2>
          <p class="instructions">Headers should be ignored and not imported as data.
            Please indicate how many rows of your source file are headers:</p>
          <div class="headersTableWrapper">
            <table class="headersTable"><tbody></tbody></table>
          </div>
          <div class="headersActions clearfix">
            <span class="headersCount"></span>
            <a href="#more" class="button downArrow moreRowsButton"><span class="icon"></span>More Rows</a>
            <a href="#less" class="button upArrow lessRowsButton"><span class="icon"></span>Less Rows</a>
          </div>

          <div class="warningsSection">
            <h2>Errors and Warnings</h2>
            <ul class="columnWarningsList"></ul>
          </div>
          <hr/>
        </li>
        <li class="importShapefilePane" data-wizardPaneName="importShapefile">
          <div class="flash"></div>
          <p class="headline">Specify how &ldquo;<span class="fileName"></span>&rdquo; should be imported.</p>
          <p class="subheadline">This shapefile contains <span class="featureCount"></span> features in
            <span class="layerCount"></span> layers.</p>

          <h2>Layers to import</h2>
          <div class="layersListHeader importListHeader clearfix">
            <div class="layerHandleCell importHandleCell"></div>
            <div class="layerNameCell">Name</div>
            <div class="layerReferenceSystemCell">Coordinate Reference System</div>
          </div>
          <p class="subheadline pendingLayersMessage">Please wait while we load your layers...</p>
          <ul class="layersList importList">
          </ul>

          <p class="seeEpsg">
            Enter coordinate reference systems in the form
            "<a href="http://www.epsg-registry.org/">EPSG:<em>number</em></a>". You can look up
            EPSG codes at the <a href="http://www.epsg-registry.org/">EPSG Registry</a>.
          </p>
          <hr />
        </li>
        <li class="workingPane" data-wizardPaneName="importing">
          <p class="headline">Importing your data...</p>
          <p class="importStatus subheadline"></p>
        </li>
        <li class="importWarningsPane" data-wizardPaneName="importWarnings">
          <p class="headline">Warnings during import</p>
          <p class="subheadline">
            Please note that some of your data may not have imported correctly.
          </p>

          <ul class="importWarningsList"></ul>

          <p class="seeDocs"><strong>Confused?</strong> Please check out our
            <a href="http://dev.socrata.com/publisher/import-data-types" rel="external">publisher documentation</a>
            on importing data for a detailed explanation on how the importer handles data.</p>
        </li>
        <li class="metadataPane" data-wizardPaneName="metadata">
          <div class="flash"></div>
          <p class="headline">Please describe your data.</p>
          <div class="commonForm metadataForm">
            <div class="externalDatasetMetadata">
              <div class="line clearfix">
                <label class="required">Dataset URL</label>
                <input type="text" name="external_sources[0]" class="textPrompt url required" title="Enter the location of your external dataset" />
              </div>
            </div>

            <div class="generalMetadata">
              <div class="line clearfix">
                <label for="view_name" class="required">Dataset Title</label>
                <%= text_field_tag("view[name]", '', :title => "Enter a title", :class => "textPrompt required") %>
              </div>

              <div class="line clearfix">
                <label for="view_description">Brief Description</label>
                <%= text_area_tag("view[description]", '', :title => "Enter a description", :class => "textPrompt") %>
              </div>

              <div class="line clearfix">
                <label for="view_category">Category</label>
                <%= select_tag("view[category]", category_select_options) %>
              </div>

              <div class="line clearfix">
                <label for="view_tags">Tags / Keywords</label>
                <%= text_field_tag("view[tags]", '', :title => "Enter keywords", :class => "textPrompt") %>
                <div class="additionalHelp">Enter one or more keywords separated by commas</div>
              </div>
            </div>

            <div class="mapLayerMetadata">
              <div class="line clearfix">
                <label for="view_esri_src" class="required">ESRI Map Layer URL</label>
                <%= text_field_tag('view[esri_src]', '', :title => 'Enter the source URL', :class => 'textPrompt required') %>
              </div>
            </div>

            <div class="licensingMetadata">
              <h2>Licensing &amp; Attribution</h2>

              <div class="line clearfix">
                <label for="view_licenseId">Licensing</label>
                <%= select_tag("view[licenseId]", license_select_options('')) %>
                <div class="additionalHelp">Choose licensing terms for people who wish to use this dataset</div>
              </div>

              <div class="line creativeCommonsLine clearfix">
                <label for="view_ccLicenseId" class="required">Creative Commons Type</label>
                <%= select_tag("view_ccLicenseId", creative_commons_select_options) %>
              </div>

              <div class="line clearfix">
                <label for="view_attribution">Data Provided By</label>
                <%= text_field_tag("view[attribution]", '', :title => "Individual or Organization", :class => "textPrompt") %>
              </div>

              <div class="line clearfix">
                <label for="view_attributionLink">Source Link</label>
                <%= text_field_tag("view[attributionLink]", '', :title => "Enter Web Address", :class => "textPrompt") %>
              </div>
            </div>

            <div class="attachmentsMetadata">
              <h2>Attachments</h2>

              <div class="attachments">
                <div class="line existingAttachmentsContainer clearfix">
                  <label>Existing Attachments</label>
                  <div class="existingAttachments">
                    <ul></ul>
                  </div>
                </div>

                <div class="line newAttachmentsContainer clearfix">
                  <label for="attachment_new" class="newAttachmentLabel">&nbsp;</label>
                  <a class="button uploadLink" href="#upload_attachment">Upload New Attachment</a>
                  <span class="uploadAttachmentThrobber"></span>
                </div>
              </div>
            </div>

            <%= render :partial => 'metadata', :locals =>
                {:meta_fields => nil, :fieldsets => CurrentDomain.property(:fieldsets, :metadata) || []} %>

            <div class="privacyMetadata">
              <h2>Privacy &amp; Security</h2>

              <div class="line clearfix">
                <label>Privacy Settings</label>
                <div class="radioblock">
                  <div>
                    <%= radio_button_tag("privacy", "public") %>
                    <label for="privacy_public">
                      My data is <strong>public</strong>: it can only be modified by me, but everyone can view it
                    </label>
                  </div>
                  <div>
                    <%= radio_button_tag("privacy", "private", :checked => true) %>
                    <label for="privacy_private">
                      My data is <strong>private</strong>
                    </label>
                  </div>
                </div>
              </div>

              <div class="line clearfix">
                <label>Contact Email</label>
                <%= text_field_tag('view[privateMetadata][contactEmail]', '',
                      :title => 'Email Address', :class => 'textPrompt email') %>
                <div class="additionalHelp">This address will not be displayed publicly. If left blank, it will default to your address</div>
              </div>
            </div>

            <div class="required">Required Field</div>
          </div>
        </li>
        <li class="workingPane" data-wizardPaneName="working">
          <p class="headline">Processing...</p>
        </li>
        <li class="finishPane" data-wizardPaneName="finish">
          <p class="headline">Your Dataset has been created.</p>
          <p class="subheadline">Click on Finish to see it!</p>
        </li>
      </ul>
    </div>
  </form>
</div>

<% content_for :templates do %>
  <ul class="columnsListLine">
    <li class="importColumn">
      <div class="mainLine">
        <div class="columnHandleCell importHandleCell"></div>
        <div class="columnNameCell">
          <input type="text" class="columnName" title="Name this column"/>
        </div>
        <div class="columnTypeCell">
          <select class="columnTypeSelect">
            <%= options_for_select(Column.importable_types.invert) %>
          </select>
        </div>
        <div class="columnSourceCell"></div>
        <div class="columnActionCell clearfix">
          <a href="#remove" class="remove icon" title="Remove">remove</a>
          <a href="#options" class="options icon" title="Options">options</a>
        </div>
      </div>
      <div class="detailsLine">
        <div class="compositeDetails"></div>
        <div class="locationDetails"></div>
        <div class="generalDetails"></div>
      </div>
    </li>
  </ul>
  <ul class="layersListLine">
    <li class="importLayer">
      <div class="mainLine line">
        <div class="layerHandleCell importHandleCell"></div>
        <div class="layerNameCell">
          <span class="layerName"></span>
        </div>
        <div class="layerReferenceSystemCell">
          <input type="text" class="layerReferenceSystem textPrompt required" title="Enter a coordinate reference system"/>
        </div>
      </div>
    </li>
  </ul>
  <ul class="sourceColumnsListLine">
    <li class="clearfix">
      <a class="remove removeSourceColumnLineButton" href="#remove"><span class="icon">remove</span></a>
      <div class="compositeColumnSourcePlaceholder" data-class="compositeColumnSourceSelect"></div>
      <input type="text" class="staticSourceText"/>
    </li>
  </ul>
  <ul class="columnTransformsListLine">
    <li class="clearfix">
      <a class="remove removeTransformLineButton" href="#remove"><span class="icon">remove</span></a>
      <span class="thenText">then</span>
      <select class="columnTransformOperation">
        <option value="title">Make Title Case</option>
        <option value="upper">Make UPPERCASE</option>
        <option value="lower">Make lowercase</option>
        <option value="toStateCode">Convert states to 2-letter codes</option>
        <option value="findReplace">Find and Replace value...</option>
        <option value="customExpression">Custom Javascript Expression...</option>
      </select>
      <div class="additionalTransformOptions">
        <div class="findReplaceSection">
          <label class="findTextLabel">find</label>
          <input type="text" class="findText"/>
          <label class="replaceTextLabel">and replace it with</label>
          <input type="text" class="replaceText"/>
          <input type="checkbox" class="caseSensitive"/>
          <label class="caseSensitiveLabel">case sensitive</label>
          <input type="checkbox" class="regex"/>
          <label class="regexLabel">regex</label>
        </div>
        <div class="customExpressionSection">
          <label class="customExpressionLabel"></label>
          <input type="text" class="customExpression"/>
          <a rel="external" href="http://dev.socrata.com/">How do I create a custom Javascript expression?</a>
        </div>
      </div>
    </li>
  </ul>
  <div class="compositeDetails">
    <h3>Combine Multiple Columns</h3>
    <h4>Create one column out of many source columns:</h4>
    <ul class="sourceColumnsList"></ul>
    <a href="#newSourceColumn" class="button add newSourceColumnButton">
      <span class="icon"></span>Add new source column
    </a>
  </div>
  <div class="locationDetailsOriginal">
    <h3>Location Source Columns</h3>
    <h4>Addresses will be geocoded after import is complete.</h4>
    <div class="clearfix">
      <fieldset class="left">
        <legend>Import Existing Address Columns</legend>
        <div class="line locationAddressLine clearfix">
          <label class="locationAddressLabel" for="locationAddressColumn">Street</label>
          <div class="columnSourcePlaceholder" data-class="locationAddressColumn"></div>
        </div>
        <div class="line locationCityLine clearfix">
          <label class="locationCityLabel" for="locationCityColumn">City</label>
          <div class="optionGroup">
            <input type="radio" name="locationCityToggle" class="locationSourceToggle" checked="checked"/>
            <div class="columnSourcePlaceholder" data-class="locationCityColumn"></div>
            <input type="radio" name="locationCityToggle" class="locationSourceToggle"/>
            <input type="text" class="locationCityStatic textPrompt" title="Enter a custom value"/>
          </div>
        </div>
        <div class="line locationStateLine clearfix">
          <label class="locationStateLabel" for="locationStateColumn">State</label>
          <div class="optionGroup">
            <input type="radio" name="locationStateToggle" class="locationSourceToggle" checked="checked"/>
            <div class="columnSourcePlaceholder" data-class="locationStateColumn"></div>
            <input type="radio" name="locationStateToggle" class="locationSourceToggle"/>
            <input type="text" class="locationStateStatic textPrompt" title="Enter a custom value"/>
          </div>
        </div>
        <div class="line locationZipLine clearfix">
          <label class="locationZipLabel" for="locationZipColumn">Zip</label>
          <div class="optionGroup">
            <input type="radio" name="locationZipToggle" class="locationSourceToggle" checked="checked"/>
            <div class="columnSourcePlaceholder" data-class="locationZipColumn"></div>
            <input type="radio" name="locationZipToggle" class="locationSourceToggle"/>
            <input type="text" class="locationZipStatic textPrompt" title="Enter a custom value"/>
          </div>
        </div>
      </fieldset>
      <fieldset class="right">
        <legend>Import Latitude and Longitude</legend>
        <div class="line locationLatitudeLine clearfix">
          <label class="locationLatitudeLabel">Latitude</label>
          <div class="columnSourcePlaceholder" data-class="locationLatitudeColumn"></div>
        </div>
        <div class="line locationLongitudeLine clearfix">
          <label class="locationLongitudeLabel">Longitude</label>
          <div class="columnSourcePlaceholder" data-class="locationLongitudeColumn"></div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="generalDetails">
    <h3>Options</h3>
    <h4>Perform the following transformation upon import:</h4>
    <ul class="columnTransformsList">
    </ul>
    <a href="#newTransform" class="button add newColumnTransformButton">
      <span class="icon"></span>Add new transform
    </a>
  </div>
<% end %>

<% content_for :modals do %>
  <div class="modalDialog" id="importTypesMessage">
    <a href="#close" class="jqmClose modalDialogClose">Close</a>
    <h2>Why is it important to choose column types now?</h2>
    <p>Your data is heavily processed when it is imported, and optimized for consumption
       for each particular data type. In addition, most data types have special features
       that will only be activated should the column be set to that type &mdash; location
       columns, for example, are necessary to create maps.</p>
    <p>It is possible to change column types later, but it is a process that takes some
       time, so it's best to set it all properly up front.</p>
    <div class="finishButtons">
      <a href="#close" class="button jqmClose">Close</a>
    </div>
  </div>
<% end %>

<% content_for :js_footer do %>
  <%= include_javascripts 'dataset-new' %>
<% end %>
