<% content_for :head do %>
  <%= rendered_stylesheet_tag 'dataset-new' %>
  <title>New Dataset | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <a href="/datasets/upload">Upload a new dataset accessibly</a>
<% end %>

<div class="contentBox fixedWidth">
  <form class="newDatasetForm">
    <h1>Create a new Dataset</h1>

    <%= display_standard_flashes %>

    <div class="newDatasetWizard wizard">
      <ul class="clearfix">
        <li class="selectTypePane" data-wizardPaneName="selectType">
          <p class="headline">How would you like to create your new Dataset?</p>
          <ul class="newKindList clearfix">
            <li>
              <a href="#create" class="create" title="Choose this if you don't already have data you wish to import. You will be able to define a schema for your data, and input it online.">
                <span class="icon"></span>
                <p>Design from Scratch</p>
              </a>
            </li>
            <li>
              <a href="#import" class="upload" title="Choose this if you already have a data file on your computer you wish to import. Supported formats are .csv, .tsv, .xml, .xls, and .xlsx.">
                <span class="icon"></span>
                <p>Import a Data File</p>
              </a>
            </li>
            <%- if CurrentDomain.module_enabled?(:esri_integration) -%>
            <li>
              <a href="#mapLayer" class="mapLayer" title="Choose this if you have an ESRI map layer which you would like to import into the catalog. You will need to provide a URL to the API point where the ESRI layer is stored.">
                <span class="icon"></span>
                <p>Import a Map Layer Dataset</p>
              </a>
            </li>
            <%- end -%>
            <li>
              <a href="#blobby" class="blobby" title="Choose this if you have a file that has data in it but which cannot be imported, such as a PDF, or an image file. It will be imported into the data catalog, but will not be as interactive as real data.">
                <span class="icon"></span>
                <p>Upload a Non-Data File</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="uploadFilePane" data-wizardPaneName="uploadFile">
          <p class="headline"></p>
          <div class="uploadFileContainer">
            <input type="text" class="uploadFileName" readonly="readonly" value="No file selected yet."/>
            <div class="button uploadFileButton">Choose a File</div>
            <div class="uploadThrobber"><span class="icon"></span><span class="text">Uploading your file...</span></div>
            <p class="uploadFileFormats">Supported formats are .csv, .tsv, .xml, .xls, and .xlsx.</p>
          </div>
        </li>
        <li class="metadataPane" data-wizardPaneName="metadata">
          <div class="flash"></div>
          <p class="headline">Please describe your data.</p>
          <div class="commonForm metadataForm">
            <div class="generalMetadata">
              <div class="line clearfix">
                <label for="view_name" class="required">Dataset Title</label>
                <%= text_field_tag("view[name]", '', :title => "Enter a title", :class => "textPrompt required") %>
              </div>

              <div class="line clearfix">
                <label for="view_description">Brief Description</label>
                <%= text_area_tag("view[description]", '', :title => "Enter a description", :class => "textPrompt") %>
              </div>

              <div class="line clearfix">
                <label for="view_category">Category</label>
                <%= select_tag("view[category]", category_select_options) %>
              </div>

              <div class="line clearfix">
                <label for="view_tags">Tags / Keywords</label>
                <%= text_field_tag("view[tags]", '', :title => "Enter keywords", :class => "textPrompt") %>
                <div class="additionalHelp">Enter one or more keywords separated by commas</div>
              </div>
            </div>

            <div class="mapLayerMetadata">
              <div class="line clearfix">
                <label for="view_esri_src" class="required">ESRI Map Layer URL</label>
                <%= text_field_tag('view[esri_src]', '', :title => 'Enter the source URL', :class => 'textPrompt required') %>
              </div>
            </div>

            <div class="licensingMetadata">
              <h2>Licensing &amp; Attribution</h2>

              <div class="line clearfix">
                <label for="view_licenseId">Licensing</label>
                <%= select_tag("view[licenseId]", license_select_options('')) %>
                <div class="additionalHelp">Choose licensing terms for people who wish to use this dataset</div>
              </div>

              <div class="line creativeCommonsLine clearfix">
                <label for="view_ccLicenseId" class="required">Creative Commons Type</label>
                <%= select_tag("view_ccLicenseId", creative_commons_select_options) %>
              </div>

              <div class="line clearfix">
                <label for="view_attribution">Data Provided By</label>
                <%= text_field_tag("view[attribution]", '', :title => "Individual or Organization", :class => "textPrompt") %>
              </div>

              <div class="line clearfix">
                <label for="view_attributionLink">Source Link</label>
                <%= text_field_tag("view[attributionLink]", '', :title => "Enter Web Address", :class => "textPrompt") %>
              </div>
            </div>

            <div class="attachmentsMetadata">
              <h2>Attachments</h2>

              <div class="attachments">
                <div class="line existingAttachmentsContainer clearfix">
                  <label>Existing Attachments</label>
                  <div class="existingAttachments">
                    <ul></ul>
                  </div>
                </div>

                <div class="line newAttachmentsContainer clearfix">
                  <label for="attachment_new" class="newAttachmentLabel">&nbsp;</label>
                  <a class="button uploadLink" href="#upload_attachment">Upload New Attachment</a>
                  <span class="uploadAttachmentThrobber"></span>
                </div>
              </div>
            </div>

            <div class="customMetadata">
              <%- (CurrentDomain.custom_dataset_metadata || []).each do |fieldset| -%>
                <div class="customFieldsetWrapper">
                  <h2>
                    <a href="#Toggle" class="toggleFieldsetLink expander expanded">
                      <span class="icon"></span>
                      <%= fieldset.name %>
                    </a>
                  </h2>

                  <div class="customFieldset">
                    <%- (fieldset.fields || []).each do |field| -%>
                      <%- required   = field['required'].present?
                          md_field   = field['private'].present? ? 'privateMetadata' : 'metadata' -%>
                      <div class="line clearfix<%= ' customRequired' if required %>">
                        <label for="view_<%= md_field %>_custom_fields_<%= fieldset.name + "_" + field.name %>"
                          <%= " class='required'" if required %>>
                          <%= field.name %></label>
                        <%= text_field_tag("view[#{md_field}][custom_fields][#{fieldset.name}][#{field.name}]", '') %>
                        <%- if field['private'].present? -%>
                          <div class="additionalHelp">This field has been marked private by your organization and is not publicly viewable</div>
                        <%- end -%>
                      </div>
                    <%- end -%>
                  </div>
                </div>
              <%- end -%>
            </div>

            <div class="privacyMetadata">
              <h2>Privacy &amp; Security</h2>

              <div class="line clearfix">
                <label>Privacy Settings</label>
                <div class="radioblock">
                  <div>
                    <%= radio_button_tag("privacy", "public") %>
                    <label for="privacy_public">
                      My data is <strong>public</strong>: it can only be modified by me, but everyone can view it
                    </label>
                  </div>
                  <div>
                    <%= radio_button_tag("privacy", "private", :checked => true) %>
                    <label for="privacy_private">
                      My data is <strong>private</strong>
                    </label>
                  </div>
                </div>
              </div>

              <div class="line clearfix">
                <label>Contact Email</label>
                <%= text_field_tag('view[privateMetadata][contactEmail]', '',
                      :title => 'Email Address', :class => 'textPrompt email') %>
                <div class="additionalHelp">This address will not be displayed publicly. If left blank, it will default to your address</div>
              </div>
            </div>

            <div class="required">Required Field</div>
          </div>
        </li>
        <li class="workingPane" data-wizardPaneName="working">
          <p class="headline">Processing...</p>
          <div class="brandedSpinner"></div>
        </li>
        <li class="finishPane" data-wizardPaneName="finish">
          <p class="headline">Your Dataset has been created.</p>
          <p class="subheadline">Click on Finish to see it!</p>
        </li>
      </ul>
    </div>
  </form>
</div>

<% content_for :js_footer do %>
  <%= include_javascripts 'dataset-new' %>
<% end %>
