<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, "/views/#{@view.id}/rows.rss") %>
  <%= raw @view.display.render_stylesheet_includes %>
  <%= rendered_stylesheet_tag 'dataset-page' %>

  <title><%= h(@view.name) %> | <%= CurrentDomain.strings.site_title %></title>
  <%= meta_tags :description => @meta_description, :keywords => @meta_keywords %>
  <link rel="canonical" href="<%= @view.href %>" />
<% end %>

<div id='datasetBar' class='clearfix'>
  <div id='viewsMenu' class='menu'></div>
  <div id='datasetIcon' class='type<%= @view.display.type %>'>
    <span class='icon'><%= @view.display.name %></span>
  </div>

  <div id='titleLine'>
    <span id='datasetName'><%= @view.name %></span>
  </div>

  <div id='actionLine'>
    <span id='description' class='clipText'><%= @view.description %></span>

    <ul id='sidebarOptions' class='right'>
      <li><a href='#Feed'>Feed</a></li>
      <li><a href='#Filter'>Filter</a></li>
    </ul>
    <ul class='right'>
      <li><a id='searchLink' class='search' href='#Search'>
        <span class='icon'></span>Search
      </a></li>
      <li><div id='shareMenu' class='share menu'></div></li>
    </ul>
  </div>
</div>

<div class='outerContainer'>
  <div class='gridContainer'>
    <div id='mainGrid' class='fullHeight'>
      <%= raw @view.display.render_body(self) %>
      <%= render(:partial => @view.display.render_partial) %>
    </div>
  </div>

  <div id='gridSidebar'>
    <a class='close' href='#close'><span class='icon'>Close</span></a>
  </div>
</div>

<% content_for :templates do %>
<%= render(:partial => 'grid_sidebar_templates') %>
<% end %>

<% content_for :js_footer do %>
  <script type="text/javascript">
    <%= raw @view.display.render_inline_setup_js('data-grid', self) %>
  </script>

  <%= raw @view.display.render_javascript_includes(self) %>

  <%= javascript_include_merged 'screen-dataset' %>
<% end %>
