<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, "/views/#{@view.id}/rows.rss") %>
  <%= include_stylesheets 'grid-sidebar' %>
  <%= rendered_stylesheet_tag 'dataset-show' %>

  <meta name="viewport" content="width=1024, user-scalable=no, maximum-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <title><%= h(@view.name) %> | <%= CurrentDomain.strings.site_title %></title>
  <link rel="canonical" href="<%= @view.href %>" />
<% end %>

<% content_for :skip_links do %>
  <%= link_to 'Go to an accessible version of this page', @view.alt_href %>

  <%- if @view.can_edit? -%>
    <%= link_to 'Edit the metadata of this dataset', @view.href + '/edit_metadata' %>
  <%- end -%>
<% end %>

<%= display_standard_flashes %>

<%- sidebar_position = CurrentDomain.property(:position, :sidebar) || 'right' -%>
<% content_for :dataset_actions do %>
  <div id="actionBox" class="clearfix">
    <ul id="toolbarOptions" class="clearfix">
      <%- if @view.is_published? -%>
      <li>
        <ul id="shareOptions">
          <li><a class="facebook" rel="external" title="Share on Facebook"
                href="http://www.facebook.com/share.php?u=<%= CGI::escape("http://#{CurrentDomain.cname}#{@view.href}") %>">
            <span class="icon">Share on Facebook</span></a></li>
          <li><a class="twitter" rel="external" title="Share on Twitter"
                href="http://twitter.com/?status=<%= @view.tweet %>">
            <span class="icon">Share on Twitter</span></a></li>
          <%- if @view.has_right?('grant') || @view.is_public? -%>
            <li><a class="email" href="#email" title="Share via Email">
              <span class="icon">Share via Email</span></a></li>
          <%- end -%>
        </ul>
      </li>
      <%- end -%>
      <li>
        <%- if @view.available_display_types.length > 1 -%>
        <ul id="renderTypeOptions" class="pillButtons">

          <%- title_types = {'page' => 'single row', 'fatrow' => 'rich list'} -%>
          <%- url_types = {'fatrow' => 'richList'} -%>
          <%- @view.available_display_types.clone.
            push('template').each do |type| -%>
          <li><a
            href="<%= @view.href %>?defaultRender=<%= url_types[type] || type %>"
            class="<%= type %> noRedirPrompt
              <%= type == 'template' ? 'hide' : '' %>"
            title="View as a <%= title_types[type] || type %>">
            <span class="icon"></span>
          </a></li>
          <%- end -%>

        </ul>
        <%- end -%>
      </li>
      <%- if @view.is_tabular? && !@view.is_form? -%>
      <li>
        <form id="searchForm" action="#">
          <span class="icon"></span>
          <input type="text" class="searchField textPrompt" title="Find in this Dataset" />
          <a href="#clear" class="clearSearch close"><span class="icon"></span></a>
        </form>
      </li>
      <%- end -%>
    </ul>
  </div>

  <a href="#toggleFullScreen" class="fullscreenButton maximize" title="Toggle full screen">
    <span class="icon">Toggle full screen</span>
  </a>

  <div id="actionBar" class="clearfix position-<%= sidebar_position %>">
    <%- if @view.can_modify_data? -%>
    <div id="editBar" class="clearfix">
      <ul id="editOptions">
        <li><a href="#Undo" class="button undo" title="Undo">
          <span class="icon">Undo</span>
        </a></li>
        <li><a href="#Redo" class="button redo" title="Redo">
          <span class="icon">Redo</span>
        </a></li>
      </ul>

      <div id="formatOptions" class="disabled">
        <ul>
          <li><a href="#format_bold" class="button bold toggleButton"
            title="Bold"><span class="icon">Bold</span></a></li>
          <li><a href="#format_underline" class="button underline toggleButton"
            title="Underline"><span class="icon">Underline</span></a></li>
          <li><a href="#format_italic" class="button italic toggleButton"
            title="Italic"><span class="icon">Italic</span></a></li>
          <li><a href="#format_strikethrough" class="button strike toggleButton"
            title="Strikethrough"><span class="icon">Strike</span></a></li>
          <li><a href="#format_unorderedList"
            class="button bulletedList toggleButton"
            title="Bulleted List"><span class="icon">Bulleted List</span></a></li>
          <li><a href="#format_orderedList" class="button numberedList toggleButton"
            title="Numbered List"><span class="icon">Numbered List</span></a></li>
          <li><a href="#format_link" class="button link toggleButton"
            title="Link">Link</a></li>
          <li><%= select_tag("format_fontFamily", font_select_options('Helvetica'),
            {:class => 'fontFamily'}) %></li>
          <li><%= select_tag("format_fontSize", font_size_select_options(12),
            {:class => 'fontSize'}) %></li>
          <li><div class="menu color">
            <a class="menuButton color" title="Font Color">
              <span class="colorIcon colorIndicator"></span><span class="icon"></span>
            </a>
          </div></li>
          <li><div class="align menu alignLeft"></div></li>
        </ul>
      </div>
    </div>
    <%- end -%>

    <div class="sidebarOptionsContainer clearfix">
      <ul id="sidebarOptions" class="clearfix">
        <li><a href="#Edit" title="Edit" class="edit"
          data-paneName="edit"><span class="icon"></span>Edit</a></li>
        <li><a href="#Manage" title="Manage" class="manage"
          data-paneName="manage"><span class="icon"></span>Manage</a></li>
        <li><a href="#More_Views" title="More Views" class="moreViews"
          data-paneName="moreViews"><span class="icon"></span>More Views</a></li>
        <li><a href="#Filter" title="Filter" class="filter"
          data-paneName="filter"><span class="icon"></span>Filter
          <span class="alertIcon"></span></a></li>
        <li><a href="#Visualize" title="Visualize" class="visualize"
          data-paneName="visualize"><span class="icon"></span>Visualize</a></li>
        <li><a href="#Export" title="Export" class="export"
          data-paneName="export"><span class="icon"></span>Export</a></li>
        <li><a href="#Discuss" title="Discuss" class="feed"
          data-paneName="feed"><span class="icon"></span>Discuss</a></li>
        <li><a href="#Embed" title="Embed" class="embed"
          data-paneName="embed"><span class="icon"></span>Embed</a></li>
        <li><a href="#About" title="About" class="about"
          data-paneName="about"><span class="icon"></span>About</a></li>
      </ul>
    </div>
  </div>
<% end %>
<%= render :partial => 'dataset_bar', :locals => {:sidebar_position => sidebar_position} %>

<div class="outerContainer">
  <div id="renderTypeContainer" class="innerContainer">
    <div class="aboutLoad">
      <%= render :partial => 'about_dataset' %>
      <%- if @view.is_tabular? && !@view.is_form? && @view.display.data_valid? -%>
      <%# SEO links for individual rows %>
      <%- next_index = 0 -%>
      <%- if !@row.nil? -%>
      <%- next_index = @view.get_row_index(@row['sid']) + 1 -%>
      <%- next_row = @view.get_row_by_index(next_index) -%>
      <%- end -%>
      <%- if !next_row.nil? -%>
      <a href="<%= @view.href %>/<%= next_row['sid'] %>" class="rowLink">
        <%= @row.nil? ? 'First' : 'Next' %> row
      </a>
      <%- else -%>
      <a href="<%= @view.href %>/row_index/<%= next_index %>" class="rowLink">
        <%= next_index == 0 ? 'First' : 'Next' %> row
      </a>
      <%- end -%>
      <%- end -%>
    </div>
    <div class="mainSpinner loadingSpinnerContainer hide">
      <div class="loadingSpinner"></div>
    </div>
    <div class="viewErrorContainer">
      <%- if @view.has_rights?('update_view') -%>
      <div class="viewError"><%= @view.display.invalid_message %></div>
      <ul class="invalidActions">
        <li>
          <a href="#Edit" class="editView button">Edit View</a>
        </li>
        <%- if @view.has_rights?('delete_view') -%>
        <li>
          <a href="#Remove" class="removeView button">Delete View</a>
        </li>
        <%- end -%>
      </ul>
      <%- else -%>
      <div class="viewError">This view cannot be displayed</div>
      <%- end -%>
    </div>

    <div id="staticRenderType" class="fullHeight renderTypeNode">
      <%= render(:partial => @view.display.render_partial) %>
    </div>

    <%- if @view.is_tabular? && !@view.is_form? -%>
    <div id="fatRowRenderType" data-renderType="fatrow"
      class="fatRowRenderType navRenderType renderTypeNode fullHeight hide">
      <div class="columnHeaders"></div>
      <div class="rowList"></div>
      <ul class="navigation">
      <%- if !@current_user.nil? && @current_user.has_right?('create_datasets') &&
          @view.has_rights?('update_view') && !@view.is_snapshotted? -%>
        <li class="edit"><a class="button"
          href="<%= @view.href %>/edit_rr?defaultRender=richList">
          Edit Layout
        </a></li>
        <%- end -%>
        <li><a href="#start" title="View first page" class="start button">
          <span class="icon"></span>
        </a></li>
        <li><a href="#previous" title="View previous page" class="previous button">
          <span class="icon"></span>
        </a></li>
        <li class="page"><a href="#page">0</a></li>
        <li><a href="#next" title="View next page" class="next button">
          <span class="icon"></span>
        </a></li>
        <li><a href="#end" title="View last page" class="end button">
          <span class="icon"></span>
        </a></li>
      </ul>
      <div class="templateRow row clearfix">
      </div>
    </div>

    <div id="pageRenderType" data-renderType="page"
      class="pageRenderType navRenderType renderTypeNode fullHeight hide">
      <div class="content">
        <%- if !@row.nil? -%>
        <div class="pageColumn">
          <%- @view.visible_columns.each do |c| -%>
          <div class="pageLine <%= c.renderTypeName %>">
            <span class="pageLabel"><%= c.name %></span>

            <div class="pageItem">
              <%- cell = @row[c.id] -%>
              <%- if c.renderTypeName == 'nested_table' -%>
              <table>
                <thead>
                  <tr>
                    <%- c.viewable_children.each do |cc| -%>
                    <th><%= cc.name %></th>
                    <%- end -%>
                  </tr>
                </thead>
                <tbody>
                  <%- (cell || []).each do |cr| -%>
                  <tr>
                    <%- c.viewable_children.each do |cc| -%>
                    <td><%= seo_render(cr[cc.id], cc) %></td>
                    <%- end -%>
                  </tr>
                  <%- end -%>
                </tbody>
              </table>
              <%- else -%>
              <%= seo_render(cell, c) %>
              <%- end -%>
            </div>
          </div>
          <%- end -%>
        </div>
        <%- end -%>
      </div>
      <ul class="navigation">
        <%- if !@current_user.nil? && @current_user.has_right?('create_datasets') &&
          @view.has_rights?('update_view') && !@view.is_snapshotted? -%>
        <li class="edit"><a class="button"
          href="<%= @view.href %>/edit_rr?defaultRender=page">Edit Layout</a></li>
        <%- end -%>
        <li><a href="#start" title="View first row" class="start button">
          <span class="icon"></span>
        </a></li>
        <li><a href="#previous" title="View previous row" class="previous button">
          <span class="icon"></span>
        </a></li>
        <li class="info">
        Viewing row <span class="curPage"></span> of <span
          class="totalPages"></span>
        </li>
        <li><a href="#next" title="View next row" class="next button">
          <span class="icon"></span>
        </a></li>
        <li><a href="#end" title="View last row" class="end button">
          <span class="icon"></span>
        </a></li>
      </ul>
    </div>
    <%- end -%>
  </div>

  <div id="gridSidebar">
    <a class="close" href="#close"><span class="icon">Close</span></a>
  </div>
</div>

<% content_for :templates do %>
<%= render(:partial => 'shared/grid_sidebar_templates') %>
<%= render(:partial => 'show_hide_template') %>
<%= render :partial => 'column_order_template' %>
<div class="embedForm">
  <%= render :partial => 'embed_form', :locals => { :view => @view, :cur => 'root',
             :customization_id => (CurrentDomain.user_can?(current_user, :edit_sdp) ? nil : CurrentDomain.default_widget_customization_id) } %>
</div>
<div class="printForm">
  <%= render :partial => 'print_form', :locals => { :view => @view } %>
</div>
<%= render :partial => 'downloads_table_template' %>
<%= render :partial => 'feed_template', :locals => { :allow_comments => @view.module_enabled?(:allow_comments) } %>
<%= render :partial => 'flag_message' %>
<%= render :partial => 'sharing' %>
<%= render :partial => 'permissions' %>
<%= render :partial => 'api_access' %>
<%= render :partial => 'signed_dataset' %>
<%= render :partial => 'subscribe' %>
<%= render :partial => 'fatrow_header_template' %>
<div class="editAlertTemplate">
  <div class="editAlert">
    <p class="editMessage">This dataset is published and cannot be edited directly.
    A working copy is available that allows you to make all your desired changes
    before making them publicly available.</p>
    <p class="copyingMessage">Please wait while a working copy is made</p>
    <p class="doneCopyingMessage hide">The working copy is now available.
      The Edit Dataset button will give you access when you are ready to edit.</p>
    <a href="#Unpublished" class="button editPublished">Edit Dataset</a>
    <p class="errorMessage hide">There was an error making a working copy of your dataset.
    Please <a href="http://support.socrata.com" rel="external">contact Socrata support</a>.</p>
  </div>
</div>
<%= render :partial => 'unified_filter' %>
<% end %>

<%- content_for :modals do -%>
  <div class="emailDatasetDialog modalDialog<%= ' ownerDialog' if
    @view.has_rights?('grant') %>">
    <a href="#close" class="jqmClose modalDialogClose">Close</a>
    <h2><span class="emailDatasetHint">Email</span> this
      <span class="datasetTypeNameUpcase">Dataset</span></h2>
    <div class="emailSuccess">
      <div class="flash notice">
        Your email has been successfully sent.
      </div>
      <ul class="actions clearfix">
        <li>
          <a href="#cancel" class="jqmClose button">Close</a>
        </li>
        <li>
      </ul>
    </div>
    <div class="emailDatasetContent">
      <div class="flash" id="emailDatasetMessage"></div>
      <p>Share this <span class="datasetTypeName">dataset</span> with the following email addresses</p>
      <div class="emailFormContent">
        <form class="commonForm" id="emailDatasetForm"
          action="/views/<%= @view.id %>.json?method=sendAsEmail" method="post">
          <div class="emailLine">
            <a href="#remove" title="Remove" class="removeLink delete hiddenLink">
              <span class="icon"></span>
            </a>
            <input type="hidden" class="recipientUid" />
            <div class="textWrapper">
              <input type="text" class="emailRecipient email"
                name="emailRecipient0" />
            </div>
            <%- if @view.has_rights?('grant') -%>
              <%= select_tag 'role', options_for_select(@view.share_types),
                    :class => 'recipientRole', :id => nil %>
            <%- end -%>
          </div>
          <div class="addMoreLine">
            <a class="button addMoreRecipientsButton add" href="#add">
              <span class="icon"></span>Add More
            </a>
          </div>
          <p class="emailMessageHint">Enter an optional message</p>
          <textarea id="emailMessage"></textarea>
        </form>
      </div>
      <ul class="actions clearfix">
        <li>
          <a href="#cancel" class="jqmClose button cancel">
            <span class="icon"></span>Cancel
          </a>
        </li>
        <li>
          <a href="#email" class="button" id="emailSubmitButton">
            <span class="icon"></span><span class="emailDatasetHint">Email</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <%= render :partial => 'save_view_dialog' %>

  <%- unless current_user -%>
    <%= render :partial => 'inline_login' %>
  <%- end -%>
<%- end -%>

<% content_for :js_footer do %>
  <script type="text/javascript">
    <%= raw @view.display.render_inline_setup_js('renderTypeContainer', self) %>

    <%- if !current_user.nil? -%>
      blist.currentUserId = '<%= current_user.id %>';
    <%- end -%>

    <%- if !@row.nil? -%>
    blist.initialRowId = "<%= @row['sid'] %>";
    <%- end -%>

    blist.sidebarPosition = '<%= sidebar_position %>';

    <%# Namespace to keep track of disabled sidebar sections %>
    blist.namespace.fetch('blist.sidebarHidden');

    <%# More views %>
    blist.sidebarHidden.moreViews = blist.sidebarHidden.moreViews || {};
    blist.sidebarHidden.moreViews.views = <%= !@view.is_published? || !@view.is_tabular? %>;
    blist.sidebarHidden.moreViews.snapshots = <%= @view.is_unpublished? || !@view.flag?('default') %>;

    <%# Edit pane %>
    blist.sidebarHidden.edit = blist.sidebarHidden.edit || {};
    blist.sidebarHidden.edit.append = <%= !@view.is_unpublished? || !@view.is_blist? ||
      !@view.has_rights?('add') ||
      !CurrentDomain.module_available?(:dataset_append) %>;
    blist.sidebarHidden.edit.replace = <%= !@view.is_unpublished? && !@view.is_blobby? ||
      @view.is_snapshotted? ||
      !(@view.is_blist? || @view.is_blobby?) ||
      !@view.has_rights?('add') ||
      !@view.has_rights?('delete') ||
      !CurrentDomain.module_available?(:dataset_refresh) %>;
    blist.sidebarHidden.edit.addColumn = <%= !@view.is_unpublished? || !@view.is_blist? ||
      !@view.has_rights?('add_column') %>;
    blist.sidebarHidden.edit.redirect = <%= !@view.is_published? || !@view.is_blist? ||
      !@view.can_edit_published? %>;

    <%# Manage %>
    blist.sidebarHidden.manage = blist.sidebarHidden.manage || {};
    blist.sidebarHidden.manage.updateColumn = <%= @view.is_snapshotted? || !@view.is_tabular? ||
      @view.is_form? %>;
    blist.sidebarHidden.manage.showHide = <%= @view.is_snapshotted? || !@view.is_tabular? ||
      @view.is_form? %>;
    blist.sidebarHidden.manage.sharing = <%= @view.is_snapshotted? || !@view.has_rights?('grant') %>;
    blist.sidebarHidden.manage.permissions = <%= @view.is_snapshotted? ||
      !@view.has_rights?('update_view') %>;
    blist.sidebarHidden.manage.plagiarize = <%= !CurrentDomain.user_can?(current_user, :chown_datasets) %>;

    <%# Columm properties %>
    blist.sidebarHidden.columnProperties = <%= @view.is_snapshotted? || !@view.is_tabular? %>;

    <%# Filter pane %>
    blist.sidebarHidden.filter = blist.sidebarHidden.filter || {};
    blist.sidebarHidden.filter.filterDataset = <%= !@view.is_tabular? ||
      @view.is_form? %>;

    <%# Visualize pane %>
    blist.sidebarHidden.visualize = blist.sidebarHidden.visualize || {};
    blist.sidebarHidden.visualize.calendarCreate = <%= @view.is_unpublished? ||
      @view.is_alt_view? && !@view.available_display_types.include?('calendar') %>;
    blist.sidebarHidden.visualize.chartCreate = <%= @view.is_unpublished? ||
      @view.is_alt_view? && !@view.available_display_types.include?('chart') %>;
    blist.sidebarHidden.visualize.mapCreate = <%= @view.is_unpublished? ||
      @view.is_alt_view? && !@view.available_display_types.include?('map') ||
      @view.is_grouped? || !module_available?(:map_publish) %>;
    blist.sidebarHidden.visualize.conditionalFormatting = <%= @view.is_unpublished? ||
      !@view.is_tabular? || @view.is_form? %>;

    <%# Embed pane %>
    blist.sidebarHidden.embed = blist.sidebarHidden.embed || {};
    blist.sidebarHidden.embed.formCreate = <%= !@view.is_published? ||
      (!@view.is_tabular? && !@view.is_form?) ||
      @view.is_grouped? ||
      !module_available?(:form_publish) ||
      ((!@view.owned_by?(current_user) ||
        @view.parent_dataset.nil? ||
        !@view.parent_dataset.owned_by?(current_user)) &&
       !CurrentDomain.user_can?(current_user, :edit_others_datasets)) %>;
    blist.sidebarHidden.embed.sdp = <%= !@view.is_published? %>;

    <%# Export pane %>
    blist.sidebarHidden.exportSection = blist.sidebarHidden.exportSection || {};
    blist.sidebarHidden.exportSection.signedDataset = <%=
      !@view.owned_by?(current_user) || !module_available?(:digital_signatures) ||
      !@view.is_tabular? || @view.is_form? %>;
    blist.sidebarHidden.exportSection.print = <%= !@view.can_print? %>;
    blist.sidebarHidden.exportSection.download = <%= !@view.is_tabular? || @view.is_form? %>;
    blist.sidebarHidden.exportSection.api = <%= !@view.is_tabular? %>;
    blist.sidebarHidden.exportSection.subscribe = <%= !@view.is_published? || !@view.is_tabular? ||
      @view.is_form? %>;

    <%# Discuss pane %>
    blist.sidebarHidden.feed = blist.sidebarHidden.feed || {};
    blist.sidebarHidden.feed.discuss = <%= !@view.is_published? %>;
    blist.sidebarHidden.feed.cellFeed = <%= !@view.module_enabled?('cell_comments') ||
      !@view.is_published? %>;

    <%# About pane %>
    blist.sidebarHidden.about = <%= @view.is_href? || @view.is_blobby? &&
      @view.display.display_type == 'link' %>;

    <%# Please see admin_controller#add_custom_layer for explanation %>
    <%# custom_layer_config = Configuration.find_by_type('custom_layers', true).first
        custom_layers = {}
        ['esri'].each do |map_type|
          custom_layers[map_type] = custom_layer_config.data['properties'].detect { |property|
            property['name'] == map_type
          }['value']
        end if custom_layer_config
    -%>
    <%#blist.custom_layers = JSON.parse($.htmlUnescape("<%= h custom_layers.to_json.gsub(/\\/, '\\\\\\') % >")); -%>
  </script>

  <%- if @view.is_tabular? -%>
  <%= include_javascripts 'shared-table-editor' %>
  <%- end -%>

  <%= include_javascripts 'dataset-show' %>
<% end %>
