<% content_for :head do %>
  <%- if @view.is_tabular? -%>
  <%= auto_discovery_link_tag(:rss, "/views/#{@view.id}/rows.rss") %>
  <%- end -%>
  <%= rendered_stylesheet_tag 'base-control-third-party' %>
  <%= rendered_stylesheet_tag 'dataset-show' %>

  <meta name="viewport" content="width=1024, user-scalable=no, maximum-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <title><%= h(@view.name) %> | <%= CurrentDomain.strings.site_title %></title>
  <link rel="canonical" href="<%= view_path(@view) %>" />
<% end %>

<% content_for :skip_links do %>
  <%- if !@view.newBackend -%>
    <%= link_to 'Go to an accessible version of this page', alt_view_path(@view) %>
  <%- end -%>

  <%- if @view.has_rights?('update_view') -%>
    <%= link_to 'Edit the metadata of this dataset', edit_view_metadata_path(@view) %>
  <%- end -%>
<% end %>

<%= display_standard_flashes %>

<%- sidebar_position = CurrentDomain.property(:position, :sidebar) || 'right' -%>
<%- default_pane = CurrentDomain.property(:default_pane, :sidebar) -%>
<% content_for :dataset_actions do %>
  <div id="actionBox" class="clearfix">
    <ul id="toolbarOptions" class="clearfix">
      <%- if @view.is_published? && !@view.is_api? -%>
      <li>
        <ul id="shareOptions">
          <%- if @view.is_public? && @view.is_tabular? -%>
            <li class="subscribe">
              <a class="subscribe" href="#subscribe" title="<%= t('screens.ds.bar.subscribe_prompt') %>">
              <span class="icon"><%= t('screens.ds.bar.subscribe') %></span></a>
            </li>
          <%- end -%>
          <li><a class="facebook" rel="external" title="<%= t('screens.ds.bar.share_facebook') %>"
            href="https://www.facebook.com/dialog/feed?app_id=303443389788866&link=<%= CGI::escape(view_url(@view)) %>&name=<%= CGI::escape(@view.name) %>">
            <span class="icon"><%= t('screens.ds.bar.share_facebook') %></span></a></li>
          <li><a class="twitter" rel="external" title="<%= t('screens.ds.bar.share_twitter') %>"
                href="http://twitter.com/?status=<%= @view.tweet %>">
            <span class="icon"><%= t('screens.ds.bar.share_twitter') %></span></a></li>
          <%- if @view.has_right?('grant') || @view.is_public? -%>
            <li><a class="email" href="#email" title="<%= t('screens.ds.bar.share_email') %>">
              <span class="icon"><%= t('screens.ds.bar.share_email') %></span></a></li>
          <%- end -%>
        </ul>
      </li>
      <%- end -%>
      <li>
        <%- if @view.available_display_types.length > 1 -%>
        <ul id="renderTypeOptions" class="pillButtons">

          <%- url_types = {'fatrow' => 'richList'} -%>
          <%- @view.available_display_types.clone.
            push('template').each do |type| -%>
          <li><a
            href="<%= view_path(@view.route_params.merge( defaultRender: url_types[type] || type )) %>"
            class="<%= type %> noRedirPrompt<%= ' hide' if type == 'template' %>"
            title="<%= t('screens.ds.bar.view_type', type: t('screens.ds.bar.view_types.' + type)) %>">
            <span class="icon"></span>
          </a></li>
          <%- end -%>

        </ul>
        <%- end -%>
      </li>
      <%- if @view.is_tabular? && !@view.is_form? -%>
      <li>
        <form id="searchForm" action="#">
          <span class="icon"></span>
          <input type="text" class="searchField textPrompt" title="<%= t('screens.ds.bar.find_prompt') %>"
          <%- if params[:q] -%>
            value="<%= params[:q] %>"
          <%- end -%>
          />
          <a href="#clear" class="clearSearch close"><span class="icon"></span></a>
        </form>
      </li>
      <%- end -%>
    </ul>
  </div>

  <a href="#toggleFullScreen" class="fullscreenButton maximize" title="<%= t('screens.ds.bar.full_screen') %>">
    <span class="icon"><%= t('screens.ds.bar.full_screen') %></span>
  </a>

  <div id="actionBar" class="clearfix position-<%= sidebar_position %>">
    <%- if @view.can_modify_data? -%>
    <div id="editBar" class="clearfix">
      <ul id="editOptions">
        <li><a href="#Undo" class="button undo" title="<%= t('screens.ds.bar.format.undo') %>">
          <span class="icon"><%= t('screens.ds.bar.format.undo') %></span>
        </a></li>
        <li><a href="#Redo" class="button redo" title="<%= t('screens.ds.bar.format.redo') %>">
          <span class="icon"><%= t('screens.ds.bar.format.redo') %></span>
        </a></li>
      </ul>

      <div id="formatOptions" class="disabled">
        <ul>
          <li><a href="#format_bold" class="button bold toggleButton"
            title="<%= t('screens.ds.bar.format.bold') %>"><span class="icon"><%= t('screens.ds.bar.format.bold') %></span></a></li>
          <li><a href="#format_underline" class="button underline toggleButton"
            title="<%= t('screens.ds.bar.format.underline') %>"><span class="icon"><%= t('screens.ds.bar.format.underline') %></span></a></li>
          <li><a href="#format_italic" class="button italic toggleButton"
            title="<%= t('screens.ds.bar.format.italic') %>"><span class="icon"><%= t('screens.ds.bar.format.italic') %></span></a></li>
          <li><a href="#format_strikethrough" class="button strike toggleButton"
            title="<%= t('screens.ds.bar.format.strike') %>"><span class="icon"><%= t('screens.ds.bar.format.strike') %></span></a></li>
          <li><a href="#format_unorderedList"
            class="button bulletedList toggleButton"
            title="<%= t('screens.ds.bar.format.bullet') %>"><span class="icon"><%= t('screens.ds.bar.format.bullet') %></span></a></li>
          <li><a href="#format_orderedList" class="button numberedList toggleButton"
            title="<%= t('screens.ds.bar.format.number') %>"><span class="icon"><%= t('screens.ds.bar.format.number') %></span></a></li>
          <li><a href="#format_link" class="button link toggleButton"
            title="<%= t('screens.ds.bar.format.link') %>"><%= t('screens.ds.bar.format.link') %></a></li>
          <li><%= select_tag("format_fontFamily", font_select_options('Helvetica'),
            {:class => 'fontFamily'}) %></li>
          <li><%= select_tag("format_fontSize", font_size_select_options(12),
            {:class => 'fontSize'}) %></li>
          <li><div class="menu color">
            <a class="menuButton color" title="<%= t('screens.ds.bar.format.color') %>" href="#color">
              <span class="colorIcon colorIndicator"></span><span class="icon"></span>
            </a>
          </div></li>
          <li><div class="align menu alignLeft"></div></li>
        </ul>
      </div>
    </div>
    <%- end -%>

    <div class="sidebarOptionsContainer clearfix">
      <ul id="sidebarOptions" class="clearfix">
        <li><a href="#Edit" title="<%= t('screens.ds.grid_sidebar.tabs.edit') %>" class="edit"
          data-paneName="edit"><span class="icon"></span><%= t('screens.ds.grid_sidebar.tabs.edit') %></a></li>
        <li><a href="#Manage" title="<%= t('screens.ds.grid_sidebar.tabs.manage') %>" class="manage"
          data-paneName="manage"><span class="icon"></span><%= t('screens.ds.grid_sidebar.tabs.manage') %></a></li>
        <li><a href="#More_Views" title="<%= t('screens.ds.grid_sidebar.tabs.more_views') %>" class="moreViews"
          data-paneName="moreViews"><span class="icon"></span><%= t('screens.ds.grid_sidebar.tabs.more_views') %></a></li>
        <li><a href="#Filter" title="<%= t('screens.ds.grid_sidebar.tabs.filter') %>" class="filter"
          data-paneName="filter"><span class="icon"></span><%= t('screens.ds.grid_sidebar.tabs.filter') %>
          <span class="alertIcon"></span></a></li>
        <li><a href="#Visualize" title="<%= t('screens.ds.grid_sidebar.tabs.visualize') %>" class="visualize"
          data-paneName="visualize"><span class="icon"></span><%= t('screens.ds.grid_sidebar.tabs.visualize') %></a></li>
        <li><a href="#Export" title="<%= t('screens.ds.grid_sidebar.tabs.export') %>" class="export"
          data-paneName="export"><span class="icon"></span><%= t('screens.ds.grid_sidebar.tabs.export') %></a></li>
        <li><a href="#Discuss" title="<%= t('screens.ds.grid_sidebar.tabs.discuss') %>" class="feed"
          data-paneName="feed"><span class="icon"></span><%= t('screens.ds.grid_sidebar.tabs.discuss') %></a></li>
        <li><a href="#Embed" title="<%= t('screens.ds.grid_sidebar.tabs.embed') %>" class="embed"
          data-paneName="embed"><span class="icon"></span><%= t('screens.ds.grid_sidebar.tabs.embed') %></a></li>
        <li><a href="#About" title="<%= t('screens.ds.grid_sidebar.tabs.about') %>" class="about"
          data-paneName="about"><span class="icon"></span><%= t('screens.ds.grid_sidebar.tabs.about') %></a></li>
        <li class="hide"><a href="#More" title="<%= t('screens.ds.grid_sidebar.tabs.more') %>" class="other"
          ><span class="icon"></span><%= t('screens.ds.grid_sidebar.tabs.more') %></a></li>
      </ul>
    </div>
  </div>
<% end %>
<%= render :partial => 'dataset_bar', :locals => {:sidebar_position => sidebar_position} %>

<div class="outerContainer" role="main">
  <div id="renderTypeContainer" class="innerContainer">
    <div class="aboutLoad">
      <%= render :partial => 'about_dataset' %>
      <%- if @view.is_tabular? && !@view.is_form? && @view.display.data_valid? -%>
        <%# SEO links for individual rows %>
        <%- next_index = !@row_index.nil? ? (@row_index+1) : 0 -%>
        <a href="<%= view_path(@view.route_params.merge( row_index: next_index )) %>" class="rowLink">
          <%= next_index == 0 ? 'First' : 'Next' %> row
        </a>
      <%- end -%>
    </div>
    <div class="viewErrorContainer">
      <%- if @view.has_rights?('update_view') -%>
      <div class="viewError"><%= @view.display.invalid_message %></div>
      <ul class="invalidActions">
        <li>
          <a href="#Edit" class="editView button">Edit View</a>
        </li>
        <%- if @view.has_rights?('delete_view') -%>
        <li>
          <a href="#Remove" class="removeView button">Delete View</a>
        </li>
        <%- end -%>
      </ul>
      <%- else -%>
      <div class="viewError">This view cannot be displayed</div>
      <%- end -%>
    </div>

    <div class="staticRenderType fullHeight renderTypeNode">
      <%= render(:partial => @view.display.render_partial) if @view.display.render_partial %>
    </div>

    <%- if ( @view.is_tabular? || @view.is_geo? ) && !@view.is_form? -%>
    <%= render :partial => 'templates/fatrow' %>

    <%= render :partial => 'templates/page_render_type' %>
    <%- end -%>
  </div>

  <div id="gridSidebar">
    <a class="close" href="#close"><span class="icon">Close</span></a>
  </div>
</div>

<% content_for :templates do %>
<%= render(:partial => 'templates/grid_sidebar') %>
<%= render(:partial => 'show_hide_template') %>
<%= render :partial => 'column_order_template' %>
<div class="embedForm">
  <%= render :partial => 'embed_form', :locals => { :view => @view, :cur => 'root',
             :customization_id => (CurrentDomain.user_can?(current_user, :edit_sdp) ? nil : CurrentDomain.default_widget_customization_id) } %>
</div>
<div class="printForm">
  <%= render :partial => 'print_form', :locals => { :view => @view } %>
</div>
<%= render :partial => 'downloads_table_template' %>
<%= render :partial => 'templates/feed', :locals => { :allow_comments => @view.module_enabled?(:allow_comments) } %>
<%= render :partial => 'flag_message' %>
<%= render :partial => 'sharing' %>
<%= render :partial => 'permissions' %>
<%= render :partial => 'api_access' %>
<%= render :partial => 'odata_access' %>
<%= render :partial => 'api_foundry' %>
<%= render :partial => 'signed_dataset' %>
<%= render :partial => 'templates/fatrow_header' %>
<div class="editAlertTemplate">
  <div class="editAlert">
    <p class="editMessage"><%= t('screens.ds.dataset_status.needs_copy') %></p>
    <p class="copyingMessage"><%= t('screens.ds.dataset_status.copy_in_progress') %></p>
    <p class="doneCopyingMessage hide"><%= t('screens.ds.dataset_status.copy_available') %></p>
    <a href="#Unpublished" class="button editPublished"><%= t('screens.ds.dataset_status.edit_dataset_button') %></a>
    <p class="errorMessage hide"><%= t('screens.ds.dataset_status.error_publishing_html') %></p>
  </div>
</div>
<%= render :partial => 'templates/unified_filter' %>
<%= render :partial => 'append_replace' %>
<% end %>

<%- content_for :modals do -%>

  <%= render :partial => 'modals/subscribe_dataset' %>

  <%= render :partial => 'modals/email_dataset' %>

  <%= render :partial => 'save_view_dialog' %>

  <%= render :partial => 'modals/select_dataset' %>

  <%- unless current_user -%>
    <%= render :partial => 'modals/inline_login' %>
  <%- end -%>
<%- end -%>

<%= render_translations LocalePart.support %>
<%= render_translations LocalePart.controls.grid %>
<%= render_translations LocalePart.controls.embed %>
<%= render_translations LocalePart.screens.ds %>
<%= render_translations LocalePart.screens.about %>
<%= render_translations LocalePart.controls.upload_dialog %>
<%= render_translations LocalePart.controls.editors %>

<% content_for :js_footer do %>
  <script type="text/javascript">
    $(function() { blist.mainSpinner = $('#renderTypeContainer').loadingSpinner({metric: 'main', model: blist.dataset}); });

    <%= raw @view.display.render_inline_setup_js('renderTypeContainer', self, params['debug_assets']) %>

    <%- if !@row.nil? -%>
    blist.initialRowId = "<%= @row['sid'] %>";
    <%- end -%>

    blist.sidebarPosition = "<%= sidebar_position %>";
    blist.defaultPane = "<%= default_pane %>";

    blist.configuration.newChartsEnabled = <%= module_enabled?(:new_charts) || true %>;
    blist.configuration.newMapsEnabled = <%= module_enabled?(:new_maps) == true %>;
    blist.configuration.oldChartsForced = <%= module_enabled?(:old_charts) == true %>;
    blist.configuration.newChartConfig = true;
    blist.configuration.oldChartConfigForced = <%= module_enabled?(:old_chart_config) == true %>;
    blist.configuration.newCharts = {};
    <%- [:newBarChart, :newLineChart].each do |aModule| -%>
    blist.configuration.newCharts.<%= aModule %> = <%= module_enabled?(aModule) %>
    <%- end -%>

    <%# Namespace to keep track of disabled sidebar sections %>
    blist.namespace.fetch('blist.sidebarHidden');

    <%# More views %>
    blist.sidebarHidden.moreViews = blist.sidebarHidden.moreViews || {};
    blist.sidebarHidden.moreViews.views = <%= !@view.is_published? ||
      (!@view.is_tabular? && !@view.is_geo?) %>;
    blist.sidebarHidden.moreViews.snapshots = <%= @view.newBackend == true || @view.is_unpublished? ||
      !@view.flag?('default') || @view.is_arcgis? || @view.is_geo? %>;

    <%# Edit pane %>
    blist.sidebarHidden.edit = blist.sidebarHidden.edit || {};
    blist.sidebarHidden.edit.appendReplace = <%= (!@view.is_unpublished? && !@view.is_geo? &&
      !@view.is_blobby?) || @view.is_href? || !@view.flag?('default') || !@view.has_rights?('add') %>;
    blist.sidebarHidden.edit.addColumn = <%= !@view.is_unpublished? || !@view.is_blist? ||
      !@view.has_rights?('add_column') %>;
    blist.sidebarHidden.edit.redirect = <%= !@view.is_published? || !@view.is_blist? ||
      !@view.can_edit? || current_user.blank? %>;

    <%# Manage %>
    blist.sidebarHidden.manage = blist.sidebarHidden.manage || {};
    blist.sidebarHidden.manage.updateColumn = <%= @view.is_snapshotted? || !@view.is_tabular? ||
      @view.is_form? || @view.is_api? %>;
    blist.sidebarHidden.manage.showHide = <%= @view.is_snapshotted? || !@view.is_tabular? ||
      @view.is_form? || @view.is_geo? %>;
    blist.sidebarHidden.manage.sharing = <%= @view.is_snapshotted? || !@view.has_rights?('grant') %>;
    blist.sidebarHidden.manage.permissions = <%= @view.is_snapshotted? ||
      !@view.has_rights?('update_view') %>;
    blist.sidebarHidden.manage.plagiarize = <%= !CurrentDomain.user_can?(current_user, :chown_datasets) %>;
    blist.sidebarHidden.manage.deleteDataset = <%= !@view.has_rights?('delete_view') ||
      @view.newBackend == true %>;
    blist.sidebarHidden.manage.api_foundry = <%= !module_available?(:api_foundry) ||
      (!@view.is_blist? && !@view.is_api?) ||
      !@view.is_published? ||
      !@view.has_rights?('update_view') ||
      !@view.can_publish? ||
      @view.newBackend == true -%>;

    <%# Columm properties %>
    blist.sidebarHidden.columnProperties = <%= !@view.is_tabular? %>;

    <%# Filter pane %>
    blist.sidebarHidden.filter = blist.sidebarHidden.filter || {};
    blist.sidebarHidden.filter.filterDataset = <%= !@view.is_tabular? ||
      @view.is_form? %>;

    <%# Visualize pane %>
    blist.sidebarHidden.visualize = blist.sidebarHidden.visualize || {};
    blist.sidebarHidden.visualize.calendarCreate = <%= @view.is_unpublished? ||
      @view.is_alt_view? && !@view.available_display_types.include?('calendar') %>;
    blist.sidebarHidden.visualize.chartCreate = <%= @view.is_unpublished? ||
      @view.is_alt_view? && !@view.available_display_types.include?('chart') %>;
    blist.sidebarHidden.visualize.mapCreate = <%= @view.is_unpublished? ||
      @view.is_alt_view? && !@view.available_display_types.include?('map') ||
      @view.is_grouped? || !module_available?(:map_publish) %>;
    blist.sidebarHidden.visualize.conditionalFormatting = <%= @view.is_unpublished? ||
      !@view.is_tabular? || @view.is_form? || @view.is_api? %>;

    <%# Embed pane %>
    blist.sidebarHidden.embed = blist.sidebarHidden.embed || {};
    blist.sidebarHidden.embed.formCreate = <%= !@view.is_published? ||
      (!@view.is_tabular? && !@view.is_form?) ||
      @view.is_api? ||
      @view.is_grouped? ||
      !module_available?(:form_publish) ||
      ((!@view.owned_by?(current_user) ||
        @view.parent_dataset.nil? ||
        !@view.parent_dataset.owned_by?(current_user)) &&
       !CurrentDomain.user_can?(current_user, :edit_others_datasets)) %>;
    blist.sidebarHidden.embed.sdp = <%= !@view.is_published? || @view.is_api? %>;

    <%# Export pane %>
    blist.sidebarHidden.exportSection = blist.sidebarHidden.exportSection || {};
    blist.sidebarHidden.exportSection.signedDataset = <%=
      !@view.owned_by?(current_user) || !module_available?(:digital_signatures) ||
      !@view.is_tabular? || @view.is_form? %>;
    blist.sidebarHidden.exportSection.print = <%= !@view.can_print? || @view.newBackend == true %>;
    blist.sidebarHidden.exportSection.download = <%= (!@view.is_tabular? && !@view.is_geo?) || @view.is_form? %>;
    blist.sidebarHidden.exportSection.api = <%= !@view.is_tabular? %>;
    blist.sidebarHidden.exportSection.odata = <%= !@view.is_tabular? || @view.is_alt_view? %>;
    blist.sidebarHidden.exportSection.subscribe = <%= !@view.is_published? || !@view.is_tabular? ||
      @view.is_api? || @view.is_form? %>;

    <%# Discuss pane %>
    blist.sidebarHidden.feed = blist.sidebarHidden.feed || {};
    blist.sidebarHidden.feed.discuss = <%= !@view.is_published? || @view.is_api? %>;
    blist.sidebarHidden.feed.cellFeed = <%= !@view.module_enabled?('cell_comments') ||
      !@view.is_published? || @view.is_api? %>;

    <%# About pane %>
    blist.sidebarHidden.about = <%= @view.is_href? || @view.is_blobby? &&
      @view.display.display_type == 'link' %>;

    <%# Please see admin_controller#add_custom_layer for explanation %>
    <%# custom_layer_config = Configuration.find_by_type('custom_layers', true).first
        custom_layers = {}
        ['esri'].each do |map_type|
          custom_layers[map_type] = custom_layer_config.data['properties'].detect { |property|
            property['name'] == map_type
          }['value']
        end if custom_layer_config
    -%>
    <%#blist.custom_layers = JSON.parse($.htmlUnescape("<%= h custom_layers.to_json.gsub(/\\/, '\\\\\\') % >")); -%>
  </script>

  <%- if @view.is_tabular? -%>
  <%= include_javascripts 'shared-editors' %>
  <%- end -%>

  <%= include_javascripts 'dataset-show' %>
  <script type="text/javascript">
    if ((typeof moment) !== "undefined") { moment.lang(blist.locale); }
  </script>
<% end %>
