<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, "/views/#{@view.id}/rows.rss") %>
  <%= include_stylesheets 'grid-sidebar' %>
  <%= rendered_stylesheet_tag 'dataset-show' %>

  <meta name="viewport" content="width=1024, user-scalable=no, maximum-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <title><%= h(@view.name) %> | <%= CurrentDomain.strings.site_title %></title>
  <link rel="canonical" href="<%= @view.href %>" />
<% end %>

<% content_for :skip_links do %>
  <%= link_to 'Go to an accessible version of this page', @view.alt_href %>

  <%- if @view.can_edit? -%>
    <%= link_to 'Edit the metadata of this dataset', @view.href + '/edit_metadata' %>
  <%- end -%>
<% end %>

<%= display_standard_flashes %>

<div id="datasetBar" class="clearfix <%= @view.is_blist? ? 'dataset' : '' %>">
  <div id="infoBox">
    <div id="datasetIcon" class="type<%= @view.display.type.capitalize %>">
      <span class="icon currentViewName"><%= @view.display.name %></span>
      <span class="alertIcon"></span>
    </div>
    <div class="unsavedLine">
      <h2 id="unsavedTitle">Unsaved View</h2>
      <%- if @view.has_rights?('update_view') && !@view.is_snapshotted? -%>
      <a href="#Save" title="Save current view" data-savingText="Saving..."
        class="save toolbarButton">Save</a>
      <%- end -%>
      <%- if @view.is_published? -%>
      <a href="#SaveAs" title="Save view as..."
        class="saveAs toolbarButton">Save As...</a>
      <%- end -%>
      <a href="#Revert" title="Revert to saved view"
        class="revert toolbarButton">Revert</a>
      <%- if @view.is_unpublished? -%>
      <span class="unpublishedRevert">These changes cannot be saved to a working copy of a dataset,
        but can be made on the published dataset and saved as a view.</span>
      <%- end -%>
      <%- if @view.is_snapshotted? -%>
      <span class="snapshottedRevert">Snapshotted datasets and views cannot be created or modified</span>
      <%- end -%>
    </div>

    <%- if @view.is_unpublished? -%>
    <h3 class="unpublished" title="<%= "This is a copy of the dataset that allows you " +
      "to make changes to it. It is not visible to others until you publish it."%>">[Working Copy]</h3>
    <%- end -%>
    <h2 id="datasetName" class="clipText currentViewName"><%= @view.name %></h2>
    <%- if @view.is_snapshotted? -%>
    <h3 class="snapshotted" title="<%= "This is a previously published version of the dataset. It is" +
      "archived and cannot be modified."%>">Snapshotted <%= blist_date_time(@view.publicationDate) %></h3>
    <%- end -%>

    <%- if @view.is_unpublished? -%>
    <a href="#Publish" class="toolbarButton publish"
      title="<%= "This dataset is a working copy and is not publicly available.
        Once you have made the desired changes, this dataset should be published
        make it publicly available." %>">Publish Dataset</a>
    <%- end -%>

    <div class="basedOnParent">
      Based on <a class="parentName"></a>
    </div>
    <div class="basedOnTemp">
      Based on <%= @view.is_unpublished? ? 'the working copy of ' : '' %>
      <a class="revertLink currentViewName" href="#revert"><%= @view.name %></a>
    </div>

    <%- if !@view.is_published? -%>
    <a id="publishedLink">View the published <span class="publishedName">dataset</span></a>
    <%- end -%>

    <div id="description">
      <p class="collapsed"><%= raw(auto_link(h(@view.description), :html => { :rel => 'nofollow' })) || '(No description provided)'%></p>
      <a href="#expand" class="descriptionExpander rightArrow" title="Click to expand">
        <span class="icon"></span>
      </a>
    </div>

  </div>

  <div id="actionBox" class="clearfix">
    <ul id="toolbarOptions" class="clearfix">
      <%- if @view.is_published? -%>
      <li>
        <ul id="shareOptions">
          <li><a class="facebook" rel="external" title="Share on Facebook"
                href="http://www.facebook.com/share.php?u=<%= CGI::escape("http://#{CurrentDomain.cname}#{@view.href}") %>">
            <span class="icon">Share on Facebook</span></a></li>
          <li><a class="twitter" rel="external" title="Share on Twitter"
                href="http://www.twitter.com/home?status=<%= @view.tweet %>">
            <span class="icon">Share on Twitter</span></a></li>
          <%- if @view.has_right?('grant') || @view.is_public? -%>
            <li><a class="email" href="#email" title="Share via Email">
              <span class="icon">Share via Email</span></a></li>
          <%- end -%>
        </ul>
      </li>
      <%- end -%>
      <li>
        <%- if @view.available_display_types.length > 1 -%>
        <ul id="renderTypeOptions" class="pillButtons">

          <%- title_types = {'page' => 'single row', 'fatrow' => 'rich list'} -%>
          <%- url_types = {'fatrow' => 'richList'} -%>
          <%- @view.available_display_types.clone.
            push('template').each do |type| -%>
          <li><a
            href="<%= @view.href %>?defaultRender=<%= url_types[type] || type %>"
            class="<%= type %> noRedirPrompt
              <%= type == 'template' ? 'hide' : '' %>"
            title="View as a <%= title_types[type] || type %>">
            <span class="icon"></span>
          </a></li>
          <%- end -%>

        </ul>
        <%- end -%>
      </li>
      <%- if @view.is_tabular? && !@view.is_form? -%>
      <li>
        <form id="searchForm" action="#">
          <span class="icon"></span>
          <input type="text" class="searchField textPrompt" title="Find in this Dataset" />
          <a href="#clear" class="clearSearch close"><span class="icon"></span></a>
        </form>
      </li>
      <%- end -%>
    </ul>
  </div>

  <a href="#toggleFullScreen" class="fullscreenButton maximize" title="Toggle full screen">
    <span class="icon">Toggle full screen</span>
  </a>

  <%- sidebar_config = CurrentDomain.configuration('sidebar') -%>
  <%- sidebar_position = (!sidebar_config.nil? ?
    sidebar_config.properties.position : nil) || 'right' -%>
  <div id="actionBar" class="clearfix position-<%= sidebar_position %>">
    <%- if @view.can_modify_data? -%>
    <div id="editBar" class="clearfix">
      <ul id="editOptions">
        <li><a href="#Undo" class="button undo" title="Undo">
          <span class="icon">Undo</span>
        </a></li>
        <li><a href="#Redo" class="button redo" title="Redo">
          <span class="icon">Redo</span>
        </a></li>
      </ul>

      <div id="formatOptions" class="disabled">
        <ul>
          <li><a href="#format_bold" class="button bold toggleButton"
            title="Bold"><span class="icon">Bold</span></a></li>
          <li><a href="#format_underline" class="button underline toggleButton"
            title="Underline"><span class="icon">Underline</span></a></li>
          <li><a href="#format_italic" class="button italic toggleButton"
            title="Italic"><span class="icon">Italic</span></a></li>
          <li><a href="#format_strikethrough" class="button strike toggleButton"
            title="Strikethrough"><span class="icon">Strike</span></a></li>
          <li><a href="#format_unorderedList"
            class="button bulletedList toggleButton"
            title="Bulleted List"><span class="icon">Bulleted List</span></a></li>
          <li><a href="#format_orderedList" class="button numberedList toggleButton"
            title="Numbered List"><span class="icon">Numbered List</span></a></li>
          <li><a href="#format_link" class="button link toggleButton"
            title="Link">Link</a></li>
          <li><%= select_tag("format_fontFamily", font_select_options('Helvetica'),
            {:class => 'fontFamily'}) %></li>
          <li><%= select_tag("format_fontSize", font_size_select_options(12),
            {:class => 'fontSize'}) %></li>
          <li><div class="menu color">
            <a class="menuButton color" title="Font Color">
              <span class="colorIcon colorIndicator"></span><span class="icon"></span>
            </a>
          </div></li>
          <li><div class="align menu alignLeft"></div></li>
        </ul>
      </div>
    </div>
    <%- end -%>

    <div class="sidebarOptionsContainer clearfix">
      <ul id="sidebarOptions" class="clearfix">
        <li><a href="#Edit" title="Edit" class="edit"
          data-paneName="edit"><span class="icon"></span>Edit</a></li>
        <li><a href="#Manage" title="Manage" class="manage"
          data-paneName="manage"><span class="icon"></span>Manage</a></li>
        <li><a href="#More_Views" title="More Views" class="moreViews"
          data-paneName="moreViews"><span class="icon"></span>More Views</a></li>
        <li><a href="#Filter" title="Filter" class="filter"
          data-paneName="filter"><span class="icon"></span>Filter
          <span class="alertIcon"></span></a></li>
        <li><a href="#Visualize" title="Visualize" class="visualize"
          data-paneName="visualize"><span class="icon"></span>Visualize</a></li>
        <li><a href="#Export" title="Export" class="export"
          data-paneName="export"><span class="icon"></span>Export</a></li>
        <li><a href="#Discuss" title="Discuss" class="feed"
          data-paneName="feed"><span class="icon"></span>Discuss</a></li>
        <li><a href="#Embed" title="Embed" class="embed"
          data-paneName="embed"><span class="icon"></span>Embed</a></li>
        <li><a href="#About" title="About" class="about"
          data-paneName="about"><span class="icon"></span>About</a></li>
      </ul>
    </div>
  </div>

</div>

<div class="outerContainer">
  <div id="renderTypeContainer" class="innerContainer">
    <div class="aboutLoad">
      <%= render :partial => 'about_dataset' %>
      <%- if @view.is_tabular? && !@view.is_form? && @view.display.data_valid? -%>
      <%# SEO links for individual rows %>
      <%- next_index = 0 -%>
      <%- if !@row.nil? -%>
      <%- next_index = @view.get_row_index(@row['sid']) + 1 -%>
      <%- next_row = @view.get_row_by_index(next_index) -%>
      <%- end -%>
      <%- if !next_row.nil? -%>
      <a href="<%= @view.href %>/<%= next_row['sid'] %>" class="rowLink">
        <%= @row.nil? ? 'First' : 'Next' %> row
      </a>
      <%- else -%>
      <a href="<%= @view.href %>/row_index/<%= next_index %>" class="rowLink">
        <%= next_index == 0 ? 'First' : 'Next' %> row
      </a>
      <%- end -%>
      <%- end -%>
    </div>
    <div class="mainSpinner loadingSpinnerContainer hide">
      <div class="loadingSpinner"></div>
    </div>
    <div class="viewErrorContainer">
      <%- if @view.has_rights?('update_view') -%>
      <div class="viewError"><%= @view.display.invalid_message %></div>
      <ul class="invalidActions">
        <li>
          <a href="#Edit" class="editView button">Edit View</a>
        </li>
        <%- if @view.has_rights?('delete_view') -%>
        <li>
          <a href="#Remove" class="removeView button">Delete View</a>
        </li>
        <%- end -%>
      </ul>
      <%- else -%>
      <div class="viewError">This view cannot be displayed</div>
      <%- end -%>
    </div>

    <div id="staticRenderType" class="fullHeight renderTypeNode">
      <%= render(:partial => @view.display.render_partial) %>
    </div>

    <%- if @view.is_tabular? && !@view.is_form? -%>
    <div id="fatRowRenderType"
      class="fatRowRenderType navRenderType renderTypeNode fullHeight hide">
      <div class="columnHeaders"></div>
      <div class="rowList"></div>
      <ul class="navigation">
      <%- if !@current_user.nil? && @current_user.has_right?('create_datasets') &&
          @view.has_rights?('update_view') -%>
        <li class="edit"><a class="button"
          href="<%= @view.href %>/edit_rr?defaultRender=richList">
          Edit Layout
        </a></li>
        <%- end -%>
        <li><a href="#start" title="View first page" class="start button">
          <span class="icon"></span>
        </a></li>
        <li><a href="#previous" title="View previous page" class="previous button">
          <span class="icon"></span>
        </a></li>
        <li class="page"><a href="#page">0</a></li>
        <li><a href="#next" title="View next page" class="next button">
          <span class="icon"></span>
        </a></li>
        <li><a href="#end" title="View last page" class="end button">
          <span class="icon"></span>
        </a></li>
      </ul>
      <div class="templateRow row clearfix">
      </div>
    </div>

    <div id="pageRenderType" class="pageRenderType navRenderType renderTypeNode
      fullHeight hide">
      <a href="#ShowFullView" class="fullView button leftArrow hide">
        <span class="icon"></span>Back to all the data
      </a>
      <div class="content">
        <%- if !@row.nil? -%>
        <div class="pageColumn">
          <%- @view.visible_columns.each do |c| -%>
          <div class="pageLine <%= c.renderTypeName %>">
            <span class="pageLabel"><%= c.name %></span>

            <div class="pageItem">
              <%- cell = @row[c.id] -%>
              <%- if c.renderTypeName == 'nested_table' -%>
              <table>
                <thead>
                  <tr>
                    <%- c.viewable_children.each do |cc| -%>
                    <th><%= cc.name %></th>
                    <%- end -%>
                  </tr>
                </thead>
                <tbody>
                  <%- (cell || []).each do |cr| -%>
                  <tr>
                    <%- c.viewable_children.each do |cc| -%>
                    <td><%= seo_render(cr[cc.id], cc) %></td>
                    <%- end -%>
                  </tr>
                  <%- end -%>
                </tbody>
              </table>
              <%- else -%>
              <%= seo_render(cell, c) %>
              <%- end -%>
            </div>
          </div>
          <%- end -%>
        </div>
        <%- end -%>
      </div>
      <ul class="navigation">
        <%- if !@current_user.nil? && @current_user.has_right?('create_datasets') &&
            @view.has_rights?('update_view') -%>
        <li class="edit"><a class="button"
          href="<%= @view.href %>/edit_rr?defaultRender=page">Edit Layout</a></li>
        <%- end -%>
        <li><a href="#start" title="View first row" class="start button">
          <span class="icon"></span>
        </a></li>
        <li><a href="#previous" title="View previous row" class="previous button">
          <span class="icon"></span>
        </a></li>
        <li class="info">
        Viewing row <span class="curPage"></span> of <span
          class="totalPages"></span>
        </li>
        <li><a href="#next" title="View next row" class="next button">
          <span class="icon"></span>
        </a></li>
        <li><a href="#end" title="View last row" class="end button">
          <span class="icon"></span>
        </a></li>
      </ul>
    </div>
    <%- end -%>
  </div>

  <div id="gridSidebar">
    <a class="close" href="#close"><span class="icon">Close</span></a>
  </div>
</div>

<% content_for :templates do %>
<%= render(:partial => 'shared/grid_sidebar_templates') %>
<%= render(:partial => 'show_hide_template') %>
<%= render :partial => 'column_order_template' %>
<div class="embedForm">
  <%= render :partial => 'embed_form', :locals => { :view => @view, :cur => 'root',
             :customization_id => (CurrentDomain.user_can?(current_user, :edit_sdp) ? nil : CurrentDomain.default_widget_customization_id) } %>
</div>
<div class="printForm">
  <%= render :partial => 'print_form', :locals => { :view => @view } %>
</div>
<%= render :partial => 'downloads_table_template' %>
<%= render :partial => 'feed_template', :locals => { :allow_comments => @view.module_enabled?(:allow_comments) } %>
<%= render :partial => 'flag_message' %>
<%= render :partial => 'sharing' %>
<%= render :partial => 'permissions' %>
<%= render :partial => 'api_access' %>
<%= render :partial => 'signed_dataset' %>
<%= render :partial => 'subscribe' %>
<%= render :partial => 'fatrow_header_template' %>
<div class="editAlertTemplate">
  <div class="editAlert">
    <p class="editMessage">This dataset is published and cannot be edited directly.
    A working copy is available that allows you to make all your desired changes
    before making them publicly available.</p>
    <p class="copyingMessage">Please wait while a working copy is made</p>
    <p class="doneCopyingMessage hide">The working copy is now available.
      The Edit Dataset button will give you access when you are ready to edit.</p>
    <a href="#Unpublished" class="button editPublished">Edit Dataset</a>
  </div>
</div>
<div class="filterPane">
  <div class="initialFilterMode">
    <p>Never created a filter before? Watch a short tutorial video
       <a href="/videos/popup#basic-filtering" rel="video" class="noRedirPrompt">here</a>.</p>
    <p class="orText">or</p>
    <a href="#newCondition" class="addFilterConditionButton">
      Click here to add your first filter condition
    </a>
  </div>
  <div class="normalFilterMode">
    <div class="menu advanced filterOptionsMenu mainFilterOptionsMenu"></div>

    <div class="advancedStateLine notAdvancedLine">
      <span class="advancedStateText">You are in simplified mode.</span>
      <a class="advancedStateLink advancedOnLink" href="#advanced">Go advanced now?</a>
    </div>
    <div class="advancedStateLine editModeAdvancedOffLine">
      <span class="advancedStateText">Users will start in simplified mode.</span>
      This means that they will be unable to add new conditions,
      change the columns or operators of filters, or access the
      advanced menus on filters.
      <a class="advancedStateLink advancedOnLink" href="#advanced">Change the default back to advanced.</a>
    </div>
    <div class="advancedStateLine editModeAdvancedOnLine">
      <span class="advancedStateText">Users will start in advanced mode.</span>
      This means that they will have full access to the options
      available on the filter. For a more curated experience, you
      can try the simplified mode.
      <a class="advancedStateLink advancedOffLink" href="#notAdvanced">Change the default to simplified.</a>
    </div>

    <div class="filterConditions">
      <div class="noFilterConditionsText">No conditions defined yet.</div>
    </div>

    <a class="button add advanced addFilterConditionButton">
      <span class="icon"></span>
      Add a New Filter Condition
    </a>
  </div>

  <%- if @view.has_rights?('update_view') -%>
    <div class="editFilterBlock">
      <div class="normalModeMessage">
        <p>As a publisher of this view, you may define the default set
           of filters visitors will be presented with:</p>
        <a class="editFilter button" href="#edit">Edit Default Filter</a>
      </div>
      <div class="editModeMessage">
        <p>Use the tools above to create filters, adjust presented values,
           select the number of automatically suggested values the filter
           will attempt to present, and so on. When you are satisfied with
           the options being presented, click on Done below to save it:</p>
        <a class="saveEditedFilter button default" href="#save">Done</a>
        <a class="discardEditedFilter button" href="#cancel">Cancel</a>
        <span class="savingEditedFilterSpinner"></span>
      </div>
    </div>
  <%- end -%>
</div>
<div class="filterCondition">
  <div class="filterCondition sectionContent">
    <a class="filterRemoveButton advanced close" href="#close"><span class="icon">Remove filter</span></a>
    <div class="filterHeadline">
      <a class="filterExpander downArrow"><span class="icon"></span></a>
      <a class="filterLink columnName" href="#change"></a>
      <a class="filterLink subcolumnName" href="#change"></a>
      <a class="filterLink operator" href="#change"></a>
      <a class="filterLink value" href="#change"></a>
    </div>
    <div class="filterValues">
      <div class="autogenerated">
        <div class="autogeneratedPropertiesOverlay"></div>
        <div class="autogeneratedProperties">
          <p>Show up to <select class="autogeneratedCount"><%= options_for_select((1..20).to_a) %></select> suggested values</p>
        </div>
      </div>
    </div>
    <div class="menu advanced filterOptionsMenu"></div>
  </div>
</div>
<% end %>

<%- content_for :modals do -%>
  <div class="emailDatasetDialog modalDialog<%= ' ownerDialog' if
    @view.has_rights?('grant') %>">
    <a href="#close" class="jqmClose modalDialogClose">Close</a>
    <h2><span class="emailDatasetHint">Email</span> this
      <span class="datasetTypeNameUpcase">Dataset</span></h2>
    <div class="emailSuccess">
      <div class="flash notice">
        Your email has been successfully sent.
      </div>
      <ul class="actions clearfix">
        <li>
          <a href="#cancel" class="jqmClose button">Close</a>
        </li>
        <li>
      </ul>
    </div>
    <div class="emailDatasetContent">
      <div class="flash" id="emailDatasetMessage"></div>
      <p>Share this <span class="datasetTypeName">dataset</span> with the following email addresses</p>
      <div class="emailFormContent">
        <form class="commonForm" id="emailDatasetForm"
          action="/views/<%= @view.id %>.json?method=sendAsEmail" method="post">
          <div class="emailLine">
            <a href="#remove" title="Remove" class="removeLink delete hiddenLink">
              <span class="icon"></span>
            </a>
            <input type="hidden" class="recipientUid" />
            <div class="textWrapper">
              <input type="text" class="emailRecipient email"
                name="emailRecipient0" />
            </div>
            <%- if @view.has_rights?('grant') -%>
              <%= select_tag 'role', options_for_select(@view.share_types),
                    :class => 'recipientRole', :id => nil %>
            <%- end -%>
          </div>
          <div class="addMoreLine">
            <a class="button addMoreRecipientsButton add" href="#add">
              <span class="icon"></span>Add More
            </a>
          </div>
          <p class="emailMessageHint">Enter an optional message</p>
          <textarea id="emailMessage"></textarea>
        </form>
      </div>
      <ul class="actions clearfix">
        <li>
          <a href="#cancel" class="jqmClose button cancel">
            <span class="icon"></span>Cancel
          </a>
        </li>
        <li>
          <a href="#email" class="button" id="emailSubmitButton">
            <span class="icon"></span><span class="emailDatasetHint">Email</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <%= render :partial => 'save_view_dialog' %>

  <%- unless current_user -%>
    <div id="login" class="modalDialog">
      <a href="#close" class="jqmClose modalDialogClose">Close</a>
      <h2>Sign in using your Socrata ID</h2>

      <%= display_standard_flashes %>

      <% form_for @user_session, :html => { :class => "commonForm" } do |f| %>
        <%= render :partial => "user_sessions/login_form_data_new", :locals => { :f => f } %>
      <% end %>

      <ul class="accountMaint">
        <li><%= link_to "Forgot your password?", forgot_password_path, :class => 'noRedirPrompt' %></li>
        <li><%= link_to "No account yet?", signup_url, { :class => "signupLink noRedirPrompt" } %></li>
      </ul>

      <script type="text/javascript">
        blist.secureUrl = "https://<%= request.host %>:<%= SslRequirement.port_for_protocol('https') %>";
      </script>
    </div>

    <div id="signup" class="modalDialog">
      <a href="#close" class="jqmClose modalDialogClose">Close</a>
      <h2>We're glad you want to join Socrata!</h2>

      <% form_for :signup, @signup, :url => account_path, :html => {:id => 'signupForm',
                  :class => 'commonForm', :multipart => true} do |f| %>
       <%= render :partial => "accounts/signup_form_data_new", :locals => { :f => f, :is_modal => true } %>
      <% end %>
    </div>
  <%- end -%>
<%- end -%>

<% content_for :js_footer do %>
  <script type="text/javascript">
    <%= raw @view.display.render_inline_setup_js('renderTypeContainer', self) %>

    <%- if !current_user.nil? -%>
      blist.currentUserId = '<%= current_user.id %>';
    <%- end -%>

    <%- if !@row.nil? -%>
    blist.initialRowId = "<%= @row['sid'] %>";
    <%- end -%>

    blist.sidebarPosition = '<%= sidebar_position %>';

    <%# Namespace to keep track of disabled sidebar sections %>
    blist.namespace.fetch('blist.sidebarHidden');

    <%# More views %>
    blist.sidebarHidden.moreViews = blist.sidebarHidden.moreViews || {};
    blist.sidebarHidden.moreViews.views = <%= @view.is_unpublished? || !@view.is_tabular? %>;
    blist.sidebarHidden.moreViews.snapshots = <%= @view.is_unpublished? || !@view.flag?('default') %>;

    <%# Edit pane %>
    blist.sidebarHidden.edit = blist.sidebarHidden.edit || {};
    blist.sidebarHidden.edit.append = <%= !@view.is_unpublished? || !@view.is_blist? ||
      !@view.has_rights?('add') ||
      !CurrentDomain.module_available?(:dataset_append) %>;
    blist.sidebarHidden.edit.replace = <%= !@view.is_unpublished? && !@view.is_blobby? ||
      @view.is_snapshotted? ||
      !(@view.is_blist? || @view.is_blobby?) ||
      !@view.has_rights?('add') ||
      !@view.has_rights?('delete') ||
      !CurrentDomain.module_available?(:dataset_refresh) %>;
    blist.sidebarHidden.edit.addColumn = <%= !@view.is_unpublished? || !@view.is_blist? ||
      !@view.has_rights?('add_column') %>;
    blist.sidebarHidden.edit.redirect = <%= !@view.is_published? || !@view.is_blist? ||
      !@view.can_edit_published? %>;

    <%# Manage %>
    blist.sidebarHidden.manage = blist.sidebarHidden.manage || {};
    blist.sidebarHidden.manage.updateColumn = <%= @view.is_snapshotted? || !@view.is_tabular? ||
      @view.is_form? %>;
    blist.sidebarHidden.manage.showHide = <%= @view.is_snapshotted? || !@view.is_tabular? ||
      @view.is_form? %>;
    blist.sidebarHidden.manage.sharing = <%= @view.is_snapshotted? || !@view.has_rights?('grant') %>;
    blist.sidebarHidden.manage.permissions = <%= @view.is_snapshotted? ||
      !@view.has_rights?('update_view') %>;
    blist.sidebarHidden.manage.plagiarize = <%= !CurrentDomain.user_can?(current_user, :chown_datasets) %>;

    <%# Columm properties %>
    blist.sidebarHidden.columnProperties = <%= @view.is_snapshotted? || !@view.is_tabular? %>;

    <%# Filter pane %>
    blist.sidebarHidden.filter = blist.sidebarHidden.filter || {};
    blist.sidebarHidden.filter.filterDataset = <%= !@view.is_tabular? ||
      @view.is_form? %>;

    <%# Visualize pane %>
    blist.sidebarHidden.visualize = blist.sidebarHidden.visualize || {};
    blist.sidebarHidden.visualize.calendarCreate = <%= @view.is_unpublished? ||
      @view.is_alt_view? && !@view.available_display_types.include?('calendar') %>;
    blist.sidebarHidden.visualize.chartCreate = <%= @view.is_unpublished? ||
      @view.is_alt_view? && !@view.available_display_types.include?('chart') %>;
    blist.sidebarHidden.visualize.mapCreate = <%= @view.is_unpublished? ||
      @view.is_alt_view? && !@view.available_display_types.include?('map') ||
      @view.is_grouped? || !module_available?(:map_publish) %>;
    blist.sidebarHidden.visualize.conditionalFormatting = <%= @view.is_unpublished? ||
      !@view.is_tabular? || @view.is_form? %>;

    <%# Embed pane %>
    blist.sidebarHidden.embed = blist.sidebarHidden.embed || {};
    blist.sidebarHidden.embed.formCreate = <%= !@view.is_published? ||
      (!@view.is_tabular? && !@view.is_form?) ||
      @view.is_grouped? ||
      !module_available?(:form_publish) ||
      ((!@view.owned_by?(current_user) ||
        !@view.parent_dataset.owned_by?(current_user)) &&
       !CurrentDomain.user_can?(current_user, :edit_others_datasets)) %>;
    blist.sidebarHidden.embed.sdp = <%= !@view.is_published? %>;

    <%# Export pane %>
    blist.sidebarHidden.exportSection = blist.sidebarHidden.exportSection || {};
    blist.sidebarHidden.exportSection.signedDataset = <%=
      !@view.owned_by?(current_user) || !module_available?(:digital_signatures) ||
      !@view.is_tabular? %>;
    blist.sidebarHidden.exportSection.print = <%= !@view.can_print? %>;
    blist.sidebarHidden.exportSection.download = <%= !@view.is_tabular? %>;
    blist.sidebarHidden.exportSection.api = <%= !@view.is_tabular? %>;
    blist.sidebarHidden.exportSection.subscribe = <%= !@view.is_published? || !@view.is_tabular? %>;

    <%# Discuss pane %>
    blist.sidebarHidden.feed = <%= !@view.is_published? %>;

    <%# About pane %>
    blist.sidebarHidden.about = <%= @view.is_href? || @view.is_blobby? &&
      @view.display.display_type == 'link' %>;

    <%# Please see admin_controller#add_custom_layer for explanation %>
    <%# custom_layer_config = Configuration.find_by_type('custom_layers', true).first
        custom_layers = {}
        ['esri'].each do |map_type|
          custom_layers[map_type] = custom_layer_config.data['properties'].detect { |property|
            property['name'] == map_type
          }['value']
        end if custom_layer_config
    -%>
    <%#blist.custom_layers = JSON.parse($.htmlUnescape("<%= h custom_layers.to_json.gsub(/\\/, '\\\\\\') % >")); -%>
  </script>

  <%- if @view.is_tabular? -%>
  <%= include_javascripts 'shared-table-editor' %>
  <%- end -%>

  <%= include_javascripts 'dataset-show' %>
<% end %>
