<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, "/views/#{@view.id}/rows.rss") %>
  <%= raw @view.display.render_stylesheet_includes %>
  <%= stylesheet_link_merged 'dataset-page' %>
  <%= rendered_stylesheet_tag 'dataset-page' %>

  <title><%= h(@view.name) %> | <%= CurrentDomain.strings.site_title %></title>
  <link rel="canonical" href="<%= @view.href %>" />
<% end %>

<% content_for :skip_links do %>
  <%= link_to 'Go to an accessible version of this page', @view.alt_href %>

  <%- if @view.can_edit? -%>
    <%= link_to 'Edit the metadata of this dataset', @view.href + '/edit_metadata' %>
  <%- end -%>
<% end %>

<div id='datasetBar' class='clearfix'>
  <div id='viewsMenu' class='menu'></div>

  <div id='titleBox'>
    <a href="#expand" class="descriptionExpander downArrow" title="Click to expand">
      <span class="icon"></span>
    </a>
    <div id='datasetIcon' class='type<%= @view.display.type.capitalize %>'>
      <span class='icon currentViewName'><%= @view.display.name %></span>
      <span class='alertIcon'></span>
    </div>
    <div class='unsavedLine'>
      <h2 id='unsavedTitle'>Unsaved View</h2>
      <%- if !@view.is_blist? && @view.owned_by?(current_user) -%>
      <a href='#Save' title='Save current view' data-savingText='Saving...'
        class='save toolbarButton'>Save</a>
      <%- end -%>
      <a href='#SaveAs' title='Save view as...'
        class='saveAs toolbarButton'>Save As...</a>
      <a href='#Revert' title='Revert to saved view'
        class='revert toolbarButton'>Revert</a>
    </div>
    <h2 id='datasetName' class="clipText currentViewName"><%= @view.name %></h2>
    <div class='basedOn clipText'>
    (based on <span class='parentName currentViewName'><%= @view.name %></span>)
    </div>
    <div id='description' class="collapsed"><%= @view.description %></div>
  </div>

  <%- if @view.can_edit? && !@view.is_alt_view? -%>
  <ul id='editOptions'>
    <li><a href='#Undo' class='button undo' title='Undo'>
      <span class='icon'>Undo</span>
    </a></li>
    <li><a href='#Redo' class='button redo' title='Redo'>
      <span class='icon'>Redo</span>
    </a></li>
  </ul>
  <%- end -%>

  <div id='actionBox' class='clearfix'>
    <ul id="toolbarOptions">
      <%- unless @view.is_alt_view? -%>
      <li>
        <div id='searchButton'>
          <span class='searchIcon'></span>
          <form class="searchForm" action="#">
            <input type="text" class="searchField textPrompt" title="Find in this Dataset" />
            <a href="#clear" class="clearSearch close"><span class="icon"></span></a>
          </form>
        </div>
      </li>
      <%- end -%>
      <li>
        <div id='shareMenu' class='share menu'></div>
      </li>
    </ul>
    <ul id='sidebarOptions' class="clearfix">
      <li class="tabEdit"><a href='#Edit' title='Edit'
        data-paneName='edit'>Edit</a></li>
      <li class="tabFilter"><a href='#Filter' title='Filter' class='none'
        data-paneName='filter'>Filter<span class='alertIcon'></span></a></li>
      <li class="tabVisualize"><a href='#Visualize' title='Visualize'
        data-paneName='visualize'>Visualize</a></li>
      <li class="tabExport"><a href='#Export' title='Export'
        data-paneName='export'>Export</a></li>
      <li class="tabFeed"><a href='#Feed' title='Feed'
        data-paneName='feed'>Feed</a></li>
      <li class="tabEmbed"><a href='#Embed' title='Embed'
        data-paneName='embed'>Embed</a></li>
      <li class="tabAbout"><a href='#About' title='About'
        data-paneName='about'>About</a></li>
    </ul>
  </div>

  <a href="#toggleFullScreen" class="fullscreenButton maximize"><span class="icon">Toggle full screen</span></a>
</div>

<div class='outerContainer'>
  <div class='innerContainer'>
    <div class='viewErrorContainer'>
      <%- if @view.owned_by?(current_user) -%>
      <div class='viewError'><%= @view.display.invalid_message %></div>
      <ul class='invalidActions'>
        <li>
          <a href='#Edit' class='editView button'>Edit View</a>
        </li>
        <li>
          <a href='#Remove' class='removeView button'>Delete View</a>
        </li>
      </ul>
      <%- else -%>
      <div class='viewError'>This view cannot be displayed</div>
      <%- end -%>
    </div>

    <div id='mainGrid' class='fullHeight'>
      <%= raw @view.display.render_body(self) %>
      <%= render(:partial => @view.display.render_partial) %>
    </div>
  </div>

  <div id='gridSidebar'>
    <a class='close' href='#close'><span class='icon'>Close</span></a>
  </div>
</div>

<div class="emailDatasetDialog modalDialog<%= ' ownerDialog' if @view.owned_by?(current_user) %>">
  <a href="#close" class="jqmClose modalDialogClose">Close</a>
  <h2>Email this Dataset</h2>
  <div class="emailSuccess">
    <div class="flash notice">
      Your email has been successfully sent.
    </div>
    <ul class="actions clearfix">
      <li>
        <a href="#cancel" class="jqmClose button">Close</a>
      </li>
      <li>
    </ul>
  </div>
  <div class="emailDatasetContent">
    <div class="flash" id="emailDatasetMessage"></div>
    <form class='commonForm' id='emailDatasetForm' action='/views/<%= @view.id %>.json?method=sendAsEmail' method='post'>
      <p>Share this dataset with</p>
      <div class="emailLine">
        <a href="#remove" title="Remove" class="removeLink delete hiddenLink">
          <span class="icon"></span>
        </a>
        <input type="hidden" class="recipientUid" />
        <input type="text" class="emailRecipient email" name="emailRecipient0" />
        <%- if @view.owned_by?(current_user) -%>
          <%= select_tag 'role', options_for_select(['Viewer', 'Contributor', 'Owner']),
                :class => 'recipientRole', :id => nil %>
        <%- end -%>
      </div>
    </form>
    <div class="addMoreLine">
      <a class="button addMoreRecipientsButton add" href="#add">
        <span class="icon"></span>Add More
      </a>
    </div>
    <ul class="actions clearfix">
      <li>
        <a href="#cancel" class="jqmClose button cancel">
          <span class="icon"></span>Cancel
        </a>
      </li>
      <li>
        <a href="#email" class="button" id="emailSubmitButton">
          <span class="icon"></span>Email
        </a>
      </li>
    </ul>
  </div>
</div>

<% content_for :templates do %>
<%= render(:partial => 'grid_sidebar_templates') %>
<%= render(:partial => 'show_hide_template') %>
<div class="embedForm">
  <%= render :partial => 'embed_form', :locals => { :view => @view, :cur => 'root',
        :customization_id => CurrentDomain.default_widget_customization_id} %>
</div>
<div class="printForm">
  <%= render :partial => 'print_form', :locals => { :view => @view } %>
</div>
<%= render :partial => 'downloads_table_template' %>
<%= render :partial => 'feed_template' %>
<%= render :partial => 'flag_message' %>
<% end %>
<%= render :partial => 'about_dataset' %>

<%- content_for :modals do -%>
  <div class="saveViewDialog modalDialog">
    <a href="#close" class="jqmClose modalDialogClose">Close</a>
    <div class='loadingSpinner hide'></div>
    <div class='loadingOverlay hide'></div>
    <h2>Enter a name for your new view</h2>
    <form class='commonForm' action='#save'>
      <input type='text' class='viewName' />
    </form>
    <div class='mainError'></div>
    <ul class="actions clearfix">
      <li>
        <a class="jqmClose button cancel" href="#cancel">
          <span class="icon"></span>Cancel
        </a>
      </li>
      <li>
        <a class="button save submit" href="#save">
          <span class="icon"></span>Save
        </a>
      </li>
    </ul>
  </div>

  <%- unless current_user -%>
    <div id="login" class="modalDialog">
      <a href="#close" class="jqmClose modalDialogClose">Close</a>
      <h2>Sign in using your Socrata ID</h2>

      <%= display_standard_flashes %>

      <% form_for @user_session, :html => { :class => "commonForm" } do |f| %>
        <%= render :partial => "user_sessions/login_form_data_new", :locals => { :f => f } %>
      <% end %>

      <ul class="accountMaint">
        <li><%= link_to "Forgot your password?", forgot_password_path%></li>
        <li><%= link_to "No account yet?", signup_url, { :class => "signupLink" } %></li>
      </ul>

      <script type="text/javascript">
        blist.secureUrl = "https://<%= request.host %>:<%= SslRequirement.port_for_protocol('https') %>";
      </script>
    </div>

    <div id="signup" class="modalDialog">
      <a href="#close" class="jqmClose modalDialogClose">Close</a>
      <h2>We're glad you want to join Socrata!</h2>

      <% form_for :signup, @signup, :url => account_path, :html => {:id => 'signupForm',
                  :class => 'commonForm', :multipart => true} do |f| %>
       <%= render :partial => "accounts/signup_form_data_new", :locals => { :f => f, :is_modal => true } %>
      <% end %>
    </div>
  <%- end -%>
<%- end -%>

<% content_for :js_footer do %>

  <script type="text/javascript">
    <%= raw @view.display.render_inline_setup_js('mainGrid', self) %>

    <%- if !current_user.nil? -%>
      blist.currentUserId = '<%= current_user.id %>';
      blist.isOwner = <%= current_user.id == @view.owner.id ? 'true' : 'false' %>;
    <%- end -%>

    <%# Namespace to keep track of disabled sidebar sections %>
    blist.namespace.fetch('blist.sidebarHidden');

    <%# Saved views %>
    blist.sidebarHidden.savedViews = <%= !@view.is_tabular? %>;

    <%# Filter pane %>
    blist.sidebarHidden.filter = blist.sidebarHidden.filter || {};
    blist.sidebarHidden.filter.filterDataset = <%= @view.is_alt_view? %>;
    blist.sidebarHidden.filter.showHide = <%= @view.is_alt_view? ||
      !@view.owned_by?(@current_user) %>;

    <%# Visualize pane %>
    blist.sidebarHidden.visualize = blist.sidebarHidden.visualize || {};
    blist.sidebarHidden.visualize.calendarCreate = <%= @view.is_alt_view? &&
      (@view.display.type != 'calendar' || !@view.owned_by?(@current_user)) %>;
    blist.sidebarHidden.visualize.chartCreate = <%= @view.is_alt_view? &&
      (@view.display.type != 'visualization' || !@view.owned_by?(@current_user)) %>;
    blist.sidebarHidden.visualize.mapCreate = <%= @view.is_alt_view? &&
      (@view.display.type != 'map' || !@view.owned_by?(@current_user)) ||
      @view.is_grouped? ||
      !module_available?(:map_publish) %>;

    <%# Embed pane %>
    blist.sidebarHidden.embed = blist.sidebarHidden.embed || {};
    blist.sidebarHidden.embed.formCreate = <%= @view.is_alt_view? &&
      !@view.is_form? ||
      @view.is_grouped? ||
      !CurrentDomain.user_can?(current_user, :create_datasets) ||
      !module_available?(:form_publish) ||
      !@view.owned_by?(@current_user) ||
      !@view.parent_dataset.owned_by?(@current_user) %>;

    <%# Export pane %>
    blist.sidebarHidden.exportSection = blist.sidebarHidden.exportSection || {};
    blist.sidebarHidden.exportSection.print = <%= @view.is_alt_view? %>;
  </script>

  <%- if !@view.is_blobby? -%>
  <%= raw @view.display.render_edit_javascript_includes(self) %>
  <%- end -%>
  <%= raw @view.display.render_javascript_includes(self) %>

  <%= javascript_include_merged 'screen-dataset' %>
<% end %>
