<header id="site-chrome-header" class="<%= size %>" role="banner" template="rally">
  <div class="banner">
    <div class="rally-top">
      <div class="header-content">
        <%= header_logo %>
        <%= render 'site_chrome/searchbox', path: site_chrome_massage_url('/browse'), vanishing_search_button: true %>
      </div>
    </div>

    <div class="rally-bottom">
      <div class="header-content">
        <nav class="desktop" aria-label="<%= t('header.header_links_aria_label') %>">
          <div class="navbar-left">
            <%= navbar_links_div(:use_dropdown => true) %>
          </div>

          <div class="navbar-right">
            <div class="site-chrome-social-links">
              <%= render 'site_chrome/social_links' %>
            </div>

            <% if valid_social_links(site_chrome_instance.general[:social_shares]).present? %>
              <%= divider %>
            <% end %>

            <% if show_language_switcher? %>
              <%= render 'site_chrome/language_switcher', :orientation => 'bottom' %>
            <% end %>

            <%= render 'site_chrome/user_actions' %>
          </div>
        </nav>

        <nav class="mobile" aria-label="<%= t('header.header_links_aria_label') %>">
          <a class="site-chrome-btn menu-toggle" href="#" onclick="mobileMenuToggle()">
            <span class="socrata-icon-hamburger"></span>
            <%= t('header.menu') %>
          </a>
        </nav>
      </div>
    </div>
  </div>
  <%= render 'site_chrome/mobile_menu' %>
</header>
