<section class="settings-group">
  <div class="settings-form full">
    <h6><%= t('screens.admin.site_chrome.tabs.general.activation.select_where') %></h6>
    <%= site_chrome_radio_button(
      'site_appearance',
      'entire_site',
      t('screens.admin.site_chrome.tabs.general.activation.entire_site'),
      selected: site_chrome_on_entire_site_or_default_state
    ) %>
    <%= site_chrome_radio_button(
      'site_appearance',
      'all_pages_except_home',
      t('screens.admin.site_chrome.tabs.general.activation.all_pages_except_home'),
      selected: @site_chrome.on_all_pages_except_home_page?
    ) %>
    <%= site_chrome_radio_button(
      'site_appearance',
      'revert_site_chrome',
      t('screens.admin.site_chrome.tabs.general.activation.revert_html').html_safe,
      disabled: !@site_chrome.activated?,
      selected: @site_chrome.reverted?
    ) %>
    <%- unless @site_chrome.activated? -%>
      <%# This hidden input is enabled when the user clicks the Activate button %>
      <input id="enable_activation" type="hidden" name="activation" value="true" disabled="disabled" />
    <%- end -%>
  </div>
  <aside class="full">
    <p><%= t('screens.admin.site_chrome.tabs.general.activation.primer_included') %></p>
  </aside>
</section>
