<div class="inline-container">
  <div class="color-group">
    <%= partial "elements/skeletons/swatch" , locals: {
      color: 'primary',
      label: "Primary",
      hexValue: "#288DC1",
      hexValueLight: "#EAF4F9",
      hexValueDark: "#176289",
      hexValueText: "#2279a6"
    } %>
  </div>
</div>
<div class="inline-container">
    <div class="color-group">
    <%= partial "elements/skeletons/swatch" , locals: {
      color: 'alternate-1',
      label: "Alternate. 1",
      hexValue: "#E48424",
      hexValueLight: "#FCF3EB",
      hexValueDark: "#9e5c23",
      hexValueText: "#9e5c23"
    } %>
  </div>
  <div class="color-group">
    <%= partial "elements/skeletons/swatch" , locals: {
      color: 'alternate-2',
      label: "Alternate 2",
      hexValue: "#00A1AF",
      hexValueLight: "#E6F6F7",
      hexValueDark: "#00717C",
      hexValueText: "#008a97"
    } %>
  </div>
  <div class="color-group">
    <%= partial "elements/skeletons/swatch" , locals: {
      color: 'alternate-3',
      label: "Alternate 3",
      hexValue: "#00BF9B",
      hexValueLight: "#E5F9F5",
      hexValueDark: "#00856d",
      hexValueText: "#00987c"
    } %>
  </div>
    <div class="color-group">
    <%= partial "elements/skeletons/swatch" , locals: {
      color: 'alternate-4',
      label: "Alternate 4",
      hexValue: "#8e98a1",
      hexValueLight: "#F4F5F6",
      hexValueDark: "#636A71",
      hexValueText: "#555b61"    
    } %>
  </div>
</div>
<div class="inline-container">
  <div class="color-group">
    <%= partial "elements/skeletons/swatch" , locals: {
      color: 'warning',
      label: "Warning",
      hexValue: "#E7B000",
      hexValueLight: "#FDF9EC",
      hexValueDark: "#A27C00",
      hexValueText: "#8B6A00"
    } %>
  </div>
  <div class="color-group">
    <%= partial "elements/skeletons/swatch" , locals: {
      color: 'error',
      label: "Error",
      hexValue: "#D06463",
      hexValueLight: "#FAF0F0",
      hexValueDark: "#914646",
      hexValueText: "#B35655"
    } %>
  </div>
  <div class="color-group">
    <%= partial "elements/skeletons/swatch" , locals: {
      color: 'success',
      label: "Success",
      hexValue: "#20B05C",
      hexValueLight: "#EAF7EF",
      hexValueDark: "#177B41",
      hexValueText: "#1C974F"
    } %>
  </div>
</div>

<div class="inline-container">
  <h6> Black/White</h6>
  <p class="color-label">Grey: #999</p>
  <p class="color-label">White: #FFF</p>
  <p class="color-label">Black: #2C2C2C</p>
  <div class="swatch-container">
    <div class="grey box"></div>
    <div class="subcontainer">
      <div class="white small-box"></div>
      <div class="black small-box"></div>
    </div>
  </div>
</div>

<div class="inline-container">
  <h6> Greys (not grays)</h6>
  <div class="color-group">
    <p class="color-label">Light Grey 7</p>
    <p class="color-label">#fafafa</p>
    <div class="swatch-container">
      <div class="box grey light-7"></div>
    </div>
  </div>
  <div class="color-group">
    <p class="color-label">Light Grey 6</p>
    <p class="color-label">#f8f8f8</p>
    <div class="swatch-container">
      <div class="box grey light-6"></div>
    </div>
  </div>
  <div class="color-group">
    <p class="color-label">Light Grey 5</p>
    <p class="color-label">#F5F5F5</p>
    <div class="swatch-container">
      <div class="box grey light-5"></div>
    </div>
  </div>
  <div class="color-group">
    <p class="color-label">Light Grey 4</p>
    <p class="color-label">#ebebeb</p>
    <div class="swatch-container">
      <div class="box grey light-4"></div>
    </div>
  </div>
</div>

<div class="inline-container">
  <div class="color-group">
    <p class="color-label">Light Grey 3</p>
    <p class="color-label">#d6d6d6</p>
    <div class="swatch-container">
      <div class="box grey light-3"></div>
    </div>
  </div>
  <div class="color-group">
    <p class="color-label">Light Grey 2</p>
    <p class="color-label">#c2c2c2</p>
    <div class="swatch-container">
      <div class="box grey light-2"></div>
    </div>
  </div>
  <div class="color-group">
    <p class="color-label">Light Grey 1</p>
    <p class="color-label">#adadad</p>
    <div class="swatch-container">
      <div class="box grey light-1"></div>
    </div>
  </div>
  <div class="color-group">
    <p class="color-label">Just Grey</p>
    <p class="color-label">#999</p>
    <div class="swatch-container">
      <div class="box grey"></div>
    </div>
  </div>
</div>

<div class="inline-container">
  <div class="color-group">
    <p class="color-label">Dark Grey 1</p>
    <p class="color-label">#7a7a7a</p>
    <div class="swatch-container">
      <div class="box grey dark-1"></div>
    </div>
  </div>

  <div class="color-group">
    <p class="color-label">Dark Grey 2</p>
    <p class="color-label">#5c5c5c</p>
    <div class="swatch-container">
      <div class="box grey dark-2"></div>
    </div>
  </div>

  <div class="color-group">
    <p class="color-label">Dark Grey 3</p>
    <p class="color-label">#3d3d3d</p>
    <div class="swatch-container">
      <div class="box grey dark-3"></div>
    </div>
  </div>

  <div class="color-group">
    <p class="color-label">Black</p>
    <p class="color-label">#2C2C2C</p>
    <div class="swatch-container">
      <div class="box black"></div>
    </div>
  </div>
</div>
