
<h3 class="h6 styleguide-subheader">Category Tags</h3>
<%= partial "elements/skeletons/tag_category", locals: { text: "Dinosaurs" } %>
<%= partial "elements/skeletons/tag_category", locals: { text: "From" } %>
<%= partial "code_sample", locals: {
  component: "elements/skeletons/tag_category",
  partial_locals: {
    text: "Space"
  }
} %>

<h3 class="h6 styleguide-subheader">Primary Tags</h3>
<%= partial "code_sample", locals: {
  component: "elements/skeletons/tag_official",
  partial_locals: {
    text: "Official View"
  }
} %>

<%= partial "code_sample", locals: {
  component: "elements/skeletons/tag_federated",
  partial_locals: {
    text: "data.opendata.org"
  }
} %>
