<div data-renderType="page" class="pageRenderType navRenderType renderTypeNode fullHeight hide">
  <div class="content">
    <%- if !@row.nil? -%>
    <div class="pageColumn">
      <%- @view.visible_columns.each do |c| -%>
      <div class="pageLine <%= c.renderTypeName %>">
        <span class="pageLabel"><%= c.name %></span>

        <div class="pageItem">
          <%- cell = @row[c.id.to_s] -%>
          <%- if c.renderTypeName == 'nested_table' -%>
          <table>
            <thead>
              <tr>
                <%- c.viewable_children.each do |cc| -%>
                <th scope="col"><%= cc.name %></th>
                <%- end -%>
              </tr>
            </thead>
            <tbody>
              <%- (cell || []).each do |cr| -%>
              <tr>
                <%- c.viewable_children.each_with_index do |cc, i| -%>
                <td<%= ' scope="row"' if i == 0 %>><%= seo_render(cr[cc.id], cc) %></td>
                <%- end -%>
              </tr>
              <%- end -%>
            </tbody>
          </table>
          <%- else -%>
          <%= seo_render(cell, c) %>
          <%- end -%>
        </div>
      </div>
      <%- end -%>
    </div>
    <%- end -%>
  </div>
  <ul class="navigation">
    <%- if !@current_user.nil? && @current_user.has_right?(UserRights::CREATE_DATASETS) &&
      !@view.nil? && @view.has_rights?(ViewRights::UPDATE_VIEW) && !@view.is_snapshotted? -%>
    <li class="edit"><a class="button"
      href="<%= edit_view_rr_path(@view.route_params.merge( defaultRender: 'page' )) %>">Edit Layout</a></li>
    <%- end -%>
    <li><a href="#start" title="<%= t('controls.grid.view_first_row') %>" class="start button">
      <span class="icon"></span>
    </a></li>
    <li><a href="#previous" title="<%= t('controls.grid.view_previous_row') %>" class="previous button">
      <span class="icon"></span>
    </a></li>
    <li class="info">
      <%= t('controls.grid.viewing_row_html') %>
    </li>
    <li><a href="#next" title="<%= t('controls.grid.view_next_row') %>" class="next button">
      <span class="icon"></span>
    </a></li>
    <li><a href="#end" title="<%= t('controls.grid.view_last_row') %>" class="end button">
      <span class="icon"></span>
    </a></li>
  </ul>
</div>
