<div class="gridListWrapper">
  <table class="gridList georegions-table" cellspacing="0">
    <colgroup>
      <col class="name" />
      <col class="status" />
      <%- if allow_actions -%>
      <col class="edit-action" />
      <%- end -%>
    </colgroup>
    <thead>
    <tr>
      <th class="name"><div><%= t("#{prefix}.region_name") %></div></th>
      <th class="status"><div><%= t("#{prefix}.enabled?") %></div></th>
      <%- if allow_actions -%>
      <th class="edit-action"><div><%= t("#{prefix}.actions") %></div></th>
      <%- end -%>
    </tr>
    </thead>
    <tbody>
    <%- georegions.each do |georegion| -%>
      <tr class="item">
        <td class="name"><%= georegion.name %></td>
        <td class="status">
          <span class="<%= georegion.enabled? ? 'status-icon-enabled icon-check' : 'status-icon-disabled icon-failed' %>"></span>
          <span class="row-status-widget-label <%= georegion.enabled? ? 'is-enabled' : 'is-disabled'%>">
            <%=  t(georegion.enabled? ? "#{prefix}.status_enabled" : "#{prefix}.status_disabled") %>
          </span>
          <%- if georegion.enabled? -%>
            <%= form_button(
                  { :action => :disable_georegion, :id => georegion.id }.merge(request.query_parameters),
                  t("#{prefix}.disable"),
                  { :method => :put },
                  { :class => 'button', 'data-action' => 'disable' }) %>
          <%- else -%>
            <%= form_button(
                  { :action => :enable_georegion, :id => georegion.id }.merge(request.query_parameters),
                  t("#{prefix}.enable"),
                  { :method => :put },
                  {
                    :class => ['button', allow_enablement ? nil : 'disabled'].compact.join(' '),
                    'data-action' => 'enable',
                    :disabled => allow_enablement ? nil : 'disabled',
                    :title => (allow_enablement ? nil : t("#{prefix}.enabled_georegions_limit", :limit => limit))
                  }) %>
          <%- end -%>
        </td>
        <%- if allow_actions -%>
        <td class="edit-action">
          <%= form_button(
                { :action => :configure_boundary, :id => georegion.id },
                t("#{prefix}.edit"),
                { :method => :get },
                { :class => 'button', 'data-action' => 'edit' }) %>
        </td>
        <%- end -%>
      </tr>
    <%- end -%>
    <%- jobs.each do |job| -%>
      <tr class="item">
        <td class="name"><%= job['jobParameters']['name'] %></td>
        <td class="status">
          <span class="status-icon-progress icon-processing"></span>
          <span class="row-status-widget-label is-progress">
            <%=  t("#{prefix}.status_progress") %>
            <br>
            <span class="substatus"><%= t("#{prefix}.substatus_progress") %></span>
          </span>
        </td>
        <%- if allow_actions -%>
        <td></td>
        <%- end -%>
      </tr>
    <%- end -%>
    <%- failed_jobs.each do |job| -%>
      <tr class="item">
        <td class="name"><%= job['latest_event']['info']['jobParameters']['name'] %></td>
        <td class="status">
          <span class="status-icon-failed icon-failed"></span>
          <span class="row-status-widget-label is-failed">
            <%=  t("#{prefix}.status_failed") %>
            <br>
            <span class="substatus"><%= t("#{prefix}.substatus_failed_html", code: job['id']) %></span>
          </span>
        </td>
        <%- if allow_actions -%>
        <td></td>
        <%- end -%>
      </tr>
    <%- end -%>
    </tbody>
  </table>
</div>
