<div class="leftNavBox adminNavBox">
  <div class="hideButtonBox">
    <a href="#toggle" class="hideButton close">
      <span class="icon"></span>
    </a>
  </div>
  <ul class="navigationList adminNav">
      <li class="analytics">
        <%= link_to_unless_current \
            raw('<span class="icon"></span>Site Analytics'),
            {:action => 'analytics'} %>
      </li>
    <%- if CurrentDomain.user_can?(current_user, :manage_users) -%>
      <li class="users">
        <%= link_to_unless_current \
            raw('<span class="icon"></span>Users'),
            {:action => 'users'} %>
      </li>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :federations) && module_available?(:federations) -%>
      <li class="federation">
        <%= link_to_unless_current \
            raw('<span class="icon"></span>Federation'),
            {:action => 'federations'} %>
      </li>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :moderate_comments) && module_enabled?(:publisher_comment_moderation) -%>
      <li class="comments">
        <%= link_to_unless_current \
            raw('<span class="icon"></span>Comments'),
            {:action => 'comment_moderation'} %>
      </li>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :approve_nominations) && feature?(:view_moderation) -%>
      <li class="viewmoderation">
        <%= link_to_unless_current \
            raw('<span class="icon"></span>Views'),
            {:action => 'views'} %>
      </li>
    <%- end -%>
      <li class="appearance">
        <%= link_to_unless_current \
            raw('<span class="icon"></span>SDP Templates'),
            {:action => 'sdp_templates'} %>
      </li>
    <%- unless CurrentDomain.module_enabled?(:govStat) -%>
      <%- if CurrentDomain.user_can?(current_user, :edit_pages) && module_available?(:canvas_designer) -%>
        <li class="contentmgmt">
          <%= link_to_unless_current \
              raw('<span class="icon"></span>DataSlate Pages'),
              {:action => 'canvas_pages'} %>
        </li>
      <%- end -%>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :edit_others_datasets) ||
           CurrentDomain.user_can?(current_user, :edit_site_theme) -%>
      <li class="datasets">
        <%= link_to_unless_current \
            raw('<span class="icon"></span>Datasets'),
            {:action => 'datasets'} %>
      </li>
    <%- end -%>
    <%- unless CurrentDomain.module_enabled?(:govStat) -%>
      <%- if CurrentDomain.user_can?(current_user, :manage_stories) ||
              CurrentDomain.user_can?(current_user, :feature_items) ||
              CurrentDomain.user_can?(current_user, :edit_site_theme) -%>
        <li class="homemgmt">
          <%= link_to_unless_current raw('<span class="icon"></span>Home Page'),
              {:action => 'home'} %>
        </li>
      <%- end -%>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :edit_site_theme) -%>
      <li class="metadata">
        <%= link_to_unless_current raw('<span class="icon"></span>Metadata'),
            {:action => 'metadata'} %>
      </li>
    <%- end -%>
    <%- if module_available?(:routing_approval) && current_user.can_approve? -%>
      <li class="routingApproval">
        <%= link_to_unless_current raw('<span class="icon"></span>Dataset Routing &amp; Approval'),
            {:action => 'routing_approval'} %>
      </li>
    <%- end -%>
    <%- if current_user && current_user.is_admin? -%>
      <li class="internal">
        <%= link_to_unless_current \
            raw('<span class="icon"></span>Internal'),
            {:controller => 'internal', :action => 'index'} %>
      </li>
    <%- end -%>
  </ul>
</div>
<%- content_for :js_footer do -%>
  <%= include_javascripts 'admin-collapse-nav' %>
<%- end -%>
