<% content_for(:relocated_content) do %><a name="above-content"></a><% end %>
<div class="leftNavBox adminNavBox">
  <div class="hideButtonBox">
    <a href="#toggle" class="hideButton close">
      <span class="icon"></span>
    </a>
  </div>
  <ul class="navigationList adminNav">
      <li class="analytics">
        <%= admin_nav_link_to 'Site Analytics', :action => 'analytics' %>
      </li>
    <%- if CurrentDomain.user_can?(current_user, :manage_users) -%>
      <li class="users">
        <%= admin_nav_link_to 'Users', :action => 'users' %>
      </li>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :federations) && module_available?(:federations) -%>
      <li class="federation">
        <%= admin_nav_link_to 'Federation', :action => 'federations' %>
      </li>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :moderate_comments) && module_enabled?(:publisher_comment_moderation) -%>
      <li class="comments">
        <%= admin_nav_link_to 'Comments', :action => 'comment_moderation' %>
      </li>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :approve_nominations) && feature?(:view_moderation) -%>
      <li class="viewmoderation">
        <%= admin_nav_link_to 'Views', :action => 'views' %>
      </li>
    <%- end -%>
    <%- if user_can?(current_user, :edit_sdp) -%>
      <li class="appearance">
        <%= admin_nav_link_to 'SDP Templates', :action => 'sdp_templates' %>
      </li>
    <%- end -%>
    <%- unless CurrentDomain.module_enabled?(:govStat) -%>
      <%- if CurrentDomain.user_can?(current_user, :edit_pages) && module_enabled?(:canvas_designer) -%>
        <li class="contentmgmt">
          <%= admin_nav_link_to 'DataSlate Pages', :action => 'canvas_pages' %>
        </li>
      <%- end -%>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :edit_others_datasets) ||
           CurrentDomain.user_can?(current_user, :edit_site_theme) -%>
      <li class="datasets">
        <%= admin_nav_link_to 'Datasets', :action => 'datasets' %>
      </li>
    <%- end -%>
    <%- if can_view_georegions_admin?(current_user) -%>
      <li class="georegions">
        <%= admin_nav_link_to t('screens.admin.georegions.title'), :action => 'georegions' %>
      </li>
    <%- end -%>
    <%- unless CurrentDomain.module_enabled?(:govStat) -%>
      <%- if CurrentDomain.user_can?(current_user, :manage_stories) ||
              CurrentDomain.user_can?(current_user, :feature_items) ||
              CurrentDomain.user_can?(current_user, :edit_site_theme) -%>
        <li class="homemgmt">
          <%= admin_nav_link_to 'Home Page', :action => 'home' %>
        </li>
      <%- end -%>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :edit_site_theme) -%>
      <li class="metadata">
        <%= admin_nav_link_to 'Metadata', :action => 'metadata' %>
      </li>
    <%- end -%>
    <%- if module_enabled?(:routing_approval) && current_user.can_approve? -%>
      <li class="routingApproval">
        <%= admin_nav_link_to 'Dataset Routing &amp; Approval', :action => 'routing_approval' %>
      </li>
    <%- end -%>
    <%- if current_user && current_user.is_admin? -%>
      <li class="internal">
        <%= admin_nav_link_to 'Internal', :controller => 'internal', :action => 'index' %>
      </li>
    <%- end -%>
    <%- if current_user.try(:is_admin?) && feature_flag?('stories_enabled', request) -%>
      <li class="contentmgmt">
        <%= admin_nav_link_to 'Stories', '/stories/admin/themes' %>
      </li>
    <%- end -%>
  </ul>
</div>

<a name="content" tabindex="-1"></a>

<%- content_for :js_footer do -%>
  <%= include_javascripts 'admin-collapse-nav' %>
<%- end -%>
