  <div class="adminHeader routingApproval">
    <span class="icon"></span>
    <h1>Dataset Routing &amp; Approval</h1>

    <ul id='sectionOptions' class="pillButtons">
      <li><a href='<%= routing_approval_administration_path %>'
        <%= active == 'dashboard' ? "class='active'" : '' %>>
        Dashboard
      </a></li>
      <li><a href='<%= routing_approval_administration_path %>/queue'
        <%= active == 'queue' ? "class='active'" : '' %>>
        Approval Queue
      </a></li>
      <%- if CurrentDomain.user_can?(current_user, 'manage_approval') -%>
      <li><a href='<%= routing_approval_administration_path %>/manage'
        <%= active == 'manage' ? "class='active'" : '' %>>
        Approval Management
      </a></li>
      <%- end -%>
    </ul>
  </div>
