<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-analytics-screen' %>
  <%= rendered_stylesheet_tag 'analytics-shared' %>
  <title>Site Analytics - Overview | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <%= link_to t('core.no_js'), '?no_js=true' %>
<% end %>

<%= render :partial => 'left_nav' %>

<div id="analyticsDataContainer" class="overviewMetrics">
  <div class="contentBox withLeftNavigation">
    <div>
      <div class="adminHeader floating analytics clearfix">
        <span class="icon"></span>
        <h1 class="floating">Site Analytics</h1>
        <%= render :partial => 'shared/metrics_timing' %>
        <a href="#Export" rel="external" class="exportMetricsLink" data-exportbase="/api/site_metrics.csv?method=export&">Export</a>
      </div>
    </div>
    <div class="summaryDisplay clearfix container"></div>
  </div>

  <div class="contentBox withLeftNavigation analyticsDataContainer">
    <div class="chartsDisplay container">
      <div class="flash error message errorMessage">
        <h3>An error occurred loading the metrics data. Please try again later.</h3>
      </div>
    </div>
  </div>

  <div class="contentBox withLeftNavigation analyticsDataContainer">
    <div class="detailDisplay clearfix container"></div>

    <div class="topDisplay clearfix container">
      <div class="leftColumn"></div>
      <div class="rightColumn"></div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<% content_for :templates do %>
  <%= render :partial => 'shared/metrics_sections' %>
  <%= render :partial => 'shared/control_templates' %>
<%- end -%>

<% content_for :js_footer do %>
  <%- unless params[:no_js] == 'true' -%>
    <script type="text/javascript">
        blist.configuration.govStatMetricsEnabled = <%= module_enabled?(:govStat) == true %>;
        blist.namespace.fetch('blist.metrics');
        blist.metrics.view_count = <%= @view_count || 'null' %>;
    </script>
    <%= include_javascripts 'shared-metrics' %>
    <%= include_javascripts 'admin-metrics' %>
  <%- end -%>
<% end %>
<%= render_translations LocalePart.screens.stats %>
<%= render_translations LocalePart.plugins.daterangepicker %>
