<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-browse-widget' %>
  <title>Catalog Widget Creation | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <%= link_to t('core.no_js'), '?no_js=true' %>
<% end %>

<%= render :partial => 'left_nav' %>

<div class="contentBox withLeftNavigation browseWidget">
  <div class="publisherHeader headerBar clearfix">
    <span class="icon"></span>
    <h1>Catalog Widget Creation</h1>
    <div class="publisherActions">
      <a href="#refresh" class="preview saveButton button">Refresh Preview</a>
    </div>

    <%= display_standard_flashes %>
    <div class="sidebarOptionsContainer clearfix">
      <ul id="sidebarOptions" class="clearfix">
        <li><a href="#filter" class="filter" data-panename="filter">
          <span class="icon"></span>Filters</a></li>
        <li><a href="#sort" class="advanced" data-panename="advanced">
          <span class="icon"></span>Advanced</a></li>
        <li><a href="#embed" class="embed" data-panename="embed">
          <span class="icon"></span>Embed</a></li>
      </ul>
    </div>
  </div>

  <div class="widgetContent">
    <div class="publisherMain">
      <div class="publisherWorkspace">
        <div class="previewScrollContainer">
          <div class="previewPane lessPadding" style="width: <%= @widget_width %>px">
            <%# Embed code here %>
          </div>
        </div>
        <div class="infoMessage loadingMessage">
          <h2>Loading Catalog Widget...</h2>
        </div>
      </div>
      <div id="gridSidebar">
      </div>
    </div>
  </div>
</div>

<%- content_for :templates do -%>
  <%= render(:partial => 'templates/grid_sidebar') %>
  <div class="embedForm commonForm">
    <label for="form_code" class="formHeader">Embed this Catalog</label>
    <div class="embedCodeWrapper">
      <textarea id="_embed_code" class="htmlCode">
      </textarea>
    </div>
    <div class="formSection sizeSection">
      <label for="widget_width" class="formHeader">Resize your Widget</label>
      <div class="sectionContent">
        <div class="line clearfix">
          <label for="embed_width">Width</label>
          <div class="inputWrapper textWrapper">
            <input class="embedWidthText sizeInput" type="text" value="<%= @widget_width %>" data-valbind="browseWidgetWidth"/>
          </div>
          <div class="errorMessage">
            A minimum width of <span class="minWidthHint"><%= @widget_width %></span> is required
          </div>
        </div>
        <div class="line clearfix">
          <label for="embed_width">Height</label>
          <div class="inputWrapper textWrapper">
            <input class="embedHeightText sizeInput" type="text" value="<%= @widget_height %>" data-valbind="browseWidgetHeight"/>
          </div>
          <div class="errorMessage">
            A minimum height of <span class="minHeightHint"><%= @widget_height %></span> is required
          </div>
        </div>
      </div>
    </div>
  </div>
<%- end -%>

<%- content_for :js_footer do -%>
  <script type="text/javascript">
    blist.namespace.fetch('blist.publish');
    blist.publish.browseWidgetBase   = '<%= @embed_base %>';
    blist.publish.browseWidgetHeight = <%= @widget_height %>;
    blist.publish.browseWidgetWidth  = <%= @widget_width %>;

    blist.publish.currentTheme       = <%= raw json_escape(@embed_options.to_json) %>;
    blist.publish.selectOptions      = <%= raw json_escape(@browse_select_options.to_json) %>;
    blist.publish.customFacets       = <%= safe_json @custom_facets %>;
  </script>
  <%- unless params[:no_js].present? -%>
    <%= include_javascripts 'admin-browse-widget' %>
  <%- end -%>
<%- end -%>
