<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-federation' %>
  <title>Open Data Federation | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<%= render :partial => 'left_nav' %>

<div id="federationContent" class="contentBox withLeftNavigation">
  <div class="adminHeader federation">
    <span class="icon"></span>
    <h1>Open Data Federation</h1>
  </div>

  <%= display_standard_flashes %>

  <div class="searchFields">
    <form class='search domainsSearch' method='get'>
      <label for='domain'>Search for Domains to Publish to</label>
      <input type='text' class='textPrompt searchField' name='domain' id='domain'
        title='Search for Domains to Publish to'<%= " value='#{@search_domain}'" unless @search_domain.nil? %> />
      <input type="submit" class="submit" alt="search" value="Search" />
    </form>

    <%# We don't have a UI for federating individual datasets yet, so this is less than helpful %>
    <%- if false -%>
      <form class='search datasetsSearch' method='get'>
        <label for='dataset'>Search for Published Datasets</label>
        <input type='text' class='textPrompt searchField' name='dataset' id='dataset'
         title='Search for Published Datasets' <%= " value='#{@search_dataset}'" unless @search_dataset.nil? %> />
        <input type="submit" class="submit" alt="search" value="Search" />
      </form>
    <%- end -%>
  </div>

  <%- if (!@search_domain.blank?) && @domains.blank? -%>
    <p class="noAvailableTargets">No available domains match <%= @search_domain %>.</p>
  <%- end -%>

  <%- unless @domains.blank? -%>
   <div class="availableTargetDomains">
     <p class="explanation">The following is a list of domains you may begin data federation with. Once you click publish, an administrator from the target domain must accept your request.</p>
     <%- @domains.each do |d| -%>
      <% form_tag({:action => 'create_federation'}, {:method => 'post', :class => 'newFederationForm'}) do %>
        <label class="domain"><%= d.cname %></label>
        <%= hidden_field_tag('new_federation[target_domain]', d.cname) %>
        <%= submit_tag 'Publish', :class => 'button' %>
      <% end %>
     <%- end -%>
   </div>
  <%- end -%>

  <%- unless @federations.blank? -%>
    <div class="gridListWrapper">
      <table class="gridList federationList" cellspacing="0">
        <colgroup>
          <col class="source" />
          <col class="target" />
          <col class="dataset" />
          <col class="acceptedBy" />
          <col class="status" />
          <col class="delete" />
        </colgroup>
        <thead>
          <tr>
            <th class="source"><div>Source Domain</div><span class="icon"></span></th>
            <th class="target"><div>Target Domain</div><span class="icon"></span></th>
            <th class="dataset"><div>Dataset</div><span class="icon"></span></th>
            <th class="acceptedBy"><div>Accepted By</div><span class="icon"></span></th>
            <th class="status"><div>Status</div><span class="icon"></span></th>
            <th class="delete"><div>Terminate</div><span class="icon"></span></th>
          </tr>
        </thead>
        <tbody>
          <%- @federations.each do |f| -%>
            <tr class="item">
              <td class="source">
                <span class="cellInner"><%= f.sourceDomainCName %></span>
              </td>
              <td class="target">
                <span class="cellInner"><%= f.targetDomainCName %></span>
              </td>
              <td class="dataset">
                <%- if f.lensId.nil? %>
                  <em>(all)</em>
                <%- else -%>
                  <span class="cellInner"><%= f.lensName %></span>
                <%- end -%>
              </td>
              <td class="acceptedBy">
                <%- if !f.acceptedUserId.nil?%>
                  <div class="cellInner"><%= f.acceptorScreenName %></div>
                <%- end -%>
              </td>
              <td class="status">
                <span class="loading"></span>
                <%- accepted = f.acceptedUserId.present? -%>
                <span class="cellInner"><%= accepted ? 'Accepted' : 'Pending' %></span>
                <%- if f.targetDomainCName == CurrentDomain.cname %>
                  <% form_button({:action => :accept_federation, :id => f.id}, 'Accept',
                       {}, {:class => 'button' + (accepted ? ' disabled' : '')}) %>
                  <% form_button({:action => :reject_federation, :id => f.id}, 'Reject',
                       {:method => :delete}, {:class => 'button' + (accepted ? '' : ' disabled')}) %>
                <%- end -%>
              </td>
              <td class="delete">
                <% form_button({:action => :delete_federation, :id => f.id}, 'Terminate',
                     {:method => :delete}) %>
              </td>
            </tr>
          <%- end -%>
        </tbody>

      </table>
    </div>
  <%- else -%>
    <p class="noFederations">
      <%- if @search_dataset.present? -%>
        No published datasets match your search criteria.
      <%- else -%>
        No federations exist for this domain yet.
      <%- end -%>
    </p>
  <%- end -%>


</div>

<%- content_for :js_footer do -%>
  <%- unless params[:no_js].present? -%>

  <%= include_javascripts 'admin-federation' %>
  <%- end -%>
<%- end -%>
