<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-home' %>
  <title>Manage Home Page | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <a href="?no_js=true">Disable Javascript on this page</a>
<% end %>

<%= render :partial => 'left_nav' %>

<div class="contentBox withLeftNavigation homeManagement">
  <div class="adminHeader homemgmt">
    <span class="icon"></span>
    <h1>Manage Home Page</h1>
  </div>
</div>

<%- if CurrentDomain.user_can?(current_user, 'manage_stories') -%>
<div class="contentBox withLeftNavigation">
  <a href="home/story/new" class="button newButton newStoryButton rightArrow">Create a New Story<span class="icon"></span></a>
  <h2>Manage Story Content</h2>

  <%= display_standard_flashes %>

  <div class="gridListWrapper">
    <table class="gridList storiesList" cellspacing="0">
      <colgroup>
        <col class="image" />
        <col class="contents" />
        <col class="date" />
        <col class="actions" />
      </colgroup>
      <thead>
        <tr>
          <th class="image"><div>Image</div></th>
          <th class="contents"><div>Contents</div><span class="icon"></span></th>
          <th class="date"><div>Date Published</div><span class="icon"></span></th>
          <th class="actions"><div></div></th>
        </tr>
      </thead>
      <tbody>
        <%- @stories.each_with_index do |story, index| -%>
          <tr>
            <td class="image">
              <div class="imagePreview"><div class="imagePreviewWrapper">
                <img src="/assets/<%= story.imageId %>" alt="<%= story.headline %>"/>
              </div></div>
            </td>
            <td class="contents">
              <div class="storyTitle"><span class="cellInner"><%= raw story.headline %></span></div>
              <p class="storyBody"><%= raw story.story %></p>
            </td>
            <td class="date">
              <span class="cellDisplay"><%= Time.at(story.createdAt).strftime('%Y/%m/%d %I:%M%p') %></span>
              <span class="cellInner"><%= story.createdAt %></span>
            </td>
            <td class="actions">
              <span class="loading"></span>
              <a href="home/story/<%= story.id %>" class="editStoryButton button">
                <span class="icon"></span>Edit
              </a>
              <%- if index > 0 -%>
                <% form_button({:action => 'move_story', :id => story.id, :other => @stories[index-1].id},
                               'Up', {:method => :put}) %>
              <%- end -%>
              <%- if index < @stories.length-1 %>
                <% form_button({:action => 'move_story', :id => @stories[index+1].id, :other => story.id},
                               'Down', {:method => :put}) %>
              <%- end -%>
              <% form_button({:action => 'delete_story', :id => story.id}, 'Delete',
                             {:method => :delete}, {:class => 'deleteStoryButton button'}) %>
            </td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
</div>

<div class="contentBox withLeftNavigation">
  <a href="home/stories/appearance" class="button newButton storyAppearanceButton rightArrow">Customize Now<span class="icon"></span></a>
  <h2>Customize Story Appearance</h2>
</div>
<%- end -%>

<%- if CurrentDomain.user_can?(current_user, 'feature_items') -%>
  <div class="contentBox withLeftNavigation">
    <a href="#saveFeatures" class="button newButton saveFeaturesButton rightArrow">Save Now<span class="icon"></span></a>
    <a href="#newFeature" class="button newButton newFeatureButton add">Add a New Featured Dataset<span class="icon"></span></a>
    <span class="newFeatureMessage">Only four datasets may be featured at a time.</span>
    <h2>Manage Featured Datasets</h2>
    <div class="featuresWorkspace clearfix"></div>
  </div>

  <%- content_for :js_footer do -%>
    <script type="text/javascript">
      blist.namespace.fetch('blist.home');
      blist.home.features = <%= raw @features.to_json %>;
    </script>
  <%- end -%>

<%- end -%>

<%- if CurrentDomain.user_can?(current_user, 'edit_site_theme') -%>
<%- view_type = (!@catalog_config.nil? ?
  @catalog_config.properties.default_view_type : nil) || 'table' -%>
<div class="contentBox withLeftNavigation layoutConfig">
  <h2>Catalog Layout Configuration</h2>
  <%= form_tag({:action => 'modify_catalog_config'}, {:method => 'post',
    :class => 'commonForm'}) %>
    <div class="line">
      <span class="mainLabel">Default Catalog Layout</span>
      <div class="valueBox">
        <input type="radio" id="catalogViewType_table"
          name="catalog[default_view_type]" value="table"
          <%= view_type == 'table' ? 'checked="checked"' : '' %> />
        <label for="catalogViewType_table">Compact List</label>
      </div>
      <div class="valueBox">
        <input type="radio" id="catalogViewType_rich"
          name="catalog[default_view_type]" value="rich"
          <%= view_type == 'rich' ? 'checked="checked"' : '' %> />
        <label for="catalogViewType_rich">Rich List</label>
      </div>
      <span class="saving statusText">Saving</span>
      <span class="saved statusText">Saved</span>
    </div>
    <input type="submit" value="Save" />
  </form>
</div>
<%- end -%>

<%- content_for :templates do -%>
  <div class="feature">
    <div class="featureWrapper">
      <a href="#left" class="featureSwapButton leftArrow" title="Move Left"><span class="icon">Left</span></a>
      <a href="#right" class="featureSwapButton rightArrow" title="Move Right"><span class="icon">Right</span></a>
      <div class="featureBox">
        <a href="#remove" class="featureRemoveButton close" title="Remove"><span class="icon">Remove</span></a>
        <div class="featureInnerWrapper">
          <input type="text" class="featureHeadline"/>

          <div class="featureContentSection">
            <div class="line">
              <input type="radio" name="featureContent"
                     class="featureContentRadio" value="thumbnail" />
              <label for="featureContentThumbnail">Thumbnail</label>
            </div>
            <div class="featureContentThumbnailSection featureContentType">
              <img src="" alt="feature image"/>
              <a class="editThumbnailButton editImageButton" href="#editThumbnail">Edit</a>
            </div>

            <div class="line">
              <input type="radio" name="featureContent"
                     class="featureContentRadio" value="custom" />
              <label for="featureContentCustom">Custom Image</label>
            </div>
            <div class="featureContentCustomSection featureContentType">
              <span class="throbber"></span>
              <input type="hidden" class="featureContentImageSha" />
              <div class="customImageContainer">
                <img src="" alt="custom image" />
                <a class="editCustomImageButton editImageButton" href="#editCustomImage">Edit</a>
              </div>
              <div class="customImageError flash error">Invalid file type. Please choose an image file</div>
            </div>

            <div class="line">
              <input type="radio" name="featureContent"
                     class="featureContentRadio" value="text" />
              <label for="featureContentText">Text</label>
            </div>
            <div class="featureContentTextSection featureContentType">
              <input type="text" class="featureContentTextHeadline"/>
              <input type="text" class="featureContentTextSubtitle"/>
            </div>
          </div>

          <textarea class="featureDescription"></textarea>
        </div>
      </div>
    </div>
  </div>
<%- end -%>

<%- content_for :modals do -%>
  <div id="selectDataset" class="modalDialog">
    <a href="#close" class="jqmClose modalDialogClose">Close</a>
    <h2>Choose a Dataset to feature</h2>
    <iframe src="select_dataset" frameBorder="0"></iframe>
  </div>
  <div id="setThumbnail" class="modalDialog">
    <a href="#close" class="jqmClose modalDialogClose">Close</a>
    <h2>Set a Thumbnail</h2>
    <iframe frameBorder="0"></iframe>
  </div>
<%- end -%>

<%- content_for :js_footer do -%>
  <%- unless params[:no_js].present? -%>
    <%= include_javascripts 'admin-home' %>
  <%- end -%>
<%- end -%>
