<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-index-screen' %>
  <title>Administration | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<%= render :partial => 'left_nav' %>

<div class="contentBox withLeftNavigation">
  <%= display_standard_flashes %>

  <ul class="adminList">
      <li class="analytics">
        <%= link_to raw('<span class="icon"></span>Site Analytics'),
            {:action => 'analytics'} %>
        <span class="description">
          View sitewide statistics for datasets, views, visitors and more
        </span>
      </li>
    <%- if CurrentDomain.user_can?(current_user, :manage_users) -%>
      <li class="users">
        <%= link_to raw('<span class="icon"></span>Users'), {:action => 'users'} %>
        <span class="description">
          Manage users on your site and what permissions and abilities they have
        </span>
      </li>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :federations) && module_enabled?(:federations) -%>
      <li class="federation">
        <%= link_to raw('<span class="icon"></span>Federation'),
            {:action => 'federations'} %>
        <span class="description">
          Manage connections and data sharing with other sites via Open Data
          Federation Services
        </span>
      </li>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :moderate_comments) && module_enabled?(:publisher_comment_moderation) -%>
      <li class="comments">
        <%= link_to raw('<span class="icon"></span>Comment Moderation'),
            {:action => 'comment_moderation'} %>
        <span class="description">
          Review and moderate comments for datasets on your site
        </span>
      </li>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :approve_nominations) && feature?(:view_moderation) -%>
      <li class="viewmoderation">
        <%= link_to \
            raw('<span class="icon"></span>View Moderation'),
            {:action => 'views'} %>
          <span class="description">
            View and manage user-created views, including filters, charts, and maps. Approve a view to have it show up in your data catalog.
          </span>
      </li>
    <%- end -%>
      <li class="appearance">
        <%= link_to raw('<span class="icon"></span>SDP Templates'),
            {:action => 'sdp_templates'} %>
        <span class="description">
          Manage and customize the templates used for publishing your data via Socrata Data Players
        </span>
      </li>
    <%- if CurrentDomain.user_can?(current_user, :edit_pages) && module_enabled?(:canvas_designer) -%>
      <li class="contentmgmt">
        <%= link_to raw('<span class="icon"></span>DataSlate Pages'),
            {:action => 'canvas_pages'} %>
        <span class="description">
          List and manage the DataSlate pages on this domain
        </span>
      </li>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :edit_others_datasets) ||
            CurrentDomain.user_can?(current_user, :edit_site_theme) -%>
      <li class="datasets">
        <%= link_to raw('<span class="icon"></span>Datasets'),
            {:action => 'datasets'} %>
        <span class="description">
          List the datasets on this domain and configure the layout of the dataset page
        </span>
      </li>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :manage_stories) ||
            CurrentDomain.user_can?(current_user, :feature_items) ||
            CurrentDomain.user_can?(current_user, :edit_site_theme) -%>
      <li class="homemgmt">
        <%= link_to raw('<span class="icon"></span>Home Page'),
            {:action => 'home'} %>
        <span class="description">
          Configure what content is featured on the home page
        </span>
      </li>
    <%- end -%>
    <%- if CurrentDomain.user_can?(current_user, :edit_site_theme) -%>
      <li class="metadata">
        <%= link_to raw('<span class="icon"></span>Metadata'),
            {:action => 'metadata'} %>
        <span class="description">
          Manage the dataset metadata fields, including categories and custom fields
        </span>
      </li>
    <%- end -%>
    <%- if module_enabled?(:routing_approval) && current_user.can_approve? -%>
      <li class="routingApproval">
        <%= link_to raw('<span class="icon"></span>Dataset Routing &amp; Approval'),
            {:action => 'routing_approval'} %>
        <span class="description">
          Review datasets that are in the approval process, and manage the steps of the approval process
        </span>
      </li>
    <%- end -%>
    <%- if current_user && current_user.is_admin? -%>
      <li class="internal">
        <%= link_to raw('<span class="icon"></span>Internal'),
            {:controller => 'internal', :action => 'index'} %>
        <span class="description">
          Change and add modules, sites, and more
        </span>
      </li>
    <%- end -%>
  </ul>
</div>
