<%- jobs_prefix = 'screens.admin.jobs' %>
<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-jobs' %>
  <title><%= t("#{jobs_prefix}.index_page.title") %> | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <%= link_to t('core.no_js'), '?no_js=true' %>
<% end %>

<%= render :partial => 'left_nav' %>

<%= include_webpack_bundle 'admin-jobs.js' %>

<div class="contentBox withLeftNavigation jobsScreen">
  <div class="adminHeader floating jobs">
    <span class="icon"></span>
    <h1><%= t("#{jobs_prefix}.index_page.page_title") %></h1>
  </div>
</div>

<div class="contentBox withLeftNavigation jobsScreen">
  <%= display_standard_flashes %>

  <table class="gridList">
    <thead>
      <tr>
        <th><%= t("#{jobs_prefix}.index_page.action") %></th>
        <th><%= t("#{jobs_prefix}.index_page.dataset") %></th>
        <th><%= t("#{jobs_prefix}.index_page.initiated_by") %></th>
        <th><%= t("#{jobs_prefix}.index_page.started") %></th>
        <th><%= t("#{jobs_prefix}.index_page.status") %></th>
      </tr>
    </thead>
    <tbody>
      <%- @activities.each do |activity| %>
        <tr class="job-row">
          <td><%= t("#{jobs_prefix}.actions.#{activity.activity_type}") %></td>
          <td>
            <% if activity.dataset.nil? %>
              (<%= t("#{jobs_prefix}.index_page.deleted_dataset") %>)
            <% else %>
              <%= link_to activity.dataset.name, view_path(activity.dataset) %>
            <% end %>
            <% if activity.had_working_copy? %>
              <% working_copy = activity.working_copy %>
              <p class="working-copy-annotation">
                <%= t("#{jobs_prefix}.index_page.to_working_copy") %>
              <% if working_copy && working_copy.is_unpublished? %>
                <%= link_to(activity.working_copy_id, view_path(working_copy)) %>
              <% else %>
                <%= activity.working_copy_display %>
              <% end %>
              </p>
            <% end %>
          </td>
          <td nowrap>
            <% if activity.initiated_by.nil? %>
              <%= "(#{t("#{jobs_prefix}.index_page.deleted_user")})" %>
            <% else %>
              <%= link_to activity.initiated_by.displayName, profile_path(activity.initiated_by) %>
            <% end %>
          </td>
          <td nowrap>
            <span class="started-time" data-epoch-seconds="<%= activity.created_at.to_i %>">
              <%= activity.created_at.strftime('%H:%M:%S') %>
            </span>
            <span class="started-time-relative-day">
              <%= activity.created_at.strftime('%d %b %Y') %>
            </span>
          </td>
          <td class="import-status-label" nowrap>
            <span class="import-status-icon import-status-icon-<%= activity.status.dasherize %> icon-<%= icon_for_status(activity.status) %>"></span>
            <% if activity.status == 'success_with_data_errors' %>
              <%= link_to t("#{jobs_prefix}.statuses.success"),
                          :action => 'show_job', :id => activity.id %>
              <div class="with-problems"><%= t("#{jobs_prefix}.index_page.with_problems") %></div>
            <% elsif activity.status == 'failure' %>
              <%= link_to t("#{jobs_prefix}.statuses.#{activity.status}"),
                          :action => 'show_job', :id => activity.id %>
            <% else %>
              <%= t("#{jobs_prefix}.statuses.#{activity.status}") %>
            <% end %>
          </td>
        </tr>
      <%- end %>
    </tbody>
  </table>
  <% if @activities.blank? %>
    <p class="end-message">
      <%= t("#{jobs_prefix}.index_page.no_jobs") %>
    </p>
  <% end %>
</div>

<div class="pager">
  <% @pager_elements.each do |element| %>
    <% if element.page? %>
      <%= link_to(element.index, "/admin/jobs?page=#{element.index}",
                  :class => 'pager-element page ' + (element.selected ? 'pager-page-selected' : '')) %>
    <% else %>
      <span class="pager-element ellipsis">…</span>
    <% end %>
  <% end %>
</div>

<%= render_admin_userzoom %>
