<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-routing-approval' %>
  <title>Dataset Routing &amp; Approval | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <%= link_to t('core.no_js'), '?no_js=true' %>
<% end %>

<%= render :partial => 'left_nav' %>

<div id="routingApprovalContent" class="contentBox withLeftNavigation">
  <%= render :partial => 'routing_approval_header',
        :locals => {:active => 'dashboard'} %>

  <%= display_standard_flashes %>

  <div id="routingApprovalDashboard">
    <%- if !@approval_template.nil? -%>
    <%- if @appr_count > 0 -%>
    <div class="banner clearfix">
      <a href="<%= routing_approval_queue_path %>" class="button">Take Action</a>
      <p>You have <strong><%= @appr_count %></strong> <%= @appr_count > 1 ?
        'datasets' : 'dataset' %> that require<%= @appr_count == 1 ? 's' : '' %> action.</p>
    </div>
    <%- end -%>

    <div class="pipeline report loading hide">
      <h3>Pipeline Report</h3>
      <ul class="content">
      </ul>
      <span class="spinner"></span>
    </div>

    <div class="ageReport report loading hide">
      <h3>Age by Stage Report</h3>
      <table class="gridList content">
        <colgroup>
          <col class="stage" />
          <col class="count" />
          <col class="average" />
        </colgroup>
        <thead>
          <tr>
            <th class="stage" scope="col">Stage</th>
            <th class="count" scope="col">Count</th>
            <th class="average" scope="col">Average Age</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <span class="spinner"></span>
    </div>

    <div class="agingReport report loading hide">
      <h3>Stage Breakdown Report</h3>
      <table class="gridList content">
        <colgroup>
          <col class="stage" />
        </colgroup>
        <thead>
          <tr>
            <th class="stage">Stage</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <span class="spinner"></span>
    </div>

    <div class="stuckReport report">
      <h3>Stuck Datasets</h3>
      <table class="gridList">
        <colgroup>
          <col class="name" />
          <col class="stage" />
          <col class="inactive" />
        </colgroup>
        <thead>
          <tr>
            <th class="name">Dataset</th>
            <th class="stage">Stage</th>
            <th class="inactive">Inactive</th>
          </tr>
        </thead>
        <tbody>
          <%- @stuck_results.each do |v| -%>
          <tr>
            <td class="name">
              <span class="icon"></span><a href="<%= view_path(v) %>"><%= v.name %></a>
            </td>
            <td class="stage">
              <%= render :partial => 'datasets/stage_icon',
                :locals => {:view => v, :approval => @approval_template} %>
            </td>
            <td class="inactive">
              <%= pluralize(((Time.now - Time.at(v.last_approval_date)) / 1.day).to_i, 'day') %>
            </td>
          </tr>
          <%- end -%>
        </tbody>
      </table>
      <%- if @stuck_count > 5 -%>
        <a href="<%= routing_approval_queue_path(show_stuck: true) %>" class="moreStuck">Show More</a>
      <%- end -%>
    </div>

    <%- else -%>
    <h3 class="unconfiguredMessage">Dataset Routing &amp; Approval is not configured</h3>
    <%- end -%>

  </div>
</div>

<%= admin_user_zoom %>

<% content_for :templates do %>
<ul class="pipelineItem">
  <li class="clearfix">
  <div class="label"><span></span></div>
  <div class="barContainer">
    <span class="bar"></span>
    <span class="count"></span>
  </div>
  </li>
</ul>

<table class="ageItem">
  <tr>
    <td class="stage" scope="row">
      <div class="icon"></div>
      <span class="name"></span>
    </td>
    <td class="count"></td>
    <td class="average"></td>
  </tr>
</table>

<table class="agingItem">
  <tr>
    <td class="stage" scope="row">
      <div class="icon"></div>
      <span class="name"></span>
    </td>
  </tr>
</table>
<% end %>

<%- content_for :js_footer do -%>
  <%- unless params[:no_js] == 'true' -%>
    <script type="text/javascript">
      $(function()
      {
         var raNS = blist.namespace.fetch('blist.routingApproval');
         raNS.approvalTemplate = new Approval(<%= safe_json(@approval_template) %>);
      });
    </script>
    <%= include_javascripts 'admin-routing-approval' %>
  <%- end -%>
<%- end -%>
