<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-sdp-templates' %>
  <title>Social Data Player Templates | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <%= link_to t('core.no_js'), '?no_js=true' %>
<% end %>

<%= render :partial => 'left_nav' %>

<div class="contentBox withLeftNavigation">
  <div class="adminHeader appearance">
    <a href="#new" class="newTemplateButton button">Create a New Template</a>
    <span class="icon"></span>
    <h1>Social Data Player Templates</h1>
  </div>

  <%= display_standard_flashes %>

  <div class="gridListWrapper">
    <table class="gridList templatesList" cellspacing="0">
      <colgroup>
        <col class="name" />
        <col class="preview" />
        <col class="actions" />
      </colgroup>
      <thead>
        <tr>
          <th class="name" scope="col"><div>Name</div><span class="icon"></span></th>
          <th class="preview" scope="col"><div>Preview</div></th>
          <th class="actions" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <%- @templates.sort{ |a, b| a.name.downcase <=> b.name.downcase }.each do |template| -%>
          <tr data-templateid="<%= template.uid %>">
            <td class="name" scope="row"><span class="cellInner"><%= template.name %></span></td>
            <td class="preview">
              <div class="previewOuter">
                <div class="loadingOverlay">
                  <div class="loadingBackground"></div>
                  <div class="loadingMessage"><span class="icon"></span>Loading...</div>
                </div>
                <div class="previewLogo"></div>
                <div class="previewSubheader"></div>
                <div class="previewGrid">
                  <div class="previewGridZebra"></div>
                </div>
                <div class="previewNotAvailable">
                  <p>This template is outdated and cannot be displayed.</p>
                </div>
              </div>
            </td>
            <td class="actions<%= ' isDefault' if (template.uid == @default_template_id) %>">
              <span class="defaultText">Current Default</span>
              <span class="loading"></span>
              <%= form_button({ :action => 'sdp_set_default_template', :id => template.uid}, 'Make Default',
                   {:method => :put}, {:class => 'button makeDefaultButton'}) %>
              <%= form_button({ :action => 'sdp_delete_template', :id => template.uid}, 'Delete',
                             {:method => :delete}, {:class => 'button deleteTemplateButton' +
                               (template.uid == @default_template_id ? ' disabled' : '')}) %>
              <a href="sdp_templates/<%= template.uid %>" class="button">
                <span class="icon"></span>Edit
              </a>
            </td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>

  <%- if @templates.empty? -%>
    <p class="noResultsMessage">You don't appear to have any templates yet.</p>
  <%- end -%>
</div>

<% content_for :modals do %>
  <%= render :partial => 'widgets/new_sdp_template' %>
<% end %>

<% content_for :js_footer do %>
  <%- unless params[:no_js].present? -%>
    <script type="text/javascript">
      blist.namespace.fetch('blist.sdpTemplates');

      blist.sdpTemplates.templates = <%= raw json_escape(@templates.to_json) %>;
    </script>

    <%= include_javascripts 'admin-sdp-templates' %>
  <%- end -%>
<% end %>
