<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-tos' %>
  <title>Terms of Use | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<%= render :partial => 'left_nav' %>

<div class="termsOfService">
  <div class="contentBox withLeftNavigation">
      <div class="adminHeader floating users clearfix">
        <span class="icon"></span>
        <h1 class="floating">Terms of Use</h1>
      </div>
  </div>

  <div class="contentBox withLeftNavigation commonForm">
    <%= display_standard_flashes %>

    <div class="termsText">
      <%= raw @tos %>
    </div>

    <%= form_tag :action => :tos %>
      <div class="submitLine">
        <%= submit_tag 'Submit', :class => 'button default' %>
        <%= check_box_tag 'terms_accepted' %>
        <label for="terms_accepted">I agree to the above terms of use</label>
      </div>
    </form>
  </div>

</div>
