<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-analytics-screen' %>
  <%= stylesheet_link_merged 'analytics-shared' %>
  <title>Manage Users | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <a href="?no_js=true">Disable Javascript on this page</a>
<% end %>

<%= render :partial => 'left_nav' %>

<div class="contentBox" id="adminContent">
  <h1>Manage Users</h1>

  <%= display_standard_flashes %>

  <p class='information'>
    <%- if @user_search_results.nil? -%>
      To modify user privileges on this domain,
        search for them below or choose from the list of currently privileged users below.
    <%- else -%>
      <%= link_to 'Return to users overview', :action => 'users' %>
    <%- end -%>
  </p>
  <form class='search usersFind' action='<%= url_for :action => 'users' %>' method='get'>
    <label for='username'>Search for users to add</label>
    <input type='text' class='textPrompt searchField prompt' name='username' id='username'
     title='Search for users to add' <%= " value='#{@search}'" unless @search.nil? %> />
    <input type="submit" class="submit" alt="search" value="Search" />
  </form>

  <div class='adminUsersTable'>
  <%- if @user_search_results.nil? -%>
    <h2>Current Privileged Users</h2>
    <%- users_list = @admins -%>
  <%- elsif @user_search_results.empty?-%>
    <p>No users found.</p>
  <%- else %>
    <h2>Search Results for '<%= @search %>'</h2>
    <%- users_list = @user_search_results -%>
  <%- end -%>

  <%- unless users_list.nil? -%>
    <table>
    <%- users_list.each do |user| -%>
      <tr class="<%= cycle('even', 'odd') %>">
      <td class='text'><%= user.displayName %></td>
      <td class='text'><%= user.email %></td>
      <td class='userRolesCell'>
        <%= form_tag({:action => 'users'}, {:method => 'post'}) %>
          <input type="hidden" name="userid" class="hiddenID" value="<%= user.id %>" />
          <%= raw(select_for_role("userSelect-#{user.id}", 'role', user.roleName, 'roleSelect')) %>
          <input type='submit' class='userSaveButton' value='Save' />
          <span class='statusMessage'></span>
          <span class='errorMessage'></span>
        </form>
      </td>
    <%- end -%>
    </table>
  <%- end -%>
  </div>

  <div class='rolesExplanation'>
    <h2>Roles</h2>
    <ul>
    <%- @roles_list.each do |role| -%>
      <li><span class='roleTitle'><%= role[0] %></span> &mdash; <%= role[1] %>
    <%- end -%>
    </ul>
  </div>
</div>

<% content_for :js_footer do %>
  <%- unless params[:no_js] == 'true' -%>
    <%= javascript_include_merged 'admin-users' %>
  <%- end -%>
<% end %>
