<% content_for :head do %>
<%= stylesheet_link_merged 'admin-shared' %>
<%= stylesheet_link_merged 'admin-federation' %>
<title>Federations Panel | <%= CurrentDomain.strings.site_title %></title>
<% end %>


<div id="publishContent" class="oneColumnContainer tabContainer">
  <%= render :partial => 'tabs', :locals => {:active => 'federations'} %>
  <div class="fullPageContentContainer fullPageWithTabs">
    <div class="fullPageOuterContent">
      <div class="fullPageContent">
        <div class='outerContent'>
          <div class='contentTR'><div class='contentTL'></div></div>
          <div class='content' id='adminContent'>
            <h3>Open Data Federation</h3>

<div class='explanation'>
<p>Creating federation is a two step process:</p>
<p>- An admin signs in to the source domain and publish the source domain to a target domain.</p>
<p>- An admin signs in to the target domain and accepts the federation.</p>
</div>

<br/><br/>

<table class="federationSearch">
  <tr><td>
  <form class="search" action="/admin/federations">
      <p>
        <input type="text" class="searchField textPrompt" title="Search for Domains to Publish" name="domain"
          value="<%= @search_domain %>"/>
        <input type="image" alt="search" src="/stylesheets/images/common/empty.gif" name="searchDomainSubmit" class="submit"/>
      </p>
   </form>
      </td>
      <td>
   <form class="search" action="/admin/federations">
      <p>
        <input type="text" class="searchField textPrompt" title="Search for Published Datasets" name="dataset"
               value="<%= @search_dataset %>"/>
        <input type="image" alt="search" src="/stylesheets/images/common/empty.gif" name="searchDatasetFederationSubmit" class="submit"/>
      </p>
   </form>
  </td></tr>
</table>

<%- if (!@search_domain.blank?) && @domains.blank? && @added.blank? -%>
<p>No available domains match <%=@search_domain%>.</p>
<%- end -%>

<%- unless @domains.nil? -%>
 <div class="availableTargetDomains">
   <%- @domains.each do |d| -%>
   <div>
      <span class="domain"><%= d.cname %></span>
      <span>
          <% form_tag('/admin/federations/create', :method => 'put', :id => "newFederationForm") do %>
          <%= hidden_field_tag('new_federation[target_domain]', d.cname) %>
          <ul class="actionButtons"><li>
            <a class="button publishDomainSubmit" href="#">Publish</a>
          </li></ul>
          <% end %>
      </span>
      <span class="errorMessage"></span>
   </div>
   <%- end -%>
 </div>
<%- end -%>


<%- unless @federations.nil? -%>

<div class="widgetTable" id="widgetTableList">
  <div class="widgetTable-headerRow">
    <div class="widgetTable-cell widgetTable-domainColumn">Source Domain</div>
    <div class="widgetTable-cell widgetTable-domainColumn">Target Domain</div>
    <div class="widgetTable-cell widgetTable-lensColumn">Dataset</div>
    <div class="widgetTable-cell widgetTable-acceptedByColumn">Accepted by</div>
    <div class="widgetTable-cell widgetTable-acceptRejectColumn">Accept / Reject</div>
    <div class="widgetTable-cell widgetTable-deleteColumn">Delete</div>
  </div>
  <div class="widgetTable-body">
    <%- @federations.each do |f| -%>
    <div class="widgetTable-row">
      <div class="widgetTable-cell widgetTable-domainColumn">
        <%= f.sourceDomainCName %>
      </div>
      <div class="widgetTable-cell widgetTable-domainColumn">
        <%= f.targetDomainCName %>
      </div>
      <div class="widgetTable-cell widgetTable-lensColumn">
        <%- if f.lensId.nil?%>
          - all -
        <%- else -%>
          <%= f.lensName %>
        <%- end -%>
      </div>
      <div class="widgetTable-cell widgetTable-acceptedByColumn">
        <%- if !f.acceptedUserId.nil?%>
          <%= f.acceptorScreenName %>
        <%- end -%>
      </div>
      <div class="widgetTable-cell widgetTable-acceptRejectColumn">
        <%- if f.targetDomainCName == CurrentDomain.cname %>
           <ul class="actionButtons"><li>
          <%- if f.acceptedUserId.nil? %>
              <a class="button" href="<%=  "/admin/federations/#{f.id}/accept" %>">Accept</a>
          <%- else -%>
              <a class="button" href="<%=  "/admin/federations/#{f.id}/reject" %>">Reject</a>
          <%- end -%>
          </li></ul>
        <%- end -%>
      </div>
      <div class="widgetTable-cell widgetTable-deleteColumn">
          <p class="deleteLinkP">
            <%= link_to('', "/admin/federations/#{f.id}/delete" , :class => 'deleteLink') %>
          </p>
      </div>
    </div>
    <%- end -%>
  </div>
</div>

<%- end -%>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<% content_for :js_footer do %>
  <%= javascript_include_merged 'shared-common-all' %>
  <%= javascript_include_merged 'admin-federations' %>
<% end %>
