<% content_for :head do %>
<%= stylesheet_link_merged 'admin-shared' %>
<title>Administration Panel | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div id="publishContent" class="oneColumnContainer tabContainer">
  <%= render :partial => 'tabs', :locals => {:active => 'index'} %>
  <div class="fullPageContentContainer fullPageWithTabs">
    <div class="fullPageOuterContent">
      <div class="fullPageContent">
        <div class='outerContent'>
          <div class='contentTR'><div class='contentTL'></div></div>
          <div class='content' id='adminContent'>
            <h1>Site Administration</h1>

            <div class='explanation'>
              <p>From these pages, you can configure and customize your <%= CurrentDomain.strings.company %> data site.<p>
              <%- if CurrentDomain.admin?(current_user) -%>
                <p> To view and modify who has access to these features, click the <%= link_to 'users', :action => :users %> tab above.</p>
                <p>To configure the functionality of your site, click the <%= link_to 'configuration', :action => :config %> tab.</p>
              <%- end -%>
              <%- if CurrentDomain.publisher?(current_user) -%>
              <!-- <p>To control the site's appearance, click the <%= link_to 'theme', :action => :theme %> tab.</p> -->
              <%- end -%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
