<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <title><%= t('screens.admin.jobs.index_page.title') %> | <%= get_site_title %></title>
  <%= render_admin_session_data %>
  <%= render_admin_server_config %>
  <%= render_admin_activity_feed_initial_data %>
<% end %>

<% translations_for('shared.components.filter_bar', 'screens.admin.jobs') %>
<% content_for :translations do %>
  <%= render_translations(LocalePart.plugins.daterangepicker) %>
  <%= render_translations(LocalePart.table) %>
<% end %>

<% admin_breadcrumb('screens.admin.jobs.index_page.title') %>

<% content_for :admin_header do %>
  <div id="activity-feed-header"></div>
<% end %>

<div
  id="app"
  data-alert-type="<%= (@alert || {}).fetch(:type, nil) %>"
  data-alert-translation-key="<%= (@alert || {}).fetch(:translation_key, nil) %>">
</div>

<%= include_webpack_bundle 'shared/adminActivityFeed' %>
