<% content_for :head do %>
    <%= render_feature_flags_for_javascript %>
    <link rel="stylesheet" href="/stylesheets/socrata-components/css/styleguide.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css" />
    <%= rendered_stylesheet_tag 'administration-screen' %>
    <title><%= t("#{activity_feed_prefix}.index_page.title") %> | <%= get_site_title %></title>
    <%= render_admin_session_data %>
    <%= render_admin_server_config %>
    <%= render_admin_activity_feed_initial_data %>
    <%= render_mixpanel_config %>
<% end %>

<% content_for :translations do %>
  <%= render_translations LocalePart.screens.admin.jobs %>
  <%= render_translations LocalePart.plugins.daterangepicker %>
  <%= render_translations LocalePart.table %>
<% end %>

<div id="app">
</div>

<%= include_webpack_bundle 'admin-activity-feed/main.js' %>
