<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-activity-feed' %>
  <title><%= t('screens.admin.jobs.show_page.title') %> | <%= get_site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <%= link_to(t('core.no_js'), '?no_js=true') %>
<% end %>

<%= include_webpack_bundle 'admin/admin-activity-feed-show.js' %>

<%= render '/administration/left_nav' %>

<div class="contentBox <%= admin_page_with_left_nav_class %> showJobScreen">
  <div class="adminHeader floating jobs">
    <span class="icon"></span>
    <span class="back-to-jobs-list">
      <%= link_to(t('screens.admin.jobs.show_page.back'), {:action => 'index'}) %>
    </span>
    <h1><%= t('screens.admin.jobs.show_page.page_title') %></h1>
  </div>
</div>

<div class="contentBox <%= admin_page_with_left_nav_class %> showJobScreen mainContent">
  <%= display_standard_flashes %>

  <div style="position: relative;">
    <div>
      <h1><%= t("screens.admin.jobs.actions.#{@activity.activity_type}") %></h1>
      <p class="file-name">
        <% if @activity.dataset.nil? %>
          <%= t('screens.admin.jobs.index_page.deleted_dataset') %>
        <% else %>
          <%= link_to(@activity.dataset.name, view_path(@activity.dataset)) %>
        <% end %>
        <% if @activity.file_name.blank? %>
          <%= t('screens.admin.jobs.show_page.file_name_unknown') %>
        <% else %>
          <%= "(#{@activity.file_name})" %>
        <% end %>
        <% if @activity.had_working_copy? %>
          <% working_copy = @activity.working_copy %>
          <p class="working-copy-annotation">
            to working copy
          <% if working_copy && working_copy.is_unpublished? %>
            <%= link_to(@activity.working_copy_id, view_path(working_copy)) %>
          <% else %>
            <%= @activity.working_copy_display %>
          <% end %>
          </p>
        <% end %>
      </p>
    </div>
    <div style="position: absolute; right: 0; top: 2px;">
      <p class="import-status-label">
        <span class="import-status-icon import-status-icon-<%= @activity.status.dasherize %> icon-<%= icon_for_status(@activity.status) %>"></span>
        <%= t("screens.admin.jobs.statuses.#{@activity.status}") %>
      </p>
      <p class="result-time-stamp time-stamp" data-epoch-seconds="<%= @activity.created_at.to_i %>">
        <span><%= date_time_span(@activity.last_updated) %></span>
        (<%= HumaneDateHelper.humane_date(@activity.last_updated) %>)
      </p>
    </div>
  </div>

  <section class="import-job-container">
    <div class="import-job-events">
      <% failure_events = @activity.events %>
      <% if failure_events.empty? %>
        <p><%= t('screens.admin.jobs.show_page.no_events') %></p>
      <% else %>
        <% last_event = failure_events.last %>
        <div class="import-job-event">
          <h2><%= event_title(last_event) %></h2>
          <p class="event-time-stamp time-stamp" data-epoch-seconds="<%= @activity.created_at.to_i %>">
            <span><%= date_time_span(last_event.event_time) %></span>
            (<%= HumaneDateHelper.humane_date(last_event.event_time) %>)
          </p>
          <div class="event-description-container">
            <% description = event_description(last_event) %>
            <% unless description.blank? %>
              <p class="event-description event-description-human-readable">
                <%== description %>
              </p>
            <% else %>
              <p class="error-details-heading">
                <%= t('screens.admin.jobs.show_page.error_details_heading') %>:
              </p>
              <pre class="event-description event-description-json"><%= JSON.pretty_generate(last_event.info) %></pre>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="import-job-details">
      <h3><%= t('screens.admin.jobs.show_page.started_by') %></h3>
      <p>
        <% if @activity.initiated_by.nil? %>
          <%= "(#{t('screens.admin.jobs.index_page.deleted_user')})" %>
        <% else %>
          <%= link_to(@activity.initiated_by.displayName, profile_path(@activity.initiated_by))%>
        <% end %>
      </p>
      <h3><%= t('screens.admin.jobs.show_page.initiated_at') %></h3>
      <p class="started-time-stamp time-stamp" data-epoch-seconds="<%= @activity.created_at.to_i %>">
        <span><%= date_time_span(@activity.created_at) %></span>
      </p>
      <h3><%= t('screens.admin.jobs.show_page.import_method') %></h3>
      <p><%== t("screens.admin.jobs.show_page.services.#{@activity.service}") %></p>
      <% unless @activity.bad_rows_url.blank? %>
        <h3>
          <%= t('screens.admin.jobs.show_page.failed_rows') %>
          <span class="icon-warning"></span>
        </h3>
        <p><%= link_to('errors.csv', @activity.bad_rows_url) %></p>
      <% end %>
    </div>
  </section>
</div>
