<% unless render_admin_header? %>
  <% content_for(:relocated_content) do %><a name="above-content"></a><% end %>
  <div class="leftNavBox adminNavBox">
    <div class="hideButtonBox">
      <button type="button" class="hideButton close">
        <span class="icon">x</span>
      </button>
    </div>
    <ul class="navigationList adminNav">
        <li class="analytics">
          <%= admin_nav_link_to t('screens.admin.index.site_analytics'), :controller => '/administration', :action => 'analytics' %>
        </li>
      <% if user_can_see_users? %>
        <li class="users">
          <%= admin_nav_link_to t('screens.admin.index.users'), :controller => '/administration', :action => 'users' %>
        </li>
      <% end %>
      <% if user_can_see_federations? %>
        <li class="federation">
          <%= admin_nav_link_to t('screens.admin.index.federation'), :controller => '/administration', :action => 'federations' %>
        </li>
      <% end %>
      <% if user_can_see_comment_moderation? %>
        <li class="comments">
          <%= admin_nav_link_to t('screens.admin.index.comment_moderation'), :controller => '/administration', :action => 'comment_moderation' %>
        </li>
      <% end %>
      <% if user_can_see_view_moderation? %>
        <li class="viewmoderation">
          <%= admin_nav_link_to t('screens.admin.index.view_moderation'), :controller => '/administration', :action => 'views' %>
        </li>
      <% end %>
      <% if user_can_see_sdp_templates? %>
        <li class="appearance">
          <%= admin_nav_link_to t('screens.admin.index.sdp_templates'), :controller => '/administration', :action => 'sdp_templates' %>
        </li>
      <% end %>
      <% unless CurrentDomain.module_enabled?(:govStat) %>
        <% if user_can_see_canvas_designer? %>
          <li class="contentmgmt">
            <%= admin_nav_link_to t('screens.admin.index.dataslate_pages'), :controller => '/administration', :action => 'canvas_pages' %>
          </li>
        <% end %>
      <% end %>
      <% if user_can_see_asset_inv? %>
        <li class="datasets">
          <%= admin_nav_link_to t('screens.admin.index.datasets'), :controller => '/administration', :action => 'datasets' %>
        </li>
      <% end %>
      <% if can_view_georegions_admin?(current_user) %>
        <li class="georegions">
          <%= admin_nav_link_to t('screens.admin.index.georegions'), :controller => '/administration', :action => 'georegions' %>
        </li>
      <% end %>
      <% if show_site_appearance_admin_panel? %>
        <li class="homemgmt">
          <%= admin_nav_link_to t('screens.admin.index.site_appearance'), :controller => '/site_appearance', :action => 'edit' %>
        </li>
      <% end %>
      <% unless CurrentDomain.module_enabled?(:govStat) %>
        <% if user_can_see_home_page? %>
          <li class="homemgmt">
            <%= admin_nav_link_to t('screens.admin.index.home_page'), :controller => '/administration', :action => 'home' %>
          </li>
        <% end %>
      <% end %>
      <% if user_can_see_metadata? %>
        <li class="metadata">
          <%= admin_nav_link_to t('screens.admin.index.metadata'), :controller => '/administration', :action => 'metadata' %>
        </li>
      <% end %>
      <% if user_can_see_activity_feed? %>
        <li class="activity-feed">
          <%= admin_nav_link_to t('screens.admin.index.jobs'), :controller => '/administration/activity_feed', :action => 'index' %>
        </li>
      <% end %>
      <% if module_enabled?(:routing_approval) && current_user.can_approve? %>
        <li class="routingApproval">
          <%= admin_nav_link_to t('screens.admin.index.dataset_routing_and_approval'), :controller => '/administration/routing_approval', :action => 'index' %>
        </li>
      <% end %>
      <% if current_user.try(:is_superadmin?) %>
        <li class="internal">
          <%= admin_nav_link_to t('screens.admin.index.internal'), :controller => '/internal', :action => 'index' %>
        </li>
      <% end %>
      <% if  %>
        <li class="contentmgmt">
          <%= admin_nav_link_to t('screens.admin.index.stories'), '/stories/admin/themes' %>
        </li>
      <% end %>
      <% if CurrentDomain.module_enabled?(:govStat) %>
        <li class="datasets">
          <%= admin_nav_link_to t('screens.admin.index.goals'), '/admin/goals' %>
        </li>
      <% end %>
      <% if user_can_see_connectors? %>
        <li class="connectors">
          <%= admin_nav_link_to t('screens.admin.index.connectors'), :controller => '/administration/connector', :action => 'connectors' %>
        </li>
      <% end %>
      <% if current_user.try(:is_superadmin?) %>
        <li class="feature_flags">
          <%= admin_nav_link_to t('screens.admin.index.feature_flags'), :controller => '/internal', :action => 'feature_flags', :domain_id => CurrentDomain.cname %>
        </li>
      <% end %>
    </ul>
  </div>

  <a name="content" tabindex="-1"></a>

  <% content_for :js_footer do %>
    <%= include_webpack_bundle 'open-data/admin-collapse-nav.js' %>
  <% end %>
<% end %>
