<% content_for :head do %>
  <%- if !module_enabled?(:govStat) -%>
  <link type="text/css" media="all" rel="stylesheet" href="/webfonts/ss-standard.css"/>
  <title><%= t('dataslate.create.title') %> | <%= get_site_title %></title>
  <%- end -%>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-canvas-pages' %>
  <%- if module_enabled?(:govStat) -%>
  <%= rendered_stylesheet_tag 'administration-govstat' %>
  <title><%= t('govstat.reports.create.title') %> | <%= get_site_title %></title>
  <%- end -%>
<% end %>

<% content_for :skip_links do %>
  <%= link_to t('core.no_js'), '?no_js=true' %>
<% end %>

<% content_for :breadcrumb do %>
  <%= t('dataslate.create.title') %>
<% end %>

<%= render '/internal/left_nav' %>

<div id="createCanvasPageContent" class="contentBox withLeftNavigation">
  <div class="adminHeader contentmgmt">
    <%- if !module_enabled?(:govStat) -%>
    <span class="icon"></span>
    <h1><%= t('dataslate.create.create_page') %></h1>
    <%- else -%>
    <div>
      <h1 class="ss-notepad" aria-hidden="true"></h1>
      <h1><%= t('govstat.reports.create.create_report') %></h1>
    </div>
    <%- end -%>
  </div>

  <%= display_standard_flashes %>

  <%= modal :class => 'configuratorSettings', :style => '' do %>
    <h2><%= t('dataslate.create.page_settings') %></h2>

    <%= form_tag(canvas_create_path, :class => 'commonForm') do %>
      <div class="line pageTitle">
        <%= label_tag :pageTitle, "#{t('dataslate.create.page_title')} <span class=\"accessible\">#{t('core.required')}</span>".html_safe,
          :class => 'required' %>
        <%= text_field_tag :pageTitle, @cur_title, :class => 'required' %>
      </div>
      <div class="line pageUrl">
        <%= label_tag :pageUrl, t('dataslate.create.page_url').html_safe %>
        <%= text_field_tag :pageUrl, @cur_path %>
      </div>
      <ul class="actions clearfix">
        <li><a href="<%= module_enabled?(:govStat) ? manage_reports_path : canvas_admin_path %>"
          class="button"><%= t('dataslate.create.cancel') %></a></li>
        <li><input type="submit" value="<%= t('dataslate.create.create') %>" class="button createAction default" /></li>
      </ul>
    <% end %>
  <%- end -%>
</div>

<%- content_for :js_footer do -%>
  <%- unless params[:no_js] == 'true' -%>
    <%= include_webpack_bundle 'open-data/admin-canvas-pages.js' %>
  <%- end -%>
<%- end -%>
