<%- socrata_federation = 'screens.admin.federation' %>
<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-federation' %>
  <title><%= t("#{socrata_federation}.title") %> | <%= get_site_title %></title>
<% end %>

<% content_for :breadcrumb do %>
  <%= t("#{socrata_federation}.title") %>
<% end %>

<%= render '/internal/left_nav' %>

<div id="federationContent" class="contentBox withLeftNavigation">
  <div class="adminHeader federation">
    <span class="icon"></span>
    <h1><%= t("#{socrata_federation}.title") %></h1>
  </div>

  <%= display_standard_flashes %>

  <div class="searchFields">
    <form class="search domainsSearch" method="get">
      <label for="domain"><%= t("#{socrata_federation}.search_prompt") %></label>
      <input type="text" class="textPrompt searchField" name="domain" id="domain"
        title="<%= t("#{socrata_federation}.search_prompt") %>" value="<%= @search_domain %>" />
      <input type="submit" class="submit" alt="<%= t("#{socrata_federation}.search") %>" value="<%= t("#{socrata_federation}.search") %>" />
    </form>

    <%# We don't have a UI for federating individual datasets yet, so this is less than helpful %>
    <%- if false -%>
      <form class="search datasetsSearch" method="get">
        <label for="dataset"><%= t("#{socrata_federation}.search_pub_datasets") %></label>
        <input type="text" class="textPrompt searchField" name="dataset" id="dataset"
          title="<%= t("#{socrata_federation}.search_pub_datasets") %>" value="<%= @search_dataset %>" />
        <input type="submit" class="submit" alt="<%= t("#{socrata_federation}.search") %>" value="<%= t("#{socrata_federation}.search") %>" />
      </form>
    <%- end -%>
  </div>

  <%- if (!@search_domain.blank?) && @domains.blank? -%>
    <p class="noAvailableTargets"><%= t("#{socrata_federation}.no_domains", :name => @search_domain) %></p>
  <%- end -%>

  <%- unless @domains.blank? -%>
   <div class="availableTargetDomains">
     <p class="explanation"><%= t("#{socrata_federation}.list_domains") %></p>
     <%- @domains.each do |d| -%>
      <%= form_tag({:action => 'create_federation'}, {:method => 'post', :class => 'newFederationForm'}) do %>
        <label class="domain"><%= d.cname %></label>
        <%= hidden_field_tag('new_federation[target_domain]', d.cname) %>
        <label for="search_boost" class="boost"><%= t("#{socrata_federation}.search_boost") %>:</label><%= text_field_tag('new_federation[search_boost]', '0.8', :title => t("#{socrata_federation}.search_boost_explain")) %>
        <%= submit_tag t("#{socrata_federation}.publish"), :class => 'button' %>
      <% end %>
     <%- end -%>
   </div>
  <%- end -%>

  <%- unless @federations.blank? -%>
    <div class="gridListWrapper">
      <table class="gridList federationList" cellspacing="0">
        <colgroup>
          <col class="source" />
          <col class="target" />
          <col class="dataset" />
          <col class="boost" />
          <col class="acceptedBy" />
          <col class="status" />
          <col class="delete" />
        </colgroup>
        <thead>
          <tr>
            <%# Check for removing 'div' element here %>
            <th class="source" scope="col"><div><%= t("#{socrata_federation}.source_domain") %></div><span class="icon"></span></th>
            <th class="target" scope="col"><div><%= t("#{socrata_federation}.target_domain") %></div><span class="icon"></span></th>
            <th class="dataset" scope="col"><div><%= t("#{socrata_federation}.dataset") %></div><span class="icon"></span></th>
            <th class="boost" scope="col"><div><%= t("#{socrata_federation}.search_boost") %></div><span class="icon"></span></th>
            <th class="acceptedBy" scope="col"><div><%= t("#{socrata_federation}.accepted_by") %></div><span class="icon"></span></th>
            <th class="status" scope="col"><div><%= t("#{socrata_federation}.status") %></div><span class="icon"></span></th>
            <th class="delete" scope="col"><div><%= t("#{socrata_federation}.terminate") %></div><span class="icon"></span></th>
          </tr>
        </thead>
        <tbody>
          <%- @federations.each do |f| -%>
            <tr class="item">
              <td class="source" scope="row">
                <span class="cellInner"><%= f.sourceDomainCName %></span>
              </td>
              <td class="target">
                <span class="cellInner"><%= f.targetDomainCName %></span>
              </td>
              <td class="dataset">
                <%- if f.lensId.nil? %>
                  <em><%= t("#{socrata_federation}.all") %></em>
                <%- else -%>
                  <span class="cellInner"><%= f.lensName %></span>
                <%- end -%>
              </td>
              <td class="boost">
                <span class="cellInner"><%= f.searchBoost %></span>
              </td>
              <td class="acceptedBy">
                <%- if !f.acceptedUserId.nil?%>
                  <div class="cellInner"><%= f.acceptorScreenName %></div>
                <%- end -%>
              </td>
              <td class="status">
                <span class="loading"></span>
                <%- accepted = f.acceptedUserId.present? -%>
                <span class="cellInner"><%= t("#{socrata_federation}.#{accepted ? 'accepted' : 'pending'}") %></span>
                <%- if f.targetDomainCName == CurrentDomain.cname %>
                  <div class="acceptRejectButtons">
                    <%= form_button({:action => :accept_federation, :id => f.id}, t("#{socrata_federation}.accept"),
                         {}, {:class => 'button' + (accepted ? ' disabled' : '')}) %>
                    <%= form_button({:action => :reject_federation, :id => f.id}, t("#{socrata_federation}.reject"),
                         {}, {:class => 'button' + (accepted ? '' : ' disabled')}) %>
                  </div>
                <%- end -%>
              </td>
              <td class="delete">
                <%= form_button({:action => :delete_federation, :id => f.id}, t("#{socrata_federation}.terminate"),
                     {:method => :delete}) %>
              </td>
            </tr>
          <%- end -%>
        </tbody>

      </table>
    </div>
  <%- else -%>
    <p class="noFederations">
      <%- if @search_dataset.present? -%>
        <%= t("#{socrata_federation}.no_pub_datasets") %>
      <%- else -%>
        <%= t("#{socrata_federation}.no_federations") %>
      <%- end -%>
    </p>
  <%- end -%>
</div>

<%= render_admin_qualtrics %>

<%- content_for :js_footer do -%>
  <%- unless params[:no_js].present? -%>
  <%= include_webpack_bundle 'open-data/admin-federation.js' %>
  <%- end -%>
<%- end -%>
