<% content_for :head do %>
  <%= render_feature_flags_for_javascript %>
  <script type="text/javascript">
    window.strings = <%== CurrentDomain.strings.to_json %>;
    window.translations = <%== LocaleCache.render_translations([LocalePart.from_array(['govstat'])])['govstat'].to_json %>
  </script>
  <%= rendered_stylesheet_tag 'styleguide' %>
  <%= google_font_link %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <title><%= t('govstat.admin.page_title') %> | <%= get_site_title %></title>
<% end %>

<% admin_breadcrumb('govstat.admin.page_title') %>

<div id="app"></div>

<%= render_admin_session_data %>
<%= render_admin_server_config %>
<%= render_mixpanel_config %>

<%= include_webpack_bundle 'shared/adminGoals' %>
