<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-index-screen' %>
  <title><%= t('screens.admin.index.administration') %> | <%= get_site_title %></title>
<% end %>

<%= render '/administration/left_nav' %>

<div class="contentBox withLeftNavigation">
  <%= display_standard_flashes %>

  <ul class="adminList">
    <li class="analytics">
      <%= admin_nav_link_to('screens.admin.index.site_analytics', '/admin/analytics') %>
      <span class="description">
        <%= t('screens.admin.index.site_analytics_description') %>
      </span>
    </li>
    <% if user_can_see_users? %>
      <li class="users">
        <%= admin_nav_link_to('screens.admin.index.users', '/admin/users') %>
        <span class="description">
          <%= t('screens.admin.index.users_description') %>
        </span>
      </li>
    <% end %>
    <% if user_can_see_federations? %>
      <li class="federation">
        <%= admin_nav_link_to('screens.admin.index.federation', '/admin/federations') %>
        <span class="description">
          <%= t('screens.admin.index.federation_description') %>
        </span>
      </li>
    <% end %>
    <% if user_can_see_comment_moderation? %>
      <li class="comments">
        <%= admin_nav_link_to('screens.admin.index.comment_moderation', '/admin/comment_moderation') %>
        <span class="description">
          <%= t('screens.admin.index.comment_moderation_description') %>
        </span>
      </li>
    <% end %>
    <% if user_can_see_view_moderation? %>
      <li class="viewmoderation">
        <%= admin_nav_link_to('screens.admin.index.view_moderation', '/admin/views') %>
        <span class="description">
          <%= t('screens.admin.index.view_moderation_description') %>
        </span>
      </li>
    <% end %>
    <% if user_can_see_sdp_templates? %>
      <li class="appearance">
        <%= admin_nav_link_to('screens.admin.index.sdp_templates', '/admin/sdp_templates') %>
        <span class="description">
          <%= t('screens.admin.index.sdp_templates_description') %>
        </span>
      </li>
    <% end %>
    <% if user_can_see_canvas_designer? %>
      <li class="contentmgmt">
        <%= admin_nav_link_to('screens.admin.index.dataslate_pages', '/admin/data_slate') %>
        <span class="description">
          <%= t('screens.admin.index.dataslate_pages_description') %>
        </span>
      </li>
    <% end %>
    <% if user_can_see_asset_inventory? %>
      <% if use_internal_asset_manager? %>
        <li class="datasets">
          <%= admin_nav_link_to('screens.admin.index.datasets', '/admin/assets') %>
          <span class="description">
            <%= t('screens.admin.index.datasets_description') %>
          </span>
        </li>
      <% else %>
        <li class="datasets">
          <%= admin_nav_link_to('screens.admin.index.datasets', '/admin/datasets') %>
          <span class="description">
            <%= t('screens.admin.index.datasets_description') %>
          </span>
        </li>
      <% end %>
    <% end %>
    <% if can_view_georegions_admin?(current_user) %>
      <li class="georegions">
        <%= admin_nav_link_to('screens.admin.index.georegions', '/admin/geo') %>
        <span class="description">
          <%= t('screens.admin.index.georegions_description') %>
        </span>
      </li>
    <% end %>
    <% if show_site_appearance_admin_panel? %>
      <li class="homemgmt">
        <%= admin_nav_link_to('screens.admin.index.site_appearance', '/admin/site_appearance') %>
        <span class="description">
          <%= t('screens.admin.index.site_appearance_description') %>
        </span>
      </li>
    <% end %>
    <% if user_can_see_home_page? %>
      <li class="homemgmt">
        <%= admin_nav_link_to('screens.admin.index.home_page', '/admin/home') %>
        <span class="description">
          <%= t('screens.admin.index.home_page_description') %>
        </span>
      </li>
    <% end %>
    <% if user_can_see_metadata? %>
      <li class="metadata">
        <%= admin_nav_link_to('screens.admin.index.metadata', '/admin/metadata') %>
        <span class="description">
          <%= t('screens.admin.index.metadata_description') %>
        </span>
      </li>
    <% end %>
    <% if module_enabled?(:routing_approval) && current_user.can_approve? %>
      <li class="routingApproval">
        <%= admin_nav_link_to('screens.admin.index.dataset_routing_and_approval', '/admin/routing_approval') %>
        <span class="description">
          <%= t('screens.admin.index.dataset_routing_and_approval_description') %>
        </span>
      </li>
    <% end %>
    <% if user_can_see_activity_feed? %>
      <li class="activity-feed">
        <%= admin_nav_link_to('screens.admin.index.activity_log', '/admin/activity_feed') %>
        <span class="description">
          <%= t('screens.admin.index.activity_log_description') %>
        </span>
      </li>
    <% end %>
    <% if current_user.try(:is_superadmin?) %>
      <li class="internal">
        <%= admin_nav_link_to('screens.admin.index.internal', '/internal') %>
        <span class="description">
          <%= t('screens.admin.index.internal_description') %>
        </span>
      </li>
    <% end %>
    <% if user_can_see_stories? %>
      <li class="contentmgmt">
        <%= admin_nav_link_to('screens.admin.index.stories', '/stories/admin/themes') %>
        <span class="description">
          <%= t('screens.admin.index.stories_description') %>
        </span>
      </li>
    <% end %>
    <% if user_can_see_goals? %>
      <li class="datasets">
        <%= admin_nav_link_to('screens.admin.index.goals', '/admin/goals') %>
        <span class="description">
          <%= t('screens.admin.index.goals_description') %>
        </span>
      </li>
    <% end %>
    <% if user_can_see_connectors? %>
      <li class="connectors">
        <%= admin_nav_link_to('screens.admin.index.connectors', '/admin/connectors') %>
        <span class="description">
          <%= t('screens.admin.index.connectors_description') %>
        </span>
      </li>
    <% end %>
    <% if current_user.try(:is_superadmin?) %>
      <li class="feature_flags">
        <%= admin_nav_link_to(
          'screens.admin.index.feature_flags',
          :controller => '/internal',
          :action => 'feature_flags',
          :domain_id => CurrentDomain.cname
        ) %>
        <span class="description">
          <%= t('screens.admin.index.feature_flags_description') %>
        </span>
      </li>
    <% end %>
  </ul>
</div>

<%= render_admin_qualtrics %>
