<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-sdp-template' %>
  <%= rendered_stylesheet_tag 'colorpicker' %>
  <%= rendered_stylesheet_tag 'base-control-third-party' %>
  <title><%= t('screens.admin.sdp.edit.editing', :title => @widget_customization.name) %> | <%= t('screens.admin.sdp.edit.default_title') %> | <%= get_site_title %></title>
<% end %>

<% admin_breadcrumb('screens.admin.sdp.listing.default_title') %>

<%= render '/administration/left_nav' %>

<div class="contentBox <%= admin_page_with_left_nav_class %>">
  <div class="publisherHeader clearfix">
    <h1><%= t('screens.admin.sdp.edit.editing', :title => @widget_customization.name) %></h1>

    <div class="publisherActions">
      <a href="#save" class="saveButton button"><%= t('core.dialogs.save') %></a>
      <!-- <a href="#save" class="saveAsButton button">Save As...</a> -->
      <a href="#save" class="revertButton button"><%= t('core.dialogs.revert_changes') %></a>
      <span class="loadingIcon"><%= t('screens.admin.sdp.edit.working') %></span>
    </div>

    <div class="sidebarOptionsContainer clearfix">
      <ul id="sidebarOptions" class="clearfix">
        <li><a href="#metadata" class="metadata" data-panename="metadata">
          <span class="icon"></span><%= t('screens.admin.sdp.edit.panes.metadata.label') %></a></li>
        <li><a href="#appearance" class="appearance" data-panename="appearance">
          <span class="icon"></span><%= t('screens.admin.sdp.edit.panes.appearance.label') %></a></li>
        <li><a href="#behavior" class="behavior" data-panename="behavior">
          <span class="icon"></span><%= t('screens.admin.sdp.edit.panes.behavior.label') %></a></li>
        <li><a href="#advanced" class="advanced" data-panename="advanced">
          <span class="icon"></span><%= t('screens.admin.sdp.edit.panes.advanced.label') %></a></li>
        <%- if params[:view_id].present? -%>
          <li><a href="#embed" class="embed" data-panename="embed">
            <span class="icon"></span><% t('screens.admin.sdp.edit.embed') %></a></li>
        <%- end -%>
      </ul>
    </div>
  </div>

  <div class="publisherMain">
    <div class="publisherWorkspace">
      <%- if @view.is_public? -%>
        <div class="previewScrollContainer">
          <div class="previewPane" style="width:<%= @customization[:publish][:dimensions][:width] %>px">
            <%= get_publish_embed_code_for_view(@view, {}, 'default') %>
          </div>
        </div>
        <div class="infoMessage loadingMessage">
          <h2><%= t('screens.admin.sdp.edit.loading_message') %></h2>
        </div>
      <%- else -%>
        <div class="errorMessage privateDatasetMessage">
          <h2><%= t('screens.admin.sdp.edit.warning') %></h2>
          <p><%= t('screens.admin.sdp.edit.private_dataset_warning') %></p>
          <a href="#public" class="makePublicButton button"><%= t('screens.admin.sdp.edit.make_public_button_label') %></a>
        </div>
      <%- end -%>
      <div class="errorMessage versionMessage">
        <h2><%= t('screens.admin.sdp.edit.warning') %></h2>
        <p><%= t('screens.admin.sdp.edit.old_version_warning') %></p>
        <a href="#convert" class="convertButton button"><%= t('screens.admin.sdp.edit.convert_now_button_label') %></a>
      </div>
    </div>
    <div id="gridSidebar">
    </div>
  </div>
</div>

<% content_for :templates do %>
<%= render(:partial => 'templates/grid_sidebar') %>
<div class="logoEdit">
  <div class="line clearfix logoEdit">
    <label for="gridSidebar_appearance_logo:_logoSelect"><%= t('screens.admin.sdp.edit.choose_logo') %></label>
    <div class="inputWrapper">
      <select id="gridSidebar_appearance_logo:_logoSelect" data-origname="_logoSelect"
            name="gridSidebar_appearance_logo:_logoSelect">
        <option value="none"><%= t('screens.admin.sdp.edit.none') %></option>
        <option value="socrata"><%= t('screens.admin.sdp.edit.default_socrata_logo') %></option>
        <option disabled="disabled">&nbsp;</option>
        <%= options_for_select Asset.find(:type => "WIDGET_CUSTOMIZATION_LOGO").
                                          map{ |image| [image.nameForOutput, image.id] } %>
      </select>
    </div>
  </div>
  <div class="line clearfix">
    <a href="#upload" class="uploadNewLogoButton button"><%= t('screens.admin.sdp.edit.upload_new') %></a>
  </div>
  <div class="line clearfix text">
    <label for="gridSidebar_appearance_logo:logo.href"><%= t('screens.admin.sdp.edit.logo_link_url') %></label>
    <div class="inputWrapper textWrapper">
      <input id="gridSidebar_appearance_logo:logo.href" name="gridSidebar_appearance_logo:logo.href" type="text"
        data-origname="logo.href" />
    </div>
  </div>
</div>

<div class="sidebarPaneWithFieldset">
  <div class="subtitleBlock">
    <p class="subtitle"></p>
  </div>

  <div class="readOnlyBlock">
    <p class="readOnlyMessage"></p>
  </div>

  <div class="paneContent">
    <fieldset class="formSection">
      <input type="checkbox" class="sectionSelect" />
      <label class="formHeader">
        <span class="formHeaderIcon"></span>
      </label>
      <div class="sectionDisabledMessage"></div>
      <div class="sectionWarningMessage"></div>
      <div class="sectionContent"></div>
    </fieldset>

    <div class="mainError"></div>

    <div class="required hide"><%= t('core.forms.required_field') %></div>
    <ul class="finishButtons actionButtons clearfix">
      <li></li>
    </ul>
  </div>
</div>

<% end %>

<% content_for :js_footer do %>
  <%= hidden_field_tag('codeTemplate', get_publish_embed_code_for_view(@view,
        { :dimensions => { :width => '%width%', :height => '%height%' } }, '%variation%').gsub('"', '\"')) %>
  <script type="text/javascript">
    blist.namespace.fetch('blist.publish');
    blist.publish.currentThemeMeta = { 'name': '<%= @widget_customization.name %>',
                                       'id': '<%= @widget_customization.uid %>' };
    blist.publish.currentTheme = <%= raw json_escape(@customization.to_json) %>;
    blist.publish.v2Theme = <%= raw json_escape(WidgetCustomization.default_theme(1).to_json) %>;

    blist.publish.viewId = '<%= @view.id %>';
    blist.publish.viewIsGrid = <%= !@view.is_alt_view? %>;
  </script>

  <%= include_webpack_bundle 'open-data/admin-sdp-template.js' %>
<% end %>

<% content_for :translations do %>
  <%= render_translations LocalePart.controls.upload_dialog %>
  <%= render_translations LocalePart.screens.ds %>
  <%= render_translations LocalePart.screens.admin.sdp %>
<% end %>
