<% content_for :head do %>
  <%= rendered_stylesheet_tag 'styleguide' %>
  <%= google_font_link %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-new-index-screen' %>
  <title><%= t('screens.admin.index.administration') %> | <%= get_site_title %></title>
<% end %>

<div class="admin-index">
  <%= display_standard_flashes %>

  <div class="admin-link-columns">
    <section>
      <h2>
        <i class="socrata-icon-dataset"></i>
        <%= t('screens.admin.index.section_headers.data_and_assets') %>
      </h2>
      <ul class="admin-link-list">
        <% if user_can_see_activity_feed? %>
          <li>
            <%= admin_nav_link('screens.admin.index.activity_log', '/admin/activity_feed') %>
          </li>
        <% end %>
        <li>
          <%= admin_nav_link('screens.admin.index.site_analytics', '/admin/analytics') %>
        </li>
        <% if user_can_see_asset_inventory? %>
          <% if use_internal_asset_manager? %>
            <li>
              <%= admin_nav_link('screens.admin.index.datasets', '/admin/assets') %>
            </li>
          <% else %>
            <li>
              <%= admin_nav_link('screens.admin.index.datasets', '/admin/datasets') %>
            </li>
          <% end %>
        <% end %>
        <% if user_can_see_goals? %>
          <li>
            <%= admin_nav_link('screens.admin.index.goals', '/admin/goals') %>
          </li>
        <% end %>
        <% if user_can_see_federations? %>
          <li>
            <%= admin_nav_link('screens.admin.index.federation', '/admin/federations') %>
          </li>
        <% end %>
        <% if user_can_see_connectors? %>
          <li>
            <%= admin_nav_link('screens.admin.index.connectors', '/admin/connectors') %>
          </li>
        <% end %>
      </ul>
    </section>
    <section>
      <% if user_can_see_content_section? %>
        <h2>
          <i class="socrata-icon-copy-document"></i>
          <%= t('screens.admin.index.section_headers.content') %>
        </h2>
        <ul class="admin-link-list">
          <% if user_can_see_routing_approval? %>
            <li>
              <%= admin_nav_link('screens.admin.index.dataset_routing_and_approval', '/admin/routing_approval') %>
            </li>
          <% end %>
          <% if user_can_see_view_moderation? %>
            <li>
              <%= admin_nav_link('screens.admin.index.view_moderation', '/admin/views') %>
            </li>
          <% end %>
          <% if user_can_see_comment_moderation? %>
            <li>
              <%= admin_nav_link('screens.admin.index.comment_moderation', '/admin/comment_moderation') %>
            </li>
          <% end %>
          <% if can_view_georegions_admin?(current_user) %>
            <li>
              <%= admin_nav_link('screens.admin.index.georegions', '/admin/geo') %>
            </li>
          <% end %>
          <% if user_can_see_home_page? %>
            <li>
              <%= admin_nav_link('screens.admin.index.home_page', '/admin/home') %>
            </li>
          <% end %>
          <% if user_can_see_canvas_designer? %>
            <li>
              <%= admin_nav_link('screens.admin.index.dataslate_pages', '/admin/data_slate') %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </section>
    <section>
      <% if current_user.try(:is_superadmin?) %>
        <div class="super-admin-menu">
          <h2>
            <i class="socrata-icon-private"></i>
            <%= t('screens.admin.index.section_headers.super_admin') %>
          </h2>
          <ul class="admin-link-list">
            <li>
              <%= admin_nav_link('screens.admin.index.internal', '/internal') %>
            </li>
            <li>
              <%= admin_nav_link(
                'screens.admin.index.feature_flags',
                :controller => '/internal',
                :action => 'feature_flags',
                :domain_id => CurrentDomain.cname
              ) %>
            </li>
            <% if user_can_see_stories? %>
              <li>
                <%= admin_nav_link('screens.admin.index.stories', '/stories/admin/themes') %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if user_can_see_administration_section? %>
        <h2>
          <i class="socrata-icon-settings"></i>
          <%= t('screens.admin.index.section_headers.site_settings') %>
        </h2>
        <ul class="admin-link-list">
          <% if user_can_see_users? %>
            <li>
              <%= admin_nav_link('screens.admin.index.users', '/admin/users') %>
            </li>
          <% end %>
          <% if user_can_see_metadata? %>
            <li>
              <%= admin_nav_link('screens.admin.index.metadata', '/admin/metadata') %>
            </li>
          <% end %>
          <% if show_site_appearance_admin_panel? %>
            <li>
              <%= admin_nav_link('screens.admin.index.site_appearance', '/admin/site_appearance') %>
            </li>
          <% end %>
          <% if user_can_see_sdp_templates? %>
            <li>
              <%= admin_nav_link('screens.admin.index.sdp_templates', '/admin/sdp_templates') %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </section>
  </div>
</div>

<%= render_admin_qualtrics %>
