<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-stories-appearance' %>
  <%= rendered_stylesheet_tag 'colorpicker' %>
  <%= rendered_stylesheet_tag 'base-control-third-party' %>
  <title><%= t('screens.admin.story_appearance.title') %> | <%= t('screens.admin.story_appearance.social_data_player_templates') %> | <%= get_site_title %></title>
<% end %>

<%= render '/administration/left_nav' %>

<div class="contentBox <%= admin_page_with_left_nav_class %>">
  <div class="publisherHeader clearfix">
    <h1><%= t('screens.admin.story_appearance.title') %></h1>

    <div class="publisherActions">
      <a href="#save" class="saveButton button"><%= t('core.dialogs.save') %></a>
      <a href="#save" class="revertButton button"><%= t('core.dialogs.revert_changes') %></a>
      <span class="loadingIcon"><%= t('screens.admin.story_appearance.working') %></span>
    </div>

    <div class="sidebarOptionsContainer clearfix">
      <ul id="sidebarOptions" class="clearfix">
        <li><a href="#textbox" class="textbox" data-panename="textbox">
          <span class="icon"></span><%= t('screens.admin.story_appearance.panes.text_box.label') %></a></li>
        <li><a href="#pager" class="pager" data-panename="pager">
          <span class="icon"></span><%= t('screens.admin.story_appearance.panes.pager.label') %></a></li>
        <li><a href="#other" class="other" data-panename="other">
          <span class="icon"></span><%= t('screens.admin.story_appearance.panes.pane_other.label') %></a></li>
      </ul>
    </div>
  </div>

  <div class="publisherMain">
    <div class="publisherWorkspace">
      <div class="previewScrollContainer">
        <div class="previewPane">
          <%- if @stories.nil? || @stories.empty? -%>
            <div class="contentBox storiesContainer" data-orientation="<%= CurrentDomain.theme.stories.orientation %>">
              <div class="storyPagerBackground"></div>
              <div class="storyPager"></div>
              <ul class="storyTexts">
                <li data-storyid="1" data-storycustomization="{'backgroundColor':'#000000'}">
                  <div class="storyBox">
                    <h2><%= t('screens.admin.story_appearance.test_story_1') %></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                       ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                       laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                       voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                </li>
                <li data-storyid="2" data-storycustomization="{'backgroundColor':'#000000'}">
                  <div class="storyBox">
                    <h2><%= t('screens.admin.story_appearance.test_story_2') %></h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                       pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                       ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dolga
                       eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </li>
              </ul>
              <div class="storyTextbox"></div>
              <ul class="storyImages">
                <li style="background-color:#000000">
                  <img src="/stylesheets/images/content/sample_story_2.jpg" alt="<%= t('screens.admin.story_appearance.test_story_1') %>" class="storyImage"/>
                </li>
                <li style="background-color:#000000">
                  <img src="/stylesheets/images/content/sample_story_1.jpg" alt="<%= t('screens.admin.story_appearance.test_story_2') %>" class="storyImage"/>
                </li>
              </ul>
            </div>
          <%- else -%>
            <%= render :partial => 'homepage/stories', :locals => { :stories => @stories,
                                                                    :config => CurrentDomain.theme.stories } %>
          <%- end -%>
        </div>
      </div>
    </div>
    <div id="gridSidebar">
    </div>
  </div>
</div>

<% content_for :templates do %>
  <%= render(:partial => 'templates/grid_sidebar') %>
<% end %>

<% content_for :js_footer do %>
  <script type="text/javascript">
    blist.namespace.fetch('blist.publish');
    blist.publish.currentTheme = <%= raw json_escape(@story_theme.to_json) %>;
  </script>

  <%= include_webpack_bundle 'open-data/admin-stories-appearance.js' %>
<% end %>

<% content_for :translations do %>
  <%= render_translations LocalePart.screens.ds %>
  <%= render_translations LocalePart.screens.admin.story_appearance %>
<% end %>
