<% content_for :head do %>
  <title><%= t(FeatureFlags.derive(@view, request).enable_teams ? 'screens.admin.users.teams_title' : 'screens.admin.users.title') %> | <%= get_site_title %></title>
  <%= rendered_stylesheet_tag 'styleguide' %>
  <%= rendered_stylesheet_tag 'admin-users-v2' %>
<% end %>

<% admin_breadcrumb(FeatureFlags.derive(@view, request).enable_teams ? 'screens.admin.users.teams_title' : 'screens.admin.users.title') %>

<% @site_chrome_admin_header_options = {size: 'small'} %>

<div id="app">
  <div id="initial-spinner-container">
    <span class="spinner-default spinner-large"></span>
  </div>
</div>

<script type="text/javascript">window.jquery = window.jQuery;</script>
<%= render_admin_users_v2_data %>
<%= include_webpack_bundle 'shared/adminUsersV2' %>
<%= render_translations LocalePart.screens.admin.users %>
