<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-view-moderation' %>
  <title><%= t('screens.admin.view_moderation.view_moderation') %> | <%= get_site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <%= link_to t('core.no_js'), '?no_js=true' %>
<% end %>

<% content_for :breadcrumb do %>
  <%= t('screens.admin.view_moderation.view_moderation') %>
<% end %>

<%= render '/administration/left_nav' %>

<div id="viewsContent" class="contentBox withLeftNavigation">
  <div class="adminHeader viewmoderation">
    <span class="icon"></span>
    <h1><%= t('screens.admin.view_moderation.view_moderation') %></h1>
  </div>

  <%= display_standard_flashes %>

  <div class="datasetsList content">
    <%= render_browse(@processed_browse) %>
  </div>
</div>

<%= render_admin_qualtrics %>
