<div class="browse2-results-sort-controls-container">
  <div class="browse2-results-sort-controls">
    <div class="browse2-results-sort-control-group">
      <label for="browse2-sort-type" class="browse2-results-sort-control-type-label">
        <%= t('controls.browse.browse2.sort.label') %>
      </label>
      <div class="browse2-results-sort-control-container">
        <select id="browse2-sort-type" class="browse2-results-sort-control">
        <%- sort_opts.each do |sort_option| -%>
          <%- next if !sort_option[:requires].nil? && opts[sort_option[:requires]].nil? -%>
          <option value="<%= sort_option[:value] %>" class="<%= 'timePeriod' if sort_option[:is_time_period] %>"
            <%== 'selected="selected"' if sort_option[:value] == opts[:sortBy] %>><%= sort_option[:name] %></option>
        <%- end -%>
        </select>
        <span class="browse2-results-sort-control-icon icon-arrow-down"></span>
      </div>
    </div>
  </div>
</div>
