<%- fieldsets.each do |fieldset| -%>
  <%- next if fieldset.hidden -%>
  <div class="customFieldsetWrapper">
    <h2>
      <a href="#Toggle" class="toggleFieldsetLink expander expanded">
        <span class="icon"></span>
        <%= fieldset.name %>
      </a>
    </h2>
    <%- existing_fields = (meta_fields &&
          meta_fields.assoc(fieldset.name)) ?
          meta_fields.assoc(fieldset.name)[1] : {} -%>

    <div class="customFieldset">
      <%- (fieldset.fields || []).each do |field| -%>
        <%- required       = field['required'].present?
            md_field       = field['private'].present? ? 'privateMetadata' : 'metadata'
            type           = field['type'] || 'text'
            existing_value = existing_fields[field.name] || '' -%>

        <div class="line clearfix<%= ' validateOptions' if type == 'fixed' %>">
        <%-
          form_name = "view[#{md_field}][custom_fields][#{fieldset.name}][#{field.name}]"
          form_id = sanitize_to_id form_name
        -%>
          <%= label_tag(form_name, field.name, class: required && 'required') %>

          <%- if type == 'fixed' -%>
            <%- options  = (['']+field['options']+[existing_value]).uniq
                disabled = field['options'].include?(existing_value) || existing_value.empty? ? [] : [existing_value] -%>
            <%= select_tag(form_name, options_for_select(options, selected: existing_value, disabled: disabled),
                           :class => required && 'required') %>
          <%- else -%>
            <%= text_field_tag(form_name, existing_value, :class => required && 'required') %>
          <%- end -%>
          <%- if field['private'].present? -%>
            <div class="additionalHelp"><%= t('screens.edit_metadata.private_help') %></div>
          <%- end -%>
        </div>
      <%- end -%>
    </div>
  </div>
<%- end -%>
