<div class="datasetPermissions commonForm">
  <%- unless FeatureFlags.derive(nil, request).enable_new_dataset_sharing_ux -%>
    <div class="formSection">
      <p class="formHeader">
        <%= t('screens.ds.grid_sidebar.permissions.status_html', visibility: (@view.is_public? ? t('core.visibility.public').capitalize : t('core.visibility.private').capitalize)) %>
      </p>
      <div class="sectionContent togglePermissionsForm">
        <div class="line inputFirst">
          <div class="inputWrapper">
            <input type="radio" id="public" name="dataset-public"
                  <%= raw('checked="checked"') if @view.is_public? %>
                  class="toggleDatasetPermissions" value="makePublic"/>
          </div>
          <label for="public">
            <%= t('core.visibility.public').capitalize %>
            <span id="manage-permissions-approval-message"><%= t('core.visibility.approval_message') %></span>
          </label>
        </div>
        <div class="line inputFirst">
          <div class="inputWrapper">
            <input type="radio" id="private" name="dataset-public"
                  <%= raw('checked="checked"') unless @view.is_public? %>
                  class="toggleDatasetPermissions" value="makePrivate" />
          </div>
          <label for="private"><%= t('core.visibility.private').capitalize %></label>
        </div>
      </div>
    </div>
  <%- end -%>

  <%- disabled_features = @view.disabled_features -%>
  <%- unless disabled_features.blank? || @view.is_api? -%>
    <div class="formSection disabledFeatureFlags">
      <p class="formHeader"><%= t('screens.ds.grid_sidebar.permissions.features_html') %></p>
      <div class="sectionContent">
        <%- disabled_features.each do |feature| -%>
          <div class="line clearfix">
            <label for="<%= feature[:key] %>">
              <%= t("core.features.#{feature[:key]}") %></label>
            <span class="inputWrapper">
              <span>
                <input type="checkbox"
                  <%= feature[:disabled].present? ? '' : raw('checked="checked"') %>
                  name="<%= feature[:key] %>"
                  id="<%= feature[:key] %>"
                  value="<%= feature[:key] %>">
              </span>
            </span>
          </div>
        <%- end -%>
      </div>
    </div>
  <%- end -%>
  <div class="flash sharingFlash"></div>
</div>
