<% content_for :head do %>
  <title><%= @view.name %> | <%= get_site_title %></title>

  <!--  We dont use the default view_meta_description (EN-5265) -->
  <%= meta_tags :description => meta_description, :keywords => view_meta_keywords %>

  <%= rendered_stylesheet_tag 'dataset-landing-page-colocate' %>
<% end %>

<div class="colocate-page">
  <div id="app">
    <div class="spinner-default spinner-large"></div>
    <div class="main-spinner"></div>
    <div id="dynamic-content"></div>
  </div>
</div>

<% content_for :scripts do %>
  <%= render_dataset_landing_page_translations %>

  <%= render_dataset_landing_page_session_data %>
  <%= render_dataset_landing_page_server_config %>

  <script type="text/javascript">
    var initialState =
      <%= raw({
        :view => @dataset_landing_page_view
      }.to_json)%>
   ;
  </script>
  <%== render_asset_browser_initial_state %>
  <%= include_webpack_bundle 'shared/datasetLandingPageColocate' %>

  <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?render=explicit" async></script>
<% end %>
