
<% content_for :head do %>
  <title><%= t("#{@il8n_prefix}.title") %></title>
  <%= render_dataset_management_ui_server_config(nil, @data_asset, @deleted_at) %>
  <%= rendered_stylesheet_tag 'dataset-new-dsmui' %>
<% end %>

<div id="new-dsmui" class="container">

  <div id="generic-modal" class="modal modal-overlay">
    <div class="modal-container">
      <div id="error-message" class="alert error"><%= raw(t('dataset_management_ui.create.errors.unknown')) %></div>
      <header class="modal-header">
        <h1 class="h1 modal-header-title">
          <%= t("#{@il8n_prefix}.header") %>
        </h1>
        <div class="modal-header-subtitle"><%= t("#{@il8n_prefix}.explanation") %></div>
      </header>

      <form id="dataset-form">
        <section class="modal-content">
          <input id="dataset-title-input"
                  class="text-input []"
                  type="text"
                  aria-label="<%= t("#{@il8n_prefix}.placeholder") %>"
                  placeholder="<%= t("#{@il8n_prefix}.placeholder") %>"
                  autofocus>
        </section>

        <footer class="modal-actions">
          <input type="submit"
                  id="create-text"
                  class="btn btn-primary btn-lg btn-block"
                  value="<%= t("#{@il8n_prefix}.title") %>" />
          <button id="create-text-disabled"
                  class="btn btn-primary btn-lg btn-block"
                  disabled />
            <%= t("#{@il8n_prefix}.title") %>
          </button>
          <button id="create-spinner"
                  class="btn btn-primary btn-lg btn-block btn-busy"
                  onClick="return false;">
            <span class="spinner-default spinner-btn-primary" />
            <span class="spinner-label">
                <%= t("#{@il8n_prefix}.title") %>
            </span>
          </button>
        </footer>
      </form>
    </div>
  </div>
</div>

<%= include_webpack_bundle 'open-data/dataset-new-dsmui.js' %>
