<%
if @edit_mode
  @site_chrome_admin_header_options = {size: 'small'}
  @body_classes = 'hide-site-chrome'
end
%>

<% content_for :head do %>
  <title><%= @view.name %> | <%= get_site_title %></title>
  <%= meta_tags :description => view_meta_description, :keywords => view_meta_keywords %>

  <%= rendered_stylesheet_tag 'op-measure' %>
<% end %>

<div id="app" class="op-measure">
  <div class="placeholder-wrapper">
    <div class="main-spinner">
      <div class="spinner-default spinner-large"></div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript" id="op-measure-initial-state">
    window.socrata = window.socrata || {};
    window.socrata.opMeasure = <%== op_measure_initial_state.to_json %>;
  </script>

  <%= render_feature_flags_for_javascript %>
  <%= render_op_measure_translations %>
  <%= render_op_measure_server_config %>
  <%= render_op_measure_session_data %>

  <%= include_webpack_bundle 'shared/opMeasure' %>
<% end %>
