<%= form_tag(view.href) %>
  <dl class="summaryList">
    <dt>
      Licensing
    </dt>
    <dd>
      <div class="itemContent">
        <div>
          <%= select_tag("view[licenseId]", license_select_options(h(view.licenseId.nil? ? '' : view.licenseId))) %>
          <span class="helpie" title="Choose licensing terms for people who wish to use this dataset.">?</span>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="summaryList<%= (view.licenseId.nil? || !view.licenseId.match(/CC/)) ? " hide" : "" %>">
    <dt>
      License Type
    </dt>
    <dd>
      <div class="itemContent">
        <div>
          <%= select_tag("license_cc_type", creative_commons_select_options(h(view.licenseId.nil? ? '' : view.licenseId))) %>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="summaryList">
    <dt>
      Data Provided By
    </dt>
    <dd>
      <div class="itemContent">
        <div>
          <%= text_field_tag("view[attribution]", h(view.attribution), :title => "Individual or Organization", :class => "textPrompt") %>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="summaryList">
    <dt>
      Source Link
    </dt>
    <dd>
      <div class="itemContent">
        <div>
          <%= text_field_tag("view[attributionLink]", h(view.attributionLink), :title => "Enter Web Address", :class => "textPrompt") %>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="summaryList submitActionRow">
    <dt>&nbsp;</dt>
    <dd>
      <div class="itemContent">
        <ul class="submitActions">
          <li>
            <ul class="actionButtons">
              <li><a id="attributionEditSubmitButton" class="arrowButton" href="#submit">Save</a></li>
            </ul>
          </li>
          <li><a class="closeAttributionLink" href="#close">Close</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</form>