<table id='blistList' class='gridList selectableList' cellspacing="0">
  <colgroup>
    <col class='handle' />
    <col class='favorite' />
    <col class='type' />
    <col class='name' />
    <col class='description' />
    <col class='owner' />
    <col class='lastUpdated' />
  </colgroup>
  <thead>
    <tr>
      <th class='handle first'><div></div></th>
      <th class='favorite' title='Favorite?'><div>Favorite?</div></th>
      <th class='type' title='Type'><div>Type</div></th>
      <th class='name'><div>Name</div></th>
      <th class='description'><div>Description</div></th>
      <th class='owner'><div>Owner</div></th>
      <th class='lastUpdated last'><div>Last&nbsp;Updated</div></th>
    </tr>
  </thead>
  <tbody>
    <% blist_parents = Hash.new %>
    <% for blist in @blists %>
      <%
        if blist.is_blist?
          blist_parents[blist.blistId.to_s] = true
        end %>
        <%- item_class = (!blist.is_blist? && blist_parents[blist.blistId.to_s]) ?
          "child child-of-blistRow-#{blist.blistId}" : '' -%>
      <tr <%= blist.is_blist? ? "id='blistRow-#{blist.blistId}'" : '' %>
        blist_id='<%= blist.id %>' class='item <%= item_class %>'>
        <%- 
          favorite_action = blist.flag?("favorite") ? 
            delete_favorite_blist_url(blist.id) : create_favorite_blist_url(blist.id) 
          favorite_action_text = blist.flag?("favorite") ? "Remove from favorites" : "Add to favorites"
        -%>
        <td class='noselect handle first'><div>
          <a href="#open_menu" class="dropdownLink menuHandle">Blist Menu</a>
          <%= menu_tag({'id' => "itemMenu-#{blist.id}", 'class' => 'blistItemMenu',
            'items' => [
              {'text' => 'Open', 'class' => 'open', 'href' => blist_url(blist.id)},
              {'text' => favorite_action_text, 'class' => 'addFavorite favoriteLink', 'href' => favorite_action},
              {'text' => 'Rename', 'class' => 'rename renameLink', 'href' => blist_url(blist.id)},
              {'text' => 'Delete', 'class' => 'delete', 'href' => '#delete'}
            ]
          }) %>
        </div></td>
        <td class='favorite <%= blist.flag?('favorite') %>'><div>
          <%= link_to(blist.flag?("favorite") ? "favorite" : "", favorite_action, :class => "favoriteMarker") %>
        </div></td>
        <td class='type'><div class="<%=
          get_share_direction_icon_class_for_view(blist) %>">
          <%= get_type_string_for_view(blist) %>
        </div></td>
        <td class='noselect name clipText'>
          <%= link_to(h(blist.name), blist_url(blist.id)) %>
          <% form_tag(blist_url(blist.id)) do %>
            <%= text_field_tag("view_#{blist.id}[name]", h(blist.name)) %>
            <%= image_submit_tag("submit_button_mini.png", :title => "Rename") %>
          <% end %>
        </td>
        <td class='description clipText'><div><%= h(blist.description) %></div></td>
        <td class='owner'><div><%= h(blist.owner.displayName) %></div></td>
        <td class='lastUpdated last'><div>
            <%= blist_date(blist.rowsUpdatedAt) || blist_date(blist.createdAt) %>
        </div></td>
      </tr>
    <% end %>
  </tbody>
</table>
