<%-
  blist = blists_row
  counter = blists_row_counter

  blist_group_heading = @group_heading
  if (counter == 0)
    blist_group_heading = humane_date(blist.last_activity, HumaneDateHelper::HUMANE_DATE_GRANULARITY[:day])
  end
-%>

<%- if (blist_group_heading.nil? || (blist_group_heading != @group_heading)) 
      @group_heading = blist_group_heading
-%>
  <tr class="sortGroup">
    <td colspan="7"><div><%= blist_group_heading %></div></td>
  </tr>
<%- end -%>

<%- item_class = (counter > 0) ? "child child-of-blistRow-#{blist.tableId}" : '' -%>
<tr <%= blist.is_blist? ? "id='blistRow-#{blist.tableId}'" : '' %>
  blist_id='<%= blist.id %>' class='item <%= item_class %>'>
  <%-
    if blist.flag?("favorite")
      favorite_action = "/blists/#{blist.id}/delete_favorite"
      favorite_action_text = "Remove from favorites"
    else
      favorite_action = "/blists/#{blist.id}/create_favorite"
      favorite_action_text = "Add to favorites"
    end
  -%>
  <td class='noselect handle first'><div>
    <a href="#open_menu" class="dropdownLink menuHandle" title="Open menu">Blist Menu</a>
    <%= menu_tag({'id' => "itemMenu-#{blist.id}", 'class' => 'blistItemMenu',
      'items' => [
        {'text' => 'Open', 'class' => 'open', 'href' => blist.href},
        {'text' => favorite_action_text, 'class' => 'addFavorite favoriteLink', 'href' => favorite_action},
        {'text' => 'Rename', 'class' => 'rename renameLink', 'href' => blist.href},
        {'text' => 'Delete', 'class' => 'delete', 'href' => "/blists/#{blist.id}" }
      ]
    }) %>
  </div></td>
  <td class='favorite <%= blist.flag?('favorite') %>'><div>
  <a href="<%= favorite_action %>" class="favoriteMarker"><%= blist.flag?("favorite") ? "favorite" : "" %></a>
  </div></td>
  <td class='type'><div class="<%=
    get_share_direction_icon_class_for_view(blist) %>">
    <%= get_type_string_for_view(blist) %>
  </div></td>
  <td class='name'>
  <div class="clipText"><a href="<%= blist.href %>" title="<%= h(blist.name) %>"><%= h(blist.name) %></a></div>
  <form action="<%= blist.href %>" class="noselect" method="post">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
      <input id="view_<%= blist.id %>_name" name="view_<%= blist.id %>[name]" type="text" value="<%= h(blist.name) %>"/>
      <input src="/images/submit_button_mini.png" title="Rename" type="image" />
    </form>
  </td>
  <td class='description'><div class="clipText"
      title='<%= h(blist.description) %>'><%= h(blist.description) %></div></td>
  <td class='owner'><div><%= h(blist.owner.displayName) %></div></td>
  <td class='lastUpdated last'><div>
      <%= blist_date(blist.last_activity) %>
  </div></td>
</tr>
