<%-
  blist = blists_row
  counter = blists_row_counter

  blist_group_heading = @group_heading
  if (counter == 0)
    blist_group_heading = humane_date(blist_date(blist.last_activity), HumaneDateHelper::HUMANE_DATE_GRANULARITY[:day])
  end
-%>

<%- if (blist_group_heading.nil? || (blist_group_heading != @group_heading)) 
      @group_heading = blist_group_heading
-%>
  <tr class="sortGroup">
    <td colspan="7"><div><%= blist_group_heading %></div></td>
  </tr>
<%- end -%>

<%- item_class = (counter > 0) ? "child child-of-blistRow-#{blist.blistId}" : '' -%>
<tr <%= blist.is_blist? ? "id='blistRow-#{blist.blistId}'" : '' %>
  blist_id='<%= blist.id %>' class='item <%= item_class %>'>
  <%-
    favorite_action = blist.flag?("favorite") ? 
      delete_favorite_blist_url(blist.id) : create_favorite_blist_url(blist.id) 
    favorite_action_text = blist.flag?("favorite") ? "Remove from favorites" : "Add to favorites"
  -%>
  <td class='noselect handle first'><div>
    <a href="#open_menu" class="dropdownLink menuHandle" title="Open menu">Blist Menu</a>
    <%= menu_tag({'id' => "itemMenu-#{blist.id}", 'class' => 'blistItemMenu',
      'items' => [
        {'text' => 'Open', 'class' => 'open', 'href' => blist_url(blist.id)},
        {'text' => favorite_action_text, 'class' => 'addFavorite favoriteLink', 'href' => favorite_action},
        {'text' => 'Rename', 'class' => 'rename renameLink', 'href' => blist_url(blist.id)},
        { 'text' => 'Delete', 'class' => 'delete', 'href' => '#delete' }
      ]
    }) %>
  </div></td>
  <td class='favorite <%= blist.flag?('favorite') %>'><div>
    <%= link_to(blist.flag?("favorite") ? "favorite" : "", favorite_action, :class => "favoriteMarker") %>
  </div></td>
  <td class='type'><div class="<%=
    get_share_direction_icon_class_for_view(blist) %>">
    <%= get_type_string_for_view(blist) %>
  </div></td>
  <td class='name'>
    <div class="clipText"><%= link_to(h(blist.name),
      blist_url(blist.id), {:title => h(blist.name)}) %></div>
    <% form_tag(blist_url(blist.id), :class => "noselect") do %>
      <%= text_field_tag("view_#{blist.id}[name]", h(blist.name)) %>
      <%= image_submit_tag("submit_button_mini.png", :title => "Rename") %>
    <% end %>
  </td>
  <td class='description'><div class="clipText"
      title='<%= h(blist.description) %>'><%= h(blist.description) %></div></td>
  <td class='owner'><div><%= h(blist.owner.displayName) %></div></td>
  <td class='lastUpdated last'><div>
      <%= blist_date(blist.last_activity) %>
  </div></td>
</tr>
