<table id='blistList' class='selectableList' cellspacing="0">
  <thead>
    <tr>
      <th class='handle'><div></div></th>
      <th class='favorite' title='Favorite?'><div>Favorite?</div></th>
      <th class='type' title='Type'><div>Type</div></th>
      <th class='name'><div>Name</div></th>
      <th class='description'><div>Description</div></th>
      <th class='owner'><div>Owner</div></th>
      <th class='lastUpdated'><div>Last&nbsp;Updated</div></th>
    </tr>
  </thead>
  <tbody>
    <% blist_parents = Hash.new %>
    <% for blist in @blists %>
      <%
        if blist.isDefault
          blist_parents[blist.blistId.to_s] = true
        end %>
      <tr <%= blist.isDefault ? "id='blistRow-#{blist.blistId}'" : '' %>
        blist_id='<%= blist.id %>' class='item
        <%= (!blist.isDefault && blist_parents[blist.blistId.to_s]) ?
          "child child-of-blistRow-#{blist.blistId}" : '' %>'>
        <td class='handle'><div></div></td>
        <%# TODO: Get favorite from data when available %>
        <% isFavorite = blist.isDefault ? 'false' : 'true' %>
        <td class='favorite <%= isFavorite %>'><div>
            <%= isFavorite == 'true' ? '*' : '' %></div></td>
        <% blistType = blist.isDefault ? 'blist' : 'filter' %>
        <td class='type <%= blistType %>'><div><%= blistType %></div></td>
        <td class='name'><%= link_to blist.name,
          { :controller => 'blists', :action => 'show', :id => blist.id } %></td>
        <td class='description'><div><%= blist.description %></div></td>
        <%# TODO: This needs to get users from a cache if possible %>
        <% owner = User.find(blist.ownerId).displayName %>
        <td class='owner'><div><%= owner %></div></td>
        <td class='lastUpdated'><div><%= blist.dataUpdatedAt ?
            Time.at(blist.dataUpdatedAt/1000).strftime("%b %d, %Y") : '' %>
          </div></td>
      </tr>
    <% end %>
  </tbody>
</table>
