<table id='blistList' class='selectableList' cellspacing="0">
  <colgroup>
    <col class='handle' />
    <col class='favorite' />
    <col class='type' />
    <col class='name' />
    <col class='description' />
    <col class='owner' />
    <col class='lastUpdated' />
  </colgroup>
  <thead>
    <tr>
      <th class='handle first'><div></div></th>
      <th class='favorite' title='Favorite?'><div>Favorite?</div></th>
      <th class='type' title='Type'><div>Type</div></th>
      <th class='name'><div>Name</div></th>
      <th class='description'><div>Description</div></th>
      <th class='owner'><div>Owner</div></th>
      <th class='lastUpdated last'><div>Last&nbsp;Updated</div></th>
    </tr>
  </thead>
  <tbody>
    <% blist_parents = Hash.new %>
    <% for blist in @blists %>
      <%
        if blist.flag?('default')
          blist_parents[blist.blistId.to_s] = true
        end %>
        <%- item_class = (!blist.flag?('default') && blist_parents[blist.blistId.to_s]) ?
          "child child-of-blistRow-#{blist.blistId}" : '' -%>
      <tr <%= blist.flag?('default') ? "id='blistRow-#{blist.blistId}'" : '' %>
        blist_id='<%= blist.id %>' class='item <%= item_class %>'>
        <td class='handle'><div></div></td>
        <% isFavorite = blist.flag?('favorite') ? 'true' : 'false' %>
        <td class='favorite <%= isFavorite %>'><div>
            <%= isFavorite == 'true' ? '*' : '' %></div></td>
        <% blistType = blist.flag?('default') ? 'blist' : 'filter' %>
        <td class='type <%= blistType %>'><div><%= blistType %></div></td>
        <td class='name'><%= link_to blist.name,
          { :controller => 'blists', :action => 'show', :id => blist.id } %></td>
        <td class='description'><div><%= blist.description %></div></td>
        <%# TODO: This needs to get users from a cache if possible %>
        <% owner = !blist.owner.nil? ? User.find(blist.owner.id).displayName : '' %>
        <td class='owner'><div><%= owner %></div></td>
        <td class='lastUpdated'><div><%= blist.rowsUpdatedAt ?
            Time.at(blist.rowsUpdatedAt/1000).strftime("%b %d, %Y") : '' %>
          </div></td>
      </tr>
    <% end %>
  </tbody>
</table>
