<table id='blistList' class='selectableList' cellspacing="0">
  <thead>
    <tr>
      <th class='handle'></th>
      <th class='favorite' title='Favorite?'>Favorite?</th>
      <th class='type' title='Type'>Type</th>
      <th class='name'>Name</th>
      <th class='description'>Description</th>
      <th class='owner'>Owner</th>
      <th class='lastUpdated'>Last&nbsp;Updated</th>
    </tr>
  </thead>
  <tbody>
    <% for blist in @blists %>
      <tr class='item' blist_id='<%= blist.id %>'>
        <td class='handle'><div></div></td>
        <%# TODO: Get favorite from data when available %>
        <td class='favorite'><div><%= blist['favorite'] ? '*' : '' %></div></td>
        <% blistType = blist.isDefault ? 'blist' : 'filter' %>
        <td class='type <%= blistType %>'><div><%= blistType %></div></td>
        <td class='name'><div><%= blist.name %></div></td>
        <td class='description'><div><%= blist.description %></div></td>
        <%# TODO: This needs to get users from a cache if possible %>
        <td class='owner'><div>
            <%# This is disabled until User takes an ID again User.find(blist.lensUserId).displayName %></div></td>
        <%# TODO: Get last updated from data when available %>
        <td class='lastUpdated'><div><%= blist['lastUpdatedDate'] %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>
