<div id='comment_<%= comment.id %>'
  class='childWrapper <%= local_assigns[:wrapper_class] %>'>
  <div class='childComment'>
    <div class='author'>
      <%= comment.user.displayName %>
      <%- user_title = view.user_role(comment.user.id) -%>
      <%- if !user_title.blank? -%>
      <span>(<%= user_title %>)</span>
      <%- end -%>
    </div>
    <div class='dateLine'>
      <%= blist_long_date(comment.createdAt) %>
      <span>(<%= friendly_relative_time(comment.createdAt) %>)</span>
    </div>
    <p class='commentBody'><%= comment.body %></p>
    <%= render(:partial => 'blists/comment_actions',
    :locals => {:comment => comment, :view => view,
      :allow_commenting => allow_commenting}) %>
  </div>
</div>
