<%- if !comment.body.blank? -%>
<li id='comment_<%= comment.id %>' class='comment clearfix'>
<div class='userInfo'>
  <div class='primaryInfo'>
    <%= image_tag(comment.user.profile_image_path("small"), :size => "24x24",
      :alt => h(comment.user.displayName)) %>
    <h5><%= h(comment.user.displayName) %></h5>
    <span><%= h(comment.user.title) %></span>
    <span><%= h(comment.user.company) %></span>
  </div>
  <div class='secondaryInfo'>
    <span><%= view.user_role(comment.user.id) %></span>
  </div>
</div>
<div class='commentBlock'>
  <div class='cornerTL'><div class='cornerTR'>
      <div class='cornerBR'><div class='cornerBL'>
          <%= get_comment_rating_html(comment) %>
          <h4><%= h(comment.title) %></h4>
          <div class='dateLine'>
            <%= blist_long_date(comment.createdAt) %>
            <span>(<%= friendly_relative_time(comment.createdAt) %>)</span>
          </div>
          <p class='commentBody'><%= h(comment.body) %></p>
          <%= render(:partial => 'comment_actions',
          :locals => {:comment => comment, :view => view}) %>

          <%- form_tag(post_comment_blist_url(view.id),
            :class => ('replyComment postComment hidden' +
            (current_user.nil? ? ' doFullReq' : ''))) do -%>

          <%= hidden_field_tag('comment[parent][id]', comment.id,
          :class => 'parentInput') %>
          <div class='commentBody'>
            <%= text_area_tag("comment[body]", '',
            {:class => 'textPrompt', :title => 'Enter a reply'}) %>
          </div>

          <div class='submitSection'>
            <a href='#cancel_comment'>Cancel</a>
            <%- comment_submit_path = is_gov_site? ?
            "gov/button_submit_comment.png" : "button_submit_comment.png" -%>
            <%= image_submit_tag(comment_submit_path, :title => "Submit") %>
          </div>
          <%- end -%>

          <%- comment_children = Array.new(comment.children || 0) -%>
          <a class='expander expanded
            <%= comment_children.length < 1 ? 'hidden' : '' %>'
            title='Toggle replies' href='#toggleReplies'>Toggle replies</a>

          <div class='childContainer <%= comment_children.length < 1 ?
            'hidden' : '' %>'>
            <div class='childCollapsed'>View replies...</div>

            <%- is_first = true -%>
            <%- while !comment_children.empty? do -%>
            <%- child = comment_children.shift -%>
            <%= render(:partial => 'child_comment',
            :locals => {:comment => child, :view => view,
            :wrapper_class => is_first ? 'first' : ''}) %>
            <%- is_first = false -%>
            <%- comment_children.unshift(child.children).flatten! -%>
            <%- end -%>
          </div>
      </div></div>
  </div></div>
</div>
</li>
<%- end -%>
