<%- unless comment.body.blank? && comment.title.blank? -%>
<li id='comment_<%= comment.id %>' class='comment <%= comment.user.id == view.owner.id ? "ownerComment" : "" %> clearfix'>
<div class='userInfo'>
  <div class='primaryInfo'>
    <a href="<%= comment.user.href %>">
      <%= image_tag(comment.user.profile_image_path("small"), :size => "24x24",
        :alt => h(comment.user.displayName)) %>
      <h5><%= comment.user.displayName %></h5>
    </a>
    <span><%= comment.user.title %></span>
    <span><%= comment.user.company %></span>
  </div>
  <div class='secondaryInfo'>
    <span><%= view.user_role(comment.user.id) %></span>
  </div>
</div>
<div class='commentBlock'>
  <div class='cornerOuter'>
  <div class='cornerTL'><div class='cornerTR'>
      <div class='cornerBR'><div class='cornerBL'>
          <%= get_comment_rating_html(comment) %>
          <h4><%= comment.title %></h4>
          <div class='dateLine'>
            <%= blist_long_date(comment.createdAt) %>
            <span>(<%= friendly_relative_time(comment.createdAt) %>)</span>
          </div>
        <%- unless comment.body.blank? -%>
          <p class='commentBody'><%= comment.body %></p>
        <%- end -%>

          <%= render(:partial => 'blists/comment_actions',
            :locals => {:comment => comment, :view => view,
              :allow_commenting => allow_commenting}) %>

          <%- comment_children = Array.new(comment.children || 0).
                sort {|a, b| a.createdAt <=> b.createdAt} -%>
          <a class='expander expanded
            <%= comment_children.length < 1 ? 'hidden' : '' %>'
            title='Toggle replies' href='#toggleReplies'>Toggle replies</a>

          <div class='childContainer <%= comment_children.length < 1 ?
            'hidden' : '' %>'>
            <div class='childCollapsed'>View replies...</div>

            <%- is_first = true -%>
            <%- while !comment_children.empty? do -%>
            <%- child = comment_children.shift -%>
            <%= render(:partial => 'blists/child_comment',
            :locals => {:comment => child, :view => view,
            :wrapper_class => is_first ? 'first' : '',
            :allow_commenting => allow_commenting}) %>
            <%- is_first = false -%>
            <%- children = Array.new(child.children || 0).
                sort {|a, b| a.createdAt <=> b.createdAt} -%>
            <%- comment_children = comment_children.
              unshift(children).flatten.compact -%>
            <%- end -%>
          </div>

          <%- if allow_commenting -%>
            <%- form_tag(post_comment_blist_path(view.id),
              :class => 'replyComment postComment hidden') do -%>
            <h4>Enter a Reply:</h4>

            <%= hidden_field_tag('comment[parent][id]', comment.id,
              :class => 'parentInput') %>
            <div class='commentBody'>
              <%= text_area_tag("comment[body]", '',
              {:class => 'textPrompt', :title => 'Enter a reply'}) %>
            </div>

            <div class='submitSection'>
              <a href='#cancel_comment'>Cancel</a>
              <%= image_submit_tag("button_submit_comment.png",
                :title => "Submit") %>
            </div>
            <%- end -%>
          <%- end -%>

      </div></div>
  </div></div>
  </div>
  <div class="commentArrow"></div>
</div>
</li>
<%- end -%>
