<li class='comment clearfix'>
<div class='userInfo'>
  <div class='primaryInfo'>
    <%= image_tag(comment.user.profile_image_path("small"), :size => "24x24",
      :alt => h(comment.user.displayName)) %>
    <h5><%= h(comment.user.displayName) %></h5>
    <span><%= h(comment.user.title) %></span>
    <span><%= h(comment.user.company) %></span>
  </div>
  <div class='secondaryInfo'>
    <span><%= view.user_role(comment.user.id) %></span>
    <%= get_user_rating_html(comment.user.id, view) %>
  </div>
</div>
<div class='commentBlock'>
  <div class='cornerTL'><div class='cornerTR'>
      <div class='cornerBR'><div class='cornerBL'>
          <h4><%= h(comment.title) %></h4>
          <div class='dateLine'>
            <%= blist_long_date(comment.createdAt) %>
            <span>(<%= friendly_relative_time(comment.createdAt) %>)</span>
          </div>
          <p class='commentBody'><%= h(comment.body) %></p>
          <div class='actions'>
            <%- form_tag(update_comment_blist_url(view.id),
              :class => 'updateComment') do -%>
            <%- if comment.user.id != current_user.id -%>
            <a class='flagComment <%= comment.flag?("flaggedByCurrentUser") ?
              'actionDone' : '' %>' href='#flagComment_<%= comment.id %>'>
              <%= comment.flag?("flaggedByCurrentUser") ?
              'Flagged' : 'Flag as Inappropriate' %>
            </a>
            <a class='rateComment rateUp <%= comment.rated? ? 'actionDone' : '' %>
              <%= comment.rated_down? ? 'disabled' : '' %>'
              href='#rateUp_<%= comment.id %>' title='Thumbs Up'>
              Thumbs Up
            </a>
            <a class='rateComment rateDown <%= comment.rated? ? 'actionDone' : '' %>
              <%= comment.rated_up? ? 'disabled' : '' %>'
              href='#rateDown_<%= comment.id %>' title='Thumbs Down'>
              Thumbs Down
            </a>
            <%- end -%>
            <span class='ratingUp <%= comment.upRatings < 1 ? 'hidden' : '' %>'>
              +<%= comment.upRatings %>
            </span>
            <span class='ratingDown <%= comment.downRatings < 1 ? 'hidden' : '' %>'>
              -<%= comment.downRatings %>
            </span>
            <%- end -%>
          </div>
      </div></div>
  </div></div>
</div>
</li>
