<%- 
  # See what fields they haven't populated. If none, there's no point in showing this pane
  domain_fields = CurrentDomain.configuration.custom_dataset_metadata || []
  
  if view.metadata && view.metadata.custom_fields
    used_fields = view.metadata.custom_fields.keys
  else
    used_fields = []
  end

  available_fields = domain_fields - used_fields
-%>
<%- if available_fields.present? -%>
<%= hidden_field_tag 'availableCustomFields', available_fields.to_json %>
<div class="customFieldAddHint">
  <dl class="<%= dl_class %> actionList">
    <dt>More Fields...</dt>
    <dd>
      <div class="itemContent">
        <span class="textContent">&nbsp;</span>
      </div>
      <%- if show_edit_link -%>
      <div class="itemActions">
        <a href="<%= view.href %>" class="action"><span>Edit</span></a>
      </div>
      <%- end -%>
    </dd>
  </dl>
</div>

<div class="customFieldAdd hide">
  <%- available_fields.each do |field| -%>
    <dl class="<%= dl_class %> actionList">
      <div class="customFieldAddItem customFieldEdit">
        <dt><%= h(field) %></dt>
        <dd>
          <div class="textDisplay">
            <div class="itemContent">
              <span class="textContent"><span>
            </div>
            <%- if show_edit_link -%>
            <div class="itemActions">
              <a href="<%= view.href %>" class="action"><span>Edit</span></a>
            </div>
            <%- end -%>
          </div>
          <div class="editFieldForm hide">
            <%= form_tag("/api/views/#{view.id}") %>
              <%= text_field_tag 'textValue', '', :class => 'textValue', :id => nil %>
              <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
              <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"), blists_path, :title => "Cancel", :class => "formCancelLink") %>
            </form>
          </div>
        </dd>
      </div>
    </dl>
  <%- end -%>
</div>
<%- end -%>
