<%# locals: view, page_single  %>
<%- 
  isDuplicateEnabled = false
-%>
<%- 
  expander_class = page_single ? "expander expanded" : "expander" 
  div_shown = page_single ? "style='display:block;'" : ""
-%>
<%- is_owner = current_user && view.owner.id == current_user.id -%>
<div class="header">
  <ul class="summaryTabs clearfix">
    <li id="tabSummary" class="summary active">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#summary">Summary</a>
      </div></div>
    </li>
    <li id="tabFiltered">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#filtered_views">Filtered Views</a>
      </div></div>
    </li>
    <li id="tabComments">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#comments">Comments</a>
      </div></div>
    </li>
    <li id="tabSharing">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#sharing_permissions">Sharing</a>
      </div></div>
    </li>
    <li id="tabPublishing">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#publishing">Publishing</a>
      </div></div>
    </li>
    <li id="tabActivity">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#activity">Activity</a>
      </div></div>
    </li>
  </ul>
</div>

<%# *** START: SUMMARY *** %>
<div class="infoContentOuter singleInfoSummary listContainer active<%= page_single ? ' expanded' : '' %>">
  <div class="infoContentHeader clearfix">
    <h2 title='<%= h(view.name) %>'
      class="panelHeader clipText <%= get_permissions_icon_class_for_view(view) %>
      <%= is_owner ? 'editItem' : '' %>">
      <div class='itemContent'>
        <span><%= page_single ? h(view.name) :
          link_to(h(view.name), view.href) %></span>
        <%- if is_owner -%>
        <%- form_tag(view.href) do -%>
        <%= hidden_field_tag("fieldType", "name") %>
        <%= text_field_tag("view[name]", h(view.name)) %>
        <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
        <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"),
        blists_url, :title => "Cancel", :class => "formCancelLink") %>
        <%- end -%>
        <%- end -%>
      </div>
      <%- if is_owner -%>
      <div class="itemActions">
        <a href="<%= view.href %>" class="action editLink"><span>Edit</span></a>
      </div>
      <%- end -%>
    </h2>

    <ul class="headerActions actionButtons">
      <%- unless (page_single) -%>
        <li><a href="<%= view.href %>" class="arrowButton">Open</a></li>
      <%- end -%>
<%- if isDuplicateEnabled -%>
      <li><a href="#duplicate">Duplicate</a></li>
<%- end -%>
      <%- if is_owner -%>
      <li class='swfItem'><a href="<%= "#{view.href}?popup=SharingEditor" %>"
        class="showFlashPopup">Share</a></li>
      <%- end -%>
    </ul>

    <%- if (!@current_user.nil?) -%>
      <%-
        if view.flag?("favorite")
          favorite_action = "/blists/#{view.id}/delete_favorite"
          favorite_action_text = "Remove from favorites"
        else
          favorite_action = "/blists/#{view.id}/create_favorite"
          favorite_action_text = "Add to favorites"
        end
      -%>
    <ul class="headerActions favoriteAction">
      <li class="favorite <%= view.flag?('favorite') %>">
        <a id="info-fav-<%=view.id%>" href="<%= favorite_action %>" title="<%= favorite_action_text %>"><%= favorite_action_text %></a>
      </li>
    </ul>
    <%- end -%>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>

      <dl class="summaryList <%= is_owner ? 'actionList' : '' %>">
        <dt>
          Description
        </dt>
        <dd class="editItem">
          <div class="itemContent">
            <span><%= h(view.description) %></span>
            <%- if is_owner -%>
            <%- form_tag(view.href) do -%>
              <%= hidden_field_tag("fieldType", "description") %>
              <%= text_field_tag("view[description]", h(view.description)) %>
              <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
              <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"), blists_url, :title => "Cancel", :class => "formCancelLink") %>
            <%- end -%>
            <%- end -%>
          </div>
          <%- if is_owner -%>
          <div class="itemActions">
            <a href="<%= view.href %>" class="action editLink"><span>Edit</span></a>
          </div>
          <%- end -%>
        </dd>
      </dl>

      <dl class="summaryList <%= is_owner ? 'actionList' : '' %>">
        <dt>
          Tags
        </dt>
        <dd class="editItem">
          <div class="itemContent">
            <span><%= h(view.tag_display_string) %></span>
            <%- if is_owner -%>
            <%- form_tag(view.href) do -%>
              <%= hidden_field_tag("fieldType", "tags") %>
              <%= text_field_tag("view[tags]", h(view.tag_display_string)) %>
              <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
              <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"), blists_url, :title => "Cancel", :class => "formCancelLink") %>
            <%- end -%>
            <%- end -%>
          </div>
          <%- if is_owner -%>
          <div class="itemActions">
            <a href="<%= view.href %>" class="action editLink"><span>Edit</span></a>
          </div>
          <%- end -%>
        </dd>
      </dl>

      <dl class="summaryList <%= is_owner ? 'actionList' : '' %>">
        <dt>
          Category
        </dt>
        <dd class="editItem">
          <div class="itemContent">
            <span><%= h(view.category.nil? ? '' : view.category.capitalize) %></span>
            <%- if is_owner -%>
            <%- form_tag(view.href) do -%>
              <%= hidden_field_tag("fieldType", "category") %>
              <%= select_tag("view[category]", category_select_options(h(view.category))) %>
              <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
              <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"), blists_url, :title => "Cancel", :class => "formCancelLink") %>
            <%- end -%>
            <%- end -%>
          </div>
          <%- if is_owner -%>
          <div class="itemActions">
            <a href="<%= view.href %>" class="action editLink"><span>Edit</span></a>
          </div>
          <%- end -%>
        </dd>
      </dl>

      <dl class="summaryList">
        <dt>
          Owner
        </dt>
        <dd>
          <div class="itemContent">
            <span><a href="<%= profile_url(view.owner.id) %>"><%= h(view.owner.displayName) %></a></span>
          </div>
        </dd>
      </dl>

      <dl class="summaryList">
        <dt>
          Created On
        </dt>
        <dd>
          <div class="itemContent">
            <span><%= blist_date(view.createdAt) %></span>
          </div>
        </dd>
      </dl>

      <dl class="summaryList actionList">
        <dt>
          Last Update
        </dt>
        <dd>
          <div class="itemContent">
            <span><%= up_user = view.last_updated_user
              h(up_user.nil? ? '' : up_user.displayName + ':') %>
              <%= blist_date(view.last_activity) %>
            </span>
          </div>
          <div class="itemActions">
            <a href="#tabActivity" class="action tabLink activity">
              <span>View Activity</span>
            </a>
          </div>
        </dd>
      </dl>

      <dl class="summaryList actionList">
        <dt>
          Filtered Views
        </dt>
        <dd>
          <div class="itemContent">
            <span><%= pluralize(view.filters.length, "filtered view") %></span>
          </div>
          <div class="itemActions">
            <a href="#tabFiltered" class="action tabLink filtered">
              <span>Details</span>
            </a>
          </div>
        </dd>
      </dl>
      <dl class="summaryList actionList">
        <dt>
          Community Activity
        </dt>
        <dd>
          <div class="itemContent">
            <ul>
              <li><%= pluralize(view.viewCount, " view") %></li>
              <li><%= pluralize(view.copyCount, "copy") %></li>
            </ul>
          </div>
          <div class="itemActions">
            <a href="#tabActivity" class="action tabLink activity">
              <span>View Activity</span>
            </a>
          </div>
        </dd>
      </dl>
      <dl class="summaryList actionList">
        <dt>
          Permalink
        </dt>
        <dd>
          <div class="itemContent">
            <span class="copyCode">
              <input name="permalink" type="text" value="<%= request.protocol + request.host_with_port + view.href %>"/>
            </span>
          </div>
        </dd>
      </dl>

      <dl class="summaryList permissions <%= is_owner ? 'actionList' : '' %>">
        <dt>
          Permissions
        </dt>
        <dd>
          <div class="itemContent">
            <span><%= view.is_public? ? 'Public' : 'Private' %></span>
          </div>
          <%- if is_owner -%>
          <div class="itemActions">
            <a href='#sharing' class="action tabLink sharing"><span>Edit</span></a>
          </div>
          <%- end -%>
        </dd>
      </dl>

      <dl class="summaryList actionList">
        <dt>
          Sharing
        </dt>
        <dd>
          <div class="itemContent">
            <ul>
              <li>
                <%= pluralize(view.contributor_users.length, 'Contributor') %>
              </li>
              <li>
                <%= pluralize(view.viewer_users.length, 'Viewer') %>
              </li>
              <%# Not supported
              <li>[3 Requests]</li>
              %>
            </ul>
          </div>
          <ul class="itemActions">
            <li><a href="#share" class="action tabLink sharing">
              <span>Share</span></a>
            </li>
            <%# Not supported
            <li><a href="#view_requests" class="action"><span>View Requests</span></a></li>
            %>
          </ul>
        </dd>
      </dl>

    </div> <!-- /.infoContent -->
  </div></div> <!-- /.infoContentInner -->
</div>
<%# *** END: SUMMARY *** %>

<%# *** START: FILTERED *** %>
<div class="infoContentOuter singleInfoFiltered">
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader">
      <%= pluralize(view.filters.length, "Filtered View") %>
    </h2>
    <%- if is_owner -%>
    <ul class="headerActions actionButtons swfItem">
      <li><%= link_to("Create", view.href + "?popup=SaveLens", :class => "arrowButton showFlashPopup") %></li>
    </ul>
    <%- end -%>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <div class="gridListContainer">
        <table class="gridList" cellspacing="0">
          <colgroup>
            <col class='handle' />
            <col class='favorite' />
            <col class='type' />
            <col class='name' />
            <col class='description' />
            <col class='picture' />
            <col class='owner' />
            <col class='viewed' />
            <col class='actionContainer' />
          </colgroup>
          <thead>
            <tr>
              <th class="handle first"><div></div></th>
              <th class="favorite" title="Favorite?"><div>Favorite?</div></th>
              <th class="type" title="Type"><div>Type</div></th>
              <th class="name"><div>Name</div></th>
              <th class="description"><div>Description</div></th>
              <th class="picture" title="Owner"><div></div></th>
              <th class="owner" title="Owner"><div>Owner</div></th>
              <th class="viewed"><div>Viewed</div></th>
              <th class="actionContainer last"></th>
            </tr>
          </thead>
          <tbody>
            <%- view.filters.each do |filter| -%>
              <tr class="item">
                <td class="handle"><div></div></td>
                <td class="favorite <%= filter.flag?('favorite') %>"><div>
                    <span class="favoriteMarker"><%= filter.flag?('favorite') ? "favorite" : "" %></span>
                </div></td>
                <td class="type"><div class="<%=
                  get_share_direction_icon_class_for_view(filter) %>">
                  <%= get_type_string_for_view(filter) %></div>
                </td>
                <td class="name"><div><%= link_to(h(filter.name), filter.href) %></div></td>
                <td class="description"><div><%= h(filter.description) %></div></td>
                <td class="picture"><a href='<%= profile_url(filter.owner.id) %>'>
                    <%= image_tag(filter.owner.profile_image_path,
                    :size => "24x24", :alt => h(filter.owner.displayName)) %>
                </a></td>
                <td class="owner">
                  <div class='clipText'>
                    <a href='<%= profile_url(filter.owner.id) %>'
                      title='<%= h(filter.owner.displayName) %>'>
                      <%= h(filter.owner.displayName) %>
                    </a>
                  </div>
                </td>
                <td class="viewed"><div><%= blist_date(filter.last_viewed) %>
                </div></td>
                <td class="actionContainer"><div><a
                      href="<%= filter.href %>" class="action"
                      title="<%= h(filter.name) %>"><span>View</span></a>
                </div></td>
              </tr>
            <%- end -%>
          </tbody>
        </table>
      </div>


    </div>
  </div></div>
</div>
<%# *** END: FILTERED *** %>

<%# *** START: COMMENTS *** %>
<div class="infoContentOuter singleInfoComments listContainer
  <%= page_single ? 'expanded' : '' %>">
  <%= render(:partial => "info_comments_header", :locals => {:view => view}) %>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>

      <%- comments = view.comments -%>
      <%- form_tag(post_comment_blist_url(view.id),
      :class => ('postComment' + (comments.length > 0 ? ' hidden' : '') +
      (current_user.nil? ? ' doFullReq' : ''))) do -%>

      <dl class="summaryList">
        <dt>My Rating</dt>
        <dd class='selfRating'>
        <%- my_rating = 0 -%>
        <div class='rating <%= get_rating_class(my_rating) %>'
          title='<%= my_rating %>'><span><%= my_rating %></span></div>
        <%= hidden_field_tag("comment[viewRating]", my_rating) %>
        </dd>
      </dl>

      <dl class="summaryList">
        <dt>Title</dt>
        <dd>
        <%= text_field_tag("comment[title]", '') %>
        </dd>
      </dl>

      <dl class="summaryList">
        <dt>Comment</dt>
        <dd class='commentBody'>
        <%= text_area_tag("comment[body]", '',
          {:class => 'textPrompt', :title => 'Enter a comment'}) %>
        </dd>
      </dl>

      <dl class="summaryList">
        <dd class='submitSection'>
        <a href='#cancel_comment'>Cancel</a>
        <%= image_submit_tag("button_submit_comment.png", :title => "Submit") %>
        </dd>
      </dl>
      <%- end -%>

      <ul class='commentList'>
        <%= render(:partial => "comment", :collection => comments,
          :locals => {:view => view}) %>
      </ul>

      <%# Filled in by JS %>
      <div class='commentPagination pagination'></div>

      <ul class='actionButtons footer clearfix
        <%= comments.length == 0 ? 'hidden' : '' %>'>
        <li class='commentLink'><a href="#post_comment"
          class="arrowButton postComment"
          title="Post a Comment">Post a Comment</a></li>
      </ul>
    </div>
  </div></div>
</div>
<%# *** END: COMMENTS *** %>


<%# *** START: SHARING *** %>
<div class="infoContentOuter singleInfoSharing">
  <div class="infoContentHeader clearfix">
    <%- shares = view.shares -%>
    <h2 class="panelHeader first"><%= pluralize(shares.length, 'Share') %></h2>
    <h2 class="panelHeader <%= view.shares.size > 0 ? '' : ' last' %> <%= get_permissions_icon_class_for_view(view) %>">
      <%= view.is_public? ? "Public" : "Private" %>
    </h2>
    <%- if view.shares.size > 0 %>
      <h2 class="panelHeader typeNotify last">
        <% form_tag(url_for(:controller => :blists, 
          :action => :notify_all_of_changes)) do %>
          <a href="#" id="notifyAll">Notify all of changes</a>
          <%= image_tag("/images/throbber.gif", 
                      :size => "16x16", 
                      :alt => "Notifying...", 
                      :id => "throbber") %>
        <% end %>
      </h2>
    <% end %>
    <%- if is_owner -%>
    <ul class="headerActions actionButtons swfItem">
      <li><a href="<%= "#{view.href}?popup=SharingEditor" %>"
        class="arrowButton showFlashPopup" title="Share">Share</a></li>
    </ul>
    <%- end -%>
    <ul class="socialActions">
      <%- 
        tweet = CGI::escape("Check out the #{h(view.name)} dataset on #{t(:blist_company)} - ")
        seo_url = "#{request.protocol + request.host_with_port + view.href}"
        short_url = "#{request.protocol + request.host_with_port + view.short_href}"
      -%>
      <li><%= link_to(image_tag("share_delicious.png", :size => "32x32", :alt => "Delicious"), 
              "http://del.icio.us/post?url=#{seo_url}&title=#{h(view.name)}",
              :title => "Bookmark this on Delicious", :rel => "external") %></li>
      <li><%= link_to(image_tag("share_digg_guy.png", :size => "32x32", :alt => "Digg"), 
              "http://digg.com/submit?phase=2&url=#{seo_url}&title=#{h(view.name)}",
              :title => "Digg this", :rel => "external") %></li>
      <li><%= link_to(image_tag("share_logo_twitter.png", :size => "32x32", :alt => "Twitter"), 
              "http://www.twitter.com/home?status=#{tweet + short_url}",
              :title => "Tweet this", :rel => "external") %></li>
      <li><%= link_to(image_tag("share_logo_facebook.png", :size => "32x32", :alt => "Facebook"), 
              "http://www.facebook.com/share.php?u=#{h(seo_url)}",
              :title => "Share with your friends on Facebook", :rel => "external") %></li>
    </ul>
    
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <div class="sharingSummary">
        <p class="<%= view.is_public? ? "public" : (view.is_shared? ?
          "privateShared" : "private") %>">
        This <%= view.is_blist? ? t(:blist_name) : "filter" %> is
        <%- if is_owner && view.tableOwner.id == view.owner.id -%>
        <a href='#toggle-permissions_<%= view.id %>'
          class='switchPermsLink'><%= view.is_public? ?
            "Public" : "Private" %></a>
        <%- else -%>
        <span><%= view.is_public? ? "Public" : "Private" %></span>
        <%- end -%>
        <%= view.is_shared? ? ' and shared with the following ' +
        (shares.length == 1 ? 'friend' : 'friend'.pluralize) + ':' : '' %>
        </p>
      </div>

      <div class="gridListContainer">
        <table class="gridList" cellspacing="0">
          <colgroup>
            <col class='picture' />
            <col class='contact' />
            <col class='role' />
            <col class='actionContainer' />
          </colgroup>
          <thead>
            <tr>
              <th class="picture" title="Friend"><div></div></th>
              <th class="contact" title="Friend">
                <div>Friend</div>
              </th>
              <th class="role" title="Role"><div>Role</div></th>
              <%# Not supported
              <th class="others"><div>Can Share w/ Others</div></th>
              <th class="opened"><div>Last Opened</div></th>
              %>
              <th class="actionContainer last"></th>
            </tr>
          </thead>
          <tbody>
            <%- view.shares.sort {|a,b|
              a.type <=> b.type ||
              a.member_name.downcase <=> b.member_name.downcase}.each do |s| -%>
            <tr class="item">
              <td class="picture"><div>
                <%= image_tag(s.member_image, :size => "24x24", :alt => h(s.member_name)) %>
              </div></td>
              <td class="contact"><div><%= h(s.member_name) %></div></td>
              <td class="role"><div><%= s.type %></div></td>
              <%# Not supported
              <td class="others"><div>Yes</div></td>
              <td class="opened"><div>01/09/2009</div></td>
              %>
              <td class="actionContainer"><div>
                  <%- if s.member_id -%>
                  <a href="<%= profile_url(s.member_id) %>" class="action"><span>View Profile</span></a>
                  <%- end -%>
              </div></td>
            </tr>
            <%- end -%>
          </tbody>
        </table>
      </div>
    </div>
  </div></div>
</div>
<%# *** END: SHARING *** %>

<%# *** START: PUBLISHING *** %>
<div class="infoContentOuter singleInfoPublishing">
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader">Publishing</h2>
    <%# Not supported
    <h2 class="panelHeader">3212 total views</h2>
    %>
    <ul class="headerActions actionButtons swfItem">
      <li><a href="<%= "#{view.href}?popup=PublishDialog" %>"
        class="arrowButton showFlashPopup">Publish a Widget</a></li>
    </ul>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <div class="publishContent">
        <p>
        You can publish this <%= t(:blist_name).downcase %> and
        filtered views on your blog,
        websites and more by embedding a widget.  Simply copy and paste
        the following HTML into your site.
        </p>
        <div class="publishCode">
          <p>Embed this <%= t(:blist_name).downcase %> as a table:</p>
          <div class="copyCode">
            <%= text_area_tag("publishCode", get_publish_embed_code_for_view(view)) %>
          </div>
        </div>
      </div>
    </div>
  </div></div>
</div>
<%# *** END: PUBLISHING *** %>

<%# *** START: ACTIVITY *** %>
<div class="infoContentOuter singleInfoActivity">
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader">Activity</h2>
    <ul class="headerActions actionButtons">
      <li><a href="<%= "#{view.href}/stats" %>" class="arrowButton">View Statistics</a></li>
    </ul>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <div class="gridListContainer">
        <table class="gridList" cellspacing="0">
          <thead>
            <tr>
              <th class="when first" title="When"><div>When</div></th>
              <th class="picture" title="Who"><div></div></th>
              <th class="who" title="Who"><div>Who</div></th>
              <th class="what" title="What Activity"><div>What Activity</div></th>
              <th class="actionContainer last"></th>
            </tr>
          </thead>
          <tbody>
            <%- if @view_activities && @view_activities.length > 0 -%>
              <%- @view_activities.each do |activity| -%>
                <tr class="item">
                  <td class="when"><div><%= blist_date(activity.createdAt) %></div></td>
                  <td class="picture"><a href='<%= profile_url(activity.actor.id) %>'>
                      <%= image_tag(activity.actor.profile_image_path,
                      :size => "24x24", :alt => h(activity.actor.displayName)) %>
                  </a></td>
                  <td class="who"><div class='clipText'>
                      <a href="<%= profile_url(activity.actor.id) %>"
                        title='<%= h(activity.actor.displayName) %>'>
                      <%= h(activity.actor.displayName) %>
                    </a>
                  </div></td>
                  <td class="what"><div>
                    <%= get_verb_for_activity_action(activity.action) %>
                    <%= get_html_for_action_object(activity) %>
                  </div></td>
                  <td class="actionContainer"><div>
                    <a href="<%= get_url_for_activity_action(activity) %>" class="action"><span>View</span></a>
                  </div></td>
                </tr>
              <%- end -%>
            <%- else -%>
              <tr class="item">
                <td colspan="4"><div>
                  <p>There are no activities for this dataset.</p>
                </div></td>
              </tr>
            <%- end -%>
          </tbody>
        </table>
      </div>
    </div>
  </div></div>
</div>
<%# *** END: ACTIVITY *** %>
