<%# locals: lenses %>

<div class="header">
  <ul class="summaryTabs clearfix">
    <li class="summary active last">
      <div class="tabInner">
        <a href="#expand" class="expander">expand</a>
        <span>Summary</span>
      </div>
    </li>
  </ul>
</div>

<div class="infoContentOuter multiInfoSummary listContainer active">
  
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader"><%= lenses.length %> items selected</h2>
    <ul class="headerActions actionButtons">
      <li><a href="#share" class="arrowButton">Share All</a></li>
      <li><a href="#delete_all">Delete All</a></li>
    </ul>
  </div>
  
  <div class="infoContentInner">
    <div class="infoContent">
      
      <dl class="summaryList">
        <dt>
          Items
          <a href="#help" class="help"><span>help</span></a>
        </dt>
        
        <%- lenses.each do |lens| -%>
          <dd class="<%= get_share_direction_icon_class_for_lens(lens) %>">
            <div class="itemContent">
              <a href="<%= blist_url(lens.id) %>"><%= h(lens.name) %></a>
            </div>
            <div class="itemActions">
              <a href="#<%= lens.id %>" class="action unselector"><span>unselect</span></a>
            </div>
          </dd>
        <%- end -%>
      </dl>
      
    </div>
  </div>

</div>