<%- isShareDeleteEnabled = false -%>
<%# locals: views %>

<div class="header">
  <ul class="summaryTabs clearfix">
    <li class="summary active last">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="expander">expand</a>
        <span>Summary</span>
      </div></div>
    </li>
  </ul>
</div>

<div class="infoContentOuter multiInfoSummary listContainer active">
  
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader"><%= pluralize(views.length, 'item') %> selected</h2>
<%- if isShareDeleteEnabled -%>
    <ul class="headerActions actionButtons">
      <li><a href="#share" class="arrowButton">Share All</a></li>
      <li><a href="#delete_all">Delete All</a></li>
    </ul>
<%- end -%>
  </div>
  
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent">
      
      <dl class="summaryList actionList">
        <dt>
          Items
        </dt>
        
        <%- views.each do |view| -%>
          <dd class="<%= get_share_direction_icon_class_for_view(view) %>">
            <div class="itemContent">
              <a href="<%= view.href %>"><%= h(view.name) %></a>
            </div>
            <div class="itemActions">
              <a href="#<%= view.id %>" class="action unselector"><span>unselect</span></a>
            </div>
          </dd>
        <%- end -%>
      </dl>
      
    </div>
  </div></div>

</div>
