<%# locals: view, page_single  %>
<%- 
  isActivityEnabled = false
  isDuplicateEnabled = false
-%>
<%- 
  expander_class = page_single ? "expander expanded" : "expander" 
  div_shown = page_single ? "style='display:block;'" : ""
-%>
<div class="header">
  <ul class="summaryTabs clearfix">
    <li id="tabSummary" class="summary active">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#summary">Summary</a>
      </div></div>
    </li>
    <li id="tabFiltered">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#filtered_views">Filtered Views</a>
      </div></div>
    </li>
    <li id="tabComments">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#comments">Comments</a>
      </div></div>
    </li>
    <li id="tabSharing">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#sharing_permissions">Sharing</a>
      </div></div>
    </li>
    <li id="tabPublishing">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#publishing">Publishing</a>
      </div></div>
    </li>
<%- if isActivityEnabled -%>
    <li id="tabActivity" class="last">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#activity">Activity</a>
      </div></div>
    </li>
<%- end -%>
  </ul>
</div>

<%# *** START: SUMMARY *** %>
<div class="infoContentOuter singleInfoSummary listContainer active<%= page_single ? ' expanded' : '' %>">
  <div class="infoContentHeader clearfix">
    <h2 title='<%= h(view.name) %>'
      class="panelHeader clipText <%= get_permissions_icon_class_for_view(view) %>">
      <%= page_single ? h(view.name) : link_to(h(view.name), view.href) %>
    </h2>
    <ul class="headerActions actionButtons">
      <%- unless (page_single) -%>
        <li><a href="<%= view.href %>" class="arrowButton">Open</a></li>
      <%- end -%>
<%- if isDuplicateEnabled -%>
      <li><a href="#duplicate">Duplicate</a></li>
<%- end -%>
      <li><a href="<%= "#{view.href}?popup=SharingEditor" %>"
        class="showFlashPopup">Share</a></li>
    </ul>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>

      <dl class="summaryList actionList">
        <dt>
          Description
        </dt>
        <dd class="editItem">
          <div class="itemContent">
            <span><%= h(view.description) %></span>
            <% form_tag(view.href) do %>
              <%= hidden_field_tag("fieldType", "description") %>
              <%= text_field_tag("view[description]", h(view.description)) %>
              <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
              <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"), blists_url, :title => "Cancel", :class => "formCancelLink") %>
            <% end %>
          </div>
          <div class="itemActions">
            <a href="<%= view.href %>" class="action editLink"><span>Edit</span></a>
          </div>
        </dd>
      </dl>

      <dl class="summaryList actionList">
        <dt>
          Tags
        </dt>
        <dd class="editItem">
          <div class="itemContent">
            <span><%= h(view.tag_display_string) %></span>
            <% form_tag(view.href) do %>
              <%= hidden_field_tag("fieldType", "tags") %>
              <%= text_field_tag("view[tags]", h(view.tag_display_string)) %>
              <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
              <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"), blists_url, :title => "Cancel", :class => "formCancelLink") %>
            <% end %>
          </div>
          <div class="itemActions">
            <a href="<%= view.href %>" class="action editLink"><span>Edit</span></a>
          </div>
        </dd>
      </dl>

      <dl class="summaryList actionList">
        <dt>
          Category
        </dt>
        <dd class="editItem">
          <div class="itemContent">
            <span><%= h(view.category) %></span>
            <% form_tag(view.href) do %>
              <%= hidden_field_tag("fieldType", "category") %>
              <%= select_tag("view[category]", category_select_options(h(view.category))) %>
              <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
              <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"), blists_url, :title => "Cancel", :class => "formCancelLink") %>
            <% end %>
          </div>
          <div class="itemActions">
            <a href="<%= view.href %>" class="action editLink"><span>Edit</span></a>
          </div>
        </dd>
      </dl>

      <dl class="summaryList">
        <dt>
          Owner
        </dt>
        <dd>
          <div class="itemContent">
            <span><%= h(view.owner.displayName) %></span>
          </div>
        </dd>
      </dl>

      <dl class="summaryList">
        <dt>
          Created On
        </dt>
        <dd>
          <div class="itemContent">
            <span><%= blist_date(view.createdAt) %></span>
          </div>
        </dd>
      </dl>

<%- if isActivityEnabled -%>
      <dl class="summaryList actionList">
<%- else -%>
      <dl class="summaryList">
<%- end -%>
        <dt>
          Last Update
        </dt>
        <dd>
          <div class="itemContent">
            <span><%= up_user = view.last_updated_user
              h(up_user.nil? ? '' : up_user.displayName + ':') %>
              <%= blist_date(view.last_activity) %>
            </span>
          </div>
<%- if isActivityEnabled -%>
          <div class="itemActions">
            <a href="#tabActivity" class="action tabLink activity">
              <span>View Activity</span>
            </a>
          </div>
<%- end -%>
        </dd>
      </dl>

      <dl class="summaryList actionList">
        <dt>
          Filtered Views
        </dt>
        <dd>
          <div class="itemContent">
            <span><%= pluralize(view.filters.length, "filtered view") %></span>
          </div>
          <div class="itemActions">
            <a href="#tabFiltered" class="action tabLink filtered">
              <span>Details</span>
            </a>
          </div>
        </dd>
      </dl>
<%- if isActivityEnabled -%>
      <dl class="summaryList actionList">
        <dt>
          Community Activity
        </dt>
        <dd>
          <div class="itemContent">
            <ul>
              <li><%= pluralize(view.viewCount, " view") %></li>
              <li><%= pluralize(view.copyCount, "copy") %></li>
            </ul>
          </div>
          <div class="itemActions">
            <a href="#tabActivity" class="action tabLink activity">
              <span>View Activity</span>
            </a>
          </div>
        </dd>
      </dl>
<%- end -%>
      <dl class="summaryList actionList">
        <dt>
          Permalink
        </dt>
        <dd>
          <div class="itemContent">
            <span>
              <%= request.protocol + request.host_with_port + view.href %>
            </span>
          </div>
          <div class="itemActions">
            <a href="#publish" class="action tabLink publishing">
              <span>Publish</span>
            </a>
          </div>
        </dd>
      </dl>

      <dl class="summaryList actionList">
        <dt>
          Permissions
        </dt>
        <dd>
          <div class="itemContent">
            <span><%= view.is_public? ? 'Public' : 'Private' %></span>
          </div>
          <div class="itemActions">
            <a href='<%= "#{view.href}?popup=PermissionsDialog" %>'
              class="action showFlashPopup"><span>Edit</span></a>
          </div>
        </dd>
      </dl>

      <dl class="summaryList actionList">
        <dt>
          Sharing
        </dt>
        <dd>
          <div class="itemContent">
            <ul>
              <li>
                <%= pluralize(view.contributor_users.length, 'Contributor') %>
              </li>
              <li>
                <%= pluralize(view.viewer_users.length, 'Viewer') %>
              </li>
              <%# Not supported
              <li>[3 Requests]</li>
              %>
            </ul>
          </div>
          <ul class="itemActions">
            <li><a href="#share" class="action tabLink sharing">
              <span>Share</span></a>
            </li>
            <%# Not supported
            <li><a href="#view_requests" class="action"><span>View Requests</span></a></li>
            %>
          </ul>
        </dd>
      </dl>

    </div> <!-- /.infoContent -->
  </div></div> <!-- /.infoContentInner -->
</div>
<%# *** END: SUMMARY *** %>

<%# *** START: FILTERED *** %>
<div class="infoContentOuter singleInfoFiltered">
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader">
      <%= pluralize(view.filters.length, "Filtered View") %>
    </h2>
    <ul class="headerActions actionButtons">
      <li><%= link_to("Create", view.href + "?popup=SaveLens", :class => "arrowButton") %></li>
    </ul>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <div class="gridListContainer">
        <table class="gridList" cellspacing="0">
          <colgroup>
            <col class='handle' />
            <col class='favorite' />
            <col class='type' />
            <col class='name' />
            <col class='description' />
            <col class='viewed' />
            <col class='actionContainer' />
          </colgroup>
          <thead>
            <tr>
              <th class="handle first"><div></div></th>
              <th class="favorite" title="Favorite?"><div>Favorite?</div></th>
              <th class="type" title="Type"><div>Type</div></th>
              <th class="name"><div>Name</div></th>
              <th class="description"><div>Description</div></th>
              <th class="viewed"><div>Viewed</div></th>
              <th class="actionContainer last"></th>
            </tr>
          </thead>
          <tbody>
            <%- view.filters.each do |filter| -%>
              <tr class="item">
                <td class="handle"><div></div></td>
                <td class="favorite <%= filter.flag?('favorite') %>"><div>
                    <span class="favoriteMarker"><%= filter.flag?('favorite') ? "favorite" : "" %></span>
                </div></td>
                <td class="type"><div class="<%=
                  get_share_direction_icon_class_for_view(filter) %>">
                  <%= get_type_string_for_view(filter) %></div>
                </td>
                <td class="name"><div><%= link_to(h(filter.name), filter.href) %></div></td>
                <td class="description"><div><%= h(filter.description) %></div></td>
                <td class="viewed"><div><%= blist_date(filter.last_viewed) %>
                </div></td>
                <td class="actionContainer"><div><a
                      href="<%= filter.href %>" class="action"
                      title="<%= h(filter.name) %>"><span>View</span></a>
                </div></td>
              </tr>
            <%- end -%>
          </tbody>
        </table>
      </div>


    </div>
  </div></div>
</div>
<%# *** END: FILTERED *** %>

<%# *** START: COMMENTS *** %>
<div class="infoContentOuter singleInfoComments listContainer
  <%= page_single ? 'expanded' : '' %>">
  <%= render(:partial => "info_comments_header", :locals => {:view => view}) %>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>

      <%- comments = view.comments -%>
      <%- form_tag(post_comment_blist_url(view.id),
        :class => ('postComment' + (comments.length > 0 ? ' hidden' : ''))) do -%>
      <%- if !current_user -%>
      <dl class="summaryList">
        <dd>Placeholder until submitting comments as not-logged-in user is supported</dd>
      </dl>
      <%- else -%>
      <dl class="summaryList">
        <dt>My Rating</dt>
        <dd class='selfRating'>
        <%- my_rating = 0 -%>
        <div class='rating <%= get_rating_class(my_rating) %>'
          title='<%= my_rating %>'><%= my_rating %></div>
        <%= hidden_field_tag("comment[viewRating]", my_rating) %>
        </dd>
      </dl>

      <dl class="summaryList">
        <dt>Title</dt>
        <dd>
        <%= text_field_tag("comment[title]", '') %>
        </dd>
      </dl>

      <dl class="summaryList">
        <dt>Comment</dt>
        <dd class='commentBody'>
        <%= text_area_tag("comment[body]", '',
          {:class => 'textPrompt', :title => 'Enter a comment'}) %>
        </dd>
      </dl>

      <dl class="summaryList">
        <dd class='submitSection'>
        <a href='#cancel_comment'>Cancel</a>
        <%- comment_submit_path = is_gov_site? ?
          "gov/button_submit_comment.png" : "button_submit_comment.png" -%>
        <%= image_submit_tag(comment_submit_path, :title => "Submit") %>
        </dd>
      </dl>
      <%- end -%>
      <%- end -%>

      <ul class='commentList'>
        <%= render(:partial => "comment", :collection => comments,
          :locals => {:view => view}) %>
      </ul>

      <%# Filled in by JS %>
      <div class='commentPagination pagination'></div>

      <ul class='actionButtons footer clearfix
        <%= comments.length == 0 ? 'hidden' : '' %>'>
        <li class='commentLink'><a href="#post_comment"
          class="arrowButton postComment"
          title="Post a Comment">Post a Comment</a></li>
      </ul>
    </div>
  </div></div>
</div>
<%# *** END: COMMENTS *** %>


<%# *** START: SHARING *** %>
<div class="infoContentOuter singleInfoSharing">
  <div class="infoContentHeader clearfix">
    <%- shares = view.shares -%>
    <h2 class="panelHeader first"><%= pluralize(shares.length, 'Share') %></h2>
    <h2 class="panelHeader <%= get_permissions_icon_class_for_view(view) %>">
      <%= view.is_public? ? "Public" : "Private" %>
    </h2>
    <ul class="headerActions actionButtons">
      <li><a href="<%= "#{view.href}?popup=SharingEditor" %>"
        class="arrowButton showFlashPopup" title="Share">Share</a></li>
    </ul>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <div class="sharingSummary">
        <p class="<%= view.is_public? ? "public" : (view.is_shared? ?
          "privateShared" : "private") %>">
        This <%= view.is_blist? ? t(:blist_name) : "filter" %> is
        <a href='<%= "#{view.href}?popup=PermissionsDialog" %>'
          class='showFlashPopup'><%= view.is_public? ? "Public" : "Private" %></a>
        <%= view.is_shared? ? ' and shared with the following ' +
        (shares.length == 1 ? 'contact' : 'contact'.pluralize) + ':' : '' %>
        </p>
      </div>

      <div class="gridListContainer">
        <table class="gridList" cellspacing="0">
          <colgroup>
            <col class='picture' />
            <col class='contact' />
            <col class='role' />
            <col class='actionContainer' />
          </colgroup>
          <thead>
            <tr>
              <th class="picture" title="Contact"><div></div></th>
              <th class="contact" title="Contact/Group">
                <div>Contact / Group</div>
              </th>
              <th class="role" title="Role"><div>Role</div></th>
              <%# Not supported
              <th class="others"><div>Can Share w/ Others</div></th>
              <th class="opened"><div>Last Opened</div></th>
              %>
              <th class="actionContainer last"></th>
            </tr>
          </thead>
          <tbody>
            <%- view.shares.sort {|a,b|
              a.type <=> b.type ||
              a.member_name.downcase <=> b.member_name.downcase}.each do |s| -%>
            <tr class="item">
              <td class="picture"><div>
                <%= image_tag(s.member_image, :size => "24x24", :alt => h(s.member_name)) %>
              </div></td>
              <td class="contact"><div><%= h(s.member_name) %></div></td>
              <td class="role"><div><%= s.type %></div></td>
              <%# Not supported
              <td class="others"><div>Yes</div></td>
              <td class="opened"><div>01/09/2009</div></td>
              %>
              <td class="actionContainer"><div>
                <a href="#view" class="action"><span>View Activity</span></a>
              </div></td>
            </tr>
            <%- end -%>
          </tbody>
        </table>
      </div>
    </div>
  </div></div>
</div>
<%# *** END: SHARING *** %>

<%# *** START: PUBLISHING *** %>
<div class="infoContentOuter singleInfoPublishing">
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader">Publishing</h2>
    <%# Not supported
    <h2 class="panelHeader">3212 total views</h2>
    %>
    <ul class="headerActions actionButtons">
      <li><a href="<%= "#{view.href}?popup=PublishDialog" %>"
        class="arrowButton showFlashPopup">Publish a Widget</a></li>
    </ul>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <div class="publishContent">
        <p>
          You can publish your <%= t(:blists_name) %> and filtered views on your blog, 
          websites and more by embedding a widget.  Simply copy and paste 
          the following HTML into your site.
        </p>
        <div class="publishCode">
          <p>Embed this <%= t(:blist_name) %> as a table:</p>
          <div class="copyCode">
            <%= text_area_tag("publishCode", get_publish_embed_code_for_view(view)) %>
          </div>
        </div>
    </div>
  </div></div>
</div>
<%# *** END: PUBLISHING *** %>
<%- if isActivityEnabled -%>
<%# *** START: ACTIVITY *** %>
<div class="infoContentOuter singleInfoActivity">
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader">Activity</h2>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <div class="gridListContainer simple">
        <table class="gridList" cellspacing="0">
          <thead>
            <tr>
              <th class="when first" title="When"><div>When</div></th>
              <th class="who" title="Who"><div>Who</div></th>
              <th class="what" title="What Activity"><div>What Activity</div></th>
              <th class="actionContainer last"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="item">
              <td class="when"><div>[01/09/2009]</div></td>
              <td class="who"><div>[Jim Beam]</div></td>
              <td class="what"><div>[Added new row 1A2B3C]</div></td>
              <td class="actionContainer"><div>
                <a href="#view" class="action"><span>View</span></a>
              </div></td>
            </tr>
            <tr class="item">
              <td class="when"><div>[01/10/2009]</div></td>
              <td class="who"><div>[Jose Cuervo]</div></td>
              <td class="what"><div>[Updated row 1A2B3C]</div></td>
              <td class="actionContainer"><div>
                <a href="#view" class="action"><span>View</span></a>
              </div></td>
            </tr>
            <tr class="item">
              <td class="when"><div>[01/10/2009]</div></td>
              <td class="who"><div>[Jack Daniels]</div></td>
              <td class="what"><div>[Commented]</div></td>
              <td class="actionContainer"><div>
                <a href="#view" class="action"><span>View</span></a>
              </div></td>
            </tr>
            <tr class="item">
              <td class="when"><div>[01/10/2009]</div></td>
              <td class="who"><div>[Jack Daniels]</div></td>
              <td class="what"><div>[Replied to comment]</div></td>
              <td class="actionContainer"><div>
                <a href="#view" class="action"><span>View</span></a>
              </div></td>
            </tr>
            <tr class="item">
              <td class="when"><div>[01/11/2009]</div></td>
              <td class="who"><div>[Jose Cuervo]</div></td>
              <td class="what"><div>[Copied this blist to create "Good Mixers"]</div></td>
              <td class="actionContainer"><div>
                <a href="#view" class="action"><span>View</span></a>
              </div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div></div>
</div>
<%# *** END: ACTIVITY *** %>
<%- end -%>
