<%# locals: view, page_single  %>
<%-
  isDuplicateEnabled = false
  div_shown = page_single ? "style='display:block;'" : ""

  is_owner = (current_user && current_user.is_owner?(view))
-%>
<div class="header">
  <ul class="summaryTabs clearfix">
    <%- if module_enabled?(:allow_comments) -%>
      <li id="tabComments" class="comments active">
        <%= summary_tab 'Comments', 'comments', page_single %>
      </li>
    <%- end -%>
    <li id="tabFiltered">
      <%= summary_tab 'More Views', 'filtered_views', page_single %>
    </li>
    <li id="tabSharing">
      <%= summary_tab 'Sharing', 'sharing_permissions', page_single %>
    </li>
    <%- if @view.display.can_publish? -%>
    <li id="tabPublishing">
      <%= summary_tab 'Publishing', 'publishing', page_single %>
    </li>
    <%- end -%>
    <li id="tabActivity">
      <%= summary_tab 'Activity', 'activity', page_single %>
    </li>
    <li id="tabSummary" class="<%= module_enabled?(:allow_comments) ? "" : "active" %>">
      <%= summary_tab 'Summary', 'summary', page_single %>
    </li>
  </ul>
</div>


<%# *** START: SUMMARY *** %>
<div class="infoContentOuter singleInfoSummary listContainer
  <%= page_single ? ' expanded' : '' %>
  <%= module_enabled?(:allow_comments) ? "" : "active" %>">
  <div class="infoContentHeader clearfix">
    <%= render(:partial => "blists/info_summary_header",
                :locals => {:view => view, :page_single => page_single, 
                            :allow_edit => is_owner, :in_widget => false }) %>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <%= render( :partial => "blists/meta_tab_summary", 
                  :locals => {:view => view, :page_single => page_single, 
                              :allow_edit => is_owner, :in_widget => false }) %>
    </div> <!-- /.infoContent -->
  </div></div> <!-- /.infoContentInner -->
  <div class="infoContentBR"><div class="infoContentBL"></div></div>
</div>
<%# *** END: SUMMARY *** %>

<%# *** START: FILTERED *** %>
<div class="infoContentOuter singleInfoFiltered
  <%= page_single ? ' expanded' : '' %>">
  <div class="infoContentHeader clearfix">
    <%= render(:partial => "blists/info_filtered_header",
                :locals => {:view => view, :in_widget => false,
                :page_single => page_single }) %>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <%= render( :partial => "blists/meta_tab_filtered",
                  :locals => {:view => view, :in_widget => false,
                              :page_single => page_single}) %>
    </div>
  </div></div>
  <div class="infoContentBR"><div class="infoContentBL"></div></div>
</div>
<%# *** END: FILTERED *** %>


<%# *** START: COMMENTS *** %>
<%- if module_enabled?(:allow_comments) -%>
  <div class="infoContentOuter singleInfoComments listContainer
    active <%= page_single ? 'expanded' : '' %>">
    <div class="infoContentHeader clearfix">
      <%= render(:partial => "blists/info_comments_header", 
                  :locals => {:view => view, :allow_commenting => true, :in_widget => false }) %>
    </div>
    <div class="infoContentInner"><div class="infoContentWrapper">
      <div class="infoContent"<%= div_shown %>>
        <%= render( :partial => "blists/meta_tab_comments", 
                    :locals => {:view => view, :allow_commenting => true }) %>
      </div>
    </div></div>
    <div class="infoContentBR"><div class="infoContentBL"></div></div>
  </div>
<%- end -%>
<%# *** END: COMMENTS *** %>


<%# *** START: SHARING *** %>
<div class="infoContentOuter singleInfoSharing
  <%= page_single ? ' expanded' : '' %>">
  <div class="infoContentHeader clearfix">
    <%= render(:partial => "blists/info_sharing_header", :locals => {:view => view}) %>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <%= render(:partial => "blists/meta_tab_sharing", :locals => {:view => view}) %>
    </div>
  </div></div>
  <div class="infoContentBR"><div class="infoContentBL"></div></div>
</div>
<%# *** END: SHARING *** %>

<%# *** START: PUBLISHING *** %>
<%- if @view.display.can_publish? -%>
<div class="infoContentOuter singleInfoPublishing
  <%= page_single ? ' expanded' : '' %>">
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader">Publishing</h2>
    <%# Not supported
    <h2 class="panelHeader">3212 total views</h2>
    %>

    <%- if @view.display.can_advanced_publish? -%>
    <%# Only members of the same org can access the premium publisher %>
    <%- if (CurrentDomain.publisher?(current_user) &&
      module_available?(:sdp_customizer)) -%>
      <ul class="headerActions actionButtons">
        <li>
          <a href="<%= "#{view.href}/publish" %>" class="arrowButton">
            Create a Custom Data Player
          </a>
        </li>
      </ul>
    <%- elsif upsell? -%>
      <ul class="headerActions actionButtons">
        <li>
          <a href="/popup/premium" rel="modal" class="arrowButton">
            Create a Custom Data Player
          </a>
        </li>
      </ul>
    <%- end -%>
    <%- end -%>
  </div>

  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <%= render( :partial => "blists/meta_tab_publishing", 
                  :locals => {:view => view, :in_widget => false,
                              :customization_id => CurrentDomain.default_widget_customization, :cur_id => ""}) %>
    </div>
  </div></div>
  <div class="infoContentBR"><div class="infoContentBL"></div></div>
</div>
<%- end -%>
<%# *** END: PUBLISHING *** %>

<%# *** START: ACTIVITY *** %>
<div class="infoContentOuter singleInfoActivity
  <%= page_single ? ' expanded' : '' %>">
  <div class="infoContentHeader clearfix">
    <%= render(:partial => "blists/info_activity_header", 
                :locals => {:view => view, :in_widget => false }) %>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <%= render( :partial => "blists/meta_tab_activity", 
                  :locals => {:view => view, :in_widget => false }) %>
    </div>
  </div></div>
  <div class="infoContentBR"><div class="infoContentBL"></div></div>
</div>
<%# *** END: ACTIVITY *** %>
