<%# locals: view, page_single  %>
<%- 
  isDuplicateEnabled = false
-%>
<%- 
  expander_class = page_single ? "expander expanded" : "expander" 
  div_shown = page_single ? "style='display:block;'" : ""
  
  is_owner = (current_user && current_user.is_owner?(view))
-%>
<div class="header">
  <ul class="summaryTabs clearfix">
    <%- if ! module_enabled? :block_comments -%>
      <li id="tabComments" class="comments active">
        <div class="tabOuter"><div class="tabInner active">
          <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
          <a href="#comments">Comments</a>
        </div></div>
      </li>
    <%- end -%>
    <li id="tabFiltered">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#filtered_views">More Views</a>
      </div></div>
    </li>
    <li id="tabSharing">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#sharing_permissions">Sharing</a>
      </div></div>
    </li>
    <%- if !@view.is_calendar? -%>
    <li id="tabPublishing">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#publishing">Publishing</a>
      </div></div>
    </li>
    <%- end -%>
    <li id="tabActivity">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#activity">Activity</a>
      </div></div>
    </li>
    <li id="tabSummary" class="<%= module_enabled? :block_comments ? "active" : "" %>">
      <div class="tabOuter"><div class="tabInner <%= module_enabled? :block_comments ? "active" : "" %>">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#summary">Summary</a>
      </div></div>
    </li>
  </ul>
</div>


<%# *** START: SUMMARY *** %>
<div class="infoContentOuter singleInfoSummary listContainer <%= page_single ? ' expanded' : '' %> <%= @view.hide_comments? ? "active" : "" %>">
  <div class="infoContentHeader clearfix">
    <%= render(:partial => "blists/info_summary_header",
                :locals => {:view => view, :page_single => page_single, 
                            :allow_edit => is_owner, :in_widget => false }) %>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <%= render( :partial => "blists/meta_tab_summary", 
                  :locals => {:view => view, :page_single => page_single, 
                              :allow_edit => is_owner, :in_widget => false }) %>
    </div> <!-- /.infoContent -->
  </div></div> <!-- /.infoContentInner -->
</div>
<%# *** END: SUMMARY *** %>

<%# *** START: FILTERED *** %>
<div class="infoContentOuter singleInfoFiltered">
  <div class="infoContentHeader clearfix">
    <%= render(:partial => "blists/info_filtered_header",
                :locals => {:view => view, :in_widget => false,
                :page_single => page_single }) %>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <%= render( :partial => "blists/meta_tab_filtered",
                  :locals => {:view => view, :in_widget => false }) %>
    </div>
  </div></div>
</div>
<%# *** END: FILTERED *** %>


<%# *** START: COMMENTS *** %>
<%- if !module_enabled? :block_comments -%>
  <div class="infoContentOuter singleInfoComments listContainer
    active <%= page_single ? 'expanded' : '' %>">
    <div class="infoContentHeader clearfix">
      <%= render(:partial => "blists/info_comments_header", 
                  :locals => {:view => view, :allow_commenting => true, :in_widget => false }) %>
    </div>
    <div class="infoContentInner"><div class="infoContentWrapper">
      <div class="infoContent"<%= div_shown %>>
        <%= render( :partial => "blists/meta_tab_comments", 
                    :locals => {:view => view, :allow_commenting => true }) %>
      </div>
    </div></div>
  </div>
<%- end -%>
<%# *** END: COMMENTS *** %>


<%# *** START: SHARING *** %>
<div class="infoContentOuter singleInfoSharing">
  <div class="infoContentHeader clearfix">
    <%= render(:partial => "blists/info_sharing_header", :locals => {:view => view}) %>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <%= render(:partial => "blists/meta_tab_sharing", :locals => {:view => view}) %>
    </div>
  </div></div>
</div>
<%# *** END: SHARING *** %>

<%# *** START: PUBLISHING *** %>
<%- if !@view.is_calendar? -%>
<div class="infoContentOuter singleInfoPublishing">
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader">Publishing</h2>
    <%# Not supported
    <h2 class="panelHeader">3212 total views</h2>
    %>

    <%# Only members of the same org can access the premium publisher %>
    <%- if (CurrentDomain.member?(current_user) && module_available?(:sdp_customizer)) -%>
      <ul class="headerActions actionButtons">
        <li>
          <a href="<%= "#{view.href}/publish" %>" class="arrowButton">
            Create a Custom Data Player
          </a>
        </li>
      </ul>
    <%- elsif (upsell? && view.owned_by?(current_user)) -%>
      <ul class="headerActions actionButtons">
        <li>
          <a href="/popup/premium" rel="modal" class="arrowButton">
            Create a Custom Data Player
          </a>
        </li>
      </ul>
    <%- end -%>
  </div>

  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <%= render( :partial => "blists/meta_tab_publishing", 
                  :locals => {:view => view, :in_widget => false,
                              :customization_id => "", :cur_id => ""}) %>
    </div>
  </div></div>
</div>
<%- end -%>
<%# *** END: PUBLISHING *** %>

<%# *** START: ACTIVITY *** %>
<div class="infoContentOuter singleInfoActivity">
  <div class="infoContentHeader clearfix">
    <%= render(:partial => "blists/info_activity_header", 
                :locals => {:view => view, :in_widget => false }) %>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>
      <%= render( :partial => "blists/meta_tab_activity", 
                  :locals => {:view => view, :in_widget => false }) %>
    </div>
  </div></div>
</div>
<%# *** END: ACTIVITY *** %>
