<%- 
  shares = view.shares
  can_share = current_user && @view.owner.id == current_user.id
-%>
<h2 class="panelHeader first"><%= pluralize(shares.length, 'Share') %></h2>
<h2 class="panelHeader <%= shares.size > 0 ? '' : ' last' %> <%= get_permissions_icon_class_for_view(view) %>">
  <%= view.is_public? ? "Public" : "Private" %>
</h2>
<%- if shares.size > 0 && view.can_edit %>
  <h2 class="panelHeader typeNotify last">
    <% form_tag(url_for(:controller => :blists,
      :action => :notify_all_of_changes)) do %>
      <a href="#" id="notifyAll">Notify all of changes</a>
      <%= image_tag("/images/throbber.gif",
                  :size => "16x16",
                  :alt => "Notifying...",
                  :class => "throbber hidden") %>
    <% end %>
  </h2>
<% end %>
<%- if can_share -%>
<ul class="headerActions actionButtons">
  <li><a href="<%= "#{view.href}/share" %>" class="arrowButton" title="Share" rel="modal">Share</a></li>
</ul>
<%- end -%>
<div class="socialActions">
  <a href='#' title='Share on Social Networks' id='shareInfoLink'>Share on Social Networks</a>
  <%= menu_tag({'id' => 'shareInfoMenu', 'items' => socialize_menu_options(@view)}) %>
</div>
