<%# Locals: view, allow_edit, in_widget, page_single %>
<%- isDuplicateEnabled = false -%>

<h2 title='<%= h(view.name) %>'
  class="panelHeader clipText <%= get_permissions_icon_class_for_view(view) %>
  <%= allow_edit ? 'editItem' : '' %>">
  <div class='itemContent'>
    <%- title_opts = in_widget ? {:rel => "external"} : {} -%>
    <span><%= page_single ? h(view.name) :
      link_to(h(view.name), view.href, title_opts) %></span>
    <%- if allow_edit -%>
    <%- form_tag(view.href) do -%>
    <%= hidden_field_tag("fieldType", "name") %>
    <%= text_field_tag("view[name]", h(view.name)) %>
    <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
    <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"),
    blists_path, :title => "Cancel", :class => "formCancelLink") %>
    <%- end -%>
    <%- end -%>
  </div>
  <%- if allow_edit -%>
  <div class="itemActions">
    <a href="<%= view.href %>" class="action editLink"><span>Edit</span></a>
  </div>
  <%- end -%>
</h2>

<ul class="headerActions actionButtons">
  <%- unless (page_single || in_widget) -%>
    <li><a href="<%= view.href %>" class="arrowButton">Open</a></li>
  <%- end -%>
<%- if isDuplicateEnabled -%>
  <li><a href="#duplicate">Duplicate</a></li>
<%- end -%>
  <%- if allow_edit && !in_widget -%>
  <li><a href="#share" class="tabLink sharing">Share</a></li>
  <%- end -%>
  <li><a href="<%= "#{view.href}/about" %>"<%= 'rel="external"' if (in_widget) %>>More Info</a></li>
</ul>

<%- if (!@current_user.nil? && !in_widget) -%>
  <%-
    if view.flag?("favorite")
      favorite_action = "/blists/#{view.id}/delete_favorite"
      favorite_action_text = "Remove from favorites"
    else
      favorite_action = "/blists/#{view.id}/create_favorite"
      favorite_action_text = "Add to favorites"
    end
  -%>
<ul class="headerActions favoriteAction">
  <li class="favorite <%= view.flag?('favorite') %>">
    <a id="info-fav-<%=view.id%>" href="<%= favorite_action %>" title="<%= favorite_action_text %>"><%= favorite_action_text %></a>
  </li>
</ul>
<%- end -%>