<h2 class="panelHeader first">
  <%= pluralize(view.numberOfComments, 'Comment') %>
</h2>
<h2 class="rating <%= get_rating_class(view.averageRating) %>"
  title="<%= view.averageRating %>"><span><%= view.averageRating %></span></h2>
<p><%= pluralize(view.totalTimesRated, 'Rating') %></p>
<ul class="headerActions actionButtons">
  <li>
    <%- if allow_commenting -%>
      <a href="#post_comment" class="arrowButton postComment" title="Post a Comment">Post a Comment</a>
    <%- else -%>
      <a href="<%= view.href + '?metadata_pane=tabComments'%>" class="arrowButton" title="Post a Comment" rel="external">Post a Comment</a>
    <%- end -%>
  </li>
</ul>