<% dialog_content('login', "loginBox") do %>
  <div class='header'>
    <h1><%= CurrentDomain.strings.company %></h1>
    <a href='#close_dialog' class='close' title='Close'>Close</a>
  </div>

  <div class='mainContent'>
    <div class='title clearfix'>
      <h2>Sign in using your <%= CurrentDomain.strings.company %> ID</h2>
    </div>

    <%= render(:partial => 'user_sessions/login') %>
  </div>

  <script type="text/javascript">
    blist.secureUrl = "https://<%= request.host %>:<%= SslRequirement.port_for_protocol('https') %>";
  </script>

<% end %>
