<ul id='mainMenu' class='menu multilevelMenu headerMenu'>
  <li class='first basic active'>
    <dl><dt><a href='#menuBasic'>Basic</a></dt>
      <dd><%= menu_tag({'bare_menu' => true, 'items' => [
        menu_options['print'],
        menu_options['separator'],

        {'text' => "Design a New #{t(:blist_name).titleize}...",
        'class' => 'create', 'href' => "#{new_blist_path}"},
        {'text' => "Upload a New #{t(:blist_name).titleize}...",
        'class' => 'import', 'href' => '/upload'},
        menu_options['separator'],
        {'text' => 'Open Recent', 'class' => 'recent', 'href' => '#',
        'user_required' => true, 'submenu' => recent_blists_menu(@view, 5)},

        {'text' => "Flag #{t(:blist_name).capitalize} as",
        'class' => 'flag', 'owner_item' => false, 'submenu' => {'items' => [
          {'text' => 'Copyright Violation', 'class' => 'radioOption',
          'href' => "#{@view.href}/flag/copyright_violation", 'modal' => true},
          {'text' => 'Offensive Content', 'class' => 'radioOption',
          'href' => "#{@view.href}/flag/offensive_content", 'modal' => true},
          {'text' => 'Spam or Junk', 'class' => 'radioOption',
          'href' => "#{@view.href}/flag/spam", 'modal' => true},
          {'text' => 'Personal Information', 'class' => 'radioOption',
          'href' => "#{@view.href}/flag/personal_information", 'modal' => true},
          {'text' => 'Other', 'class' => 'radioOption',
          'href' => "#{@view.href}/flag/other", 'modal' => true},
          ]}}
        ]}, is_owner, can_edit) %>
    </dd></dl>
  </li>

  <li>
    <dl><dt><a href='#menuFilterView'>Filter, Visualize &amp; More</a></dt>
      <dd><%= menu_tag({'bare_menu' => true, 'class' => 'filterView',
      'items' => filter_submenu(@view, false, menu_options)}, is_owner, can_edit) %>
    </dd></dl>
  </li>

  <li>
    <dl><dt><a href='#menuShareSocialize'>Publish, Share &amp; Socialize</a></dt>
      <dd><%= menu_tag({'bare_menu' => true, 'class' => 'shareSocialize',
      'items' => share_menu_options(@view, menu_options)}, is_owner, can_edit) %>
    </dd></dl>
  </li>


  <li class='download'>
    <dl><dt><a href='#menuDownload'>Download, API &amp; RSS</a></dt>
        <dd><%= menu_tag({'bare_menu' => true, 'items' => [
        menu_options['download'],
        menu_options['api'],
        menu_options['separator'],
        menu_options['subscribe']
        ]}, is_owner, can_edit) %>
    </dd></dl>
  </li>

  <%- if can_edit && !@view.is_alt_view? -%>
  <li class='modify'>
    <dl><dt><a href='#menuModify'>Modify</a></dt>
      <dd><%= menu_tag({'bare_menu' => true, 'items' => [
        {'text' => "Permissions",
        'class' => 'editPermissions', 'owner_item' => true, 'if' => @view.is_blist?,
        'submenu' => { 'items' => [
          {'text' => 'Publicly viewable',
           'class' => "radioOption#{@view.is_public? ? 'Selected' : ''}",
           'href' => "#makePermissionPublic_#{@view.id}"},
          {'text' => 'Viewable only by owner and sharees',
           'class' => "radioOption#{@view.is_public? ? '' : 'Selected'}",
           'href' => "#makePermissionPrivate_#{@view.id}"},
          ]}},
        menu_options['separator'],
        {'text' => 'Add a Column...', 'class' => 'insertColumn',
        'href' => "/datasets/#{@view.id}/columns/new", 'modal' => true,
        'owner_item' => true, 'if' => @view.is_blist?},
        {'text' => 'Edit Column Properties', 'class' => 'columnOptions',
        'owner_item' => true, 'submenu' => columns_menu(@view,
                 {'id' => 'columnOptionsMenu',
                  'href_prefix' => "/datasets/#{@view.id}/columns/",
                  'modal' => true, 'text_postfix' => '...',
                  'include_options' =>
                   {'nested_table' => true,
                    'nested_table_children' => true, 'list' => true}})},
        {'text' => 'Delete a Column', 'class' => 'columnDelete',
        'owner_item' => true, 'submenu' => columns_menu(@view,
                 {'id' => 'columnDeleteMenu',
                  'href_prefix' => "#delete-col_",
                  'column_test' => proc {|c, p| c.client_type != 'tag'},
                  'include_options' =>
                  {'nested_table' => true,
                    'nested_table_children' => true, 'list' => true}})},
        menu_options['separator'],
        {'text' => 'Upload More Rows', 'class' => 'uploadRows',
          'if' => @view.is_blist?, 'href' => '#', 'submenu' => {'items' => [
            {'text' => 'Append From a File...', 'class' => 'append',
            'href' => "#{@view.href}/bulk/append", 'modal' => true},
            {'text' => 'Refresh From a File...', 'class' => 'replace',
            'href' => (current_user && current_user.can_access_premium_on?(@view)) ?
              "#{@view.href}/bulk/replace" : '/popup/premium',
            'modal' => true}
          ]}}
#        menu_options['separator'],
#        {'text' => 'Cut', 'class' => 'cut', 'href' => '#Cut'},
#        {'text' => 'Copy', 'class' => 'copy', 'href' => '#Copy'},
#        {'text' => 'Paste', 'class' => 'paste', 'href' => '#Paste'},
#        menu_options['separator'],
#        {'text' => 'Undo', 'class' => 'undo', 'href' => '#Undo'},
#        {'text' => 'Redo', 'class' => 'redo', 'href' => '#Redo'},
        ]}, is_owner, can_edit) %>
    </dd></dl>
  </li>
  <%- end -%>

  <li class='info'>
    <dl><dt><a href='#menuInfo'>Info</a></dt>
      <dd><%= menu_tag({'bare_menu' => true, 'items' => [
        menu_options['about'],
        menu_options['analytics'],
        menu_options['separator'],
        {'text' => 'Jump to', 'class' => 'tabJump', 'href' => '#',
        'submenu' => {'items' => [
          {'text' => 'Comments', 'class' => 'comments',
          'href' => '#infoPane_tabComments', 'if' => !@view.hide_comments?,
          'feature' => 'allow_comments'},
          {'text' => 'More Views', 'class' => 'views',
          'href' => '#infoPane_tabFiltered'},
          {'text' => 'Sharing', 'class' => 'shares',
          'href' => '#infoPane_tabSharing'},
          {'text' => 'Publishing', 'class' => 'publishing',
          'href' => '#infoPane_tabPublishing', 'if' => !@view.is_calendar?},
          {'text' => 'Activity', 'class' => 'activity',
          'href' => '#infoPane_tabActivity'},
          {'text' => 'Summary', 'class' => 'summary activePane',
          'href' => '#infoPane_tabSummary'}
          ]}}
      ]}, is_owner, can_edit) %>
    </dd></dl>
  </li>

  <li class='footer'><div class='outerWrapper'>
    <div class='innerWrapper'><span class='colorWrapper'></span>
  </div></div></li>
</ul>
