<ul id='mainMenu' class='menu multilevelMenu'>
  <li class='first blist active'>
    <dl><dt><a href='#menublist'>blist</a></dt>
      <dd><%= menu_tag({'bare_menu' => true, 'items' => [
        {'text' => 'Print this blist...', 'class' => 'print',
        'href' => '#'},
        {'text' => 'Export this blist', 'class' => 'export',
        'href' => '#', 'submenu' => {'class' => 'noicon', 'items' => [
        {'text' => 'As CSV', 'href' => '#'},
        {'text' => 'As PDF', 'href' => '#'}]}},
        {'text' => 'Email this blist...', 'class' => 'email',
        'href' => '#'},
        {'text' => 'Copy this blist', 'class' => 'copy', 'href' => '#'},
        {'separator' => true},
        {'text' => 'Create New blist', 'class' => 'create',
        'href' => '#', 'submenu' => {'items' => [
        {'text' => 'Start As a Table', 'class' => 'table',
        'href' => '#'},
        {'text' => 'Start As a Page', 'class' => 'page',
        'href' => '#'},
        {'text' => 'Start New Calendar', 'class' => 'calendar',
        'href' => '#'},
        {'text' => 'Start New Form', 'class' => 'form',
        'href' => '#'}]}},
        {'text' => 'Import...', 'class' => 'import', 'href' => '#'},
        {'text' => 'Find a Template', 'class' => 'findTemplate',
        'href' => '#'},
        {'separator' => true},
        {'text' => 'Open Recent', 'class' => 'recent', 'href' => '#',
        'submenu' => {'items' => [
        {'text' => 'some blist', 'class' => '', 'href' => '#'},
        {'text' => 'some filter', 'class' => '', 'href' => '#'}]}},
        {'separator' => true},
        {'text' => 'Edit blist permissions...',
        'class' => 'editPermissions', 'href' => '#'}]}) %>
    </dd></dl>
  </li>
  <li class='edit'>
    <dl><dt><a href='#menuEdit'>Edit</a></dt>
      <dd><%= menu_tag({'bare_menu' => true, 'items' => [
        {'text' => 'Undo', 'class' => 'undo', 'href' => '#'},
        {'text' => 'Redo', 'class' => 'redo', 'href' => '#'},
        {'separator' => true},
        {'text' => 'Cut', 'class' => 'cut', 'href' => '#'},
        {'text' => 'Copy', 'class' => 'copy', 'href' => '#'},
        {'text' => 'Paste', 'class' => 'paste', 'href' => '#'},
        {'separator' => true},
        {'text' => 'Delete', 'class' => 'delete', 'href' => '#'},
        {'separator' => true},
        {'text' => 'Edit Column Options', 'class' => 'columnOptions',
        'href' => '#', 'submenu' => columns_menu(@lens,
                 {'id' => 'columnOptionsMenu',
                  'href_prefix' => "#edit_column:",
                  'include_options' =>
                   {'blist_in_blist' => true,
                    'bnb_children' => true, 'list' => true},
                    'initial_items' => [
                      {'section_title' => 'Select a Column'},
                      {'separator' => true}]})},
        {'text' => 'Edit Row Options', 'class' => 'rowOptions',
        'href' => '#'}]}) %>
    </dd></dl>
  </li>
  <li class='data'>
    <dl><dt><a href='#menuData'>Data</a></dt>
      <dd><%= menu_tag({'bare_menu' => true, 'items' => [
        {'text' => 'Insert a Column', 'class' => 'insertColumn',
        'href' => '#', 'submenu' => {'class' => 'noicon', 'items' => [
        {'text' => 'At the Far Right', 'href' => '#'},
        {'text' => 'At the Far Left', 'href' => '#'}]}},
        {'text' => 'Insert a Row', 'class' => 'insertRow',
        'href' => '#', 'submenu' => {'class' => 'noicon', 'items' => [
        {'text' => 'At the Top', 'href' => '#'},
        {'text' => 'At the Bottom', 'href' => '#'}]}},
        {'separator' => true},
        {'text' => 'Mange Pick Lists...', 'class' => 'picklists',
        'href' => '#'},
        {'separator' => true},
        {'text' => 'Show Row Tags', 'class' => 'rowTags', 'href' => '#'},
        {'text' => 'Show Row IDs', 'class' => 'rowIDs', 'href' => '#'},
        {'separator' => true},
        {'text' => 'Column Totals', 'class' => 'columnTotals',
        'href' => '#', 'submenu' => columns_menu(@lens,
                 {'id' => 'columnTotalsMenu',
                  'href_prefix' => "#column_totals:",
                  'include_options' =>
                   {'bnb_children' => true, 'list' => true},
                    'initial_items' => [
                      # Not supported yet
                      #{'text' => 'Show Totals Bar',
                      #'class' => 'showTotals', 'href' => '#'},
                      #{'separator' => true},
                      {'section_title' => 'Add totals to:'}],
                  'submenu' => method(:column_aggregate_menu),
                  'column_test' => proc {|c|
                  c.dataType.possible_aggregates.length > 1}})}
        ]}) %>
    </dd></dl>
  </li>
  <li class='info'>
    <dl><dt><a href='#menuInfo'>Info</a></dt>
      <dd><%= menu_tag({'bare_menu' => true, 'items' => [
        {'section_title' => 'Tabs'},
        {'text' => 'Summary', 'class' => 'summary', 'href' => '#'},
        {'text' => 'Show Filtered Views', 'class' => 'views',
        'href' => '#'},
        {'text' => 'Show Comments', 'class' => 'comments',
        'href' => '#'},
        {'text' => 'Show Publishing', 'class' => 'publishing',
        'href' => '#'},
        {'text' => 'Show Shares', 'class' => 'shares', 'href' => '#'},
        {'text' => 'Show Activity', 'class' => 'activity',
        'href' => '#'}]}) %>
    </dd></dl>
  </li>
  <li class='publish'>
    <dl><dt><a href='#menuPublish'>Publish</a></dt>
      <dd><%= menu_tag({'bare_menu' => true, 'items' => [
        {'section_title' => 'Embed blists on the Web'},
        {'text' => 'Grid Only', 'class' => 'grid', 'href' => '#'},
        {'text' => 'Grid + Page', 'class' => 'gridPage', 'href' => '#'},
        {'text' => 'Page Only', 'class' => 'page', 'href' => '#'},
        {'separator' => true},
        {'text' => 'As a Form', 'class' => 'form', 'href' => '#'},
        {'text' => 'As a Search Widget', 'class' => 'search',
        'href' => '#'}]}) %>
    </dd></dl>
  </li>
  <li class='footer'><div class='outerWrapper'>
    <div class='innerWrapper'><span class='colorWrapper'></span>
  </div></div></li>
</ul>
