<ul id='mainMenu' class='menu multilevelMenu'>
  <li class='first basic active'>
    <dl><dt><a href='#menuBasic'>Basic</a></dt>
      <dd><%= menu_tag({'bare_menu' => true, 'items' => [
        {'text' => "Print this #{t(:blist_name)}...", 'class' => 'print',
        'href' => "#{@view.href}/print", 'modal' => true,
        'if' => !@view.is_alt_view?},
        {'separator' => true, 'user_required' => true},

        {'text' => "Design a New #{t(:blist_name).titleize}...",
        'class' => 'create', 'href' => "#{new_blist_path}"},
        {'text' => "Upload a New #{t(:blist_name).titleize}...",
        'class' => 'import', 'href' => '/upload'},
        {'separator' => true, 'user_required' => true},
        {'text' => 'Open Recent', 'class' => 'recent', 'href' => '#',
        'user_required' => true, 'submenu' => recent_blists_menu(@view, 5)},

        {'text' => "Flag #{t(:blist_name).capitalize} as",
        'class' => 'flag', 'owner_item' => false, 'submenu' => {'items' => [
          {'text' => 'Copyright Violation', 'class' => 'radioOption',
          'href' => "#{@view.href}/flag/copyright_violation", 'modal' => true},
          {'text' => 'Offensive Content', 'class' => 'radioOption',
          'href' => "#{@view.href}/flag/offensive_content", 'modal' => true},
          {'text' => 'Spam or Junk', 'class' => 'radioOption',
          'href' => "#{@view.href}/flag/spam", 'modal' => true},
          {'text' => 'Personal Information', 'class' => 'radioOption',
          'href' => "#{@view.href}/flag/personal_information", 'modal' => true},
          {'text' => 'Other', 'class' => 'radioOption',
          'href' => "#{@view.href}/flag/other", 'modal' => true},
          ]}}
        ]}, is_owner, can_edit) %>
    </dd></dl>
  </li>

  <li class='filterView'>
    <dl><dt><a href='#menuFilterView'>Filter, Visualize &amp; More</a></dt>
        <dd><%= menu_tag({'bare_menu' => true, 'items' => filter_submenu(@view)
        }, is_owner, can_edit) %>
    </dd></dl>
  </li>

  <li class='shareSocialize'>
    <dl><dt><a href='#menuShareSocialize'>Publish, Share &amp; Socialize</a></dt>
        <dd><%= menu_tag({'bare_menu' => true, 'items' => share_menu_options(@view)
        }, is_owner, can_edit) %>
    </dd></dl>
  </li>


  <li class='download'>
    <dl><dt><a href='#menuDownload'>Download, API &amp; RSS</a></dt>
        <dd><%= menu_tag({'bare_menu' => true, 'items' => [
        {'text' => 'Download this ' + t(:blist_name), 'class' => 'export',
        'href' => '#', 'submenu' => {'class' => 'noicon', 'items' => [
        {'text' => 'as CSV', 'external' => true,
        'href' => "/views/#{@view.id}/rows.csv?accessType=DOWNLOAD"},
        {'text' => 'as JSON', 'external' => true,
        'href' => "/views/#{@view.id}/rows.json?accessType=DOWNLOAD"},
        {'text' => 'as PDF', 'external' => true,
        'href' => "/views/#{@view.id}/rows.pdf?accessType=DOWNLOAD"},
        {'text' => 'as XLS', 'external' => true,
        'href' => "/views/#{@view.id}/rows.xls?accessType=DOWNLOAD"},
        {'text' => 'as XLSX (beta)', 'external' => true,
        'href' => "/views/#{@view.id}/rows.xlsx?accessType=DOWNLOAD"},
        {'text' => 'as XML', 'external' => true,
        'href' => "/views/#{@view.id}/rows.xml?accessType=DOWNLOAD"}
        ]}},
        {'text' => "Access this #{t(:blist_name).titleize} via the API...",
        'class' => 'api', 'href' => "/popup/api", 'modal' => true},
        {'separator' => true},
        {'text' => 'Subscribe to Updates', 'class' => 'subscribe',
        'href' => '#', 'submenu' => {'class' => 'noicon', 'items' => [
          {'text' => 'Atom', 'external' => true, 'class' => 'atom',
          'href' => "/views/#{@view.id}/rows.atom"},
          {'text' => 'RSS', 'external' => true, 'class' => 'rss',
          'href' => "/views/#{@view.id}/rows.rss"}
        ]}}
        ]}, is_owner, can_edit) %>
    </dd></dl>
  </li>

  <%- if can_edit && !@view.is_alt_view? -%>
  <li class='modify'>
    <dl><dt><a href='#menuModify'>Modify</a></dt>
      <dd><%= menu_tag({'bare_menu' => true, 'items' => [
        {'text' => "Permissions",
        'class' => 'editPermissions', 'owner_item' => true, 'if' => @view.is_blist?,
        'submenu' => { 'items' => [
          {'text' => 'Publicly viewable',
           'class' => "radioOption#{@view.is_public? ? 'Selected' : ''}",
           'href' => "#makePermissionPublic_#{@view.id}"},
          {'text' => 'Viewable only by owner and sharees',
           'class' => "radioOption#{@view.is_public? ? '' : 'Selected'}",
           'href' => "#makePermissionPrivate_#{@view.id}"},
          ]}},
        {'separator' => true, 'owner_item' => true},
        {'text' => 'Add a Column...', 'class' => 'insertColumn',
        'href' => "/datasets/#{@view.id}/columns/new", 'modal' => true,
        'owner_item' => true, 'if' => @view.is_blist?},
        {'text' => 'Edit Column Properties', 'class' => 'columnOptions',
            'submenu' => columns_menu(@view,
                 {'id' => 'columnOptionsMenu',
                  'href_prefix' => "/datasets/#{@view.id}/columns/",
                  'modal' => true, 'text_postfix' => '...',
                  'include_options' =>
                   {'nested_table' => true,
                    'nested_table_children' => true, 'list' => true}})},
        {'text' => 'Delete a Column', 'class' => 'columnDelete',
            'submenu' => columns_menu(@view,
                 {'id' => 'columnDeleteMenu',
                  'href_prefix' => "#delete-col_",
                  'column_test' => proc {|c, p| c.client_type != 'tag'},
                  'include_options' =>
                  {'nested_table' => true,
                    'nested_table_children' => true, 'list' => true}})},
        {'separator' => true, 'owner_item' => true},
        {'text' => 'Upload More Rows', 'class' => 'uploadRows',
          'if' => @view.is_blist?, 'href' => '#', 'submenu' => {'items' => [
            {'text' => 'Append From a File...', 'class' => 'append',
            'href' => "#{@view.href}/bulk/append", 'modal' => true},
            {'text' => 'Refresh From a File...', 'class' => 'replace',
            'href' => (current_user && current_user.can_access_premium_on?(@view)) ?
              "#{@view.href}/bulk/replace" : '/popup/premium',
            'modal' => true}
          ]}}
#        {'separator' => true},
#        {'text' => 'Cut', 'class' => 'cut', 'href' => '#Cut'},
#        {'text' => 'Copy', 'class' => 'copy', 'href' => '#Copy'},
#        {'text' => 'Paste', 'class' => 'paste', 'href' => '#Paste'},
#        {'separator' => true},
#        {'text' => 'Undo', 'class' => 'undo', 'href' => '#Undo'},
#        {'text' => 'Redo', 'class' => 'redo', 'href' => '#Redo'},
        ]}, is_owner, can_edit) %>
    </dd></dl>
  </li>
  <%- end -%>

  <li class='info'>
    <dl><dt><a href='#menuInfo'>Info</a></dt>
      <dd><%= menu_tag({'bare_menu' => true, 'items' => [
        {'text' => "About this #{t(:blist_name).titleize}...", 'class' => 'about',
          'href' => "#{@view.href}/about"},
        {'text' => "#{t(:blist_name).titleize} Analytics...",
          'class' => 'statistics',
          'href' => (current_user && current_user.can_access_premium_on?(@view)) ?
            "#{@view.href}/stats" : "/popup/stats",
            'modal' => (!current_user ||
              !current_user.can_access_premium_on?(@view))},
        {'separator' => true},
        {'text' => 'Jump to', 'class' => 'tabJump', 'href' => '#',
        'submenu' => {'items' => [
          {'text' => 'Comments', 'class' => 'comments',
          'href' => '#infoPane_tabComments', 'if' => !@view.hide_comments?},
          {'text' => 'More Views', 'class' => 'views',
          'href' => '#infoPane_tabFiltered'},
          {'text' => 'Sharing', 'class' => 'shares',
          'href' => '#infoPane_tabSharing'},
          {'text' => 'Publishing', 'class' => 'publishing',
          'href' => '#infoPane_tabPublishing', 'if' => !@view.is_alt_view?},
          {'text' => 'Activity', 'class' => 'activity',
          'href' => '#infoPane_tabActivity'},
          {'text' => 'Summary', 'class' => 'summary activePane',
          'href' => '#infoPane_tabSummary'}
          ]}}
      ]}, is_owner, can_edit) %>
    </dd></dl>
  </li>

  <li class='footer'><div class='outerWrapper'>
    <div class='innerWrapper'><span class='colorWrapper'></span>
  </div></div></li>
</ul>
