<%-
  shares = view.shares
  is_owner = (current_user && current_user.is_owner?(view))
-%>

<div class="sharingSummary">
  <p class="<%= view.is_public? ? "public" : (view.is_shared? ?
    "privateShared" : "private") %>">
  This <%= view.is_blist? ? t(:blist_name) : "filter" %> is
  <%- if is_owner && view.tableAuthor.id == view.owner.id -%>
  <a href='#toggle-permissions_<%= view.id %>'
    class='switchPermsLink'><%= view.is_public? ?
      "Public" : "Private" %></a>
  <%- else -%>
  <span><%= view.is_public? ? "Public" : "Private" %></span>
  <%- end -%>
  <%= view.is_shared? ? ' and shared with the following ' +
  (shares.length == 1 ? 'friend' : 'friend'.pluralize) + ':' : '' %>
  </p>
</div>

<div class="gridListContainer">
  <table class="gridList" cellspacing="0">
    <colgroup>
      <col class='picture' />
      <col class='contact' />
      <col class='role' />
      <col class='actionContainer' />
    </colgroup>
    <thead>
      <tr>
        <th class="picture" title="Friend"><div></div></th>
        <th class="contact" title="Friend">
          <div>Friend</div>
        </th>
        <th class="role" title="Role"><div>Role</div></th>
        <%# Not supported
        <th class="others"><div>Can Share w/ Others</div></th>
        <th class="opened"><div>Last Opened</div></th>
        %>
        <th class="actionContainer last"></th>
      </tr>
    </thead>
    <tbody>
      <%- shares.sort {|a,b|
        a.type <=> b.type ||
        a.member_name.downcase <=> b.member_name.downcase}.each do |s| -%>
      <tr class="item">
        <td class="picture">
          <div class="cellInner">
            <%- if s.member_id -%>
              <a href="<%= User.href(s.member_name, s.member_id) %>"><%= image_tag(s.member_image, :size => "24x24", :alt => h(s.member_name)) %></a>
            <%- else -%>
              <%= image_tag(s.member_image, :size => "24x24", :alt => h(s.member_name)) %>
            <%- end -%>
          </div>
        </td>
        <td class="contact"><div class="cellInner"><%= h(s.member_name) %></div></td>
        <td class="role"><div class="cellInner"><%= s.type %></div></td>
        <%# Not supported
        <td class="others"><div>Yes</div></td>
        <td class="opened"><div>01/09/2009</div></td>
        %>
        <td class="actionContainer"><div class="cellInner">
            <%- if s.member_id -%>
              <a href="<%= User.href(s.member_name, s.member_id) %>" class="action"><span>View Profile</span></a>
            <%- end -%>
        </div></td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
</div>