<div class="publishWarningWrapper <%= (view.is_public? || view.is_shared?) ? 'hide' : '' %>">
  <div class="publishWarning">
    <h2>Warning</h2>
    <p>
    This <%= view.is_blist? ? t(:blist_name).downcase : 'filter' %> is
    currently private.  Private <%= view.is_blist? ? t(:blist_name).downcase.pluralize : 'filters' %> 
    cannot be viewed in the Social Data Player.  Please
    set the privacy to public or shared before publishing.
    </p>
  </div>
</div>
<div class="publishContent <%= view.is_private? ? 'hide' : '' %>">
  <p>
  You can publish this <%= t(:blist_name).downcase %> and its filtered views on your blog or
  website by embedding it in a Social Data Player.  You can do so by simply copying and pasting
  the below HTML into your site.
  </p>
  <div class="publishCode">
    <p>Embed this <%= view.is_blist? ? t(:blist_name).downcase : 'filter' %> as a Social Data Player:</p>
    <div class="sizeOptions">
      <p class="field">
        <label for="publishWidth">Width</label>
        <%= text_field_tag("publishWidth", "500") %> px
      </p>
      <p class="field">
        <label for="publishHeight">Height</label>
        <%= text_field_tag("publishHeight", "425") %> px
      </p>
      <p class="field">
        <%- if customization_id.empty? -%>
          <label for="publishVariation">Color</label>
          <%= select_tag("publishVariation", options_for_select({ 'Blue' => '', 'Black' => 'black' })) %>
        <%- end -%>
      </p>
      <p id="sizeError" class="hide">The player must be at least 500 pixels wide by 425 pixels tall.</p>
    </div>
    <div class="copyCode">
      <%= text_area_tag("publishCode") %>
      <%= hidden_field_tag("publishCodeTemplate", get_publish_embed_code_for_view(view,
          {:dimensions => { :width => "#width#",  :height => "#height#" }},
          (customization_id.empty? ? "#variation#" : customization_id ))) %>
      <ul class="actionButtons clearfix">
        <li class="flushLeft"><a id="previewWidgetLink" href="<%= "/widgets_preview/#{view.id}" %>" class="noInterstitial arrowButton">See Preview</a></li>
      </ul>
    </div>
  </div>
</div>