<%# locals: view, page_single, allow_edit, in_widget  %>
<%- 
  isDuplicateEnabled = false
  div_shown = page_single ? "style='display:block;'" : ""
-%>
<%# *** START: SUMMARY *** %>
<div class="infoContentOuter singleInfoSummary listContainer active<%= page_single ? ' expanded' : '' %>">
  <div class="infoContentHeader clearfix">
    <h2 title='<%= h(view.name) %>'
      class="panelHeader clipText <%= get_permissions_icon_class_for_view(view) %>
      <%= allow_edit ? 'editItem' : '' %>">
      <div class='itemContent'>
        <%- title_opts = in_widget ? {:rel => "external"} : {} -%>
        <span><%= page_single ? h(view.name) :
          link_to(h(view.name), view.href, title_opts) %></span>
        <%- if allow_edit -%>
        <%- form_tag(view.href) do -%>
        <%= hidden_field_tag("fieldType", "name") %>
        <%= text_field_tag("view[name]", h(view.name)) %>
        <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
        <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"),
        blists_path, :title => "Cancel", :class => "formCancelLink") %>
        <%- end -%>
        <%- end -%>
      </div>
      <%- if allow_edit -%>
      <div class="itemActions">
        <a href="<%= view.href %>" class="action editLink"><span>Edit</span></a>
      </div>
      <%- end -%>
    </h2>

    <ul class="headerActions actionButtons">
      <%- unless (page_single || in_widget) -%>
        <li><a href="<%= view.href %>" class="arrowButton">Open</a></li>
      <%- end -%>
<%- if isDuplicateEnabled -%>
      <li><a href="#duplicate">Duplicate</a></li>
<%- end -%>
      <%- if allow_edit && !in_widget -%>
      <li><a href="<%= "#{view.href}?popup=SharingEditor" %>"
        class="showFlashPopup">Share</a></li>
      <%- end -%>
      <li><a href="<%= "#{view.href}/about" %>"<%= 'rel="external"' if (in_widget) %>>More Info</a></li>
    </ul>

    <%- if (!@current_user.nil? && !in_widget) -%>
      <%-
        if view.flag?("favorite")
          favorite_action = "/blists/#{view.id}/delete_favorite"
          favorite_action_text = "Remove from favorites"
        else
          favorite_action = "/blists/#{view.id}/create_favorite"
          favorite_action_text = "Add to favorites"
        end
      -%>
    <ul class="headerActions favoriteAction">
      <li class="favorite <%= view.flag?('favorite') %>">
        <a id="info-fav-<%=view.id%>" href="<%= favorite_action %>" title="<%= favorite_action_text %>"><%= favorite_action_text %></a>
      </li>
    </ul>
    <%- end -%>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"<%= div_shown %>>

      <dl class="summaryList <%= allow_edit ? 'actionList' : '' %>">
        <dt>
          Description
        </dt>
        <dd class="editItem">
          <div class="itemContent">
            <span class="textContent"><%= h(view.description) %></span>
            <%- if allow_edit -%>
            <%- form_tag(view.href) do -%>
              <%= hidden_field_tag("fieldType", "description") %>
              <%= text_field_tag("view[description]", h(view.description)) %>
              <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
              <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"), blists_path, :title => "Cancel", :class => "formCancelLink") %>
            <%- end -%>
            <%- end -%>
          </div>
          <%- if allow_edit -%>
          <div class="itemActions">
            <a href="<%= view.href %>" class="action editLink"><span>Edit</span></a>
          </div>
          <%- end -%>
        </dd>
      </dl>

      <dl class="summaryList <%= allow_edit ? 'actionList' : '' %>">
        <dt>
          Tags
        </dt>
        <dd class="editItem">
          <div class="itemContent">
            <span class="textContent"><%= h(view.tag_display_string) %></span>
            <%- if allow_edit -%>
            <%- form_tag(view.href) do -%>
              <%= hidden_field_tag("fieldType", "tags") %>
              <%= text_field_tag("view[tags]", h(view.tag_display_string)) %>
              <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
              <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"), blists_path, :title => "Cancel", :class => "formCancelLink") %>
            <%- end -%>
            <%- end -%>
          </div>
          <%- if allow_edit -%>
          <div class="itemActions">
            <a href="<%= view.href %>" class="action editLink"><span>Edit</span></a>
          </div>
          <%- end -%>
        </dd>
      </dl>

      <dl class="summaryList <%= allow_edit ? 'actionList' : '' %>">
        <dt>
          Category
        </dt>
        <dd class="editItem">
          <div class="itemContent">
            <span class="textContent"><%= h(view.category.nil? ? '' : view.category.capitalize) %></span>
            <%- if allow_edit -%>
            <%- form_tag(view.href) do -%>
              <%= hidden_field_tag("fieldType", "category") %>
              <%= select_tag("view[category]",
                category_select_options(h(view.category.nil? ?
                '' : view.category.capitalize))) %>
              <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
              <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"), blists_path, :title => "Cancel", :class => "formCancelLink") %>
            <%- end -%>
            <%- end -%>
          </div>
          <%- if allow_edit -%>
          <div class="itemActions">
            <a href="<%= view.href %>" class="action editLink"><span>Edit</span></a>
          </div>
          <%- end -%>
        </dd>
      </dl>

      <dl class="summaryList">
        <dt>
          Owner
        </dt>
        <dd>
          <div class="itemContent">
            <span class="textContent">
              <a href="<%= view.owner.href %>" <%= 'rel="external"' if (in_widget) %>>
                    <%= h(view.owner.displayName) %>
              </a>
            </span>
          </div>
        </dd>
      </dl>

      <dl class="summaryList">
        <dt>
          Created On
        </dt>
        <dd>
          <div class="itemContent">
            <span class="textContent"><%= blist_date(view.createdAt) %></span>
          </div>
        </dd>
      </dl>

      <dl class="summaryList actionList">
        <dt>
          Last Update
        </dt>
        <dd>
          <div class="itemContent">
            <span class="textContent"><%= up_user = view.last_updated_user
              h(up_user.nil? ? '' : up_user.displayName + ':') %>
              <%= blist_date(view.last_activity) %>
            </span>
          </div>
          <div class="itemActions">
            <a href="#tabActivity" class="action tabLink activity">
              <span>View Activity</span>
            </a>
          </div>
        </dd>
      </dl>

      <dl class="summaryList actionList">
        <dt>
          Filtered Views
        </dt>
        <dd>
          <div class="itemContent">
            <span class="textContent"><%= pluralize(view.filters.length, "filtered view") %></span>
          </div>
          <div class="itemActions">
            <a href="#tabFiltered" class="action tabLink filtered">
              <span>Details</span>
            </a>
          </div>
        </dd>
      </dl>
      <dl class="summaryList actionList">
        <dt>
          Community Activity
        </dt>
        <dd>
          <div class="itemContent">
            <ul class="textContent">
              <li><%= pluralize(view.viewCount, "visit") %></li>
              <%- if view.copyCount > 0 -%>
                <li><%= pluralize(view.copyCount, "copy") %></li>
              <%- end -%>
            </ul>
          </div>
          <div class="itemActions">
            <a href="#tabActivity" class="action tabLink activity">
              <span>View Activity</span>
            </a>
          </div>
        </dd>
      </dl>
      
      <dl class="summaryList actionList">
        <dt>
          Permalink
        </dt>
        <dd>
          <div class="itemContent">
            <% permaLink = request.protocol + request.host_with_port + view.href %>
            <%# use explicit a href here so Rails doesn't try to be clever %>
            <span class="textContent">
              <a href="<%= permaLink %>" title="A permanent URL for linking to this page" <%= 'rel="external"' if (in_widget) %>><%= permaLink %></a>
              <%= flash_clipboard_button(permaLink) if !in_widget %>
            </span>
          </div>
        </dd>
      </dl>

      <dl class="summaryList actionList">
        <dt>
          Short URL
        </dt>
        <dd>
          <div class="itemContent">
            <% short_url = request.protocol + request.host_with_port.gsub(/www\./, '') + view.short_href %>
            <%# use explicit a href here so Rails doesn't try to be clever %>
            <span class="textContent">
              <a href="<%= short_url %>" title="For easy sharing via Twitter, IM, or email" <%= 'rel="external"' if (in_widget) %>><%= short_url %></a>
              <%= flash_clipboard_button(short_url) if !in_widget %>
            </span>
          </div>
        </dd>
      </dl>


      <dl class="summaryList permissions <%= allow_edit ? 'actionList' : '' %>">
        <dt>
          Permissions
        </dt>
        <dd>
          <div class="itemContent">
            <span class="textContent"><%= view.is_public? ? 'Public' : 'Private' %></span>
          </div>
          <%- if allow_edit -%>
          <div class="itemActions">
            <a href='#sharing' class="action tabLink sharing"><span>Edit</span></a>
          </div>
          <%- end -%>
        </dd>
      </dl>

      <%- if view.contributor_users.length > 0 || view.viewer_users.length > 0 -%>
      <dl class="summaryList actionList">
        <dt>
          Sharing
        </dt>
        <dd>
          <div class="itemContent">
            <ul class="textContent">
              <%- if view.contributor_users.length > 0 -%>
                <li>
                  <%= pluralize(view.contributor_users.length, 'Contributor') %>
                </li>
              <%- end -%>
              
              <% if view.viewer_users.length > 0 -%>
                <li>
                  <%= pluralize(view.viewer_users.length, 'Viewer') %>
                </li>
              <%- end -%>
              <%# Not supported
              <li>[3 Requests]</li>
              %>
            </ul>
          </div>
          <ul class="itemActions">
            <li><a href="#share" class="action tabLink sharing">
              <span>Share</span></a>
            </li>
            <%# Not supported
            <li><a href="#view_requests" class="action"><span>View Requests</span></a></li>
            %>
          </ul>
        </dd>
      </dl>
      <%- end -%>

      <div class="attributionSummary">
        <dl class="summaryList <%= allow_edit ? 'actionList' : '' %>">
          <dt>
            Licensing
          </dt>
          <dd class="editItem">
            <div class="itemContent">
              <span class="infoLicensing">
                <%- if view.license -%>
                  <%- if view.license.logoUrl.nil? || view.license.logoUrl.empty? -%>
                    <%= h(view.license.name) %>
                  <%- else -%>
                    <a href="<%= h(view.license.termsLink) %>" <%= 'rel="external"' if (in_widget) %>>
                      <img src="/<%= view.license.logoUrl %>" alt="<%= view.license.name %>" />
                    </a>
                  <%- end -%>
                <%- end -%>
              </span>
            </div>
            <%- if allow_edit -%>
            <div class="itemActions">
              <a href="<%= view.href %>" class="action"><span>Edit</span></a>
            </div>
            <%- end -%>
          </dd>
        </dl>

        <dl class="summaryList <%= allow_edit ? 'actionList' : '' %>">
          <dt>
            Data Provided By
          </dt>
          <dd class="editItem">
            <div class="itemContent">
              <span class="infoAttribution textContent">
                <%- attr_link_opts = in_widget ? { :rel => "external" } : {} -%>
                <%= (view.attributionLink.nil? || view.attributionLink.empty?) ? h(view.attribution) : link_to(h(view.attribution), h(view.attributionLink), attr_link_opts) %>
              </span>
            </div>
            <%- if allow_edit -%>
            <div class="itemActions">
              <a href="<%= view.href %>" class="action"><span>Edit</span></a>
            </div>
            <%- end -%>
          </dd>
        </dl>
      </div>
      <div class="attributionEdit hide">
        <%= render :partial => 'blists/attribution_edit', :locals => { :view => view } %>
      </div>

    </div> <!-- /.infoContent -->
  </div></div> <!-- /.infoContentInner -->
</div>
<%# *** END: SUMMARY *** %>