<%- if !options.nil? -%>
<%- options.each do |opt| -%>
<%- oname = name_prefix + '-' + opt['name'] -%>
<%- if !local_assigns[:name_postfix].nil? -%>
<%-   oname += '-' + local_assigns[:name_postfix] -%>
<%- end -%>
<%- def_value = (local_assigns[:existing_values].nil? ? nil :
  local_assigns[:existing_values][opt['name']]) || opt['default'] -%>
<%- if !local_assigns[:value_index].nil? && def_value.is_a?(Array) -%>
<%-   def_value = def_value[local_assigns[:value_index]] -%>
<%- end -%>

<div class='line <%= (Array(opt['classes']) << opt['type']).join(' ') %>'>
  <%- if opt['type'] == 'hidden' -%>
  <input id='<%= oname %>' name='<%= oname %>' type='hidden'
    value='<%= def_value %>' />

  <%- else -%>
  <label for='<%= oname %>'><%= opt['label'] %></label>
  <%- if opt['type'] == 'boolean' -%>
  <input type='checkbox' id='<%= oname %>' name='<%= oname %>'
    <%- trueVal = opt['booleanTrueValue'] -%>
    <%= trueVal.nil? ? '' : "trueValue='" + trueVal + "'" %>
    <%= opt['booleanFalseValue'].nil? ? '' :
      "falseValue='" + opt['booleanFalseValue'] + "'" %>
    <%= trueVal.nil? ?
      def_value ? "checked='checked'" : '' :
      def_value == trueVal ? "checked='checked'" : '' %> />

  <%- elsif opt['type'] == 'string' || opt['type'] == 'number' -%>
  <input type='text' id='<%= oname %>' name='<%= oname %>'
    <%= def_value.nil? ? '' : "value='" + def_value.to_s + "'" %> />

  <%- elsif opt['type'] == 'dropdown' -%>
  <select id='<%= oname %>' name='<%= oname %>'>
    <%- opt['dropdownOptions'].each do |dval| -%>
    <option value='<%= dval['value'] %>'
      <%= def_value == dval['value'] ?
        "selected='selected'" : '' %>><%= dval['label'] %></option>
    <%- end -%>
  </select>

  <%- elsif opt['type'] == 'color' || opt['type'] == 'colorArray' -%>
  <%- def_value = [def_value] if !def_value.is_a?(Array) -%>
  <%- col_count = 0 -%>
  <%- def_value.each do |def_color| -%>
  <%- cname = oname + '-' + col_count.to_s -%>
  <%- col_count += 1 -%>
  <a class='colorOption' href='#<%= cname %>' title='Choose color'
    <%= def_color.nil? ? '' :
      "style='background-color:" + def_color + ";'" %>
    <%= opt['colorArray'].nil? ? '' :
      "colorDefaults='" + opt['colorArray'].to_json + "'" %>>
    Choose color
  </a>
  <input id='<%= cname %>' name='<%= cname %>' type='hidden'
    <%= def_color.nil? ? '' : "value='" + def_color + "'" %> />
  <%- end -%>
  <%- end -%>

  <%- if !opt['help'].nil? -%>
  <span class='helpie' title='<%= opt['help'] %>'>?</span>
  <%- end -%>

  <%- end -%>
</div>
<%- end -%>
<%- end -%>
