<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, "/views/#{@view.id}/rows.rss") %>
  <%= stylesheet_link_tag "blist-about-screen", :cache => "cache/blists_about_all" %>
  <title><%= @view.name %> | <%= th.site_title %></title>
  <%= meta_tags :description => @meta_description, :keywords => @meta_keywords %>
  <link rel="canonical" href="<%= @view.about_href %>" />
<% end %>

<%- is_owner = current_user && @view.owner.id == current_user.id -%>
<%- can_edit = current_user && @view.can_edit() -%>

<div id='overlay'></div>

<div class="twoColumnContainer clearfix">
  <div id="mainColumnContent" class="column mainContent">
    <div id="aboutContent">
      <div class="outerContent">
        <div class="content">

          <div class="aboutHeader">

            <h1 class="dataName"><%= link_to(h(@view.name), @view.href, :class => 'linkToDataset') %></h1>
            <a class="editLink editName<%= is_owner ? "" : " hide" %>" href="#edit">Edit</a>
            <div class="editNameForm hide">
              <%= form_tag(@view.href) %>
                <%= text_field_tag("view[name]", h(@view.name)) %>
                <a href="#" class="editNameSubmitButton">Submit</a>
                <a href="#" class="editNameCancelButton">Cancel</a>
              </form>
            </div>
            <ul class="itemMeta clearfix">
              <li class="ratingContainer grayStars"><%= get_blist_rating_html(@view) %></li>
              <li>Ratings <strong><%= number_with_delimiter(@view.totalTimesRated) %></strong></li>
              <li>Visits <strong><%= number_with_delimiter(@view.viewCount) %></strong></li>
              <li class="last">Comments <strong><%= number_with_delimiter(@view.numberOfComments) %></strong></li>
            </ul>
          </div>

          <div class="aboutBody">
            <div class="dataGeneral">
              <%- if is_owner || ((@view.category && @view.category != "") || (@view.tags && @view.tags.length > 0)) -%>
              <ul class="aboutCategoryList">
                <%- if is_owner || (@view.category && @view.category != "") -%>
                  <li>Category
                    <span class="categoryField fieldValue"><%= @view.category.nil? ? "None" : @view.category.capitalize %></span>
                  </li>
                <%- end -%>
                <a class="editLink editGeneral<%= is_owner ? "" : " hide" %>" href="#edit">Edit</a>
                <%- if is_owner || (@view.tags && @view.tags.length > 0) -%>
                  <li>Tags
                    <span class="tagsField fieldValue"><%= h(@view.tag_display_string.empty? ? "None" : @view.tag_display_string) %></span>
                  </li>
                <%- end -%>
              </ul>
              <%- end -%>

              <h2>Description</h2>
              <p class="descriptionField">
              <%- if @view.description.nil? || @view.description.empty? -%>
                No Description Provided
              <%- else -%>
                <%= h(@view.description) %>
              <%- end -%>
              </p>
            </div>
            <div class="editGeneralForm hide">
              <a href="#close" class="closeButton closeGeneral">close</a>
              <%= form_tag(@view.href) %>
                <dl class="summaryList">
                  <dt>
                    Category
                  </dt>
                  <dd>
                    <div class="itemContent">
                      <div>
                        <%= select_tag("view[category]", category_select_options(
                          h(@view.category.nil? ? '' : @view.category.capitalize))) %>
                      </div>
                    </div>
                  </dd>
                </dl>
                <dl class="summaryList">
                  <dt>
                    Tags
                  </dt>
                  <dd>
                    <div class="itemContent">
                      <div>
                        <%= text_field_tag("view[tags]", h(@view.tag_display_string)) %>
                      </div>
                    </div>
                  </dd>
                </dl>
                <dl class="summaryList">
                  <dt>
                    Description
                  </dt>
                  <dd>
                    <div class="itemContent">
                      <div>
                        <%= text_area_tag("view[description]", h(@view.description)) %>
                      </div>
                    </div>
                  </dd>
                </dl>
                <dl class="summaryList submitActionRow">
                  <dt>&nbsp;</dt>
                  <dd>
                    <div class="itemContent">
                      <ul class="submitActions">
                        <li>
                          <ul class="actionButtons">
                            <li><a id="generalEditSubmitButton" class="arrowButton" href="#submit">Save</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </dd>
                </dl>
              </form>
            </div>

            <div class="attributionSummary">
              <h2>Licensing, Attribution &amp; Terms of Use</h2>
              <a class="editLink editAttribution<%= is_owner ? "" : " hide" %>" href="#edit">Edit</a>
              <ul class="attributionList">
                <li>Data Provided by
                  <span class="attributionSource fieldValue">
                  <%- if @view.attribution.nil? || @view.attribution.empty? -%>
                    None specified
                  <%- else -%>
                    <%= h(@view.attribution) %>
                  <%- end -%>
                  </span>
                </li>
                <li>Source Link
                  <span class="attributionSourceLink fieldValue">
                  <%- if @view.attributionLink.nil? || @view.attributionLink.empty? -%>
                    None
                  <%- else -%>
                    <%= link_to(h(@view.attributionLink)) %>
                  <%- end -%>
                  </span>
                </li>
              </ul>

              <%- if is_owner || @view.license -%>
              <h3>Usage License</h3>
                <p><span class="licenseName fieldValue">
                <%- if @view.license.nil? -%>
                  No License
                <%- elsif @view.license.logoUrl.nil? || @view.license.logoUrl.empty? -%>
                  <%= @view.license.name %>
                <%- else -%>
                  <a href="<%= h(@view.license.termsLink) %>">
                    <img src="/<%= @view.license.logoUrl %>" alt="<%= @view.license.name %>" />
                  </a>
                <%- end -%>
                </span></p>
              <%- end -%>

              <%- if @view.termsAndConditions -%>
                <h3>Terms of Use</h3>
                <p class="attributionTerms"><%= @view.termsAndConditions %></p>
              <%- end -%>
            </div>

            <div class="attributionEdit hide">
              <a href="#close" class="closeButton closeAttribution">close</a>
              <%= render :partial => 'attribution_edit', :locals => { :view => @view } %>
            </div>

            <h2 class="summaryInfoHeader">Summary Information</h2>
            <dl class="aboutSummaryList clearfix">
              <dt>Added By</dt>
              <dd>
                <%= link_to(image_tag(@view.owner.profile_image_path("small"), :size => "16x16", :alt => h(@view.owner.displayName), :class => "summaryProfileImage"), @view.owner.href) %><%= link_to(h(@view.owner.displayName), @view.owner.href) %></dd>
              <dt>Added On</dt>
              <dd><%= blist_date(@view.createdAt) %></dd>
              <dt>Last Update</dt>
              <%-
                up_user = @view.last_updated_user
              %>
              <dd>
                <%= up_user.nil? ? '' : link_to(h(up_user.displayName), up_user.href) + ':' %>
                <%= blist_date(@view.last_activity) %>
              </dd>
              <dt>Filtered Views</dt>
              <dd><%= @view.filters.length %> total</dd>
              <dt>Community Activity</dt>
              <dd>
                <ul>
                  <li>Visits: <%= number_with_delimiter(@view.viewCount) %></li>
                  <li>Comments: <%= number_with_delimiter(@view.numberOfComments) %></li>
                  <li>Ratings: <%= number_with_delimiter(@view.totalTimesRated) %> <div class="grayStars"><%= get_blist_rating_html(@view) %></div></li>
                </ul>
              </dd>
              <dt>Permalink</dt>
              <dd>
                <% permaLink = request.protocol + request.host_with_port + @view.href %>
                <%# use explicit a href here so Rails doesn't try to be clever %>
                <span class="permalinkField">
                  <a href="<%= permaLink %>" title="A permanent URL for linking to this page" class="linkAndTextToDataset"><%= permaLink %></a>&nbsp;
                  <%= flash_clipboard_button(permaLink) %>
                </span>
              </dd>
              <dt>Short URL</dt>
              <dd>
                <% short_url = request.protocol + request.host_with_port.gsub(/www\./, '') + @view.short_href %>
                <%# use explicit a href here so Rails doesn't try to be clever %>
                <span>
                  <a href="<%= short_url %>" title="For easy sharing via Twitter, IM, or email"><%= short_url %></a>&nbsp;
                  <%= flash_clipboard_button(short_url) %>
                </span>
              </dd>
              <dt>Permissions</dt>
              <dd><%= @view.is_public? ? 'Public' : 'Private' %></dd>
              <dt>Sharing</dt>
              <dd>
                <ul>
                  <li><%= pluralize(@view.contributor_users.length, 'Contributor') %></li>
                  <li><%= pluralize(@view.viewer_users.length, 'Viewer') %></li>
                </ul>
              </dd>
            </dl>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column notabs">
    <% render(:layout => "shared/sidebar_box") do %>
      <ul class="actionButtons blockList clearfix">
        <li><%= link_to("View this #{t(:blist_name)}", @view.href, :class => "arrowButton linkToDataset") %></li>
        <%# TODO: Add publishing button when we have publish modal available. %>
      </ul>
    <% end %>

    <% render(:layout => "shared/sidebar_box") do %>
      <div class="ownerProfileContainer clearfix">
        <ul class="ownerData">
          <li><strong>Added By:</strong> <%= h(@view.owner.displayName) %></li>
          <li><strong>Added On:</strong> <%= blist_date(@view.createdAt) %></li>
          <li><strong>Last Update:</strong> <%= blist_date(@view.last_activity) %></li>
        </ul>
        <div class="ownerImage">
          <a href="<%= @view.owner.href %>">
            <%= image_tag(@view.owner.profile_image_path("medium"), :size => "60x60", :alt => h(@view.owner.displayName)) %>
          </a>
        </div>
      </div>
    <% end %>

    <% render(:layout => "shared/sidebar_box") do %>
      <ul class="socialActions">
        <li>
          <a href="#" class="socialActionLink" title="Share on Social Networks" id="shareLink">
            <span class="dropdownWrapper">
              <span class="linkIcon">Socialize</span>
            </span>
          </a>
    	    <%= menu_tag(socialize_menu_options(@view, 'shareMenu')) %>
    	  </li>
    	  <li>
    	    <a href="#" class="socialActionLink"
    	      title="Download a copy of this dataset to your computer" id="downloadLink">
    	      <span class="dropdownWrapper">
              <span class="linkIcon">Download As</span>
            </span>
          </a>
    	    <%= menu_tag({'id' => 'downloadMenu', 'class' => 'noicon', 'items' => [
          {'text' => 'Comma Separated Values (.csv)', 'external' => true,
          'href' => "/views/#{@view.id}/rows.csv?accessType=DOWNLOAD"},
          {'text' => 'Adobe PDF (.pdf)', 'external' => true,
          'href' => "/views/#{@view.id}/rows.pdf?accessType=DOWNLOAD"},
          {'text' => 'Excel 97 - 2003 Workbook (.xls)', 'external' => true,
          'href' => "/views/#{@view.id}/rows.xls?accessType=DOWNLOAD"},
          # {'text' => 'As XLSX', 'external' => true,
          # 'href' => "/views/#{@view.id}/rows.xlsx?accessType=DOWNLOAD"},
          {'text' => 'XML Data (.xml)', 'external' => true,
          'href' => "/views/#{@view.id}/rows.xml?accessType=DOWNLOAD"},
          {'text' => 'JavaScript Object Notation (.json)', 'external' => true,
          'href' => "/views/#{@view.id}/rows.json?accessType=DOWNLOAD"}
          ]}) %>
        </li>
    	  <li>
    	    <a href="<%= "/views/#{@view.id}/rows.rss" %>" class="socialActionLink" title="Stay up to date with this dataset with RSS" id="rssLink">
    	      <span class="linkIcon">Subscribe to RSS</span>
    	    </a>
    	  </li>
    	  <li>
    	    <a href="<%= "/views/#{@view.id}/rows.xml?accessType=API" %>" class="socialActionLink" title="Get direct access to this dataset through our API" id="apiLink">
    	      <span class="linkIcon">Access via API</span>
    	    </a>
    	  </li>
    	  <li>
    	    <a href="<%= "#{@view.href}/print" %>" class="socialActionLink" title="Print out a copy of this dataset" id="printLink" rel="modal">
    	      <span class="linkIcon">Print</span>
    	    </a>
    	  </li>
      </ul>
    <% end %>

    <% render(:layout => "shared/sidebar_box") do %>
      <h4>Columns</h4>
      <ul class="columnList">
        <%- @view.columns.slice(0, 20).each do |column| -%>
          <%- unless (column.flags.any? {|flag| flag.data == "hidden"}) -%>
            <li class="<%= get_datatype_class(column) %> clipText" title="<%= h(column.name) %>"><%= h(column.name) %></li>
          <%- end -%>
        <%- end -%>
        <%- if (@view.columns.length > 20) -%>
          <li class="moreColumns">&hellip;</li>
        <%- end -%>
        <li class="viewLink"><%= link_to("View", @view.href, :class => 'linkToDataset',
                                          :title => "View all columns in the full #{t(:blist_name)} grid") %></li>
      </ul>
    <% end %>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "screens/blist-about-screen", "screens/attribution-edit",
      "widgets/dropdown-menu",
      :cache => "cache/blists_about" %>
<% end %>
