<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, "/views/#{@view.id}/rows.rss") %>
  <%= stylesheet_link_tag "blist-about-screen" %>
  <title><%= @view.name %> | <%= CurrentDomain.strings.site_title %></title>
  <%= meta_tags :description => @meta_description, :keywords => @meta_keywords %>
  <link rel="canonical" href="<%= @view.about_href %>" />
<% end %>

<%- can_edit = current_user && (@view.owner.id == current_user.id ||
  CurrentDomain.user_can?(current_user, :edit_others_datasets)) -%>

<div id='overlay'></div>

<div class="twoColumnContainer clearfix">
  <div id="mainColumnContent" class="column mainContent">
    <div id="aboutContent">
      <div class="outerContent">
        <div class="contentTR"><div class="contentTL"></div></div>
        <div class="content">

          <div class="aboutHeader">

            <h1 class="dataName"><%= link_to(@view.name, @view.href, :class => 'linkToDataset') %></h1>
            <a class="editLink editName<%= can_edit ? "" : " hide" %>" href="<%= @view.href %>/about_edit" title="Edit Dataset Name">Edit</a>
            <div class="editNameForm hide">
              <%= form_tag(@view.href) %>
                <label for='view_name'>New Name:</label>
                <%= text_field_tag("view[name]", h(@view.name)) %>
                <a href="#" class="editNameSubmitButton">Submit</a>
                <a href="#" class="editNameCancelButton">Cancel</a>
              </form>
            </div>
            <ul class="itemMeta clearfix">
              <li class="ratingContainer grayStars"><%= get_blist_rating_html(@view) %></li>
              <li>Ratings <strong><%= number_with_delimiter(@view.totalTimesRated) %></strong></li>
              <li>Visits <strong><%= number_with_delimiter(@view.viewCount) %></strong></li>
              <li class="last">Comments <strong><%= number_with_delimiter(@view.numberOfComments) %></strong></li>
            </ul>
          </div>

          <div class="aboutBody">
            <div class="dataGeneral">
              <%# Category %>
              <%- if (can_edit || ((@view.category && @view.category != "") || (@view.tags && @view.tags.length > 0))) && (feature?(:show_categories) || feature?(:show_tags)) -%>
              <ul class="aboutCategoryList">
                <%- if (can_edit || (@view.category && @view.category != "")) && feature?(:show_categories) -%>
                  <li>Category
                    <span class="categoryField fieldValue"><%= @view.category.nil? ? "None" : @view.category.capitalize %></span>
                  </li>
                <%- end -%>
                <a class="editLink editGeneral<%= can_edit ? "" : " hide" %>" href="<%= @view.href %>/about_edit" title="Edit Category and Tags">Edit</a>

                <%# Tags %>
                <%- if (can_edit || (@view.tags && @view.tags.length > 0)) && feature?(:show_tags) -%>
                  <li>Tags
                    <span class="tagsField fieldValue"><%= @view.tag_display_string.empty? ? "None" : @view.tag_display_string %></span>
                  </li>
                <%- end -%>
              </ul>
              <%- end -%>

              <h2>Description</h2>
              <p class="descriptionField">
              <%- if @view.description.nil? || @view.description.empty? -%>
                No Description Provided
              <%- else -%>
                <%= raw auto_link(h(@view.description), :html => { :rel => 'nofollow external' }) %>
              <%- end -%>
              </p>
            </div>
            <div class="editGeneralForm hide">
              <%= form_tag(@view.href) %>
                <%- if feature? :show_categories -%>
                  <dl class="summaryList">
                    <dt>
                      Category
                    </dt>
                    <dd>
                      <div class="itemContent">
                        <div>
                          <%= select_tag("view[category]", category_select_options(
                            h(@view.category.nil? ? '' : @view.category.capitalize))) %>
                        </div>
                      </div>
                    </dd>
                  </dl>
                <%- end -%>

                <%- if feature? :show_tags -%>
                  <dl class="summaryList">
                    <dt>
                      Tags
                    </dt>
                    <dd>
                      <div class="itemContent">
                        <div>
                          <%= text_field_tag("view[tags]", h(@view.tag_display_string)) %>
                        </div>
                      </div>
                    </dd>
                  </dl>
                <%- end -%>

                <dl class="summaryList">
                  <dt>
                    Description
                  </dt>
                  <dd>
                    <div class="itemContent">
                      <div>
                        <%= text_area_tag("view[description]", h(@view.description)) %>
                      </div>
                    </div>
                  </dd>
                </dl>
                <dl class="summaryList submitActionRow">
                  <dt>&nbsp;</dt>
                  <dd>
                    <div class="itemContent">
                      <ul class="submitActions">
                        <li>
                          <ul class="actionButtons">
                            <li><a id="generalEditSubmitButton" class="arrowButton" href="#submit">Save</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </dd>
                </dl>
                
              </form>
              <a href="#close" class="closeButton closeGeneral">close</a>
            </div>

            <div class="attachmentsSummary">
              <h2>Attachments</h2>
              <a class="editLink editAttachments<%= can_edit ? "" : " hide" %>" href="<%= @view.href %>/about_edit" title="Edit Attachments">Edit</a>
              <%- if @view.metadata && !@view.metadata.attachments.blank? -%>
              <dd class="editItem">
                <div class="itemContent">
                  <span class="ie7canary">&nbsp;</span>
                  <ul class="textContent">
                    <%- @view.metadata.attachments.each do |attachment| -%>
                      <%- attachmentObj = Attachment.set_up_model(attachment) -%>
                      <li class="attachmentItem">
                        <%= link_to( attachmentObj.displayName, attachmentObj.href, :target => "_blank" ) %>
                      </li>
                    <%- end -%>
                  </ul>
                </div>
              </dd>
              <%- else -%>
                <ul>
                  <li>
                    <p>No Attachments</p>
                  </li>
                </ul>
              <%- end -%>
            </div>

            <div class="attachmentsEdit hide">
              <%= render :partial => 'attachments_edit', :locals => { :view => @view } %>
              <a href="#close" class="closeButton closeAttachmentsButton">close</a>
            </div>

            <%# Because attachments and custom metadata both write to the same field, mitigate conflicts %>
            <%= hidden_field_tag('viewMetadataJson', @view.metadata.to_json) %>

            <div class="attributionSummary">
              <h2>Licensing, Attribution &amp; Terms of Use</h2>
              <a class="editLink editAttribution<%= can_edit ? "" : " hide" %>" href="<%= @view.href %>/about_edit" title="Edit Licensing and Attribution">Edit</a>
              <ul class="attributionList">
                <li>Data Provided by
                  <span class="attributionSource fieldValue">
                  <%- if @view.attribution.nil? || @view.attribution.empty? -%>
                    None specified
                  <%- else -%>
                    <%= @view.attribution %>
                  <%- end -%>
                  </span>
                </li>
                <li>Source Link
                  <span class="attributionSourceLink fieldValue">
                  <%- if @view.attributionLink.nil? || @view.attributionLink.empty? -%>
                    None
                  <%- else -%>
                    <%= link_to(@view.attributionLink) %>
                  <%- end -%>
                  </span>
                </li>
              </ul>

              <%- if can_edit || @view.license -%>
              <h3>Usage License</h3>
                <p><span class="licenseName fieldValue">
                <%- if @view.license.nil? -%>
                  No License
                <%- elsif @view.license.logoUrl.nil? || @view.license.logoUrl.empty? -%>
                  <%= @view.license.name %>
                <%- else -%>
                  <a href="<%= @view.license.termsLink %>">
                    <img src="/<%= @view.license.logoUrl %>" alt="<%= @view.license.name %>" />
                  </a>
                <%- end -%>
                </span></p>
              <%- end -%>

              <%- if @view.termsAndConditions -%>
                <h3>Terms of Use</h3>
                <p class="attributionTerms"><%= @view.termsAndConditions %></p>
              <%- end -%>
            </div>

            <div class="attributionEdit hide">
              <%= render :partial => 'attribution_edit', :locals => { :view => @view } %>
              <a href="#close" class="closeButton closeAttribution">close</a>
            </div>

            <div class="customMetaSummary">
              <h2>Additional Information</h2>
              <a class="editLink editMetadataLink<%= can_edit ? "" : " hide" %>" href="<%= @view.href %>/about_edit" title="Edit Additional Information">Edit</a>
              <%- if @view.metadata && @view.metadata.custom_fields -%>
                <dl class="aboutSummaryList clearfix <%= can_edit ? 'actionList' : '' %>">
                  <%- @view.metadata.custom_fields.each do |field| -%>
                  <div class="customFieldEdit">
                    <dt><%= h(field[0]) %></dt>
                    <dd> 
                      <div class="textDisplay">
                        <span class="textContent"><%= raw auto_link(h(field[1]), :html => { :rel => 'nofollow external' }) %></span>
                      </div>
                      <div class="editFieldForm hide">
                        <%= form_tag("/api/views/#{@view.id}") %>
                          <%= text_field_tag 'textValue', h(field[1]), :class => 'textValue', :id => nil %>
                          <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
                          <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"), profile_index_path, :title => "Cancel", :class => "formCancelLink") %>
                        </form>
                      </div>
                    </dd>
                  </div>
                  <%- end -%>
                </dl>
              <%- end -%>
              <%= render :partial => 'blists/custom_metadata_edit', :locals => { :view => @view,
                  :dl_class => 'aboutSummaryList clearfix', :show_edit_link => false } if can_edit %>
            </div>

            <h2 class="summaryInfoHeader">Summary Information</h2>
            <dl class="aboutSummaryList clearfix">
              <dt>Added By</dt>
              <dd>
                <%= link_to(image_tag(@view.owner.profile_image_path("small"), :size => "16x16", :alt => h(@view.owner.displayName), :class => "summaryProfileImage"), @view.owner.href) %><%= link_to(@view.owner.displayName, @view.owner.href) %></dd>
              <dt>Added On</dt>
              <dd><%= blist_date(@view.createdAt) %></dd>
              <dt>Last Update</dt>
              <%-
                up_user = @view.last_updated_user
              %>
              <dd>
                <%= raw up_user.nil? ? '' : link_to(up_user.displayName, up_user.href) + ':' %>
                <%= blist_date(@view.last_activity) %>
              </dd>
              <dt>Filtered Views</dt>
              <dd><%= @view.filters.length %> total</dd>
              <dt>Community Activity</dt>
              <dd>
                <ul>
                  <li>Visits: <%= number_with_delimiter(@view.viewCount) %></li>
                  <li>Comments: <%= number_with_delimiter(@view.numberOfComments) %></li>
                  <li>Ratings: <%= number_with_delimiter(@view.totalTimesRated) %> <div class="grayStars"><%= get_blist_rating_html(@view) %></div></li>
                </ul>
              </dd>
              <dt>Permalink</dt>
              <dd>
                <% permaLink = request.protocol + request.host_with_port + @view.href %>
                <%# use explicit a href here so Rails doesn't try to be clever %>
                <span class="permalinkField">
                  <a href="<%= permaLink %>" title="A permanent URL for linking to this page" class="linkAndTextToDataset"><%= permaLink %></a>&nbsp;
                  <%= flash_clipboard_button(permaLink) %>
                </span>
              </dd>
              <dt>Short URL</dt>
              <dd>
                <% short_url = request.protocol + request.host_with_port.gsub(/www\./, '') + @view.short_href %>
                <%# use explicit a href here so Rails doesn't try to be clever %>
                <span>
                  <a href="<%= short_url %>" title="For easy sharing via Twitter, IM, or email"><%= short_url %></a>&nbsp;
                  <%= flash_clipboard_button(short_url) %>
                </span>
              </dd>
              <dt>Permissions</dt>
              <dd><%= @view.is_public? ? 'Public' : 'Private' %></dd>
              <dt>Sharing</dt>
              <dd>
                <ul>
                  <li><%= pluralize(@view.contributor_users.length, 'Contributor') %></li>
                  <li><%= pluralize(@view.viewer_users.length, 'Viewer') %></li>
                </ul>
              </dd>
            </dl>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column notabs">
    <% render(:layout => "shared/sidebar_box") do %>
      <ul class="actionButtons blockList clearfix">
        <li><%= link_to("View this #{t(:blist_name)}", @view.href, :class => "arrowButton linkToDataset") %></li>
        <%# TODO: Add publishing button when we have publish modal available. %>
      </ul>
    <% end %>

    <% render(:layout => "shared/sidebar_box") do %>
      <div class="ownerProfileContainer clearfix">
        <ul class="ownerData">
          <li><strong>Added By:</strong> <%= link_to(@view.owner.displayName, @view.owner.href) %></li>
          <li><strong>Added On:</strong> <%= blist_date(@view.createdAt) %></li>
          <li><strong>Last Update:</strong> <%= blist_date(@view.last_activity) %></li>
        </ul>
        <div class="ownerImage">
          <a href="<%= @view.owner.href %>">
            <%= image_tag(@view.owner.profile_image_path("medium"), :size => "60x60", :alt => h(@view.owner.displayName)) %>
          </a>
        </div>
      </div>
    <% end %>

    <% render(:layout => "shared/sidebar_box") do %>
      <ul class="socialActions">
        <li>
          <a href="#" class="socialActionLink" title="Share on Social Networks" id="shareLink">
            <span class="dropdownWrapper">
              <span class="linkIcon">Socialize</span>
            </span>
          </a>
          <%= menu_tag({'id' => 'shareMenu', 'items' => socialize_menu_options(@view)}) %>
    	  </li>
    	  <li>
    	    <a href="#" class="socialActionLink"
    	      title="Download a copy of this dataset to your computer" id="downloadLink">
    	      <span class="dropdownWrapper">
              <span class="linkIcon">Download As</span>
            </span>
          </a>
          <%- if @view.is_tabular?
                menu_items = [
                  {'text' => 'Comma Separated Values (.csv)', 'external' => true,
                  'href' => "/views/#{@view.id}/rows.csv?accessType=DOWNLOAD"},
                  {'text' => 'Adobe PDF (.pdf)', 'external' => true,
                  'href' => "/views/#{@view.id}/rows.pdf?accessType=DOWNLOAD"},
                  {'text' => 'Excel 97 - 2003 Workbook (.xls)', 'external' => true,
                  'href' => "/views/#{@view.id}/rows.xls?accessType=DOWNLOAD"},
                  {'text' => 'As XLSX (beta)', 'external' => true,
                  'href' => "/views/#{@view.id}/rows.xlsx?accessType=DOWNLOAD"},
                  {'text' => 'XML Data (.xml)', 'external' => true,
                  'href' => "/views/#{@view.id}/rows.xml?accessType=DOWNLOAD"},
                  {'text' => 'JavaScript Object Notation (.json)', 'external' => true,
                  'href' => "/views/#{@view.id}/rows.json?accessType=DOWNLOAD"},
                  {'text' => 'RDF (.rdf)', 'external' => true,
                  'href' => "/views/#{@view.id}/rows.rdf?accessType=DOWNLOAD"}
                  ]
              else
                menu_items = [
                  {'text' => 'Download File', 'external' => true,
                  'href' => @view.dataset_href} ]
              end -%>
    	    <%= menu_tag({'id' => 'downloadMenu', 'class' => 'noicon', 'items' => menu_items}) %>
        </li>
          <%- if @view.is_tabular? -%>
            <li>
              <a href="<%= "/views/#{@view.id}/rows.rss" %>" class="socialActionLink" title="Stay up to date with this dataset with RSS" id="rssLink">
                <span class="linkIcon">Subscribe to RSS</span>
              </a>
            </li>
          <%- end -%>
    	  <li>
    	    <a href="<%= "/popup/api" %>" class="socialActionLink" title="Get direct access to this dataset through our API" id="apiLink" rel="modal">
    	      <span class="linkIcon">Access via API</span>
    	    </a>
    	  </li>
          <%- if !@view.is_alt_view? -%>
    	  <li>
    	    <a href="<%= "#{@view.href}/print" %>" class="socialActionLink" title="Print out a copy of this dataset" id="printLink" rel="modal">
    	      <span class="linkIcon">Print</span>
    	    </a>
    	  </li>
          <%- end -%>
      </ul>
    <% end %>

    <%- if !@view.is_alt_view? -%>
    <% render(:layout => "shared/sidebar_box") do %>
      <h4>Columns</h4>
      <ul class="columnList">
        <%- @view.columns.slice(0, 20).each do |column| -%>
          <%- unless (column.flags.any? {|flag| flag.data == "hidden"}) -%>
            <li class="<%= get_datatype_class(column) %> clipText" title="<%= column.name %>"><%= column.name %></li>
          <%- end -%>
        <%- end -%>
        <%- if (@view.columns.length > 20) -%>
          <li class="moreColumns">&hellip;</li>
        <%- end -%>
        <li class="viewLink"><%= link_to("View", @view.href, :class => 'linkToDataset',
                                          :title => "View all columns in the full #{t(:blist_name)} grid") %></li>
      </ul>
    <% end %>
    <%- end -%>
  </div>
</div>

<% content_for :js_footer do %>
  <%= javascript_include_merged 'shared-common-all' %>
  <%= javascript_include_merged 'blists-about' %>
<% end %>
