<%- content_for(:wrapper_class, "narrowDialog") -%>
<%- content_for :headline do -%>
<h1 class='calendarIcon'>Create a Calendar View</h1>
<%- end -%>

<div class='modalContentWrapper calendarWrapper viewSetupWrapper'>
  <p class='subtitle'>
  Datasets with dates can be displayed in a monthly calendar format.
  </p>

  <% form_tag("#{@view.href}/create_calendar") do %>
    <input type='hidden' name='view_query' value='<%= @view.query.to_json %>' />
    <div class='section'>
      <h3>Name</h3>
      <p class='subtitle separator'>
      Give a name to your new calendar view
      </p>
      <div class='line'>
        <label class='required' for='calendarName'>Name</label>
        <input type='text' id='calendarName' name='viewName' />
      </div>
    </div>

    <div class='section'>
      <%- date_cols = @view.columns.select {|c| c.renderTypeName == 'date' &&
        !c.flag?('hidden')} -%>
      <%- is_multi_date = date_cols.length > 1 -%>
      <h3 class='<%= is_multi_date ? '' : 'separator' %>'>
        Date<%= is_multi_date ? '(s)' : ' Column' %>
      </h3>
      <%- if is_multi_date -%>
      <p class='subtitle separator'>
      Select up to two date columns to set the start and end dates for
      your calendar events
      </p>
      <%- end -%>
      <div class='line'>
        <label class='required' for='calendarStartDate'>Starting Date</label>
        <select id='calendarStartDate' name='startDate' class='prompt'>
          <option class='prompt' value=''>Select a Column</option>
          <%- date_cols.each do |c| -%>
          <option value='<%= c.tableColumnId %>'><%= c.name %></option>
          <%- end -%>
        </select>
      </div>
      <%- if is_multi_date -%>
      <div class='line'>
        <label for='calendarEndDate'>Ending Date</label>
        <select id='calendarEndDate' name='endDate' class='prompt'>
          <option class='prompt' value=''>Optional</option>
          <%- date_cols.each do |c| -%>
          <option value='<%= c.tableColumnId %>'><%= c.name %></option>
          <%- end -%>
        </select>
      </div>
      <%- end -%>
    </div>

    <div class='section'>
      <%- text_cols = @view.columns.select {|c| c.renderTypeName == 'text' &&
        !c.flag?('hidden')} -%>
      <%- is_multi_text = text_cols.length > 1 -%>
      <h3>Event Information</h3>
      <p class='subtitle separator'>
      Select the column<%= is_multi_text ? 's' : '' %>
      that provide<%= is_multi_text ? '' : 's' %> details for the event
      </p>
      <div class='line'>
        <label class='required' for='calendarEventTitle'>Event Title</label>
        <select id='calendarEventTitle' name='eventTitle' class='prompt'>
          <option class='prompt' value=''>Select a Column</option>
          <%- text_cols.each do |c| -%>
          <option value='<%= c.tableColumnId %>'><%= c.name %></option>
          <%- end -%>
        </select>
         <span class="helpie" title="Displays in the calendar cells">?</span>
      </div>
      <%- if is_multi_text -%>
        <div class='line'>
          <label for='calendarEventDescription'>Description</label>
          <select id='calendarEventDescription' name='eventDescription'
            class='prompt'>
            <option class='prompt' value=''>Optional</option>
            <%- text_cols.each do |c| -%>
            <option value='<%= c.tableColumnId %>'><%= c.name %></option>
            <%- end -%>
          </select>
           <span class="helpie" title="Additional text that appears upon placing your mouse over the title">?</span>
        </div>
      <%- end -%>
    </div>
  <%- end -%>

  <div class='error mainError'></div>

  <div class='submitLine clearfix'>
    <div class="required">Required Field</div>
    <ul class='actionButtons clearfix'>
      <li><a href='#create' class='create arrowButton'>Create Calendar</a></li>
      <li><a class="jqmClose" href="#cancel">Cancel</a></li>
    </ul>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  blist.common.modalReady = function()
  {
    $.validator.addMethod('notEqualTo', function(value, element, param)
        { return this.optional(element) || value != $(param).val(); },
        'A different value is required.');
    $('.calendarWrapper form').validate({
        rules: {
          viewName: 'required',
          startDate: 'required',
          endDate: { 'notEqualTo': '#calendarStartDate' },
          eventTitle: 'required'
        },
        errorElement: 'span'
      });

    var adjustSelectPrompt = function(event)
    {
      var $sel = $(this);
      setTimeout(function()
          {
            $sel.toggleClass('prompt', $sel.val() === '');
          }, 0);
    };

    $('.calendarWrapper select').change(adjustSelectPrompt)
      .keypress(adjustSelectPrompt).click(adjustSelectPrompt);

    var formSubmit = function(event)
    {
      event.preventDefault();
      $('.calendarWrapper .mainError').text('');
      var $form = $('.calendarWrapper form');
      if (!$form.valid()) { return; }

      var loginMsg = 'You must be signed in to create a calendar view';
      if (!$.isBlank(blist.util.inlineLogin))
      {
          blist.util.inlineLogin.verifyUser(
              function(isSuccess)
              {
                if (isSuccess) { doSave($form); }
                else { $('.calendarWrapper .mainError').text(loginMsg); }
              }, loginMsg);
      }
      else { doSave($form); }
    };

    var doSave = function($form)
    {
      $.ajax({
          url: $form.attr("action"),
          type: "POST",
          data: $form.serialize(),
          dataType: "json",
          success: function(data)
          {
            if (data.status == 'failure')
            {
              $('.calendarWrapper .mainError').text(data.errors.join('; '));
            }
            else
            {
              $("#modal").jqmHide();
              blist.util.navigation.redirectToView(data.newViewId);
            }
          }
      });
    };

    $('.calendarWrapper form').submit(formSubmit);
    $('.calendarWrapper a.create').click(formSubmit);

    $.analytics.trackEvent('Dataset Page Menu', 'Create a Calendar dialog opened', blistGridNS.viewId);
  };
</script>
