<% content_for :head do %>
  <%= stylesheet_link_tag "blists-screen",
    :cache => "cache/all" %>
  <title>blist | share your weblists</title>
<% end %>



<div id="mainContainer">
  <div id="mainContent" class="column">
    <div id='blists'>
      <%= render(:partial => "shared/tabs") %>

      <div class='outerContent'>
        <div class='content'>
          <div class='headerBar'>
            <h3>All blists</h3>
            <a href='#' class='menu'>Menu</a>
            <a href='#'>Add New</a>
            <a href='#'>Import</a>

            <form action='#'>
              <p>
                <input type='text' class='textPrompt' title='Find' />
              </p>
            </form>
          </div>

          <div class='selectableListContainer'>
            <%#
             This div will hold a copy of the table that displays the header
            %>
            <div class='headerContainer'></div>
            <div class='selectableListInner scrollContent'>
              <%= render(:partial => "blist_list") %>
            </div>
          </div>
        </div>
      </div>

      <div id='infoPane'>
        <div id='multiSelectInfo'>
          <div class='header'>
            <a href='#' class='active'>Summary</a>
            <div class='background'></div>
          </div>
          <div class='infoContent'>
            <h2><span class='itemCount'></span>
              <span class='itemSelectedText'></span></h2>
            <span class='selectPrompt'>Select a specific item or items above for
              more information</span>
          </div>
        </div>
        <div id='singleSelectInfo'>
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column">
    <% render(:layout => "shared/sidebar_box") do %>
      <h2>blist User</h2>
    <% end %>
    <% render(:layout => "shared/sidebar_box",
      :locals => { :id => 'blistFilters',
        :content_class => 'scrollContent' } ) do %>
      <div class='expandableSection items'>
        <h4>All Items</h4>
        <ul>
          <%# TODO: These filters are overly simplistic %>
          <li><a href='?filter=lensUserId:<%= @cur_user.id %>'>Owned by Me</a></li>
          <li><a href='?filter=lensUserId:1'>Shared to Me</a></li>
          <li><a href='?filter=lensUserId:<%= @cur_user.id %>'>Shared by Me</a></li>
          <li><a href='?filter=favorite:true'>Show only Favorites</a></li>
        </ul>
      </div>
      <%#
       These are not supported yet
      <div class='expandableSection closed projects'>
        <h4>All Projects</h4>
      </div>
      <div class='expandableSection closed folders'>
        <h4>All Folders</h4>
      </div>
      %>
      <div class='expandableSection closed tags'>
        <h4>All Tags</h4>
        <ul>
          <li class='untagged'><a href='#'>Not Tagged</a></li>
          <%# TODO: Get all blist tags, and construct filters %>
        </ul>
      </div>
    <% end %>
    <%= render(:partial => "shared/ad_box") %>
  </div>
  <div class='clearBoth'></div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "plugins/jquery.tablesorter",
    "screens/blists-screen", :cache => "cache/all" %>
<% end %>
