<% content_for :head do %>
  <%= stylesheet_link_tag "blists-screen",
    :cache => "cache/all" %>
  <title>blist | share your weblists</title>
<% end %>



<div class="twoColumnContainer" class="clearfix">
  <div id="mainColumnContent" class="column mainContent">
    <div id='blists'>
      <%= render(:partial => "shared/tabs") %>

      <div class='outerContent'>
        <div class='content'>
          <div class='headerBar'>
            <h3>All blists</h3>
            <a href='#' class='menu'>Menu</a>
            <a href='#'>Add New</a>
            <a href='#'>Import</a>

            <form action='#'>
              <p>
                <input type='text' class='textPrompt' title='Find' />
              </p>
            </form>
          </div>

          <div class='selectableListContainer'>
            <%#
             This div will hold a copy of the table that displays the header
            %>
            <div class='headerContainer'></div>
            <div class='selectableListInner scrollContent'>
              <%= render(:partial => "blist_list") %>
            </div>
          </div>
        </div>
      </div>

      <div id='infoPane'>
        <div id='multiSelectInfo'>
          <div class='header'>
            <a href='#' class='active'>Summary</a>
            <div class='background'></div>
          </div>
          <div class='infoContent'>
            <h2><span class='itemCount'></span>
              <span class='itemSelectedText'></span></h2>
            <span class='selectPrompt'>Select a specific item or items above for
              more information</span>
          </div>
        </div>
        <div id='singleSelectInfo'>
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column">
    <% render(:layout => "shared/sidebar_box") do %>
      <h2>blist User</h2>
    <% end %>
    <% render(:layout => "shared/sidebar_box",
      :locals => { :id => 'blistFilters',
        :content_class => 'scrollContent' } ) do %>
      <div class='filterSection items expandableContainer'>
        <a href="#expand_items" class="expander">expand</a>
        <h4><a href="#TODO"><span>All Items</span></a></h4>
        <ul class="expandable">
          <%# TODO: These filters are overly simplistic %>
          <li><a href='?filter=lensUserId:<%= @cur_user.id %>'><span>Owned by Me</span></a></li>
          <li><a href='?filter=lensUserId:1'><span>Shared to Me</span></a></li>
          <li><a href='?filter=lensUserId:<%= @cur_user.id %>'><span>Shared by Me</span></a></li>
          <li><a href='?filter=favorite:true'><span>Show only Favorites</span></a></li>
          <%# Deleted items not yet supported, but styled for future %>
          <li class="deleted"><a href='?filter=deleted:true'><span>Deleted Items</span></a></li>
          <%# End not yet supported %>
        </ul>
      </div>

      <%# These are not supported yet. Static styling only. TODO: wire them up. %>
      <div class='filterSection closed projects expandableContainer'>
        <a href="#expand_items" class="expander">expand</a>
        <h4><a href="#TODO"><span>All Projects</span></a></h4>
        <ul>
          <li class="closed expandableContainer">
            <a href="#expand_items" class="expander">expand</a>
            <a href="#TODO"><span>Project Name</span></a>
            <ul class="expandable">
              <li><a href="#TODO"><span>Project Folder Name</span></a></li>
            </ul>
          </li>
          <li><a href="#TODO"><span>Project name</span></a></li>
        </ul>
      </div>
      <div class='filterSection closed folders expandableContainer'>
        <a href="#expand_items" class="expander">expand</a>
        <h4><a href="#TODO"><span>All Folders</span></a></h4>
        <ul class="expandable">
          <li class="not_in_folders"><a href="#"><span>Not in folders</span></a></li>
          <li><a href="#"><span>Folder Name</span></a></li>
          <li><a href="#"><span>Folder Name</span></a></li>
        </ul>
      </div>
      <%# End unsupported but static styled. %>
      
      <div class='filterSection closed tags expandableContainer'>
        <a href="#expand_items" class="expander">expand</a>
        <h4><a href="#TODO"><span>All Tags</span></a></h4>
        <ul class="expandable">
          <li class='untagged'><a href='#'><span>Not Tagged</span></a></li>
          <li><a href='#'><span>Tag</span></a></li>
          <%# TODO: Get all blist tags, and construct filters %>
        </ul>
      </div>
    <% end %>
    <%= render(:partial => "shared/ad_box") %>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "plugins/jquery.tablesorter",
    "plugins/jquery.treeTable.min", "util/humane-date",
    "screens/blists-screen", :cache => "cache/all" %>
<% end %>
