<% content_for :head do %>
  <%= stylesheet_link_tag "table-core", "table-blist-list", "list-screen",
    "blists-screen", :cache => "cache/blists_index_all" %>
  <% end %>
  <title><%= th.site_title %></title>
<% end %>



<div class="twoColumnContainer tabContainer clearfix">
  <div id="mainColumnContent" class="column mainContent scrollContentColumn">
    <div id='blists'>
      <%= render(:partial => "shared/tabs") %>

      <div class='outerContent'>
        <div class='content'>
          <div class='headerBar clearfix'>
            <h3 id='listTitle' class='clipText'
              title='<%= h(@title) %>'><%= h(@title) %></h3>

            <form class='search blistsFind' action='#'>
              <div class='searchContainer'>
                <input type='text' class='textPrompt'
                title='Search for my <%= t(:blists_name).capitalize %>' />
                <div class='actionBox'>
                  <div class='clearBox'>
                    <a class='clearSearch' title='Clear Search'
                      href='#clear_search'>
                      Clear Search
                    </a>
                  </div>
                  <input type="image" class="submit" name="findSubmit"
                  src="<%= image_path("find_button.png") %>" />
                </div>
              </div>
            </form>

            <ul class="headerActions">
              <li>
                <%= link_to("Design a #{t(:blist_name).capitalize}", {:controller => "blists", :action => "new"},
                    :class => "add_new",
                    :title => "Design a new #{t(:blist_name)}.") %>
              </li>
              <li>
                <%= link_to("Upload Data", {:controller => "blists", :action => "upload"},
                    :class => "import",
                    :title => "Upload a CSV, TSV, XLS, XLSX, or XML file and we'll convert it into a #{t(:blist_name)}.") %>
              </li>
            </ul>

        </div>

          <div class="gridListContainer">
            <%#
             This div will hold a copy of the table that displays the header
            %>
            <div class="gridList scrollContent" id="blist-list"></div>
          </div>
          
          <%- if (!current_user.is_established?) -%>
            <div class="noticePanel expandContainer">
              <div class="noticeHeaderOuter"><div class="noticeHeaderInner">
                <div class="noticeHeader clearfix">
                  <h2>Get Started!</h2>
                  <p>Have a look at some of the great things you can do with <%= th.company %>.</p>
                  <p class="noticePanelCloser">
                    <a href="#hide" class="expander">Hide</a>
                  </p>
                </div>
              </div></div>
              <div class="noticeContent expandable">
                <%= render(:partial => "shared/feature_boxes") %>
              </div>
            </div>
          <%- end -%>
          
        </div>
      </div>

      <div id="infoPane" class='metadataPane'></div>
    </div>
  </div>

  <div id="sidebar" class="column scrollContentColumn">
    <% render(:layout => "shared/sidebar_box") do %>
      <%= render(:partial => "shared/current_user_tile", :locals => { :user => current_user }) %>
    <% end %>
    <% render(:layout => "shared/sidebar_box",
      :locals => { :id => 'blistFilters',
      :content_class => 'scrollContent' } ) do %>
      <div class='filterSection items expandableContainer'>
        <a href="#expand_items" class="expander">expand</a>
        <h4>
          <%= sidebar_filter_link("<span>All Items</span>", {}, @args, true) %>
        </h4>
        <ul class="expandable">
          <li>
            <%= sidebar_filter_link("<span>Owned by <em>Me</em></span>",
              {'owner' => current_user.id.to_s}, @args) %>
          <%= contacts_filter_menu('?owner=', '?ownerGroup=',
            'owner', 'owner_group', 'ownerMenu') %>
          </li>
          <li>
            <%= sidebar_filter_link("<span>Shared to <em>Me</em></span>",
              {'shared_to' => current_user.id.to_s}, @args) %>
          <%= contacts_filter_menu('?sharedTo=', '?sharedToGroup=',
            'shared_to', 'shared_to_group', 'sharedToMenu') %>
          </li>
          <li>
            <%= sidebar_filter_link("<span>Shared by <em>Me</em></span>",
              {'shared_by' => current_user.id.to_s}, @args) %>
          <%= contacts_filter_menu('?sharedBy=', '?sharedByGroup=',
            'shared_by', 'shared_by_group', 'sharedByMenu') %>
          </li>
          <li>
            <%= sidebar_filter_link("<span>Show only <em>Favorites</em></span>",
              {'type' => 'favorite'}, @args) %>
          <%= menu_tag({'id' => 'typeMenu', 'items' => [
            { 'text' => 'Favorites', 'href' => '?type=favorite',
                'title' => h(get_title({'type' => 'favorite'})),
                'q' => "{'type': 'favorite'}" 
            },
            { 'text' => 'Filtered Views', 'href' => '?type=filter',
                'title' => h(get_title({'type' => 'filter'})),
                'q' => "{'type': 'filter'}"
            }]}) %>
          </li>
          <%# Deleted items not yet supported, but styled for future
          <li class="deleted"><a href='?filter=deleted:true'><span>Deleted Items</span></a></li>
          # End not yet supported %>
        </ul>
      </div>

      <%# These are not supported yet. Static styling only. TODO: wire them up.
      <div class='filterSection closed projects expandableContainer'>
        <a href="#expand_items" class="expander">expand</a>
        <h4><a href="#TODO"><span>All Projects</span></a></h4>
        <ul>
          <li class="closed expandableContainer">
            <a href="#expand_items" class="expander">expand</a>
            <a href="#TODO"><span>Project Name</span></a>
            <ul class="expandable">
              <li><a href="#TODO"><span>Project Folder Name</span></a></li>
            </ul>
          </li>
          <li><a href="#TODO"><span>Project name</span></a></li>
        </ul>
      </div>
      <div class='filterSection closed folders expandableContainer'>
        <a href="#expand_items" class="expander">expand</a>
        <h4><a href="#TODO"><span>All Folders</span></a></h4>
        <ul class="expandable">
          <li class="not_in_folders"><a href="#"><span>Not in folders</span></a></li>
          <li><a href="#"><span>Folder Name</span></a></li>
          <li><a href="#"><span>Folder Name</span></a></li>
        </ul>
      </div>
      # End unsupported but static styled. %>

      <div class='filterSection closed tags expandableContainer'>
        <a href="#expand_items" class="expander">expand</a>
        <h4>
          <%= sidebar_filter_link("<span>All Tags</span>",
            {'untagged' => 'false'}, @args) %>
        </h4>
        <ul class="expandable">
          <li class='untagged'>
            <%= sidebar_filter_link("<span>Not Tagged</span>",
              {'untagged' => 'true'}, @args) %>
          </li>
          <% get_blist_tags().each do |tag| %>
          <li>
            <%= sidebar_filter_link("<span>#{h(tag)}</span>",
              {'tag' => tag}, @args) %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "plugins/ui.core", "plugins/ui.draggable",
    "util/humane-date", "data/types", "data/model", "data/table",
    "widgets/panel-expander", "widgets/dropdown-menu", "widgets/selectable-list",
    "widgets/sidebar-filter", "widgets/pagination", "widgets/info-pane-comments",
    "widgets/info-pane-publish", "screens/blists-screen", "screens/info-pane",
    "screens/attribution-edit", :cache => "cache/blists_index_all" %>
    <script type="text/javascript" charset="utf-8">
      var form_authenticity_token = "<%= form_authenticity_token %>";
      var request_forgery_protection_token = "<%= request_forgery_protection_token %>";

      blist.namespace.fetch('blist.myBlists');
      blist.myBlists.viewUrl = "/users/<%= current_user.id %>/views.json";
      blist.myBlists.currentUserId = "<%= current_user.id %>";
    </script>
<% end %>
