<%- content_for(:wrapper_class, "narrowDialog") -%>
<%- content_for :headline do -%>
<h1 class='mapIcon'><%= @is_edit ? 'Edit this' : 'Create a' %> Map</h1>
<%- end -%>

<div class='modalContentWrapper mapWrapper viewSetupWrapper'>
  <p class='subtitle'>
  Datasets can be displayed as points on a map
  </p>

  <%- cur_type = @view.displayFormat.nil? ||
    @view.displayFormat.data['type'].nil? ?
    'google' : @view.displayFormat.data['type'] -%>

  <% form_tag("#{@view.href}/create_visualization?edit=#{@is_edit}",
    :class => 'clearfix') do %>

    <input type='hidden' id='view_query' name='view_query'
      value='<%= @view.query.to_json %>' />
    <div class='section common'>
      <h3>Setup</h3>
      <p class='subtitle separator'>
      Enter a name for the map and choose a map type
      </p>
      <%- if !@is_edit -%>
      <div class='line'>
        <label class='required' for='mapName'>Name</label>
        <input type='text' id='mapName' name='viewName' class='required' />
      </div>
      <%- end -%>
      <div class='line'>
        <label class='required' for='mapType'>Type</label>
        <select id='mapType' name='mapType'
          class='required <%= @is_edit ? '' : 'prompt' %>'>
          <option class='prompt' value=''>Select a Map Type</option>
          <%- Displays::Map::MAP_TYPES.each do |t| -%>
          <option value='<%= t['value'] %>'
            <%= @is_edit && cur_type == t['value'] ?
              "selected='selected'" : '' %>><%= t['label'] %></option>
          <%- end -%>
        </select>
      </div>
    </div>

    <%- cur_cols = @is_edit ? @view.columns.select {|c| !c.flag?('hidden')} : [] -%>
    <%- cols = {} -%>
    <div class='typeBlock'>

      <div class='section'>
        <h3>Coordinates</h3>
        <p class='subtitle separator'>
        Choose the data to map.  You must choose two
        columns that correspond to global latitude and longitude.
        </p>

        <%- cols['number'] =
                @view.columns_for_datatypes('number',
                  @is_edit && !@view.is_grouped?) -%>
        <%- uses_col_format = !@view.displayFormat.nil? &&
          (!@view.displayFormat.data['plot'].nil? ||
            !@view.displayFormat.latitudeId.nil?) -%>
        <%- col_format = uses_col_format ?
          @view.displayFormat.data['plot'] || @view.displayFormat.data : nil -%>

        <%- lat_id = @is_edit && uses_col_format ?
          col_format['latitudeId'] : nil -%>
        <%- cur_id = @is_edit && uses_col_format ?
          col_format['ycol'] : nil -%>
        <%- cur_id = @is_edit && !uses_col_format && cur_cols.length > 0 &&
          @view.datatypes_match(cur_cols[0], 'number') ?
            cur_cols.shift.id : cur_id -%>

        <div class='line'>
          <label class='required' for='mapColumn_latitude'>
            Latitude
          </label>
          <select id='mapColumn_latitude' name='mapColumn_latitude'
            class='required <%= lat_id.nil? && cur_id.nil? ? 'prompt' : '' %>
            coordinate-column' notequalto='.coordinate-column'>
            <option class='prompt' value=''>Select a Column</option>
            <%- cols['number'].each do |c| -%>
            <option value='<%= c.tableColumnId %>'
              <%= c.tableColumnId.to_s == lat_id || c.id == cur_id ?
                "selected='selected'" : '' %>><%= c.name %></option>
            <%- end -%>
          </select>
        </div>


        <%- long_id = @is_edit && uses_col_format ?
          col_format['longitudeId'] : nil -%>
        <%- cur_id = @is_edit && uses_col_format ?
          col_format['xcol'] : nil -%>
        <%- cur_id = @is_edit && !uses_col_format && cur_cols.length > 0 &&
          @view.datatypes_match(cur_cols[0], 'number') ?
            cur_cols.shift.id : cur_id -%>

        <div class='line'>
          <label class='required' for='mapColumn_longitude'>
            Longitude
          </label>
          <select id='mapColumn_longitude' name='mapColumn_longitude'
            class='required <%= long_id.nil? && cur_id.nil? ? 'prompt' : '' %>
            coordinate-column' notequalto='.coordinate-column'>
            <option class='prompt' value=''>Select a Column</option>
            <%- cols['number'].each do |c| -%>
            <option value='<%= c.tableColumnId %>'
              <%= c.tableColumnId.to_s == long_id || c.id == cur_id ?
                "selected='selected'" : '' %>><%= c.name %></option>
            <%- end -%>
          </select>
        </div>
      </div>


      <div class='section'>
        <h3>Configuration</h3>
        <p class='subtitle separator'>
        Set other options for the map.
        </p>


        <%- title_id = @is_edit && uses_col_format ?
          col_format['titleId'] : nil -%>
        <%- cur_id = @is_edit && uses_col_format ?
          col_format['titleCol'] : nil -%>

        <div class='line'>
          <label for='mapColumn_title'>
            Title
          </label>
          <select id='mapColumn_title' name='mapColumn_title'
            class='<%= title_id.nil? && cur_id.nil? ? 'prompt' : '' %>'>
            <option class='prompt' value=''>Select a Column</option>
            <%- @view.columns_for_datatypes('text',
                  @is_edit && !@view.is_grouped?).each do |c| -%>
              <option value='<%= c.tableColumnId %>'
                <%= c.tableColumnId.to_s == title_id || c.id == cur_id ?
                "selected='selected'" : '' %>><%= c.name %></option>
            <%- end -%>
          </select>
          <span class="helpie"
            title="Tooltip to display on mouseover of a marker">?</span>
        </div>


        <%- data_types = ['text', 'richtext'] -%>
        <%- desc_id = @is_edit && uses_col_format ?
          col_format['descriptionId'] : nil -%>
        <%- cur_id = @is_edit && uses_col_format ?
          col_format['bodyCol'] : nil -%>
        <%- cur_id = @is_edit && !uses_col_format && cur_cols.length > 0 &&
          @view.datatypes_match(cur_cols[0], data_types) ?
            cur_cols.shift.id : cur_id -%>

        <div class='line'>
          <label for='mapColumn_description'>
            Description
          </label>
          <select id='mapColumn_description' name='mapColumn_description'
            class='<%= desc_id.nil? && cur_id.nil? ? 'prompt' : '' %>'>
            <option class='prompt' value=''>Select a Column</option>
            <%- @view.columns_for_datatypes(data_types,
                  @is_edit && !@view.is_grouped?).each do |c| -%>
              <option value='<%= c.tableColumnId %>'
                <%= c.tableColumnId.to_s == desc_id || c.id == cur_id ?
                "selected='selected'" : '' %>><%= c.name %></option>
            <%- end -%>
          </select>
          <span class="helpie"
            title="Content to display on clicking a marker">?</span>
        </div>

      </div>

    </div>

  <% end %>

  <div class='error mainError'></div>

  <div class='submitLine clearfix'>
    <div class="required">Required Field</div>
    <ul class='actionButtons clearfix'>
      <li><a href='#create' class='create arrowButton'>
        <%= @is_edit ? 'Save' : 'Create' %> Map
      </a></li>
      <li><a class="jqmClose" href="#cancel">Cancel</a></li>
    </ul>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  blist.common.modalReady = function()
  {
    $.validator.addMethod('notEqualTo', function(value, element, param)
        {
            if (this.optional(element)) { return true; }
            var isEqual = false;
            var $e = $(element);
            $(param).each(function(i, p)
            {
                var $p = $(p);
                if ($e.index($p) < 0 && $p.val() == value)
                {
                    isEqual = true;
                    return false;
                }
            });
            return !isEqual;
        },
        'A different value is required.');
    $('.mapWrapper form').validate({errorElement: 'span'});

    var adjustSelectPrompt = function(event)
    {
      var $sel = $(this);
      setTimeout(function()
          {
            $sel.toggleClass('prompt', $sel.val() === '');
          }, 0);
    };

    $('.mapWrapper select').change(adjustSelectPrompt)
      .keypress(adjustSelectPrompt).click(adjustSelectPrompt);


    var formSubmit = function(event)
    {
      event.preventDefault();
      $('.mapWrapper .mainError').text('');
      var $form = $('.mapWrapper form');
      if (!$form.valid()) { return; }

      var newType = $('.mapWrapper #mapType').val();
      var options = {plot: {}, type: newType};
      options.plot.latitudeId = $('.mapWrapper #mapColumn_latitude').val();
      options.plot.longitudeId = $('.mapWrapper #mapColumn_longitude').val();
      var titleId = $('.mapWrapper #mapColumn_title').val();
      if (titleId !== '') { options.plot.titleId = titleId; }
      var descId = $('.mapWrapper #mapColumn_description').val();
      if (descId !== '') { options.plot.descriptionId = descId; }

      var data = {viewName: $('.mapWrapper #mapName').val(),
        vizType: 'map', options: $.json.serialize(options),
        view_query: $('.mapWrapper #view_query').val()};

      $.ajax({
          url: $form.attr("action"),
          type: "POST",
          data: data,
          dataType: "json",
          success: function(data)
          {
            if (data.status == 'failure')
            {
              $('.mapWrapper .mainError').text(data.errors.join('; '));
            }
            else
            {
              $("#modal").jqmHide();
              <%- if @is_edit -%>
              if ('<%= cur_type %>' != newType)
              {
                  blist.$display.socrataMap().reset({displayFormat: options});
              }
              else
              {
                  blist.$display.socrataMap().reload();
              }
              <%- else -%>
              blist.util.navigation.redirectToView(data.newViewId);
              <%- end -%>
            }
          }
      });
    };

    $('.mapWrapper form').submit(formSubmit);
    $('.mapWrapper a.create').click(formSubmit);

    $.analytics.trackEvent('Dataset Page Menu', 'Create a Map dialog opened', blistGridNS.viewId);
  };
</script>
