<% content_for :head do %>
  <%= stylesheet_link_merged 'blists-new' %>
  <title>New <%= t(:blist_name).capitalize %> | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <%= link_to 'Go to an accessible version of this page', "/upload_alt" %>
<% end %>

<div class="twoColumnContainer clearfix">
  <div id="mainColumnContent" class="column mainContent scrollContentColumn">
    <div class="outerContent">
      <div class="contentTR"><div class="contentTL"></div></div>
      <div class="content newBlistContent">
        <% form_tag(blists_path, :id => "newDatasetForm") do %>
          <%- if @is_upload -%>
            <h1>Upload a New Dataset</h1>
          <%- else -%>
            <h1>Design a New <%= t(:blist_name).capitalize %></h1>
          <%- end -%>

          <div class="errorMessage validationError">
            <%= display_standard_flashes %>
          </div>

          <%= hidden_field_tag('original_action', @is_upload ? 'upload' : 'new') %>

          <h3>General Information</h3>
        
          <label for="view_name" class="required"><%= t(:blist_name).capitalize %> Title:</label>
          <%= text_field_tag("view[name]", "", :title => "Enter a title", :class => "textPrompt") %>
        
          <%- if @is_upload -%>
            <label for="view_file" class="required">File to Upload:</label>
          <%- else -%>
            <label for="view_file">Optional File Upload:</label>
          <%- end -%>
          <%= text_field_tag("view_file", "Supported Formats: .csv .tsv .xml .xls .xlsx",
                             :class => "prompt",
                             :readonly => true) %>
          <div class="fileBrowseButtonListContainer">
            <ul id="fileBrowseButtonList" class="actionButtons">
              <li>
                <a id="fileBrowseButton" href="/imports.txt?two_step_import=true">Browse for File</a>
              </li>
              <li class="hide">
                <a id="fileClearButton" href="#clear">Clear File</a>
              </li>
            </ul>
          </div>
          <br /><span class="helpie fileUploadHelpie" title="You can upload a data file to help get started with your <%= t(:blist_name) %>.">?</span>
          <%= hidden_field_tag("datasetID") %>
          <label class="uploadErrorMessage hide"></label>
        
          <label for="view_description">Short Description:</label>
          <%= text_area_tag("view[description]", "", :title => "Enter a description", :class => "textPrompt") %>
        
          <label for="view_category">Type of <%= t(:blist_name).capitalize %>:</label>
          <%= select_tag("view[category]", category_select_options()) %>
          <br /><span class="helpie" title="What kind of <%= t(:blist_name) %> is this?">?</span>
        
          <label for="view_tags">Tags / Keywords:</label>
          <%= text_field_tag("view[tags]", "", :title => "Enter keywords", :class => "textPrompt") %>
          <br /><span class="helpie" title="Keywords can help other people find this <%= t(:blist_name) %>.">?</span>
          <span class="additionalHelp">(Enter one or more keywords separated by commas)</span>
        
          <h3>Licensing &amp; Attribution</h3>

          <div class="licensing">
            <label for="view_licenseId">Licensing:</label>
            <%= select_tag("view[licenseId]", license_select_options("")) %>
            <br /><span class="helpie" title="Choose licensing terms for people who wish to use this dataset.">?</span>
          
            <div id="licensingCreativeCommons" class="hide">
              <hr />
              <label for="license_cc_type" class="required">License Type:</label>
              <%= select_tag("license_cc_type", creative_commons_select_options()) %>
            </div>
          
            <label for="view_attribution">Data Provided By:</label>
            <%= text_field_tag("view[attribution]", "", :title => "Individual or Organization", :class => "textPrompt") %>
          
            <label for="view_attributionLink">Source Link:</label>
            <%= text_field_tag("view[attributionLink]", "", :title => "Enter Web Address", :class => "textPrompt") %>
          
            <%#<label for="view_attribution_logo">Attribution Logo:</label>%>
            <%# Someday turn this back into an AJAX upload for betterer styling %>
            <%#<%= text_field_tag("view[attribution_logo]", "", :title => "Upload", :class => "textPrompt") %>
            <%#<ul class="actionButtons"><li><a id="logoBrowseButton" href="#browse">Browse</a></li></ul> %>
            <%#= file_field_tag("attribution_logo") %>
          </div>
      
          <h3>Privacy &amp; Security</h3>
      
          <label>Privacy Settings:</label>
          <p id="privacyDisplayText">This <%= t(:blist_name) %> can be viewed by the public.</p>
          <p><a href="#modifyPrivacy" class="privacyExpander">Edit</a></p>
          <div class="privacyButtons hide">
            <p>
              <%= radio_button_tag("privacy", "public_view", true) %>
              <label for="privacy_public_view">
                My data can only be modified by me, but everyone can view it.
              </label>
            </p>
            <%- #TODO: Add public editable back in when core server supports it. -%>
            <%- if false -%>
            <p>
              <%= radio_button_tag("privacy", "public_edit") %>
              <label for="privacy_public_edit">
                My data can be viewed by everyone and modified by anyone with an account.
              </label>
            </p>
            <%- end -%>
            <p>
              <%= radio_button_tag("privacy", "private") %>
              <label for="privacy_private">
                My data is private.
              </label>
            </p>
            <p><a href="#advancedPrivacy" class="privacyExpander">Advanced Privacy Settings</a></p>
            <div class="advancedPrivacy hide">
              <p>
                <%= radio_button_tag("privacy", "adult_content") %>
                <label for="privacy_adult_content">
                  This <%= t(:blist_name) %> contains adult content.
                </label>
              </p>
            </div>
          </div>
      
          <hr />
          <div class="requiredEntryText">Required Entry</div>
          <div class="clearfix">
            <ul class="submitActions">
              <li>
                <ul class="actionButtons">
                  <li><a id="submitButton" class="arrowButton" href="#submit">Create Dataset</a></li>
                </ul>
              </li>
              <li class="cancelButton"><a href="<%= blists_url %>"><span>Cancel</span></a></li>
            </ul>
          </div>
          <div class="submitPending hide">
            Your data is being uploaded to our servers.  Please wait.
          </div>
        <%- end -%>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column scrollContentColumn">
  <% render(:layout => "shared/sidebar_box") do %>
    <%= render(:partial => "shared/current_user_tile", :locals => { :user => current_user }) %>
  <% end %>
  </div>
</div>

<% content_for :js_footer do %>
  <%= javascript_include_merged 'shared-common-all' %>
  <%= javascript_include_merged 'blists-new' %>
<% end %>
