<% content_for :head do %>
  <%= stylesheet_link_tag "blist-publish-screen", "colorpicker", "form-common",
      :cache => "cache/blists_about_all" %>
  <title>Publishing <%= @view.name %> | <%= th.site_title %></title>
<% end %>

<div id="publishContent" class="oneColumnContainer">
  <div class="fullPageContentContainer">
    <div class="fullPageOuterContent">
      <div class="fullPageContent">
        <div class="publishHeader clearfix">
          <div class="publishCodeWrapper">
            <div class="publishCode">
              <p>
                Embed Code:
                <span class="helpie" title="Paste this HTML code on your blog or website to publish your widget.">?</span>
              </p>
              <textarea><%= get_publish_embed_code_for_view(@view, @customization[:publish], @widget_customization.uid) %></textarea>
            </div>
          </div>
          <h1>Customize Your Social Data Player</h1> 
          <p>
            Use the controls at the bottom of this page to edit the look and 
            function of this Social Data Player. You can apply an existing 
            template or create a new one.
          </p>
          <p>
            The Data Player below provides you with a preview of your changes.
          </p>
        </div>
        <div class="previewPane" style="width:<%= @customization[:publish][:dimensions][:width] %>px">
          <%= get_publish_embed_code_for_view(@view, {}, 'normal') %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="publishOptionsPane" class="metadataPane">
  <div class="header">
    <ul class="summaryTabs clearfix">
      <li id="tabTemplates">
        <div class="tabOuter"><div class="tabInner active">
          <a class="expander expanded" title="more info" href="#expand">more info</a>
          <a href="#templates">Templates</a>
        </div></div>
      </li>
      <li id="tabVisual">
        <div class="tabOuter"><div class="tabInner">
          <a class="expander expanded" title="more info" href="#expand">more info</a>
          <a href="#visual">Visual Options</a>
        </div></div>
      </li>
      <li id="tabMenuControl">
        <div class="tabOuter"><div class="tabInner">
          <a class="expander expanded" title="more info" href="#expand">more info</a>
          <a href="#menuControl">Menu &amp; Control Options</a>
        </div></div>
      </li>
      <li id="tabTab">
        <div class="tabOuter"><div class="tabInner">
          <a class="expander expanded" title="more info" href="#expand">more info</a>
          <a href="#tab">Tab Options</a>
        </div></div>
      </li>
      <li id="tabAdvanced">
        <div class="tabOuter"><div class="tabInner">
          <a class="expander expanded" title="more info" href="#expand">more info</a>
          <a href="#advanced">Advanced Options</a>
        </div></div>
      </li>
    </ul>
  </div>
  <% form_tag("/widget_customization/") do %>
    <div class="infoContentOuter singleInfoTemplates listContainer expanded">
      <div class="infoContentHeader clearfix">
        <h2 class="panelHeader clipText">
            Apply the
            <%= select_tag("template_name", options_from_collection_for_select(
                @widget_customizations, 'uid', 'name', @widget_customization)) %>
            template to this Social Data Player
        </h2>
        <ul class="headerActions actionButtons">
          <li class="noButton">
            or
          </li>
          <li>
            <a class="arrowButton newTemplate" title="Apply a New Template to this Player" href="/customization/new" rel="modal">
              Create a New Template
            </a>
          </li>
        </ul>
      </div>
      <div class="infoContentInner">
        <div class="infoContentWrapper">
          <div class="infoContent">
            <dl class="summaryList">
              <dt>Template Description</dt>
              <dd>
                <div class="itemContent">
                  <span id="customizationDescription" class="textContent"><%= @customization[:description] || "(none)" %></span>
                </div>
              </dd>
            </dl>
            <dl class="summaryList">
              <dt>Players Using Template</dt>
              <dd>
                <div class="itemContent">
                  <ul class="textContent">
                    <li>http://whitehouse.gov/index.html</li>
                    <li>http://thinkprogess.org/2009/12/10/article.html</li>
                    <li>http://mediamatters.org/tv/recent</li>
                  </ul>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="infoContentOuter singleInfoVisual listContainer expanded">
      <div class="infoContentHeader clearfix">
        <h2 class="panelHeader clipText">
            Editing the <span class="templateName"><%= @widget_customization.name %></span> template.
        </h2>
        <ul class="headerActions">
          <li>
            <a href="#cancel" class="cancelCustomizationLink">Cancel Changes</a>
          </li>
        </ul>
      </div>
      <div class="infoContentInner">
        <div class="infoContentWrapper">
          <div class="infoContent clearfix">
            <div class="infoContentLeft">
              <dl class="summaryList">
                <dt>Player Size</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= text_field_tag("customization[publish][dimensions][width]",
                          @customization[:publish][:dimensions][:width]) %>
                      pixels wide by
                      <%= text_field_tag("customization[publish][dimensions][height]",
                          @customization[:publish][:dimensions][:height]) %>
                      pixels high
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Dataset Title</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= radio_button_tag("customization[publish][show_title]", "true",
                          @customization[:publish][:show_title]) %>
                      <%= label_tag("customization_publish_show_title_true", "Show") %>
                      <%= radio_button_tag("customization[publish][show_title]", "false",
                          !(@customization[:publish][:show_title])) %>
                      <%= label_tag("customization_publish_show_title_false", "Don't Show") %>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt></dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <h3>Color and Style</h3>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Frame Style</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= select_tag("customization[frame][gradient]", options_for_select(
                          {'Solid Background' => false, 'Gradient Background' => true}, @customization[:frame][:gradient])) %>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Frame Color</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= hidden_field_tag("customization[frame][color]", 
                          @customization[:frame][:color]) %>
                      <div class="colorPickerContainer"></div>
                      <div id="frameColorPickerTrigger" class="colorPickerTrigger" style="background-color:<%= @customization[:frame][:color] %>"></div>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Border Color</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= hidden_field_tag("customization[frame][border]", 
                          @customization[:frame][:border]) %>
                      <div class="colorPickerContainer"></div>
                      <div id="frameColorPickerTrigger" class="colorPickerTrigger" style="background-color:<%= @customization[:frame][:border] %>"></div>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Font Style</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= radio_button_tag("customization[style][font][face]", "arial",
                          @customization[:style][:font][:face] == "arial") %>
                      <%= label_tag("customization_style_font_face_arial", "Sans Serif") %>
                      <%= radio_button_tag("customization[style][font][face]", "times",
                          @customization[:style][:font][:face] == "times") %>
                      <%= label_tag("customization_style_font_face_times", "Serif") %>
                    </span>
                  </div>
                </dd>
              </dl>
            <%- if false # not implemented -%>
              <dl class="summaryList">
                <dt>Menu Icon Style</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= radio_button_tag("customization[frame][icon_color]", "blue",
                          @customization[:frame][:icon_color] == "blue") %>
                      <%= label_tag("customization_frame_icon_color_blue", "Dark") %>
                      <%= radio_button_tag("customization[frame][icon_color]", "grey",
                          @customization[:frame][:icon_color] == "grey") %>
                      <%= label_tag("customization_frame_icon_color_grey", "Light") %>
                    </span>
                  </div>
                </dd>
              </dl>
            <%- end -%>
              <dl class="summaryList">
                <dt></dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <h3>Column Titles</h3>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Column Type Icons</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= radio_button_tag("customization[grid][header_icons]", "true",
                          @customization[:grid][:header_icons]) %>
                      <%= label_tag("customization_grid_header_icons_true", "Show") %>
                      <%= radio_button_tag("customization[grid][header_icons]", "false",
                          !@customization[:grid][:header_icons]) %>
                      <%= label_tag("customization_grid_header_icons_false", "Don't Show") %>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Wrap Title Text</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= radio_button_tag("customization[grid][wrap_header_text]", "true",
                          @customization[:grid][:wrap_header_text]) %>
                      <%= label_tag("customization_grid_wrap_header_text_true", "Wrap Text") %>
                      <%= radio_button_tag("customization[grid][wrap_header_text]", "false",
                          !@customization[:grid][:wrap_header_text]) %>
                      <%= label_tag("customization_grid_wrap_header_text_false", "Don't Wrap Text") %>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Title Text Size</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= text_field_tag("customization[style][font][grid_header_size][value]",
                          @customization[:style][:font][:grid_header_size][:value]) %>
                      <%= select_tag("customization[style][font][grid_header_size][unit]", font_unit_select_options(
                          @customization[:style][:font][:grid_header_size][:unit])) %>
                    </span>
                  </div>
                </dd>
              </dl>
            </div>
            <div class="infoContentRightBg"></div>
            <div class="infoContentRight">
              <dl class="summaryList">
                <dt></dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <h3>Rows</h3>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Row Numbers</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= radio_button_tag("customization[grid][row_numbers]", "true",
                          @customization[:grid][:row_numbers]) %>
                      <%= label_tag("customization_grid_row_numbers_true", "Show") %>
                      <%= radio_button_tag("customization[grid][row_numbers]", "false",
                          !@customization[:grid][:row_numbers]) %>
                      <%= label_tag("customization_grid_row_numbers_false", "Don't Show") %>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Row Text Size</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= text_field_tag("customization[style][font][grid_data_size][value]",
                          @customization[:style][:font][:grid_data_size][:value]) %>
                      <%= select_tag("customization[style][font][grid_data_size][unit]", font_unit_select_options(
                          @customization[:style][:font][:grid_data_size][:unit])) %>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Row Height</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= text_field_tag("customization[grid][row_height][value]",
                          @customization[:grid][:row_height][:value]) %>
                      <%= select_tag("customization[grid][row_height][unit]", font_unit_select_options(
                          @customization[:grid][:row_height][:unit])) %>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Row Striping</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= radio_button_tag("grid_zebra", "true",
                          @customization[:grid][:zebra]) %>
                      <%= label_tag("grid_zebra_true", "Stripe") %>
                      <%= radio_button_tag("grid_zebra", "false",
                          !@customization[:grid][:zebra]) %>
                      <%= label_tag("grid_zebra_false", "Don't Stripe") %>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList" style="display: <%= @customization[:grid][:zebra] ? 'block' : 'none' %>">
                <dt>Row Stripe Color</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= hidden_field_tag("customization[grid][zebra]", 
                          @customization[:grid][:zebra]) %>
                      <div class="colorPickerContainer"></div>
                      <div id="frameColorPickerTrigger" class="colorPickerTrigger" style="background-color:<%= @customization[:grid][:zebra] %>"></div>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt></dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <h3>Footer</h3>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Logo</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= select_tag("customization[frame][logo]", images_select_options(@customization[:frame][:logo]))%>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Footer Link</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= radio_button_tag("customization[frame][footer_link][show]", "true",
                          @customization[:frame][:footer_link][:show]) %>
                      <%= label_tag("customization_frame_footer_link_show_true", "Show") %>
                      <%= radio_button_tag("customization[frame][footer_link][show]", "false",
                          !@customization[:frame][:footer_link][:show]) %>
                      <%= label_tag("customization_frame_footer_link_show_false", "Don't Show") %>
                      <div class="subform" style="display: <%= @customization[:frame][:footer_link][:show] ? 'block' : 'none' %>">
                        <%= label_tag("customization_frame_footer_link_text", "Text")%>
                        <%= text_field_tag("customization[frame][footer_link][text]", 
                            @customization[:frame][:footer_link][:text]) %>
                        <%= label_tag("customization_frame_footer_link_url", "Link")%>
                        <%= text_field_tag("customization[frame][footer_link][url]", 
                            @customization[:frame][:footer_link][:url]) %>
                      </div>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Socrata Credit</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= radio_button_tag("customization[publish][show_powered_by]", "true",
                          @customization[:publish][:show_powered_by]) %>
                      <%= label_tag("customization_publish_show_powered_by_true", "Show") %>
                      <%= radio_button_tag("customization[publish][show_powered_by]", "false",
                          !@customization[:publish][:show_powered_by]) %>
                      <%= label_tag("customization_publish_show_powered_by_false", "Don't Show") %>
                    </span>
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="infoContentOuter singleInfoMenuControl listContainer expanded">
      <div class="infoContentHeader clearfix">
        <h2 class="panelHeader clipText">
            Editing the <span class="templateName"><%= @widget_customization.name %></span> template.
        </h2>
        <ul class="headerActions">
          <li>
            <a href="#cancel" class="cancelCustomizationLink">Cancel Changes</a>
          </li>
        </ul>
      </div>
      <div class="infoContentInner">
        <div class="infoContentWrapper">
          <div class="infoContent clearfix">
            <div class="infoContentLeft">
              <dl class="summaryList">
                <dt></dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <h3>
                        Main Menu:
                        <span class="infoText">Select the menu options to allow</span>
                      </h3>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Menu Options</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <ul>
                        <li>
                          <%= check_box_tag("customization[menu][email]", true, @customization[:menu][:email]) %>
                          <%= label_tag("customization_menu_email", "Email this Dataset") %>
                        </li>
                        <li>
                          <%= check_box_tag("customization[menu][republish]", true, @customization[:menu][:republish]) %>
                          <%= label_tag("customization_menu_republish", "Republish this Dataset") %>
                        </li>
                        <li>
                          <%= check_box_tag("customization[menu][print]", true, @customization[:menu][:print]) %>
                          <%= label_tag("customization_menu_print", "Print") %>
                        </li>
                        <li>
                          <%= check_box_tag("customization[menu][subscribe][rss]", true, @customization[:menu][:subscribe][:rss]) %>
                          <%= label_tag("customization_menu_subscribe_rss", "Subscribe via RSS") %>
                        </li>
                        <li>
                          <%= check_box_tag("customization[menu][subscribe][atom]", true, @customization[:menu][:subscribe][:atom]) %>
                          <%= label_tag("customization_menu_subscribe_atom", "Subscribe via Atom") %>
                        </li>
                        <li>
                          <%= check_box_tag("customization[menu][api]", true, @customization[:menu][:api]) %>
                          <%= label_tag("customization_menu_api", "Access via API") %>
                        </li>
                        <li>
                          <%= check_box_tag("customization[menu][fullscreen]", true, @customization[:menu][:fullscreen]) %>
                          <%= label_tag("customization_menu_fullscreen", "View Full Screen") %>
                        </li>
                      </ul>
                    </span>
                  </div>
                </dd>
              </dl>
            </div>
            <div class="infoContentRightBg"></div>
            <div class="infoContentRight">
              <dl class="summaryList">
                <dt></dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <h3>General Options</h3>
                    </span>
                  </div>
                </dd>
              </dl>
            <%- if false # not implemented -%>
              <dl class="summaryList">
                <dt>Dataset Ratings</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= radio_button_tag("customization[behavior][rating]", "true",
                          @customization[:behavior][:rating]) %>
                      <%= label_tag("customization_behavior_rating_true", "Allow") %>
                      <%= radio_button_tag("customization[behavior][rating]", "false",
                          !@customization[:behavior][:rating]) %>
                      <%= label_tag("customization_behavior_rating_false", "Don't Allow") %>
                    </span>
                  </div>
                </dd>
              </dl>
            <%- end -%>
              <dl class="summaryList">
                <dt>Public Views (Filters)</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= radio_button_tag("customization[behavior][save_public_views]", "true",
                          @customization[:behavior][:save_public_views]) %>
                      <%= label_tag("customization_behavior_save_public_views_true", "Allow") %>
                      <%= radio_button_tag("customization[behavior][save_public_views]", "false",
                          !@customization[:behavior][:save_public_views]) %>
                      <%= label_tag("customization_behavior_save_public_views_false", "Don't Allow") %>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Warn When Leaving</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <p>Shows an alert notifying viewers they are being directed to 
                         another site when clicking external links:</p>
                      <%= radio_button_tag("customization[behavior][interstitial]", "true",
                          @customization[:behavior][:interstitial]) %>
                      <%= label_tag("customization_behavior_interstitial_true", "Show") %>
                      <%= radio_button_tag("customization[behavior][interstitial]", "false",
                          !@customization[:behavior][:interstitial]) %>
                      <%= label_tag("customization_behavior_interstitial_false", "Don't Show") %>
                    </span>
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="infoContentOuter singleInfoTab expanded">
      <div class="infoContentHeader clearfix">
        <h2 class="panelHeader clipText">
            Editing the <span class="templateName"><%= @widget_customization.name %></span> template.
        </h2>
        <ul class="headerActions">
          <li>
            <a href="#cancel" class="cancelCustomizationLink">Cancel Changes</a>
          </li>
        </ul>
      </div>
      <div class="infoContentInner">
        <div class="infoContentWrapper">
          <div class="infoContent">
            <p>Choose which tabs to display.  Choose the order by dragging tab names up or down.</p>
            <div id="tabsReorderList" class="reorderList clearfix">
              <div class="activeList">
                <p>Display These Tabs</p>
                <ul>
                  <%-
                  i = 1
                  @customization[:meta].reject{ |name, properties| !properties[:show] }.
                                            sort{ |a, b| a.last[:order] <=> b.last[:order] }.each do |name, properties| -%>
                    <li><div class="itemWrapper">
                      <span class="orderIndex"><%= i %></span>
                      <%= properties[:display_name] %>
                      <%= hidden_field_tag("customization[meta][#{name}][order]", i, :class => 'orderField') %>
                      <%= hidden_field_tag("customization[meta][#{name}][show]", true, :class => 'activeField') %>
                    </div></li>
                  <%- 
                  i += 1
                  end -%>
                </ul>
                <a href="#removeAll" class="removeAllLink">Remove All</a>
              </div>
              <div class="swapArrows">
                <a href="#addItem" class="addItemButton">Add</a>
                <a href="#removeItem" class="removeItemButton">Remove</a>
              </div>
              <div class="inactiveList">
                <p>Don't Display These Tabs</p>
                <ul>
                  <%- @customization[:meta].reject{ |name, properties| properties[:show] }.each do |name, properties| -%>
                    <li><div class="itemWrapper">
                      <span class="orderIndex hide"></span>
                      <%= properties[:display_name] %>
                      <%= hidden_field_tag("customization[meta][#{name}][order]", 0, :class => 'orderField') %>
                      <%= hidden_field_tag("customization[meta][#{name}][show]", false, :class => 'activeField') %>
                    </div></li>
                  <%- end -%>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="infoContentOuter singleInfoAdvanced listContainer expanded">
      <div class="infoContentHeader clearfix">
        <h2 class="panelHeader clipText">
            Editing the <span class="templateName"><%= @widget_customization.name %></span> template.
        </h2>
        <ul class="headerActions">
          <li>
            <a href="#cancel" class="cancelCustomizationLink">Cancel Changes</a>
          </li>
        </ul>
      </div>
      <div class="infoContentInner">
        <div class="infoContentWrapper">
          <div class="infoContent">
            <dl class="summaryList">
              <dt>Google Analytics</dt>
              <dd>
                <div class="itemContent">
                  <span class="textContent">
                    <p>If you use Google Analytics you can embed your tracking code into your Social Data Player</p>
                    <%= text_field_tag("customization[behavior][ga_code]", @customization[:behavior][:ga_code], 
                        :class => "textPrompt", :title => "Paste tracking code here") %>
                  </span>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  <%- end -%>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <script type="text/javascript">
    blist.namespace.fetch('blist.publish');
    blist.publish.currentTheme = <%= JSON.generate( @customization ) %>;
  </script>
  <%= javascript_include_tag "screens/info-pane.js", "plugins/colorpicker.js",
      "plugins/ui.core", "plugins/ui.draggable", "plugins/ajaxupload.3.0",
      "widgets/reorderable-list.js", "screens/blist-publish-screen",
      :cache => "cache/blists_publish" %>
<% end %>