<% content_for :head do %>
<%- if @admin_panel -%>
  <%= stylesheet_link_merged 'admin-shared' %>
  <%= stylesheet_link_merged 'blists-publish' %>
  <title>Administration Panel | <%= CurrentDomain.strings.site_title %></title>
<%- else -%>
  <%= stylesheet_link_merged 'blists-publish' %>
  <title>Publishing <%= @view.name %> | <%= CurrentDomain.strings.site_title %></title>
<%- end -%>
<% end %>

<%- if @admin_panel -%>
<div id="publishContent" class="oneColumnContainer tabContainer">
  <%= render :partial => 'admin/tabs', :locals => {:active => 'sdp'} %>
  <div class="fullPageContentContainer fullPageWithTabs">
    <div class="fullPageOuterContent">
      <div class="fullPageContent">
        <div class='outerContent'>
          <div class='contentTR'><div class='contentTL'></div></div>
          <div class='content' id='adminContent'>
            <div class="publishHeader clearfix">
              <%= render :partial => 'admin/refresh_theme_link' =%>
                <h3>Social Data Player Customizations</h3>
                
                <%- if flash[:notice] -%>
                  <p class='flashNotice'><%= flash[:notice] %></p>
                <%- end -%>
                
                <p class="explanation">
                  Use the controls at the bottom of this page to edit the look and 
                  function of this Social Data Player. You can edit an existing 
                  template or create a new one.
                </p>
                <p class="explanation">
                  You can also <%= link_to 'return to the template list', :action => 'sdp_index' %>
                  to view all of your templates.
                </p>
              </div>
<%- else -%>
<div id="publishContent" class="oneColumnContainer">
  <div class="fullPageContentContainer">
    <div class="fullPageOuterContent">
      <div class="fullPageContent">
        <div class="publishHeader clearfix">
          <div class="publishCodeWrapper">
            <div class="publishCode">
              <p>
                Embed Code:
                <span class="helpie" title="Paste this HTML code on your blog or website to publish your Social Data Player">?</span>
              </p>
              <textarea><%= get_publish_embed_code_for_view(@view, @customization[:publish], @widget_customization.uid) %></textarea>
              <%= hidden_field_tag('codeTemplate', get_publish_embed_code_for_view(@view, 
                    { :dimensions => { :width => '%width%', :height => '%height%' } }, '%variation%')) %>
            </div>
          </div>
          <a href="<%= @view.href %>" class="backToDatasetLink">Back to the Dataset</a>
          <h1>Customize Your Social Data Player</h1>
          <p>
            Use the controls at the bottom of this page to edit the look and
            function of this Social Data Player. You can edit an existing
            template or create a new one.
          </p>
          <p>
            Grab the embed code when things look right.
          </p>
        </div>
<%- end -%>
        <div class="unsavedChangesBar">
          <ul class="actionButtons clearfix">
            <li>
              <a class="discardChangesButton" title="Discard your unsaved changes" href="#discard">
                Discard
              </a>
            </li>
            <li>
              <a class="saveChangesButton arrowButton" title="Save the changes and apply them to existing players using this template" href="#save">
                Save
              </a>
            </li>
          </ul>
          <p>You have unsaved changes to this template.</p>
        </div>
      <%- if @view.is_public? -%>
        <p class="livePreviewText">Live Preview</p>
        <div class="previewPane" style="width:<%= @customization[:publish][:dimensions][:width] %>px">
          <%= get_publish_embed_code_for_view(@view, {}, 'default') %>
          <div class="loadingIndicator">
            Loading your Data Player Customization...
          </div>
        </div>
      <%- else -%>
        <div class="errorMessage privateDatasetMessage">
          <h2>Warning</h2>
          <p>The dataset you are trying to publish is currently marked as private.
             You will need to make it public before you can publish it. This will
             mean that anyone can view the data.</p>
          <ul class="actionButtons">
            <li><a href="#public" class="makePublicButton arrowButton">Make it public</a></li>
          </ul>
        </div>
      <%- end -%>
      <div class="errorMessage versionMessage">
        <h2>Warning</h2>
        <p>The customization you are trying to edit is our old design, which is no
           longer supported. It will continue to work as expected, but if you want
           to make changes, you'll have to convert it over to our new design first.
           You can preview how it will look before committing to using it.</p>
        <ul class="actionButtons">
          <li><a href="#convert" class="convertButton arrowButton">Convert it now</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="publishOptionsPane" class="metadataPane">
  <div class="header">
    <ul class="summaryTabs clearfix">
      <%- unless @hide_template_select -%>
      <li id="tabTemplates">
        <%= summary_tab 'Templates', 'templates' %>
      </li>
      <%- end -%>
      <li id="tabVisual">
        <%= summary_tab 'Visual Options', 'visual' %>
      </li>
      <li id="tabMenuControl">
        <%= summary_tab 'Menu &amp; Control Options', 'menuControl' %>
      </li>
      <li id="tabAdvanced">
        <%= summary_tab 'Advanced Options', 'advanced' %>
      </li>
    </ul>
  </div>
  <% form_tag("/widget_customization/") do %>
  <%- if @hide_template_select -%>
    <%= hidden_field_tag("template_name", @widget_customization.uid) %>
  <%- else %>
    <div class="infoContentOuter singleInfoTemplates listContainer">
      <div class="infoContentHeader clearfix">
        <h2 class="panelHeader clipText">
            Apply the
            <%= select_tag("template_name", options_from_collection_for_select(
                @widget_customizations, 'uid', 'name', @widget_customization.uid)) %>
            template to this Social Data Player
        </h2>
        <ul class="headerActions actionButtons">
          <li class="noButton">
            or
          </li>
          <li>
            <a class="arrowButton newTemplate" title="Apply a New Template to this Player" href="/customization/new" rel="modal">
              Create a New Template
            </a>
          </li>
        </ul>
      </div>
      <div class="infoContentInner">
        <div class="infoContentWrapper">
          <div class="infoContent">
            <dl class="summaryList">
              <dt>Template Description</dt>
              <dd>
                <div class="itemContent">
                  <span id="customizationDescription" class="textContent"><%= @customization[:description] || "(none)" %></span>
                </div>
              </dd>
            </dl>
          <%- if false -%>
            <dl class="summaryList">
              <dt>Players Using Template</dt>
              <dd>
                <div class="itemContent">
                  <ul class="textContent">
                    <li>http://whitehouse.gov/index.html</li>
                    <li>http://thinkprogess.org/2009/12/10/article.html</li>
                    <li>http://mediamatters.org/tv/recent</li>
                  </ul>
                </div>
              </dd>
            </dl>
          <%- end -%>
          </div>
        </div>
      </div>
      <div class="infoContentBR"><div class="infoContentBL"></div></div>
    </div>
    <%- end -%>
    <div class="infoContentOuter singleInfoVisual listContainer">
      <div class="infoContentHeader clearfix">
        <h2 class="panelHeader clipText">
            Editing the <span class="templateName"><%= @widget_customization.name %></span> template
        </h2>
        <%- unless @hide_template_select -%>
          <a href="#changeTemplate" class="changeTemplateLink">Change &rsaquo;</a>
        <%- end -%>
        <ul class="headerActions actionButtons">
          <li>
            <a class="arrowButton submitLink" href="<%= @done_href %>">Done</a>
          </li>
        </ul>
        <p class="changesWarning">
          All changes to this template will affect each Data Player that uses it.
          <a href="/customization/new" rel="modal" class="newTemplateLink">New Template &rsaquo;</a>
        </p>
      </div>
      <div class="infoContentInner">
        <div class="infoContentWrapper">
          <div class="infoContent clearfix">
            <div class="infoContentLeft">
              <dl class="summaryList">
                <dt>Player Size</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= text_field_tag("customization[publish][dimensions][width]",
                          @customization[:publish][:dimensions][:width]) %>
                      pixels wide by
                      <%= text_field_tag("customization[publish][dimensions][height]",
                          @customization[:publish][:dimensions][:height]) %>
                      pixels high
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Dataset Title</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= radio_button_tag("customization[frame][show_title]", "true",
                          @customization[:frame][:show_title]) %>
                      <%= label_tag("customization_frame_show_title_true", "Show") %>
                      <%= radio_button_tag("customization[frame][show_title]", "false",
                          !(@customization[:frame][:show_title])) %>
                      <%= label_tag("customization_frame_show_title_false", "Don't Show") %>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Powered By</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= radio_button_tag("customization[publish][show_powered_by]", "true",
                          @customization[:publish][:show_powered_by]) %>
                      <%= label_tag("customization_publish_show_powered_by_true", "Show") %>
                      <%= radio_button_tag("customization[publish][show_powered_by]", "false",
                          !@customization[:publish][:show_powered_by]) %>
                      <%= label_tag("customization_publish_show_powered_by_false", "Don't Show") %>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt></dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <h3>Color and Style</h3>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Frame Color</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= hidden_field_tag("customization[frame][color]",
                          @customization[:frame][:color]) %>
                      <div class="colorPickerContainer"></div>
                      <div id="frameColorPickerTrigger" class="colorPickerTrigger" style="background-color:#<%= @customization[:frame][:color] %>"></div>
                      <div class="colorPickerLabel"><%= @customization[:frame][:color] %></div>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Border Color</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= hidden_field_tag("customization[frame][border][color]",
                          @customization[:frame][:border][:color]) %>
                      <div class="colorPickerContainer"></div>
                      <div id="frameColorPickerTrigger" class="colorPickerTrigger" style="background-color:#<%= @customization[:frame][:border][:color] %>"></div>
                      <div class="colorPickerLabel"><%= @customization[:frame][:border][:color] %></div>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Button Color</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= hidden_field_tag("customization[menu][button][background][0][color]",
                          @customization[:menu][:button][:background][0]['color']) %>
                      <div class="colorPickerContainer"></div>
                      <div id="frameColorPickerTrigger" class="colorPickerTrigger" style="background-color:#<%= @customization[:menu][:button][:background][0]['color'] %>"></div>
                      <div class="colorPickerLabel"><%= @customization[:menu][:button][:background][0]['color'] %></div>
                    </span>
                    <%= hidden_field_tag("customization[menu][button][background][1][color]",
                        @customization[:menu][:button][:background][1]['color']) %>
                    <%= hidden_field_tag("customization[menu][button][background_hover][0][color]",
                        @customization[:menu][:button][:background_hover][0]['color']) %>
                    <%= hidden_field_tag("customization[menu][button][background_hover][1][color]",
                        @customization[:menu][:button][:background_hover][1]['color']) %>
                    <%= hidden_field_tag("customization[menu][button][border]",
                        @customization[:menu][:button][:border]) %>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Toolbar Color</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= hidden_field_tag("customization[toolbar][color]",
                          @customization[:toolbar][:color]) %>
                      <div class="colorPickerContainer"></div>
                      <div id="frameColorPickerTrigger" class="colorPickerTrigger" style="background-color:#<%= @customization[:toolbar][:color] %>"></div>
                      <div class="colorPickerLabel"><%= @customization[:toolbar][:color] %></div>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Border Thickness</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= text_field_tag("customization[frame][border][width][value]",
                          @customization[:frame][:border][:width][:value]) %>
                      <%= select_tag("customization[frame][border][width][unit]", font_unit_select_options(
                          @customization[:frame][:border][:width][:unit])) %>
                    </span>
                  </div>
                </dd>
              </dl>
            </div>
            <div class="infoContentRightBg"></div>
            <div class="infoContentRight">
              <div style="display:<%= @view.is_alt_view? ? 'none' : 'block' %>">
                <dl class="summaryList">
                  <dt></dt>
                  <dd>
                    <div class="itemContent">
                      <span class="textContent">
                        <h3>Column Titles</h3>
                      </span>
                    </div>
                  </dd>
                </dl>
                <dl class="summaryList">
                  <dt>Wrap Title Text</dt>
                  <dd>
                    <div class="itemContent">
                      <span class="textContent">
                        <%= radio_button_tag("customization[grid][wrap_header_text]", "true",
                            @customization[:grid][:wrap_header_text]) %>
                        <%= label_tag("customization_grid_wrap_header_text_true", "Wrap Text") %>
                        <%= radio_button_tag("customization[grid][wrap_header_text]", "false",
                            !@customization[:grid][:wrap_header_text]) %>
                        <%= label_tag("customization_grid_wrap_header_text_false", "Don't Wrap Text", :class => 'wideLabel') %>
                      </span>
                    </div>
                  </dd>
                </dl>
                <dl class="summaryList">
                  <dt>Title Font Weight</dt>
                  <dd>
                    <div class="itemContent">
                      <span class="textContent">
                        <%= radio_button_tag("customization[grid][title_bold]", "true",
                            @customization[:grid][:title_bold]) %>
                        <%= label_tag("customization_grid_title_bold_true", "Bold") %>
                        <%= radio_button_tag("customization[grid][title_bold]", "false",
                            !@customization[:grid][:title_bold]) %>
                        <%= label_tag("customization_grid_title_bold_false", "Normal") %>
                      </span>
                    </div>
                  </dd>
                </dl>
                <dl class="summaryList">
                  <dt>Title Text Size</dt>
                  <dd>
                    <div class="itemContent">
                      <span class="textContent">
                        <%= text_field_tag("customization[grid][font][header_size][value]",
                            @customization[:grid][:font][:header_size][:value]) %>
                        <%= select_tag("customization[grid][font][header_size][unit]", font_unit_select_options(
                            @customization[:grid][:font][:header_size][:unit])) %>
                      </span>
                    </div>
                  </dd>
                </dl>
                <dl class="summaryList">
                  <dt></dt>
                  <dd>
                    <div class="itemContent">
                      <span class="textContent">
                        <h3>Rows</h3>
                      </span>
                    </div>
                  </dd>
                </dl>
                <dl class="summaryList">
                  <dt>Row Numbers</dt>
                  <dd>
                    <div class="itemContent">
                      <span class="textContent">
                        <%= radio_button_tag("customization[grid][row_numbers]", "true",
                            @customization[:grid][:row_numbers]) %>
                        <%= label_tag("customization_grid_row_numbers_true", "Show") %>
                        <%= radio_button_tag("customization[grid][row_numbers]", "false",
                            !@customization[:grid][:row_numbers]) %>
                        <%= label_tag("customization_grid_row_numbers_false", "Don't Show") %>
                      </span>
                    </div>
                  </dd>
                </dl>
                <dl class="summaryList">
                  <dt>Row Text Size</dt>
                  <dd>
                    <div class="itemContent">
                      <span class="textContent">
                        <%= text_field_tag("customization[grid][font][data_size][value]",
                            @customization[:grid][:font][:data_size][:value]) %>
                        <%= select_tag("customization[grid][font][data_size][unit]", font_unit_select_options(
                            @customization[:grid][:font][:data_size][:unit])) %>
                      </span>
                    </div>
                  </dd>
                </dl>
                <dl class="summaryList">
                  <dt>Row Striping</dt>
                  <dd>
                    <div class="itemContent">
                      <span class="textContent">
                        <%= radio_button_tag("grid_zebra", "true",
                            @customization[:grid][:zebra]) %>
                        <%= label_tag("grid_zebra_true", "Stripe") %>
                        <%= radio_button_tag("grid_zebra", "false",
                            !@customization[:grid][:zebra]) %>
                        <%= label_tag("grid_zebra_false", "Don't Stripe") %>
                      </span>
                    </div>
                  </dd>
                </dl>
                <dl class="summaryList" style="display: <%= @customization[:grid][:zebra] ? 'block' : 'none' %>">
                  <dt>Row Stripe Color</dt>
                  <dd>
                    <div class="itemContent">
                      <span class="textContent">
                        <%= hidden_field_tag("customization[grid][zebra]",
                            @customization[:grid][:zebra]) %>
                        <div class="colorPickerContainer"></div>
                        <div id="frameColorPickerTrigger" class="colorPickerTrigger" style="background-color:#<%= @customization[:grid][:zebra] %>"></div>
                        <div class="colorPickerLabel"><%= @customization[:grid][:zebra] %></div>
                      </span>
                    </div>
                  </dd>
                </dl>
              </div>
              <div style="display:<%= @view.is_alt_view? ? 'block' : 'none' %>">
                <dl class="summaryList">
                  <dt></dt>
                  <dd>
                    <div class="itemContent">
                      <span class="textContent">
                        <h3>Column Titles &amp; Rows</h3>
                        <p>
                          There are configuration options tied to this template for these
                          categories, but since you are currently working with a non-grid
                          based view, those are not relevant right now.
                      </span>
                    </div>
                  </dd>
                </dl>
              </div>
              <dl class="summaryList">
                <dt></dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <h3>Toolbars</h3>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Orientation</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <%= radio_button_tag("customization[frame][orientation]", "downwards",
                          @customization[:frame][:orientation] == 'downwards') %>
                      <%= label_tag("customization_frame_orientation_downwards", "Downwards") %>
                      <%= radio_button_tag("customization[frame][orientation]", "upwards",
                          @customization[:frame][:orientation] == 'upwards') %>
                      <%= label_tag("customization_frame_orientation_upwards", "Upwards") %>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Logo</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <p>Logo images should be no more than 120x35 pixels in size.</p>
                      <div class="subform">
                        <%= hidden_field_tag("customization[logo][image][type]", @customization[:logo][:image][:type]) %>
                        <%= label_tag("customization_logo_image_href", "Image") %>
                        <%= select_tag("customization[logo][image][href]", images_select_options(@customization[:logo][:image][:href]))%>
                        <img class="logoPreview" src="/assets/<%= @customization[:logo][:image][:href] %>?s=tiny" alt="logo preview" />
                      </div>
                      <div class="subform logoUrlForm">
                        <%= label_tag("customization_logo_href", "Link") %>
                        <%= text_field_tag("customization[logo][href]",
                            @customization[:logo][:href]) %>
                      </div>
                    </span>
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="infoContentBR"><div class="infoContentBL"></div></div>
    </div>
    <div class="infoContentOuter singleInfoMenuControl listContainer">
      <div class="infoContentHeader clearfix">
        <h2 class="panelHeader clipText">
            Editing the <span class="templateName"><%= @widget_customization.name %></span> template
        </h2>
        <%- unless @hide_template_select -%>
          <a href="#changeTemplate" class="changeTemplateLink">Change &rsaquo;</a>
        <%- end -%>
        <ul class="headerActions actionButtons">
          <li>
            <a class="arrowButton submitLink" href="<%= @done_href %>">Done</a>
          </li>
        </ul>
        <p class="changesWarning">
          All changes to this template will affect each Data Player that uses it.
          <a href="/customization/new" rel="modal" class="newTemplateLink">New Template &rsaquo;</a>
        </p>
      </div>
      <div class="infoContentInner">
        <div class="infoContentWrapper">
          <div class="infoContent clearfix">
            <div class="infoContentLeft">
              <dl class="summaryList">
                <dt></dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <h3>
                        Menu:
                        <span class="infoText">
                          Select the menu options to allow
                        </span>
                      </h3>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt></dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <ul>
                        <li>
                          <%= check_box_tag("customization[menu][options][more_views]",
                            true, @customization[:menu][:options][:more_views]) %>
                          <%= label_tag("customization_menu_options_print",
                            "More Views") %>
                        </li>
                        <li>
                          <%= check_box_tag("customization[menu][options][comments]",
                            true, @customization[:menu][:options][:comments]) %>
                          <%= label_tag("customization_menu_options_comments",
                            "Comments") %>
                        </li>
                        <li>
                          <%= check_box_tag("customization[menu][options][downloads]",
                            true, @customization[:menu][:options][:downloads]) %>
                          <%= label_tag("customization_menu_options_downloads",
                            "Downloads") %>
                        </li>
                        <li>
                          <%= check_box_tag("customization[menu][options][embed]",
                            true, @customization[:menu][:options][:embed]) %>
                          <%= label_tag("customization_menu_options_embed",
                            "Embed") %>
                        </li>
                        <li>
                          <%= check_box_tag("customization[menu][options][api]",
                            true, @customization[:menu][:options][:api]) %>
                          <%= label_tag("customization_menu_options_api",
                            "API") %>
                        </li>
                        <li>
                          <%= check_box_tag("customization[menu][options][print]",
                            true, @customization[:menu][:options][:print]) %>
                          <%= label_tag("customization_menu_options_print",
                            "Print") %>
                        </li>
                        <li>
                          <%= check_box_tag("customization[menu][options][about_sdp]",
                            true, @customization[:menu][:options][:about_sdp]) %>
                          <%= label_tag("customization_menu_options_about_sdp",
                            "About the SDP") %>
                        </li>
                      </ul>
                    </span>
                  </div>
                </dd>
              </dl>
            </div>
            <div class="infoContentRightBg"></div>
            <div class="infoContentRight">
              <dl class="summaryList">
                <dt></dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <h3>General Options</h3>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Share Menu</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <p>Allow users to easily share your dataset on
                        social networks</p>
                      <%= radio_button_tag("customization[menu][share]",
                        "true", @customization[:menu][:share]) %>
                      <%= label_tag("customization_menu_share_true",
                        "Show") %>
                      <%= radio_button_tag("customization[menu][share]",
                        "false", !@customization[:menu][:share]) %>
                      <%= label_tag("customization_menu_share_false",
                        "Don't Show") %>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>View Full Screen</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <p>Displays a button on the toolbar to view the
                        dataset full screen</p>
                      <%= radio_button_tag("customization[menu][fullscreen]",
                        "true", @customization[:menu][:fullscreen]) %>
                      <%= label_tag("customization_menu_fullscreen_true",
                        "Show") %>
                      <%= radio_button_tag("customization[menu][fullscreen]",
                        "false", !@customization[:menu][:fullscreen]) %>
                      <%= label_tag("customization_menu_fullscreen_false",
                        "Don't Show") %>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="summaryList">
                <dt>Warn When Leaving</dt>
                <dd>
                  <div class="itemContent">
                    <span class="textContent">
                      <p>Shows an alert notifying viewers they are being directed to 
                         another site when clicking external links:</p>
                      <%= radio_button_tag("customization[behavior][interstitial]", "true",
                          @customization[:behavior][:interstitial]) %>
                      <%= label_tag("customization_behavior_interstitial_true", "Show") %>
                      <%= radio_button_tag("customization[behavior][interstitial]", "false",
                          !@customization[:behavior][:interstitial]) %>
                      <%= label_tag("customization_behavior_interstitial_false", "Don't Show") %>
                    </span>
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="infoContentBR"><div class="infoContentBL"></div></div>
    </div>
    <div class="infoContentOuter singleInfoAdvanced listContainer">
      <div class="infoContentHeader clearfix">
        <h2 class="panelHeader clipText">
            Editing the <span class="templateName"><%= @widget_customization.name %></span> template
        </h2>
        <%- unless @hide_template_select -%>
          <a href="#changeTemplate" class="changeTemplateLink">Change &rsaquo;</a>
        <%- end -%>
        <ul class="headerActions actionButtons">
          <li>
            <a class="arrowButton submitLink" href="<%= @done_href %>">Done</a>
          </li>
        </ul>
        <p class="changesWarning">
          All changes to this template will affect each Data Player that uses it.
          <a href="/customization/new" rel="modal" class="newTemplateLink">New Template &rsaquo;</a>
        </p>
      </div>
      <div class="infoContentInner">
        <div class="infoContentWrapper">
          <div class="infoContent">
            <dl class="summaryList">
              <dt>Google Analytics</dt>
              <dd>
                <div class="itemContent">
                  <span class="textContent">
                    <p>If you use Google Analytics you can embed your tracking code into your Social Data Player</p>
                    <%= text_field_tag("customization[behavior][ga_code]", @customization[:behavior][:ga_code], 
                        :class => "textPrompt", :title => "Paste tracking code here") %>
                    <a class="clearGACodeLink" href="#clearGACode">clear</a>
                  </span>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="infoContentBR"><div class="infoContentBL"></div></div>
    </div>
  <%- end -%>
</div>

<% content_for :js_footer do %>
  <%= javascript_include_merged 'shared-common-all' %>
  <script type="text/javascript">
    blist.namespace.fetch('blist.publish');
    blist.publish.currentTheme = <%= raw @customization.to_json %>;
    blist.publish.v2Theme = <%= raw WidgetCustomization.default_theme(1).to_json %>;
    blist.publish.viewId = '<%= @view.id %>';
    <%- if @hide_template_select -%>
    blist.publish.showTemplateChooser = false;
    blist.publish.showEmbed = false;
    <%- end -%>
  </script>
  <%= javascript_include_merged 'blists-publish' %>
<% end %>
