<%- content_for :headline do -%>
<h1 class='republishDialogIcon'>Republish This <%= t(:blist_name).capitalize %></h1>
<%- end -%>

<div class="modalContentWrapper republishDialogWrapper">
  <div class="mainContent clearfix">
    <p>
    You can publish this <%= t(:blist_name).downcase %> on your blog website by embedding 
    it in a Social Data Player.  Simply copy and paste the below HTML into your site.
    </p>
    <div class="publishCode">
      <div class="sizeOptions">
        <p class="field">
          <label for="publishWidth">Width</label>
          <%= text_field_tag("publishWidth", "500") %> px
        </p>
        <p class="field">
          <label for="publishHeight">Height</label>
          <%= text_field_tag("publishHeight", "425") %> px
        </p>
        <p class="field republishVariationSelect">
          <label for="publishVariation">Color</label>
          <%= select_tag("publishVariation", options_for_select({ 'Blue' => 'normal', 'Black' => 'black' })) %>
        </p>
        <p id="sizeError" class="hide">The player must be at least 500 pixels wide by 425 pixels tall.</p>
      </div>
      <div class="copyCode">
        <%= text_area_tag("publishCode") %>
        <%= hidden_field_tag("publishCodeTemplate", get_publish_embed_code_for_view(@view,
            {:dimensions => { :width => "#width#",  :height => "#height#" }}, "#variation#",
            (params[:cur] || 'w'))) %>
      </div>
    </div>
  </div>
    <div class="submitLine clearfix">
      <ul class="actionButtons clearfix">
        <li><a class="jqmClose" href="#close">Close</a></li>
        <li><a id="previewWidgetLink" href="<%= "/widgets_preview/#{@view.id}" %>" class="noInterstitial arrowButton">See Preview</a></li>
      </ul>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
  var widgetNS = blist.namespace.fetch('blist.widget');

  blist.common.modalReady = function()
  {
    if (widgetNS.customizationId !== '')
    {
      $('.republishVariationSelect')
        .replaceWith('<input id="publishVariation" type="hidden" value="' +
                      widgetNS.customizationId + '"/>');
    }
    $('.republishDialogWrapper .publishCode').infoPanePublish();
    $.live(".republishDialogWrapper textarea", 'click', function() { $(this).select(); });
  };
</script>
