<% content_for :head do %>
  <%= stylesheet_link_tag "blist-grid-screen",
    :cache => "cache/all" %>
  <%= javascript_include_tag "util/swfobject",
    :cache => "cache/all" %>
  <title>blist | share your weblists</title>
<% end %>

<div id='overlay'></div>

<div id='lensContainer' class='mainContent tableView'>
  <ul class='tabList'>
    <li class='main active'><div class='wrapper'>
      <a href='#'><%= @lens.name %></a></div></li>
  </ul>

  <div class='outerContent'>
    <div class='content'>
      <div class='headerBar clearfix'>
        <ul>
          <%# Main menu %>
          <li><a href='#' id='mainMenuLink' class='dropdownLink'>
            <div class='outerWrapper'><div class='midWrapper'>
                <span class='innerWrapper'>Menu</span></div></div></a>
            <ul id='mainMenu' class='menu multilevelMenu'>
              <li class='first blist active'>
                <dl><dt><a href='#menublist'>blist</a></dt>
                  <dd><%= menu_tag({'bare_menu' => true, 'items' => [
                  {'text' => 'Print this blist...', 'class' => 'print',
                    'href' => '#'},
                  {'text' => 'Export this blist', 'class' => 'export',
                    'href' => '#', 'submenu' => {'class' => 'noicon', 'items' => [
                      {'text' => 'As CSV', 'href' => '#'},
                      {'text' => 'As PDF', 'href' => '#'}]}},
                  {'text' => 'Email this blist...', 'class' => 'email',
                    'href' => '#'},
                  {'text' => 'Copy this blist', 'class' => 'copy', 'href' => '#'},
                  {'separator' => true},
                  {'text' => 'Create New blist', 'class' => 'create',
                    'href' => '#', 'submenu' => {'items' => [
                      {'text' => 'Start As a Table', 'class' => 'table', 'href' => '#'},
                      {'text' => 'Start As a Page', 'class' => 'page', 'href' => '#'},
                      {'text' => 'Start New Calendar', 'class' => 'calendar', 'href' => '#'},
                      {'text' => 'Start New Form', 'class' => 'form', 'href' => '#'}]}},
                  {'text' => 'Import...', 'class' => 'import', 'href' => '#'},
                  {'text' => 'Find a Template', 'class' => 'findTemplate',
                    'href' => '#'},
                  {'separator' => true},
                  {'text' => 'Open Recent', 'class' => 'recent', 'href' => '#',
                    'submenu' => {'items' => [
                      {'text' => 'some blist', 'class' => '', 'href' => '#'},
                      {'text' => 'some filter', 'class' => '', 'href' => '#'}]}},
                  {'separator' => true},
                  {'text' => 'Edit blist permissions...',
                    'class' => 'editPermissions', 'href' => '#'}]}) %>
                </dd></dl>
              </li>
              <li class='edit'>
                <dl><dt><a href='#menuEdit'>Edit</a></dt>
                  <dd><%= menu_tag({'bare_menu' => true, 'items' => [
                  {'text' => 'Undo', 'class' => 'undo', 'href' => '#'},
                  {'text' => 'Redo', 'class' => 'redo', 'href' => '#'},
                  {'separator' => true},
                  {'text' => 'Cut', 'class' => 'cut', 'href' => '#'},
                  {'text' => 'Copy', 'class' => 'copy', 'href' => '#'},
                  {'text' => 'Paste', 'class' => 'paste', 'href' => '#'},
                  {'separator' => true},
                  {'text' => 'Delete', 'class' => 'delete', 'href' => '#'},
                  {'separator' => true},
                  {'text' => 'Edit Column Options', 'class' => 'columnOptions',
                    'href' => '#', 'submenu' => {'items' => [
                      {'section_title' => 'Select a Column'},
                      {'separator' => true},
                      {'text' => 'col1', 'href' => '#'},
                      {'text' => 'col2', 'href' => '#'},
                      ]}},
                  {'text' => 'Edit Row Options', 'class' => 'rowOptions',
                    'href' => '#'}]}) %>
                </dd></dl>
              </li>
              <li class='data'>
                <dl><dt><a href='#menuData'>Data</a></dt>
                  <dd><%= menu_tag({'bare_menu' => true, 'items' => [
                  {'text' => 'Insert a Column', 'class' => 'insertColumn',
                    'href' => '#', 'submenu' => {'class' => 'noicon', 'items' => [
                      {'text' => 'At the Far Right', 'href' => '#'},
                      {'text' => 'At the Far Left', 'href' => '#'}]}},
                  {'text' => 'Insert a Row', 'class' => 'insertRow',
                    'href' => '#', 'submenu' => {'class' => 'noicon', 'items' => [
                      {'text' => 'At the Top', 'href' => '#'},
                      {'text' => 'At the Bottom', 'href' => '#'}]}},
                  {'separator' => true},
                  {'text' => 'Mange Pick Lists...', 'class' => 'picklists',
                    'href' => '#'},
                  {'separator' => true},
                  {'text' => 'Show Row Tags', 'class' => 'rowTags', 'href' => '#'},
                  {'text' => 'Show Row IDs', 'class' => 'rowIDs', 'href' => '#'},
                  {'separator' => true},
                  {'text' => 'Column Totals', 'class' => 'columnTotals',
                    'href' => '#', 'submenu' => {'items' => [
                      {'text' => 'Show Totals Bar', 'class' => 'showTotals', 'href' => '#'},
                      {'separator' => true},
                      {'section_title' => 'Add totals to:'},
                      {'text' => 'col1', 'class' => '', 'href' => '#',
                        'submenu' => {'option_menu' => true, 'items' => [
                          {'text' => 'None', 'class' => 'checked', 'href' => '#'},
                          {'text' => 'Average', 'class' => '', 'href' => '#'},
                          {'text' => 'Count', 'class' => '', 'href' => '#'},
                          {'text' => 'Sum', 'class' => '', 'href' => '#'},
                          {'text' => 'Maximum', 'class' => '', 'href' => '#'},
                          {'text' => 'Minimum', 'class' => '', 'href' => '#'}]}},
                      {'text' => 'col2', 'class' => '', 'href' => '#',
                        'submenu' => {'option_menu' => true, 'items' => [
                          {'text' => 'None', 'class' => 'checked', 'href' => '#'},
                          {'text' => 'Average', 'class' => '', 'href' => '#'},
                          {'text' => 'Count', 'class' => '', 'href' => '#'},
                          {'text' => 'Sum', 'class' => '', 'href' => '#'},
                          {'text' => 'Maximum', 'class' => '', 'href' => '#'},
                          {'text' => 'Minimum', 'class' => '', 'href' => '#'}]}}
                  ]}}]}) %>
                </dd></dl>
              </li>
              <li class='info'>
                <dl><dt><a href='#menuInfo'>Info</a></dt>
                  <dd><%= menu_tag({'bare_menu' => true, 'items' => [
                  {'section_title' => 'Tabs'},
                  {'text' => 'Summary', 'class' => 'summary', 'href' => '#'},
                  {'text' => 'Show Filtered Views', 'class' => 'views',
                    'href' => '#'},
                  {'text' => 'Show Comments', 'class' => 'comments', 'href' => '#'},
                  {'text' => 'Show Publishing', 'class' => 'publishing',
                    'href' => '#'},
                  {'text' => 'Show Shares', 'class' => 'shares', 'href' => '#'},
                  {'text' => 'Show Activity', 'class' => 'activity',
                    'href' => '#'}]}) %>
                </dd></dl>
              </li>
              <li class='publish'>
                <dl><dt><a href='#menuPublish'>Publish</a></dt>
                  <dd><%= menu_tag({'bare_menu' => true, 'items' => [
                  {'section_title' => 'Embed blists on the Web'},
                  {'text' => 'Grid Only', 'class' => 'grid', 'href' => '#'},
                  {'text' => 'Grid + Page', 'class' => 'gridPage', 'href' => '#'},
                  {'text' => 'Page Only', 'class' => 'page', 'href' => '#'},
                  {'separator' => true},
                  {'text' => 'As a Form', 'class' => 'form', 'href' => '#'},
                  {'text' => 'As a Search Widget', 'class' => 'search',
                    'href' => '#'}]}) %>
                </dd></dl>
              </li>
              <li class='footer'><div class='outerWrapper'>
                <div class='innerWrapper'><span class='colorWrapper'></span>
                  </div></div></li>
            </ul>
          </li>

          <%# Undo/redo %>
          <li class='separator'><a href='#Undo' id='undoLink'
            class='linkIcon flashAction' title='Undo'>Undo</a></li>
          <li><a href='#Redo' id='redoLink'
            class='linkIcon flashAction' title='Redo'>Redo</a></li>

          <%# Table view options %>
          <li class='separator tableOption'>
            <a class='addColumnsLink linkIcon' href='#'>Add Column</a></li>
          <li class='separator tableOption'>
            <a href='#' id='filterLink' class='dropdownLink'>
              <div class='outerWrapper'><div class='midWrapper'>
                  <div class='innerWrapper'>
                    <span class='linkIcon'>Filter & View</span></div></div>
            </div></a>
            <%= menu_tag({'id' => 'filterViewMenu', 'items' => [
            {'section_title' => 'Build a new view of your data'},
            {'text' => 'Filter Out Rows...', 'class' => 'filter', 'href' => '#'},
            {'text' => 'Sort Columns...', 'class' => 'sort', 'href' => '#'},
            {'text' => 'Show or Hide Columns...', 'class' => 'showHide',
              'href' => '#'}]}) %>
          </li>

          <%# Page view options %>
          <li class='separator pageOption'><a class='addColumnsLink linkIcon'
            href='#'>Add Field</a></li>
          <li class='pageOption'><a id='newPageLink'
            class='linkIcon flashAction' href='#NewPage'>New Page</a></li>
          <li class='separator pageOption'><a id='defaultLayoutLink'
            class='linkIcon flashAction'
            href='#DefaultLayout'>Default Layout</a></li>

          <%# Display menu %>
          <li class='separator'><a href='#' id='displayLink' class='dropdownLink'>
            <div class='outerWrapper'><div class='midWrapper'>
                <span class='innerWrapper'>Display As</span></div></div></a>
            <%= menu_tag({'id' => 'displayMenu', 'option_menu' => true, 'items' => [
            {'text' => 'A table', 'class' => 'table selected', 'href' => '#'},
            {'text' => 'A page', 'class' => 'page', 'href' => '#'}]}) %>
          </li>
        </ul>

        <form class='search' action='#'>
          <p>
            <input type='text' class='textPrompt' title='Find' />
            <input type="image" class="submit" name="findSubmit"
              src="/stylesheets/images/content/table_menu/button_find.png" />
          </p>
        </form>
      </div>

      <div id='addColumnsMenu' class='fixedMenu'>
        <div class='outerWrapper'>
          <ul class='innerWrapper clearfix'>
            <li class='column'>
            <%# Text datatypes %>
              <ul>
                <li><a href='#plainText'
                  id='addColumn_plainText'>Plain Text</a></li>
                <li><a href='#formattedText'
                  id='addColumn_formattedText'>Formatted Text</a></li>
              </ul>
            </li>
            <li class='column'>
            <%# Numeric datatypes %>
              <ul>
                <li><a href='#number' id='addColumn_number'>Number</a></li>
                <li><a href='#money' id='addColumn_money'>Money</a></li>
                <li><a href='#percent' id='addColumn_percent'>Percent</a></li>
                <li><a href='#dateTime' id='addColumn_dateTime'>Date & Time</a></li>
              </ul>
            </li>
            <li class='column'>
            <%# Address datatypes %>
              <ul>
                <li><a href='#phone' id='addColumn_phone'>Phone</a></li>
                <li><a href='#email' id='addColumn_email'>Email</a></li>
                <li><a href='#url' id='addColumn_url'>Website URL</a></li>
              </ul>
            </li>
            <li class='column'>
            <%# Chooser/explicit pick options datatypes %>
              <ul>
                <li><a href='#checkbox' id='addColumn_checkbox'>Checkbox</a></li>
                <li><a href='#stars' id='addColumn_stars'>Star</a></li>
                <li><a href='#flag' id='addColumn_flag'>Flag</a></li>
              </ul>
            </li>
            <li class='column'>
            <%# Blob datatypes %>
              <ul>
                <li><a href='#document' id='addColumn_document'>Document</a></li>
                <li><a href='#photo' id='addColumn_photo'>Photo (Image)</a></li>
              </ul>
            </li>
            <li class='column last'>
            <%# Complex/join datatypes %>
              <ul>
                <li><a href='#picklist'
                  id='addColumn_picklist'>Picklist (Drop-down)</a></li>
                <li><a href='#blist_in_blist'
                  id='addColumn_bnb'>Table (blist in blist)</a></li>
              </ul>
            </li>
          </ul>
          <a href='#Close_Add_Columns' title='Close' class='close'>Close</a>
        </div>
      </div>

      <div id='pageViewHeader'><div class='innerWrapper'></div></div>

      <div id='outerSwfWrapper' class='scrollContent'>
        <div id='swfWrapper'>
          <%= render(:partial => "shared/swf") %>
        </div>
      </div>

      <div id='pageViewFooter'>
        <a href='#FirstPage' id='firstPageLink' class='flashAction'
          title='First Page'>First Page</a>
        <a href='#PrevPage' id='prevPageLink' class='flashAction'
          title='Previous Page'>Previous Page</a>
        <span id='pageInfo'>Page</span>
        <a href='#NextPage' id='nextPageLink' class='flashAction'
          title='Next Page'>Next Page</a>
        <a href='#LastPage' id='lastPageLink' class='flashAction'
          title='Last Page'>Last Page</a>
      </div>

    </div>
  </div>
</div>

<div class="twoColumnContainer">
  <div id="mainColumnContent" class="column">
    <div id='infoPane'>
      <div class='header'>
        <a href='#' class='active'>Summary</a>
        <div class='background'></div>
      </div>
      <div class='infoContent'>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column">
    <%= render(:partial => "shared/ad_box") %>
  </div>

  <div class='clearBoth'></div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "util/extMouseWheel", "util/flash-interface",
    "widgets/dropdown-menu",
    "screens/blist-grid-screen", :cache => "cache/all" %>
<% end %>
