<% content_for :head do %>
  <%= stylesheet_link_tag "blist-grid-screen" %>
  <%= javascript_include_tag "util/swfobject" %>
  <title>blist | share your weblists</title>
<% end %>

<div id='overlay'></div>

<div class="scrollContentColumn">
  <div id='lensContainer' class='mainContent tableView'>
    <ul class='tabList'>
      <li class='backLink'><a title='Back to blists'
          href='<%= blists_url() %>'>Back to blists</a></li>
      <li class='main <%= @is_child_view ? 'even' : 'active' %>'>
        <div class='wrapper'>
          <a class='clipText' href='<%= blist_url(@parent_view.id) %>'
            title='<%= !@parent_view.nil? ? h(@parent_view.name) : '' %>'>
            <%= !@parent_view.nil? ? h(@parent_view.name) : 'New blist' %>
          </a>
        </div>
      </li>
      <li class='newViewLink'><a href='#newView' title='New View'>New View</a></li>
      <li class='prevTabLink'><a href='#prev_tab' title='Previous View'>
        Previous View
      </a></li>
      <%- if @is_child_view -%>
      <li class='active filter'><div class='wrapper'>
        <a class='clipText' href='<%= blist_url(@view.id) %>'
          title='<%= h(@view.name) %>'><%= h(@view.name) %></a>
      </div></li>
      <%- end -%>
      <li class='nextTabLink'><a href='#next_tab' title='Next View'>
        Next View
      </a></li>
    </ul>

    <div class='outerContent'>
      <div class='content'>
        <div class='headerBar clearfix'>
          <%- if !@view.nil? -%>
          <ul>
            <%# Main menu %>
            <li><a href='#main_menu' id='mainMenuLink' class='dropdownLink'>
              <div class='outerWrapper'><div class='midWrapper'>
                  <span class='innerWrapper'>Menu</span></div></div></a>
              <%= render(:partial => "main_menu") %>
            </li>

            <%# Undo/redo %>
            <li class='separator'><a href='#Undo' id='undoLink'
              class='linkIcon flashAction' title='Undo'>Undo</a></li>
            <li><a href='#Redo' id='redoLink'
              class='linkIcon flashAction' title='Redo'>Redo</a></li>

            <%# Table view options %>
            <li class='separator tableOption'>
              <a class='addColumnsLink linkIcon' href='#'>Add Column</a></li>
            <li class='separator tableOption'>
              <a href='#' id='filterLink' class='dropdownLink'>
                <div class='outerWrapper'><div class='midWrapper'>
                    <div class='innerWrapper'>
                      <span class='linkIcon'>Filter & View</span></div></div>
              </div></a>
              <%= menu_tag({'id' => 'filterViewMenu', 'items' => [
              {'section_title' => 'Build a new view of your data'},
              {'text' => 'Filter Out Rows...', 'class' => 'filter', 'href' => '#'},
              {'text' => 'Sort Columns...', 'class' => 'sort', 'href' => '#'},
              {'text' => 'Show or Hide Columns...', 'class' => 'showHide',
                'href' => '#'}]}) %>
            </li>

            <%# Page view options %>
            <li class='separator pageOption'><a class='addColumnsLink linkIcon'
              href='#'>Add Field</a></li>
            <li class='pageOption'><a id='newPageLink'
              class='linkIcon flashAction' href='#NewPage'>New Page</a></li>
            <li class='separator pageOption'><a id='defaultLayoutLink'
              class='linkIcon flashAction'
              href='#DefaultLayout'>Default Layout</a></li>

            <%# Display menu %>
            <li class='separator'><a href='#' id='displayLink' class='dropdownLink'>
              <div class='outerWrapper'><div class='midWrapper'>
                  <span class='innerWrapper'>Display As</span></div></div></a>
              <%= menu_tag({'id' => 'displayMenu', 'option_menu' => true, 'items' => [
              {'text' => 'A table', 'class' => 'table checked', 'href' => '#'},
              {'text' => 'A page', 'class' => 'page', 'href' => '#'}]}) %>
            </li>
          </ul>

          <form class='search' action='#'>
            <p>
              <input type='text' class='textPrompt' title='Find' />
              <input type="image" class="submit" name="findSubmit"
                src="/stylesheets/images/content/table_menu/button_find.png" />
            </p>
          </form>
          <%- end -%>
        </div>

        <div id='addColumnsMenu' class='fixedMenu'>
          <div class='outerWrapper'>
            <ul class='innerWrapper clearfix'>
              <li class='column'>
              <%# Text datatypes %>
                <ul>
                  <li><a href='#plainText'
                    id='addColumn_plainText'>Plain Text</a></li>
                  <li><a href='#formattedText'
                    id='addColumn_formattedText'>Formatted Text</a></li>
                </ul>
              </li>
              <li class='column'>
              <%# Numeric datatypes %>
                <ul>
                  <li><a href='#number' id='addColumn_number'>Number</a></li>
                  <li><a href='#money' id='addColumn_money'>Money</a></li>
                  <li><a href='#percent' id='addColumn_percent'>Percent</a></li>
                  <li><a href='#dateTime' id='addColumn_dateTime'>Date & Time</a></li>
                </ul>
              </li>
              <li class='column'>
              <%# Address datatypes %>
                <ul>
                  <li><a href='#phone' id='addColumn_phone'>Phone</a></li>
                  <li><a href='#email' id='addColumn_email'>Email</a></li>
                  <li><a href='#url' id='addColumn_url'>Website URL</a></li>
                </ul>
              </li>
              <li class='column narrow'>
              <%# Chooser/explicit pick options datatypes %>
                <ul>
                  <li><a href='#checkbox' id='addColumn_checkbox'>Checkbox</a></li>
                  <li><a href='#stars' id='addColumn_stars'>Star</a></li>
                  <li><a href='#flag' id='addColumn_flag'>Flag</a></li>
                </ul>
              </li>
              <li class='column'>
              <%# Blob datatypes %>
                <ul>
                  <li><a href='#document' id='addColumn_document'>Document</a></li>
                  <li><a href='#photo' id='addColumn_photo'>Photo (Image)</a></li>
                </ul>
              </li>
              <li class='column wide'>
              <%# Complex/join datatypes %>
                <ul>
                  <li><a href='#picklist'
                    id='addColumn_picklist'>Picklist (Drop-down)</a></li>
                  <li><a href='#blist_in_blist'
                    id='addColumn_bnb'>Table (blist in blist)</a></li>
                </ul>
              </li>
              <li class='column narrow last'>
              <%# Existing columns to unhide %>
                <ul>
                  <li><a href='#rowTag'
                    id='addColumn_rowTag'>Row Tag</a></li>
                </ul>
              </li>
            </ul>
            <a href='#Close_Add_Columns' title='Close' class='close'>Close</a>
          </div>
        </div>

        <div id='pageViewHeader'><div class='innerWrapper'></div></div>

        <div id='outerSwfWrapper' class='scrollContent'>
          <div id='swfWrapper'>
            <%= render(:partial => "shared/swf") %>
          </div>
        </div>

        <div id='pageViewFooter'>
          <a href='#FirstPage' id='firstPageLink' class='flashAction'
            title='First Page'>First Page</a>
          <a href='#PrevPage' id='prevPageLink' class='flashAction'
            title='Previous Page'>Previous Page</a>
          <span id='pageInfo'>Page</span>
          <a href='#NextPage' id='nextPageLink' class='flashAction'
            title='Next Page'>Next Page</a>
          <a href='#LastPage' id='lastPageLink' class='flashAction'
            title='Last Page'>Last Page</a>
        </div>

      </div>
    </div>
  </div>

  <div class="twoColumnContainer clearfix">
    <div id="mainColumnContent" class="column">
      <div id='infoPane'>
      <%- if !@view.nil? -%>
        <%= render(:partial => "info_for_single", :locals => { :view => @view, :page_single => true }) %>
      <%- end -%>
      </div>
    </div>

    <div id="sidebar" class="column">
      <%= render(:partial => "shared/ad_box") %>
    </div>
  </div>
</div>
<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <script type="text/javascript">
    blist.namespace.fetch('blist.blistGrid');
    blist.blistGrid.referer = "<%= request.referer %>";
    blist.blistGrid.blistId = "<%= @view.blistId %>";
    <%- if @is_child_view -%>
    blist.blistGrid.viewId = "<%= @view.id %>";
    blist.blistGrid.viewName = "<%= h(@view.name) %>";
    <%- end -%>
  </script>
  <%= javascript_include_tag "plugins/jquery.cookies.2.0.1.min",
    "plugins/jquery.json", "util/extMouseWheel", "util/flash-interface",
    "util/navigation", "widgets/dropdown-menu", "widgets/selectable-list",
    "widgets/scrollable", "screens/blist-grid-screen", "screens/info-pane",
    :cache => "cache/blists_show_all" %>
<% end %>
