<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, "/views/#{@view.id}/rows.rss") %>
  <%= stylesheet_link_merged 'blists-show' %>
  <title><%= @view.name %> | <%= th.site_title %></title>
  <%= meta_tags :description => @meta_description, :keywords => @meta_keywords %>
  <link rel="canonical" href="<%= @view.href %>" />
<% end %>

<%- is_owner = current_user && @view.owner.id == current_user.id -%>
<%- is_blist = @view.is_blist? %>
<%- can_edit = current_user && @view.can_edit() -%>

<div id='overlay'></div>

<div class="scrollContentColumn <%= @view.is_invalid? ? 'invalidView' : '' %>">
  <div id='lensContainer' class='mainContent'>
    <ul class='tabList'>
      <%- if current_user -%>
      <li class='backLink'><a title='Back to <%= t :blists_name %>'
        href='<%= blists_path() %>'>Back to <%= t :blists_name %></a></li>
      <%- end -%>
      <li class='main even <%= @is_child_view ? '' : 'active' %>'>
        <div class='wrapper'>
          <a class='clipText'
            href='<%= !@parent_view.nil? ? @parent_view.href : '#' %>'
            title='<%= !@parent_view.nil? ? @parent_view.name : '' %>'>
            <%= !@parent_view.nil? ? @parent_view.name :
              'New ' + t(:blist_name) %>
          </a>
          <a href='#closeFilter' class='close' title='Close'>Close</a>
        </div>
      </li>
      <%- if current_user && !@view.is_alt_view? -%>
      <li class='newViewLink'>
        <a href='#newView' title='New View'>New View</a>
      </li>
      <%- end -%>

      <li class='prevTabLink'><a href='#prev_tab' title='Previous View'>
        Previous View
      </a></li>
      <li class='tempViewTab filter inlineEdit'><div class='wrapper'>
        <div class='innerWrapper'>
          <span title='Click to name and save your filtered view'>[Unsaved Filter]</span>
          <%- form_tag(blists_path, :class => 'tempView') do -%>
          <%= text_field_tag("view[name]", '') %>
          <%- end -%>
          <a href='#cancelFilter' class='close' title='Cancel'>Cancel</a>
        </div>
      </div></li>
      <%- if @is_child_view -%>
      <li class='active filter' id='viewId_<%= @view.id %>'>
        <div class='wrapper'>
          <a class='clipText<%= @view.is_calendar? ? " calendar" : "" %>
            <%= @view.is_visualization? ? " visualization" : "" %>'
            href='<%= @view.href %>'
            title='<%= @view.name %>'><%= @view.name %></a>
          <a href='#closeFilter' class='close' title='Close'>Close</a>
        </div>
      </li>
      <%- end -%>
      <li class='nextTabLink'><a href='#next_tab' title='Next View'>
        Next View
      </a></li>
    </ul>

    <div class='outerContent'>
      <div class='content'>
        <div class='headerBar clearfix gridItem'>
          <ul>
            <%# Main menu %>
            <li class='separator mainViewOption'>
            <a href='#main_menu' id='mainMenuLink' class='dropdownLink'>
              <div class='outerWrapper'><div class='midWrapper'>
                  <span class='innerWrapper'>Menu</span>
              </div></div>
            </a>
            <%- menu_options = dataset_menu_lookup(@view) -%>
            <%= render(:partial => "main_menu",
            :locals => {:is_owner => is_owner, :can_edit => can_edit,
            :menu_options => menu_options}) %>
            </li>

            <%# Undo/redo %>
            <%- if can_edit && !@view.is_alt_view? -%>
            <li class='disabled undoItem ungroupedOption'>
              <a href='#Undo' id='undoLink' class='staticLink' title='Undo'>
                <span class='linkIcon'>Undo</span>
              </a>
            </li>
            <li class='noSpacing separator disabled redoItem ungroupedOption'>
              <a href='#Redo' id='redoLink' class='staticLink' title='Redo'>
                <span class='linkIcon'>Redo</span>
              </a>
            </li>
            <%- end -%>

            <%# Table view options %>
            <%- if is_owner && is_blist -%>
            <li class='separator mainViewOption'>
            <a href='#' class='addColumnsLink staticLink'>
                <span class='linkIcon'>Add Column</span>
            </a>
            </li>
            <%- end -%>

            <li class='separator'>
              <a href='#' id='filterLink' class='dropdownLink'>
                <div class='outerWrapper'><div class='midWrapper'>
                    <div class='innerWrapper'>
                      <span class='linkIcon'>Filter, Visualize &amp; More</span>
                  </div></div>
              </div></a>
              <%= render(:partial => "filter_view_menu",
                :locals => {:is_owner => is_owner, :can_edit => can_edit,
                :menu_options => menu_options}) %>
            </li>

            <%- if @view.is_visualization? && is_owner -%>
            <li class='separator'>
              <a rel='modal' href="<%= @view.href %>/visualization?edit=true"
                id='editViz' class='staticLink'>
                <span class='linkIcon'>Edit Visualization</span>
              </a>
            </li>
            <%- end -%>

            <%- if @view.can_edit() && !@view.is_alt_view? -%>
            <li class='separator mainViewSeparator ungroupedOption'>
              <a id='formatLink' class='staticLink' href='#formatMenu'>
                <span class='linkIcon'>Format</span>
              </a>
            </li>
            <%- end -%>

            <li class='mainViewOption'>
              <a href='#' id='shareTopLink' class='dropdownLink'>
                <div class='outerWrapper'><div class='midWrapper'>
                    <div class='innerWrapper'>
                      <span class='linkIcon'>Share &amp; Socialize</span>
                    </div>
                </div></div>
              </a>
              <%= menu_tag({'id' => 'shareTopMenu',
              'class' => 'shareSocialize headerMenu',
              'items' => share_menu_options(@view, menu_options)},
              is_owner, can_edit) %>
            </li>
          </ul>

          <%- if !@view.is_alt_view? -%>
          <form class='search' action='#'>
            <div class='searchContainer'>
              <input type='text' class='textPrompt'
              title='Find in this <%= t(:blist_name) %>'
              value='<%= @view.searchString %>' />
              <div class='actionBox'>
              <div class='clearBox'>
                <a class='clearSearch' title='Clear Search' href='#clear_search'>
                  Clear Search
                </a>
              </div>
              <input type="image" class="submit" name="findSubmit"
                src="/stylesheets/images/content/table_menu/button_find.png" />
              </div>
            </div>
          </form>
          <%- end -%>
        </div>

        <%- if @view.can_edit() && !@view.is_alt_view? -%>
        <div id='formatMenu' class='fixedMenu disabled ungroupedOption'>
          <div class='outerWrapper'>
            <ul class='innerWrapper clearfix'>
              <li class='column'>
                <h6>Text Style</h6>
                <ul class='clearfix'>
                  <li><a href='#format_bold' class='bold toggleButton'
                    title='Bold'>Bold</a></li>
                  <li><a href='#format_underline' class='underline toggleButton'
                    title='Underline'>Underline</a></li>
                  <li><a href='#format_italic' class='italic toggleButton'
                    title='Italic'>Italic</a></li>
                  <li class='separator'><a href='#format_strikethrough'
                    class='strike toggleButton' title='Strike'>Strike</a></li>
                  <li><a href='#format_unorderedList'
                    class='bulletedList toggleButton' title='Bulleted List'>
                    Bulleted List
                  </a></li>
                  <li class='separator'><a href='#format_orderedList'
                    class='numberedList toggleButton' title='Numbered List'>
                    Numbered List
                  </a></li>
                </ul>
              </li>
              <li class='column'>
                <a href='#format_link' class='link toggleButton'>Link</a>
              </li>
              <li class='column'>
                <h6>Font</h6>
                <%= select_tag("format_fontFamily",
                  font_select_options('Arial')) %>
              </li>
              <li class='column'>
                <h6>Size</h6>
                <%= select_tag("format_fontSize",
                  font_size_select_options(12)) %>
              </li>
              <li class='column'>
                <h6>Color</h6>
                <ul class='clearfix'>
                  <li><a href='#format_color' class='color' title='Font Color'>
                    <span class='inner'>Font Color</span>
                  </a></li>
                </ul>
              </li>
              <li class='column'>
                <h6>Align</h6>
                <ul class='clearfix'>
                  <li>
                    <a href='#format_align' class='align'
                      title='Alignment'><span class='inner'>Alignment</span></a>
                    <%= menu_tag({'id' => 'formatAlignMenu', 'items' => [
                                 {'text' => 'Align Left',
                                   'class' => 'leftAlign',
                                   'href' => '#format_justifyLeft'},
                                 {'text' => 'Align Center',
                                   'class' => 'centerAlign',
                                   'href' => '#format_justifyCenter'},
                                 {'text' => 'Align Right',
                                   'class' => 'rightAlign',
                                   'href' => '#format_justifyRight'}]}) %>
                  </li>
                </ul>
              </li>
            </ul>
            <a href='#Close_Format' title='Close' class='close'>Close</a>
          </div>
          <div class='disabledOverlay'></div>
          <div class='disabledText'>
            Formatting is not yet available for this type of column
          </div>
        </div>
        <%- end -%>

        <%- if is_owner && @view.is_blist? -%>
        <div id='addColumnsMenu' class='fixedMenu'>
          <div class='outerWrapper'>
            <ul class='innerWrapper clearfix'>
              <li class='column'>
              <%# Text datatypes %>
                <ul>
                    <li><%= get_add_column("Plain Text", @view.id, "text") %></li>
                    <li><%= get_add_column("Formatted Text", @view.id, "richtext") %></li>
                </ul>
              </li>
              <li class='column'>
              <%# Numeric datatypes %>
                <ul>
                    <li><%= get_add_column("Number", @view.id, "number") %></li>
                    <li><%= get_add_column("Money", @view.id, "money") %></li>
                    <li><%= get_add_column("Percent", @view.id, "percent") %></li>
                    <li><%= get_add_column("Date &amp; Time", @view.id, "date") %></li>
                </ul>
              </li>
              <li class='column'>
              <%# Address datatypes %>
                <ul>
                    <li><%= get_add_column("Phone", @view.id, "phone") %></li>
                    <li><%= get_add_column("Email", @view.id, "email") %></li>
                    <li><%= get_add_column("Website URL", @view.id, "url") %></li>
                </ul>
              </li>
              <li class='column'>
              <%# Chooser/explicit pick options datatypes %>
                <ul>
                    <li><%= get_add_column("Checkbox", @view.id, "checkbox") %></li>
                    <li><%= get_add_column("Star", @view.id, "stars") %></li>
                    <li><%= get_add_column("Flag", @view.id, "flag") %></li>
                </ul>
              </li>
              <li class='column'>
              <%# Blob datatypes %>
                <ul>
                    <li><%= get_add_column("Document", @view.id, "document") %></li>
                    <li><%= get_add_column("Photo (Image)", @view.id, "photo") %></li>
                </ul>
              </li>
              <li class='column last'>
              <%# Complex/join datatypes %>
                <ul>
                  <li><%= get_add_column("Multiple Choice", @view.id, "drop_down_list") %></li>
                  <li><%= get_add_column("Nested Table", @view.id, "nested_table") %></li>
                </ul>
              </li>
            </ul>
            <a href='#Close_Add_Columns' title='Close' class='close'>Close</a>
          </div>
        </div>
        <%- end -%>

        <%- if @view.is_invalid? -%>
        <div class='viewErrorContainer scrollContent'>

          <%- if is_owner -%>
          <div class='viewError'><%= @view.message %></div>
          <ul class='actionButtons clearfix'>
            <%- if @view.message.include? 'group' -%>
            <li><a href='<%= blist_groupings_path(@view.id) %>'
              rel='modal' class='arrowButton'>Edit Grouping</a></li>
            <%- elsif @view.message.include? 'filter' -%>
            <li><a href='<%= blist_filters_path(@view.id) %>'
              rel='modal' class='arrowButton'>Edit Filters</a></li>
            <%- end -%>
          </ul>

          <%- else -%>
          <div class='viewError'>This view is unable to be displayed</div>
          <%- end -%>
        </div>
        <%- end -%>
        <div id='dataGrid' class='scrollContent gridItem'></div>

      </div>
    </div>
  </div>

  <div id='lensMetaContainer'>
    <div id="mainColumnContent" class="column">

      <div id='infoPane' class='metadataPane'>
        <%= render(:partial => "info_for_single",
          :locals => { :view => @view, :page_single => true }) %>
      </div>

      <div id='tempInfoPane' class='metadataPane'>
        <div class="header">
          <ul class="summaryTabs clearfix">
            <li class="summary active">
            <div class="tabOuter"><div class="tabInner">
                <a href="#">Summary</a>
            </div></div>
            </li>
          </ul>
        </div>
        <div class="infoContentOuter singleInfoSummary listContainer active">
          <div class="infoContentHeader clearfix">
            <h2 class="panelHeader clipText inlineEdit editItem typeFilter">
              <div class='itemContent'>
                <span title='Click to name and save your filtered view'>
                  Unsaved Filter
                </span>
                <%- form_tag(blists_path, :class => 'tempView') do -%>
                <%= text_field_tag("view[name]", '') %>
                <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
                <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"),
                blists_path, :title => "Cancel", :class => "formCancelLink") %>
                <%- end -%>
              </div>
              <div class="itemActions">
                <a href="#create_filter"
                  class="action editLink"><span>Create</span></a>
              </div>
            </h2>
          </div>
          <div class='infoContentInner'>
            <div class='infoContentWrapper'></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<% content_for :js_footer do %>
  <div class="jqmWindow" id="columnPropertiesModal"></div>
  <%= render(:partial => "shared/visualization", :locals => { :view => @view }) %>
  <%= render(:partial => "shared/calendar",
    :locals => { :view => @view, :grid_div => "dataGrid" }) %>

  <%- if !current_user -%>
  <%= render :partial => 'login' %>
  <%= render :partial => "signup" %>
  <%- end -%>

  <%= javascript_include_merged 'shared-common-all' %>
  <script type="text/javascript">
    blist.namespace.fetch('blist.blistGrid');
    <%- if !current_user.nil? -%>
    blist.currentUserId = "<%= current_user.id %>";
    <%- end -%>
    blist.blistGrid.secureUrl = "https://<%= request.host %>:<%= SslRequirement.port_for_protocol('https') %>";
    blist.blistGrid.blistId = "<%= @view.tableId %>";
    blist.blistGrid.viewId = "<%= @view.id %>";
    blist.blistGrid.viewName = "<%= @view.name %>";
    blist.blistGrid.isOwner = <%= is_owner.to_s %>;
    blist.blistGrid.canAddColumns = <%= is_owner && is_blist.to_s %>;
    <%- if @is_child_view -%>
    blist.blistGrid.isFilter = true;
    <%- end -%>
    blist.blistGrid.isAltView = <%= @view.is_alt_view?.to_s %>;
    blist.blistGrid.isInvalidView = <%= @view.is_invalid?.to_s %>;
  </script>

  <%= render(:partial => 'shared/table_editor_js') %>
  <%= javascript_include_merged 'blists-show' %>
<% end %>
