<% content_for :head do %>
  <%= stylesheet_link_tag "blist-grid-screen",
    :cache => "cache/all" %>
  <%= javascript_include_tag "util/swfobject",
    :cache => "cache/all" %>
  <title>blist | share your weblists</title>
<% end %>

<div id='overlay'></div>

<div id='lensContainer' class='mainContent'>
  <ul class='tabList'>
    <li class='main active'><div class='wrapper'>
      <a href='#'><%= @lens.name %></a></div></li>
  </ul>

  <div class='outerContent'>
    <div class='content'>
      <div class='headerBar clearfix'>
        <ul>
          <li><a href='#' class='menu'>Menu</a></li>
          <li class='separator'><a href='#' id='undoLink' title='Undo'>Undo</a></li>
          <li><a href='#' id='redoLink' title='Redo'>Redo</a></li>
          <li class='separator'><a href='#'>Add Column</a></li>
          <li class='separator'><a id='filterLink' href='#'>Filter</a></li>
          <li><a href='#'>Sort</a></li>
          <li><a href='#'>Show / Hide</a></li>
          <li class='separator'><a href='#'>View As</a></li>
        </ul>

        <form class='search' action='#'>
          <p>
            <input type='text' class='textPrompt' title='Find' />
            <input type="image" class="submit" name="findSubmit"
              src="/stylesheets/images/content/table_menu/button_find.png" />
          </p>
        </form>
      </div>
      <div id='outerSwfWrapper' class='scrollContent'>
        <div id='swfWrapper'>
          <div id="swfContent">
            <%= swfobject_tag @swf_url,
              :variables => variables_for_swf,
              :flash_version => @minFlashVersion %>
              We're sorry, but blist requires Javascript enabled and
              <a target="_blank" href="http://www.adobe.com/go/getflashplayer">Adobe Flash Player version <%= @minFlashVersion %></a> or higher.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="twoColumnContainer">
  <div id="mainColumnContent" class="column">
    <div id='infoPane'>
      <div class='header'>
        <a href='#' class='active'>Summary</a>
        <div class='background'></div>
      </div>
      <div class='infoContent'>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column">
    <%= render(:partial => "shared/ad_box") %>
  </div>

  <div class='clearBoth'></div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "util/extMouseWheel", "util/flash-interface",
    "screens/blist-grid-screen", :cache => "cache/all" %>
<% end %>
