<% content_for :head do %>
  <%= @view ? auto_discovery_link_tag(:rss, "/views/#{@view.id}/rows.rss?accessType=WEBSITE") : '' %>
  <% bundle :name => "blists_show", :bypass => (ENV["RAILS_ENV"] != 'production') do %>
    <%= stylesheet_link_tag 'table-core', 'table-blist-grid', 'dataset-grid',
      "blist-grid-screen", :cache => "cache/blists_show_all" %>
  <% end %>
  <title><%= @view ? @view.name : 'Design a Dataset' %> | <%= t(:page_title) %></title>
  <%= meta_tags :description => @meta_description, :keywords => @meta_keywords %>
  <%- if @view -%>
    <link rel="canonical" href="<%= @view.href %>" />
  <%- end -%>
<% end %>

<%- is_owner = current_user && @view && @view.owner.id == current_user.id -%>
<%- can_edit = current_user && @view && @view.can_edit() -%>

<div id='overlay'></div>

<div class="scrollContentColumn">
  <div id='lensContainer' class='mainContent tableView'>
    <ul class='tabList'>
      <li class='backLink'><a title='Back to <%= t :blists_name %>'
        href='<%= blists_path() %>'>Back to <%= t :blists_name %></a></li>
      <li class='main even <%= @is_child_view ? '' : 'active' %>'>
        <div class='wrapper'>
          <a class='clipText'
            href='<%= !@parent_view.nil? ? @parent_view.href : '#' %>'
            title='<%= !@parent_view.nil? ? h(@parent_view.name) : '' %>'>
            <%= !@parent_view.nil? ? h(@parent_view.name) :
              'New ' + t(:blist_name) %>
          </a>
        </div>
      </li>
      <%- if current_user -%>
      <li class='newViewLink'>
        <a href='#newView' title='New View'>New View</a>
      </li>
      <%- end -%>

      <li class='prevTabLink'><a href='#prev_tab' title='Previous View'>
        Previous View
      </a></li>
      <%- if @view -%>
      <li class='tempViewTab filter inlineEdit'><div class='wrapper'>
        <div class='innerWrapper'>
          <span title='Click to name and save your filtered view'>[Unsaved Filter]</span>
          <%- form_tag(blists_path, :class => 'tempView') do -%>
          <%= text_field_tag("view[name]", '') %>
          <%- end -%>
        </div>
      </div></li>
      <%- end -%>
      <%- if @is_child_view -%>
      <li class='active filter'><div class='wrapper'>
        <a class='clipText' href='<%= @view.href %>'
          title='<%= h(@view.name) %>'><%= h(@view.name) %></a>
      </div></li>
      <%- end -%>
      <li class='nextTabLink'><a href='#next_tab' title='Next View'>
        Next View
      </a></li>
    </ul>

    <div class='outerContent'>
      <div class='content'>
        <div class='headerBar clearfix'>
          <%- if !@view.nil? -%>
          <ul>
            <%# Main menu %>
            <li class='separator'>
            <a href='#main_menu' id='mainMenuLink' class='dropdownLink'>
              <div class='outerWrapper'><div class='midWrapper'>
                  <span class='innerWrapper'>Menu</span>
              </div></div>
            </a>
            <%= render(:partial => "main_menu",
            :locals => {:is_owner => is_owner, :can_edit => can_edit}) %>
            </li>

            <%- if can_edit -%>
            <li class='readItem separator'><a href='#editGrid' id='editLink' 
              class='staticLink'><span class='linkIcon'>Edit this <%= t(:blist_name) %></span></a></li>
            <%- end -%>

            <%- if can_edit -%>
            <%# Undo/redo %>
            <li class='swfItem'><a href='#Undo' id='undoLink'
              class='flashAction staticLink' title='Undo'><span class='linkIcon'>Undo</span></a></li>
            <li class='swfItem separator'><a href='#Redo' id='redoLink'
              class='flashAction staticLink' title='Redo'><span class='linkIcon'>Redo</span></a></li>
            <%- end -%>

            <%# Table view options %>
            <%- if is_owner -%>
            <li class='separator tableOption swfItem'><a href='#' 
              class='addColumnsLink staticLink'><span class='linkIcon'>Add Column</span></a></li>
            <%- end -%>
            <%- if current_user -%>
            <li class='separator tableOption'>
              <a href='#' id='filterLink' class='dropdownLink'>
                <div class='outerWrapper'><div class='midWrapper'>
                    <div class='innerWrapper'>
                      <span class='linkIcon'>Filter &amp; View</span></div></div>
              </div></a>
              <%= menu_tag({'id' => 'filterViewMenu', 'items' => [
              {'section_title' => 'Build a new view of your data'},
              {'text' => 'Filter Out Rows...', 'class' => 'filter', 'href' => '#'},
              {'text' => 'Sort Columns...', 'class' => 'sort', 'href' => '#'},
              {'text' => 'Show or Hide Columns...', 'class' => 'showHide',
                'href' => '#'}]}) %>
            </li>
            <%- end -%>

            <%# Page view options %>
            <%- if is_owner -%>
            <li class='pageOption'>
              <a class='addColumnsLink staticLink' href='#'><span class='linkIcon'>Add Field</span></a>
            </li>
            <%- end -%>
            <%- if can_edit -%>
            <li class='separator pageOption'><a id='newPageLink'
              class='flashAction staticLink' href='#NewPage'><span class='linkIcon'>New Page</span></a></li>
            <li class='separator pageOption'><a id='defaultLayoutLink'
              class='flashAction staticLink'
              href='#DefaultLayout'><span class='linkIcon'>Default Layout</span></a></li>
            <%- end -%>

            <%# Export/access options %>
            <%- if !@view.nil? -%>
            <li>
              <a id='apiLink' class='staticLink'
                href='/views/<%= @view.id %>/rows.xml?accessType=API'><span class='linkIcon'>API</span></a>
            </li>
            <li class='separator'>
              <a id='rssLink' class='staticLink'
                href='/views/<%= @view.id %>/rows.rss?accessType=WEBSITE'><span class='linkIcon'>RSS</span></a>
            </li>
            <%- end -%>

            <%# Display menu %>
            <%- if current_user -%>
            <li class='separator'>
              <a href='#' id='displayLink' class='dropdownLink'>
                <div class='outerWrapper'><div class='midWrapper'>
                    <div class='innerWrapper'>
                      <span class='linkIcon table'>Display As</span></div></div></div></a>
              <%= menu_tag({'id' => 'displayMenu', 'option_menu' => true,
              'items' => [
              {'text' => 'A table', 'class' => 'table checked', 'href' => '#'},
              {'text' => 'A page', 'class' => 'page', 'href' => '#'}]}) %>
            </li>
            <%- end -%>

            <li>
              <%- 
                tweet = CGI::escape("Check out the #{h(@view.name)} dataset on #{t(:blist_company)} - ")
                seo_path = "#{request.protocol + request.host_with_port + @view.href}"
                short_path = "#{request.protocol + request.host_with_port.gsub(/www\./, '') + @view.short_href}"
              -%>
					    <a href='#' id='shareTopLink' class='dropdownLink'>
					      <div class='outerWrapper'><div class='midWrapper'>
					          <div class='innerWrapper'>
					            <span class='linkIcon'>Socialize This</span></div></div></div></a>
					    <%= menu_tag({'id' => 'shareTopMenu', 'option_menu' => true,
					    'items' => [
					    {'text' => 'Delicious', 'class' => 'delicious', 'href' => "http://del.icio.us/post?url=#{seo_path}&title=#{h(@view.name)}", 'external' => true},
					    {'text' => 'Digg', 'class' => 'digg', 'href' => "http://digg.com/submit?phase=2&url=#{seo_path}&title=#{h(@view.name)}", 'external' => true},
					    {'text' => 'Twitter', 'class' => 'twitter', 'href' => "http://www.twitter.com/home?status=#{tweet + short_path}", 'external' => true},
					    {'text' => 'Facebook', 'class' => 'facebook', 'href' => "http://www.facebook.com/share.php?u=#{h(seo_path)}", 'external' => true}]}) %>
            </li>
          </ul>

          <form class='search' action='#'>
            <div class='searchContainer'>
              <input type='text' class='textPrompt'
              title='Find in this <%= t(:blist_name) %>'
              value='<%= @view.searchString %>' />
              <div class='actionBox'>
              <div class='clearBox'>
                <a class='clearSearch' title='Clear Search' href='#clear_search'>
                  Clear Search
                </a>
              </div>
              <input type="image" class="submit" name="findSubmit"
                src="/stylesheets/images/content/table_menu/button_find.png" />
              </div>
            </div>
          </form>
          <%- end -%>
        </div>

        <%- if is_owner -%>
        <div id='addColumnsMenu' class='fixedMenu'>
          <div class='outerWrapper'>
            <ul class='innerWrapper clearfix'>
              <li class='column'>
              <%# Text datatypes %>
                <ul>
                  <li><a href='#plainText'
                    id='addColumn_plainText'>Plain Text</a></li>
                  <li><a href='#formattedText'
                    id='addColumn_formattedText'>Formatted Text</a></li>
                </ul>
              </li>
              <li class='column'>
              <%# Numeric datatypes %>
                <ul>
                  <li><a href='#number' id='addColumn_number'>Number</a></li>
                  <li><a href='#money' id='addColumn_money'>Money</a></li>
                  <li><a href='#percent' id='addColumn_percent'>Percent</a></li>
                  <li><a href='#dateTime' id='addColumn_dateTime'>Date & Time</a></li>
                </ul>
              </li>
              <li class='column'>
              <%# Address datatypes %>
                <ul>
                  <li><a href='#phone' id='addColumn_phone'>Phone</a></li>
                  <li><a href='#email' id='addColumn_email'>Email</a></li>
                  <li><a href='#url' id='addColumn_url'>Website URL</a></li>
                </ul>
              </li>
              <li class='column narrow'>
              <%# Chooser/explicit pick options datatypes %>
                <ul>
                  <li><a href='#checkbox' id='addColumn_checkbox'>Checkbox</a></li>
                  <li><a href='#stars' id='addColumn_stars'>Star</a></li>
                  <li><a href='#flag' id='addColumn_flag'>Flag</a></li>
                </ul>
              </li>
              <li class='column'>
              <%# Blob datatypes %>
                <ul>
                  <li><a href='#document' id='addColumn_document'>Document</a></li>
                  <li><a href='#photo' id='addColumn_photo'>Photo (Image)</a></li>
                </ul>
              </li>
              <li class='column wide'>
              <%# Complex/join datatypes %>
                <ul>
                  <li><a href='#picklist'
                    id='addColumn_picklist'>Picklist (Drop-down)</a></li>
                  <li><a href='#blist_in_blist'
                    id='addColumn_nested_table'>Nested Table</a></li>
                </ul>
              </li>
              <li class='column narrow last'>
              <%# Existing columns to unhide %>
                <ul>
                  <li><a href='#rowTag'
                    id='addColumn_rowTag'>Row Tag</a></li>
                </ul>
              </li>
            </ul>
            <a href='#Close_Add_Columns' title='Close' class='close'>Close</a>
          </div>
        </div>
        <%- end -%>

        <div id='pageViewHeader'><div class='innerWrapper'></div></div>

        <div id='outerSwfWrapper' class='scrollContent'>
          <div id='readGrid' class='readItem'></div>
          <%- if current_user -%>
          <div id='swfWrapper' class='swfItem'>
            <%= render(:partial => "shared/swf") %>
          </div>
          <%- end -%>
        </div>

        <div id='pageViewFooter'>
          <a href='#FirstPage' id='firstPageLink' class='flashAction'
            title='First Page'>First Page</a>
          <a href='#PrevPage' id='prevPageLink' class='flashAction'
            title='Previous Page'>Previous Page</a>
          <span id='pageInfo'>Page</span>
          <a href='#NextPage' id='nextPageLink' class='flashAction'
            title='Next Page'>Next Page</a>
          <a href='#LastPage' id='lastPageLink' class='flashAction'
            title='Last Page'>Last Page</a>
        </div>

      </div>
    </div>
  </div>

  <div id='lensMetaContainer'>
    <div id="mainColumnContent" class="column">

      <div id='infoPane' class='metadataPane'>
      <%- if !@view.nil? -%>
      <%= render(:partial => "info_for_single",
      :locals => { :view => @view, :page_single => true }) %>
      <%- end -%>
      </div>

      <%- if @view -%>
      <div id='tempInfoPane' class='metadataPane'>
        <div class="header">
          <ul class="summaryTabs clearfix">
            <li class="summary active">
            <div class="tabOuter"><div class="tabInner">
                <a href="#">Summary</a>
            </div></div>
            </li>
          </ul>
        </div>
        <div class="infoContentOuter singleInfoSummary listContainer active">
          <div class="infoContentHeader clearfix">
            <h2 class="panelHeader clipText inlineEdit editItem typeFilter">
              <div class='itemContent'>
                <span title='Click to name and save your filtered view'>
                  Unsaved Filter
                </span>
                <%- form_tag(blists_path, :class => 'tempView') do -%>
                <%= text_field_tag("view[name]", '') %>
                <%= image_submit_tag("submit_button_mini.png", :title => "Edit") %>
                <%= link_to(image_tag("cancel_button_mini.png", :alt => "Cancel"),
                blists_path, :title => "Cancel", :class => "formCancelLink") %>
                <%- end -%>
              </div>
              <div class="itemActions">
                <a href="#create_filter"
                  class="action editLink"><span>Create</span></a>
              </div>
            </h2>
          </div>
          <div class='infoContentInner'>
            <div class='infoContentWrapper'></div>
          </div>
        </div>
      </div>
      <%- end -%>

    </div>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/visualization", :locals => { :view => @view }) %>

  <%- if !current_user -%>
  <%= render(:partial => 'user_sessions/login', :locals => {:is_modal => true}) %>
  <%= render(:partial => "accounts/signup", :locals => {:is_modal => true}) %>
  <%= javascript_include_tag "plugins/ajaxupload.3.0", "screens/signup-screen", 
    :cache => "cache/inline_accounts_new_all" %>
  <%- end -%>

  <%= render(:partial => "shared/common_js") %>
  <script type="text/javascript">
    blist.namespace.fetch('blist.blistGrid');
    <%- if !current_user.nil? -%>
    blist.currentUserId = "<%= current_user.id %>";
    <%- end -%>
    blist.blistGrid.referer = "<%= request.referer %>";
    <%- if @new_dataset -%>
    blist.blistGrid.newDataset = true;
    <%- end -%>
    <%- if !@view.nil? -%>
    blist.blistGrid.blistId = "<%= @view.tableId %>";
    blist.blistGrid.viewId = "<%= @view.id %>";
    blist.blistGrid.viewName = "<%= h(@view.name) %>";
    <%- if @is_child_view -%>
    blist.blistGrid.isFilter = true;
    <%- end -%>
    <%- end -%>
  </script>
  <%= javascript_include_tag "plugins/jquery.cookies.2.0.1.min",
    "plugins/ui.core", "plugins/ui.draggable",
    "util/extMouseWheel", "util/flash-interface", "util/navigation",
    "util/inline-login", "util/swfobject", "data/types", "data/model",
    "data/table", "widgets/inline-edit", "widgets/dropdown-menu",
    "widgets/selectable-list", "widgets/pagination",
    "widgets/info-pane-comments", "widgets/scrollable", "widgets/dataset-grid",
    "widgets/visualization", "screens/info-pane", "screens/blist-grid-screen",
    :cache => "cache/blists_show_all" %>
<% end %>
