<div data-renderType="fatrow" class="fatRowRenderType navRenderType renderTypeNode fullHeight hide">
  <%-
    # EN-17685 - Make composite render types work with Socrata Viz Table
    #
    # Alternative render types such as the Fat Row, the Page and Visualizations work fine with
    # the Socrata Viz table, but certain functinalities (such as the column headers filter bar
    # here) contradict our effort to consolidate functionality into one single point of access
    # (such as making the filter pane the only place where filtering can be done).
    #
    # We therefore want to not render the fat row filter controls at all if we are using the
    # new Socrata Viz Table grid view.
    if !FeatureFlags.derive(@view, request).enable_nbe_only_grid_view_optimizations
  -%>
    <div class="columnHeaders"></div>
  <%- end -%>
  <div class="rowList"></div>
  <ul class="navigation">
    <%- if !@current_user.nil? && @current_user.has_right?(UserRights::CREATE_DATASETS) &&
        !@view.nil? && @view.has_rights?(ViewRights::UPDATE_VIEW) && !@view.is_snapshotted? -%>
      <li class="edit">
        <a class="button" href="<%= edit_view_rr_path(@view, defaultRender: 'richList') %>">
          <%= t('screens.ds.fatrow.edit_layout') %>
        </a>
      </li>
    <%- end -%>
    <li>
      <a href="#start" title="View first page" class="start button">
        <%= icon_with_aria_text('View first page') %>
      </a>
    </li>
    <li>
      <a href="#previous" title="View previous page" class="previous button">
        <%= icon_with_aria_text('View previous page') %>
      </a>
    </li>
    <li class="page">
      <a href="#page">0</a>
    </li>
    <li>
      <a href="#next" title="View next page" class="next button">
        <%= icon_with_aria_text('View next page') %>
      </a>
    </li>
    <li>
      <a href="#end" title="View last page" class="end button">
        <%= icon_with_aria_text('View last page') %>
      </a>
    </li>
  </ul>
  <div class="templateRow row clearfix"></div>
</div>
