<div class="outerPane">
  <div class="paneOverlay hide"></div>

  <div class="mainTitleBlock">
    <h3 class="title"></h3>
  </div>

  <div class="panes"></div>
</div>

<div class="sidebarPane">
  <div class="subtitleBlock">
    <p class="subtitle"></p>
  </div>

  <div class="readOnlyBlock">
    <p class="readOnlyMessage"></p>
  </div>

  <div class="paneContent">
    <div class="formSection">
      <input type="checkbox" class="sectionSelect" />
      <label class="formHeader">
        <span class="formHeaderIcon"></span>
      </label>
      <div class="sectionDisabledMessage"></div>
      <div class="sectionWarningMessage"></div>
      <div class="sectionContent"></div>
    </div>

    <div class="mainError"></div>

    <div class="required hide"><%= t('core.forms.required_field') %></div>
    <ul class="finishButtons actionButtons clearfix">
      <li></li>
    </ul>
  </div>
</div>

<div class="itemsListBlock">
  <a class="button createBackup hide">
    <%= t('screens.ds.grid_sidebar.backup.button') %>
  </a>
  <div class="itemsContent">
    <div class="controlsBar clearfix">
      <div class="sortMenu menu"></div>
      <div class="showMenu menu"></div>
      <div class="searchWrapper">
        <input type="text" title="<%= t('screens.ds.grid_sidebar.view_list.search') %>" class="viewSearch textPrompt" />
        <a class="clearViewSearch remove" href="#clear">
          <%= icon_with_aria_text('Clear View Search') %>
        </a>
      </div>
    </div>
    <ul class="itemsList"></ul>
    <a href="#More" class="moreLink fullButton">
      <%= icon_with_aria_text('Show More') %>
    </a>
  </div>
  <div class="emptyResult">
    <%= t('screens.ds.grid_sidebar.view_list.no_results') %>
  </div>
</div>

<ul class="viewItemContainer">
  <li class="viewItem">
    <span class="viewIcon">
      <span class="icon"></span>
    </span>
    <a class="nameLink">
      <span class="pubDate"></span>
      <span class="name"></span>
      <span class="aria-not-displayed">Name</span>
    </a>
    <span class="authorLine">
      <%= t('screens.ds.grid_sidebar.view_list.item.updated') %>
      <span class="date"></span>
    </span>
    <span class="description collapsed"></span>
    <a href="#delete" title="<%= t('screens.ds.grid_sidebar.view_list.item.delete') %>" class="remove deleteViewLink">
      <%= icon_with_aria_text('Delete View') %>
    </a>
    <a href="#expand" title="<%= t('screens.ds.grid_sidebar.view_list.item.expand') %>" class="expand downArrow">
      <%= icon_with_aria_text('Expand') %>
    </a>
  </li>
</ul>

<ul class="backupItemContainer">
  <li class="backupItem">
    <a class="backupLink">
      <%= t('screens.ds.grid_sidebar.backup.item_html') %>
    </a>
    <a href="#delete" class="remove deleteBackupLink">
      <%= icon_with_aria_text('Delete Backup') %>
    </a>
  </li>
</ul>
