<% content_for :head do %>
<%= include_stylesheets 'colorpicker' %>
<%= include_stylesheets 'base-control-third-party' %>
<%= rendered_stylesheet_tag 'base-control' %>
<%= rendered_stylesheet_tag 'components' %>
<%= rendered_stylesheet_tag 'configurator' %>
<% end %>

<% if User.current_user %>

<script>
$(function() {
    $.dataContext.load({
//      repeaterView: {type: 'view', viewId: 'yxbb-meff'},
      mainView: {type: 'view', viewId: '5sdc-99x6'}
    });

    $.cf({
        id: 'root-component-test',
        type: 'Container',
        children: [
            {
                type: 'HorizontalContainer',
                children: [
                    {
                        type: 'Text',
                        html: 'Box A'
                    }, {
                        type: 'Text',
                        html: 'Box B',
                        weight: 3
                    }, {
                        type: 'Text',
                        html: 'Box C'
                    }
                ]
            }, {
                type: 'Text',
                html: 'Box D'
            }, {
                type: 'Text',
                html: 'Box E'
            },
//            {
//                type: 'Repeater',
//                contextId: 'repeaterView',
//
//                children: [
//                    {
//                        type: 'Text',
//                        html: 'County <b>{1035}</b> has <b>{1027}%</b> uninsured'
//                    }
//                ]
//            },
          {
            type: 'InlineFilter',
            contextId: 'mainView'
          },
          {
            type: 'LineChart',
            height: 500,
            contextId: 'mainView',
            displayFormat: {
              fixedColumns: [3499],
              legend: 'bottom',
              lineSize: '2',
              pointSize: '3',
              smoothLine: false,
              valueColumns: [
                { color: '#00ff00', tableColumnId: 3501 }
              ]
            }
          }
        ]
    });
});
</script>

<% end %>

<div class="socrata-root" id="root-component-test"></div>

<% content_for :templates do %>
<%= render(:partial => 'templates/grid_sidebar') %>
<% end %>

<% content_for :js_footer do %>
<%= include_javascripts 'configurator' %>
<%= include_javascripts 'shared-editors' %>
<script type="text/javascript">
  blist.assets = {libraries: <%= raw ASSET_MAP.javascripts %>, stylesheets: <%= raw STYLE_MAP.to_json %>};
  blist.namespace.fetch('blist.configuration');
  blist.configuration.development = <%= Rails.env.development? %>;
</script>
<% end %>
