<% content_for :head do %>
<%= include_stylesheets 'colorpicker' %>
<%= include_stylesheets 'base-control-third-party' %>
<%= rendered_stylesheet_tag 'base-control' %>
<%= rendered_stylesheet_tag 'components' %>
<%= rendered_stylesheet_tag 'configurator' %>
<% end %>

<% if User.current_user %>

<script>
$(function() {
    $.cf({
        id: 'root-component-test',
        type: 'Container',
        children: [
            {
                type: 'HorizontalContainer',
                children: [
                    {
                        type: 'Text',
                        html: 'Box A'
                    }, {
                        type: 'Text',
                        html: 'Box B',
                        weight: 3
                    }, {
                        type: 'Text',
                        html: 'Box C'
                    }
                ]
            }, {
                type: 'Text',
                html: 'Box D'
            }, {
                type: 'Text',
                html: 'Box E'
            }, {
                type: 'Repeater',
                viewId: 'yxbb-meff',

                children: [
                    {
                        type: 'Text',
                        html: 'County <b>{1035}</b> has <b>{1027}%</b> uninsured'
                    }
                ]
            }
        ]
    });
});
</script>

<% end %>

<div class="socrata-root" id="root-component-test"></div>

<% content_for :templates do %>
<%= render(:partial => 'templates/grid_sidebar') %>
<% end %>

<% content_for :js_footer do %>
<%= include_javascripts 'configurator' %>
<%= include_javascripts 'shared-editors' %>
<script type="text/javascript">
  blist.assets = {libraries: <%= raw ASSET_MAP.javascripts %>, stylesheets: <%= raw STYLE_MAP.to_json %>};
  blist.namespace.fetch('blist.configuration');
  blist.configuration.development = <%= Rails.env.development? %>;
</script>
<% end %>
