<%- content_for :head do -%>
  <title><%= @title %> | <%= get_site_title %></title>
  <%- @style_packages.each do |pkg| -%>
    <%= rendered_stylesheet_tag pkg %>
  <%- end -%>
  <%-
    # EN-17875 - Make grid view Socrata Viz table respond to OBE/NBE read queries using old query path
    #
    # Note that this must be in the <head> because there is a load order
    # dependency with the Socrata Visualizations I18n module; if the
    # translations are not present on the window when that code bootstraps no
    # translations will be available.
    if enable_2017_grid_view_refresh_for_current_request?
  -%>
    <%= rendered_stylesheet_tag 'socrata-icons' %>
    <%= rendered_stylesheet_tag 'visualizations' %>
    <%= render_socrata_visualizations_translations %>
  <%- end -%>
<%- end -%>

<div id="janus">
  <%= raw @contents %>
</div>

<div id="requestStatus">
</div>

<div id="objectCache">
  <%- @objects.each do |obj| -%>
    <div id="<%= obj['key'] %>"><%= obj['value'] %></div>
  <%- end -%>
</div>

<%- content_for :js_footer do -%>
  <%= include_webpack_bundle 'shared/gridViewSocrataVisualizations' %>
  <%- @script_packages.each do |pkg| -%>
    <%= include_webpack_bundle "open-data/#{pkg}.js" %>
  <%- end -%>
  <script type="text/javascript" src="/asset/js/socket.io?<%= @client_version %>"></script>
  <script type="text/javascript" src="/asset/js/client?<%= @client_version %>"></script>

  <script type="text/javascript">
    blist.configuration.newChartsEnabled = <%= module_enabled?(:new_charts) || true %>;
    blist.configuration.newMapsEnabled = <%= module_enabled?(:new_maps) == true %>;
    blist.configuration.oldChartsForced = <%= module_enabled?(:old_charts) == true %>;
    blist.configuration.govStatTargetToleranceEnabled = <%= module_enabled?(:govstat_target_tolerance) == true %>;
  </script>

  <%# TEMPORARY for using RTM %>
  <script type="text/javascript">
    blist.assets = blist.assets || {stylesheets: <%= raw stylesheet_assets.to_json %>};
  </script>
<%- end -%>

