<div id="site_chrome_activation_flannel" class="flannel flannel-hidden">
  <header class="flannel-header">
    <h1 class="flannel-header-title h5"><%= t('screens.admin.site_chrome.congratulations') %> </h1>
    <button class="btn btn-transparent flannel-header-dismiss" data-flannel-dismiss>
      <span class="icon-close-2"></span>
    </button>
  </header>
  <section class="flannel-content">
    <p>
      <%= t('screens.admin.site_chrome.you_have_activated') %>
    </p>
    <p>
      <%= t('screens.admin.site_chrome.these_features_help') %>
    </p>
    <p>
      <%= t('screens.admin.site_chrome.see_both_features') %>
    </p>
  </section>
  <footer class="flannel-actions">
    <%= link_to('#') do %>
      <button class="btn btn-default btn-xs" data-flannel-dismiss>
        <%= t('screens.admin.site_chrome.cancel') %>
      </button>
    <% end %>
    <%= link_to('#', :onclick => '$("#tab_form_general").submit();') do %>
      <button class="btn btn-primary btn-xs" data-flannel-dismiss>
        <%= t('screens.admin.site_chrome.ok') %>
      </button>
    <% end %>
  </footer>
</div>
