<section class="settings-group list-of-links">
  <%
    title = translations[:menu_links][:title]
    description = translations[:menu_links][:description]
    label_title = translations[:link_title_label]
    label_placeholder = translations[:link_title_placeholder]
    url_title = translations[:url_label]
    url_placeholder = translations[:url_placeholder]
  %>

  <h3><%= title %></h3>
  <p><%= description %></p>

  <div class="link-row">
    <%= label_tag(nil, label_title) %>
    <%= label_tag(nil, url_title) %>
  </div>

  <% links.to_a.each_with_index do |link, i| %>
    <% if i < link_count %>
      <div class="link-row">
        <% key_path = "content[#{content_key}]links[][key]" %>
        <% translated_label_path = "content[locales][en][#{content_key}]links[#{link['key']}]" %>
        <% translated_label = fetch_content([:locales, :en, content_key, :links, link['key']]) %>
        <% url_path = "content[#{content_key}]links[][url]" %>

        <%= hidden_field_tag(key_path, link['key'] || '') %>
        <%= text_field_tag(translated_label_path, translated_label || '', placeholder: label_placeholder) %>
        <%= text_field_tag(url_path, link['url'] || '', placeholder: url_placeholder) %>
      </div>
    <% end %>
  <% end %>
</section>
