<section class="settings-group list-of-links" data-content-key="<%= content_key %>">
  <%
    title = translations[:menu_links][:title]
    description = translations[:menu_links][:description]
    label_title = translations[:link_title_label]
    url_title = translations[:url_label]
    placeholder_text = {
      link_title: translations[:link_title_placeholder],
      url: translations[:url_placeholder]
    }
  %>

  <h3><%= title %></h3>
  <p><%= description %></p>

  <div class="link-row-header">
    <%= label_tag(nil, label_title) %>
    <%= label_tag(nil, url_title) %>
  </div>

  <% present_links(links).each do |link| %>
    <%= link_row_div(content_key, link, placeholder_text) %>
  <% end %>

  <!-- If less than 3 present_links, show empty link rows -->
  <%= empty_link_row_divs(content_key, placeholder_text, present_links(links).length) %>

  <!-- Create a hidden default row that we can clone with JS for the "add a new row" functionality -->
  <%= link_row_div(content_key, nil, placeholder_text, true) %>

  <button class="add-new-link-row" type="button" onclick="addNewLinkRow(this);">
    <span class="icon-add"></span>
    <%= t('screens.admin.site_chrome.add_new_link_row', section: content_key.capitalize) %>
  </button>
</section>
