<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-index-screen' %>
  <%= rendered_stylesheet_tag 'administration-site-chrome' %>
  <title>Editing Site Chrome | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<%= display_standard_flashes %>

<div class="site-chrome">

  <div class="admin-header">
    <div class="header-title">
      <h1><%= t('screens.admin.site_chrome.site_appearance') %></h1>
    </div>

    <%= page_controls %>

  </div>

  <ul class="tabs">
    <% tab_sections.each_with_index do |section, i| %>
      <li class="tab-link" data-tab-id="<%= section %>">
        <%= link_to("#tab=#{section}") do %>
          <%= t("screens.admin.site_chrome.tabs.#{section}.title") %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% tab_sections.each_with_index do |section, i| %>
    <div class="tab-content" data-tab-id="<%= section %>">
      <%= render(
        "site_chrome/tab_content/#{section}",
        :translations => t("screens.admin.site_chrome.tabs.#{section}.fields")
      ) %>
    </div>
  <% end %>

</div>

<%= render_translations LocalePart.screens.admin.site_chrome %>
<%= include_javascripts 'admin-site-chrome' %>
