<%
  site_display_name = @content['general']['site_display_name'] || ''
%>

<script type="text/javascript">
  // TODO - http://sass-lang.com/documentation/file.SASS_REFERENCE.html
</script>

<header id="chrome-header">
  <div class="banner">
    <a class="logo" href="<%= @content['logo']['href'] %>">
      <img src="<%= @content['logo']['src'] %>" alt="<%= @content['logo']['alt'] || site_display_name %>" />
      <span class="site-name"><%= site_display_name %></span>
    </a>

    <nav class="desktop">
      <%= render 'nav_links' %>

      <span class="divider"></span>

      <%= render 'social_links', show_label: false %>

      <a class="btn sign-in-toggle" href="/login">Sign In</a>
    </nav>

    <nav class="mobile">
      <a class="btn menu-toggle" href="#">
        <span class="icon-hamburger"></span>
        Menu
      </a>
    </nav>
  </div>

  <%= render 'mobile_menu' %>

</header>
