<%
  site_name = localized('general.site_name', @locales) || ''
%>

<script type="text/javascript">
  // TODO - http://sass-lang.com/documentation/file.SASS_REFERENCE.html
</script>

<header id="chrome-header">
  <div class="banner">
    <a class="logo" href="<%= @header['logo']['href'] %>">
      <img src="<%= @header['logo']['src'] %>" alt="<%= localized('header.logo_alt', @locales) || site_name %>" />
      <span class="site-name"><%= site_name %></span>
    </a>

    <nav class="desktop">
      <%= render 'nav_links' %>

      <span class="divider"></span>

      <%= render 'social_links', show_label: false %>

      <a class="btn sign-in-toggle" href="/login">Sign In</a>
    </nav>

    <nav class="mobile">
      <a class="btn menu-toggle" href="#">
        <span class="icon-hamburger"></span>
        Menu
      </a>
    </nav>
  </div>

  <%= render 'mobile_menu' %>

</header>
