<%- content_for :head do -%>
  <title>Video Guides | <%= CurrentDomain.strings.site_title %></title>
  <%= rendered_stylesheet_tag 'screen-videos' %>

  <%- if @popup -%>
    <%= rendered_stylesheet_tag 'screen-videos-popup' %>
  <%- end -%>
<%- end -%>

<div class="topLevelVideoContainer"></div>

<div class="contentBox filterBox">
  <h3>Tell me about</h3>
  <ul class="filterCriteria">
    <li><a href="#all" data-filter="all" class="selected">Everything</a></li>
    <li><a href="#maps" data-filter="maps">Maps</a></li>
    <li><a href="#charts" data-filter="charts">Charts</a></li>
    <li><a href="#analyzing" data-filter="analyzing">Analyzing</a></li>
    <li><a href="#sharing" data-filter="sharing">Sharing</a></li>
    <li><a href="#publishing" data-filter="publishing">Publishing</a></li>
  </ul>

  <h3>I am a data</h3>
  <ul class="audienceCriteria">
    <li><a href="#consumer" data-audience="consumer">Consumer</a></li>
    <li><a href="#publisher" data-audience="publisher">Publisher</a></li>
    <li><a href="#all" data-audience="all" class="selected">Everything</a></li>
  </ul>

  <h3>Sort on</h3>
  <ul class="sortCriteria">
    <li><a href="#basics" data-sort="basics" class="selected">Basics First</a></li>
    <li><a href="#alphabetical" data-sort="alphabetical">Alphabetical</a></li>
    <li><a href="#date-added" data-sort="date">Most Recent</a></li>
  </ul>
</div>

<div class="contentBox withLeftNavigation videoListBox">
  <h1>Video Guides</h1>

  <p class="intro">Welcome to <%= CurrentDomain.strings.company %>! We're glad that
    you're excited about open data. To help you get started with our tools, we've
    created a series of videos designed to teach you the basics about interacting
    with this data site. If you have any further questions, feel free to visit our
    <a href="http://support.socrata.com" rel="external">support page</a>.</p>

  <p class="noResultsText">There are no videos in this category just yet. We're working
    on adding more, so check back often.</p>

  <h2 class="relatedVideosHeader">
    Related Videos
    <a href="/videos" rel="external" class="seeMoreLink rightArrow">see more<span class="icon"></span></a>
  </h2>

  <ul class="videoList clearfix">
    <%- VIDEO_LIST.each do |video| -%>
      <li data-id="<%= video['name'] %>" data-type="<%= video['type'] %>"
          data-audience="<%= video['audience'] %>" data-added="<%= video['added'] %>"
          data-wistiaflashvideoid="<%= video['wistia']['flashvideoid'] %>"
          data-wistiahtml5videoid="<%= video['wistia']['html5videoid'] %>"
          data-wistiastillid="<%= video['wistia']['stillid'] %>"
          data-wistiaproductionid="<%= video['wistia']['productionid'] %>">
        <a href="#<%= video['name'] %>">
          <img src="/stylesheets/images/video_thumbnails/<%= video['name'] %>.png" alt="<%= video['title'] %>" />
          <h2><%= video['title'] %></h2>
          <p class="length"><%= video['length'] %></p>
        </a>
      </li>
    <%- end -%>
  </ul>
</div>

<textarea id="embedTemplate"><object width="640" height="360" id="wistia_%productionid%" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.1.swf"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="wmode" value="opaque"/><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/%flashvideoid%.bin&stillUrl=http://embed.wistia.com/deliveries/%stillid%.bin&unbufferedSeek=false&controlsVisibleOnLoad=false&autoPlay=false&endVideoBehavior=default&playButtonVisible=true&embedServiceURL=http://distillery.wistia.com/x&accountKey=wistia-production_4324&mediaID=wistia-production_%productionid%"/><embed src="http://embed.wistia.com/flash/embed_player_v1.1.swf" width="640" height="360" name="wistia_%productionid%" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/%flashvideoid%.bin&stillUrl=http://embed.wistia.com/deliveries/%stillid%.bin&unbufferedSeek=false&controlsVisibleOnLoad=false&autoPlay=false&endVideoBehavior=default&playButtonVisible=true&embedServiceURL=http://distillery.wistia.com/x&accountKey=wistia-production_4324&mediaID=wistia-production_%productionid%"></embed></object><script src="http://embed.wistia.com/embeds/v.js" charset="ISO-8859-1"></script><script>if(!navigator.mimeTypes['application/x-shockwave-flash'])Wistia.VideoEmbed('wistia_%productionid%',640,360,{videoUrl:'http://embed.wistia.com/deliveries/%html5videoid%.bin',stillUrl:'http://embed.wistia.com/deliveries/%stillid%.bin',distilleryUrl:'http://distillery.wistia.com/x',accountKey:'wistia-production_4324',mediaId:'wistia-production_%productionid%'})</script></textarea>

<%- content_for :modals do -%>
  <div class="modalDialog videoPopupModal">
    <a href="#" class="close"><span class="icon"></span></a>
    <div class="videoContainer"></div>
  </div>
<%- end -%>

<%- content_for :js_footer do -%>
  <%- if @popup -%>
    <script type="text/javascript">
      blist.namespace.fetch('blist.videos');
      blist.videos.popupMode = true;
    </script>
  <%- end -%>

  <%= include_javascripts 'screen-videos' %>
<%- end -%>
