<%- content_for :head do -%>
  <title>Video Guides | <%= CurrentDomain.strings.site_title %></title>
  <%= rendered_stylesheet_tag 'screen-videos' %>

  <%- if @popup -%>
    <%= rendered_stylesheet_tag 'screen-videos-popup' %>
  <%- end -%>
<%- end -%>

<div class="topLevelVideoContainer"></div>

<div class="contentBox filterBox">
  <h3>Tell me about</h3>
  <ul class="filterCriteria">
    <li><a href="#all" data-filter="all" class="selected">Everything</a></li>
    <li><a href="#maps" data-filter="maps">Maps</a></li>
    <li><a href="#charts" data-filter="charts">Charts</a></li>
    <li><a href="#analyzing" data-filter="analyzing">Analyzing</a></li>
    <li><a href="#sharing" data-filter="sharing">Sharing</a></li>
    <li><a href="#publishing" data-filter="publishing">Publishing</a></li>
  </ul>

  <h3>I am a data</h3>
  <ul class="audienceCriteria">
    <li><a href="#consumer" data-audience="consumer">Consumer</a></li>
    <li><a href="#publisher" data-audience="publisher">Publisher</a></li>
    <li><a href="#all" data-audience="all" class="selected">Everything</a></li>
  </ul>

  <h3>Sort on</h3>
  <ul class="sortCriteria">
    <li><a href="#basics" data-sort="basics" class="selected">Basics First</a></li>
    <li><a href="#alphabetical" data-sort="alphabetical">Alphabetical</a></li>
    <li><a href="#date-added" data-sort="date">Most Recent</a></li>
  </ul>
</div>

<div class="contentBox withLeftNavigation videoListBox">
  <h1>Video Guides</h1>

  <p class="intro">Welcome to <%= CurrentDomain.strings.company %>! We're glad that
    you're excited about open data. To help you get started with our tools, we've
    created a series of videos designed to teach you the basics about interacting
    with this data site. If you have any further questions, feel free to visit our
    <a href="http://support.socrata.com" rel="external">support page</a>.</p>

  <p class="noResultsText">There are no videos in this category just yet. We're working
    on adding more, so check back often.</p>

  <h2 class="relatedVideosHeader">
    Related Videos
    <a href="<%= videos_path %>" rel="external" class="seeMoreLink rightArrow">see more<span class="icon"></span></a>
  </h2>

  <ul class="videoList clearfix">
    <%- VIDEO_LIST.each do |video| -%>
      <li data-id="<%= video['name'] %>" data-type="<%= video['type'] %>"
          data-audience="<%= video['audience'] %>" data-added="<%= video['added'] %>"
          data-embedid="<%= video['wistia']['embedid'] %>">
        <a href="#<%= video['name'] %>">
          <img src="/stylesheets/images/video_thumbnails/<%= video['name'] %>.png" alt="<%= video['title'] %>" />
          <h2><%= video['title'] %></h2>
          <p class="length"><%= video['length'] %></p>
        </a>
      </li>
    <%- end -%>
  </ul>
</div>

<textarea id="embedTemplate"><script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_embed wistia_async_%embedid% autoPlay=true playerColor=274066" style="width:640px;height:360px">&nbsp;</div></textarea>

<%- content_for :modals do -%>
  <%= modal :class => 'videoPopupModal' do %>
    <div class="videoContainer"></div>
  <%- end -%>
<%- end -%>

<%- content_for :js_footer do -%>
  <%- if @popup -%>
    <script type="text/javascript">
      blist.namespace.fetch('blist.videos');
      blist.videos.popupMode = true;
    </script>
  <%- end -%>

  <%= include_javascripts 'screen-videos' %>
<%- end -%>
