<span class='copyright'>&copy; 2009 Blist, Inc. All Rights Reserved</span>
<ul>
  <li><%= link_to('Blog', 'http://blog.blist.com/',
    { :class => 'rss' }) %></li>
  <li><%= link_to('About blist',
    'http://www.blist.com/company-info/about-blist') %></li>
  <li><%= link_to('Developers',
    'http://www.blist.com/developers') %></li>
  <li><a id='versionLink' href='#version'>Version info</a></li>
  <li><%= link_to('Terms of use',
    'http://www.blist.com/help/terms-of-use') %></li>
  <li><%= link_to('Site map', 'http://www.blist.com/site-map') %></li>
  <li><%= link_to('Contact us', 'http://www.blist.com/contact-us') %></li>
</ul>