<%- prefix = 'screens.stats' -%>
<div class="metricsSummaryItem">
  <div class="summaryContainer">
    <div class="summaryInnerContent">
      <p class="summaryTitle"></p>
      <div class="dynamicContent"></div>
    </div>
  </div>
</div>

<div class="metricsSummaryData">
  <div class="deltaBox">
    <span class="icon"></span>
    <span class="deltaValue"></span>
  </div>
  <div class="totalValue"></div>
</div>

<div class="metricsSimpleSummaryData">
  <div class="totalValue"></div>
</div>


<div class="metricsDetailData">
    <div class="deltaBox">
        <span class="icon"></span>
        <span class="deltaValue"></span>
    </div>
  <div class="totalValue"></div>
</div>


<div class="metricsCharts">
  <div class="chartContainer">
    <select class="sliceDepth" id="sliceDepth">
      <%= options_for_select(['hourly', 'daily', 'weekly', 'monthly'].
        map { |slice| [ t("screens.stats.#{slice}"), slice.capitalize ] }) %>
    </select>
    <div class="chartMenu menu"></div>
    <div class="chartArea">
      <div class="chartContent"></div>
      <div class="flash notice message noDataNotice">
        <h3><%= t("#{prefix}.time_period_unavailable") %></h3>
      </div>
      <div class="flash notice message emptyHint">
        <h3><%= t("#{prefix}.select_chart_type") %></h3>
      </div>
    </div>
  </div>
</div>

<div class="metricsTopList">
  <div class="metricsTopContainer">
    <h2 class="sectionTitle"></h2>
    <div class="flash notice message noDataNotice">
      <h3><%= t("#{prefix}.no_data_time_period") %></h3>
    </div>
    <table class="gridList metricsList" cellspacing="0">
      <colgroup>
        <col class="description" />
        <col class="value" />
      </colgroup>
      <thead>
        <tr>
          <th class="description" scope="col">
            <span class="icon"></span>
            <div><%= t("#{prefix}.name") %></div>
          </th>
          <th class="value" scope="col">
            <span class="icon"></span>
            <span class="valueHeading"></span>
          </th>
        </tr>
      </thead>
    </table>
    <div class="showMore">
      <a class="showMoreLink" href="#More"><%= t("#{prefix}.show_more") %></a>
      <span class="icon"></span>
    </div>
  </div>
</div>

<table class="metricsTopItem">
  <tr class="item">
    <td class="description">
      <div class="primary">
        <img class="thumbnail" alt="thumbnail" />
        <span class="titleText primaryValue"></span>
        <a href="#" class="titleLink" rel="external"></a>
      </div>
      <div class="subLinksContainer subContainer">
        <div class="subLinks subItemBox">
          <a href="#" class="subLink" rel="external"></a>
        </div>
      </div>
    </td>
    <td class="value">
      <div class="primary"></div>
      <span class="primaryValue"></span>
      <div class="subValuesContainer subContainer">
        <div class="subValues subItemBox">
          <span class="subValue"></span>
        </div>
      </div>
    </td>
  </tr>
</table>
