<ul class='tabList'>
  <li class='home even'><div class='wrapper'>
    <%= link_to 'Home', home_path %>
  </div></li>
  <li class='blists'><div class='wrapper'>
    <%= link_to t(:blists_name).titleize, blists_path %>
  </div></li>
  <li class='contacts even'><div class='wrapper'>
    <%= link_to 'Friends', contacts_path %>
  </div></li>
  <li class='profile'><div class='wrapper'>
    <%= link_to "Profile", current_user.href %>
  </div></li>
<%- module! :comment_moderation do -%>
  <li class='approval even'><div class='wrapper'>
      <%= link_to 'Approvals', approval_path %>
  </div></li>
<%- end -%>
<%- upsell do -%>
  <li class='approval even'><div class='wrapper'>
      <%= link_to 'Approvals', '/popup/premium', :rel => "modal" %>
  </div></li>
<%- end -%>
</ul>
