<% content_for :head do %>
  <%= stylesheet_link_tag "error-screen" %>
  <title><%= CurrentDomain.strings.site_title %></title>
<% end %>

<% dialog_content("errorBox") do %>
  <div class='header'>
    <h1><%=CurrentDomain.strings.company%></h1>
  </div>

  <div class='mainContent'>
    <div class='title clearfix'><h2>Error</h2></div>

    <%= display_standard_flashes %>
  </div>
<% end %>

<% content_for :js_footer do %>
  <%= javascript_include_merged 'shared-common-all' %>
<% end %>
