<% content_for :head do %>
  <%= stylesheet_link_tag "error-screen" %>
  <title><%= t(:page_title) %></title>
<% end %>

<% dialog_content("errorBox") do %>
  <div class='header'>
    <h1><%=th.company%></h1>
  </div>

  <div class='mainContent'>
    <div class='title clearfix'><h2>Error</h2></div>

    <%= display_standard_flashes %>
  </div>
<% end %>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
<% end %>
