<div id='picklistManager' class='<%= local_assigns[:classes] %> reorderList'>
  <div class='activeListWrapper'>
    <ul class='activeList'>
      <%- pl_values = [{'value' => 'foo'}] -%>
      <%- count = 0 -%>
      <%- pl_values.each do |p| -%>
      <li><div class='itemWrapper'>
        <span class='orderIndex'><%= count + 1 %></span>
        <input type='text' name='plValue-<%= count %>' class='plValue'
        value='<%= p['value'] %>' />
        <div class='controls'>
          <a href='#remove' class='remove' title='Remove Value'>Remove Value</a>
        </div>
        <input type='text' value='<%= count %>' class='orderField' />
      </div></li>
      <%- count += 1 -%>
      <%- end -%>
    </ul>
  </div>
  <ul class='templateList'>
    <li class='templateNode'><div class='itemWrapper'>
      <span class='orderIndex'></span>
      <input type='text' name='plValue-' class='plValue' value='' />
      <div class='controls'>
        <a href='#remove' class='remove' title='Remove Value'>Remove Value</a>
      </div>
      <input type='text' value='' class='orderField' />
    </div></li>
  </ul>
  <div class='defaultMessage'>Add picklist values below</div>
  <div class='newValueWrapper'>
    <input type='text' name='newValue' class='textPrompt plValue newValue'
    title='Enter a picklist value' />
    <input type='submit' class='newValueSubmit' value='Add Value' />
  </div>
</div>

<script type="text/javascript" charset="utf-8">
var picklistManagerSetup = function()
{
  var setUpList = function()
  {
    if ($('#picklistManager .activeList li').length > 0)
    {
      $('#picklistManager').reorderableList({enableInactiveList: false});
      $('#picklistManager .defaultMessage').hide();
    }
    else
    {
      $('#picklistManager .defaultMessage').show();
    }
  };

  var removeValue = function(event)
  {
    event.preventDefault();
    $(event.target).closest('li').remove();

    var $sorted = $($('#picklistManager .activeList li').get().sort(function(a, b)
    { return $(a).find('.orderField').val() - $(b).find('.orderField').val(); }));

    $sorted.each(function (i)
    {
      $(this).find('.orderIndex').text(i + 1).end()
        .find('.orderField').val(i).end()
        .appendTo($('#picklistManager .activeList'));
    });
    setUpList();
  };

  var plGuid = <%= count %>;
  var addNewValue = function()
  {
    var $newText = $('#picklistManager input.newValue');
    if ($newText.val() === '') { return; }
    var newOrder = $('#picklistManager ul.activeList li').length;
    $('#picklistManager .templateNode').clone(true).removeClass('templateNode')
      .find('.orderIndex').text(newOrder + 1).end()
      .find('.orderField').val(newOrder).end()
      .find('input.plValue').attr('name', 'plValue-' + plGuid++)
        .val($newText.val()).end()
      .appendTo('#picklistManager ul.activeList');
    $newText.val('').focus();
    setUpList();
  };

  var inputKeyDown = function(event)
  {
    if (event.keyCode == 13)
    {
      event.preventDefault();
      if ($(event.target).is('.newValue'))
      {
        addNewValue();
      }
    }
  };

  var submitClick = function(event)
  {
    event.preventDefault();
    addNewValue();
  };

  setUpList();
  $('#picklistManager .remove').click(removeValue);
  $('#picklistManager input').keydown(inputKeyDown);
  $('#picklistManager :submit').click(submitClick);
};
</script>
