<% content_for :headline do %>
<script>
var column = <%= @column.to_js %>;
</script>

<h1 id="title"><span class="columnPropertiesIcon">Create a New Column</span></h1>
<% end %>

<div class="columnPropertiesWrapper">
  <% form_tag "#", :id => "columnCreate" do %>
      <div>
        <table cellspacing="0">
          <tbody>
            <tr>
              <td colspan="2"><h3 class="seperator">Column Details</h3></td>
            </tr>
            <tr>
              <td class="labelColumn"><label for="name" class="required">Column Name:</label></td>
              <td class="fieldColumn"><%= text_field_tag("name", @column.name, 
                                                         :class => "textPrompt prompt",
                                                         :title => "Enter a name",
                                                         :id => "name") %></td>
            </tr>
            <tr>
              <td class="labelColumn"><label for="description">Column Description:</label></td>
              <td class="fieldColumn"><%= text_area_tag("description", @column.description, 
                                                        :class => "textPrompt prompt", 
                                                        :title => "Enter a description",
                                                        :id => "description") %></td>
            </tr>
            <tr>
              <td colspan="2"><h3 class="seperator">Type of Column</h3></td>
            </tr>
            <tr>
              <td class="labelColumn"><label for="type">Type:</label></td>
              <td class="fieldColumn">
                <div class="blist-combo-wrapper lr_justified format_date_view">
                  <div id="types" class="types"></div>
                </div>
              </td>
            </tr>
          <tbody>
        </table>
        </div>
  <% end %>
      <div class="createBar">
        <div class="error errorMessage"></div>
        <h3 class="seperator"></h3>
        <div class="required">Required Field</div> 
        <a href="#" class="save"><%= image_tag("button_save.png", :alt => "Save") %></a>
      </div>
</div>

<script type="text/javascript" charset="utf-8">
blist.common.modalReady = function() {
  // Since these widgets are created live, we have to populate the default
  // text prompt values manually instead of relying on the plugin.
  $("#modal .textPrompt").example(function () { return $(this).attr("title"); });

  var renderValueInfoFormatRow = function(value)
  {
      var $row = $(this);
      var $span_value = $('<span class="typeSelect datatype-' + value.id + '"></span>').html(value.label);
      $row.empty().append($span_value);
  };

  var typeValues = [
      {id: "text", label: "Plain Text"},
      {id: "richtext", label: "Formatted Text"},
      {id: "number", label: "Number"},
      {id: "money", label: "Money"},
      {id: "percent", label: "Percent"},
      {id: "date", label: "Date & Time"},
      {id: "phone", label: "Phone"},
      {id: "email", label: "Email"},
      {id: "url", label: "Website URL"},
      {id: "checkbox", label: "Checkbox"},
      {id: "stars", label: "Star"},
      {id: "flag", label: "Flag"},
      {id: "document", label: "Document"},
      {id: "photo", label: "Photo (Image)"}
  ];
  <%- if @parent.nil? -%>
  typeValues.push({id: "nested_table", label: "Nested Table"});
  <%- end -%>

  column.type = "<%= @type.nil? ? "text" : @type %>";

  $("#modal #types").combo({
    name: "types",
    values: typeValues, 
    value: column.type, 
    renderFn: renderValueInfoFormatRow
  });

  var formEnabled = true;
  var toggleEnabled = function()
  {
    $("#modal .columnPropertiesWrapper :input").attr("disabled", formEnabled);
    formEnabled = !formEnabled;
  }

  $("#modal #name").change(function() { column.name = $(this).val() });
  $("#modal #description").change(function() { column.description = $(this).val() });
  $("#modal #types").change(function() { column.type = $(this).value() });

  $("#modal #columnCreate").submit( function() {
    $("#modal .save").click();
    return false;
  });

  $("#modal .save").click(function(event)
  {
      event.preventDefault();
      if (!formEnabled) { return false; }
      toggleEnabled();

      $.ajax({
        type: "POST",
        url: '<%= blist_columns_url(@view_id) %><%= @parent.nil? ? '' : "?parent=#{@parent}" %>',
        cache: false,
        dataType: 'json',
        data: {
          json: $.json.serialize(column), 
          authenticity_token: "<%= form_authenticity_token %>"
          },
        error: function(request) { 
            $("#modal .error").html($.json.deserialize(request.responseText).error).show() 
            toggleEnabled();
        },
        success: function(responseData) { 
            $grid = $("#dataGrid");
            if ($grid.length != 0)
            {
              $("#dataGrid").blistModel().updateColumn(responseData, <%= @parent.nil? ? 'null' : @parent %>);
            }
            $(document).trigger(blist.events.COLUMNS_CHANGED, [responseData.id]);
            $.Tache.DeleteAll();
            $("#modal .jqmClose").click();
        }
      });
  });

  $('#columnCreate input#name').focus();
};
</script>
