<% content_for :headline do %>
<script>
$(".dialogBL").addClass("dialogBLgray");

blist.namespace.fetch('blist.columns.properties');
var column = blist.columns.properties.column = <%= @column.to_js %>;
</script>

<h1 id="title"><%= h(@column.name) %></h1>
<% end %>

<div class="columnPropertiesWrapper">
  <div id="loadingSpinner"></div>
  <% form_tag "#" do %>
    <div class="tabWrapper">
      <div class="tabs">
        <ul class="tabSelector">
          <li><a id="general" href="#" class="selected">General</a></li>
          <% if @column.has_formatting? %>
              <li><a id="formatting" href="#">Formatting</a></li>
          <% end %> 
          <% if @column.has_totals? %>
              <li><a id="totals" href="#">Column Totals</a></li>
          <% end %>
          <%- #<li><a id="defaults" href="#">Default Values</a></li> %>
        </ul>
      </div>

      <%- # Default values tab %>
      <%-
        ' 
        <div id="defaultsTab" class="tabContent">
          <h3>Apply a Default Cell Value</h3>
          <h4 class="subtitle seperator">What you enter here will appear by default in every cell for this column</h4>
        </div>
        '
      -%>

      <%- # Column totals tab %>
      <%- if @column.has_totals? %>
      <div id="totalsTab" class="tabContent">
        <h3>Column Total Options</h3>
        <h4 class="subtitle seperator">Totals will appear at the bottom of the column while in table display mode</h4>
      </div>
      <% end %>

      <%- # Formatting tab %>
      <%- if @column.has_formatting? %>
      <div id="formattingTab" class="tabContent">
        <h3 class="seperator">Alignment Options</h3>
        <ul class="alignment">
          <li><p>Justify:</p></li>
          <li>
            <%= radio_button("column", "alignment", "left", :checked => @column.alignment == "left") %>
            <label for="column_alignment_left">Left</label>
          </li>
          <li>
            <%= radio_button("column", "alignment", "center", :checked => @column.alignment == "center") %>
            <label for="column_alignment_center">Centered</label>
          </li>
          <li>
            <%= radio_button("column", "alignment", "right", :checked => @column.alignment == "right") %>
            <label for="column_alignment_right">Right</label>
          </li>
        </ul>
      </div>
      <%- end %>

      <%- # General properties tab %>
      <div id="generalTab" class="tabContent">
        <table cellspacing="0">
          <tbody>
            <tr>
              <td colspan="2"><h3 class="seperator">Column Details</h3></td>
            </tr>
            <tr>
              <td class="labelColumn"><label for="name" class="required">Column Name:</label></td>
              <td class="fieldColumn"><%= text_field_tag("name", @column.name, :id => "name") %></td>
            </tr>
            <tr>
              <td class="labelColumn"><label for="description">Column Description:</label></td>
              <td class="fieldColumn"><%= text_area_tag("description", @column.description, 
                                                        :class => "textPrompt" + (@column.description.blank? ? " prompt": ""), 
                                                        :title => "Enter a description.",
                                                        :id => "description") %></td>
            </tr>
            <tr>
              <td colspan="2"><h3 class="seperator">Type of Column</h3></td>
            </tr>
            <tr>
              <td class="labelColumn"><label for="type">Type:</label></td>
              <td class="fieldColumn middle">
                <strong><%= Column.types[@column.client_type] %></strong>
                <% if @column.convertable_types.size > 0 %>
                  <a id="converter" class="convertDropdown" href="#">Change</a>
                <% end %>
              </td>
            </tr>
            <tr>
                <td class="labelColumn"></td>
                <td class="fieldColumn">
                    <div id="convertables">
                      <ul class="convertables">
                        <% @column.convertable_types.each do |type| %>
                          <li>
                            <a id="<%=type%>" class="convert convert-<%=type%>" href="#">
                              <%= Column.types[type] %>
                            </a>
                          </li>
                        <% end %> 
                      </ul>
                    </div>
                </td>
            </tr>
          <tbody>
        </table>
      </div>
        <div class="saveBar">
            <div id="error" class="errorMessage"></div>
          <h3 class="seperator"></h3>
          <div class="controlBar">
            <div class="required">Required Field</div> 
            <a href="#" id="save"><%= image_tag("button_save.png", :alt => "Save") %></a>
          </div>
        </div>
    </div>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
$(function()
{
  $("#loadingSpinner").hide();
  $("#error").hide();
  $("#convertables").hide();

  var loading = function()
  {
    $("#loadingSpinner").css("left", 150 + $("#generalTab").width() / 2);
    $("#loadingSpinner").show();
  }

  var formEnabled = true;
  var toggleEnabled = function()
  {
    $(".columnPropertiesWrapper :input").attr("disabled", formEnabled);
    formEnabled = !formEnabled;
  }

  // Since these widgets are created live, we have to populate the default
  // text prompt values manually instead of relying on the plugin.
  $(".textPrompt").example(function () { return $(this).attr("title"); });

  var selectTab = function(which) 
  {
    $("#generalTab").hide();
    $("#formattingTab").hide();
    $("#totalsTab").hide();
    $("#defaultsTab").hide();

    $("#" + which + "Tab").show();
  };

  // Select tabs on hover.
  $("ul.tabSelector > li > a").hover(function() {
    if (!formEnabled) { return false; }
    $("ul.tabSelector > li > a").removeClass("selected");
    $(this).addClass("selected");
    selectTab(this.id);
  });

  // Default the selected tab to "general"
  selectTab("general");

  <% if !@column.is_nested_table %>
    $("#formattingTab").columnFormat(column);
    $("#totalsTab").columnTotals(column);
  <% end %>
  

  // Keep the column model up to date so we don't have to read from the form to
  // update the properties.
  $("#name").change(function() { column.name = $(this).val() });
  $("#description").change(function() { column.description = $(this).val() });
  $("#column_alignment_left,#column_alignment_center,#column_alignment_right").change(function() { column.alignment = $(this).val() });
  $("#precision").change(function() { column.decimalPlaces = $(this).val() });
  $("#ui-spinner-precision > .ui-spinner-button").click(function() { column.decimalPlaces = $("#precision").val() });

  var converting = false;
  $("a.convert").click(function() { 
    if (converting) return false;
    converting = true;
    $("a.convert").addClass("light");
    $(this).removeClass("light");
    loading();

    $.ajax({
      type: "POST",
      url: '<%= @column.convert_href(@view_id) %>&type=' + $(this).attr('id'), 
      cache: false, 
      dataType: 'json',
      contentType: "application/json",
      error: function(request) {
        $("#error").html($.json.deserialize(request.responseText).message).show();
      },
      success: function (responseData) {
        $(".jqmClose").click();
        $("#readGrid").blistModel().convertColumn(<%= @column.id %>, responseData);
      }
    });
  });

  $("#converter").click(function() {
      toggleEnabled();
      $("#convertables").toggle();
      return false;
  });

  $("#save").click(function() {
      if (!formEnabled)
      {
        return false;
      }

      $.ajax({
        type: "PUT",
        url: '<%= @column.href(@view_id)%>',
        cache: false,
        data: {
          json: $.json.serialize(column), 
          authenticity_token: "<%= form_authenticity_token %>"
          },
        dataType: 'json',
        error: function(request) { 
            $("#error").html($.json.deserialize(request.responseText).error).show() 
        },
        success: function(responseData) { 
            blist.util.flashInterface.columnPropertiesUpdated(responseData.id);
            $grid = $("#readGrid");
            if ($grid.length != 0)
            {
                $("#readGrid").blistModel().updateColumn(responseData);
            }
            $(document).trigger(blist.events.COLUMNS_CHANGED, [<%= @column.id %>]);
            $.Tache.DeleteAll();
            $(".jqmClose").click();
        }
      });
  });
});
</script>
