<div class="publishWarningWrapper <%= (view.is_public? || view.is_shared?) ? 'hide' : '' %>">
  <div class="publishWarning">
    <h2>Warning</h2>
    <p>
    This <%= view.is_blist? ? t(:blist_name).downcase : 'view' %> is
    currently private.  Private <%= view.is_blist? ? t(:blist_name).downcase.pluralize : 'views' %>
    cannot be viewed in the Social Data Player.  Please
    set the privacy to public or shared before publishing.
    </p>
  </div>
</div>
<div class="publishContent <%= view.is_private? ? 'hide' : '' %>">
  <p>
  You can publish this <%= t(:blist_name).downcase %> and its views on your blog or
  website by embedding it in a Social Data Player.  You can do so by simply copying and pasting
  the below HTML into your site.
  </p>
  <div class="publishCode">
    <h5>Embed this <%= view.is_blist? ? t(:blist_name).downcase : 'view' %> as a Social Data Player:</h5>
    <div class="copyCode">
      <%= text_area_tag("publishCode") %>
      <%= hidden_field_tag("publishCodeTemplate", get_publish_embed_code_for_view(view,
          {:dimensions => { :width => "#width#",  :height => "#height#" }},
          (customization_id.empty? ? CurrentDomain.default_widget_customization_id : customization_id ),
          cur_id)) %>
    </div>
    <div class="sizeOptions">
      <div class="field">
        <label for="publishWidth">Width</label>
        <%= text_field_tag("publishWidth", "500") %>
        <span class='postfix'>px</span>
      </div>
      <div class="field">
        <label for="publishHeight">Height</label>
        <%= text_field_tag("publishHeight", "425") %>
        <span class='postfix'>px</span>
      </div>
      <ul class="actionButtons">
        <li><a id="previewWidgetLink"
          href="/widgets_preview/<%= view.id %>"
          class="noInterstitial arrowButton">See Preview</a></li>
      </ul>
      <div id="sizeError" class="hide">
        The player must be at least 500 pixels wide by 425 pixels tall.
      </div>
    </div>
  </div>
</div>
