<div class="externalLinkDisplay clearfix <%= @view.display.display_type %>">
  <p class="info">
  <%- if @view.display.type == 'href' && @view.has_importable_type? -%>
  <%= t 'screens.blob.download' %> 
  <%- elsif @view.display.type == 'href' || @view.display.display_type == 'link' -%>
  <%= t 'screens.blob.data_extraction' %> 
  <%- else -%>
  <%= t 'screens.blob.limited_download' %> 
  <%- end -%>
  </p>
  <div class="downloadBox">
    <%- if @view.display.type == 'href' || @view.display.display_type == 'link' -%>
      <h5><%= t 'screens.blob.external_link' %></h5>
    <%- else -%>
      <h5><%= t 'screens.blob.download' %></h5>
    <%- end -%>
    <ul>
      <%- @view.blobs.each do |b| -%>
      <li><a class="button" href="<%= metric_redirect_path(:type => b['type'], :id => @view.id) %>" target="_blank">
        <%- s = b['size'].is_a?(Numeric) ?
        number_to_human_size(b['size'], :locale => :en) : b['size'] -%>
        <%- if !b['name'].blank? -%>
        <%= b['name'] %> (<%= b['type'] %> <%= s %>)
        <%- else -%>
        <%= b['type'] %> <%= s %>
        <%- end -%>
      </a></li>
      <%- end -%>
    </ul>
  </div>
</div>

<%- if @view.display.display_type == 'image' -%>
<div class="displayArea image fullHeight">
<img src="<%= @view.blobs[0]['href'] %>" alt="<%= @view.name %>" />
</div>

<%- elsif @view.display.display_type == 'google_viewer' -%>
<%- blob_location = URI.escape(request.protocol + request.host_with_port +
  @view.blobs[0]['href']) -%>
<div class="displayArea fullHeight">
<noscript>
    <p>Javascript is required to run the document viewer inside your browser.</p>
    <p>To download this file instead, <%= link_to 'click here', blob_location,
      :target => '_blank' %>.</p>
</noscript>
<script type="text/javascript">
    $(function()
    {
        blist.renderTypes = blist.renderTypes || {};
        blist.renderTypes.blob = { href: "<%= blob_location %>" };
    });
</script>
</div>

<%- else -%>
<div id="aboutSection">
  <%= render :partial => 'datasets/about_dataset', :locals => {:full_page => true} %>
</div>
<%- end -%>
