<%- id = 'form_field_' + column.id.to_s -%>
<%- case column.client_type
  when 'checkbox' -%>
<div class='fieldContainer checkboxInput'>
  <input type='checkbox' id='<%= id %>' name='<%= column.id %>:bool' />
</div>

<%- when 'date' -%>
<div class='fieldContainer dateInput'>
  <select class='monthInput' name='<%= column.id %>:month'>
    <option value=''></option>
    <%- 12.times do |i| -%>
    <option value='<%= i + 1 %>'><%= Date::ABBR_MONTHNAMES[i+1] %></option>
    <%- end -%>
  </select>
  <input class='dayInput' maxlength='2' min='1' max='31'
    name='<%= column.id %>:day' />
  <input class='yearInput' maxlength='4' name='<%= column.id %>:year' />
  <input class='hourInput' maxlength='2' min='1' max='12'
    name='<%= column.id %>:hour' />
  <span class='hourSplit'>:</span>
  <input class='minuteInput' maxlength='2' min='0' max='59'
    name='<%= column.id %>:minute' />
  <select class='ampmInput' name='<%= column.id %>:pm'>
    <option value=''>AM</option>
    <option value='1'>PM</option>
  </select>
</div>

<%- when 'document', 'photo' -%>
<input type='file' id='<%= id %>' name='<%= column.id %>' />

<%- when 'flag' -%>
<select class='fieldInput' id='<%= id %>' name='<%= column.id %>'>
  <option value=''>(Blank)</option>
  <option value='red'>Red</option>
  <option value='blue'>Blue</option>
  <option value='green'>Green</option>
  <option value='yellow'>Yellow</option>
  <option value='orange'>Orange</option>
  <option value='purple'>Purple</option>
</select>

<%- when 'phone' -%>
<div class='fieldContainer phoneInput'>
  <input type='text' id='<%= id %>' name='<%= column.id %>:phone_number' />
  <select id='<%= id + '_phone_type' %>' name='<%= column.id %>:phone_type'>
    <option value=''>(Blank)</option>
    <option value='Home'>Home</option>
    <option value='Cell'>Cell</option>
    <option value='Work'>Work</option>
    <option value='Fax'>Fax</option>
    <option value='Other'>Other</option>
  </select>
</div>

<%- when 'picklist', 'drop_down_list' -%>
<select class='fieldInput' id='<%= id %>' name='<%= column.id %>'>
  <option value=''>(Blank)</option>
  <%- column.dropDown.values.each do |dd| -%>
  <%- next if dd['deleted'] -%>
  <option value='<%= dd['id'] %>'><%= dd['description'] %></option>
  <%- end -%>
</select>

<%- when 'stars' -%>
<select class='fieldInput' id='<%= id %>' name='<%= column.id %>'>
  <option value=''>(Blank)</option>
  <%- range = column.range || 5 -%>
  <%- range.times do |i| -%>
  <option value='<%= i + 1 %>'><%= i + 1 %></option>
  <%- end -%>
</select>

<%- when 'url' -%>
<div class='fieldContainer urlInput'>
  <label for='<%= id + '_url' %>'>URL</label>
  <input type='text' id='<%= id + '_url' %>' name='<%= column.id %>:url' />
  <label for='<%= id + '_description' %>'>Description</label>
  <input type='text' id='<%= id + '_description' %>'
    name='<%= column.id %>:description' />
</div>

<%- else -%>
<input type='text' class='fieldInput' id='<%= id %>' name='<%= column.id %>' />

<%- end -%>
