<form class='formView socrataForm' method='POST'
  <%- form_columns = @view.columns.select {|c| c.form_enabled?} -%>
  <%- if form_columns.any? {|c| c.client_type == 'document' ||
    c.client_type == 'photo'} -%>
  enctype='multipart/form-data'
  <%- end -%>
  action='<%= local_assigns[:prefix] || '' %>/views/<%= @view.id %>/rows.html'>
  <%- form_columns.each do |c| -%>
  <div class='line clearfix <%= c.client_type %>'>
    <label for='form_field_<%= c.id %>'><%= c.name %></label>
    <%= render(:partial => 'displays/form_field', :locals => {:column => c}) %>
  </div>
  <%- end -%>
  <div class='submitLine'>
    <input type='submit' />
  </div>
  <%- if local_assigns[:show_powered_tag] -%>
  <a href="http://www.socrata.com/" class='poweredLink'
    target="_blank">Powered by Socrata</a>
  <%- end -%>
</form>
