<%= content_for :head do %>
  <title><%= I18n.t('approvals.settings.title') %> | <%= get_site_title %></title>
<%- end %>

<% content_for :breadcrumb do %>
  <%= t('approvals.header.breadcrumbs.approvals') %>
<% end %>

<div class="approvals_settings">
  <%= form_tag("/admin/approvals/settings/#{params[:id]}", :method => 'POST') do %>
    <div class="actions">
      <div class="change_settings">
        <button type="button" class="btn btn-sm btn-primary btn-dark">
          Edit
        </button>
      </div>
      <div class="form_buttons" style="display: none;">
        <button type="submit" class="btn btn-sm btn-primary btn-dark">
          <span class="btn-title"><%= t('save', scope: 'approvals.settings') %></span>
          <span class="spinner-default spinner-btn-primary hidden"></span>
        </button>
        <button type="button" class="cancel btn btn-sm">
          <span class="btn-title"><%= t('cancel', scope: 'approvals.settings') %></span>
          <span class="spinner-default spinner-btn-secondary hidden"></span>
        </button>
      </div>
    </div>

    <section>
      <div class="introduction">
        <p class="first_paragraph">
          Set the approval process for how assets get published on this site. You can set all assets to be approved or rejected automatically, or require manual approval.
        </p>
        <p class="second_paragraph">Only approved assets display on your site's Data Catalog.</p>
      </div>


      <div class="official_assets settings_group">
        <div class="configuration_title">
          <h6>
            Official asset settings
            <span class="socrata-icon-official2" />
          </h6>
          <p>Assets published by roled users (publishers, designers, etc.)...</p>
        </div>
        <div class="configuration_options">
          <ul>
            <li class="<%= @approval_workflow.steps.first.official_task.approve? && 'selected' %>">
              <%= radio_button_tag('official_approval_strategy', 'automatic', @approval_workflow.steps.first.official_task.approve?, :disabled => true) %>
              <label class="radio_label" for="official_approval_strategy_automatic">Is automatically approved and appears in the data catalog</label>
            </li>
            <li class="<%= @approval_workflow.steps.first.official_task.manual? && 'selected' %>">
              <%= radio_button_tag('official_approval_strategy', 'manual', @approval_workflow.steps.first.official_task.manual?, :disabled => true) %>
              <label class="radio_label" for="official_approval_strategy_manual">Requires manual approval to appear in the data catalog</label>
            </li>
          </ul>
        </div>
      </div>

      <div class="community_assets settings_group">
        <div class="configuration_title">
          <h6>
            Community asset settings
            <span class="socrata-icon-community" />
          </h6>
          <p>Content published on this site by the public...</p>
        </div>
        <div class="configuration_options">
          <ul>
            <li class="<%= @approval_workflow.steps.first.community_task.approve? && 'selected' %>">
              <%= radio_button_tag('community_approval_strategy', 'automatic', @approval_workflow.steps.first.community_task.approve?, :disabled => true) %>
              <label class="radio_label" for="community_approval_strategy_automatic">Is automatically approved and appears in the data catalog</label>
            </li>
            <li class="<%= @approval_workflow.steps.first.community_task.manual? && 'selected' %>">
              <%= radio_button_tag('community_approval_strategy', 'manual', @approval_workflow.steps.first.community_task.manual?, :disabled => true) %>
              <label class="radio_label" for="community_approval_strategy_manual">Requires manual approval to appear in the data catalog</label>
            </li>
            <li class="<%= @approval_workflow.steps.first.community_task.reject? && 'selected' %>">
              <%= radio_button_tag('community_approval_strategy', 'reject', @approval_workflow.steps.first.community_task.reject?, :disabled => true) %>
              <label class="radio_label" for="community_approval_strategy_reject">Is automatically rejected and does not appear in the data catalog</label>
            </li>
          </ul>

          <div class="learn_more">
            <span class="socrata-icon-question" />
            <a href="/learn_more_community_cntent">
              Learn more about Community content
            </a>
          </div>
        </div>
      </div>

      <div class="settings_group">
        <div class="configuration_title">
          <h6>
            Re-approval
          </h6>
        </div>
        <div class="configuration_options">
          <ul>
            <li class="<%= @approval_workflow.manual? && 'selected' %>">
              <%= check_box_tag('reapproval_strategy', 'manual', @approval_workflow.manual?, :disabled => true, :class => 'embiggen') %>
              <label class="checkbox_label" for="reapproval_strategy">Working copies of approved assets require re-approval to appear in the data catalog</label>
            </li>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="settings_group">
      <div class="configuration_title">
        <h6>
          Approvers
        </h6>
      </div>
      <div class="approver_list">
        <div class="subtext">The following people on this site can approve assets:</div>
        <% @approvers.each do |approver| %>
          <div>
            <span class="full_name"><%= approver.displayName %></span>
            <span class="email_address"><%= approver.email %></span>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <a href="/admin/users">Go to User Settings</a>
    </div>
  </section>
</div>

<% content_for :scripts do %>
  <script>
    $(document).ready(function() {
      $('.change_settings > button').on('click', function(event) {
        $('.change_settings').hide();
        $('.form_buttons').show();
        $('input').attr('disabled', false);
      });
      $('.form_buttons button').on('click', function(event) {
        $(event.target).parent('button').addClass('btn-busy');
      });
      $('.form_buttons button.cancel').on('click', function(event) {
        document.location.href = '/admin/approvals';
      });
      $('.approvals_settings input').on('change', function(event) {
        $(event.target).closest('ul').children('li').removeClass('selected');
        if (event.target.checked) {
          $(event.target).parent('li').addClass('selected');
        }
      });
    });
  </script>
<% end %>
