<% auth_action ||= "sign_in" %>
<% return_url ||= rpx_return_login_url %>

<p><strong class="rpxPrompt"><%= t("core.account.rpx.prompt.#{auth_action}") %></strong></p>
<p><%= t('core.account.rpx.description') %></p>

<div class="thirdPartyLinks">
  <%- RpxController.auth_providers.each do |provider| -%>
    <%- action_url = "#{provider[:rpx_url]}?token_url=#{return_url}" -%>
    <%= form_tag action_url, :method => 'post' do %>
      <%- if provider[:openid_identifier] -%>
        <%= hidden_field_tag :openid_identifier, provider[:openid_identifier] %>
      <%- end -%>
      <%- if params[:no_js].present? -%>
        <%= submit_tag t("core.account.rpx.providers.#{provider[:id]}.#{auth_action}_html"), :class => 'button simpleLoginButton' %>
      <%- else -%>
        <a class="authProvider tall button <%= provider[:name].downcase +
          (provider[:class].present? ? " #{provider[:class]}" : '') %>"
          href="<%= provider[:href].present? ? action_url : '#Login' %>">
          <span class="iconContainer">
            <span class="icon"></span>
          </span>
          <span class="description" data-providerid="<%= provider[:id] %>"><%= t("core.account.rpx.providers.#{provider[:id]}.#{auth_action}_html") %></strong>
          </span>
        </a>
      <%- end -%>
    <% end -%>
  <%- end -%>
</div>

<script type="text/javascript">
  $(function()
  {
      $('.thirdPartyLinks .authProvider:not(.openid)').click(function(event)
      {
          event.preventDefault();
          $(this).closest('form').submit();
      });
  });
</script>
