<% content_for :head do %>
  <%= stylesheet_link_tag "ui.tabs", "signup-screen", "form-common", "login-rpx-screen" %>
  <title><%= th.site_title %></title>
<% end %>

<% dialog_content('rpx-choose', "signupBox") do %>
  <div class='header'>
    <h1><%= th.company %></h1>
  </div>

  <div class="mainContent">
    <h1>Third-Party Account Association</h1>
    <p class="chooseMessage">You just signed in with credentials from a third party.
    Unfortunately, we don't have a record of that account yet. You can either create
    a new account or link these credentials to an existing <%= th.company %>
    account.</p>

    <div id="tabs">
      <ul>
        <li><a href="#signup">Sign up for a new <%= th.company %> Account</a></li>
        <li><a href="#loginTab">Link with an existing <%= th.company %> ID</a></li>
      </ul>

      <p class="clearfix"/>
      <div id="signup">
        <%= render :partial => "accounts/signup_form" %>
      </div>

      <div id="loginTab">
        <p>After signing in, your 3rd-party credentials will be associated with this
        account.</p>
        <%= render(:partial => 'user_sessions/login') %>
      </div>
    </div>
  </div>
<% end %>


<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "plugins/ui.core", "plugins/ui.tabs", "plugins/effects.core", "screens/signup-screen", :cache => "cache/accounts_new_all" %>
<% end %>
