<% content_for :head do %>
  <%= stylesheet_link_tag "signup-screen", "form-common", "login-rpx-screen" %>
  <title>Create or Link Account | <%= th.site_title %></title>
<% end %>

<% dialog_content('rpx-choose', "signupBox") do %>
  <div class='header'>
    <h1><%= th.company %></h1>
  </div>

  <div class="mainContent">
    <h1>Almost Ready</h1>
    <p class="chooseMessage">
    Before using these credentials, you must create a <%= th.company %> account
    or link it to an existing <%= th.company %> ID. </p>

    <div id="accordion">
      <% content_tag :h2, :class => (flash[:notice_login] ? 'ui-state-default' : 'ui-state-active')  do %>
        <a href="#signup">Sign up for a New <%= th.company %> Account</a>
      <% end %>

      <% if flash[:notice_login] %>
        <div style="display: none;">
      <% else %>
        <div>
      <% end %>

        <% form_for :signup, @signup, :url => rpx_signup_path, :html => {:id => 'signupForm', :multipart => true} do |f| %>
          <%= render :partial => "accounts/signup_form_data", :locals => { :f => f, :hide_password => true } %>
        <% end %>
      </div>

      <h3>&mdash;OR&mdash;</h3>

      <% content_tag :h2, :class => (flash[:notice_login] ? 'ui-state-active' : 'ui-state-default')  do %>
        <a href="#login">Link to an Existing <%= th.company %> ID</a>
      <% end %>

      <% if flash[:notice_login] %>
        <div>
      <% else %>
        <div style="display: none;">
      <% end %>

        <%= render(:partial => 'login') %>
      </div>
    </div>
  </div>
<% end %>


<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "plugins/ui.core", "screens/signup-screen", :cache => "cache/rpx_return_login_all" %>
  <script>
    $(document).ready(function() {
      $('#accordion h2').click(function() {
        $('#accordion > div').slideToggle('normal');
        $('#accordion h2').toggleClass('ui-state-active').toggleClass('ui-state-default');
      });
    });
  </script>
<% end %>
