<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-login' %>
  <title>Create or Link Account | <%= CurrentDomain.strings.site_title %></title>
<% end %>


<div class="modalContentBox narrow rpxReturnMod siteContent">
  <div class="contentHeader">
    <h1>Almost Ready</h1>
  </div>
  <div class="contentBoxInner rpxReturnLogin clearfix">
    <div class="loginSignupForm firstColumn column">
      <%= display_standard_flashes %>
      <div class="flash notice">
        Before using these credentials, you must
        <%= link_to "create a #{MASTER_DOMAIN_PREFS['strings.company']} account", '#create', :class => 'signUpLink' %>
          or
        <%= link_to "link it to an existing #{MASTER_DOMAIN_PREFS['strings.company']} ID", '#login', :class => 'signInLink'%>.
      </div>
      
      <div id="accordion">
        <div class="signupForm"<%= raw('style="display: none;"') if flash[:notice_login]%>>
          <div class="authProvider socrata">
            <span class="iconContainer">
              <span class="icon"></span>
            </span>
            <span class="description">
              Sign up for a new
              <strong><%= MASTER_DOMAIN_PREFS['strings.company'] %> ID</strong>
            </span>
            <p class="loginTips">
              <%= raw MASTER_DOMAIN_PREFS['strings.login_tips'] %>
            </p>
          </div>

          <%= form_for @signup, :url => rpx_signup_path,
            :html => {:id => 'signupForm', :multipart => true} do |f| %>
            <%= render :partial => 'accounts/signup_form_data',
              :locals => { :f => f, :hide_password => true } %>
          <% end %>
        </div>

        <div class="loginForm"<%= raw('style="display: none;"') unless flash[:notice_login]%>>
          <%= render(:partial => 'login') %>
        </div>
      </div>
    </div>
  </div>
</div>



<% content_for :js_footer do %>
  <%= include_javascripts 'screen-login-signup' %>
<% end %>

