<% content_for :head do %>
  <%= rendered_stylesheet_tag 'styleguide' %>
<% end %>

<%#
  Inline style on this for now since I don't want to pull in a whole stylesheet for three rules
  All the styles for the actual component get pulled in with the webpack bundle via CSS modules
%>
<div id="auth" style="margin-left: auto; margin-right: auto;"></div>

<% @suppress_flashes = true %>
<% translations_for('screens.sign_in', 'screens.sign_up', 'account.common', 'core.validation') %>

<% content_for :js_footer do %>
  <%#
    This translations rendering is usually done in stylguide.html.erb,
    but since we can't actually use that layout yet we have to do it here.
    See EN-18452 and EN-18453
  %>
  <script type="text/javascript">
    window.translations = <%== json_escape(LocaleCache.render_all_translation_keys(@translation_keys).to_json) %>
  </script>

  <%= include_webpack_bundle 'authentication/index.js' %>

  <script type="text/javascript">
    window.authentication('#auth', <%= auth0_component_config_json %>, <%= login %>);
  </script>
<%- end -%>
