<%#
  Inline style on this for now since I don't want to pull in a whole stylesheet for three rules
  All the styles for the actual component get pulled in with the webpack bundle via CSS modules
%>
<div id="signin" style="margin-left: auto; margin-right: auto;"></div>

<% content_for :translations do %>
  <%= render_translations LocalePart.screens.sign_in %>
  <%= render_translations LocalePart.screens.sign_up %>
  <%= render_translations LocalePart.core.validation %>
  <%= render_translations LocalePart.account.common %>
<%- end -%>

<% content_for :js_footer do %>
  <%= include_webpack_bundle 'signin/main.js' %>

  <script type="text/javascript">
    window.auth0Login('#signin', <%= generate_auth0_options %>, <%= login %>);
  </script>
<%- end -%>
