<div class="loginForm <% unless FeatureFlags.derive(@view, request).auth0_social %>hideSocial<% end %>">

  <%- unless defined? @flashes_displayed -%>
    <%= display_standard_flashes %>
    <%- @flashes_displayed = true -%>
  <%- end -%>

  <%- if @auth0_connections.present? %>

    <div class="auth0login">
      <p>
        <%- if @auth0_message.present? -%>
          <%== h(@auth0_message).gsub("\n", '<br />') %>
        <%- else -%>
          <%= t('screens.sign_in.auth0_intro') %>
        <%- end -%>
      </p>
      <%- unless FeatureFlags.derive(nil, request).hide_socrata_id %>
        <a class="button" data-connection="socrata.com">
          <span class="iconContainer">
            <img src="/stylesheets/images/common/logo.png">
          </span>
          <%== t('screens.sign_in.sign_in_with', provider: 'Socrata ID') %>
        </a>
        <%- if @auth0_connections.length > 1 %>
          <hr>
        <%- end -%>
      <%- end -%>
      <%- @auth0_connections.each do |connection| %>
        <a class="button" data-connection="<%= connection.connection %>">
          <%- if connection.image %>
          <span class="iconContainer">
            <img src="<%= connection.image %>">
          </span>
          <%- end -%>
          <span class="description">
            <%- if connection[:buttonText].present? -%>
              <%== connection.buttonText %>
            <%- else -%>
              <%== t('screens.sign_in.sign_in_with', provider: connection.name) %>
            <%- end -%>
          </span>
        </a>
      <%- end -%>
    </div>

    <%- if FeatureFlags.derive(nil, request).use_auth0_login_flow %>
      <div class="auth0login" id="auth0login-socrata-id"></div>
    <%- else %>
      <div class="authProvider socrata">
        <p><%=raw t('screens.sign_in.back_to_sign_in_selection') %></p>
        <div class="login-description-container">
          <span class="login-description"><%= t('screens.sign_in.prompt_html') %></span>
          <p class="loginTips"><%= t('screens.sign_in.tips_html') %></p>
        </div>
        <%= form_for(@user_session, :url => user_sessions_path, :as => "user_session")  do |f| %>
          <%= render :partial => 'user_sessions/login_form_data', :locals => {:f => f} %>
        <%- end -%>
      </div>
    <%- end %>

  <%- elsif use_auth0? %>

    <div class="auth0login" id="auth0login"></div>

  <%- else %>

    <div class="authProvider socrata">
      <div class="login-description-container">
        <span class="login-description"><%= t('screens.sign_in.prompt_html') %></span>
        <p class="loginTips"><%= t('screens.sign_in.tips_html') %></p>
      </div>
      <%= form_for(@user_session, :url => user_sessions_path, :as => "user_session")  do |f| %>
        <%= render :partial => 'user_sessions/login_form_data', :locals => {:f => f} %>
      <%- end -%>
    </div>

  <%- end -%>

  <%- if use_auth0? %>
    <% content_for :js_footer do %>

      <script type="text/javascript" src="https://cdn.auth0.com/js/lock-7.14.min.js"></script>
      <script type="text/javascript">
        blist.configuration.auth0 = {
          id: '<%= AUTH0_ID %>',
          uri: '<%= AUTH0_URI %>',
          base_uri: '<%= request.base_url %>'
        };
      </script>

      <%= include_webpack_bundle 'open-data/screen-login-auth0.js' %>

    <% end %>
  <%- end -%>
</div>
