<div class="line clearfix">
  <%= f.label :login, t('account.common.form.email') %>
  <%= f.email_field :login %>
  <%- if !CurrentDomain.strings.login_disclaimer.nil? -%>
    <span class="helpie"
      title="<%= CurrentDomain.strings.login_disclaimer %>">?</span>
  <%- end -%>
</div>

<div class="line clearfix">
  <%= f.label :password, t('account.common.form.password') %>
  <%= f.password_field :password %>
</div>

<input class="fakeSubmit" type="submit" />
<ul class="finishButtons clearfix">
  <li><a href="#login" class="button loginButton"><%= t('screens.sign_in.form.sign_in_button') %></a></li>
  <li id="close_login"><a href="#close_login" class="button close"><%= t('core.dialogs.cancel') %></a></li>
</ul>
