<%- content_for :head do -%>
  <title><%= @title %> | <%= CurrentDomain.strings.site_title %></title>

  <%- @style_packages.each do |pkg| -%>
    <%= rendered_stylesheet_tag pkg %>
  <%- end -%>
<%- end -%>

<%= raw @contents %>

<%- content_for :js_footer do -%>
  <%- @script_packages.each do |pkg| -%>
    <%= include_javascripts pkg %>
  <%- end -%>
<%- end -%>

