<%- content_for :head do -%>
  <title><%= @title %> | <%= CurrentDomain.strings.site_title %></title>

  <%- @style_packages.each do |pkg| -%>
    <%= rendered_stylesheet_tag pkg %>
  <%- end -%>
<%- end -%>

<div id="janus">
  <%= raw @contents %>
</div>

<div id="requestStatus">
</div>

<div id="objectCache">
  <%- @objects.each do |obj| -%>
    <div id="<%= obj['key'] %>"><%= obj['value'] %></div>
  <%- end -%>
</div>

<%- content_for :js_footer do -%>
  <%- @script_packages.each do |pkg| -%>
    <%= include_javascripts pkg %>
  <%- end -%>
  <script type="text/javascript" src="/asset/js/socket.io?<%= @client_version %>"></script>
  <script type="text/javascript" src="/asset/js/client?<%= @client_version %>"></script>

  <script type="text/javascript">
    blist.configuration.newChartsEnabled = <%= module_enabled?(:new_charts) || true %>;
    blist.configuration.newMapsEnabled = <%= module_enabled?(:new_maps) == true %>;
    blist.configuration.oldChartsForced = <%= module_enabled?(:old_charts) == true %>;
    blist.configuration.govStatTargetToleranceEnabled = <%= module_enabled?(:govstat_target_tolerance) == true %>;
    blist.feature_flags = <%= raw CurrentDomain::FeatureFlags.to_json %>;
  </script>

  <%# TEMPORARY for using RTM %>
  <script type="text/javascript">
    blist.assets = blist.assets ||
      {libraries: <%= raw ASSET_MAP.javascripts %>, stylesheets: <%= raw stylesheet_assets.to_json %>};
  </script>
<%- end -%>

