<% content_for :head do %>
  <%= stylesheet_link_tag "import-screen" %>
  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
  <title><%= t(:page_title) %></title>
<% end %>

<div class="dialogBox">
  <div class="header">
    <h1>Upload a file</h1>
  </div>

  <div class="mainContent">
    <% form_tag(import_url, :id => "importForm", :multipart => true) do %>
      <div class="fieldContent clearfix">
        <p class="errorMessage"></p>
        <fieldset class="last">
          <div class="fileInputContainer clearfix">
            <label for="import_file">Choose a file</label>
            <div class="fileInput">
              <div class="fakeFile clearfix">
                <input type="text" name="fileName" />
                <a id="importAction" href="/imports.txt">
                  <%= image_tag("/stylesheets/images/account/button_browse.png", 
                      :size => "72x24", :alt => "Browse", :id => "importButton") %>
                </a>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="footer clearfix">
        <span class="submitButton"><%= link_to("Upload", "#", :class => 'arrowButton', :id => "importSubmit") %></span>
        <%= image_tag("/images/throbber.gif", 
                      :size => "16x16", 
                      :alt => "Importing...", 
                      :id => "throbber",
                      :style => "display: none;") %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "plugins/jquery.json", 
  "plugins/ajaxupload.3.0", "screens/import-screen", 
  :cache => "cache/imports_new_all" %> 
<% end %>
