<div class="contentBox storiesContainer" data-orientation="<%= config.orientation %>"
    data-autoadvance="<%= config.autoAdvance %>">
  <%- if stories.size > 1 -%>
    <div class="storyPagerBackground"></div>
    <div class="storyPager"></div>
  <%- end -%>
  <ul class="storyTexts">
    <%- stories.each do |story| -%>
      <li data-storyid="<%= story.id %>" data-storycustomization="<%= story.raw_customization %>">
        <div class="storyBox">
          <h2><%= raw story.headline %></h2>
          <div class="storyBody"><%= raw story.story %></div>
        </div>
      </li>
    <%- end -%>
  </ul>
  <div class="storyTextbox"></div>
  <%= content_tag(
    'a',
    content_tag('span', 'Story', :class => 'aria-not-displayed'),
    :class => 'storyLink',
    :style => stories.first.customization['link'].present? ? 'display: block' : nil,
    :href => stories.first.customization['link'].presence || '#'
  ) unless stories.empty? %>
  <ul class="storyImages">
    <%- stories.each do |story| -%>
      <%- bg_color = story.customization['backgroundColor'] -%>
      <%- bg_color = ('#' + bg_color) unless bg_color.start_with?('#') -%>
      <li style="background-color: <%= bg_color %>">
        <%- unless story.imageId.blank? -%>
          <img src="/assets/<%= story.imageId %>" alt="<%= story.headline %>" class="storyImage"/>
        <%- end -%>
      </li>
    <%- end -%>
  </ul>
</div>

<%# if you edit this file, remember to edit the fake copy in
      app/views/administration/stories_appearance.html.erb as well!! %>
