<%# locals: view, page_single  %>
<%- 
  expander_class = page_single ? "expander expanded" : "expander" 
-%>
<%- is_owner = current_user && view.owner.id == current_user.id -%>

<div class="header">
  <ul class="summaryTabs clearfix">
  <%- is_first_tab = true -%>
  <%- theme[:meta].reject{ |name, properties| !properties[:show] }.
                   sort{ |a, b| a.last[:order] <=> b.last[:order] }.each do |name, properties| -%>
    <li id="tab<%= name.to_s.titleize %>" class="<%= name %><%= is_first_tab ? ' active' : '' %>">
      <div class="tabOuter"><div class="tabInner">
        <a href="#expand" class="<%= expander_class %>" title="more info">more info</a>
        <a href="#<%= name %>"><%= properties[:display_name] %></a>
      </div></div>
    </li>
  <%- is_first_tab = false -%>
  <%- end -%>
  </ul>
</div>

<%= render( :partial => "blists/meta_tab_summary", 
            :locals => {:view => view, :page_single => page_single, 
                        :allow_edit => false, :in_widget => true }) if theme[:meta][:summary][:show] %>

<%= render( :partial => "blists/meta_tab_comments", 
            :locals => {:view => view, :page_single => page_single, 
                        :allow_commenting => false }) if theme[:meta][:comments][:show] %>