<% content_for :head do %>
  <% bundle :name => "widget_show_top", :bypass => (ENV["RAILS_ENV"] != 'production') do %>
    <%= stylesheet_link_tag 'table-core', 'dataset-grid', 'external-widget',
      :cache => "cache/widgets_show_all" %>
  <% end %>
  
  <%= meta_tags :description => @meta_description, :keywords => @meta_keywords %>
  <%- if @view -%>
    <link rel="canonical" href="<%= @view.href %>" />
  <%- end -%>
  
  <%- if !@variation.blank? -%>
    <%= stylesheet_link_tag @variation + "-widget" %>
  <%- end -%>

  <%- if @view.is_visualization? -%>
    <!--Load the Visualization API-->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <% bundle :name => "visualization_chart", :bypass => (ENV["RAILS_ENV"] != 'production') do %>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1', {'packages':['<%= @view.displayType %>']});
      
      // Set a callback to run when the API is loaded.
      google.setOnLoadCallback(initializeChart); 

      function initializeChart() {
          var query = new google.visualization.Query('/views/<%= @view.id %>/rows.gvds');
          // Send the query with a callback function.
          query.send(handleQueryResponse);
      }

      function handleQueryResponse(response) {
          // Called when the query response is returned.
          if (response.isError()) {
              alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
              return;
          }

          var data = response.getDataTable();
          var chart = new <%= @view.chart_class %>(document.getElementById('data-grid'));
          chart.draw(data, { <%= @view.displayFormat %>} );        
      }

    </script>
    <% end %>
  <%- end -%> 

  <title><%= @view.name %> | <%= t(:page_title) %></title>

<% end %>

    <div id='header'><div class='wrapperTR'><div class='wrapperT clearfix'>
          <%- 
            tweet = CGI::escape("Check out the #{h(@view.name)} dataset on #{t(:blist_company)} - ")
            seo_path = "#{request.protocol + request.host_with_port + @view.href}"
            short_path = "#{request.protocol + request.host_with_port.gsub(/www\./, '') + @view.short_href}"
          -%>
          <a class="menuLink" href="#header-menu" title="Click for more options">Menu</a>
          <%= menu_tag({'class' => 'headerMenu', 'items' => [
          {'text' => 'Socialize this ' + t(:blist_name).capitalize, 'class' => 'share',
          'href' => '#', 'submenu' => { 'option_menu' => true, 'items' => [
            {'text' => 'Delicious', 'class' => 'delicious', 'href' =>
            "http://del.icio.us/post?url=#{seo_path}&title=#{h(@view.name)}", 'external' => true},
            {'text' => 'Digg', 'class' => 'digg', 'href' =>
            "http://digg.com/submit?phase=2&url=#{seo_path}&title=#{h(@view.name)}", 'external' => true},
            {'text' => 'Twitter', 'class' => 'twitter', 'href' => 
            "http://www.twitter.com/home?status=#{tweet + short_path}", 'external' => true},
            {'text' => 'Facebook', 'class' => 'facebook', 'href' =>
            "http://www.facebook.com/share.php?u=#{h(seo_path)}", 'external' => true}
          ]}},
          {'text' => 'Email this ' + t(:blist_name).capitalize + '...', 'class' => 'email',
          'href' => '#email'},
          {'separator' => true},
          {'text' => 'Republish this ' + t(:blist_name).capitalize + '...' , 'class' => 'publish',
          'href' => '#publish'},
          {'separator' => true},
          {'text' => 'Print as PDF', 'class' => 'print', 'external' => true,
          'link_class' => 'noInterstitial', 'href' => '/views/' + @view.id +
          '/rows.pdf?print=true&headers_on_every_page=true'},
          {'text' => 'Download ' + t(:blist_name).capitalize + ' as', 'class' => 'export',
          'href' => '#', 'submenu' => {'class' => 'noicon', 'items' => [
          {'text' => 'Comma Separated Values (.csv)', 'link_class' => 'noInterstitial', 'external' => true,
          'href' => "/views/#{@view.id}/rows.csv?accessType=DOWNLOAD"},
          {'text' => 'Adobe PDF (.pdf)', 'link_class' => 'noInterstitial', 'external' => true,
          'href' => "/views/#{@view.id}/rows.pdf?accessType=DOWNLOAD"},
          {'text' => 'Excel 97 - 2003 Workbook (.xls)', 'link_class' => 'noInterstitial', 'external' => true,
          'href' => "/views/#{@view.id}/rows.xls?accessType=DOWNLOAD"},
          # {'text' => 'Excel Workbook (.xlsx)', 'link_class' => 'noInterstitial',
          # 'external' => true,
          # 'href' => "/views/#{@view.id}/rows.xlsx?accessType=DOWNLOAD"},
          {'text' => 'XML Data (.xml)', 'link_class' => 'noInterstitial', 'external' => true,
          'href' => "/views/#{@view.id}/rows.xml?accessType=DOWNLOAD"},
          {'text' => 'Java Script Object Notation (.json)', 'link_class' => 'noInterstitial',
          'external' => true,
          'href' => "/views/#{@view.id}/rows.json?accessType=DOWNLOAD"}
          ]}},
          {'separator' => true},
          {'text' => 'View Full Screen', 'class' => 'fullscreen',
          'href' => @view.href, 'external' => true},
          {'text' => 'Design a New ' + t(:blist_name).capitalize, 'class' => 'newDataset',
          'href' => blist_href_new_blist, 'external' => true},
          ]}) %>

          <p class="fullScreenButton">
            <a href="<%= @view.href %>" rel="external" title="View Full Screen">View Full Screen</a>
          </p>
          
          <form class='search' action='#'>
            <div class='searchContainer clearfix'>
              <input type='text' class='textInput textPrompt' title='Find Inside' />
              <div class='actionBox'>
                <div class='clearBox'>
                  <a class='clearSearch' title='Clear Search' href='#clear_search'>
                    Clear Search
                  </a>
                </div>
                <%= image_submit_tag('empty.gif', :class => 'submit',
                  :name => 'findSubmit', :title => 'Click to Find') %>
              </div>
            </div>
          </form>
          
    </div></div></div>

    <div class="gridOuter"><div id="data-grid">
      <noscript>
        <h3><a href="<%= @view.href %>"><%= h(@view.name) %></a></h3>
    
        <p><%= h(@view.description) %></p>
    
        <%= @view.html %>
      </noscript>
    </div></div>
    
    <div class="widgetFooterWrapper"><div class="widgetFooterInner clearfix">
      <%- if !@is_gov_widget -%>
        <p class="widgetLogoWrapper"><a href='http://www.socrata.com' rel='external' class='widgetLogo'>
            Socrata Social Data Player
        </a></p>
      
        <p class="getPlayerAction"><a href="http://www.socrata.com" rel="external">Get a Data Player of Your Own</a></p>
      <%- else -%>
        &nbsp;
      <%- end -%>
    </div></div>

    <% dialog_content("emailDialog") do %>
    <div class='header'>
      <h1>Email This <%= t(:blist_name).capitalize %></h1>
    </div>

    <div class="mainContent clearfix">
      <form action="/views/<%= @view.id %>/rows.html?method=email">
        <label for="emailInput">Email This <%= t(:blist_name) %> to:</label>
        <input id="emailInput" name="email" type="text" />
      </form>
      <p class="error"></p>
      <ul class="actionButtons">
        <li><a href="#close" class="jqmClose">Close</a></li>
        <li><a href="#send-email" class="submit arrowButton">Send Email</a></li>
      </ul>
    </div>
    <% end %>

    <% dialog_content("publishDialog") do %>
    <div class='header'>
      <h1>Republish This Dataset</h1>
    </div>

    <div class="mainContent clearfix">
      <p>Copy and paste this HTML code into your blog</p>
      <%= text_area_tag("publishCode", get_publish_embed_code_for_view(@view)) %>
      <ul class="actionButtons">
        <li><a href="#close" class="arrowButton jqmClose">Close</a></li>
      </ul>
    </div>
    <% end %>

    <%- if @is_gov_widget -%>
    <div class='interstitial'>
      <a class='closeLink' href='#close'>Close</a>
      <span class='closeKeyText'>or ESC key</span>
      <h4>You are leaving <span class='serverName'>the current website</span></h4>
      <p>Thank you for visiting our site.</p>
      <div class='exitBox'>
        <p>You will now access</p>
        <a href='#' class='noInterstitial externalLink'></a>
      </div>
      <h4>We hope your visit was informative and enjoyable.</h4>
    </div>
    <%- end -%>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/visualization", :locals => { :view => @view }) %>

  <script type="text/javascript">
    blist.namespace.fetch('blist.widget');
    <%- if !current_user.nil? -%>
    blist.currentUserId = "<%= current_user.id %>";
    <%- end -%>
    blist.widget.viewId = '<%= @view.id %>';
    blist.widget.viewName = '<%= @view.name %>';
  </script>

  <%= javascript_include_tag "plugins/jqModal", "plugins/jquery.example.min",
    "plugins/jquery.json", "plugins/ui.core", "plugins/ui.draggable",
    "util/util", "data/types", "data/model", "data/table", "data/editor",
    "widgets/text-prompt", "widgets/dropdown-menu", "widgets/scrollable",
    "widgets/dataset-grid", "widgets/visualization", "screens/external-widget",
    :cache => "cache/widgets_show_all" %>

  <%- if @is_gov_widget -%>
  <% bundle :name => "gov_widget", :bypass => (ENV["RAILS_ENV"] != 'production') do %>
    <%= javascript_include_tag "screens/gov-widget" %>
  <% end %>
  <%- elsif ENV['RAILS_ENV'] == 'production' -%>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-7633631-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>
  <%- end -%>
<% end %>
