<% content_for :head do %>
  <%= meta_tags :description => @meta_description, :keywords => @meta_keywords %>
  <%- if @view -%>
    <link rel="canonical" href="<%= @view.href %>" />
  <%- end -%>

  <title><%= @view.name %> | <%= CurrentDomain.strings.site_title %></title>

  <%- if @display.can_publish? -%>
  <%= raw @display.render_stylesheet_includes %>
  <%- end -%>

  <link type="text/css" rel="stylesheet" href="/styles/widget/<%= @theme_id %>.css" />
<% end %>

<div class="widgetWrapper">
  <%- if @theme[:frame][:orientation] == 'downwards' -%>
    <%= render :partial => 'widget_header' %>
    <%= render :partial => 'widget_subheader' %>
    <%= render :partial => 'widget_toolbar' %>
  <%- end -%>

  <div class="widgetContent">
    <div class="widgetContentSection widgetContentGrid">
      <%- if @theme[:behavior][:save_public_views] -%>
        <div id='viewHeader' class='clearfix'>
          <a class='datasetLink breadcrumbItem' href='#view_<%= @view.id %>'><%= @view.name %></a>
          <div class='viewName inlineEdit' href='#new_view'>
            <span title='Click to name and save your filtered view'>
              [Unsaved Filter]
            </span>
            <%- form_tag(blists_path) do -%>
            <label for='view_name'>View Name:</label>
            <%= text_field_tag("view[name]", '') %>
            <%- end -%>
          </div>
        </div>
      <%- end -%>
      <div class="gridContainer">
          <div id="data-grid" class='fullHeight'>
            <%- if @view.is_tabular? && @view.display.valid? -%>
              <noscript>
                <h3><a href="<%= @view.href %>"><%= @view.name %></a></h3>

                <p><%= @view.description %></p>

                <%- if @view.can_read? -%>
                  <% cache ['widget-bare-html', @view.id], :expires_in => 1.hour do %>
                    <%= raw @view.html.dup %>
                  <% end %>
                <%- end -%>
              </noscript>
            <%- end -%>

            <%- if @display.can_publish? -%>
              <%= raw @display.render_body(self) %>
              <%= render(:partial => @display.render_partial) %>
            <%- end -%>
          </div>
          <div class='viewErrorContainer content'>
            <%- if current_user.id == @view.owner.id -%>
            <div class='viewError'><%= @view.display.invalid_message %></div>
            <ul class='invalidActions'>
              <li><a href='<%= @view.href %>' rel='external'
                  class='editView button'>Edit View</a></li>
            </ul>
            <%- else -%>
            <div class='viewError'>This view cannot be displayed</div>
            <%- end -%>
          </div>
      </div>
    </div>

    <div class="widgetContentSection widgetContent_views"></div>
    <div class="widgetContentSection widgetContent_downloads"></div>
    <div class="widgetContentSection widgetContent_comments">
      <div class="commentTopLevelActions clearfix">
        <a href="#comment" class="button addCommentButton" title="Leave a comment">Comment</a>
        <div class="starsControl datasetAverageRating"></div>
      </div>
      <div class="commentsWrapper"></div>
      <a href="#more" class="commentsViewMoreLink"></a>
    </div>
    <div class="widgetContentSection widgetContent_embed">
      <%= render :partial => 'datasets/embed_form',
                 :locals => { :view => @view, :cur => params[:cur], :customization_id => @theme_id } %>
    </div>
    <div class="widgetContentSection widgetContent_api">
      <%= render(:partial => 'datasets/api_access') %>
    </div>
    <%- if !@view.is_alt_view? -%>
    <div class="widgetContentSection widgetContent_print">
      <% form_tag("/views/INLINE/rows.pdf", :method => :get,
        :target => "_blank", :class => 'commonForm needsInlineView') do %>
        <%= render :partial => 'datasets/print_form', :locals => { :view => @view } %>
      <% end %>
    </div>
    <%- end -%>
  </div>

  <%- if @theme[:frame][:orientation] == 'upwards' -%>
    <%= render :partial => 'widget_toolbar' %>
    <%= render :partial => 'widget_subheader' %>
    <%= render :partial => 'widget_header' %>
  <%- end -%>
</div>

<div class="actionInterstitial modalDialog">
  <a href="#close" class="jqmClose modalDialogClose">Close</a>
  <h2>Want to <span class="actionPhrase">leave a comment</span>?</h2>
  <p>To <span class="actionPhrase">leave a comment</span>, you will be
     redirected to the <%= CurrentDomain.strings.company %> website where
     you will be prompted to sign in. Would you like to go to <%= CurrentDomain.cname %>?</p>
  <ul class="actions clearfix">
    <li>
      <a class="jqmClose button cancel" href="#cancel"><span class="icon"></span>Cancel</a>
    </li>
    <li>
      <a class="noInterstitial button accept" href="<%= @view.href %>" rel="external">
        <span class="icon"></span>
        Yes
      </a>
    </li>
  </ul>
</div>

<div class="leavingInterstitial modalDialog">
  <a href="#close" class="jqmClose modalDialogClose">Close</a>
  <h2>You are leaving <span class="serverName"><%= CurrentDomain.cname %></span>.</h2>
  <p>Thank you for visiting our site. You will now access</p>
  <div class="leavingLinkWrapper">
    <a class="leavingLink noInterstitial" href="#" rel="external"></a>
  </div>
  <p>We hope your visit was informative and enjoyable.</p>
  <ul class="actions clearfix">
    <li>
      <a class="jqmClose button cancel" href="#cancel"><span class="icon"></span>Cancel</a>
    </li>
    <li>
      <a class="noInterstitial button accept" href="#" rel="external">
        <span class="icon"></span>
        Go now
      </a>
    </li>
  </ul>
</div>

<% content_for :templates do %>
  <%= render :partial => 'filters_table_template' %>
  <%= render :partial => 'datasets/downloads_table_template' %>
  <%= render :partial => 'datasets/comments_template' %>
<% end %>

<% content_for :js_footer do %>
  <script type="text/javascript">
    <%= raw @display.render_inline_setup_js('data-grid', self) %>
    blist.namespace.fetch('blist.widget');
    <%- if !current_user.nil? -%>
      blist.currentUserId = "<%= current_user.id %>";
      blist.isOwner = <%= current_user.id == @view.owner.id ? 'true' : 'false' %>;
    <%- end -%>
    blist.widget.viewId = '<%= @view.id %>';
    blist.widget.view = <%= raw @view.to_json %>;

    blist.widget.theme = <%= raw @theme.to_json %>;
    blist.widget.customizationId = '<%= params[:customization_id] || '' %>';
    blist.widget.isAltView = <%= @view.is_alt_view? ? 'true' : 'false' %>;

    <%- if !@view.is_invalid? && !@view.is_blobby? && @view.can_read? -%>
    <%# Hard-code parameters for initial call here; if the Javascript ever
    changes, these will need to be updated %>
    blist.widget.viewJson = <%= @view.json({'accessType' => 'WIDGET',
        'method' => 'getByIds', 'meta' => true, 'start' => 0, 'length' => 50}) %>;
    <%- end -%>
  </script>

  <%= raw @display.render_javascript_includes(self) %>
  <%- if @view.can_edit? && !@view.is_blobby? -%>
  <%= raw @display.render_edit_javascript_includes(self) %>
  <%- end -%>
  <%= javascript_include_merged 'widgets-show' %>

  <%- unless @theme[:behavior][:ga_code].empty? -%>
    <script type="text/javascript">
    try {
    var pageTracker2 = _gat._getTracker("<%= @theme[:behavior][:ga_code] %>");
    pageTracker2._trackPageview();
    } catch(err) {}</script>
  <%- end -%>
<% end %>
