<% content_for :head do %>
  <%= stylesheet_link_tag 'table-core', 'dataset-grid', 'external-widget', 'info-pane',
    'external-widget-meta', :cache => "cache/widgets_show_all" %>
  
  <%= meta_tags :description => @meta_description, :keywords => @meta_keywords %>
  <%- if @view -%>
    <link rel="canonical" href="<%= @view.href %>" />
  <%- end -%>
  
  <%- unless @is_gov_widget -%>
  <style type="text/css">
  /* font */
    body { font-family: <%= @theme[:style][:font][:face] %>; }

    div.blist-th .info-container { font-size: <%= @theme[:style][:font][:grid_header_size][:value] %><%= @theme[:style][:font][:grid_header_size][:unit] %>; }
    .blist-td { font-size: <%= @theme[:style][:font][:grid_data_size][:value] %><%= @theme[:style][:font][:grid_data_size][:unit] %>; }
  
  /* frame */
    <%- if @theme[:frame][:gradient] -%>
    <%- else -%>
      #header,
      #header .wrapperT,
      #header .wrapperTR,
      .widgetFooterWrapper
      {
          background-color: <%= @theme[:frame][:color] %>;
          background-image: none;
      }
      
      <%- if @theme[:frame][:border] -%>
        #header
        {
            border: 1px solid <%= @theme[:frame][:border] %>;
            border-bottom: none;
        }
      <%- end -%>
      
      .gridInner
      {
          border-color: <%= @theme[:frame][:color] %>;
      }
    <%- end -%>

    <%- if @theme[:frame][:border] -%>
      .gridOuter, .widgetFooterInner
      {
          border-color: <%= @theme[:frame][:border] %>;
      }
    <%- end -%>

    .widgetLogo
    {
      <%- if @theme[:frame][:logo][:type] == 'upload' -%>
        background-image: url(/TODO/uploads/whatever);
      <%- elsif @theme[:frame][:logo][:type] == 'external' -%>
        background-image: url(<%= @theme[:frame][:logo][:type] %>);
      <%- elsif @theme[:frame][:logo][:type] == 'default' -%>
        background-image: url(/stylesheets/images/widgets/socrata_logo_player.png);
      <%- end -%>
    }

  /* grid */

    <%- if !@theme[:grid][:header_icons] -%>
    .blist-th-icon { display: none; }
    <%- end -%>

    .blist-td
    {
        height: <%= @theme[:grid][:row_height][:value] %><%= @theme[:grid][:row_height][:unit] %>;
        line-height: <%= @theme[:grid][:row_height][:value] %><%= @theme[:grid][:row_height][:unit] %>;
    }

    <%- if @theme[:grid][:wrap_header_text] -%>
    .blist-th .info-container
    {
        height: 2.5em; /* 30px or so */
        margin-top: -1.25em;
    }
    .blist-th .name-wrapper { height: 2.5em; }
    div.th-inner-container { white-space: normal; }
    .blist-table-header, .blist-th, .blist-th .dragHandle { height: 4.5em; }
    <%- end -%>

    <%- if @theme[:grid][:zebra] -%>
      .blist-tr-even .blist-td
      {
          background-color: <%= @theme[:grid][:zebra] %>;
      }
    <%- end -%>
  </style>
  <%- end -%>

  <%- if !@theme[:style][:custom_stylesheet].blank? -%>
    <%= stylesheet_link_tag @theme[:style][:custom_stylesheet] + "-widget" %>
  <%- end -%>

  <title><%= @view.name %> | <%= t(:page_title) %></title>

<% end %>

    <div id='header'><div class='wrapperTR'><div class='wrapperT clearfix'>
          <a class="menuLink" href="#header-menu" title="Click for more options">Menu</a>
          <%= render(:partial => "widget_menu", :locals => { :theme => @theme }) %>

          <%- if @theme[:menu][:fullscreen] -%>
          <p class="fullScreenButton">
            <a href="<%= @view.href %>" rel="external" title="View Full Screen">View Full Screen</a>
          </p>
          <%- end -%>
          
          <form class='search' action='#'>
            <div class='searchContainer clearfix'>
              <input type='text' class='textInput textPrompt' title='Find Inside' />
              <div class='actionBox'>
                <div class='clearBox'>
                  <a class='clearSearch' title='Clear Search' href='#clear_search'>
                    Clear Search
                  </a>
                </div>
                <%= image_submit_tag('empty.gif', :class => 'submit',
                  :name => 'findSubmit', :title => 'Click to Find') %>
              </div>
            </div>
          </form>
          
    </div></div></div>

    <div class="gridOuter"><div class="gridInner">
      <%- if (@theme[:behavior][:save_public_views]) -%>
        <div id='viewHeader' class='clearfix'>
          <a class='datasetLink breadcrumbItem'
            href='#view_<%= @view.id %>'><%= h(@view.name) %></a>
          <div class='viewName inlineEdit' href='#new_view'>
            <span title='Click to name and save your filtered view'>
              [Unsaved Filter]
            </span>
            <%- form_tag(blists_path) do -%>
            <%= text_field_tag("view[name]", '') %>
            <%- end -%>
          </div>
        </div>
      <%- end -%>
      
      <div class="gridContainer">
        <div id="data-grid">
          <noscript>
            <h3><a href="<%= @view.href %>"><%= h(@view.name) %></a></h3>
    
            <p><%= h(@view.description) %></p>
    
            <%= @view.html %>
          </noscript>
        </div>
      </div>
      
      <%- if @theme[:meta].any?{ |name, properties| properties[:show] } -%>
        <div id="widgetMeta" class="metadataPane">
          <%- if !@view.nil? -%>
            <%= render(:partial => "widget_meta",
                  :locals => { :view => @view, :page_single => false, :theme => @theme }) %>
          <%- end -%>
        </div>
      <%- end -%>
    </div></div>
    
    <div class="widgetFooterWrapper"><div class="widgetFooterInner">
      <%- if @theme[:frame][:logo][:show] -%>
        <p class="widgetLogoWrapper"><a href='http://www.socrata.com' rel='external' class='widgetLogo'>
            Socrata Social Data Player
        </a></p>
      
        <%- if @theme[:frame][:powered_by] -%>
          <p class="getPlayerAction"><a href="http://www.socrata.com/solution/social-data-player-basic" rel="external">Get a Data Player of Your Own</a></p>
        <%- end -%>
      <%- else -%>
        &nbsp;
      <%- end -%>
      <div class="clearBoth"></div>
    </div></div>

    <% dialog_content("emailDialog") do %>
    <div class='header'>
      <h1>Email This <%= t(:blist_name).capitalize %></h1>
    </div>

    <div class="mainContent clearfix">
      <form action="/views/<%= @view.id %>/rows.html?method=email">
        <label for="emailInput">Email this <%= t(:blist_name) %> to:</label>
        <input id="emailInput" name="email" type="text" />
      </form>
      <p class="error"></p>
      <ul class="actionButtons">
        <li><a href="#close" class="jqmClose">Close</a></li>
        <li><a href="#send-email" class="submit arrowButton">Send Email</a></li>
      </ul>
    </div>
    <% end %>

    <% dialog_content("publishDialog") do %>
    <div class='header'>
      <h1>Republish This Dataset</h1>
    </div>

    <div class="mainContent clearfix">
      <p>Copy and paste this HTML code into your blog</p>
      <%= text_area_tag("publishCode", get_publish_embed_code_for_view(@view)) %>
      <ul class="actionButtons">
        <li><a href="#close" class="arrowButton jqmClose">Close</a></li>
      </ul>
    </div>
    <% end %>

    <%- if @theme[:behavior][:interstitial] -%>
    <div class='interstitial'>
      <a class='closeLink' href='#close'>Close</a>
      <span class='closeKeyText'>or ESC key</span>
      <h4>You are leaving <span class='serverName'>the current website</span></h4>
      <p>Thank you for visiting our site.</p>
      <div class='exitBox'>
        <p>You will now access</p>
        <a href='#' class='noInterstitial externalLink'></a>
      </div>
      <h4>We hope your visit was informative and enjoyable.</h4>
    </div>
    <%- end -%>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/visualization", :locals => { :view => @view, :grid_div => "data-grid" }) %>

  <script type="text/javascript">
    blist.namespace.fetch('blist.widget');
    blist.widget.viewId = '<%= @view.id %>';
    
    blist.widget.theme = <%= JSON.generate( @theme ) %>;
  </script>

  <%= javascript_include_tag "plugins/jqModal", "plugins/jquery.example.min",
    "plugins/jquery.json", "plugins/ui.core", "plugins/ui.draggable",
    "plugins/jquery.tache", "util/navigation", "util/util", "data/types",
    "data/model", "data/table", "data/table_nav",
    "data/editor", "widgets/text-prompt", "widgets/dropdown-menu",
    "widgets/scrollable", "widgets/scrollTabs", "widgets/inline-edit",
    "widgets/dataset-grid", "widgets/info-pane-publish", "widgets/visualization",
    "screens/external-widget", "screens/info-pane", :cache => "cache/widgets_show_all" %>

  <%- if !@is_gov_widget && !APP_CONFIG['google_analytics_id'].blank? -%>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("<%= APP_CONFIG['google_analytics_id'] %>");
  pageTracker._trackPageview();
  } catch(err) {}</script>

    <%- unless @theme[:behavior][:ga_code].empty? -%>
    <script type="text/javascript">
    try {
    var pageTracker2 = _gat._getTracker("<%= @theme[:behavior][:ga_code] %>");
    pageTracker2._trackPageview();
    } catch(err) {}</script>
    <%- end -%>
  <%- end -%>
<% end %>
