<%= render :partial => 'mobile/datasets/mobile_navbar' %>
<div>
  <!-- Dummy content to test scrollability -->
  <%= render :partial => 'mobile/datasets/mobile_meta' %>
  <%= render :partial => 'mobile/datasets/mobile_feature_map' %>
  <%= render :partial => 'mobile/datasets/mobile_timeline_chart' %>
  <%= render :partial => 'mobile/datasets/mobile_column_chart' %>

</div><!-- Upper area -->
