<%- if details.is_a? Array -%>
  <%- details.each do |field| -%>
    <%- case field.type -%>
    <%- when 'title' -%>
      <%= content_tag((field.tagType || 'h2'), h(widget.view.name)) %>
    <%- when 'description' -%>
      <p class="description"><%= widget.view.description %></p>
    <%- when 'link' -%>
      <%= link_to (field.text.html_safe || widget.view.name), widget.view.href, :class => 'viewLink' %>
    <%- when 'tags' -%>
      <div class="tags">
        <%= field.text || 'Tags:' %>
        <%- if widget.view.tags.is_a? Array -%>
          <%= widget.view.tags.map{ |tag| link_to tag, { :controller => 'browse',
              :action => 'show', :tag => tag } }.join(field.separator || ', ') %>
        <%- else -%>
          (none)
        <%- end -%>
      </div>
    <%- when 'static' -%>
      <%= content_tag((field.tagType || 'p'), field.text.html_safe) %>
    <%- end -%>
  <%- end -%>
<%- end -%>
