<%- if widget.view -%>
  <div id="<%= widget.elem_id %>" class="<%= widget.properties.classNames.join(' ') %>"<%= raw " data-viewfiltergroup=\"#{widget.properties.viewFilterGroup}\"" unless widget.properties.viewFilterGroup.nil? %>>
    <%= render :partial => 'view_preview_details',
               :locals => { widget: widget, details: widget.properties.metadata.above } %>
    <div class="viewPreviewContainer">
      <div class="loadingSpinnerContainer hide"><div class="loadingSpinner"></div></div>
    </div>
    <%= render :partial => 'view_preview_details',
               :locals => { widget: widget, details: widget.properties.metadata.below } %>
  </div>

  <%- needs_view_js(widget.view.id, widget.view) -%>

  <%- content_for :js_footer do -%>
    <%- allow_once do -%>
      <script type="text/javascript">
        blist.assets = blist.assets ||
          {libraries: <%= raw ASSET_MAP.javascripts %>, stylesheets: <%= raw stylesheet_assets.to_json %>};
        blist.namespace.fetch('blist.configuration');
        blist.configuration.development = <%= Rails.env.development? %>;
      </script>
      <%= include_webpack_bundle 'open-data/render-view-minimum.js' %>
    <%- end -%>

    <%- if widget.view.visible_display_types.include? 'table' -%>
      <%- allow_once do -%>
        <%- content_for :head do -%>
          <%= rendered_stylesheet_tag 'grid' %>
        <%- end -%>
      <%- end -%>
    <%- end -%>

    <script type="text/javascript">
      // activator for viewPreview widget <%= widget.elem_id %>
      $(function()
      {
          var targetSelector = "#<%= widget.elem_id %>";
          Dataset.createFromViewId('<%= widget.view.id %>', function(view)
          {
              var $container = $(targetSelector);

              $container.data('viewPreview-dataset', view);

              var spinner = $container.find('.viewPreviewContainer').loadingSpinner({model: view});

              $container.children('.viewPreviewContainer').renderTypeManager({
                  view: view,
                  editEnabled: false,
                  common: {
                      showRowHandle: false,
                      manualResize: false
                  }
              });

              _.defer(function() { view.registerOpening(document.referrer); });
          });
      });
    </script>
  <%- end -%>
<%- elsif widget.properties.noResultsMessage -%>
  <p><%= widget.properties.noResultsMessage %></p>
<%- end -%>
