<div id="<%= widget.elem_id %>" class="viewList">
  <%- if widget.view_count == 0 -%>
    <p>There are currently no <strong><%= Canvas::Environment.facet_value %></strong> views
      <%- if Canvas::Environment.context == :page -%>
        matching this query.
      <%- else -%>
        in <strong><%= @page_config.facet_friendly_name %></strong>.</p>
      <%- end -%>
  <%- else -%>
    <ul>
      <%- widget.view_results.each do |view| -%>
        <li class="clearfix">
          <%- widget.properties.metadata.each do |field| -%>
            <%- case field.type -%>
            <%- when 'name' -%>
              <span class="viewName"><%= link_to view.name, view_path(view) %></span>
            <%- when 'type' -%>
              <span class="viewType type<%= view.display.type.capitalize %>"><span class="icon"></span></span>
            <%- when 'author' -%>
              <span class="viewAuthor">
                <%- if field.show_avatar -%>
                  <img class="aboutAuthorImage" alt="<%= view.owner.displayName %>"
                    src="<%= view.owner.profile_image_path(field.avatar_size || "small") %>"/>
                <%- end -%>
                <%- if field.show_name -%>
                  <%= link_to view.owner.displayName, profile_path(view.owner) %>
                <%- end -%>
              </span>
            <%- when 'view_count' -%>
              <span class="viewViewCount"><%= view.viewCount %></span>
            <%- end -%>
          <%- end -%>
        </li>
      <%- end -%>
    </ul>

    <%- if widget.properties.pagination && (widget.view_count > widget.properties.searchOptions.limit) -%>
      <%= create_pagination(widget.view_count, widget.properties.searchOptions.limit,
          widget.current_page, request.path, 'button', 'viewList[page]') %>
    <%- end -%>

    <%- if widget.properties.resultCount -%>
      <div class="resultCount"><%= widget.view_count %> total results</div>
    <%- end -%>
  <%- end -%>
</div>
