<%- if details.is_a? Array -%>
  <%- details.each do |field| -%>
    <%- case field.type -%>
    <%- when 'title' -%>
      <%= content_tag((field.tagType || 'h2'), h(widget.view.name)) %>
    <%- when 'description' -%>
      <div class="description">
        <p>
          <%= raw(auto_link(h(widget.view.description).gsub("\n", '<br/>'), :html => { :rel => 'nofollow noreferrer external' })) %>
        </p>
        <%= link_to 'More&hellip;'.html_safe, view_path(widget.view) + '#pane=about', :class => 'moreLink' %>
      </div>
    <%- when 'author' -%>
      <%- if field.show_avatar -%>
        <img class="aboutAuthorImage" alt="<%= widget.view.owner.displayName %>"
          src="<%= widget.view.owner.profile_image_path(field.avatar_size || "medium") %>"/>
      <%- end -%>
      <%- if field.show_name -%>
        <%= link_to((field.text || h(widget.view.owner.displayName)).html_safe, profile_path(widget.view.owner), :class => 'author') %>
      <%- end -%>
    <%- when 'created_at' -%>
      <%= content_tag((field.tagType || 'span'), HumaneDateHelper.humane_date(widget.view.createdAt), :class => 'createdAt') %>
    <%- when 'updated_at' -%>
      <%= content_tag((field.tagType || 'span'), HumaneDateHelper.humane_date(widget.view.createdAt), :class => 'updatedAt') %>
    <%- when 'link' -%>
      <%- if field.tagType -%>
        <%= content_tag(field.tagType) do %>
          <%= link_to (field.text || h(widget.view.name)).html_safe, view_path(widget.view), :class => 'viewLink' %>
        <%- end -%>
      <%- else -%>
        <%= link_to (field.text || h(widget.view.name)).html_safe, view_path(widget.view), :class => 'viewLink' %>
      <%- end -%>
    <%- when 'rating' -%>
      <div class="averageRating"><%= stars_control('', widget.view.averageRating) %></div>

      <%- content_for :js_footer do -%>
        <%- allow_once do -%>
          <%= include_javascripts 'stars' %>
        <%- end -%>

        <script type="text/javascript">
          // warning: does not account for multiple star controls attached to one view preview!
          // activator for stars widget of <%= widget.elem_id %>

          $(function()
          {
              var selector = '#<%= widget.elem_id %>';
              Dataset.createFromViewId('<%= widget.view.id %>', function(view)
              {
                  var $this = $(selector + ' .averageRating .starsControl');
                  $this.stars({
                      onChange: function(value)
                      {
                          blist.util.doAuthedAction('rate this dataset', function(successCallback)
                          {
                              view.updateRating({
                                  type: 'rating',
                                  rating: (value * 20)
                              });
                          });
                      }
                  });
              });
          });
        </script>
      <%- end -%>
    <%- when 'parent' -%>
      <%- parent = widget.view.parent_view -%>
      <%= link_to (field.text || h(parent.name)).html_safe, view_path(parent), :class => 'parentViewLink' unless parent.nil? %>
    <%- when 'tags' -%>
      <div class="tags">
        <%= raw field.text || 'Tags:' %>
        <%- if widget.view.tags.is_a? Array -%>
          <%= raw(widget.view.tags.map{ |tag| link_to h(tag), browse_path(:tags => h(tag)) }.join(field.separator || ', ')) %>
        <%- else -%>
          (none)
        <%- end -%>
      </div>
    <%- when 'custom_metadata' -%>
      <%- metadata_value = widget.view.merged_metadata.deep_value_at [ 'custom_fields',
          field.metadata_fieldset.to_s, field.metadata_field.to_s ] -%>
      <%- unless metadata_value.blank? && field.empty_text.blank? -%>
        <div class="customMetadata"><%= raw field.text || field.metadata_field %>
          <%= metadata_value || field.empty_text %></div>
      <%- end -%>
    <%- when 'view_count' -%>
      <%= content_tag((field.tagType || 'span'), widget.view.viewCount, :class => 'viewCount') %>
    <%- when 'static' -%>
      <%= content_tag((field.tagType || 'p'), field.text.html_safe, :class => 'static') %>
    <%- end -%>
  <%- end -%>
<%- end -%>
