<%- if widget.view -%>
  <div id="<%= widget.elem_id %>" class="viewPreview">
    <%= render :partial => 'view_preview_details',
               :locals => { widget: widget, details: widget.properties.metadata.above } %>
    <div class="viewPreviewContainer">
      <div class="loadingSpinnerContainer hide"><div class="loadingSpinner"></div></div>
    </div>
    <%= render :partial => 'view_preview_details',
               :locals => { widget: widget, details: widget.properties.metadata.below } %>
  </div>

  <%- content_for :js_footer do -%>
    <%- allow_once do -%>
      <script type="text/javascript">
        blist.assets = blist.assets || <%= raw ASSET_MAP.javascripts %>;
        blist.namespace.fetch('blist.configuration');
        blist.configuration.development = <%= Rails.env.development? %>;
      </script>
      <%= include_javascripts 'render-view-minimum' %>
    <%- end -%>

    <script type="text/javascript">
      // activator for viewPreview widget <%= widget.elem_id %>
      $(function()
      {
          var targetSelector = "#<%= widget.elem_id %>";
          var view = new Dataset(<%= raw safe_json widget.view %>);

          var $container = $(targetSelector);

          view.bind('start_request', function()
                  { $container.find('.loadingSpinnerContainer').removeClass('hide'); })
              .bind('finish_request', function()
                  { $container.find('.loadingSpinnerContainer').addClass('hide'); });

          $container.children('.viewPreviewContainer').renderTypeManager({
              view: view,
              editEnabled: false,
              common: {
                  showRowHandle: false,
                  manualResize: false
              }
          });
      });
    </script>
  <%- end -%>
<%- elsif widget.properties.noResultsMessage -%>
  <p><%= widget.properties.noResultsMessage %></p>
<%- end -%>
