<%- if widget.view -%>
  <div id="<%= widget.elem_id %>" class="viewPreview">
    <%= content_tag(widget.properties.titleTag, h(widget.view.name)) if widget.properties.showTitle %>
    <div class="viewPreviewContainer">
      <div class="loadingSpinnerContainer hide"><div class="loadingSpinner"></div></div>
    </div>
  </div>
<%- end -%>

<%- content_for :js_footer do -%>
  <script type="text/javascript">
    // activator for viewPreview widget <%= widget.elem_id %>
    $(function()
    {
        var targetSelector = "#<%= widget.elem_id %>";
        var view = new Dataset(<%= raw safe_json widget.view %>);

        var $container = $(targetSelector);

        view.bind('start_request', function()
                { $container.find('.loadingSpinnerContainer').removeClass('hide'); })
            .bind('finish_request', function()
                { $container.find('.loadingSpinnerContainer').addClass('hide'); });

        $container.children('.viewPreviewContainer').renderTypeManager({
            view: view,
            editEnabled: false,
            common: {
                showRowHandle: false,
                manualResize: false
            }
        });
    });
  </script>
<%- end -%>
