<%- if details.is_a? Array -%>
  <%- details.each do |field| -%>
    <%- case field.type -%>
    <%- when 'title' -%>
      <%= content_tag((field.tagType || 'h2'), h(widget.view.name)) %>
    <%- when 'description' -%>
      <div class="description">
        <p>
          <%= raw h(widget.view.description).gsub("\n", '<br/>') %>
        </p>
        <%= link_to 'More&hellip;'.html_safe, widget.view.href + '#pane=about', :class => 'moreLink' %>
      </div>
    <%- when 'author' -%>
      <%- if field.show_avatar -%>
        <img class="aboutAuthorImage" alt="<%= widget.view.owner.displayName %>"
          src="<%= widget.view.owner.profile_image_path(field.avatar_size || "medium") %>"/>
      <%- end -%>
      <%- if field.show_name -%>
        <%= link_to((field.text || h(widget.view.owner.displayName)).html_safe, widget.view.owner.href, :class => 'author') %>
      <%- end -%>
    <%- when 'created_at' -%>
      <%= content_tag((field.tagType || 'span'), HumaneDateHelper.humane_date(widget.view.createdAt), :class => 'createdAt') %>
    <%- when 'link' -%>
      <%= link_to (field.text || h(widget.view.name)).html_safe, widget.view.href, :class => 'viewLink' %>
    <%- when 'rating' -%>
      <div class="averageRating">
        <div class="starsControl" data-rating="<%= widget.view.averageRating %>">
          <%= widget.view.averageRating %>
        </div>
      </div>

      <%- content_for :js_footer do -%>
        <%- allow_once do -%>
          <%= include_javascripts 'stars' %>

          <script type="text/javascript">
            // activator for stars widget of all view preview metadata
            $('.viewPreview .averageRating .starsControl').stars({
                enabled: false
            });
          </script>
        <%- end -%>
      <%- end -%>
    <%- when 'parent' -%>
      <%- parent = widget.view.parent_view -%>
      <%= link_to (field.text || h(parent.name)).html_safe, parent.href, :class => 'parentViewLink' unless parent.nil? %>
    <%- when 'tags' -%>
      <div class="tags">
        <%= raw field.text || 'Tags:' %>
        <%- if widget.view.tags.is_a? Array -%>
          <%= raw(widget.view.tags.map{ |tag| link_to h(tag), { :controller => 'browse',
              :action => 'show', :tags => h(tag) } }.join(field.separator || ', ')) %>
        <%- else -%>
          (none)
        <%- end -%>
      </div>
    <%- when 'custom_metadata' -%>
      <%- metadata_value = widget.view.merged_metadata.deep_value_at [ 'custom_fields',
          field.metadata_fieldset.to_s, field.metadata_field.to_s ] -%>
      <%- unless metadata_value.blank? && field.empty_text.blank? -%>
        <div class="customMetadata"><%= raw field.text || field.metadata_field %>
          <%= metadata_value || field.empty_text %></div>
      <%- end -%>
    <%- when 'view_count' -%>
      <%= content_tag((field.tagType || 'span'), widget.view.viewCount, :class => 'viewCount') %>
    <%- when 'static' -%>
      <%= content_tag((field.tagType || 'p'), field.text.html_safe, :class => 'static') %>
    <%- end -%>
  <%- end -%>
<%- end -%>
