<% content_for :head do %>
<title><%= @page.name %></title>
<%= rendered_stylesheet_tag 'components' %>
<%- if !local_assigns[:custom_styles].nil? -%>
<%= rendered_stylesheet_tag custom_styles %>
<%- end -%>
<% end %>

<%- @page.set_context(nil) -%>
<%= raw @page.render(true) %>

<%- if @debug -%>
<%= render :partial => 'custom_content/debug_content' %>
<%- end -%>

<%- content_for :js_footer do -%>
  <%= render :partial => 'custom_content/canvas_js', :locals => { :page => @page, :template => nil, :non_editable => true } %>
  <%- if !local_assigns[:custom_javascript].nil? -%>
  <%= include_javascripts custom_javascript %>
  <%- end -%>
<%- end -%>
