<%-
  expiry = FeatureFlags.value_for(:zealous_dataslate_cache_expiry) || Rails.application.config.cache_ttl_fragment
  prerendered_cache @cache_key, @cached_fragment, :expires_in => expiry do -%>

<%- if !@minimal_render -%>
  <%- context_result = @page.set_context(@vars) -%>
  <%- if context_result == false && !@edit_mode -%>
  <%- raise Canvas2::NoContentError.new(Canvas2::DataContext::errors[0]) -%>
  <%- end -%><%# if context_result %>
<%- end -%><%# if minimal_render %>

<% content_for :head do %>
<title><%= @page.name %></title>
<%= meta_tags @custom_meta.merge({:title => @page.name,
                                 'og:title' => @page.name}) unless @custom_meta.blank?  %>
<%= rendered_stylesheet_tag 'components' %>
  <% end %>

<%= raw @page.render(!@minimal_render) %>

<%- if @debug -%>
<%= render :partial => 'debug_content' %>
<%- end -%>

<%- content_for :js_footer do -%>
  <%= render :partial => 'canvas_js', :locals => { :page => @page, :template => nil } %>
<%- end -%>

<%- end -%>
<%# prerendered_cache %>

