<% content_for :head do %>
<title><%= @page.name %></title>
<%= rendered_stylesheet_tag 'components' %>
<% end %>

<script>
$(function() {
    $.dataContext.load(<%= raw @page.data.to_json %>);
    $.component.initialize(<%= raw @page.content.to_json %>);
});
</script>

<%= raw @page.render %>

<% content_for :js_footer do %>
<%= current_user_js %>
<%= include_javascripts 'canvas' %>
<script type="text/javascript">
  blist.assets = {libraries: <%= raw ASSET_MAP.javascripts %>, stylesheets: <%= raw STYLE_MAP.to_json %>};
  blist.namespace.fetch('blist.configuration');
  blist.configuration.development = <%= Rails.env.development? %>;
</script>
<% end %>
