<% content_for :head do %>
  <title><%= @title %> | <%= CurrentDomain.strings.site_title %></title>
  <%= rendered_stylesheet_tag "canvas" %>
  <link rel="stylesheet" type="text/css" href="/styles/<%= @stylesheet %>.css"/>
<% end %>

<%= raw render_widget(@page_config.contents) %>

<% content_for :js_footer do %>
  <script type="text/javascript">
    blist.assets = blist.assets || <%= raw ASSET_MAP.javascripts %>;
  </script>
  <%= include_javascripts 'render-view-minimum' %>
<% end %>