<% content_for :head do %>
  <title><%= @title %> | <%= CurrentDomain.strings.site_title %></title>
  <%= rendered_stylesheet_tag "canvas" %>
  <link rel="stylesheet" type="text/css" href="/styles/<%= @stylesheet %>.css"/>
<% end %>

<%= raw render_widget(@page_config.contents) %>
