<% content_for :head do %>
<title><%= @templet.name %></title>
<%= rendered_stylesheet_tag 'template-instantiator' %>
<%= rendered_stylesheet_tag 'colorpicker' %>
<%= rendered_stylesheet_tag 'base-control-third-party' %>
<%= rendered_stylesheet_tag 'base-control' %>
<%= rendered_stylesheet_tag 'configurator' %>
<% end %>

<div class="templateCreation wizard">
  <ul class="clearfix">
    <li class="templateCanvas" data-wizardpanename="template">
      <h1>Create a New <%= @templet.name %></h1>
      <form class="commonForm" id="insertionForm">
        <%- @templet.insertions.each do |insertion| -%>
          <div class="line clearfix insertion">
            <div class="tooltip"><%= raw insertion['tooltip'] %></div>
            <label for="<%= insertion['id'] %>" class="left <%= ' required' if insertion['required'] %>">
              <%= insertion['name'] %>
            </label>
            <div class="insertion-container<%= ' insertion-required' if insertion['required'] %>">
              <div class="socrata-insertion" id="<%= insertion['id'] %>"></div>
            </div>
          </div>
        <%- end -%>
        <div class="advancedSection">
          <%- [[@templet.title, 'Page Name'], [@templet.path, 'URL']].each do |pair| -%>
            <%- if pair.first[:editable] || pair.first[:visible] -%>
              <div class="line clearfix">
                <label class="left" for="<%= pair.first[:id] %>"><%= pair.last %></label>
                <div id="<%= pair.first[:id] %>"></div>
              </div>
            <%- end -%>
          <%- end -%>
        </div>
      </form>
    </li>

    <li data-wizardpanename="rendered"></li>
  </ul>
</div>

<div class="socrata-root"></div>

<%- content_for :templates do -%>
  <%= render :partial => 'templates/grid_sidebar' %>
<%- end -%>

<%- content_for :js_footer do -%>
  <%= render :partial => 'canvas_js', :locals => { :page => @templet.page, :template => @templet } %>
  <%= include_javascripts 'configurator' %>
  <%= include_javascripts 'shared-editors' %>
  <%= include_javascripts 'template-instantiator' %>
<%- end -%>
<%= render_translations LocalePart.screens.wizard %>
<%= render_translations LocalePart.controls.upload_dialog %>
<%= render_translations LocalePart.controls.editors %>
