<% content_for :head do %>
<title><%= @templet.name %></title>
<%= rendered_stylesheet_tag 'component-instantiator' %>
<%= rendered_stylesheet_tag 'colorpicker' %>
<%= rendered_stylesheet_tag 'base-control-third-party' %>
<%= rendered_stylesheet_tag 'base-control' %>
<%= rendered_stylesheet_tag 'configurator' %>
<% end %>

<div class="templateCanvas">
  <h1>Create a New <%= @templet.name %></h1>
  <form class="commonForm" id="insertionForm">
    <%- @templet.insertions.each do |insertion| -%>
      <div class="line clearfix">
        <div class="tooltip"><%= raw insertion['tooltip'] %></div>
        <label for="<%= insertion['id'] %>">
          <%= insertion['name'] %>
        </label>
        <div class="socrata-insertion" id="<%= insertion['id'] %>"></div>
      </div>
    <%- end -%>

    <div class="line clearfix actions">
      <label>&nbsp;</label>
      <a class="button default createTheThing" href="#next">Create</a>
      <a class="button" href="#cancel">Cancel</a>
    </div>
  </form>
</div>

<div class="socrata-root"></div>

<%- content_for :templates do -%>
  <%= render :partial => 'templates/grid_sidebar' %>
<%- end -%>

<%- content_for :js_footer do -%>
  <%= render :partial => 'canvas_js', :locals => { :page => @templet.page, :template => @templet } %>
  <%= include_javascripts 'configurator' %>
  <%= include_javascripts 'shared-editors' %>
  <%= include_javascripts 'component-instantiator' %>
<%- end -%>
