<%
  # TODO - move to helper
  def social_link_classname(type)
    {
      'Facebook' => 'icon-facebook',
      'Twitter' => 'icon-twitter'
    }[type.to_s]
  end

  # TESTING DATA
  org_name = 'City of Evergreen'

  nav_links = [
    { text: 'Home', href: '/' },
    { text: 'Catalog', href: '/browse' },
    { text: 'Open Budget', href: '/budget' },
    { text: org_name, href: '#' },
    { text: 'About', href: '/about' }
  ]

  social_links = [
    { type: 'Twitter', href: 'http://twitter.com', text: 'Follow us on Twitter' },
    { type: 'Facebook', href: 'http://facebook.com', text: 'Like us on Facebook' }
  ]
%>

<link href='../../fonts/open-sans.css' rel='stylesheet' type='text/css'>
<link href='../../fonts/socrata-icons/socrata-icons.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../../base.css">
<link rel="stylesheet" type="text/css" href="../../dist/styles/header.css">
<script type="text/javascript" src="../../../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../dist/js/header.js"></script>
<script type="text/javascript">
  // TODO - intead of the links above: http://sass-lang.com/documentation/file.SASS_REFERENCE.html
</script>

<header id="chrome-header">
  <div class="banner">
    <a class="logo" href="#">
      <img src="../../logo.png" alt="<%= org_name %>" />
      <span class="site-name"><%= org_name %></span>
    </a>

    <nav class="desktop">
      <% nav_links.each do |nav_link| %>
        <a class="nav-link" href="<%= nav_link[:href] %>"><%= nav_link[:text] %></a>
      <% end %>

      <span class="divider"></span>

      <% social_links.each do |social_link| %>
        <a class="nav-link social-link" href="<%= social_link[:href] %>">
          <span class="<%= social_link_classname(social_link[:type]) %>"
            title="<%= social_link[:text] %>"></span>
        </a>
      <% end %>

      <a class="btn sign-in-toggle" href="/login">Sign In</a>
    </nav>

    <nav class="mobile">
      <a class="btn menu-toggle" href="#">
        <span class="icon-hamburger"></span>
        Menu
      </a>
    </nav>
  </div>

  <div class="mobile-menu">
    <h2 class="menu-header-title">Menu</h2>
    <a class="menu-toggle" href="#">
      <span class="icon-close-2"></span>
    </a>

    <div class="menu-content">
      <div class="menu-links">
        <% nav_links.each do |nav_link| %>
          <a class="menu-link" href="<%= nav_link[:href] %>"><%= nav_link[:text] %></a>
        <% end %>
      </div>
      <div class="menu-section-header">Account</div>
      <a class="mobile-btn sign-in-toggle" href="/login">Sign In</a>
      <div class="menu-links social-links">
        <% social_links.each do |social_link| %>
          <a class="menu-link social-link" href="<%= social_link[:href] %>">
            <span class="<%= social_link_classname(social_link[:type]) %>"></span>
            <%= social_link[:text] %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</header>
