<%
  # TODO - move to helper
  def social_link_classname(type)
    {
      'Facebook' => 'icon-facebook',
      'Twitter' => 'icon-twitter'
    }[type.to_s]
  end

  site_display_name = general['site_display_name'] || ''

%>

<link href='../../fonts/open-sans.css' rel='stylesheet' type='text/css'>
<link href='../../fonts/socrata-icons/socrata-icons.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../../base.css">
<link rel="stylesheet" type="text/css" href="../../dist/styles/header.css">
<script type="text/javascript" src="../../../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../dist/js/header.js"></script>
<script type="text/javascript">
  // TODO - intead of the links above: http://sass-lang.com/documentation/file.SASS_REFERENCE.html
</script>

<header id="chrome-header">
  <div class="banner">
    <a class="logo" href="<%= logo['href'] %>">
      <img src="<%= logo['src'] %>" alt="<%= logo['alt'] || site_display_name %>" />
      <span class="site-name"><%= site_display_name %></span>
    </a>

    <nav class="desktop">
      <% navigation['links'].each do |nav_link| %>
        <a class="nav-link" href="<%= nav_link[:href] %>"><%= nav_link[:text] %></a>
      <% end %>

      <span class="divider"></span>

      <% navigation['social_shares'].each do |social_link| %>
        <a class="nav-link social-link" href="<%= social_link[:url] %>">
          <span class="<%= social_link_classname(social_link[:type]) %>"
            title="<%= social_link[:label] %>"></span>
        </a>
      <% end %>

      <a class="btn sign-in-toggle" href="/login">Sign In</a>
    </nav>

    <nav class="mobile">
      <a class="btn menu-toggle" href="#">
        <span class="icon-hamburger"></span>
        Menu
      </a>
    </nav>
  </div>

  <div class="mobile-menu">
    <h2 class="menu-header-title">Menu</h2>
    <a class="menu-toggle" href="#">
      <span class="icon-close-2"></span>
    </a>

    <div class="menu-content">
      <div class="menu-links">
        <% navigation['links'].each do |nav_link| %>
          <a class="menu-link" href="<%= nav_link[:href] %>"><%= nav_link[:text] %></a>
        <% end %>
      </div>
      <div class="menu-section-header">Account</div>
      <a class="mobile-btn sign-in-toggle" href="/login">Sign In</a>
      <div class="menu-links social-links">
        <% navigation['social_shares'].each do |social_link| %>
          <a class="menu-link social-link" href="<%= social_link[:url] %>">
            <span class="<%= social_link_classname(social_link[:type]) %>"></span>
            <%= social_link[:label] %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</header>
