<div class="inline-container">
  <div class="color-group">
    <%= partial "components/swatch" , locals: { color: 'primary', label: "Primary" } %>
  </div>
  <div class="color-group">
    <%= partial "components/swatch" , locals: { color: 'secondary', label: "Secondary" } %>
  </div>
</div>
<div class="inline-container">
  <div class="color-group">
    <%= partial "components/swatch" , locals: { color: 'warning', label: "Warning" } %>
  </div>
  <div class="color-group">
    <%= partial "components/swatch" , locals: { color: 'error', label: "Error" } %>
  </div>
  <div class="color-group">
    <%= partial "components/swatch" , locals: { color: 'success', label: "Success" } %>
  </div>
</div>

<div class="inline-container">
  <h6> Black/White</h6>
  <div class="swatch-container">
    <div class="grey box"></div>
    <div class="subcontainer">
      <div class="white small-box"></div>
      <div class="black small-box"></div>
    </div>
  </div>
</div>

<div class="inline-container">
  <h6> Greys (not grays)</h6>
  <div class="swatch-container">
    <div class="box grey light-5"></div>
  </div>
  <div class="swatch-container">
    <div class="box grey light-4"></div>
  </div>
  <div class="swatch-container">
    <div class="box grey light-3"></div>
  </div>
  <div class="swatch-container">
    <div class="box grey light-2"></div>
  </div>
  <div class="swatch-container">
    <div class="box grey light-1"></div>
  </div>  
 </div> 
<div class="inline-container">
  <div class="swatch-container">
    <div class="box grey"></div>
  </div>  
  <div class="swatch-container">
    <div class="box grey dark-1"></div>
  </div>
  <div class="swatch-container">
    <div class="box grey dark-2"></div>
  </div>
  <div class="swatch-container">
    <div class="box grey dark-3"></div>
  </div>
  <div class="swatch-container">
    <div class="box black"></div>
  </div>  
</div>
