<div class="color-group">
  <%= partial "components/swatch" , locals: { color: 'primary', label: "Primary" } %>
</div>
<div class="color-group">
  <%= partial "components/swatch" , locals: { color: 'secondary', label: "Secondary" } %>
</div>
<div class="color-group">
  <%= partial "components/swatch" , locals: { color: 'warning', label: "Warning" } %>
</div>
<div class="color-group">
  <%= partial "components/swatch" , locals: { color: 'error', label: "Error" } %>
</div>
<div class="color-group">
  <%= partial "components/swatch" , locals: { color: 'success', label: "Success" } %>
</div>
