
<h3 class="h6 styleguide-subheader">Category Tags</h3>
<%= partial "components/tag_category", locals: { text: "Dinosaurs" } %>
<%= partial "components/tag_category", locals: { text: "From" } %>
<%= partial "components/code_sample", locals: {
  component: "components/tag_category",
  partial_locals: {
    text: "Space"
  }
} %>

<h3 class="h6 styleguide-subheader">Primary Tags</h3>
<%= partial "components/code_sample", locals: {
  component: "components/tag_official",
  partial_locals: {
    text: "Official View"
  }
} %>


<%= partial "components/code_sample", locals: {
  component: "components/tag_federated",
  partial_locals: {
    text: "data.opendata.org"
  }
} %>
