<%- 
  isActivityEnabled = false
-%>
<div class="header">
  <ul class="summaryTabs clearfix">
    <li id="tabSummary" class="summary active">
      <%= summary_tab('Summary', 'summary') %>
    </li>
    <li id="tabShares">
      <%= summary_tab('Shares', 'shares') %>
    </li>
    <li id="tabBlists">
      <%= summary_tab(t(:blists_name).titleize, 'blists') %>
    </li>
<%- if @contact_activities && @contact_activities.length > 0 -%>
    <li id="tabActivity">
      <%= summary_tab('Activity', 'activity') %>
    </li>
<%- end -%>
  </ul>
</div>


<%# *** START: SUMMARY *** %>
<div class="infoContentOuter singleInfoSummary listContainer active">
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader noHeaderIcon">
      <img src="<%= @contact.profile_image_path("small") %>" width="24" height="24"
        alt="<%= @contact.displayName %>" />
      <%= @contact.displayName %>
    </h2>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent">

      <dl class="summaryList actionList">
        <dt>
          Description
        </dt>
        <dd class="editItem">
          <div class="itemContent">
            <span class="textContent"><%= @contact.htmlDescription %></span>
          </div>
          <div class="itemActions">
            <%= link_to(raw("<span>View profile</span>"), @contact.href, :class => "action") %>
          </div>
        </dd>
      </dl>

      <dl class="summaryList actionList">
        <dt>
          Tags
        </dt>
        <dd class="editItem">
          <div class="itemContent">
            <span class="textContent"><%= @contact.tag_display_string %></span>
          </div>
          <div class="itemActions">
            <%= link_to(raw("<span>View profile</span>"), @contact.href, :class => "action") %>
          </div>
        </dd>
      </dl>

      <dl class="summaryList">
        <dt>
          Last Login
        </dt>
        <dd>
          <div class="itemContent">
            <span class="textContent"><%= blist_date(@contact.lastLogin) %></span>
          </div>
        </dd>
      </dl>

      <dl class="summaryList actionList">
        <dt>
          Shares
        </dt>
        <dd>
          <div class="itemContent">
            <ul class="textContent">
              <li>Contributor to <%= pluralize(@contact_contributor_blists.length, t(:blist_name)) %></li>
              <li>Viewer to <%= pluralize(@contact_viewer_blists.length, t(:blist_name)) %></li>
            </ul>
          </div>
          <div class="itemActions">
            <a href="#tabShares" class="action tabLink shares">
              <span>View</span>
            </a>
          </div>
        </dd>
      </dl>

    </div> <!-- /.infoContent -->
  </div></div> <!-- /.infoContentInner -->
  <div class="infoContentBR"><div class="infoContentBL"></div></div>
</div>
<%# *** END: SUMMARY *** %>

<%# *** START: SHARES *** %>
<div class="infoContentOuter singleInfoShares">
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader typeSharedIn first"><%= @shares_by_contact.length %> Shared to You</h2>
    <h2 class="panelHeader typeSharedOut"><%= @shares_to_contact.length %> Shared to <%= @contact.displayName %></h2>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent">
      <div class="gridListContainer">
        <table class="gridList" cellspacing="0">
          <colgroup>
            <col class='favorite' />
            <col class='type' />
            <col class='name' />
            <col class='description' />
            <col class='sharedOn' />
            <col class='actionContainer' />
          </colgroup>
          <thead>
            <tr>
              <th class="favorite" title="Favorite?"><div>Favorite?</div></th>
              <th class="type" title="Type"><div>Type</div></th>
              <th class="name"><div class="clipText">Name</div></th>
              <th class="description"><div class="clipText">Description</div></th>
              <th class="sharedOn"><div>Shared On</div></th>
              <th class="actionContainer last"></th>
            </tr>
          </thead>
          <tbody>
            <%- @contact_shares.each do |share| -%>
              <tr class="item">
                <td class="favorite <%= share.flag?('favorite') %>"><div class="cellInner">
                    <span class="favoriteMarker"><%= share.flag?('favorite') ? "favorite" : "" %></span>
                </div></td>
                <td class="type"><div class="cellInner <%=
                  get_share_direction_icon_class_for_view(share) %>">
                  <%= get_type_string_for_view(share) %></div>
                </td>
                <td class="name"><div class="cellInner clipText">
                  <%= link_to(share.name, share.href) %>
                </div></td>
                <td class="description"><div class="cellInner clipText"><%= share.description %></div></td>
                <td class="sharedOn"><div class="cellInner">
                  <%= blist_date(share.share_date_for_contact(share.owner.id == current_user.id ? @contact : current_user)) %></div></td>
                <td class="actionContainer"><div class="cellInner"><a
                      href="<%= share.href %>" class="action"
                      title="<%= share.name %>"><span>View</span></a>
                </div></td>
              </tr>
            <%- end -%>
          </tbody>
        </table>
      </div>
    </div>
  </div></div>
  <div class="infoContentBR"><div class="infoContentBL"></div></div>
</div>
<%# *** END: SHARES *** %>

<%# *** START: BLISTS *** %>
<div class="infoContentOuter singleInfoBlists">
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader typeBlist first"><%= pluralize(@contact_blists.length, "Public #{t(:blist_name).capitalize}") %></h2>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent">
      <div class="gridListContainer">
        <table class="gridList" cellspacing="0">
          <colgroup>
            <col class='type' />
            <col class='name' />
            <col class='views' />
            <col class='copies' />
            <col class='lastUpdated' />
            <col class='actionContainer' />
          </colgroup>
          <thead>
            <tr>
              <th class="type" title="Type"><div>Type</div></th>
              <th class="name"><div>Name</div></th>
              <th class="views"><div>Visits</div></th>
              <th class="copies"><div>Copies</div></th>
              <th class="lastUpdated"><div>Last Update</div></th>
              <th class="actionContainer last"></th>
            </tr>
          </thead>
          <tbody>
            <%- @contact_blists.each do |blist| -%>
              <tr class="item">
                <td class="type"><div class="cellInner <%=
                  get_share_direction_icon_class_for_view(blist) %>">
                  <%= get_type_string_for_view(blist) %></div>
                </td>
                <td class="name"><div class="cellInner"><%= link_to(blist.name, blist.href) %></div></td>
                <td class="views"><div class="cellInner"><%= blist.viewCount %></div></td>
                <td class="copies"><div class="cellInner"><%= blist.copyCount %></div></td>
                <td class="lastUpdated"><div class="cellInner"><%= blist_date(blist.last_activity) %>
                </div></td>
                <td class="actionContainer"><div class="cellInner"><a
                      href="<%= blist.href %>" class="action"
                      title="<%= blist.name %>"><span>View</span></a>
                </div></td>
              </tr>
            <%- end -%>
          </tbody>
        </table>
      </div>
    </div>
  </div></div>
  <div class="infoContentBR"><div class="infoContentBL"></div></div>
</div>
<%# *** END: BLISTS *** %>

<%# *** START: ACTIVITY *** %>
<%- if @contact_activities && @contact_activities.length > 0 -%>
<div class="infoContentOuter singleInfoActivity">
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader"><%= @contact_activities.length %> new activities</h2>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent">
      <div class="gridListContainer simple">
        <table class="gridList" cellspacing="0">
          <colgroup>
            <col class='when' />
            <col class='what' />
            <col class='actionContainer' />
          </colgroup>
          <thead>
            <tr>
              <th class="when first" title="When"><div>When</div></th>
              <th class="what" title="What Activity"><div>What Activity</div></th>
              <th class="actionContainer last"></th>
            </tr>
          </thead>
          <tbody>
            <%- @contact_activities.each do |act| -%>
            <tr class="item">
              <td class="when"><div class="cellInner"><%= blist_date(act.createdAt) %></div></td>
              <td class="what"><div class="cellInner">
                <%= get_html_for_activity(act) %>
              </div></td>
              <td class="actionContainer"><div class="cellInner">
                <a href="<%= get_url_for_activity_action(act) %>" class="action"><span>View</span></a>
              </div></td>
            </tr>
            <%- end -%>
          </tbody>
        </table>
      </div>
    </div>
  </div></div>
  <div class="infoContentBR"><div class="infoContentBL"></div></div>
</div>
<%- end -%>
<%# *** END: ACTIVITY *** %>
