<%- isAddingEnabled = false -%>
<% content_for :head do %>
  <%= stylesheet_link_tag "list-screen", "contacts-screen", "widgets",
    :cache => "cache/contacts_index_all" %>
  <title><%= t(:page_title) %></title>
<% end %>



<div class="twoColumnContainer clearfix">
  <div id="mainColumnContent" class="column mainContent scrollContentColumn">
    <div id='contacts'>
      <%= render(:partial => "shared/tabs") %>

      <div class='outerContent'>
        <div class='content'>
          
          <%- if @contacts.length > 0 -%>
          
          <div class='headerBar clearfix'>
            <h3 id='listTitle' class='clipText'
              title='<%= h(@title) %>'><%= h(@title) %></h3>

            <form class="search contactsFind" action='#'>
              <p>
                <input type='text' class='textPrompt' name='find'
                  title='Find' value='' />
                <input type='image' class='submit' name='findSubmit'
                  src="<%= image_path("find_button.png") %>" />
              </p>
            </form>
<%- if isAddingEnabled -%>
            <ul class="headerActions">
              <li><a href='#' class="add_contact">Add Contact</a></li>
            </ul>
<%- end -%>
          </div>

          <div class='gridListContainer'>
            <%#
             This div will hold a copy of the table that displays the header
            %>
            <div class='headerContainer'></div>
            <div class='gridListInner scrollContent'>
              <%= render(:partial => "contact_list") %>
            </div>
          </div>
          
          <%- else -%>
          
          <div class='headerBar clearfix'>
            <h3 id='listTitle' class='clipText'
              title='<%= h(@title) %>'><%= h(@title) %></h3>
          </div>
          
          <div class='noContactsContainer'>
            <p>You haven't added any friends yet. Add friends by clicking the <strong>Add Friend</strong> button on a member's profile page.</p>
            <p>You can view our Top Members or search for Friends on the <%= link_to("Community page", community_url) %>.</p>
          </div>
          
          <%- end -%>

        </div>
      </div>

      <div id="infoPane"></div>
    </div>
  </div>

  <div id="sidebar" class="column scrollContentColumn">
    <% render(:layout => "shared/sidebar_box") do %>
      <%= render(:partial => "shared/current_user_tile",
        :locals => { :user => current_user }) %>
    <% end %>
    <% render(:layout => "shared/sidebar_box",
      :locals => { :id => 'contactFilters',
      :content_class => 'scrollContent' } ) do %>
      <div class='filterSection items expandableContainer'>
        <a href="#expand_items" class="expander">expand</a>
        <h4>
          <%= sidebar_filter_link("<span>All Friends</span>",
            {'type' => 'friend'}, @args, true) %>
        </h4>
        <ul class="expandable">
          <li>
            <%= sidebar_filter_link("<span>I Have Shared With</span>",
              {'share_direction' => 'out'}, @args) %>
          </li>
          <li>
            <%= sidebar_filter_link("<span>Have Shared To Me</span>",
              {'share_direction' => 'in'}, @args) %>
          </li>
        </ul>
      </div>

      <div class='filterSection closed tags expandableContainer'>
        <a href="#expand_items" class="expander">expand</a>
        <h4>
          <%= sidebar_filter_link("<span>All Tags</span>",
            {'untagged' => 'false'}, @args) %>
        </h4>
        <ul class="expandable">
          <li class='untagged'>
            <%= sidebar_filter_link("<span>Not Tagged</span>",
              {'untagged' => 'true'}, @args) %>
          </li>
          <% get_contact_tags().each do |tag| %>
          <li>
            <%= sidebar_filter_link("<span>#{h(tag)}</span>",
              {'tag' => tag}, @args) %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "plugins/jquery.tablesorter",
    "plugins/jquery.searchable", "util/humane-date",
    "widgets/panel-expander", "widgets/selectable-list",
    "widgets/combination-list", "widgets/sidebar-filter",
    "screens/contacts-screen", "screens/info-pane",
    :cache => "cache/contacts_index_all" %>
<% end %>
