<div class="header">
  <ul class="summaryTabs clearfix">
    <li id="tabSummary" class="summary active">
      <%= summary_tab('Summary', 'summary') %>
    </li>
  </ul>
</div>

<div class="infoContentOuter singleInfoSummary listContainer active">
  <div class="infoContentHeader clearfix">
    <%- if (@contacts && @contacts.length > 0) -%>
      <h2 class="panelHeader contactPanelHeader">
        <%= pluralize(@contacts.length, "friend") %> selected
      </h2>
    <%- end -%>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent">
      <%- if (@contacts && @contacts.length > 0) -%>
        <dl class="summaryList actionList contactsList">
          <dt>
            Friends
          </dt>
          <%- @contacts.each do |contact| -%>
            <dd class="editItem">
              <div class="itemContent">
                <span>
                  <img src="<%= contact.profile_image_path("small") %>" width="24" height="24"
                    alt="<%= contact.displayName %>" />
                  <%= contact.displayName %>
                </span>
              </div>
              <div class="itemActions">
                <a href="#friend:<%= contact.id %>" class="action unselector"><span>unselect</span></a>
              </div>
            </dd>
          <%- end -%>
        </dl>
      <%- end -%>
    </div> <!-- /.infoContent -->
  </div></div> <!-- /.infoContentInner -->
  <div class="infoContentBR"><div class="infoContentBL"></div></div>
</div>
