<header id="site-chrome-header" class="<%= size %>" role="banner" template="rally">
  <div class="banner">
    <div class="rally-top">
      <div class="header-content">
        <%= header_logo %>
        <%= render 'site_chrome/searchbox', path: site_chrome_massage_url('/browse'), vanishing_search_button: true unless current_user_can_see_admin_link? %>
      </div>
    </div>

    <div class="rally-bottom">
      <div class="header-content">
        <nav class="desktop" aria-label="<%= t('shared.site_chrome.header.header_links_aria_label') %>">
          <div class="navbar-left">
            <%= navbar_links_div(:use_dropdown => true) %>
          </div>

          <div class="navbar-right">
            <% if valid_social_links(site_chrome_instance.general[:social_shares]).present? %>
              <div class="site-chrome-social-links">
                <%= render 'site_chrome/social_links' %>
              </div>

              <%= divider unless current_user_can_see_admin_link? %>
            <% end %>

            <% if show_language_switcher? %>
              <%= render 'site_chrome/language_switcher', :orientation => 'bottom' %>
            <% end %>

            <%= render 'site_chrome/user_actions' unless current_user_can_see_admin_link? %>

            <%= render 'site_chrome/header_notifications_for_user' if show_site_chrome_header_notifications_for_user? %>
          </div>
        </nav>

        <nav class="mobile" aria-label="<%= t('shared.site_chrome.header.header_links_aria_label') %>">
          <a class="site-chrome-btn menu-toggle" href="#">
            <span class="socrata-icon-hamburger"></span>
            <%= t('shared.site_chrome.header.menu') %>
          </a>
        </nav>
      </div>
    </div>
  </div>

  <%= render 'site_chrome/mobile_menu' %>
</header>
