<% content_for :head do %>
  <title><%= @view ? @view.name : 'Preview' %> | <%= CurrentDomain.strings.site_title %></title>
  
  <%= meta_tags :description => @meta_description, :keywords => @meta_keywords %>
  <%- if @view -%>
    <link rel="canonical" href="<%= @view.href %>" />
  <%- end -%>
<% end %>

<div id="publishPreview">
  <%= get_publish_embed_code_for_view(@view, 
      {:dimensions => {:width => params[:width], :height => params[:height]}}, params[:variation]) %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    // Height needs mangling since the param indicates browser, not frame height
    // IE doesn't support window.outerHeight, so we take a guess at the outer chrome
    var $container = $('#publishPreview');
    var browserChromeHeight = (window.outerHeight - window.innerHeight) || 80;
    window.resizeTo($container.outerWidth(), $container.outerHeight() + browserChromeHeight);
  });
</script>