<div id="settings-panel-container">
  <div class="settings-panel">
    <button class="close-side-panel-btn" data-panel-toggle="settings-panel">
      <span class="close-panel-label" title="<%= I18n.t('common.close') %>">
        <%= I18n.t('common.close') %>
      </span>
      <span class="icon-cross2 close-panel-icon"></span>
    </button>

    <section>
      <h4 class="settings-main-title text-center"><%= I18n.t('settings_panel.panel_title') %></h4>
      <hr>

      <div class="scrollable">
        <form>
          <label><%= I18n.t('settings_panel.title_label') %></label>
          <input name="title" type="text" maxlength="254" />
          <label><%= I18n.t('settings_panel.description_label') %></label>
          <textarea></textarea>
        </form>
      </div>

      <div class="settings-save-failure-message">
        <div><%= I18n.t('settings_panel.generic_save_failure_message') %></div>
        <div class="settings-save-failure-message-details"></div>
      </div>
      <button class="settings-save-btn btn accent-btn"><span><%= I18n.t('settings_panel.save_button_label') %></span></button>
    </section>

    <section class="settings-panel-publishing">
      <hr>
      <h2><%= I18n.t('settings_panel.publishing.title') %></h2>
      <div>
        <div class="settings-panel-story-visibility">
          <div>
            <h2><%= I18n.t('settings_panel.publishing.visibility.title') %></h2>
            <h3><%= I18n.t('settings_panel.publishing.visibility.private') %></h3>
          </div>
          <div>
            <button class="btn accent-btn"><span><%= I18n.t('settings_panel.publishing.visibility.make_story_public') %></span></button>
          </div>
        </div>
        <hr>
        <div class="settings-panel-story-status hidden">
          <div>
            <h2><%= I18n.t('settings_panel.publishing.status.title') %></h2>
            <h3><%= I18n.t('settings_panel.publishing.status.draft') %></h3>
          </div>
          <div>
            <button class="btn accent-btn" disabled><span><%= I18n.t('settings_panel.publishing.status.update_public_version') %></span></button>
          </div>
        </div>
        <p class="settings-panel-story-publishing-help-text"><%= I18n.t('settings_panel.publishing.can_be_shared_publically') %></p>
        <div class="settings-panel-story-publishing-error hidden"><%= I18n.t('settings_panel.publishing.error') %></div>
      </div>
    </section>

  </div>
  <div id="settings-panel-overlay" data-panel-toggle="settings-panel"></div>
</div>

