<div id="settings-panel-container">
  <div class="settings-panel">
    <%- if current_user.present? %>
    <a class="back-to-profile-btn" href="/profile/<%= current_user['id'] %>?limitTo=story">
      <span class="icon-arrow-prev back-to-profile-icon"></span>
      <span class="back-to-profile-label" title="<%= t('editor.settings_panel.back_to_profile') %>">
        <%= t('editor.settings_panel.back_to_profile') %>
      </span>
    </a>
    <%- end %>
    <button class="close-side-panel-btn" data-panel-toggle="settings-panel">
      <span class="icon-cross2 close-panel-icon"></span>
    </button>

    <header>
      <h4 class="settings-main-title text-center"><%= t('editor.settings_panel.panel_title') %></h4>
    </header>

    <section class="settings-panel-errors warning-bar hidden">
      <p><span class="icon-warning"></span></p>
      <p class="settings-panel-error-message"><%= t('editor.settings_panel.errors.generic_error') %></p>
    </section>

    <ul class="menu-list">

      <li class="menu-list-item">
        <button class="menu-list-item-header expandable">
          <span class="icon-edit"></span>
          <span><%= t('editor.settings_panel.displaying_section.section_title') %></span>
        </button>
        <div class="menu-list-item-content settings-panel-displaying collapsed">
          <div>
            <%- unless can_update_view? -%>
              <section class="warning-bar">
                <p><span class="icon-warning"></span></p>
                <p class="settings-panel-error-message"><%= t('editor.settings_panel.errors.cannot_edit_title_and_description') %></p>
              </section>
            <%- end %>

            <form>
              <label><%= t('editor.settings_panel.displaying_section.title_label') %></label>
              <input name="title" type="text" maxlength="254"<%= can_update_view? ? '' : ' disabled' %>>
              <label><%= t('editor.settings_panel.displaying_section.description_label') %></label>
              <textarea <%= can_update_view? ? '' : ' disabled' %>></textarea>
            </form>

            <div class="settings-save-failure-message">
              <div><%= t('editor.settings_panel.errors.generic_save_failure_message') %></div>
              <div class="settings-save-failure-message-details"></div>
            </div>
            <button class="settings-save-btn btn-default btn-dark">
              <span><%= t('editor.settings_panel.displaying_section.save_button_label') %></span>
            </button>
          </div>
        </div>
      </li>

      <li class="menu-list-item">
        <button class="menu-list-item-header" data-action="STORY_MAKE_COPY_MODAL_OPEN">
          <span class="icon-copy-document"></span>
          <span><%= t('editor.settings_panel.copy_section.section_title') %></span>
        </button>
      </li>

      <li class="menu-list-item">
        <button class="menu-list-item-header expandable">
          <span class="icon-eye"></span>
          <span><%= t('editor.settings_panel.publishing_section.section_title') %></span>
        </button>
        <div class="menu-list-item-content settings-panel-publishing collapsed">
          <div>
            <%- unless can_update_view? -%>
              <section class="warning-bar">
                <p><span class="icon-warning"></span></p>
                <%- if determine_permissions_from_core_attributes[:isPublic] -%>
                  <p class="settings-panel-error-message"><%= t('editor.settings_panel.errors.cannot_change_visibility_or_update_public_version') %></p>
                <%- else -%>
                  <p class="settings-panel-error-message"><%= t('editor.settings_panel.errors.cannot_change_visibility') %></p>
                <%- end -%>
              </section>
            <%- end %>

            <div class="settings-panel-story-visibility">
              <div>
                <h2><%= t('editor.settings_panel.publishing_section.visibility.title') %></h2>
                <h3><%= t('editor.settings_panel.publishing_section.visibility.private') %></h3>
              </div>
              <div>
                <button class="btn-secondary btn-dark" <%= can_update_view? ? '' : ' disabled' %>>
                  <span><%= t('editor.settings_panel.publishing_section.visibility.make_story_public') %></span>
                </button>
              </div>
            </div>

            <hr>

            <div class="settings-panel-story-status hidden">
              <div>
                <h2><%= t('editor.settings_panel.publishing_section.status.title') %></h2>
                <h3><%= t('editor.settings_panel.publishing_section.status.draft') %></h3>
              </div>
              <div>
                <button class="btn-primary btn-dark" disabled>
                  <span><%= t('editor.settings_panel.publishing_section.status.update_public_version') %></span>
                </button>
              </div>
            </div>

            <p class="settings-panel-story-publishing-help-text">
              <%= t('editor.settings_panel.publishing_section.messages.can_be_shared_publicly') %>
            </p>
          </div>
        </div>
      </li>

      <li class="menu-list-item">
        <button class="menu-list-item-header" data-action="COLLABORATORS_OPEN"<%= can_update_view? ? '' : ' disabled'%>>
          <span class="icon-add-collaborator"></span>
          <span><%= t('editor.settings_panel.collaborators_section.section_title') %></span>
          <%- unless can_update_view? -%>
            <br>
            <span class="settings-panel-subtitle"><%= t('editor.settings_panel.warnings.permissions') %></span>
          <%- end %>
        </button>
      </li>
    </ul>
  </div>
  <div id="settings-panel-overlay" data-panel-toggle="settings-panel"></div>
</div>

