<div id="settings-panel-container">
  <div class="settings-panel">
    <a href="#" class="close-side-panel-btn" data-panel-toggle="settings-panel" role="button">
      <span class="close-panel-label" title="<%= I18n.t('common.close') %>">
        <%= I18n.t('common.close') %>
      </span>
      <span class="icon-cross2 close-panel-icon"></span>
    </a>

    <section>
      <h4 class="settings-main-title text-center"><%= I18n.t('settings_panel.panel_title') %></h4>
      <hr>

      <div class="scrollable">
        <form>
          <label><%= I18n.t('settings_panel.title_label') %></label>
          <input name='title' type="text" />
          <label><%= I18n.t('settings_panel.description_label') %></label>
          <textarea></textarea>
        </form>
      </div>
    </section>
    <div class="settings-save-failure-message">
      <div><%= I18n.t('settings_panel.generic_save_failure_message') %></div>
      <div class="settings-save-failure-message-details"></div>
    </div>
    <button class="settings-save-btn btn accent-btn"><%= I18n.t('settings_panel.save_button_label') %></button>
  </div>
  <div id="settings-panel-overlay" data-panel-toggle="settings-panel"></div>
</div>

