<div id="settings-panel-container">
  <div class="settings-panel">
    <%- if current_user.present? %>
    <a class="back-to-profile-btn" href="/profile/<%= current_user['id'] %>?limitTo=story">
      <span class="icon-arrow-prev back-to-profile-icon"></span>
      <span class="back-to-profile-label" title="<%= t('editor.settings_panel.back_to_profile') %>">
        <%= t('editor.settings_panel.back_to_profile') %>
      </span>
    </a>
    <%- end %>
    <button class="close-side-panel-btn" data-panel-toggle="settings-panel">
      <span class="icon-cross2 close-panel-icon"></span>
    </button>

    <header>
      <h4 class="settings-main-title text-center"><%= t('editor.settings_panel.panel_title') %></h4>
    </header>

    <section class="settings-panel-errors warning-bar hidden">
      <p><span class="icon-warning"></span></p>
      <p class="settings-panel-error-message"><%= t('editor.settings_panel.errors.generic_error') %></p>
    </section>

    <section class="settings-panel-displaying">
      <hr>
      <h2><%= t('editor.settings_panel.displaying_section.section_title') %></h2>

      <form>
        <label><%= t('editor.settings_panel.displaying_section.title_label') %></label>
        <input name="title" type="text" maxlength="254" />
        <label><%= t('editor.settings_panel.displaying_section.description_label') %></label>
        <textarea></textarea>
      </form>

      <div class="settings-save-failure-message">
        <div><%= t('editor.settings_panel.errors.generic_save_failure_message') %></div>
        <div class="settings-save-failure-message-details"></div>
      </div>
      <button class="settings-save-btn btn-default btn-dark">
        <span><%= t('editor.settings_panel.displaying_section.save_button_label') %></span>
      </button>
    </section>

    <section class="settings-panel-publishing">
      <hr>
      <h2><%= t('editor.settings_panel.publishing_section.section_title') %></h2>
      <div>
        <div class="settings-panel-story-visibility">
          <div>
            <h2><%= t('editor.settings_panel.publishing_section.visibility.title') %></h2>
            <h3><%= t('editor.settings_panel.publishing_section.visibility.private') %></h3>
          </div>
          <div>
            <button class="btn-secondary btn-dark">
              <span><%= t('editor.settings_panel.publishing_section.visibility.make_story_public') %></span>
            </button>
          </div>
        </div>
        <hr>
        <div class="settings-panel-story-status hidden">
          <div>
            <h2><%= t('editor.settings_panel.publishing_section.status.title') %></h2>
            <h3><%= t('editor.settings_panel.publishing_section.status.draft') %></h3>
          </div>
          <div>
            <button class="btn-primary btn-dark" disabled>
              <span><%= t('editor.settings_panel.publishing_section.status.update_public_version') %></span>
            </button>
          </div>
        </div>
        <p class="settings-panel-story-publishing-help-text">
          <%= t('editor.settings_panel.publishing_section.messages.can_be_shared_publicly') %>
        </p>
      </div>
    </section>

  </div>
  <div id="settings-panel-overlay" data-panel-toggle="settings-panel"></div>
</div>

