<div id="style-and-presentation-panel" class="content-panel">
  <div class="content-panel-close-btn">
    <button>
      <span class="icon-cross2"></span>
    </button>
  </div>

  <section>
    <h1><%= I18n.t('style_and_presentation_panel.title') %></h1>
    <h2><%= I18n.t('style_and_presentation_panel.description') %></h2>
    <hr></hr>
    <div class="scrollable">
      <div class="styled-theme-list">
<!--        <% @inspiration_block_list.each do |block| %>
          <div class="inspiration-block" data-block-content="<%= block["blockContent"].to_json %>">
            <img src="<%= asset_path(block['imagePreview']) %>">
            <div class="drag-overlay"></div>
          </div>
        <% end %>-->
      </div>
    </div>
  </section>
  <div class="styled-theme-list-error hidden"><%= I18n.t('style_and_presentation_panel.render_error') %></div>
</div>
