<div id="style-and-presentation-panel" class="content-panel">
  <div class="content-panel-close-btn-container">
    <button class="content-panel-close-btn" data-panel-toggle="style-and-presentation-panel">
      <span class="icon-cross2"></span>
    </button>
  </div>

  <section>
    <div class="scrollable">
      <h1 class="content-panel-title"><%= I18n.t('style_and_presentation_panel.title') %></h1>
      <h2 class="content-panel-description"><%= I18n.t('style_and_presentation_panel.description') %></h2>
      <div class="theme-list">
        <% @theme_list.each do |theme| %>
          <div class="theme" data-theme="<%= theme['id'] %>">
            <h4 class="theme-title"><%= theme['title'] %></h4>
            <div class="theme-sample">
              <img src="<%= asset_path(theme['imagePreview']) %>" alt="<%= theme['description'] %>" draggable="false">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <div class="styled-theme-list-error hidden"><%= I18n.t('style_and_presentation_panel.render_error') %></div>
</div>
