<header>
  <a href="#" class="story-title" role="button">Story</a>
  <div class="header-right">
    <ul class="menu">
      <li>
        <button class="btn undo-btn" disabled="disabled">Undo</button>
      </li>
      <li>
        <button class="btn redo-btn" disabled="disabled">Redo</button>
      </li>
      <li>
        <a class="add-content-panel-btn" role="button" href="#">+ Add Content</a>
      </li>
      <li>
        <a class="style-panel-btn" role="button" href="#">Style &amp; Presentation</a>
      </li>
  </div>
</header>

<section class="add-content-panel">
  <div class="close-content-panel-btn">
    <a role="button" href="#" title="Close">
      <span class="icon-cross2"></span>
    </a>
  </div>
  <section>
    <h1><%= I18n.t('add_content_panel.common_blocks') %></h1>
    <hr></hr>
    <div class="scrollable">
      <div class="inspiration-block-list">
        <%= render 'content_panel' %>
      </div>
    </div>
  </section>
  <div class="inspiration-block-list-error hidden"><%= I18n.t('add_content_panel.render_error') %></div>
</section>

<section id="rich-text-editor-toolbar"></section>

<main class="user-story-container">

  <div class="user-story">
    <p class="message-warning"></p>
  </div>

  <div id="story-insertion-hint" class="hidden"></div>

</main>

<button class="btn preview-btn">Preview</button>

<div id="embed-wizard" class="modal hidden"></div>

<div id="block-ghost" class="block hidden"></div>

<script type="text/javascript">
  // Pass setup data from ruby to javascript
  userStoryData = <%== @story.to_json %>;
  sampleBlocks = <%== generate_sample_blocks.to_json %>;
</script>

<%= render 'shared/i18n_for_js' %>
