<header class="header-main">
  <button data-panel-toggle="settings-panel" class="icon-stories-menu settings-panel-btn"></button>
  <button class="story-title" role="button" data-panel-toggle="settings-panel"></button>
  <div class="menu-divider"></div>
  <div id="story-publication-status" class="status-indicator"></div>
  <div id="story-saving-indicator" class="status-indicator"></div>
  <div class="header-right">
    <ul class="menu">
      <li>
        <button class="btn-transparent undo-btn" disabled="disabled" title="undo">
          <span class="icon-undo"></span>
        </button>
      </li>
      <li>
        <button class="btn-transparent redo-btn" disabled="disabled" title="redo">
          <span class="icon-redo"></span>
        </button>
      </li>
      <li class="menu-divider"></li>
      <li>
        <a class="btn-transparent preview-btn" role="button" href="/stories/s/<%= @story.uid %>/preview" target="_blank">Preview <span class="icon-preview"></span></a>
      </li>
      <li>
        <button class="btn-transparent panel-btn content-panel-btn" data-panel-toggle="add-content-panel"><span class="icon-plus3"></span> Add Content</button>
      </li>
      <li>
        <button class="btn-transparent panel-btn style-panel-btn" data-panel-toggle="style-and-presentation-panel">Style &amp; Presentation</button>
      </li>
  </div>
</header>

<%= render 'settings_panel' %>
<%= render 'add_content_panel' %>
<%= render 'style_and_presentation_panel' %>

<div id="story-save-error-bar"></div>
<div id="rich-text-editor-toolbar-wrapper">
  <section id="rich-text-editor-toolbar"></section>
</div>

<main class="user-story-container">

  <div class="user-story">
    <p class="message-warning"></p>
  </div>

  <div id="story-insertion-hint" class="hidden"></div>

</main>

<div id="asset-selector-container" class="modal hidden"></div>

<div id="block-ghost" class="block hidden"></div>


<script>
  // Pass setup data from ruby to javascript
  userStoryData = <%== user_story_json %>;
  publishedStory = <%== @published_story.to_json %>;
</script>

<%= render 'shared/i18n_for_js' %>
<%= render 'shared/app_config_for_js' %>
