<header>
  <button data-panel-toggle="settings-panel" class="icon-cog settings-panel-btn"></button>
  <a href="#" class="story-title" role="button" data-panel-toggle="settings-panel"></a>
  <div class="header-right">
    <ul class="menu">
      <li>
        <button class="btn undo-btn" disabled="disabled">Undo</button>
      </li>
      <li>
        <button class="btn redo-btn" disabled="disabled">Redo</button>
      </li>
      <li>
        <button class="btn content-panel-btn" data-panel-toggle="add-content-panel">+ Add Content</button>
      </li>
      <li>
        <button class="btn content-panel-btn" data-panel-toggle="style-and-presentation-panel">Style &amp; Presentation</button>
      </li>
  </div>
</header>

<%= render 'settings_panel' %>
<%= render 'add_content_panel' %>
<%= render 'style_and_presentation_panel' %>

<section id="rich-text-editor-toolbar"></section>

<main class="user-story-container">

  <div class="user-story">
    <p class="message-warning"></p>
  </div>

  <div id="story-insertion-hint" class="hidden"></div>

</main>

<button class="btn preview-btn">Preview</button>

<div id="asset-selector-container" class="modal hidden"></div>

<div id="block-ghost" class="block hidden"></div>

<script>
  // Pass setup data from ruby to javascript
  userStoryData = <%== user_story_json %>;
  sampleBlocks = <%== generate_sample_blocks.to_json %>;
</script>

<%= render 'shared/i18n_for_js' %>
<%= render 'shared/app_config_for_js' %>
