<header class="header-main">
  <button data-panel-toggle="settings-panel" class="icon-stories-menu settings-panel-btn"></button>
  <button class="story-title" role="button" data-panel-toggle="settings-panel"></button>
  <div class="menu-divider"></div>
  <div id="story-publication-status" class="status-indicator"></div>
  <div id="story-saving-indicator" class="status-indicator"></div>
  <div class="header-right">
    <ul class="menu">
      <li>
        <button class="btn-transparent undo-btn" disabled="disabled" title="undo">
          <span class="icon-undo"></span>
        </button>
      </li>
      <li>
        <button class="btn-transparent redo-btn" disabled="disabled" title="redo">
          <span class="icon-redo"></span>
        </button>
      </li>
      <li class="menu-divider"></li>
      <li>
        <a class="btn-transparent preview-btn" role="button" href="/stories/s/<%= @story.uid %>/preview" target="_blank">Preview <span class="icon-preview"></span></a>
      </li>
      <li>
        <button class="btn-transparent panel-btn content-panel-btn" data-panel-toggle="add-content-panel"><span class="icon-plus3"></span> Add Content</button>
      </li>
      <li>
        <button class="btn-transparent panel-btn style-panel-btn" data-panel-toggle="style-and-presentation-panel">Style &amp; Presentation</button>
      </li>
  </div>
</header>

<%= render 'settings_panel' %>
<%= render 'add_content_panel' %>
<%= render 'style_and_presentation_panel' %>

<div id="story-save-error-bar"></div>
<div id="rich-text-editor-toolbar-wrapper">
  <section id="rich-text-editor-toolbar"></section>
</div>

<main class="user-story-container">

  <div class="user-story">
    <p class="message-warning"></p>
  </div>

  <div id="story-insertion-hint" class="hidden"></div>

</main>

<div id="asset-selector-container"></div>
<div id="make-a-copy-container"></div>
<div id="error-modal-container" class="hidden">
  <div class="modal-warning">
    <span class="icon-warning"></span>
    <span class="error-warning-message"></span>
  </div>
  <div class="modal-button-group r-to-l">
    <button class="btn-reload btn-inverse"><%= t('editor.modal.buttons.reload') %></button>
    <button class="btn-ok btn-primary"><%= t('editor.modal.buttons.ok') %></button>
  </div>
</div>

<div id="link-modal" class="hidden">
  <div class="modal-input-group">
    <label for="display-text" class="modal-input-label"><%= t('editor.rich_text_toolbar.link_modal.display_label') %></label>
    <input type="text" id="display-text" class="modal-input" placeholder="Text to Link">
  </div>

  <div class="modal-input-group">
    <label for="link-text" class="modal-input-label">
      <%= t('editor.rich_text_toolbar.link_modal.link_label') %>
      <a href="" class="link-test-link-action"><%= t('editor.rich_text_toolbar.link_modal.test_link') %></a>
    </label>
    <input type="url" id="link-text" class="modal-input" placeholder="http://helloworld.com">
    <span class="link-warning invisible">
      <span class="icon-warning"></span>
      <%= t('editor.rich_text_toolbar.link_modal.warning_message') %>
    </span>
  </div>

  <div class="modal-input-group">
    <input type="checkbox" id="open-in-new-window" class="modal-input">
    <label for="open-in-new-window" class="modal-input-label">
      <span class="icon-checkmark3"></span>
      <%= t('editor.rich_text_toolbar.link_modal.open_in_new_window') %>
    </label>
  </div>

  <div class="modal-button-group r-to-l">
    <button class="btn-default btn-inverse" data-action="LINK_MODAL_CLOSE"><%= t('editor.modal.buttons.cancel') %></button>
    <button class="btn-primary" data-action="LINK_MODAL_ACCEPT"><%= t('editor.modal.buttons.ok') %></button>
  </div>
</div>

<div id="block-ghost" class="block hidden"></div>


<script>
  // Pass setup data from ruby to javascript
  currentUser = <%== current_user.to_json %>;
  currentUserAuthorization = <%== current_user_authorization.to_json %>;
  userStoryData = <%== user_story_json %>;
  publishedStory = <%== @published_story.to_json %>;
</script>

<%= render 'shared/i18n_for_js' %>
<%= render 'shared/app_config_for_js' %>
