<%
# Responsible for:
# - Storing data for sidebar inspiration blocks
#
# This is .json.erb so that we can translate the default content
# and use asset path helpers.
#
# Oddities: The excessive <br> tags is so our default content matches
# exactly what Squire will generate. If it did not, we would fire
# content change events on initial Story Render.
%>
{
  "blocks": [
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/magic-12.svg") %>",
      "blockContent": {
        "id": "sample0",
        "layout": "12",
        "components": [
          {
            "type": "socrataVisualization",
            "value": {
              "type": "column",
              "value": {
                "domain": "dataspace.demo.socrata.com",
                "fourByFour": "r6t9-rak2",
                "baseQuery": "SELECT `category` AS {0}, COUNT(*) AS {1} GROUP BY `category` ORDER BY COUNT(*) DESC NULL LAST LIMIT 200"
              }
            }
          }
        ]
      }
    },
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/title-12.svg") %>",
      "blockContent": {
        "id": "sample1",
        "layout": "12",
        "components": [
          {
            "type": "text",
            "value": "<h1 class='text-center title'><%= I18n.t('inspiration_blocks.title_block.heading') %><br></h1>"
          }
        ]
      }
    },
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/text-12.svg") %>",
      "blockContent": {
        "id": "sample6",
        "layout": "12",
        "components": [
          {
            "type": "text",
            "value": "<%=
            [
              "<h1>#{I18n.t('inspiration_blocks.text_block.heading')}</h1>",
              "<div><i>#{I18n.t('inspiration_blocks.generic_intro_sentence')}</i> ",
              "#{I18n.t('inspiration_blocks.text_block.content')}",
              "</div>"
            ].join('').html_safe %>"
          }
        ]
      }
    },
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/text-12-mixed-content.svg") %>",
      "blockContent": {
        "id": "sample7",
        "layout": "12",
        "components": [
          {
            "type": "text",
            "value": "<%= # Join array for sane HTML scanning
            [
              "<h1>#{I18n.t('inspiration_blocks.text_mixed_content_block.heading')}<br></h1>",
              "<div>",
                "<i>#{I18n.t('inspiration_blocks.generic_intro_sentence')}</i> ",
                "#{I18n.t('inspiration_blocks.text_mixed_content_block.main_content')}",
              "</div>",
              "<h4>#{I18n.t('inspiration_blocks.text_mixed_content_block.subheading')}</h4>",
              "<ul>",
                "<li>#{I18n.t('inspiration_blocks.text_mixed_content_block.list.item1')}</li>",
                "<li>#{I18n.t('inspiration_blocks.text_mixed_content_block.list.item2')}</li>",
                "<li>#{I18n.t('inspiration_blocks.text_mixed_content_block.list.item3')}</li>",
                "<li>#{I18n.t('inspiration_blocks.text_mixed_content_block.list.item4')}</li>",
              "</ul>"
            ].join('').html_safe %>"
          }
        ]
      }
    },
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/text-12-blockquote.svg") %>",
      "blockContent": {
        "id": "sample9",
        "layout": "12",
        "components": [
          {
            "type": "text",
            "value": "<blockquote><%= I18n.t('inspiration_blocks.blockquote_block.quote') %><br>-<%= I18n.t('inspiration_blocks.blockquote_block.author') %></blockquote>"
          }
        ]
      }
    },
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/text-6-6.svg") %>",
      "blockContent": {
        "id": "sample2",
        "layout": "6-6",
        "components": [
          {
            "type": "text",
            "value": "<%=
            [
              "<h3>#{I18n.t('inspiration_blocks.text_6_6.heading1')}</h3>",
              "<div><i>#{I18n.t('inspiration_blocks.generic_intro_sentence')}</i> ",
              "#{I18n.t('inspiration_blocks.text_6_6.content1')}",
              "</div>"
            ].join('').html_safe %>"
          },
          {
            "type": "text",
            "value": "<%=
            [
              "<h3>#{I18n.t('inspiration_blocks.text_6_6.heading2')}</h3>",
              "<div><i>#{I18n.t('inspiration_blocks.generic_intro_sentence')}</i> ",
              "#{I18n.t('inspiration_blocks.text_6_6.content2')}",
              "</div>"
            ].join('').html_safe %>"
          }
        ]
      }
    },
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/text-8-4.svg") %>",
      "blockContent": {
        "id": "sample3",
        "layout": "8-4",
        "components": [
          {
            "type": "text",
            "value": "<%=
            [
              "<h3>#{I18n.t('inspiration_blocks.text_8_4.heading1')}</h3>",
              "<div><i>#{I18n.t('inspiration_blocks.generic_intro_sentence')}</i> ",
              "#{I18n.t('inspiration_blocks.text_8_4.content1')}",
              "</div>"
            ].join('').html_safe %>"
          },
          {
            "type": "text",
            "value": "<%=
            [
              "<h3>#{I18n.t('inspiration_blocks.text_8_4.heading2')}</h3>",
              "<div><i>#{I18n.t('inspiration_blocks.generic_intro_sentence')}</i> ",
              "#{I18n.t('inspiration_blocks.text_8_4.content2')}",
              "</div>"
            ].join('').html_safe %>"
          }
        ]
      }
    },
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/text-4-4-4.svg") %>",
      "blockContent": {
        "id": "sample5",
        "layout": "4-4-4",
        "components": [
          {
            "type": "text",
            "value": "<%=
            [
              "<h3>#{I18n.t('inspiration_blocks.text_4_4_4.heading1')}</h3>",
              "<div><i>#{I18n.t('inspiration_blocks.generic_intro_sentence')}</i> ",
              "#{I18n.t('inspiration_blocks.text_4_4_4.content1')}",
              "</div>"
            ].join('').html_safe %>"
          },
          {
            "type": "text",
            "value": "<%=
            [
              "<h3>#{I18n.t('inspiration_blocks.text_4_4_4.heading2')}</h3>",
              "<div><i>#{I18n.t('inspiration_blocks.generic_intro_sentence')}</i> ",
              "#{I18n.t('inspiration_blocks.text_4_4_4.content2')}",
              "</div>"
            ].join('').html_safe %>"
          },
          {
            "type": "text",
            "value": "<%=
            [
              "<h3>#{I18n.t('inspiration_blocks.text_4_4_4.heading3')}</h3>",
              "<div><i>#{I18n.t('inspiration_blocks.generic_intro_sentence')}</i> ",
              "#{I18n.t('inspiration_blocks.text_4_4_4.content3')}",
              "</div>"
            ].join('').html_safe %>"
          }
        ]
      }
    },
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/element-rule.svg") %>",
      "blockContent": {
        "id": "element-rule",
        "layout": "12",
        "components": [
          {
            "type": "layout",
            "value": "horizontalRule"
          }
        ]
      }
    },
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/element-spacer.svg") %>",
      "blockContent": {
        "id": "element-spacer",
        "layout": "12",
        "components": [
          {
            "type": "layout",
            "value": "spacer"
          }
        ]
      }
    },
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/media-12.svg") %>",
      "blockContent": {
        "id": "media-12",
        "layout": "12",
        "components": [
          {
            "type": "media",
            "value": {
              "type": "embed",
              "value": {
                "provider": "wizard"
              }
            }
          }
        ]
      }
    },
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/media-6-6.svg") %>",
      "blockContent": {
        "id": "media-6-6",
        "layout": "6-6",
        "components": [
          {
            "type": "media",
            "value": {
              "type": "embed",
              "value": {
                "provider": "wizard"
              }
            }
          },
          {
            "type": "media",
            "value": {
              "type": "embed",
              "value": {
                "provider": "wizard"
              }
            }
          }
        ]
      }
    },
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/media-text-6-6.svg") %>",
      "blockContent": {
        "id": "media-text-6-6",
        "layout": "6-6",
        "components": [
          {
            "type": "media",
            "value": {
              "type": "embed",
              "value": {
                "provider": "wizard"
              }
            }
          },
          {
            "type": "text",
            "value": "<%=
            [
              "<div><i>#{I18n.t('inspiration_blocks.generic_intro_sentence')}</i> ",
              "#{I18n.t('inspiration_blocks.media_text_6_6.content')}",
              "</div>"
            ].join('').html_safe %>"
          }
        ]
      }
    },
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/text-media-6-6.svg") %>",
      "blockContent": {
        "id": "text-media-6-6",
        "layout": "6-6",
        "components": [
          {
            "type": "text",
            "value": "<%=
            [
              "<div><i>#{I18n.t('inspiration_blocks.generic_intro_sentence')}</i> ",
              "#{I18n.t('inspiration_blocks.media_text_6_6.content')}",
              "</div>"
            ].join('').html_safe %>"
          },
          {
            "type": "media",
            "value": {
              "type": "embed",
              "value": {
                "provider": "wizard"
              }
            }
          }
        ]
      }
    },
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/media-text-8-4.svg") %>",
      "blockContent": {
        "id": "media-text-8-4",
        "layout": "8-4",
        "components": [
          {
            "type": "media",
            "value": {
              "type": "embed",
              "value": {
                "provider": "wizard"
              }
            }
          },
          {
            "type": "text",
            "value": "<%=
            [
              "<div><i>#{I18n.t('inspiration_blocks.generic_intro_sentence')}</i> ",
              "#{I18n.t('inspiration_blocks.media_text_8_4.content')}",
              "</div>"
            ].join('').html_safe %>"
          }
        ]
      }
    },
    {
      "imagePreview": "<%= asset_path("editor/iconic-blocks/text-media-4-8.svg") %>",
      "blockContent": {
        "id": "text-media-4-8",
        "layout": "4-8",
        "components": [
          {
            "type": "text",
            "value": "<%=
            [
              "<div><i>#{I18n.t('inspiration_blocks.generic_intro_sentence')}</i> ",
              "#{I18n.t('inspiration_blocks.text_media_4_8.content')}",
              "</div>"
            ].join('').html_safe %>"
          },
          {
            "type": "media",
            "value": {
              "type": "embed",
              "value": {
                "provider": "wizard"
              }
            }
          }
        ]
      }
    }
  ]
}
