<div class="user-story-container">
  <div class="user-story large theme-<%= @story.theme %>">
    <% @story.blocks.each do |block| -%>
      <% layout_columns = block.layout.split('-') %>

      <div class="block">
        <% block.components.each_with_index do |component, index| %>
          <div class="<%= component_container_classes(layout_columns[index]) %>">

            <div class="<%= component_classes(component['type']) %>" data-component-data="<%= component.to_json %>" >

              <%= render partial: component_partial_name(component['type']),
                    locals: { component: component } %>

            </div>

          </div>
        <% end %>
      </div>

    <% end -%>

  </div>
</div>

<%= render partial: 'stories/partials/presentation_mode' %>
