<div class="tile-container theme-<%= @tile_properties[:theme] %>">
  <div class="tile typeset">

    <h1 class="tile-title"><%= @tile_properties[:title] %></h1>

    <% if @tile_properties[:image].present? %>
      <div class="tile-image" style="background-image: url('<%= @tile_properties[:image] %>');'"></div>
    <% else %>
      <div class="tile-image"></div>
    <% end %>

    <% if @tile_properties[:description].present? %>
      <p class="tile-description"><%= @tile_properties[:description] %></p>
    <% else %>
      <p class="tile-no-description"><%= t('tile.no_description_label') %></p>
    <% end %>

    <div class="tile-link-container">
      <p class="tile-link">
        <%= t('tile.read_more_prompt') %>
        <a
          href="<%= @tile_properties[:url] %>"
          title="<%= "#{t('tile.read_more_prompt')}#{@tile_properties[:url]}" %>"
          target="_blank">
          <%= @tile_properties[:url] %>
        </a>
      </p>
    </div>

    <div class="tile-loading">
      <div class="tile-loading-spinner"></div>
    </div>

  </div>
</div>
