<%- content_for :head do -%>
  <title><%= t('screens.oauth.authorize.title') %> | <%= get_site_title %></title>
  <%= rendered_stylesheet_tag 'oauth-authorize' %>
<%- end -%>

<div class="modalContentBox wide">
  <div class="contentHeader">
    <h1><%= t('screens.oauth.authorize.content_header', :app_name => @app_token.name) %></h1>
  </div>

  <div class="dialogContents">
    <%- if @app_token.has_thumbnail? -%>
      <div class="thumbnail thumbnailArea">
        <img src="<%= @app_token.thumbnail_url 'large' %>" alt="thumbnail" />
      </div>
    <%- end -%>

    <div class="textArea">
      <h2>
        <%- if @app_token.website.present? -%>
          <strong><%= link_to @app_token.name, @app_token.website, :rel => 'external' %></strong>
        <%- else -%>
          <strong><%= @app_token.name %></strong>
        <%- end -%>
        <%= t('screens.oauth.authorize.body_header_html') %>
      </h2>
      <p>
        <%= t('screens.oauth.authorize.body_html') %>
      </p>
      <p>
        <%= t('screens.oauth.authorize.choose_html') %>
      </p>
    </div>

    <div class="buttonArea">
      <%= form_tag "/oauth/do_authorize?#{@oauth_params.to_param}" do -%>
        <input type="submit" value="<%= t('screens.oauth.authorize.button_allow') %>" class="button default"/>
      <%- end -%>
      <a href="<%= @redirect_uri %>" class="button"><%= t('screens.oauth.authorize.button_cancel') %></a>
    </div>
  </div>
</div>
