<footer id="site-chrome-footer" template="<%= current_template %>">
  <div class="content">
    <div class="logo">
      <%= logo(get_site_chrome.footer) %>
      <span class="site-name"><%= footer_title %></span>

      <div class="site-chrome-social-links">
        <%= render 'site_chrome/social_links', show_label: true %>
      </div>
    </div>

    <div class="links">
      <ul class="links-col">
        <% valid_links(get_site_chrome.footer[:links]).each do |link| %>
          <li>
            <%= link_to(localized("footer.links.#{link[:key]}", get_site_chrome.locales), link[:url], :class => 'footer-link') %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <%- if show_copyright? -%>
    <div class="copyright">
      <%= copyright %>
    </div>
  <%- end -%>
</footer>
