<footer id="site-chrome-footer" class="<%= local_assigns[:size] %>">
  <div class="footer-content <%= footer_title.present? ? '' : 'centered' %>">
    <div class="logo">
      <a href="/">
        <%= logo(get_site_chrome.footer) %>
        <% if footer_title.present? %>
          <span class="site-name"><%= footer_title %></span>
        <% end %>
      </a>
    </div>
    <div class="links">
      <ul class="links-col">
        <% valid_links(get_site_chrome.footer[:links]).each do |link| %>
          <li>
            <%= link_to(localized("footer.links.#{link[:key]}", get_site_chrome.locales), link[:url], :class => 'footer-link') %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="addendum">
      <%- if show_powered_by? -%>
        <span class="powered-by-socrata">
          <span class="powered-by">Powered By</span> <!-- TODO: localization -->
          <img class="logo" alt="Socrata" src="<%= powered_by_logo_src %>" />
        </span>
      <%- end -%>

      <div class="site-chrome-social-links">
        <%= render 'site_chrome/social_links' %>
      </div>

      <%- if show_copyright? -%>
        <div class="site-chrome-copyright">
          <%= copyright %>
        </div>
      <%- end -%>

    </div>
  </div>
</footer>
