<header id="chrome-header">
  <div class="banner">
    <%= link_to(@header[:logo][:href], class: 'logo') do
      logo(@header) << content_tag(:span, site_name, :class => 'site-name')
    end %>

    <nav class="desktop">
      <%= render 'nav_links' %>

      <%= content_tag(:span, nil, :class => 'divider') %>

      <%= render 'social_links', show_label: false %>

      <%= render 'user_actions' %>
    </nav>

    <nav class="mobile">
      <a class="btn menu-toggle" href="#">
        <span class="icon-hamburger"></span>
        Menu
      </a>
    </nav>
  </div>

  <%= render 'mobile_menu' %>

</header>
