<div class="user-actions noselect">
  <%- if show_signin_signout? %>
    <%- if logged_in? %>
      <%- profile_link = capture do %>
        <%= link_to(t('header.view_profile'), '/profile', :class => 'profile-link') %>
      <%- end if show_profile? %>
      <%- admin_link = capture do %>
        <%= link_to(t('header.administration'), '/admin', :class => 'admin-link') %>
      <%- end if current_user_can_see_admin_link? %>
      <%- logout_link = capture do %>
        <%= link_to(t('header.sign_out'), '/logout', :class => 'logout-link') %>
      <%- end %>
      <%= dropdown("#{username}", [ profile_link, admin_link, logout_link ]) %>
    <% else %>
      <%= link_to(t('header.sign_in'), '/login', :class => "sign-in-toggle site-chrome-btn") %>
    <% end %>
  <%- elsif current_user_can_see_admin_link? %>
    <%= link_to(t('header.administration'), '/admin', :class => 'admin-link in-header') %>
  <%- end %>
</div>
