<div class="user-actions noselect">
  <%- if show_signin_signout? %>
    <%- if logged_in? %>
      <%- profile_link = capture do %>
        <%= link_to('View Profile', '/profile', :class => 'profile-link') %>
      <%- end if show_profile? %>
      <%- admin_link = capture do %>
        <%= link_to('Administration', '/admin', :class => 'admin-link') %>
      <%- end if current_user_can_modify_site_chrome? %>
      <%- logout_link = capture do %>
        <%= link_to('Sign Out', '/logout', :class => 'logout-link') %>
      <%- end %>
      <%= dropdown("#{username}", [ profile_link, admin_link, logout_link ]) %>
    <% else %>
      <%= link_to('Sign In', '/login', :class => "sign-in-toggle site-chrome-btn") %>
    <% end %>
  <%- elsif current_user_can_modify_site_chrome? %>
    <%= link_to('Administration', '/admin', :class => 'admin-link in-header') %>
  <%- end %>
</div>
