<%== site_chrome_admin_header(request, response) if render_admin_header? && action_name != 'preview' %>
<%== site_chrome_header(request, response) %>

<% if should_load_print_styles? %>
  <div class="print-warning alert warning"><%= t('print_mode.render_warning') %>
    <a
      rel="external"
      target="_blank"
      href="https://support.socrata.com/hc/en-us/articles/234584128-Printing-pages-with-Perspectives"><%= t('print_mode.help_link') %></a>
  </div>
<% end %>

<div id="content" class="user-story-container">

  <div class="user-story large theme-<%= @story.theme %>" role="main">
    <% @story.blocks.each do |block| -%>
      <% layout_columns = block.layout.split('-') -%>

      <div class="block" <%= 'data-presentable' if block.presentable %>>
        <% if block.layout == '12-12-12-12' -%>

          <!-- Couple two 12's together and wrap them with a .col6 -->
          <% [block.components.slice(0, 2), block.components.slice(2, 2)].each do |chunk| -%>
            <div class="col6">
              <% chunk.each_with_index do |component, index| -%>
                <%=
                  render(
                    partial: 'stories/partials/component',
                    locals: {
                      index: index,
                      layout_columns: layout_columns,
                      component: component
                    }
                  )
                %>
              <% end -%>
            </div>
          <% end -%>

        <% else -%>

          <% block.components.each_with_index do |component, index| %>
            <%=
              render(
                partial: 'stories/partials/component',
                locals: {
                  index: index,
                  layout_columns: layout_columns,
                  component: component
                }
              )
            %>
          <% end -%>

        <% end %>
      </div>
    <% end -%>

  </div>

</div>
<%== site_chrome_footer(request, response) %>

<%= render(partial: 'stories/partials/presentation_mode') %>
