<% content_for :head do %>
  <title><%= CurrentDomain.set? ? CurrentDomain.strings.site_title : 'Socrata' %></title>
  <%= rendered_stylesheet_tag 'error-pages' %>
<% end %>

<div class="modalContentBox siteContent">
  <div class="contentHeader">
    <h1><%= t 'error.not_found_404.page_not_found'  %></h1>
  </div>
  <div class="contentBoxInner clearfix notFound">
    <div class="icon errorIcon"></div>

    <p class="subheadline"><%= t 'error.not_found_404.were_sorry'  %></p>
    <p class="body"><%= t 'error.not_found_404.description_html'  %></p>

    <div class="goSomewhere">
      <span class="labelText"><%= t 'error.not_found_404.back_to'  %></span> <a href="<%= root_path %>" class="button default"><%= CurrentDomain.cname %></a>
    </div>
  </div>
</div>

<%= render_translations LocalePart.error.not_found_404 %>
