<% content_for :head do %>
  <%= stylesheet_link_tag "home-screen" %>
  <title>My <%= CurrentDomain.strings.company %> | <%= CurrentDomain.strings.site_title %></title>
<% end %>



<div class="twoColumnContainer tabContainer clearfix">
  <div id="mainColumnContent" class="column mainContent">
    <div id='home'>
      <%= render(:partial => "shared/tabs") %>
      <div class='outerContent'>
        <div class='contentHighlight'>
          <div class='content'>
            <h1>Welcome back <%= current_user.is_established? ? h(current_user.login) : h(current_user.firstName) %></h1>

            <ul class="actionButtons clearfix">
              <% if (module_enabled?(:community_creation) || CurrentDomain.member?(current_user)) %>
                <li>
                  <%= link_to("Design a #{t(:blist_name).titleize}", {:controller => "blists", :action => "new"}, 
                      :class => 'arrowButton', 
                      :title => "Design a new #{t(:blist_name)}.") %>
                </li>
                <li>
                  <%= link_to("Upload Data", {:controller => "blists", :action => "upload"},
                      :class => "import",
                      :title => "Upload a CSV, TSV, XLS, XLSX, or XML file and we'll convert it into a #{t(:blist_name)}.") %>
                </li>
              <% end %>

              <li><%= link_to("Browse Community #{t(:blists_name).titleize}", root_path, :title => "See what #{t(:blist_name).pluralize} others have created",
                    :class => "browse") %></li>
              <li class="last"><%= link_to("Invite Others", invite_path, :title => "Invite others to try #{CurrentDomain.strings.company}", :rel => "modal") %></li>
            </ul>

            <%- if (!current_user.is_established? && module_enabled?(:community_creation)) -%>
              <%= render(:partial => "shared/feature_boxes") %>
            <%- end -%>

            <%- if (@recently_opened_blists.length > 0) -%>
              <div class="activityListContainer">
                <h2>Recently Opened <%= t(:blists_name) %></h2>
                <ul>
                  <%= render( :partial => "blist_activity_list_item", 
                              :collection => @recently_opened_blists) %>
                </ul>
                <p class="listAction"><%= link_to("View All", blists_path) %></p>
              </div>
            <%- end -%>

            <%- if (@favorite_blists.length > 0) -%>
              <div class="activityListContainer">
                <h2>Favorite <%= t(:blists_name) %></h2>
                <ul class="favoriteList">
                  <%= render( :partial => "blist_activity_list_item", 
                              :collection => @favorite_blists) %>
                </ul>
                <p class="listAction"><%= link_to("View All Favorites", "/datasets?type=favorite") %></p>
              </div>
            <%- end -%>

            <%- if (@contacts_activities.length > 0) -%>
              <div class="activityListContainer">
                <h2>Friends Updates</h2>
                <ul class="contactList">
                  <%= render( :partial => "contact_activity_list_item",
                              :collection => @contacts_activities) %>
                </ul>
                <p class="listAction"><%= link_to("View All", activities_community_path) %></p>
              </div>
            <%- end -%>

            <%- if (@feed_items.present? && @feed_items.length > 0) -%>
              <div class="activityListContainer">
                <h2>From the Blog</h2>
                <ul>
                  <%= render( :partial => "blog_activity_list_item",
                              :collection => @feed_items) %>
                </ul>
                <p class="listAction"><a href="<%= @feed_url %>">View Blog</a></p>
              </div>
            <%- end -%>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column">
    <% render(:layout => "shared/sidebar_box") do %>
      <%= render(:partial => "shared/current_user_tile", :locals => { :user => current_user }) %>
    <% end %>

    <%- # only show updates if the user has > 3 total blists -%>
    <%- if false -%>
    <%- if (current_user.is_established?) -%>
      <% render(:layout => "shared/sidebar_box",
        :locals => { :content_class => 'userUpdates' } ) do %>
        <%= render(:partial => "shared/user_updates", :locals => { :user => current_user }) %>
      <% end %>
    <%- end -%>
    <%- end -%>

    <%- # Storage space used is not yet applicable -%>
    <%- if false -%>
      <% render(:layout => "shared/sidebar_box") do %>
        <h4>Storage</h4>
        <p>You are using 50% of your available storage</p>
      <% end %>
    <%- end -%>

  </div>
</div>

<% content_for :js_footer do %>
  <%= javascript_include_merged 'shared-common-all' %>
  <%= javascript_include_merged 'homes-show' %>
<% end %>
