<% if @nominations.size == 0 %>
<div class="nominationList-row clearfix">
    <p class="noItems">
    There are no nomintations at this time. 
    </p>
</div>
<% end %>

<% @nominations.each do |nomnomnom| %>
<div class="nominationList-row clearfix">

  <div class="nominationList-cell nominationList-statusColumn">
    <div class="<%= friendly_status(nomnomnom).downcase %>">
      <%= friendly_status(nomnomnom) %>

      <% if current_user && current_user.is_premium? # REMOVE THIS WHEN WE HAVE A SETTING FOR NOMINATIONS ON A PER-ORG BASIS 
      %> 
        <% if nomnomnom.status == "pending" || nomnomnom.status == "rejected" %>
          <%= link_to("Accept", "/nominations/#{nomnomnom.id}.json", :title => "Accept this nomination", :class => "acceptNomination") %>
        <% end %>

        <% if nomnomnom.status == "pending" || nomnomnom.status == "approved" %>
          <%= link_to("Reject", "/nominations/#{nomnomnom.id}.json", :title => "Reject this nomination", :class => "rejectNomination") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="nominationList-cell nominationList-authorColumn">
    <a href="<%= nomnomnom.user.href%>" class="nominationAuthorLink">
      <%= image_tag nomnomnom.user.profile_image_path("small"), 
                    :alt => nomnomnom.user.displayName,
                    :class => "nominationAuthorImage" %>
      <p class="nominationAuthorName"><%= nomnomnom.user.displayName %></p>
    </a>
  </div>

  <div class="nominationList-cell nominationList-nominationColumn">
    <div class="nominationVotes">
      <p class="nominationNet"><%= nomnomnom.netVotes %></p>
      <% if !current_user.nil? %>
          <a class="rateNomination rateUp" href="/nominations/<%= nomnomnom.id %>/ratings.json?thumbsUp=true" title="I like it">I like it</a>
          <a class="rateNomination rateDown" href="/nominations/<%= nomnomnom.id %>/ratings.json?thumbsUp=false" title="I don't like it">I like it</a>
      <% end %>
    </div>
    <div class="<%= current_user && current_user.is_premium? ? 'inlineEdit' : '' %>">
      <span class="nominationTitle"><%= h(nomnomnom.title) %></span>
      <% if current_user && current_user.is_premium? # REMOVE THIS WHEN WE HAVE A SETTING FOR NOMINATIONS ON A PER-ORG BASIS 
      %> 
        <% form_tag("/nominations/#{nomnomnom.id}.json", :class => "title") do %>
          <%= text_field_tag("title", nomnomnom.title) %>
          <a href="#cancel" class="close" title="Cancel">Cancel</a>
        <% end %>
      <% end %>
    </div>
    <p class="nominationTimestamp">
      <%= blist_long_date(nomnomnom.createdAt) %>
      <span>(<%= friendly_relative_time(nomnomnom.createdAt) %>)</span>
    </p>
    <div class="<%= current_user && current_user.is_premium? ? 'inlineEdit' : '' %>">
      <p class="nominationBody">
        <%= auto_link(h(nomnomnom.description)) %>
      </p>
      <% if current_user && current_user.is_premium? # REMOVE THIS WHEN WE HAVE A SETTING FOR NOMINATIONS ON A PER-ORG BASIS 
      %> 
        <% form_tag("/nominations/#{nomnomnom.id}.json", :class => "description") do %>
          <%= text_area_tag("description", nomnomnom.description) %>
          <a href="#cancel" class="close" title="Cancel">Cancel</a>
        <% end %>
      <% end %>
    </div>

    <% if !nomnomnom.attachments.nil? %>
    <div class="attachmentsTitle">
      <div class="title">Attachment</div>
      <ul class="attachments">
          <% nomnomnom.attachments.each do |a| %>
            <li>
              <%= 
                filename = truncate(a.filename, :omission => " ...", :length => 55)
                link_to(filename, "/nominations/#{nomnomnom.id}/attachments/#{a.id}", :title => a.filename) 
              %>
              <% if current_user && current_user.is_premium? # REMOVE THIS WHEN WE HAVE A SETTING FOR NOMINATIONS ON A PER-ORG BASIS 
              %> 
                (<%= link_to("Delete", "/nominations/#{nomnomnom.id}/attachments/#{a.id}", :title => "Delete", :class => "delete") %>)
              <% end %>
            </li>
          <% end %>
      </ul>
    </div>
    <% end %>
  </div>

</div>
<% end %>

<div class="nominationPager">
    <%= create_pagination(total, page_size, current_page, "/data/nominations" + (!status.nil? ? "?status=#{status}": "")) %>
</div>
