<div class="tabContentOuter"><div class="tabContentT"></div>
  <div class="tabContent<%= views_total == 0 ? ' noresult' : '' %>">
    <h2><%= tab_title %></h2>

    <%- if views_total > 0 -%>
      <div class="contentSort">
        <% form_tag(root_path, :class => "sortForm", :method => :get) do %>
          <p>
            <label for="sort_by_<%= type %>">Sort by</label>
            <%= select_tag("sort_by", (type == "search") ? 
                           sort_select_options_for_search(sort_by) : sort_select_options(sort_by), 
                           :id => "sort_by_" + type) %>
            <%- if @current_state['no_js'] -%>
              <%- @current_state.each_pair do |key, value| -%>
                <%= hidden_field_tag(key, value) unless value.blank? || key == 'sort_by' %>
              <%- end -%>
              <%= hidden_field_tag('type', type) %>
              <%= submit_tag('go') %>
            <%- end -%>
          </p>
        <% end %>
      </div>
      <ul class="discoverContentList">
        <%= render(:partial => "view_list_item", :collection => views) %>
      </ul>

      <div class="viewPager">
        <%= create_pagination(views_total, page_size, current_page, generate_filter_url(@current_state, type)) %>
      </div>
    <%- else -%>
      <p class="clearBoth">
        There are no <%= t(:blist_name).pluralize %> that match that filter.  Try broadening your search.
      </p>
    <%- end -%>
  </div>
<div class="tabContentB"></div></div>

<div class="tabContentNavOuter">
  <div class="tabContentNavT"></div>
  <div class="tabContentNav">
    <%- unless (type == "search") -%>
      <h2>Show <%= t(:blists_name) %></h2>
      <ul class="filterList hilightList">
        <%- if (type == "all") -%>
          <li><a href="<%= generate_filter_url(@current_state, 'popular') %>" class="tabLink popular"><span>Most popular</span></a></li>
        <%- else -%>
          <li><a href="<%= generate_filter_url(@current_state, 'all') %>" class="tabLink all"><span>All <%= t(:blists_name) %></span></a></li>
        <%- end -%>
        <%- if (!@current_user.nil?) -%>
          <li><%= link_to("<span>In my network</span>", generate_filter_url(@current_state, type, {'filter' => {"inNetwork" => "true"}}),
                  :class => "filterLink#{get_filter_hilight_class({'inNetwork' => 'true'}, current_filter, ' hilight')}") %>
          </li>
        <%- end -%>
      </ul>

      <%- if feature? :show_tags -%>
        <h2>Browse by tag</h2>
        <ul class="tagList hilightList">
          <%- tag_list.each do |tag| -%>
            <li>
              <%= link_to("<span>#{h(tag.name)}</span>", generate_filter_url(@current_state, type, {'tag' => tag.name}),
                    :class => "filterLink#{get_tag_hilight_class(tag.name, current_tag, ' hilight')}" ) %>
            </li>
          <%- end -%>
          <li class="moreLink">
            <%= link_to("More", 
                data_tags_path + generate_filter_url(@current_state, type, {}, '?'), 
                  :class => "moreTagsLink") %>
          </li>
        </ul>
      <%- end -%>

      <%- if feature? :show_categories %>
        <h2>Browse by Category</h2>
        <ul class="categoryList hilightList">
          <%- View.categories.keys.sort.each do |category| -%>
            <%- next if category.nil? || category.length == 0 -%>
            <li><%= link_to("<span>#{category}</span>", generate_filter_url(@current_state, type, {'filter' => {"category" => category}}),
                    :class => "filterLink#{get_filter_hilight_class({'category' => category}, current_filter, ' hilight')}") %></li>
          <%- end -%>
        </ul>
      <%- end -%>
    <%- end -%>
  </div>
  <div class="tabContentNavB"></div>
</div>
