<% content_for :head do %>
  <%= stylesheet_link_merged 'data-show' %>
  <title><%= CurrentDomain.strings.site_title %></title>
<% end %>

<div id="discover" class="oneColumnContainer">
  <%= render_domain_template('data_splash') %>

  <div class="simpleTabsContainer">
    <div class="simpleTabNav">
      <ul class="simpleTabs tabList clearfix">
        <%- if (@search_views && @search_views.length > 0) -%>
          <li id="tabSearch" class="active">
            <div class="wrapper"><a href="#SEARCH">Search Results</a></div>
          </li>
        <%- end -%>
        <li id="tabPopular" class="<%= @search_views.nil? ? 'even active' : 'even' %>">
          <div class="wrapper"><a href="#POPULAR">Top 100</a></div>
        </li>
        <li id="tabAll"><div class="wrapper"><a href="#ALL">All <%= t(:blists_name) %></a></div></li>
        <% if module_enabled? :dataset_nomination %>
          <li id="tabNominations" class="even">
            <div class="wrapper"><a href="#NOMINATIONS">Suggested <%= t(:blists_name) %></a></div>
          </li>
        <% elsif upsell? %>
          <li id="tabNominations" class="even disabled">
            <div class="wrapper"><a href="/popup/premium" rel="modal">Suggested <%= t(:blists_name) %></a></div>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="discoverTabSearchResults" class="tabContentContainer clearfix<%= @search_views.nil? ? '' : ' active' %>">
      <%- if (@search_views && @search_views.length > 0) -%>
        <%= render(:partial => "view_list_tab", :locals => {
          :tab_title => "Search Results for \"#{@search_term}\"",
          :views => @search_views, :views_total => @search_views_total,
          :current_page => 1, :type => "SEARCH", :current_filter => nil,
          :sort_by => nil, :tag_list => nil, :current_tag => nil,
          :search_term => @search_term, :search_debug => @search_debug, 
          :page_size => @page_size } ) %>
      <%- else -%>
        <%= render(:partial => "view_list_tab_noresult", :locals => { :term => @search_term }) %>
      <%- end -%>
    </div>
    <div id="discoverTabPopular" class="tabContentContainer clearfix<%= @search_views.nil? ? ' active' : '' %>">
      <% prerendered_cache "discover-tab-popular_#{CurrentDomain.cname}", @popular_views_rendered, :expires_in => 15.minutes do %>
        <%= render(:partial => "view_list_tab", :locals => {
          :tab_title => t(:discover_popular_content_header),
          :views => @popular_views, :views_total => @popular_views_total,
          :current_page => 1, :type => "POPULAR", :current_filter => nil,
          :sort_by => "POPULAR", :tag_list => @popular_views_tags, :current_tag => nil,
          :search_term => nil, :search_debug => nil, :page_size => @page_size }) %>
      <% end %>
    </div>
    <div id="discoverTabAll" class="tabContentContainer clearfix">
      <% prerendered_cache "discover-tab-all_#{CurrentDomain.cname}", @all_views_rendered, :expires_in => 15.minutes do %>
        <%= render(:partial => "view_list_tab", :locals => {
          :tab_title => "All #{t(:blists_name)}",
          :views => @all_views, :views_total => @all_views_total,
          :current_page => 1, :type => "ALL", :current_filter => nil,
          :sort_by => "LAST_CHANGED", :tag_list => @all_views_tags, :current_tag => nil,
          :search_term => nil, :search_debug => nil, :page_size => @page_size }) %>
      <% end %>
    </div>

    <% module_enabled :dataset_nomination do %> 
      <div id="discoverNominations" class="tabContentContainer clearfix">
        <%= render(:partial => "nominations_tab", :locals => {:nominations => @all_nominations, :total => @nominations_count, :page_size => @page_size}) %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :js_footer do %>
  <div class="jqmWindow" id="tagCloud"></div>
  <div class="jqmWindow" id="redirectedModal"></div>
  <div class="jqmWindow" id="splashModal"></div>
  <%= javascript_include_merged 'shared-common-all' %>
  <%= javascript_include_merged 'data-show' %>
  <script type="text/javascript" charset="utf-8">
    discoverNS.filterUrl = "<%= data_filter_path %>";
  </script>
<% end %>
