<% content_for :head do %>
  <%= stylesheet_link_merged 'data-show' %>
  <title><%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <%- unless params[:no_js] -%>
    <%= link_to 'Go to an accessible version of this page', "?no_js=true" %>
  <%- end -%>
<% end %>

<div id="discover" class="oneColumnContainer">
  <%= render_domain_template('data_splash') %>

  <div class="simpleTabsContainer">
    <div class="simpleTabNav">
      <ul class="simpleTabs tabList clearfix">
        <%- if @active_tab == :search -%>
          <li id="tabSearch" class="active">
            <div class="wrapper"><a href="<%= generate_filter_url(@current_state, 'search') %>">Search Results</a></div>
          </li>
        <%- end -%>
        <li id="tabPopular" class="even<%= ' active' if @active_tab == :popular %>">
          <div class="wrapper"><a href="<%= generate_filter_url(@current_state, 'popular') %>">Top 100</a></div>
        </li>
        <li id="tabAll" class="<%= 'active' if @active_tab == :all %>">
          <div class="wrapper"><a href="<%= generate_filter_url(@current_state, 'all') %>">All <%= t(:blists_name) %></a></div>
        </li>
        <% if module_enabled? :dataset_nomination %>
          <li id="tabNominations" class="even<%= ' active' if @active_tab == :nominations %>">
            <div class="wrapper"><a href="<%= generate_filter_url(@current_state, 'nominations') %>">Suggested <%= t(:blists_name) %></a></div>
          </li>
        <% elsif upsell? %>
          <li id="tabNominations" class="even disabled">
            <div class="wrapper"><a href="/popup/premium" rel="modal">Suggested <%= t(:blists_name) %></a></div>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="discoverTabSearchResults" class="tabContentContainer clearfix<%= ' active' if @active_tab == :search %>">
    <%- if @active_tab == :search -%>
      <%- if (@search_views && @search_views.length > 0) -%>
        <%= render(:partial => "view_list_tab", :locals => {
          :tab_title => "Search Results for \"#{@search_term}\"",
          :views => @search_views, :views_total => @search_views_total,
          :current_page => @current_state['page'], :type => "search", :current_filter => params[:filter],
          :sort_by => nil, :tag_list => nil, :current_tag => nil,
          :search_term => @search_term, :page_size => @page_size } ) %>
      <%- else -%>
        <%= render(:partial => "view_list_tab_noresult", :locals => { :term => @search_term }) %>
      <%- end -%>
    <%- end -%>
    </div>
    <div id="discoverTabPopular" class="tabContentContainer clearfix<%=
      ' active' if @active_tab == :popular %>">
    <%- if @active_tab == :popular -%>
      <%- mod_state = @current_state.merge(
        {'type' => 'popular', 'domain' => CurrentDomain.cname,
          'sort_by' => @current_state['sort_by'] || 'POPULARITY'}) -%>
      <% prerendered_cache cache_key('discover-tab', mod_state),
        @popular_views_rendered, :expires_in => 15.minutes do %>
        <%= render(:partial => "view_list_tab", :locals => {
          :tab_title => t(:discover_popular_content_header),
          :views => @popular_views, :views_total => @popular_views_total,
          :current_page => @current_state['page'], :type => "popular",
          :current_filter => @current_state['filter'],
          :sort_by => @current_state['sort_by'] || 'POPULARITY',
          :tag_list => @popular_views_tags,
          :current_tag => @current_state['tag'], :search_term => nil,
          :page_size => @page_size }) %>
      <% end %>
    <%- end -%>
    </div>
    <div id="discoverTabAll" class="tabContentContainer clearfix<%=
      ' active' if @active_tab == :all %>">
    <%- if @active_tab == :all -%>
      <%- mod_state = @current_state.merge(
        {'type' => 'all', 'domain' => CurrentDomain.cname,
        'sort_by' => @current_state['sort_by'] || 'LAST_CHANGED'}) -%>
      <% prerendered_cache cache_key('discover-tab', mod_state),
        @all_views_rendered, :expires_in => 15.minutes do %>
          <%= render(:partial => "view_list_tab", :locals => {
            :tab_title => "All #{t(:blists_name)}",
            :views => @all_views, :views_total => @all_views_total,
            :current_page => @current_state['page'], :type => "all",
            :current_filter => @current_state['filter'],
            :sort_by => @current_state['sort_by'] || 'LAST_CHANGED',
            :tag_list => @all_views_tags, :current_tag => @current_state['tag'],
            :search_term => nil, :page_size => @page_size }) %>
        <% end %>
    <%- end -%>
    </div>
    <%- if @active_tab == :nominations || !params[:no_js] -%>
      <% module_enabled :dataset_nomination do %>
        <div id="discoverNominations" class="tabContentContainer clearfix<%= ' active' if @active_tab == :nominations %>">
          <%= render(:partial => "nominations_tab", :locals => {:nominations => @nominations, :total => @nominations_count, :page_size => @page_size}) %>
        </div>
      <% end %>
    <%- end -%>
  </div>
</div>

<%- unless params[:no_js] -%>
  <% content_for :js_footer do %>
    <div class="jqmWindow" id="tagCloud"></div>
    <div class="jqmWindow" id="redirectedModal"></div>
    <div class="jqmWindow" id="splashModal"></div>
    <%= javascript_include_merged 'shared-common-all' %>
    <%= javascript_include_merged 'data-show' %>
    <script type="text/javascript" charset="utf-8">
      discoverNS.filterUrl = "<%= data_filter_path %>";
    </script>
  <% end %>
<%- end -%>
