<% content_for :head do %>
  <%= stylesheet_link_merged 'data-show' %>
  <title><%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <%- unless params[:no_js] -%>
    <%= link_to 'Go to an accessible version of this page', "?no_js=true" %>
  <%- end -%>
<% end %>

<div id="discover" class="oneColumnContainer">
  <%= render_domain_template('data_splash') %>

  <div class="simpleTabsContainer">
    <div class="simpleTabNav">
      <ul class="simpleTabs tabList clearfix">
        <%- if @active_tab == :search -%>
          <li id="tabSearch" class="active">
            <div class="wrapper"><a href="<%= generate_filter_url(@current_state, 'search') %>">Search Results</a></div>
          </li>
        <%- end -%>
        <li id="tabPopular" class="even<%= ' active' if @active_tab == :popular %>">
          <div class="wrapper"><a href="<%= generate_filter_url(@current_state, 'popular') %>">Top 100</a></div>
        </li>
        <li id="tabAll" class="<%= 'active' if @active_tab == :all %>">
          <div class="wrapper"><a href="<%= generate_filter_url(@current_state, 'all') %>">All <%= t(:blists_name) %></a></div>
        </li>
        <% if module_enabled? :dataset_nomination %>
          <li id="tabNominations" class="even<%= ' active' if @active_tab == :nominations %>">
            <div class="wrapper"><a href="<%= generate_filter_url(@current_state, 'nominations') %>">Suggested <%= t(:blists_name) %></a></div>
          </li>
        <% elsif upsell? %>
          <li id="tabNominations" class="even disabled">
            <div class="wrapper"><a href="/popup/premium" rel="modal">Suggested <%= t(:blists_name) %></a></div>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="discoverTabSearchResults" class="tabContentContainer clearfix<%=
      ' active' if @active_tab == :search %>">
      <%= render(:partial => 'cached_view_list_merged',
                 :locals => { :tab_to_render => :search }) if @active_tab == :search %>
    </div>
    <div id="discoverTabPopular" class="tabContentContainer clearfix<%=
      ' active' if @active_tab == :popular %>">
      <%= render(:partial => 'cached_view_list_merged',
                 :locals => { :tab_to_render => :popular }) if @active_tab == :popular %>
    </div>
    <div id="discoverTabAll" class="tabContentContainer clearfix<%=
      ' active' if @active_tab == :all %>">
      <%= render(:partial => 'cached_view_list_merged',
                 :locals => { :tab_to_render => :all }) if @active_tab == :all %>
    </div>
    <%- if @active_tab == :nominations || !params[:no_js] -%>
      <% module_enabled :dataset_nomination do %>
        <div id="discoverNominations" class="tabContentContainer clearfix<%= ' active' if @active_tab == :nominations %>">
          <%= render(:partial => "nominations_tab", :locals => {:nominations => @nominations, :total => @nominations_count, :page_size => @page_size}) %>
        </div>
      <% end %>
    <%- end -%>
  </div>
</div>

<%- unless params[:no_js] -%>
  <% content_for :js_footer do %>
    <div class="jqmWindow" id="tagCloud"></div>
    <div class="jqmWindow" id="redirectedModal"></div>
    <div class="jqmWindow" id="splashModal"></div>
    <%= javascript_include_merged 'shared-common-all' %>
    <%= javascript_include_merged 'data-show' %>
    <script type="text/javascript" charset="utf-8">
      discoverNS.filterUrl = "<%= data_filter_path %>";
    </script>
  <% end %>
<%- end -%>
