<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-login' %>
  <title>Create or Link Account | <%= get_site_title %></title>
<% end %>

<div class="modalContentBox narrow siteContent">
  <div class="contentHeader">
    <h1>Almost Ready</h1>
  </div>
  <div class="contentBoxInner auth0ReturnLogin clearfix">
    <div class="loginSignupForm firstColumn column">
      <%= display_standard_flashes %>
      <div class="flash notice">
        <%= t('screens.sign_up.third_party_return') %>
        <%= link_to t('screens.sign_up.third_party_return_create'), '#create', :class => 'signUpLink' %>
          <%= t('core.or') %>
        <%= link_to t('screens.sign_up.third_party_return_link'), '#login', :class => 'signInLink'%>.
      </div>

      <div id="accordion">
        <div class="signupForm"<%= raw('style="display: none;"') if flash[:notice_login]%>>
          <div class="authProvider socrata">
            <span class="login-description">
              <%= t('screens.sign_up.prompt_html') %>
            </span>
            
            <p class="loginTips">
              <%= t('screens.sign_in.tips_html') %>
            </p>
          </div>

          <%= form_for :signup, :url => auth0_link_path, :html => {:id => 'signupForm', :multipart => true} do |form_object| %>
            <%= render 'accounts/signup_form_data', :form_object => form_object, :hide_password => true %>
          <% end %>
        </div>

        <%= content_tag(:div, nil, :class => 'loginForm', :style => ('display: none' unless flash[:notice_login])) do %>
          <%= render 'login' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :js_footer do %>
  <%= include_webpack_bundle 'open-data/screen-login-signup.js' %>
<% end %>
