<% content_for :head do %>
  <%= meta_tags :description => @meta_description, :keywords => @meta_keywords %>
  <%- if @view -%>
    <link rel="canonical" href="<%= @view.href %>" />
  <%- end -%>

  <title><%= @view.name %> | <%= CurrentDomain.strings.site_title %></title>

  <%- if @display.can_publish? -%>
  <%= raw @display.render_stylesheet_includes %>
  <%- end -%>

  <link type="text/css" rel="stylesheet" href="/styles/widget/<%= params[:customization_id] %>.css" />
<% end %>

<div class="widgetWrapper">
  <%- if @theme[:frame][:orientation] == 'downwards' -%>
    <%= render :partial => 'widget_header' %>
    <%= render :partial => 'widget_subheader' %>
    <%= render :partial => 'widget_toolbar' %>
  <%- end -%>

  <div class="widgetContent">
    <div class="widgetContentSection widgetContentGrid">
      <%- if @theme[:behavior][:save_public_views] -%>
        <div id='viewHeader' class='clearfix'>
          <a class='datasetLink breadcrumbItem' href='#view_<%= @view.id %>'><%= @view.name %></a>
          <div class='viewName inlineEdit' href='#new_view'>
            <span title='Click to name and save your filtered view'>
              [Unsaved Filter]
            </span>
            <%- form_tag(blists_path) do -%>
            <label for='view_name'>View Name:</label>
            <%= text_field_tag("view[name]", '') %>
            <%- end -%>
          </div>
        </div>
      <%- end -%>
      <div class="gridContainer">
        <%- if !@view.is_invalid? -%>
          <div id="data-grid" class='fullHeight'>
            <%- if !@view.is_blobby? -%>
              <noscript>
                <h3><a href="<%= @view.href %>"><%= @view.name %></a></h3>

                <p><%= @view.description %></p>

                <%- if @view.can_read -%>
                  <% cache ['widget-bare-html', @view.id], :expires_in => 1.hour do %>
                    <%= raw @view.html.dup %>
                  <% end %>
                <%- end -%>
              </noscript>
            <%- end -%>

            <%- if @display.can_publish? -%>
              <%= raw @display.render_body(self) %>
              <%= render(:partial => @display.render_partial) %>
            <%- end -%>
          </div>
        <%- else -%>
          <div class='viewErrorContainer content'>
            <%- if current_user.id == @view.owner.id -%>
            <div class='viewError'><%= @view.message %></div>
            <ul class='actionButtons clearfix'>
              <li><a href="<%= @view.href %>" rel="external"
                class='arrowButton'>Edit View</a></li>
            </ul>
            <%- else -%>
            <div class='viewError'>Unable to display this view.</div>
            <%- end -%>
          </div>
        <%- end -%>
      </div>
    </div>

    <div class="widgetContentSection widgetContent_views">
      <a href="#close" class="close widgetContentClose">Close</a>
    </div>
    <div class="widgetContentSection widgetContent_downloads">
      <a href="#close" class="close widgetContentClose">Close</a>
    </div>
    <div class="widgetContentSection widgetContent_comments">
      <a href="#close" class="close widgetContentClose">Close</a>
      <div class="commentTopLevelActions clearfix">
        <a href="#comment" class="button addCommentButton" title="Leave a comment">Comment</a>
        <div class="starsControl datasetAverageRating"></div>
      </div>
      <div class="commentsWrapper"></div>
      <a href="#more" class="commentsViewMoreLink"></a>
    </div>
    <div class="widgetContentSection widgetContent_embed">
      <a href="#close" class="close widgetContentClose">Close</a>
      <%= render :partial => 'blists/embed_form',
                 :locals => { :view => @view, :cur => params[:cur] } %>
    </div>
    <div class="widgetContentSection widgetContent_print">
      <a href="#close" class="close widgetContentClose">Close</a>
      <%= render :partial => 'blists/print_form_new', :locals => { :view => @view } %>
    </div>
  </div>

  <%- if @theme[:frame][:orientation] == 'upwards' -%>
    <%= render :partial => 'widget_toolbar' %>
    <%= render :partial => 'widget_subheader' %>
    <%= render :partial => 'widget_header' %>
  <%- end -%>
</div>

<div class="commentInterstitial widgetModal">
  <a href="#close" class="jqmClose interstitialClose">Close</a>
  <h2>Want to leave a comment?</h2>
  <p>To leave a comment on this dataset, you will be redirected to the
     <%= CurrentDomain.strings.company %> website where you will be prompted
     to sign in. Would you like to go to <%= CurrentDomain.cname %>?</p>
  <ul class="actions clearfix">
    <li>
      <a class="jqmClose button cancel" href="#cancel"><span class="icon"></span>Cancel</a>
    </li>
    <li>
      <a class="noInterstitial button accept" href="<%= @view.href %>" rel="external">
        <span class="icon"></span>
        Yes
      </a>
    </li>
  </ul>
</div>

<% content_for :templates do %>
  <%= render :partial => 'blists/filters_table_template' %>
  <%= render :partial => 'blists/downloads_table_template' %>
  <%= render :partial => 'blists/comments_template' %>
<% end %>

<% content_for :js_footer do %>
  <script type="text/javascript">
    <%= raw @display.render_inline_setup_js('data-grid', self) %>
    blist.namespace.fetch('blist.widget');
    <%- if !current_user.nil? -%>
      blist.currentUserId = "<%= current_user.id %>";
      blist.isOwner = <%= current_user.id == @view.owner.id ? 'true' : 'false' %>;
    <%- end -%>
    blist.widget.viewId = '<%= @view.id %>';
    blist.widget.view = <%= raw @view.to_json %>;

    blist.widget.theme = <%= raw @theme.to_json %>;
    blist.widget.customizationId = '<%= params[:customization_id] || '' %>';
    blist.widget.isAltView = <%= @view.is_alt_view? ? 'true' : 'false' %>;

    <%- if !@view.is_invalid? && !@view.is_blobby? && @view.can_read -%>
    <%# Hard-code parameters for initial call here; if the Javascript ever
    changes, these will need to be updated %>
    blist.widget.viewJson = <%= @view.json({'accessType' => 'WIDGET',
        'method' => 'getByIds', 'meta' => true, 'start' => 0, 'length' => 50}) %>;
    <%- end -%>
  </script>

  <%= render(:partial => 'shared/table_editor_js') %>
  <%= raw @display.render_javascript_includes(self) %>
  <%= javascript_include_merged 'widgets-show-new' %>

  <%- unless @theme[:behavior][:ga_code].empty? -%>
    <script type="text/javascript">
    try {
    var pageTracker2 = _gat._getTracker("<%= @theme[:behavior][:ga_code] %>");
    pageTracker2._trackPageview();
    } catch(err) {}</script>
  <%- end -%>
<% end %>
