<% collapse_checkbox_help_text ||= '' -%>
<% checked = section_starts_expanded(theme, section_name) -%>


<div class="form-section-checkbox" data-section-name="<%= section_name %>">
    <div class="checkbox">
      <input id="form-section-checkbox-<%= section_name %>" name="theme[sections][<%= section_name %>]" type="checkbox" <%= checked ? 'checked' : '' %>/>
      <label for="form-section-checkbox-<%= section_name %>">
        <span class="fake-checkbox"><span class="icon-checkmark3"></span></span><%= collapse_checkbox_title_text %>
      </label>
  </div>

  <div class="help">
    <%= collapse_checkbox_help_text.html_safe %>
  </div>
</div>

