<% theme_variables ||= [] -%>
<% help_text ||= '' -%>
<% collapsible ||= false -%>
<% collapse_checkbox_title_text ||= section_name -%>
<% collapse_checkbox_help_text ||= '' -%>
<% unless theme_variables.blank? -%>

  <%=
    if collapsible
      render partial: 'form_section_checkbox',
         locals: {
           section_name: section_name,
           collapse_checkbox_title_text: collapse_checkbox_title_text,
           collapse_checkbox_help_text: collapse_checkbox_help_text,
           theme: theme
      }
    end
  %>

  <div class="form-section <%= section_name %>" data-section-name="<%= section_name %>">
    <div class="form-fields form-fields-label-above">
      <% theme_variables.each do |var_name| -%>
        <div class="form-group">
          <% field_name = "theme[css_variables][#{var_name}]" -%>
          <% value = theme.css_variables[var_name] -%>
          <% value = Theme.default_css_variables[var_name] if value.blank? -%>
          <%= label_tag field_name, t(".#{var_name}") %>
          <%= text_field_tag field_name, value, class: "text-input" %>
        </div>
      <% end %>
    </div>

    <div class="help">
      <%= help_text.html_safe %>
    </div>
  </div>
<% end -%>
