<%= content_for :head do %>
  <%= rendered_stylesheet_tag('internal-asset-manager') %>
  <title><%= I18n.t('internal_asset_manager.title') %> | <%= get_site_title %></title>
<%- end %>

<% content_for :breadcrumb do %>
  <%= t('screens.admin.assets.asset_inventory') %>
<% end %>

<div class="internal-asset-manager" id="internal-asset-manager-content"></div>

<div id="dynamic-content"></div>

<%= content_for :scripts do %>
  <script type="text/javascript" src="/javascripts/plugins/lodash.js"></script>
  <script type="text/javascript">var I18n = I18n || {};</script>

  <%= render_internal_asset_manager_translations %>
  <%= render_internal_asset_manager_session_data %>
  <%= render_internal_asset_manager_server_config %>
  <%== render_internal_asset_manager_initial_state %>
  <%= include_webpack_bundle 'internal-asset-manager/main' %>
<%- end %>

<%= render '/administration/asset_inventory_dataset_button',
  :title_translation_key => 'screens.admin.datasets.asset_inventory_dataset' %>
