<%= content_for :head do %>
  <title><%= I18n.t('internal_asset_manager.title') %> | <%= get_site_title %></title>
  <%= rendered_stylesheet_tag 'administration-internal-asset-manager' %>
<%- end %>

<% content_for :breadcrumb do %>
  <%= t('screens.admin.assets.asset_inventory') %>
<% end %>

<div class="catalog-results" id="internal-asset-manager-asset-browser"></div>

<div id="feedback-panel-content"></div>

<%= content_for :scripts do %>
  <script type="text/javascript" src="/javascripts/plugins/lodash.js"></script>
  <script type="text/javascript">var I18n = I18n || {};</script>

  <%= render_asset_browser_session_data %>
  <%= render_asset_browser_server_config %>
  <%== render_asset_browser_initial_state %>
  <%= include_webpack_bundle 'internal_asset_manager/main' %>
<%- end %>
