<%= content_for :head do %>
  <%= rendered_stylesheet_tag('asset-selector') %>
  <%= rendered_stylesheet_tag('base') %>
  <%= rendered_stylesheet_tag('catalog-landing-page') %>
  <%= rendered_stylesheet_tag('external-resource-editor') %>
  <title><%= I18n.t('catalog_landing_page.title', :category => @category) %> | <%= get_site_title %></title>
<%- end %>

<div class="catalog">
  <div id="search-content"></div>
  <%= render 'datasets/catalog', :opts => @processed_browse %>
</div>

<%= content_for :scripts do %>
  <script src="/javascripts/plugins/lodash.js"></script>
  <script>var I18n = I18n || {};</script>
  <%= render_catalog_landing_page_translations %>
  <%= render_catalog_landing_page_mixpanel_config %>
  <%= render_catalog_landing_page_session_data %>
  <%= render_catalog_landing_page_server_config %>
  <%== render_catalog_landing_page_initial_state %>
  <%= include_webpack_bundle 'catalog-landing-page/main' %>
<%- end %>
