<div id="api-flannel" class="flannel flannel-hidden">
  <header class="flannel-header">
    <h4 class="flannel-header-title"><%= t('dataset_landing_page.api_flannel.title') %></h4>
    <button class="btn btn-transparent flannel-header-dismiss" data-flannel-dismiss>
      <span class="icon-close-2"></span>
    </button>
  </header>
  <section class="flannel-content api-description">
    <p class="small"><%= t('dataset_landing_page.api_flannel.description') %></p>
    <%- if @view.geospatial_child_layer_count > 1 -%>
      <p class="small"><%= t('dataset_landing_page.api_flannel.multiple_geo_layers') %></p>
    <%- end -%>
  </section>
  <%- if @view.geospatial_child_layer_count > 1 -%>
    <%- @view.geospatial_child_layers.each do |child_layer| -%>
      <%= render 'datasets/dataset_landing_page/api_flannel_endpoint', :view => child_layer, :show_name => true %>
    <%- end -%>
  <%- elsif @view.geospatial_child_layer_count == 1 -%>
    <%= render 'datasets/dataset_landing_page/api_flannel_endpoint', :view => @view.geospatial_child_layers[0], :show_name => false %>
  <%- else -%>
    <%= render 'datasets/dataset_landing_page/api_flannel_endpoint', :view => @view, :show_name => false %>
  <%- end -%>
</div>
