<section class="landing-page-section dataset-contents">
  <h2 class="landing-page-section-header">
    <%- if show_as_layer -%>
      <%= view.name %>
    <%- else -%>
      <%= t('dataset_landing_page.dataset_contents.title') %>
    <%- end -%>
  </h2>

  <div class="section-content">
    <div class="metadata-section">
      <div class="metadata-row">
        <div class="metadata-pair">
          <span class="metadata-pair-key">
            <%= t('dataset_landing_page.dataset_contents.rows') %>
          </span>

          <h3 class="metadata-pair-value">
            <%= format_number(view.row_count) %>
          </h3>
        </div>

        <div class="metadata-pair">
          <span class="metadata-pair-key">
            <%= t('dataset_landing_page.dataset_contents.columns') %>
          </span>

          <h3 class="metadata-pair-value">
            <%= format_number(columns.length) %>
          </h3>
        </div>

        <%- if view.row_label && view.row_label != t('screens.edit_metadata.default_row_label') -%>
          <div class="metadata-pair">
            <span class="metadata-pair-key">
              <%= t('dataset_landing_page.dataset_contents.row_display_unit') %>
            </span>

            <h3 class="metadata-pair-value">
              <%= view.row_label %>
            </h3>
          </div>
        <%- end -%>
      </div>
    </div>
  </div>
</section>
