<%= modal :class => "emailDatasetDialog#{' ownerDialog' if !@view.nil? && @view.has_rights?('grant')}" do %>
  <h2><%= t('screens.ds.email.title_html', name: h(@view.nil? ? '' : @view.name)) %></h2>
  <div class="emailSuccess">
    <div class="flash notice">
      <%= t('screens.ds.email.success') %>
    </div>
    <ul class="actions clearfix">
      <li>
        <a href="#cancel" class="jqmClose button"><%= t('core.dialogs.close') %></a>
      </li>
    </ul>
  </div>
  <div class="emailDatasetContent">
    <div class="flash" id="emailDatasetMessage"></div>
    <label for="emailRecipient" class="emailRecipientPrompt"><%= t('screens.ds.email.prompt_html', name: h(@view.nil? ? '' : @view.name)) %></label>
    <div class="emailFormContent">
      <form class="commonForm" id="emailDatasetForm"
        action="<%= @view.nil? ? '' : "/views/#{@view.id}.json?method=sendAsEmail" %>" method="post">
        <div class="emailLine">
          <a href="#remove" title="<%= t('screens.ds.email.remove_email') %>" class="removeLink delete hiddenLink">
            <span class="icon"></span>
          </a>
          <input type="hidden" class="recipientUid" />
          <div class="textWrapper">
            <input id="emailRecipient" type="text" class="emailRecipient email" name="emailRecipient0" />
          </div>
          <%- if !@view.nil? && @view.has_rights?('grant') -%>
            <%= select_tag 'role', options_for_select(@view.share_types.map{ |type| [ t('core.share_types.' + type.downcase), type ] }),
                  :class => 'recipientRole', :id => nil %>
          <%- end -%>
        </div>
        <div class="addMoreLine">
          <a class="button addMoreRecipientsButton add" href="#add">
            <span class="icon"></span><%= t('screens.ds.email.add_email') %>
          </a>
        </div>
        <label for="emailMessage" class="emailMessageHint"><%= t('screens.ds.email.message_prompt') %></label>
        <textarea id="emailMessage"></textarea>
      </form>
    </div>
    <ul class="actions clearfix">
      <li>
        <a href="#cancel" class="jqmClose button cancel">
          <span class="icon"></span><%= t('core.dialogs.cancel') %>
        </a>
      </li>
      <li>
        <a href="#email" class="button" id="emailSubmitButton">
          <span class="icon"></span><span class="emailDatasetHint"><%= t('screens.ds.email.email_button') %></span>
        </a>
      </li>
    </ul>
  </div>
<% end %>
