<%= modal :class => 'subscribeToDataset loading' do %>
  <h2>Subscribe to the "<span class="datasetName"><%= @view.nil? ? '' : @view.name %></span>"
    <span class="datasetTypeNameUpcase">Dataset</span></h2>

  <div class="loadingOverlay">
    <div class="loadingSpinner"></div>
  </div>
  <div class="rssSection">
    <p><strong>To subscribe to the <span class="datasetName"><%= @view.nil? ? '' : @view.name %></span>
      dataset via an RSS reader</strong>, use one of the following links:</p>
    <p>
      <%- rss_url = @view.nil? ? '' : @view.rss -%>
      <a class="subscribe rss" rel="external" href="<%= rss_url %>"><span class="icon"></span>Download as RSS</a>
      <a rel="external" class="greader" href="http://fusion.google.com/add?feedurl=<%= rss_url %>">
        Add to Google Reader
      </a>
      <a class="feed" href="feed:<%= rss_url %>">Open in External Program</a>
    </p>
  </div>
  <div class="emailSection">
    <div class="subscribeText">
      <p><strong>To receive email notifications</strong> when new data is published, check
         the Subscribe box below.</p>
    </div>
    <div class="unsubscribeText">
      <p><strong>You are currently subscribed to this <span class="datasetTypeName">dataset</span>
        via email</strong>, and will receive notifications when new data is published.</p>
      <p>If you no longer wish to receive notifications, uncheck the Subscribe box below.</p>
    </div>
    <div>
      <input type="checkbox" class="subscribeCheckbox" id="email_publish_subscribe" />
      <label for="email_publish_subscribe">Subscribe via Email</label>
    </div>
  </div>
  <ul class="actions clearfix">
    <li><a href="#cancel" class="jqmClose button">Done</a></li>
  </ul>
<%- end -%>
