<%= modal :class => 'subscribeToDataset loading' do %>
  <h2><%= t('screens.ds.subscribe.title_html', name: (@view.nil? ? '' : @view.name)) %></h2>

  <div class="loadingOverlay">
    <div class="loadingSpinner"></div>
  </div>
  <div class="rssSection">
    <p><%= t('screens.ds.subscribe.intro_html', name: (@view.nil? ? '' : @view.name)) %></p>
    <p>
      <%- rss_url = @view.nil? ? '' : @view.rss -%>
      <a class="subscribe rss" rel="external" href="<%= rss_url %>"><span class="icon"></span><%= t('screens.ds.subscribe.rss') %></a>
      <a class="feed" href="feed:<%= rss_url %>"><%= t('screens.ds.subscribe.rss_program') %></a>
    </p>
  </div>
  <div class="emailSection">
    <div class="subscribeText">
      <p><%= t('screens.ds.subscribe.subscribe_html') %></p>
    </div>
    <div class="unsubscribeText">
      <p><%= t('screens.ds.subscribe.subscribed_html') %></p>
      <p><%= t('screens.ds.subscribe.unsubscribe') %></p>
    </div>
    <div>
      <input type="checkbox" class="subscribeCheckbox" id="email_publish_subscribe" />
      <label for="email_publish_subscribe"><%= t('screens.ds.subscribe.subscribe_button') %></label>
    </div>
  </div>
  <ul class="actions clearfix">
    <li><a href="#cancel" class="jqmClose button"><%= t('core.dialogs.done') %></a></li>
  </ul>
<%- end -%>
