<% content_for :head do %>
    <%= rendered_stylesheet_tag 'styleguide' %>
    <%= rendered_stylesheet_tag 'administration-screen' %>
    <%= rendered_stylesheet_tag 'administration-roles' %>
    <%= render_roles_server_config %>

    <title><%= t('screens.admin.roles.index_page.title') %> | <%= get_site_title %></title>
<% end %>

<% content_for :skip_links do %>
    <%= link_to t('core.no_js'), '?no_js=true' %>
<% end %>

<% admin_breadcrumb("screens.admin.roles.index_page.title") %>

<%= display_standard_flashes %>

<% if @alert %>
    <div class="flash error">
      <%= t('screens.admin.jobs.index_page.alerts.server_error') %>
    </div>
<% end %>

<div data-react-component="RolesAdmin">
  <div class="spinner-container">
    <div class="spinner-default spinner-large"></div>
  </div>
</div>

<% content_for :translations do %>
    <%= render_translations LocalePart.screens.admin.roles %>
    <%= render_translations LocalePart.roles %>
<% end %>

<% content_for :js_footer do %>
  <%= include_webpack_bundle 'admin-roles/main.js' %>
<%- end -%>
