<% content_for :head do %>
  <title>Current Version | <%= CurrentDomain.strings.site_title %></title>
  <!--[if IE 7]><style type="text/css">@import "/stylesheets/ie7.css";</style><![endif]-->
<% end %>

<div class="modalContentBox wide">
  <div class="contentHeader">
    <h1><%= CurrentDomain.strings.company %></h1>
  </div>

  <div class="dialogContents">
    <div class="title clearfix"><h2>Version Info</h2></div>

    <dl class="versionInfo">
      <dt><em>Current Version:</em></dt><dd><%= Frontend.version %></dd>
      <dt><em>Current Revision:</em></dt><dd><%= @revision_number %></dd>
      <dt><em>Last Deployment:</em></dt><dd><%= @revision_date.to_s %></dd>
    </dl>
  </div>
</div>
