<% content_for :head do %>
  <%= stylesheet_link_merged 'tweetsets-index' %>
  <title>Generate a <%= CurrentDomain.strings.company %> tweetsets</title>
<% end %>

<div class='oneColumnContainer tweetsetContainer createTweetset'>
  <% fullpage_content do %>
    <div class='content'><div id='tweetsetIntro' class='pageBlockHeaderCarousel carouselWrapper'>
      <div class='carouselOuter'>
        <div id='introExplanation' class='carouselInner'>
          <img src="/stylesheets/images/tweetsets/tweetset_preview.png" alt="tweetset preview" id='preview' />
          <h2><%= CurrentDomain.strings.company %> tweetset</h2>
          <div class='<%= (current_user) ? 'spaceAbove' : 'lessSpace' %>'>
            <h2 class='bigger'>Generate a Searchable, Embeddable <%= CurrentDomain.strings.company %> <%= t(:blist_name).capitalize %> Containing 
              all the tweets for Any Hashtag. <%= CurrentDomain.strings.company %> tweetsets are Free.</h2>
          </div>
          <%- unless (current_user) -%>
            <p class='loginText'><%= link_to 'Log in', login_url, :rel => 'nofollow' %> or <%= link_to 'Sign up', signup_url, :rel => 'nofollow' %> for a free <%= CurrentDomain.strings.company %> user account to create a tweetset.
            </p>
          <%- end -%>
          </div>
        </div>
      </div>
      <div class='tweetsetCreated'>
        <h2>Please wait while your tweetset is being created</h2>
        <p>You will receive an e-mail when the tweetset is ready to be viewed.</p>
        <p><%= link_to 'Create another tweetset', :action => :index %></p>
      </div>
    </div>
  <% end %>
</div>
