<% content_for :head do %>
  <%= stylesheet_link_merged 'tweetsets-index' %>
  <title>Generate a <%= th.company %> tweetsets</title>
<% end %>

<div class='oneColumnContainer tweetsetContainer'>
  <% fullpage_content do %>
    <div class='content'>
      <%= render :partial => 'tweetset_intro' %>
      <div class='twoColumns clearfix'>
        
        <div id='rightColumn'>
          <h2>Recent tweetsets</h2>
          <%- if @recent_sets.nil? || @recent_sets.empty? -%>
            <h4>No recent sets</h4>
          <%- else -%>
            <ul class='recentSets'>
            <% @recent_sets.first(@recent_limit).each do |link| %>
              <li><a href="/dataset/<%= link.name.convert_to_url %>/<%= link.id %>"><%= link.tags[1].nil? ? link.name : link.tags[1] %></a></li>
            <% end %>
            </ul>
          <%- end -%>
        </div>
        
        <div id='leftColumn'>
          <div id='searchArea'>
            <% form_tag( {:action => 'create'} , {:method => 'get', :id => 'tweetsetForm' }) do %>
              <div id='searchLine'>
                <h2>Create a <%= th.company %> tweetset now</h2>
                <span class='searchText'>Enter your hashtag:</span>
                <%= text_field_tag("query", "", :title => 'enter your hashtag (i.e. #gov20)', :class => 'textPrompt') %>
                 <ul class="actionButtons">
                    <li><a class="arrowButton generateButton" href="#create">Generate</a></li>
                </ul>
              </div>
            <% end %>
          </div>
          
          <%- unless @example_set.blank? %>
            <div id='sampleSet'>
              <h2>Here's a Sample tweetset</h2>
              <iframe src="<%= @example_set %>" width='<%= @example_width %>px' height='<%= @example_height %>px' frameborder="0" scrolling="no"></iframe>
            </div>
          <%- end -%>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% content_for :js_footer do %>
  <%= javascript_include_merged 'shared-common-all' %>
  <%= javascript_include_merged 'tweetsets' %>
<% end %>