<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= default_meta_tags %>
  <%= csrf_meta_tags %>
  <title><%= t('editor.default_page_title') %></title>
  <%= site_chrome_stylesheet_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= render 'shared/google_analytics_script' %>
  <%= storyteller_javascript_include_tag 'new' %>
</head>
<body class="<%= render_admin_header? ? 'open-performance-enabled' : '' %>">
  <%== site_chrome_admin_header(request, response) if render_admin_header? %>
  <%= yield %>
  <%= site_chrome_javascript_tag %>
</body>
</html>
