<% content_for :head do %>
  <%= rendered_stylesheet_tag 'analytics-shared' %>
  <%= rendered_stylesheet_tag 'internal' %>
  <%= rendered_stylesheet_tag 'internal-metrics' %>
  <title>Internal Panel | <%= get_site_title %></title>
<% end %>

<%= render 'left_nav' %>

<div class="contentBox withLeftNavigation">
  <div id="analyticsDataContainer" class="internalMetrics">
    <div class="analytics clearfix">
      <div class="plotMore">
        <label for="addnlkpi">Additional Service</label>
        <input id="addnlkpi" type="text" class="additionalKpi" />
        <a href="#addKpi" class="button additionalKpibutton">Add to Chart</a>
      </div>

      <h1 class="floating">Internal Analytics</h1>
      <%= render 'shared/metrics_timing' %>
    </div>

    <%- if false -%>
      <div class="summaryDisplay clearfix container"></div>
    <%- end -%>

    <div class="chartsDisplay container">
      <div class="flash error message errorMessage">
        <h3>An error occurred loading the metrics data. Please try again later</h3>
      </div>
    </div>

    <div class="topDisplay clearfix container">
      <div class="leftColumn"></div>
      <div class="rightColumn"></div>
    </div>
  </div>
</div>

<% content_for :templates do %>
  <%= render 'shared/metrics_sections' %>
  <%= render 'shared/control_templates' %>
<%- end -%>

<% content_for :js_footer do %>
  <%- unless params[:no_js] == 'true' -%>
    <%= include_webpack_bundle 'open-data/sanitize-html.js' %>
    <%= include_webpack_bundle 'open-data/shared-metrics.js' %>
    <%= include_webpack_bundle 'open-data/internal-metrics.js' %>
  <%- end -%>
<% end %>
<%- content_for :translations do -%>
  <%= render_translations LocalePart.screens.stats %>
  <%= render_translations LocalePart.plugins.daterangepicker %>
<%- end -%>
