<% content_for :head do %>
<%= rendered_stylesheet_tag 'internal' %>
<title>Organizations | Internal Panel | <%= get_site_title %></title>
<% end %>

<%= render '/internal/left_nav' %>

<div class="contentBox withLeftNavigation">
  <div class='content'>
    <h1>All Organizations:</h1>

    <% if @orgs.nil? || @orgs.size <= 0 %>
      <p>No organizations found.</p>
    <% else %>
      <ul>
        <%# Sort numbers, then case-insensitive alphas, then underscores. -%>
        <% @orgs.sort_by { |o| o.name.upcase }.each do |org| %>
          <%= li_classes = [].tap do |classes|
            classes << 'emptyOrganization' if org.empty?
          end
          content_tag(:li,
            link_to(org.name, show_org_path(org_id: org.id)),
            :class => li_classes.join(' ')) %>
        <% end %>
      </ul>
    <% end %>

    <h2>Create an organization:</h2>
    <%= form_tag('/internal/orgs') do %>
      <div class='line'>
        <label>Name:</label>
        <input type="text" name="org[name]"/>
      </div>
      <div class='line'>
        <label>Short Name:</label>
        <input type="text" name="org[shortName]"/>
      </div>
      <div class='line'>
        <label>URL:</label>
        <input type="text" name="org[url]"/>
      </div>
      <input type="submit" value="Create"/>
    <% end %>

  </div>
</div>
