<% content_for :head do %>
<%= rendered_stylesheet_tag 'internal' %>
<title>Organization <%= @org.nil? ? '' : @org.name %> | Internal Panel |
  <%= get_site_title %></title>
<% end %>

<%= render '/internal/left_nav' %>

<div class="contentBox withLeftNavigation">
    <div class='content'>

      <%- if @org.nil? -%>
        <p>Organization could not be found</p>

      <%- else -%>
        <h1>Organization: <%= @org.name %></h1>
        <%= display_standard_flashes %>

        <h2>Domains:</h2>
        <%- if @org.domains.nil? || @org.domains.size <= 0 -%>
          <p>No domains for this org.</p>
        <%- else -%>
          <ul>
            <%- @org.domains.each do |domain| -%>
              <li><%=
              begin
                link_to(
                  "#{domain.name} (#{domain.cname})",
                  show_domain_path(domain_id: domain.cname)
                )
              # Invalid CNAMEs will not resolve the route path.
              rescue ActionController::RoutingError, ActionController::UrlGenerationError
                content_tag :span, "#{domain.name} (#{domain.cname})", :class => 'invalidCname'
              end%></li>
          <%- end -%>
        </ul>
      <%- end -%>

      <h2>Create a domain:</h2>
      <%= form_tag('/internal/orgs/' + @org.id.to_s + '/domains') do %>
        <%= hidden_field_tag 'domain[organizationId]', @org.id.to_s %>
        <div class='line'>
          <label>Name:</label>
          <input type="text" name="domain[name]"/>
        </div>
        <div class='line'>
          <label>CName:</label>
          <input type="text" name="domain[cName]"/>
        </div>
        <input type="hidden" name="config[parentDomainCName]" value="<%= @default_domain.cname %>" />
        <input type="hidden" name="domain[parentDomainId]" value="<%= @default_domain.id %>" />
        <input type="submit" value="Create"/>
      <% end %>
      <div class="internalPanelRedesign">
      <div class="actions expandable">
      <%= expandable_section('Actions') do %>
        <dl class="config_type_description">
          <dt>Rename Organization</dt>
          <dd>
            <%= one_button_form(url: rename_org_path,
                                :text => 'Rename Organization') do %>
              <%= text_field_tag('rename-org-to', @org.name) %>
            <%- end %>
          </dd>
        <%- end %>
      </div>
      </div>
    <%- end -%>
  </div>
</div>
