<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-nominations' %>
  <title><%= t('controls.nominate.dataset_suggestions') %> | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div class="nominationsContainer">
  <div class="facets">
    <span class="title"><%= t('controls.nominate.filter_by_status') %></span>
    <%- statuses = [{:text => t('controls.nominate.all'), :value => nil},
      {:text => t('controls.nominate.open'), :value => 'pending'},
      {:text => t('controls.nominate.approved'), :value => 'approved'},
      {:text => t('controls.nominate.rejected'), :value => 'rejected'}] -%>
    <%-
    if !current_user.nil? && current_user.has_right?('moderate_comments')
      statuses = statuses.insert(2,
        {:text => t('controls.nominate.needs_moderation'), :value => 'unmoderated'})
    end
    -%>
    <ul>
      <%- statuses.each do |s| -%>
      <li>
      <a href="<%= @base_url + (s[:value].nil? ? '' : '?status=' + s[:value]) %>"
        class="<%= @status == s[:value] ? 'active' : '' %>"><%= s[:text] %></a>
      </li>
      <%- end -%>
    </ul>
  </div>

  <div class="nominationsList">
    <h2><%= t('controls.nominate.title') %></h2>
    <%- if !current_user.nil? -%>
      <a href="#Submit dataset" class="button nominateLink hasUser"><%= t('controls.nominate.suggest_a_dataset') %></a>
    <%- else -%>
      <a href="<%= new_nominate_path %>" class="button nominateLink"><%= t('controls.nominate.suggest_a_dataset') %></a>
    <%- end -%>
    <div class="moderationNotice flash notice">
      <%= t('controls.nominate.suggestion_received') %>
    </div>

    <div class="results">
      <%- if @nominations_count == 0 -%>
      <div class="noResults"><%= t('controls.nominate.no_results') %></div>

      <%- else -%>
      <table class="gridList">
        <colgroup>
          <col class="user" />
          <col class="details" />
          <col class="rating" />
          <col class="status" />
        </colgroup>
        <thead>
          <tr>
            <th class="user" scope="col"><%= t('controls.nominate.submitted_by') %></th>
            <th class="details" scope="col"><%= t('controls.nominate.details') %></th>
            <th class="rating" scope="col"><%= t('controls.nominate.rating') %></th>
            <th class="status" scope="col"><%= t('controls.nominate.status') %></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <%- end -%>
    </div>

    <%- if @nominations_count > 0 -%>
    <%= create_pagination(@nominations_count, @page_size,
      params[:page].to_i, @base_url + '?' + @params.to_param, 'button') %>
    <%- end -%>
  </div>
</div>

<%- content_for :modals do -%>
  <%= render :partial => 'edit_modal' %>
<%- end -%>

<% content_for :templates do %>
<table class="nominationItem">
  <tbody>
    <tr class="item">
      <td class="user" scope="row">
        <%- if !current_user.nil? &&
                current_user.has_right?('edit_nominations') -%>
        <a href="#Remove" title="<%= t('controls.nominate.delete_suggestion') %>" class="delete"></a>
        <%- end -%>
        <a class="userLink"><img /><span class="userName"></span></a>
      </td>
      <td class="details">
        <a href="#" class="titleLink"><span class="title"></span></a>
        <%- if !current_user.nil? &&
                current_user.has_right?('edit_nominations') -%>
        <a href="#Edit" title="<%= t('controls.nominate.edit_suggestion') %>" class="edit"><%= t('controls.nominate.edit') %></a>
        <%- end -%>
        <div class="submitTime">
          <span class="fullTime"></span>
          (<span class="relativeTime"></span>)
        </div>
        <div class="description"></div>
        <div class="comments"><div class="commentsLoading"></div></div>
      </td>
      <td class="rating nomRating">
        <span class="value"></span>
        <%- if !current_user.nil? -%>
        <a class="rateLink rateDown" title="<%= t('controls.nominate.rate_down') %>" href="#Rate down">
          <span class="icon"></span>
        </a>
        <a class="rateLink rateUp" title="<%= t('controls.nominate.rate_up') %>" href="#Rate up">
          <span class="icon"></span>
        </a>
        <%- end -%>
      </td>
      <td class="status">
        <%= render :partial => 'nom_status' %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
<%= render_translations LocalePart.controls.nominate %>

<% content_for :js_footer do %>
  <script type='text/javascript'>
    blist.namespace.fetch('blist.nominations');
    blist.nominations.items = <%= safe_json(@nominations); %>;
  </script>
  <%= include_javascripts 'screen-nominations' %>
<% end %>
