<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-nomination' %>
  <title><%= @nom.title %> | Dataset Suggestions | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div class="nomDetailContainer">
  <%= link_to(raw('<span class="icon"></span>Back to Dataset Suggestions'),
          {:action => 'index'}, {:class => 'button backButton leftArrowNoHover'}) %>
  <%- if current_user && (current_user.has_right?('edit_nominations')) -%>
    <a href="#edit" class="edit button editNomButton">Edit This Suggestion</a>
    <%- if current_user.id != @nom.user.id -%>
      <a href="#contact" class="notifyNominatorButton button">Contact Suggestion Author</a>
    <%- end -%>
  <%- end -%>
  <div class="content clearfix">
    <h2><%= @nom.title %></h2>
    <div class="nomFlash">
      <%= display_standard_flashes %>
    </div>

    <div class="submittedBy">
      <img class="authorImage" src="<%= @nom.user.profile_image_path %>"
           alt="<%= @nom.user.displayName %>" />
      <h4>Submitted by
        <span class="authorName">
          <%= link_to @nom.user.displayName, @nom.user.href %>
        </span>
      </h4>
      <span class="submittedOn"><%= blist_long_date(@nom.createdAt) %></span>
    </div>

    <div class="nomActions">
      <div class="nomRatingContainer">
        Rating:
        <span class="nomRating<%= @nom.netVotes > 0 ? ' positive' :
                                  @nom.netVotes < 0 ? ' negative' : '' %>">
          <span class="value"><%= @nom.netVotes %></span>
          <%- if !current_user.nil? -%>
          <span class="ratingButtons">
            <a class="rateLink rateUp" title="I like it" href="#Rate up">
              <span class="icon"></span>
            </a>
            <a class="rateLink rateDown" title="I don't like it" href="#Rate down">
              <span class="icon"></span>
            </a>
            <%- end -%>
          </div>
        </span>
      </span>
      <div class="nomModerationContainer">
        <%= render :partial => 'nom_status' %>
      </div>
    </div>

    <%- if @nom.description.present? -%>
      <div class="nomDescription">
        <h4>Description</h4>
        <%= simple_format(@nom.description, :class => 'subPara') %>
      </div>
    <%- end -%>

    <%- if @nom.attachments.present? -%>
    <div class="nomAttachments">
      <h4>Attachments</h4>
      <ul class="attachmentList">
        <%- @nom.attachments.each do |att| -%>
          <li>
          <%= link_to(att.filename, "/api/nominations/#{@nom.id}/attachments/#{att.id}") %>
          </li>
        <%- end -%>
      </ul>
    </div>
    <%- end -%>

    <div class="nomComments">
      <h4>Comments</h4>
    </div>
  </div>
</div>

<%- if current_user && current_user.has_right?('edit_nominations') -%>
<%- content_for :modals do -%>
  <%= render :partial => 'edit_modal' %>
  <%- if current_user.id != @nom.user.id -%>
    <%= render :partial => 'contact_modal' %>
  <%- end -%>
<%- end -%>
<%- end -%>

<%- content_for :templates do -%>
  <%= render :partial => 'datasets/feed_template', :locals => {:allow_comments => true} %>
<%- end -%>

<%- content_for :js_footer do -%>
  <%= include_javascripts 'screen-nomination' %>
  <script type='text/javascript'>
    blist.namespace.fetch('blist.nominations');
    blist.nomination = new Nomination(<%= safe_json(@nom) %>);
  </script>
<%- end -%>
