<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-nomination' %>
  <title><%= @nom.title %> | <%= t('controls.nominate.dataset_suggestions') %> | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div class="nomDetailContainer">
  <%= link_to(raw('<span class="icon"></span>' + t('controls.nominate.back_to_suggestions')),
          {:action => 'index'}, {:class => 'button backButton leftArrowNoHover'}) %>
  <%- if current_user && (current_user.has_right?('edit_nominations')) -%>
    <a href="#edit" class="edit button editNomButton"><%= t('controls.nominate.edit_suggestion') %></a>
    <%- if !@nom.user.nil? && current_user.id != @nom.user.id -%>
      <a href="#contact" class="notifyNominatorButton button"><%= t('controls.nominate.contact_author') %></a>
    <%- end -%>
  <%- end -%>
  <div class="content">
    <h2><%= @nom.title %></h2>
    <div class="nomFlash">
      <%= display_standard_flashes %>
    </div>

    <div class="submittedBy">
      <%- if @nom.user.nil? -%>
      <a><img class="authorImage" src="/images/small-profile.png" alt="<%= t('controls.nominate.user_removed_short') %>" />
        <h4><%= t('controls.nominate.submitted_by') %>
          <span class="authorName"><%= t('controls.nominate.user_removed') %></span>
        </h4>
      </a>
      <%- else -%>
      <a href="<%= profile_path(@nom.user) %>" rel="external">
        <img class="authorImage" src="<%= @nom.user.profile_image_path %>"
             alt="<%= @nom.user.displayName %>" />
        <h4><%= t('controls.nominate.submitted_by') %>
          <span class="authorName">
            <%= @nom.user.displayName %>
          </span>
        </h4>
      </a>
      <%- end -%>
      <span class="submittedOn"><%= blist_long_date(@nom.createdAt) %></span>
    </div>

    <div class="nomActions">
      <div class="nomRatingContainer">
        <%= t('controls.nominate.rating') %>:
        <span class="nomRating<%= @nom.netVotes > 0 ? ' positive' :
                                  @nom.netVotes < 0 ? ' negative' : '' %>">
          <span class="value"><%= @nom.netVotes %></span>
          <%- if !current_user.nil? -%>
          <span class="ratingButtons">
            <a class="rateLink rateUp" title="<%= t('controls.nominate.rate_up') %>" href="#Rate up">
              <span class="icon"></span>
            </a>
            <a class="rateLink rateDown" title="<%= t('controls.nominate.rate_down') %>" href="#Rate down">
              <span class="icon"></span>
            </a>
            <%- end -%>
          </div>
        </span>
      </span>
      <div class="nomModerationContainer">
        <%= render :partial => 'nom_status' %>
      </div>
    </div>

    <%- if @nom.description.present? -%>
      <div class="nomDescription">
        <h4><%= t('controls.nominate.description') %></h4>
        <%= simple_format(@nom.description, :class => 'subPara') %>
      </div>
    <%- end -%>

    <div class="nomComments">
      <h4><%= t('controls.nominate.comments') %></h4>
    </div>
  </div>
</div>
<%= render_translations LocalePart.controls.nominate %>

<%- content_for :modals do -%>
  <%- if current_user && current_user.has_right?('edit_nominations') -%>
    <%= render :partial => 'edit_modal' %>
    <%- if !@nom.user.nil? && current_user.id != @nom.user.id -%>
      <%= render :partial => 'contact_modal' %>
    <%- end -%>
  <%- end -%>

  <%- if !current_user -%>
    <%= render :partial => 'modals/inline_login' %>
  <%- end -%>
<%- end -%>


<%- content_for :templates do -%>
  <%= render :partial => 'templates/feed', :locals => {:allow_comments => true} %>
<%- end -%>

<%- content_for :js_footer do -%>
  <%= include_javascripts 'screen-nomination' %>
  <script type='text/javascript'>
    blist.namespace.fetch('blist.nominations');
    blist.nomination = new Nomination(<%= safe_json(@nom) %>);
  </script>
<%- end -%>
