<%- activity_feed_prefix = 'screens.admin.jobs' %>
<% content_for :head do %>
  <%= rendered_stylesheet_tag 'administration-screen' %>
  <%= rendered_stylesheet_tag 'administration-activity-feed' %>
  <title><%= t("#{activity_feed_prefix}.index_page.title") %> | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <%= link_to t('core.no_js'), '?no_js=true' %>
<% end %>

<% content_for :js_footer do %>
  <%- unless params[:no_js].present? -%>
    <%= include_webpack_bundle 'admin/admin-activity-feed.js' %>
  <%- end -%>
<% end %>

<% content_for :translations do %>
  <%= render_translations LocalePart.plugins.daterangepicker %>
  <%= render_translations LocalePart.screens.admin.jobs.index_page %>
<% end %>

<%= render :partial => 'left_nav' %>

<div class="contentBox withLeftNavigation jobsScreen">
  <div class="adminHeader floating jobs">
    <span class="icon"></span>
    <h1><%= t("#{activity_feed_prefix}.index_page.page_title") %></h1>
  </div>
</div>

<div class="contentBox withLeftNavigation jobsScreen">
  <%= display_standard_flashes %>

  <div class="jobs-filter">
    <span class="jobs-filter--header"><%= t("#{activity_feed_prefix}.filters.filter_by") %>:</span>
    <form class="jobs-filter--form" action="/admin/activity_feed">
      <label for="activity_type"><%= t("#{activity_feed_prefix}.filters.type") %>:</label>

      <%= select_tag(:activity_type, options_for_select([[t("#{activity_feed_prefix}.filters.all"), 'All']]) + grouped_options_for_select(
        [
          [t("#{activity_feed_prefix}.filters.import_activity"),
            [
              [t("#{activity_feed_prefix}.filters.import"), 'Import'],
              [t("#{activity_feed_prefix}.filters.append"), 'Append'],
              [t("#{activity_feed_prefix}.filters.replace"), 'Replace'],
              [t("#{activity_feed_prefix}.filters.upsert"), 'Upsert'],
              [t("#{activity_feed_prefix}.filters.delete"), 'Delete'],
              [t("#{activity_feed_prefix}.filters.restore"), 'Restore', {disabled: !FeatureFlags.derive(@view, request).restore_dataset_filter}]
            ]
          ]
          # TODO once these events are added, uncomment this!
          #[t("#{activity_feed_prefix}.filters.data_workflow"),
          #  [
          #    [t("#{activity_feed_prefix}.filters.working_copy"), 'WorkingCopy'],
          #    [t("#{activity_feed_prefix}.filters.publish"), 'Publish']
          #  ]
          #]
        ],
        params[:activity_type]
      )) %>

      <label for="time-control-input">Date:</label>
      <input name="date_range" type="text" id="time-control-input" class="currentTimeSlice" readonly="readonly" value='<%= if params[:date_range].present? then CGI.unescapeHTML params[:date_range] end %>' />

      <button class="button" type="submit"><%= t("#{activity_feed_prefix}.filters.apply_filters") %></button>
    </form>
  </div>

  <table class="gridList">
    <thead>
      <tr>
        <th><%= t("#{activity_feed_prefix}.index_page.action") %></th>
        <th><%= t("#{activity_feed_prefix}.index_page.dataset") %></th>
        <th><%= t("#{activity_feed_prefix}.index_page.initiated_by") %></th>
        <th><%= t("#{activity_feed_prefix}.index_page.started") %></th>
        <th><%= t("#{activity_feed_prefix}.index_page.status") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%- @activities.each do |activity| %>
        <tr class="job-row">
          <td><%= t("#{activity_feed_prefix}.actions.#{activity.activity_type}") %></td>
          <td>
            <% if activity.dataset.nil? %>
              <span class="import-status-deleted">(<%= t("#{activity_feed_prefix}.index_page.deleted_dataset") %>)</span>
            <% elsif activity.dataset.deleted %>
              <%= activity.dataset.name %> <span class="import-status-deleted"><%= "(#{t("#{activity_feed_prefix}.index_page.deleted")})" %></span>
            <% else %>
              <%= link_to activity.dataset.name, view_path(activity.dataset) %>
            <% end %>
            <% if activity.had_working_copy? %>
              <% working_copy = activity.working_copy %>
              <p class="working-copy-annotation">
                <%= t("#{activity_feed_prefix}.index_page.to_working_copy") %>
              <% if working_copy && working_copy.is_unpublished? %>
                <%= link_to(activity.working_copy_id, view_path(working_copy)) %>
              <% else %>
                <%= activity.working_copy_display %>
              <% end %>
              </p>
            <% end %>
          </td>
          <td nowrap>
            <% if activity.initiated_by.nil? %>
              <span class="import-status-deleted"><%= "(#{t("#{activity_feed_prefix}.index_page.deleted_user")})" %></span>
            <% elsif activity.initiated_by.is_superadmin? %>
              Socrata
              <% if current_user.is_superadmin? %>
                (<%= link_to activity.initiated_by.displayName, profile_path(activity.initiated_by) %>)
              <% end %>
            <% else %>
              <%= link_to activity.initiated_by.displayName, profile_path(activity.initiated_by) %>
            <% end %>
          </td>
          <td nowrap>
            <span class="started-time" data-epoch-seconds="<%= activity.created_at.to_i %>">
              <%= activity.created_at.strftime('%H:%M:%S') %>
            </span>
            <span class="started-time-relative-day">
              <%= activity.created_at.strftime('%d %b %Y') %>
            </span>
          </td>
          <td class="import-status-label" nowrap>
            <span class="import-status-icon import-status-icon-<%= activity.status.dasherize %> icon-<%= icon_for_status(activity.status) %>"></span>
            <% if activity.status == 'success_with_data_errors' %>
              <%= link_to t("#{activity_feed_prefix}.statuses.success"),
                          :action => 'show', :id => activity.id %>
              <div class="with-problems"><%= t("#{activity_feed_prefix}.index_page.with_problems") %></div>
            <% elsif activity.status == 'failure' %>
              <%= link_to t("#{activity_feed_prefix}.statuses.#{activity.status}"),
                          :action => 'show', :id => activity.id %>
            <% else %>
              <%= t("#{activity_feed_prefix}.statuses.#{activity.status}") %>
            <% end %>

            
          </td>
          <td>
            <%= restore_button(activity) %>
          </td>
        </tr>
      <%- end %>
    </tbody>
  </table>
  <% if @activities.blank? %>
    <p class="end-message">
      <%= t("#{activity_feed_prefix}.index_page.no_jobs") %>
    </p>
  <% end %>
</div>

<div class="pager">
  <% @pager_elements.each do |element| %>
    <% if element.page? %>
      <%= link_to(element.index, "/admin/activity_feed?page=#{element.index}&#{element.get_params}",
                  :class => 'pager-element page ' + (element.selected ? 'pager-page-selected' : '')) %>
    <% else %>
      <span class="pager-element ellipsis">…</span>
    <% end %>
  <% end %>
</div>

<%= render_admin_userzoom %>
