<h4 class="h6">Bordered Table</h4>
<%= partial "code_sample", locals: { component: "elements/skeletons/_table_bordered" } %>

<h4 class="h6">Borderless Table</h4>
<%= partial "code_sample", locals: { component: "elements/skeletons/_table_borderless" } %>

<h4 class="h6">Striped Table</h4>
<%= partial "code_sample", locals: { component: "elements/skeletons/_table_striped" } %>

<h4 class="h6">Responsive Table</h4>
<%= partial "code_sample", locals: { component: "elements/skeletons/_table_responsive" } %>

<h4 class="h6">Condensed Table</h4>
<%= partial "code_sample", locals: { component: "elements/skeletons/_table_condensed" } %>

<h4 class="h6">Discrete, Condensed, Borderless Table</h4>
<%= partial "code_sample", locals: { component: "elements/skeletons/_table_discrete" } %>
