<%- target_facet = widget.properties.target_facet || Canvas::Environment.facet_name -%>
<%- if widget.facet_values.empty? -%>
  <div id="<%= widget.elem_id %>" class="facetList facetListEmpty clearfix">
    <p>The facet <%= target_facet %> is currently empty.</p>
  </div>
<%- else -%>
  <%- if widget.properties.alpha_index -%>
    <div id="<%= widget.elem_id %>" class="facetList clearfix">
      <ul class="alphaIndex">
        <%- widget.by_alpha.keys.sort.each do |char| -%>
          <li><a href="#<%= char %>"><%= char %></a></li>
        <%- end -%>
      </ul>
      <%- ('a'..'z').each do |char| -%>
        <%- next unless widget.by_alpha.has_key? char -%>
        <a class="alphaIndexAnchor" name="<%= char %>"><%= char %></a>
        <%= render :partial => 'facet_list_listing', :locals => { :facet_values => widget.by_alpha[char],
            :elem_id => "#{widget.elem_id}_#{char}", :target_facet => target_facet} %>
      <%- end -%>
    </div>
  <%- else -%>
    <%= render :partial => 'facet_list_listing', :locals => { :facet_values => widget.facet_values,
        :elem_id => widget.elem_id, :target_facet => target_facet } %>
  <%- end -%>
<%- end -%>
