<div id="<%= widget.elem_id %>" class="popup <%= widget.properties.buttonClassNames.join(' ') %>" title="<%= widget.properties.buttonText %>">
  <a href="#">
    <%= widget.properties.buttonText %>
  </a>
</div>
<%- content_for :modals do -%>
  <%= modal :id => "#{widget.elem_id}_Content", :class => widget.properties.contentClassNames.join(' ') do %>
    <h2><%= widget.properties.contentTitle %></h2>

    <div class="popupContent clearfix">
      <%= raw render_widget(widget.children) %>
    </div>

    <ul class="actions clearfix">
      <li><a href="#cancel" class="jqmClose button">Done</a></li>
    </ul>
  <%- end -%>
<%- end -%>

<%- content_for :js_footer do -%>
  <script type="text/javascript">
    // Activator for <%= widget.elem_id %>
    $(function()
    {
      var selector = '#<%= widget.elem_id %>';
      var $modal = $(selector + '_Content');

      $(selector).click(function(event)
      {
        event.preventDefault();
        $modal.jqmShow();
      });
    });
  </script>
<%- end -%>
