<% content_for :head do %>
  <%-
    # EN-17875 - Make grid view Socrata Viz table respond to OBE/NBE read queries using old query path
    #
    # Note that this must be in the <head> because there is a load order
    # dependency with the Socrata Visualizations I18n module; if the
    # translations are not present on the window when that code bootstraps no
    # translations will be available.
    if FeatureFlags.derive(@view, request).enable_nbe_only_grid_view_optimizations
  -%>
    <%= rendered_stylesheet_tag 'socrata-icons' %>
    <%= rendered_stylesheet_tag 'visualizations' %>
    <%= render_socrata_visualizations_translations %>
  <%- end -%>
<% end %>

<%-
  expiry = FeatureFlags.value_for(:zealous_dataslate_cache_expiry) || Rails.application.config.cache_ttl_fragment
  prerendered_cache @cache_key, @cached_fragment, :expires_in => expiry do -%>

<%- if !@minimal_render -%>
  <%- begin
        context_result = @page.set_context(@vars)
      rescue Canvas2::AccessingPrivateDatasetInDataContextError => e
        # This strategy is deeply, deeply imperfect because it means we're not rendering
        # anything else. Logged-out users manage to avoid throwing this error by virtue
        # of sprinkled nil checks in the codebase bypassing the creation of this error.
        #
        # Logged-in users have no such luck and, without this, will see a 500 instead. This
        # is an improvement over that specific scenario.
        flash[:error] = e.error_message
      end
  -%>
  <%- if context_result == false && !@edit_mode -%>
  <%- raise Canvas2::NoContentError.new(Canvas2::DataContext::errors[0]) -%>
  <%- end -%><%# if context_result %>
<%- end -%><%# if minimal_render %>

<% content_for :head do %>
<title><%= @page_title %></title>
<%= meta_tags @custom_meta.merge({:title => @page_title,
                                 'og:title' => @page_title}) unless @custom_meta.blank?  %>
<%= rendered_stylesheet_tag 'components' unless prevent_platform_styling? %>
  <% end %>

<%=
  begin
    raw @page.render(!@minimal_render)
  rescue Canvas2::AccessingPrivateDatasetInComponentError => e
    # This strategy is deeply, deeply imperfect because it means we're not rendering anything else.
    # Logged-out users manage to avoid throwing this error by virtue of sprinkled nil checks in the
    # codebase bypassing the creation of this error.
    #
    # Logged-in users have no such luck and, without this, will see a 500 instead. This is an
    # improvement over that specific scenario.
    flash[:error] = e.error_message
    nil
  end
%>
<%= display_standard_flashes if flash[:error] %>

<%- if @debug -%>
<%= render :partial => 'debug_content' %>
<%- end -%>

<%- content_for :js_footer do -%>
  <%= render :partial => 'canvas_js', :locals => { :page => @page, :template => nil } %>
  <%-
    # EN-17875 - Make grid view Socrata Viz table respond to OBE/NBE read queries using old query path
    #
    # Note that these come at the bottom of the <body> due to the load-order
    # dependency detailed in the comment with this ticket number at the top
    # of this file (tl;dr: the translations must exist on the window when
    # we boostrap the Socrata Viz package).
    if enable_2017_grid_refresh_for_current_request?
  -%>
    <%= include_webpack_bundle 'grid_view_socrata_visualizations/main.js' %>
  <%- end -%>
<%- end -%>

<%- end -%>
<%# prerendered_cache %>

