---
title: Socrata Styleguide
---

<div class="container">
  <div id="pagemap" class="menu menu-offscreen menu-anchor-left">
    <%= partial "guide_menu" %>
  </div>

  <div class="content">
    <h1 class="page-header">Components</h1>
    <section class="styleguide-section" id="buttons">
      <div class="meta">
        <h2 class="styleguide-header">Buttons</h2>
        <p class="small">
          Buttons should be an obvious affordance for the click interaction.
        </p>
        <p class="small">
          Both <code class="language-markup">&lt;button&gt;</code> and
          <code class="language-markup">&lt;a&gt;</code> elements can be styled
          as buttons.
        </p>
      </div>
      <div class="example">
        <%= partial "examples/button_options" %>
        <%= partial "examples/button_groups" %>
        <%= partial "examples/button_icons" %>
        <%= partial "examples/button_toggle" %>
      </div>
    </section>

    <section class="styleguide-section" id="tags">
      <div class="meta">
        <h2 class="styleguide-header">Tags</h2>
        <p class="small">
          Tags act as call-outs for short amounts of text which reinforce some
          notion of importance or meaningfulness.
        </p>
      </div>
      <div class="example">
        <%= partial "examples/tags" %>
      </div>
    </section>

    <section class="styleguide-section" id="alerts">
      <div class="meta">
        <h2 class="styleguide-header">Alerts</h2>
        <p class="small">
          Alerts draw the user's attention to a specific condition, either prior
          to or in response to a user action.
        </p>
        <p class="small">
          The type of alert embodies the sentiment of the condition; the content
          reinforces good/expected behaviors or provides actionable information
          for bad/unexpected behaviors.
        </p>
      </div>
      <div class="example">
        <%= partial "examples/alerts" %>
      </div>
    </section>

    <section class="styleguide-section">
      <div class="meta">
        <h2 class="styleguide-header" id="input-groups">Input Groups</h2>
        <p class="small">
          Input groups allow for better presentation than native input controls
          and can co-locate related controls for compact complexity.
        </p>
      </div>
      <div class="example">
        <%= partial "examples/input_groups" %>
      </div>
    </section>


    <section class="styleguide-section">
      <div class="meta">
        <h2 class="styleguide-header" id="navigation">Navigation</h2>
        <p class="small">
          Navigation bars provide a consistent page header that connects the
          current page to the broader platform. The header may also contain
          interactive controls pertinent to the current page.
        </p>
        <p class="small">
          Navigation tabs provide a compact presentation for medium to large
          blocks of related content within a page.
        </p>
      </div>
      <div class="example">
        <%= partial "examples/nav_bars" %>
      </div>
    </section>

    <section class="styleguide-section" id="pagination">
      <div class="meta">
        <h2 class="styleguide-header">Pagination</h2>
        <p class="small">
          Pagination divides repetitive ordered content into more readily
          consumable sections.
        </p>
      </div>
      <div class="example">
        <%= partial "examples/pagination" %>
      </div>
    </section>

    <section class="styleguide-section" id="cards">
      <div class="meta">
        <h2 class="styleguide-header">Cards</h2>
        <p class="small">
          Cards provide a layout for consolidating several pieces of related
          information, in a way that isn't confusing or overwhelming when
          many cards need to be shown.
        </p>
      </div>
      <div class="example">
        <%= partial "examples/cards" %>
      </div>
    </section>

    <section class="styleguide-section" id="miscellaneous">
      <div class="meta">
        <h2 class="styleguide-header">Misc. Components</h2>
      </div>
      <div class="example">
        <%= partial "examples/spinners" %>
      </div>
    </section>
  </div>
</div>
