<%= modal :class => 'contactNominatorDialog nominateDialog' do %>
  <h2><%= t('controls.nominate.contact_author') %></h2>
  <form class="nominateContent commonForm">
    <div class="line clearfix">
      <label for="contactBody" class="required"><%= t('controls.nominate.message') %></label>
      <textarea id="contactBody" name="message"
        class="textPrompt required" title="<%= t('controls.nominate.message_prompt') %>"></textarea>
    </div>
    <span class="required"><%= t('controls.nominate.required') %></span>
  </form>
  <div class="mainError"></div>
  <ul class="actions">
    <li><a href="#Cancel" class="jqmClose button"><%= t('controls.nominate.cancel') %></a></li>
    <li><a href="#Submit" class="submitAction button"><%= t('controls.nominate.submit') %></a></li>
  </ul>
<%- end -%>
