<% content = @site_chrome.content['footer'] %>

<%= form_tag site_chrome_path, method: :put, remote: true do %>

  <%= render(partial: 'site_chrome/tab_content/form_field',
             locals: { fields: [:footer, :logo, :src],
                       translation: translations[:footer_logo] }) %>

  <%= render(partial: 'site_chrome/tab_content/form_field_pair',
             locals: { left: { fields: [:footer, :styles, :bg_color],
                               translation: translations[:footer_background_color] },
                       right: { fields: [:footer, :styles, :fg_color],
                                translation: translations[:footer_text_link_color] } }) %>

  <%= render('list_of_links',
             :links => content['links'],
             :content_key => :footer,
             :translations => translations) %>

  <section class="settings-group">
    <div class="settings-form full">
      <h3><%= translations[:copyright_notice][:title] %></h3>
      <p><%= translations[:copyright_notice][:description] %></p>
      <% form_field = 'content[footer][show_copyright_notice]' %>
      <%= label_tag form_field do %>
        <%= check_box_tag(form_field, 1, true) %>
        <%= translations[:copyright_notice][:label] %>
      <% end %>
    </div>
  </section>

  <%= submit_tag 'put_footer', id: 'footer' %>
<% end %>
