<div class="authProvider socrata">
  <span class="iconContainer">
    <span class="icon"></span>
  </span>
  <span class="description"><%= t('screens.sign_in.prompt_html') %></span>
</div>
<% if flash[:notice_login]  %>
  <div class="flash notice"><%= flash[:notice_login] %></div>
<% else %>
  <p class="chooseMessage loginTips"><%= t('screens.sign_up.third_party') %></p>
<% end %>

<%= form_for @user_session, :url => rpx_login_path do |f| %>
  <%# Save off the form fields from the signup side, in case they change their mind
      and go create a new account. %>
  <%= fields_for :signup, @signup do |signup|  %>
    <%= signup.hidden_field :openIdIdentifierId %>
    <%= signup.hidden_field :firstName %>
    <%= signup.hidden_field :lastName %>
    <%= signup.hidden_field :email %>
    <%= signup.hidden_field :emailConfirm %>
    <%= signup.hidden_field :login %>
  <% end %>
  <%= render :partial => 'user_sessions/login_form_data', :locals => { :f => f } %>
<% end %>

<%= render_translations LocalePart.screens.sign_in %>

