<div class="tabContentOuter"><div class="tabContentT"></div>
  <div class="tabContent">
    <h2>
      <%= tab_title %>
      <%= 'with public datasets' if !@current_state[:filter].nil? && @current_state[:filter][:publicOnly] %>
      <%= "tagged '#{@current_state[:tag]}'" if @current_state[:tag] %>
    </h2>

    <%- if members_total > 0 -%>
      <div class="contentSort">
        <%- unless type == 'search' -%>
          <% form_tag(community_path, :class => "sortForm", :method => :get) do %>
            <p>
              <label for="sort_by_<%= type %>">Sort by</label>
              <%= select_tag("sort_by", (type == "search") ? 
                             community_sort_select_options_for_search(sort_by) : community_sort_select_options(sort_by), 
                             :id => "sort_by_" + type) %>
              <%- if @current_state[:no_js] -%>
                <%- @current_state.each_pair do |key, value| -%>
                  <%= hidden_field_tag(key, value) unless value.blank? || key == :sort_by %>
                <%- end -%>
                <%= hidden_field_tag('type', type) %>
                <%= submit_tag('go') %>
              <%- end -%>
            </p>
          <% end %>
        <%- end -%>
      </div>

      <ul class="communityContentList">
        <%= render(:partial => "member_list_item", :collection => members) %>
      </ul>

      <div class="memberPager">
        <%= create_pagination(members_total, @page_size, current_page, generate_filter_url(@current_state, type)) %>
      </div>
    <%- else -%>
      <p class="clearBoth">
        There are no people that match that filter.  Try broadening your search.
      </p>
    <%- end -%>
  </div>
<div class="tabContentB"></div></div>

<div class="tabContentNavOuter">
  <div class="tabContentNavT"></div>
  <div class="tabContentNav">
    <%- unless (type == "search") -%>
      <h2>Show People</h2>
      <ul class="filterList hilightList">
        <li><%= link_to(raw("<span>With public #{t(:blists_name)}</span>"),
                generate_filter_url(@current_state, type, {:filter => {:publicOnly => 'true'}}),
                :class => "filterLink#{get_filter_hilight_class({'publicOnly' => 'true'}, current_filter, ' hilight')}") %></li>
      </ul>
  
      <h2>Browse by Tag</h2>
      <ul class="tagList hilightList">
        <%- tag_list.each do |tag| -%>
          <li>
            <%= link_to(raw("<span>#{h(tag.name)}</span>"),
                  generate_filter_url(@current_state, type, {:tag => tag.name}),
                  :class => "filterLink#{' hilight' if tag.name == @current_state[:tag]}" ) %>
          </li>
        <%- end -%>
        <li class="moreLink">
          <%= link_to("More",
              tags_community_path + generate_filter_url(@current_state, type, {}, '?'),
                :class => "moreTagsLink") %>
        </li>
      </ul>
    <%- end -%>
  </div>
  <div class="tabContentNavB"></div>
</div>