<%- member = member_list_item -%>

<li class="memberListItem clearfix">
  <div class="memberImage">
    <%= link_to(
          image_tag(member.profile_image_path("medium"), :size => "65x65",
          :alt => h(member.displayName)), profile_path(member.id)) %>
  </div>
  <div class="memberInfo">
    <h3 class="clipText"><%= link_to(h(member.displayName), profile_path(member.id), :title => h(member.displayName)) %></h3>
    <ul>
      <li><%= h(member.displayLocation) %></li>
      <li><%= h(member.company) %></li>
      <li><%= h(member.title) %></li>
    </ul>
  </div>
  <div class="memberRight">
    <div class="memberMeta">
      <ul>
        <li><strong>Tags:</strong> <%= member.tag_display_string %></li>
        <li><strong>Interests:</strong> <%= h(member.interests) %></li>
      </ul>
    </div>
    <div class="memberData">
      <ul class="clearfix">
        <li>Friends <strong><%= member.numberOfFriends %></strong></li>
        <%- if false -%>
        <li>Socrata Grade <strong>[0]</strong></li>
        <%- end -%>
        <li>Followers <strong><%= member.numberOfFollowers %></strong></li>
        <li>Public <%= t(:blists_name) %> <strong><%= member.publicTables %></strong></li>
      </ul>
      <ul class="memberActions actionButtons clearfix">
        <%- if (!@current_user.nil?) -%>
          <li>
            <%- if (member.my_friend?) -%>
              <%= link_to("<span>Remove</end>", 
                          delete_friend_profile_path(member.id), 
                          :class=> "followAction", :title => "Remove as Friend") %>
            <%- else -%>
              <%= link_to("<span>Add Friend</span>", 
                          create_friend_profile_path(member.id), 
                          :class=> "followAction", :title => "Add Friend") %>
            <%- end -%>
          </li>
        <%- end -%>
        <li class="last"><%= link_to("<span>Profile</span>", profile_path(member.id), :class => "arrowButton") %></li>
      </ul>
    </div>
  </div>
</li>
