<% content_for :head do %>
  <%= stylesheet_link_tag "community-activities-screen", "widgets",
    :cache => "cache/community_activites_all" %>
  <title><%= t(:page_title) %></title>
<% end %>


<div id="activities">
  <div class="fullPageContentContainer">
    <div class="fullPageOuterContent">
      <div class="fullPageContent">
      
        <div class="activitiesHeader clearfix">
          <h1>The <%= t(:blist_company) %> Community Feed</h1>
          <p class="communityBackLink">
            <%= link_to("Back to the #{t(:blist_company)} community", community_url) %>
          </p>
        </div>
      
        <div class="activitiesBody clearfix">
          <div class="activityColumn"><div class="activityColumnInner">
            <h2>Community Activity</h2>
            <ul class="activityList">
              <%- @community_activity.each do |activity| -%>
                <li>
                  <%= get_html_for_activity(activity, "full") %>
                </li>
              <%- end -%>
            </ul>
          </div></div>
          <%- if @contacts_activity && @contacts_activity.length > 0 -%>
          <div class="activityColumn last"><div class="activityColumnInner">
            <h2>Your Friends Activity</h2>
            <ul class="activityList">
              <%- @contacts_activity.each do |activity| -%>
                <li>
                  <%= get_html_for_activity(activity, "full") %>
                </li>
              <%- end -%>
            </ul>
          </div></div>
          <%- end -%>
        </div>
      
      </div>
    </div>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "screens/community-activities-screen", :cache => "cache/community_activites_all" %>
<% end %>
