<% content_for :head do %>
  <%= stylesheet_link_merged 'communities-show' %>
  <title>Community | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <%- unless params[:no_js] -%>
    <a href="?no_js=true">Reload this page without JavaScript</a>
  <%- end -%>
<% end %>

<div id="community" class="oneColumnContainer">
  <div class="pageBlockHeaderOuter">
    <div class="pageBlockHeaderTR"><div class="pageBlockHeaderTL"></div></div>
    <div class="pageBlockHeaderContainer">
      <div class="pageBlockIntro">
        <p><%= t(:community_header_intro) %></p>
      </div>
      <div class="pageBlockSearch">
        <p class="searchIntro">Search for People</p>
        <% form_tag(filter_community_path, :class => "search large") do %>
          <div class="searchContainer">
            <%= text_field_tag("search", @community_search, :class => "textPrompt", :title => "Search") %>
            <%= hidden_field_tag("type", "search") %>

            <div class="actionsBox">
              <div class="clearBox">
                <a class="clearSearch noHistory" title="Clear Search" href="#clear_search">
                  Clear Search
                </a>
              </div>
              <%= image_submit_tag("find_button_large.png", :name => "communitySubmit", :class => "submit") %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="pageBlockHeaderContent clearfix">
        <% prerendered_cache "community-carousel_#{CurrentDomain.cname}",
          @carousel_members_rendered, :expires_in => 15.minutes do %>
          <div class="pageBlockHeaderCarousel carouselWrapper">
            <div class="carouselOuter"><div class="carouselInner">
              <h2>Top Community Members</h2>
              <ul id="featuredCarousel" class="jcarousel-skin-discover carousel">
                <%= render(:partial => "carousel_item", :collection => @carousel_members) %>
              </ul>
            </div></div>
          </div>
        <% end %>
      
        <div class="pageBlockHeaderSide">
          <h2>Community Activity</h2>
          <ul class="myNetworkList">
            <%- @activities.each do |activity| -%>
              <li>
                <%= get_html_for_activity(activity) %>
              </li>
            <%- end -%>
          </ul>
          <p class="moreLinkContainer">
            <%= link_to("More", activities_community_path) %>
          </p>
        </div>
      </div>
    </div>
    <div class="pageBlockHeaderBR"><div class="pageBlockHeaderBL"></div></div>
  </div>
  
  <div class="simpleTabsContainer">
    
    <div class="simpleTabNav">
      <ul class="simpleTabs tabList clearfix">
        <%- if (@search_members && @search_members.length > 0) -%>
          <li id="tabSearch" class="<%= 'active' if @active_tab == :search %>">
            <div class="wrapper"><a href="<%= generate_filter_url(@current_state, 'search') %>">Search Results</a></div>
          </li>
        <%- end -%>
        <li id="tabTopMembers" class="even<%= ' active' if @active_tab == :topMembers %>">
          <div class="wrapper"><a href="<%= generate_filter_url(@current_state, 'topMembers') %>">Top 100</a></div>
        </li>
        <li id="tabTopUploaders" class="<%= 'active' if @active_tab == :topUploaders %>">
          <div class="wrapper"><a href="<%= generate_filter_url(@current_state, 'topUploaders') %>">Top Uploaders</a></div>
        </li>
        <li id="tabAllMembers" class="even<%= ' active' if @active_tab == :allMembers %>">
          <div class="wrapper"><a href="<%= generate_filter_url(@current_state, 'allMembers') %>">All Members</a></div>
        </li>
      </ul>
    </div>
    <div id="communityTabSearchResults" class="tabContentContainer clearfix<%= ' active' if @active_tab == :search %>">
      <%- if (@search_members && @search_members.length > 0) -%>
        <%= render(:partial => "member_list_tab", :locals => { 
          :tab_title => "Search Results for \"#{@search_term}\"", 
          :members => @search_members, :members_total => @search_members_total,
          :current_page => @current_state[:page], :type => "search", :current_filter => params[:filter], 
          :sort_by => nil, :tag_list => nil, :current_tag => @current_state[:tag],
          :search_term => @search_term }) %>
      <%- else -%>
        <%= render(:partial => "member_list_tab_noresult", :locals => { :term => @search_term }) %>
      <%- end -%>
    </div>
    <%- if @need_to_render.include? :topMembers -%>
      <div id="communityTabTopMembers" class="tabContentContainer clearfix<%= ' active' if @active_tab == :topMembers %>">
        <%= render(:partial => "member_list_tab", :locals => { 
          :tab_title => "Top Members", 
          :members => @top_members, :members_total => @top_members_total,
          :current_page => @current_state[:page], :type => "topMembers", :current_filter => params[:filter],
          :sort_by => params[:sort_by] || "ACTIVITY", :tag_list => @top_members_tags, :current_tag => @current_state[:tag],
          :search_term => nil }) %>
      </div>
    <%- end -%>
    <%- if @need_to_render.include? :topUploaders -%>
      <div id="communityTabTopUploaders" class="tabContentContainer clearfix<%= ' active' if @active_tab == :topUploaders %>">
        <%= render(:partial => "member_list_tab", :locals => { 
          :tab_title => "Top Uploaders", 
          :members => @top_uploaders, :members_total => @top_uploaders_total,
          :current_page => @current_state[:page], :type => "topUploaders", :current_filter => params[:filter],
          :sort_by => params[:sort_by] || "ACTIVITY", :tag_list => @top_uploaders_tags, :current_tag => @current_state[:tag],
          :search_term => nil }) %>
      </div>
    <%- end -%>
    <%- if @need_to_render.include? :allMembers -%>
      <div id="communityTabAllMembers" class="tabContentContainer clearfix<%= ' active' if @active_tab == :allMembers %>">
        <%= render(:partial => "member_list_tab", :locals => { 
          :tab_title => "All Members", 
          :members => @all_members, :members_total => @all_members_total,
          :current_page => @current_state[:page], :type => "allMembers", :current_filter => params[:filter],
          :sort_by => params[:sort_by] || "ACTIVITY", :tag_list => @all_members_tags, :current_tag => @current_state[:tag],
          :search_term => nil }) %>
      </div>
    <%- end -%>
  </div>
</div>

<%- unless params[:no_js] -%>
  <% content_for :js_footer do %>
    <div class="jqmWindow" id="tagCloud"></div>
    <%= javascript_include_merged 'shared-common-all' %>
    <%= javascript_include_merged 'communities-show' %>
  
    <script type="text/javascript" charset="utf-8">
      communityNS.filterUrl = "<%= filter_community_path %>";
    </script>
  <% end %>
<%- end -%>