<% content_for :head do %>
  <%= stylesheet_link_tag "community-screen", "widgets",
    :cache => "cache/community_show_all" %>
  <title><%= t(:page_title) %></title>
<% end %>


<div id="community">
      <%= image_tag('ComingSoon.png', :size => "991x1016", :alt => 'Community Coming Soon') %>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "screens/community-screen", :cache => "cache/community_show_all" %>
<% end %>
