<% content_for :head do %>
  <%= stylesheet_link_tag "community-screen",
    "carousel/jquery.jcarousel", "carousel/discover-carousel-skin",
    :cache => "cache/community_show_all" %>
  <title>Community | <%= t(:page_title) %></title>
<% end %>


<div id="community" class="oneColumnContainer">
  <div class="pageBlockHeaderOuter"><div class="pageBlockHeaderTL"><div class="pageBlockHeaderTR">
  <div class="pageBlockHeaderBL"><div class="pageBlockHeaderBR">
    <div class="pageBlockHeaderContainer">
      <div class="pageBlockIntro">
        <p><%= t(:community_header_intro) %></p>
      </div>
      <div class="pageBlockSearch">
        <p class="searchIntro">Search for People</p>
        <% form_tag(filter_community_path, :class => "search large") do %>
          <div class="searchContainer">
            <%= text_field_tag("search", @community_search, :class => "textPrompt", :title => "Search") %>
            <%= hidden_field_tag("type", "SEARCH") %>

            <div class="actionsBox">
              <div class="clearBox">
                <a class="clearSearch" title="Clear Search" href="#clear_search">
                  Clear Search
                </a>
              </div>
              <%= image_submit_tag("find_button_large.png", :name => "communitySubmit", :class => "submit") %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="pageBlockHeaderContent clearfix">
        <div class="pageBlockHeaderCarousel carouselWrapper">
          <div class="carouselOuter"><div class="carouselInner">
            <h2>Top Community Members</h2>
            <ul id="featuredCarousel" class="jcarousel-skin-discover carousel">
              <%= render(:partial => "carousel_item", :collection => @carousel_members) %>
            </ul>
          </div></div>
        </div>
      
        <div class="pageBlockHeaderSide">
          <h2>Community Activity</h2>
          <ul class="myNetworkList">
            <%- @activities.each do |activity| -%>
              <li>
                <%= get_html_for_activity(activity) %>
              </li>
            <%- end -%>
          </ul>
          <p class="moreLinkContainer">
            <%= link_to("More", activities_community_path) %>
          </p>
        </div>
      </div>
    </div>
  </div></div>
  </div></div></div>
  
  <div class="simpleTabsContainer">
    
    <div class="simpleTabNav">
      <ul class="simpleTabs tabList clearfix">
        <%- if (@search_members && @search_members.length > 0) -%>
          <li id="tabSearch" class="active">
            <div class="wrapper"><a href="#SEARCH">Search Results</a></div>
          </li>
        <%- end -%>
        <li id="tabTopMembers" class="<%= @search_members.nil? ? 'active' : '' %>">
          <div class="wrapper"><a href="#TOPMEMBERS">Top 100</a></div>
        </li>
        <li id="tabTopUploaders"><div class="wrapper"><a href="#TOPUPLOADERS">Top Uploaders</a></div></li>
        <li id="tabAllMembers"><div class="wrapper"><a href="#ALLMEMBERS">All Members</a></div></li>
      </ul>
    </div>
    <div id="communityTabSearchResults" class="tabContentContainer clearfix<%= @search_members.nil? ? '' : ' active' %>">
      <%- if (@search_members && @search_members.length > 0) -%>
        <%= render(:partial => "member_list_tab", :locals => { 
          :tab_title => "Search Results for \"#{@search_term}\"", 
          :members => @search_members, :members_total => @search_members_total,
          :current_page => 1, :type => "SEARCH", :current_filter => nil, 
          :sort_by => nil, :tag_list => nil, :current_tag => nil,
          :search_term => @search_term , :search_debug => @search_debug}) %>
      <%- else -%>
        <%= render(:partial => "member_list_tab_noresult", :locals => { :term => @search_term }) %>
      <%- end -%>
    </div>
    <div id="communityTabTopMembers" class="tabContentContainer active clearfix">
      <%= render(:partial => "member_list_tab", :locals => { 
        :tab_title => "Top Members", 
        :members => @top_members, :members_total => @top_members_total,
        :current_page => 1, :type => "TOPMEMBERS", :current_filter => nil,
        :sort_by => "ACTIVITY", :tag_list => @top_members_tags, :current_tag => nil,
        :search_term => nil, :search_debug => nil }) %>
    </div>
    <div id="communityTabTopUploaders" class="tabContentContainer clearfix">
      <%= render(:partial => "member_list_tab", :locals => { 
        :tab_title => "Top Uploaders", 
        :members => @top_uploaders, :members_total => @top_uploaders_total,
        :current_page => 1, :type => "TOPUPLOADERS", :current_filter => nil,
        :sort_by => "ACTIVITY", :tag_list => @top_uploaders_tags, :current_tag => nil,
        :search_term => nil, :search_debug => nil }) %>
    </div>
    <div id="communityTabAllMembers" class="tabContentContainer clearfix">
      <%= render(:partial => "member_list_tab", :locals => { 
        :tab_title => "All Members", 
        :members => @all_members, :members_total => @all_members_total,
        :current_page => 1, :type => "ALLMEMBERS", :current_filter => nil,
        :sort_by => "ACTIVITY", :tag_list => @all_members_tags, :current_tag => nil,
        :search_term => nil, :search_debug => nil }) %>
    </div>
  </div>
</div>

<% content_for :js_footer do %>
  <div class="jqmWindow" id="tagCloud"></div>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "plugins/jquery.jcarousel", "plugins/jquery.tagcloud", "plugins/jquery.history", 
  "widgets/simple-tab-navigate", "screens/community-screen", :cache => "cache/community_show_all" %>
  
  <script type="text/javascript" charset="utf-8">
    communityNS.filterUrl = "<%= filter_community_path %>";
  </script>
<% end %>
