<% content_for :head do %>
  <%= stylesheet_link_tag "community-screen", "widgets",
    "carousel/jquery.jcarousel", "carousel/discover-carousel-skin",
    :cache => "cache/community_show_all" %>
  <title><%= t(:page_title) %></title>
<% end %>


<div id="community">
  <div class="pageBlockHeaderOuter"><div class="pageBlockHeaderTL"><div class="pageBlockHeaderTR">
  <div class="pageBlockHeaderBL"><div class="pageBlockHeaderBR">
    <div class="pageBlockHeaderContainer">
      <div class="pageBlockIntro">
        <p><%= t(:community_header_intro) %></p>
      </div>
      <div class="pageBlockSearch">
        <p class="searchIntro">Search for People</p>
        <% form_tag(community_url, :class => "search large") do %>
          <p>
            <%= text_field_tag("search", @community_search, :class => "textPrompt", :title => "Search") %>
            <%= image_submit_tag("find_button_large.png", :name => "communitySubmit", :class => "submit") %>
          </p>
        <% end %>
      </div>
      <div class="pageBlockHeaderContent clearfix">
        <div class="pageBlockHeaderCarousel carouselWrapper">
          <div class="carouselOuter"><div class="carouselInner">
            <h2>Top Community Members</h2>
            <ul id="featuredCarousel" class="jcarousel-skin-discover carousel">
              <%= render(:partial => "carousel_item", :collection => @carousel_members) %>
            </ul>
          </div></div>
        </div>
      
        <div class="pageBlockHeaderSide">
          <h2>Community Activity</h2>
          <ul class="myNetworkList">
            <%- @activities.each do |activity| -%>
              <li>
                <%= get_html_for_activity(activity) %>
              </li>
            <%- end -%>
          </ul>
          <p class="moreLinkContainer">
            <%= link_to("More", activities_community_url) %>
          </p>
        </div>
      </div>
    </div>
  </div></div>
  </div></div></div>
  
  <div class="simpleTabsContainer">
    
    <div class="simpleTabNav">
      <ul class="simpleTabs tabList clearfix">
        <%# TODO: Add tab for search results. %>
        <li id="tabTopMembers" class="active"><div class="wrapper"><a href="#top_members">Top Members</a></div></li>
        <li id="tabTopUploaders"><div class="wrapper"><a href="#top_uploaders">Top Uploaders</a></div></li>
        <li id="tabAllMembers"><div class="wrapper"><a href="#all">All Members</a></div></li>
      </ul>
    </div>
    <div id="communityTabTopMembers" class="tabContentContainer active clearfix">
      <%= render(:partial => "member_list_tab", :locals => { 
        :tab_title => "Top Members", 
        :members => @top_members, :members_total => @top_members_total,
        :current_page => 1, :type => "TOPMEMBERS", :current_filter => nil,
        :sort_by => "ACTIVITY" }) %>
    </div>
    <div id="communityTabTopUploaders" class="tabContentContainer clearfix">
      <%= render(:partial => "member_list_tab", :locals => { 
        :tab_title => "Top Uploaders", 
        :members => @top_uploaders, :members_total => @top_uploaders_total,
        :current_page => 1, :type => "TOPUPLOADERS", :current_filter => nil,
        :sort_by => "ACTIVITY" }) %>
    </div>
    <div id="communityTabAllMembers" class="tabContentContainer clearfix">
      <%= render(:partial => "member_list_tab", :locals => { 
        :tab_title => "All Members", 
        :members => @all_members, :members_total => @all_members_total,
        :current_page => 1, :type => "ALLMEMBERS", :current_filter => nil,
        :sort_by => "ACTIVITY" }) %>
    </div>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "plugins/jquery.jcarousel", "widgets/simple-tab-navigate",
  "screens/community-screen", :cache => "cache/community_show_all" %>
<% end %>
