---
title: Socrata Styleguide
---

<div class="container">
  <div id="pagemap" class="menu menu-offscreen menu-anchor-left">
    <%= partial "guide_menu" %>
  </div>

  <div class="content">
    <h1 class="page-header">Components</h1>
    <section class="styleguide-section" id="buttons">
      <div class="meta">
        <h2 class="styleguide-header">Buttons</h2>
        <p class="small">Yay, buttonz!</p>
      </div>
      <div class="example">
        <%= partial "examples/button_options" %>
        <%= partial "examples/button_groups" %>
        <%= partial "examples/button_icons" %>
        <%= partial "examples/button_toggle" %>
      </div><!-- /.example -->
    </section>

    <section class="styleguide-section" id="tags">
      <div class="meta">
        <h2 class="styleguide-header">Tags</h2>
        <p class="small">Make tags pretty</p>
      </div>
      <div class="example">
        <%= partial "examples/tags" %>
      </div><!-- /.example -->
    </section>

    <section class="styleguide-section" id="alerts">
      <div class="meta">
        <h2 class="styleguide-header">Alerts</h2>
        <p class="small">Tweets for peeps in the UI</p>
      </div>
      <div class="example">
        <%= partial "examples/alerts" %>
      </div><!-- /.example -->
    </section>

    <section class="styleguide-section">
      <div class="meta">
        <h2 class="styleguide-header" id="input-groups">Input Groups</h2>
        <p class="small">Inputs and buttons <i>at the same time</i>!</p>
      </div>
      <div class="example">
        <%= partial "examples/input_groups" %>
      </div><!-- /.example -->
    </section>


    <section class="styleguide-section">
      <div class="meta">
        <h2 class="styleguide-header" id="navbars">Nav Bars</h2>
        <p class="small">It's how you know what's up</p>
      </div>
      <div class="example">
        <%= partial "examples/nav_bars" %>
      </div><!-- /.example -->
    </section>

    <section class="styleguide-section" id="pagination">
      <div class="meta">
        <h2 class="styleguide-header">Pagination</h2>
        <p class="small">We have all of the things!</p>
      </div>
      <div class="example">
        <%= partial "examples/pagination" %>
      </div><!-- /.example -->
    </section>

    <section class="styleguide-section" id="miscellaneous">
      <div class="meta">
        <h2 class="styleguide-header">Misc. Components</h2>
        <p class="small">Spinning things and other things that don't yet have a logical place.</p>
      </div>
      <div class="example">
        <%= partial "examples/spinners" %>
      </div><!-- /.example -->
    </section>
  </div>
</div>
