---
title: Socrata Styleguide
layout: styleguide
---

<div class="container">
  <div id="pagemap" class="menu menu-offscreen menu-anchor-left">
    <%= partial "guide_menu" %>
  </div>

  <div class="content">
    <h2>Elements</h2>
    <section class="styleguide-section" id="typography">
      <div class="meta">
        <h2 class="styleguide-header">Typography</h2>
        <p class="small">
          Type is set in <i>Open Sans</i> 15px/1.618 using a modular type scale. The scale is composed using three scale ratios to provide more incremental typesetting steps.
        </p>
        <p class="small">
          The full scale can be viewed at <%= link_to 'http://www.modularscale.com/?15&px&1.618,1.25,1.33','http://www.modularscale.com/?15&px&1.618,1.25,1.33' %>
        </p>
      </div>
      <div class="example">
        <%= partial "examples/typography" %>
      </div> <!-- /.example -->
    </section>

      <section class="styleguide-section" id="dividers">
      <div class="meta">
        <h2 class="styleguide-header">Dividers</h2>
        <p class="small">
          Dividers for your content.
        </p>
      </div>
      <div class="example">
        <%= partial "examples/dividers" %>
      </div> <!-- /.example -->
    </section>

    <section class="styleguide-section" id="lists">
      <div class="meta">
        <h2 class="styleguide-header">Lists</h2>
        <p class="small">A list is a list, a list, a list, of course.</p>
      </div>
      <div class="example">
        <%= partial "examples/lists" %>
      </div><!-- /.example -->
    </section>

    <section class="styleguide-section" id="tables">
      <div class="meta">
        <h2 class="styleguide-header">Tables</h2>
        <p class="small">Four legs and holds cups, plates, etc.</p>
      </div>
      <div class="example">
        <%= partial "examples/tables" %>
      </div><!-- /.example -->
    </section>

    <section class="styleguide-section" id="colors">
      <div class="meta">
        <h2 class="styleguide-header">Colors</h2>
        <p class="small">
          colors colors colors
        </p>
      </div>
      <div class="example">
        <%= partial "examples/colors" %>
      </div><!-- /.example -->
    </section>

    <section class="styleguide-section" id="icons">
      <div class="meta">
        <h2 class="styleguide-header">Icons</h2>
        <p class="small">Pictoral representations of things we cannot explain, or simply icons.</p>
      </div>
      <div class="example">
        <%= partial "examples/icons" %>
      </div><!-- /.example -->
    </section>

    <section class="styleguide-section" id="forms">
      <div class="meta">
        <h2 class="styleguide-header">Form Controls</h2>
        <p class="small">dropdowns and text fields and stuff</p>
      </div>
      <div class="example">
        <%= partial "examples/forms" %>
      </div><!-- /.example -->
    </section>
  </div>
</div>
