---
title: Socrata's Styleguide
layout: styleguide
---

<div class="container">
  <h1 class="styleguide-title">Socrata's Styleguide</h1>

  <section class="styleguide-section modal-section">
    <div class="meta">
      <h2 class="styleguide-header">Modal</h2>
      <p class="small">Modals can be opened and dismissed using data-* attributes, data-modal="modal-id", and data-modal-dismiss</p>
    </div>
    <div class="example">
      <%= partial "components/modal" %>
    </div>
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Typography</h2>
      <p class="small">
        Type is set in <i>Open Sans</i> 15px/1.618 using a modular type scale. The scale is composed using two scale ratios to provide more incremental typesetting steps.
      </p>
      <p class="small">
        The full scale can be viewed at <%= link_to 'http://www.modularscale.com/?15&px&1.618,1.25','http://www.modularscale.com/?15&px&1.618,1.25' %>
      </p>
    </div>
    <div class="example">
      <%= partial "examples/typography" %>
    </div> <!-- /.example -->
  </section>

  <section>
    <div class="meta">
      <h2 class="styleguide-header">Lists</h2>
      <p class="small">A list is a list, a list, a list, of course.</p>
    </div>
    <div class="example">
      <%= partial "examples/lists" %>
    </div><!-- /.example -->
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Colors</h2>
      <p class="small">
        colors colors colors
      </p>
    </div>
    <div class="example">
      <%= partial "examples/colors" %>
    </div><!-- /.example -->
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Buttons</h2>
      <p class="small">Yay, buttonz!</p>
    </div>
    <div class="example">
      <%= partial "examples/button_options" %>
    </div><!-- /.example -->
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Form Controls</h2>
      <p class="small">dropdowns and text fields and stuff</p>
    </div>
    <div class="example">
      <%= partial "examples/dropdown" %>
    </div><!-- /.example -->
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Misc. Components</h2>
      <p class="small">Spinning things and other things that don't yet have a logical place.</p>
    </div>
    <div class="example">
      <%= partial "examples/spinners" %>
    </div><!-- /.example -->
  </section>
</div>
