---
title: Socrata Styleguide
layout: styleguide
---

<div class="container">
  <h1 class="styleguide-title">
    <img src="images/socrata-logo-horizontal.png" alt="Socrata">Styleguide
  </h1>

  <section class="styleguide-section modal-section">
    <div class="meta">
      <h2 class="styleguide-header">Modal</h2>
      <p class="small">Modals can be opened and dismissed using data-* attributes, data-modal="modal-id", and data-modal-dismiss</p>
    </div>
    <div class="example">
      <%= partial "examples/modals" %>
    </div>
  </section>

  <section class="styleguide-section flannel-section">
    <div class="meta">
      <h2 class="styleguide-header">Flannel</h2>
      <p class="small"></p>
    </div>
    <div class="example">
      <%= partial "examples/flannel" %>
    </div>
  </section>

  <section class="styleguide-section flyout-section">
    <div class="meta">
      <h2 class="styleguide-header">Flyout</h2>
      <p class="small"></p>
    </div>
    <div class="example">
      <%= partial "examples/flyouts" %>
    </div>
  </section>

  <section class="styleguide-section menu-section">
    <div class="meta">
      <h2 class="styleguide-header">Menu</h2>
      <p class="small"></p>
    </div>
    <div class="example">
      <%= partial "examples/menus" %>
    </div>
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Typography</h2>
      <p class="small">
        Type is set in <i>Open Sans</i> 15px/1.618 using a modular type scale. The scale is composed using three scale ratios to provide more incremental typesetting steps.
      </p>
      <p class="small">
        The full scale can be viewed at <%= link_to 'http://www.modularscale.com/?15&px&1.618,1.25,1.33','http://www.modularscale.com/?15&px&1.618,1.25,1.33' %>
      </p>
    </div>
    <div class="example">
      <%= partial "examples/typography" %>
    </div> <!-- /.example -->
  </section>

    <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Dividers</h2>
      <p class="small">
        Dividers for your content.
      </p>
    </div>
    <div class="example">
      <%= partial "examples/dividers" %>
    </div> <!-- /.example -->
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Lists</h2>
      <p class="small">A list is a list, a list, a list, of course.</p>
    </div>
    <div class="example">
      <%= partial "examples/lists" %>
    </div><!-- /.example -->
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Tables</h2>
      <p class="small">Four legs and holds cups, plates, etc.</p>
    </div>
    <div class="example">
      <%= partial "examples/tables" %>
    </div><!-- /.example -->
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Colors</h2>
      <p class="small">
        colors colors colors
      </p>
    </div>
    <div class="example">
      <%= partial "examples/colors" %>
    </div><!-- /.example -->
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Buttons</h2>
      <p class="small">Yay, buttonz!</p>
    </div>
    <div class="example">
      <%= partial "examples/button_options" %>
      <%= partial "examples/button_groups" %>
      <%= partial "examples/button_icons" %>
      <%= partial "examples/button_toggle" %>
    </div><!-- /.example -->
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Icons</h2>
      <p class="small">Pictoral representations of things we cannot explain, or simply icons.</p>
    </div>
    <div class="example">
      <%= partial "examples/icons" %>
    </div><!-- /.example -->
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Tags</h2>
      <p class="small">Make tags pretty</p>
    </div>
    <div class="example">
      <%= partial "examples/tags" %>
    </div><!-- /.example -->
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Form Controls</h2>
      <p class="small">dropdowns and text fields and stuff</p>
    </div>
    <div class="example">
      <%= partial "examples/dropdown" %>
      <%= partial "examples/forms" %>
    </div><!-- /.example -->
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Nav Bars</h2>
      <p class="small">It's how you know what's up</p>
    </div>
    <div class="example">
      <%= partial "examples/nav_bars" %>
    </div><!-- /.example -->
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Pagination</h2>
      <p class="small">We have all of the things!</p>
    </div>
    <div class="example">
      <%= partial "examples/pagination" %>
    </div><!-- /.example -->
  </section>

  <section class="styleguide-section">
    <div class="meta">
      <h2 class="styleguide-header">Misc. Components</h2>
      <p class="small">Spinning things and other things that don't yet have a logical place.</p>
    </div>
    <div class="example">
      <%= partial "examples/spinners" %>
    </div><!-- /.example -->
  </section>
</div>
