---
title: Socrata Styleguide
layout: styleguide
---

<div class="container">
  <div id="pagemap" class="menu menu-offscreen menu-anchor-left">
    <header class="menu-header">
      <h1 class="menu-header-title">JavaScript Components</h1>
    </header>
    <ul class="menu-navigation">
      <li>Modals</li>
      <li>Flannels</li>
      <li>Flyouts</li>
      <li>Menu</li>
      <li>Button Toggle</li>
      <li>Dropdowns</li>
    </ul>
  </div>

  <div class="content">
    <h2>JavaScript Components</h2>
    <section class="styleguide-section modal-section">
      <div class="meta">
        <h2 class="styleguide-header">Modal</h2>
        <p class="small">Modals can be opened and dismissed using data-* attributes, data-modal="modal-id", and data-modal-dismiss</p>
      </div>
      <div class="example">
        <%= partial "examples/modals" %>
      </div>
    </section>

    <section class="styleguide-section flannel-section">
      <div class="meta">
        <h2 class="styleguide-header">Flannel</h2>
        <p class="small"></p>
      </div>
      <div class="example">
        <%= partial "examples/flannel" %>
      </div>
    </section>

    <section class="styleguide-section flyout-section">
      <div class="meta">
        <h2 class="styleguide-header">Flyout</h2>
        <p class="small"></p>
      </div>
      <div class="example">
        <%= partial "examples/flyouts" %>
      </div>
    </section>

    <section class="styleguide-section menu-section">
      <div class="meta">
        <h2 class="styleguide-header">Menu</h2>
        <p class="small"></p>
      </div>
      <div class="example">
        <%= partial "examples/menus" %>
      </div>
    </section>

    <section class="styleguide-section">
      <div class="meta">
        <h2 class="styleguide-header">Button Toggle</h2>
      </div>
      <div class="example">
        <%= partial "examples/button_toggle" %>
      </div><!-- /.example -->
    </section>

    <section class="styleguide-section">
      <div class="meta">
        <h2 class="styleguide-header">Dropdowns</h2>
      </div>
      <div class="example">
        <%= partial "examples/dropdown" %>
      </div>
    </section>
  </div>
</div>
