---
title: Socrata Styleguide
---

<div class="container">
  <div id="pagemap" class="menu menu-offscreen menu-anchor-left">
    <%= partial "guide_menu" %>
  </div>

  <div class="content">
    <h1 class="page-header">JavaScript Components</h1>
    <section class="styleguide-section modal-section" id="modals">
      <div class="meta">
        <h2 class="styleguide-header">Modal</h2>
        <p class="small">Modals can be opened and dismissed using data-* attributes, data-modal="modal-id", and data-modal-dismiss</p>
      </div>
      <div class="example">
        <%= partial "examples/modals" %>
      </div>
    </section>

    <section class="styleguide-section flannel-section" id="flannels">
      <div class="meta">
        <h2 class="styleguide-header">Flannel</h2>
        <p class="small"></p>
      </div>
      <div class="example">
        <%= partial "examples/flannel" %>
      </div>
    </section>

    <section class="styleguide-section flyout-section" id="flyouts">
      <div class="meta">
        <h2 class="styleguide-header">Flyout</h2>
        <p class="small"></p>
      </div>
      <div class="example">
        <%= partial "examples/flyouts" %>
      </div>
    </section>

    <section class="styleguide-section menu-section" id="menu">
      <div class="meta">
        <h2 class="styleguide-header">Menu</h2>
        <p class="small"></p>
      </div>
      <div class="example">
        <%= partial "examples/menus" %>
      </div>
    </section>

    <section class="styleguide-section" id="buttontoggle">
      <div class="meta">
        <h2 class="styleguide-header">Button Toggle</h2>
      </div>
      <div class="example">
        <%= partial "examples/button_toggle" %>
      </div><!-- /.example -->
    </section>

    <section class="styleguide-section" id="dropdowns">
      <div class="meta">
        <h2 class="styleguide-header">Dropdowns</h2>
      </div>
      <div class="example">
        <%= partial "examples/dropdown" %>
      </div>
    </section>
  </div>
</div>
