<div class="editAppTokensForm editForm">
  <h1>Your Applications</h1>

  <%= display_standard_flashes %>

  <div class="createNewToken editArea<%= ' hide' unless params[:no_js].present? %>">
    <%= form_tag({:action => 'create_app_token'},
                 {:class => 'commonForm createNewTokenForm'}) %>
      <div class="editSection noBorder">
        <div class="line clearfix">
          <label for="new_app_token_name" class="required">Application Name</label>
          <input id="new_app_token_name" type="text"
                 title="Enter a name for your application"
                 name="new_app_token[name]" class="textPrompt required"/>
        </div>
        <div class="line clearfix">
          <label for="new_app_token_description" class="required">Description</label>
          <%= text_area_tag("new_app_token[description]", '', :class => 'textPrompt required',
                :title => 'Enter a description for your application') %>
        </div>
        <div class="line clearfix">
          <label for="new_app_token_organization">Organization</label>
          <input id="new_app_token_organization" type="text"
                 title="Enter the organization responsible for this application"
                 name="new_app_token[organization]" class="textPrompt"/>
        </div>
        <div class="line clearfix">
          <label for="new_app_token_website">Website</label>
          <input id="new_app_token_website" name="new_app_token[website]"
                 title="Provide a link to this application or organization's website"
                 type="text" class="textPrompt url"/>
        </div>
        <div class="line clearfix">
          <label for="new_app_token_baseUri" class="required">Callback Prefix</label>
          <input id="new_app_token_baseUri" name="new_app_token[baseUri]"
                 title="Provide the prefix to the secure (https) callback uri when using OAuth"
                 type="text" class="textPrompt url required"/>
          <p>For instance, if your application will call back to
             <span class="code">https://my-domain.com/socrata-app/oauth/validated</span> and
             <span class="code">https://my-domain.com/socrata-app/profile</span>, you'll want to supply
             <span class="code">https://my-domain.com/socrata-app</span> as your prefix. Note
             that you must include at least the entire domain name. This field will become required when
             the Socrata Open Data API moves towards OAuth starting on 1st March.</p>
        </div>
        <div class="line clearfix">
          <label for="new_app_token_public">Public?</label>
          <input type="checkbox" id="new_app_token_public"
                 name="new_app_token[public]" checked="checked"/>
        </div>
      </div>
      <div class="submitLine">
        <%= submit_tag 'Create', :class => 'button default' %>
        <%= link_to('Cancel', {:action => 'edit_app_tokens'}, {:class => 'cancelButton button'}) %>
      </div>
    </form>
  </div>

  <div class="existingTokens<%= ' noTokensYet' if @app_tokens.blank? %>">
    <%- @app_tokens.each do |token| -%>
      <div class="tokenFieldsDisplay">
        <%= render :partial => 'app_token_display', :locals => {
            :edit => true, :token => token
        } %>
      </div>
    <%- end -%>
  </div>
</div>
