<div class="editProfileImageForm editForm">
  <h1>Profile Image</h1>

  <%= display_standard_flashes %>

  <div class="editArea">
    <div class="editSection clearfix">
      <div class="line clearfix">
        <label>&nbsp;</label>
        <div id="profileImage">
          <img src="<%= current_user.profile_image_path('large') %>" alt="<%= current_user.displayName %>" />
        </div>
      </div>
      <div class="line fullLine imageErrorLine">
        <label>&nbsp;</label>
        <div class="flash errorMessage error imageError">Please choose an image file (jpg, gif, png or tiff)</div>
      </div>
      <div class="line fullLine">
        <label>&nbsp;</label>
          <%= file_field_tag('new_image',{:accept => 'image/png,image/gif,image/jpeg',
                             'data-endpoint' => current_user.profile_image_path(''),
                             :class => 'uploadNewImage'}) %>
          <%= submit_tag 'Upload New Image' %>
          <span class="uploadIndicator"></span>
      </div>
    </div>
  </div>
</div>
