<div class="editAccountInfoForm editForm">
  <h1>Account Settings</h1>

  <%= display_standard_flashes %>
  <%- openid_identifiers = current_user.openid_identifiers -%>
  <%= form_tag(update_account_profile_url, :method => 'put',
       :class => 'commonForm' + (openid_identifiers.empty? ? '' : ' hasOpenId'),
       :id => 'editAccountForm') do %>
    <div class="editArea">
      <%- unless current_user.flag?('nopassword') -%>
        <div class="editSection clearfix">
          <div class="line clearfix">
            <label>Current Email</label>
            <span class="field textItem"><%= current_user.email %></span>
          </div>
          <div class="line clearfix">
            <label for="user_email">New Email</label>
            <%= text_field_tag('user[email]', '', :class => 'textPrompt email') %>
          </div>
          <div class="line clearfix">
            <label for="user_email_confirm">Confirm Email</label>
            <%= text_field_tag('user[email_confirm]', '', :class => 'textPrompt email') %>
          </div>
          <div class="line clearfix">
            <label for="user_email_password">Password</label>
            <%= password_field_tag('user[email_password]', '') %>
            <span class="fieldHint textItem">
              (For your security)
            </span>
          </div>
        </div>
      <%- end -%>

      <div class="editSection clearfix">
        <div class="line clearfix<%= ' noPassword hide' if current_user.flag?('nopassword') %>">
          <label for="user_password_old">Old Password</label>
          <%= password_field_tag('user[password_old]', '', :class => 'currentPassword') %>
        </div>
        <div class="line clearfix">
          <label for="user_password_new">New Password</label>
          <%= password_field_tag('user[password_new]', '', :class => 'newPassword') %>
          <span class="fieldHint textItem passwordHint about">
            (Restrictions apply <span class="icon">&nbsp;</span>)
          </span>
        </div>
        <div class="line clearfix">
          <label for="user_password_confirm">Confirm Password</label>
          <%= password_field_tag('user[password_confirm]', '', :class => 'confirmPassword') %>
        </div>
      </div>

      <div class="editSection clearfix">
        <div class="line clearfix">
          <label>&nbsp;</label>
          <span class="field textItem">
            Log in with your Facebook, Twitter, Google, or other 3rd-party credentials.
            <%= link_to "Learn about OpenID", openid_explained_url(profile_account_url) %>
          </span>
        </div>

        <%- if openid_identifiers.empty? -%>
        <div class="line clearfix">
          <label>&nbsp;</label>
          <span class="field emptyItem">You have no OpenID identifiers associated with this account yet.</span>
        </div>
        <%- else -%>
          <%- openid_identifiers.each do |ident| -%>
            <div class="line clearfix">
              <label>Delete</label>
              <span class="field textItem">
                <%= check_box_tag "openid_delete[#{ident.id}]" %>
                <%= hidden_field_tag "openid_delete_paths[#{ident.id}]", ident.delete_path %>
                <%= link_to ident.identifier %>
              </span>
            </div>
          <%- end -%>
        <%- end -%>
        <div class="line clearfix fullLine">
          <label>&nbsp;</label>
          <%= link_to_rpx raw('<span class="icon"></span>Add an OpenID or External Account'),
                add_rpx_token_url(:section => 'openid'), :class => 'rpxnow button add addOpenIdButton' %>
        </div>
      </div>

      <div class="editSection clearfix">
        <div class="line clearfix">
          <label>Email Notifications</label>
          <span class="textItem">
            Subscribe to individual events by checking the associated box.
          </span>
        </div>
        <%- EmailInterest.specification.sort {|a, b| a.last[:description] <=> b.last[:description]}.each do |interest| -%>
          <%- next if interest.last[:right] && !current_user.has_right?(interest.last[:right]) -%>
          <div class="line emailInterestLine clearfix">
            <label>&nbsp;</label>
            <%= check_box_tag("email_interests[#{interest.first}]", true, @email_interests.any? { |i| i.eventTag == interest.first }) %>
            <label class="description" for="email_interests_<%= interest.first %>"><%= interest.last[:description]%></label>
          </div>
        <%- end -%>
        <div class="line emailSubscribeLine clearfix">
          <label>Other</label>
          <%= check_box_tag('user[email_subscribe]', true, !current_user.emailUnsubscribed) %>
          <label for="user_email_subscribe" class="description">
            Actions directly affecting you, such as comment replies and status updates
          </label>
          <p><%= CurrentDomain.strings.company %> respects your privacy, and will never send you
             marketing emails through this list, or give your email to a third party. The emails
             sent from this site include account notifications and updates to datasets that you
             have created or subscribed to.</p>
        </div>
      </div>
    </div>

    <div class="submitLine">
      <%= submit_tag 'Save Changes', :class => 'button default' %>
      <%= link_to 'Cancel', current_user.href, :class => 'button' %>
    </div>
  <% end %>
</div>

<% content_for :js_footer do %>
  <script src="https://rpxnow.com/openid/v2/widget" type="text/javascript"></script>
  <script type="text/javascript">
    RPXNOW.overlay = true;
    RPXNOW.language_preference = 'en';
    RPXNOW.flags='show_provider_list';
  </script>
<% end %>
