<div class="content clearfix headerBar">
  <div class="profileImage">
    <img src="<%= @user.profile_image_path %>" alt="<%= @user.displayName %>" />
  </div>
  <div class="profileHeaderText">
    <h1><%= @user.displayName %></h1>
    <%- if @is_user_current -%>
      <a href="<%= profile_account_path(@user) %>" class="editProfileLink iconLink accountSettings">
        <span class="icon"></span>
        <span class="editLinkText"><%= t('screens.profile.bar.edit_settings_link') %></span>
      </a>
    <%- elsif !current_user.nil? -%>
      <%- if !(@user.my_friend?) -%>
        <a href="<%= url_for(:action => 'create_friend') %>" class="followButton button smallButton add">
          <span class="icon"></span>
          <span class="linkText"><%= t('screens.profile.bar.follow_link') %></span>
        </a>
      <%- else -%>
        <a href="<%= url_for(:action => 'delete_friend') %>" class="followButton button smallButton remove">
          <span class="icon"></span>
          <span class="linkText"><%= t('screens.profile.bar.unfollow_link') %></span>
        </a>
      <%- end -%>
      <%- if CurrentDomain.user_can?(current_user, :manage_users) -%>
        <a href="#Message" class="button smallButton contactUserButton">
          <span class="icon"></span>
          <span class="linkText"><%= t('screens.profile.bar.message_link') %></span>
        </a>
      <%- end -%>
    <%- end -%>
    <p class="secondary">
      <%- if @user.displayTitleAndOrg.present? %>
        <span class="titleAndOrg"><%= @user.displayTitleAndOrg %></span>
      <%- end -%>
      <%= @user.displayLocation %>
    </p>
  </div>
  <% prerendered_cache cache_key('profile-view-summary', @current_state),
    @view_summary_cached, :expires_in => 5.minutes do %>
    <div class="summaryStatsContainer">
      <%- @stat_displays.each do |stat| -%>
        <%- next if stat.last < 1 -%>
        <div class="summaryBox">
          <p class="statHeader"><%= stat.first %></p>
          <p class="number"><%= stat.last %></p>
        </div>
      <%- end -%>
    </div>
  <% end %>
</div>
