<%- view = public_blist_row -%>
<tr class="item">
  <td class="type"><div class="cellInner <%=
      get_share_direction_icon_class_for_view(view) %>">
      <%= get_type_string_for_view(view) %></div>
  </td>
  <td class="name"><div class="cellInner">
    <%= link_to(view.name, view.href(port), :rel => view.browserOpenTarget ) %>
  </div></td>
  <td class="views"><div class="cellInner"><%= view.viewCount %></div></td>
  <td class="comments"><div class="cellInner"><%= view.numberOfComments %></div></td>
  <td class="averageRating"><div class="cellInner"><%= get_blist_rating_html(view) %></div></td>
  <td class="actionContainer"><div class="cellInner"><a
        href="<%= view.href %>" class="action"
        title="<%= view.name %>"><span>View</span></a>
  </div></td>
</tr>
