<div class="whats-new">
  <div class="whats-new--header">
      <div class="whats-new--header--text"><%= t('screens.profile.whats_new.title') %></div>
      <%- if @news['articles'].any? -%>
      <div class="whats-new--header--star">★</div>
      <%- end -%>
  </div>
  <div class="whats-new--post-list">
      <%- if @news['articles'].any? -%>
          <%- @news['articles'].each_with_index do |article, index| -%>
              <div class="whats-new--post-list--post">
                  <a class="whats-new--post-list--post--title" target="_blank" href="<%= article['html_url'] %>"><%= article['title'] %></a>
                  <div class="whats-new--post-list--post--body"><%= ActionView::Base.full_sanitizer.sanitize(article['body'])[0..200] << '...' %></div>
                  <div class="whats-new--post-list--post--meta">
                      <div class="whats-new--post-list--post--meta--time">
                          <%= article['parsed_datetime'] %>
                      </div>
                      <div class="whats-new--post-list--post--meta--read-more">
                          <a target="_blank" href="<%= article['html_url'] %>"><%= t('screens.profile.whats_new.read_more') %> <span class="icon-external"></span></a>
                      </div>
                  </div>
              </div>
          <%- if index != @news['articles'].count - 1 -%>
              <span class="whats-new--post-list--spacer"></span>
          <%- end -%>
          <%- end -%>
      <%- else -%>
          <div class="whats-new--post-list--post">
              <%= t('screens.profile.whats_new.caught_up', href: APP_CONFIG.whats_new.fetch(:zendesk_link)).html_safe %>
          </div>
      <%- end -%>
      <div>
          <a class="whats-new--post-list--see-older" target="_blank" href="<%= APP_CONFIG.whats_new.fetch(:zendesk_link).html_safe %>"><%= t('screens.profile.whats_new.older_news') %> <span class="icon-arrow-next"></span></a>
      </div>
  </div>
</div>
