<% content_for :head do %>
  <%= rendered_stylesheet_tag 'profile-show' %>
  <title><%= @user.displayName %> | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div id="profile" class="profileContent clearfix">
  <%= display_standard_flashes %>
  <div class="content clearfix headerBar">
    <% prerendered_cache cache_key('profile-view-summary', @current_state),
      @view_summary_cached, :expires_in => 5.minutes do %>
      <div class="summaryStatsContainer">
        <%- @stat_displays.each do |stat| -%>
          <%- next if stat.last < 1 -%>
          <div class="summaryBox">
            <p class="statHeader"><%= stat.first %></p>
            <p class="number"><%= stat.last %></p>
          </div>
        <%- end -%>
      </div>
    <% end %>
    <div class="profileImage">
      <img src="<%= @user.profile_image_path %>" alt="<%= @user.displayName %>" />
    </div>
    <div class="profileHeaderText">
      <h1><%= @user.displayName %></h1>
      <%- if @is_user_current -%>
        <a href="<%= @user.href %>/account" class="editProfileLink iconLink accountSettings">
          <span class="icon"></span>
          <span class="editLinkText">Edit Account Settings</span>
        </a>
      <%- elsif !current_user.nil? -%>
        <%- if !(@user.my_friend?) -%>
          <a href="<%= create_friend_profile_path %>" class="followButton button smallButton add">
            <span class="icon"></span>
            <span class="linkText">Follow</span>
          </a>
        <%- else -%>
          <a href="<%= delete_friend_profile_path %>" class="followButton button smallButton remove">
            <span class="icon"></span>
            <span class="linkText">Unfollow</span>
          </a>
        <%- end -%>
      <%- end -%>
      <p class="secondary">
        <%- if @user.displayTitleAndOrg.present? %>
          <span class="titleAndOrg"><%= @user.displayTitleAndOrg %></span>
        <%- end -%>
        <%= @user.displayLocation %>
      </p>
      <p class="secondary">
        <%- [{:text => "Joined on", :date => @user.createdAt},
             {:text => "Last Logged In", :date => @user.lastLogin}].each do |login| -%>
           <em><%= login[:text] %></em>
           <span class="accountDate"><%= blist_long_date(login[:date]) %></span>
        <%- end -%>
      </p>
    </div>
  </div>

  <div class="profileSideBar content">
    <div class="profileImageContainer clearfix innerItem">
      <div class="profileImage">
        <img src="<%= @user.profile_image_path('large') %>" alt="<%= @user.displayName %>" />
      </div>
      <%= edit_link(@user, 'editProfileImageLink profileImage', 'Edit Image', 'image') %>
    </div>
    <% prerendered_cache cache_key('profile-friends-list', @current_state),
      @friends_rendered, :expires_in => 5.minutes do %>

      <%- [{:name => 'Followers', :list => @followers},
           {:name => 'Following', :list => @friends}].each do |user_list| -%>
        <%- unless user_list.blank? -%>
          <div class="innerItem userList <%= user_list[:name].downcase %>List">
            <h2><%= user_list[:name] %> (<%= user_list[:list].size %>)</h2>
              <%- viewable = user_list[:list].slice(0..39)
                  hidden   = user_list[:list].slice(40..-1)
                  viewable.each do |user| -%>
                <a href="<%= user.href %>">
                  <img src="<%= user.profile_image_path('small') %>" alt="<%= user.displayName %>" title="<%= user.displayName %>" />
                </a>
              <%- end -%>
              <%- unless hidden.blank? -%>
                <div class="hiddenContacts">
                  <%- hidden.each do |user| -%>
                    <a href="<%= user.href %>">
                      <img src="<%= user.profile_image_path('small') %>" alt="<%= user.displayName %>" title="<%= user.displayName %>" />
                    </a>
                  <%- end -%>
                </div>
                <p class="showMoreLinkContainer">
                  <a href="#More" class="showMoreContacts">View All</a>
                </p>
              <%- end -%>
          </div>
        <%- end -%>
      <%- end -%>
    <%- end -%>
  </div>

  <div class="profileMainContent">
    <%- if @is_user_current || @user.description || @user.interests || @user.userLinks  -%>
      <div class="basicInfo content">
        <div class="innerItem">
          <%= edit_link(@user, 'editBasicInfoLink basicInfo') %>
          <h2>Basic Info</h2>
          <%- if @user.description -%>
          <p class="innerItem textItem"><%= auto_link(h(@user.description),
            :html => {:rel => 'nofollow external'}) %></p>
          <%- else -%>
          <p class="innerItem emptyItem">No description provided</p>
          <%- end -%>
        </div>

        <%- if @user.interests -%>
          <div class="innerItem">
            <h3>Interests</h3>
            <div class="innerContent">
              <p class="textItem"><%= @user.interests %></p>
            </div>
          </div>
        <%- end -%>

        <%- if @user.userLinks -%>
          <div class="innerItem userLinksItem">
            <h3>External Links</h3>
            <div class="innerContent">
              <%- @user.userLinks.each do |user_link| -%>
                <%- link_type = UserLink.link_types.find { |link_item|
                  link_item[0] == user_link.linkType.upcase} -%>
                <p>
                  <span class="subHeader textDisplay"><%= link_type.nil? ? 'Other' :
                    link_type[1] %></span>
                  <%= link_to user_link.label.present? ? user_link.label : user_link.url,
                    user_link.url, :class => 'textDisplay', :rel => 'external' %>
                </p>
              <%- end -%>
            </div>
          </div>
        <%- end -%>
      </div>
    <%- end -%>

    <%- if (module_enabled?(:community_creation) || CurrentDomain.user_can?(@user, :create_datasets)) -%>
      <div class="datasetsList content">
        <h2><%= @user.displayName %>'s Datasets</h2>
        <%- if @is_user_current -%>
        <ul class="ownershipLinks">
          <%# @base_url comes from browse_controller %>
          <li><a href="<%= @base_url %>"
            class="<%= params[:ownership] != 'sharedToMe' ?
              'active' : '' %>">Owned By Me</a></li>
          <li><a href="<%= @base_url %>?ownership=sharedToMe"
            class="<%= params[:ownership] == 'sharedToMe' ?
              'active' : '' %>">Shared To Me</a></li>
        </ul>
        <%- end -%>
        <%= render_browse %>
      </div>
    <%- end -%>

    <%- if !@app_tokens.blank? || @user == current_user -%>
      <div class="appTokens content">
        <div class="innerItem">
          <%= edit_link(@user, 'editAppTokensLink appTokens', 'Manage', 'app_tokens') %>
          <h2><%= @user.displayName %>'s Applications</h2>
          <%# TODO: Add link to SODA docs or something %>
        </div>
        <%- if @app_tokens.blank? -%>
        <p class="emptyItem">
          You have not created any applications yet. Click 'Manage' on the right to get started
        </p>
        <%- else -%>
          <%- @app_tokens.each do |token| -%>
            <div class="innerItem">
              <%= render :partial => 'app_token_display', :locals => {
                  :edit => false, :token => token
              } %>
            </div>
          <%- end -%>
        <%- end -%>
      </div>
    <%- end -%>

  <%# disable until feed is more interesting %>
  <%- unless true -%>
    <div class="newsFeed content">
      <h2>News Feed</h2>
      <div class="feed"></div>
    </div>
  <%- end -%>
  </div>
</div>

<% content_for :templates do %>
  <%= render :partial => 'datasets/feed_template', :locals => {:allow_comments => false} %>
<% end %>

<% content_for :js_footer do %>
  <script type="text/javascript">
    <%- if !current_user.nil? -%>
      blist.currentUserId = '<%= current_user.id %>';
    <%- end -%>
    blist.namespace.fetch('blist.profile');
    blist.profile.profileUserId = '<%= @user.id %>';
  </script>
  <%= include_javascripts 'screen-profile' %>
<% end %>
