<% content_for :head do %>
  <%= stylesheet_link_merged 'stats-index' %>
  <title>Stats for '<%= h(@dataset.name) %>' | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div id="stats" class="oneColumnContainer">
  <div class="pageBlockHeaderOuter">
    <div class="pageBlockHeaderTR"><div class="pageBlockHeaderTL"></div></div>

    <%#
      Header
    %>
    <div class="statsHeaderContainer">
      <div class="statsBlockIntro clearfix">
        <div class="left">
          <p class="title">Statistics for "<%= link_to(h(@dataset.name), @dataset.href, :title => @dataset.name) %>"</p>
          <p class="timeline">Since <%= duration_in_words(@since) %></p>
        </div>
        <div class="right miniMenu">
            <p>
              <%= image_tag("/stylesheets/images/common/back_arrow_icon_community.png", :size => "15x15") %>
              <%= link_to("Back to the #{t(:blist_name)}", @dataset.href, 
                          :title => @dataset.name, :class => "backButton") %>
              <a onclick="window.print()" href="#"><%= image_tag("/stylesheets/images/common/print_icon.png", :size => "15x15") %></a>
            </p>
            
        </div>
      </div>
    </div>

    <div class="statsContentContainer clearfix">
      <div class="left statsColumn">
        <%#
          Rows accessed section (with bar graphs!)
        %>
        <div class="panel clearfix">
          <h1>Records Accessed</h1>

          <div class="left">
            <img src="<%= @stat.row_access_chart_href %>" />
          </div>

          <div class="left">
            <%#
              Create the legend for the graph
            %>
            <table class="legend">
              <%
                Stat::ROW_ACCESS_LEGEND.each_slice(2) do |pair|
              %>
                <tr>
                  <% pair.each do |desc, color| %>
                    <td class="legendColor"><div style="background-color: #<%= color %>"></div></td>
                    <td class="legendDesc">Via <%= Stat::HUMAN_READABLE_ROW_ACCESS_LEGEND[desc] %>:</td>
                    <td class="legendDesc"><strong><%= number_with_delimiter(@stat.rows_accessed[desc] || 0, ',') %></strong></td>
                  <% end %>
                </tr>
              <% end %>
            </table>
            <div class="totalRowsAccessed">
              <strong>Total: <%= number_with_delimiter(@stat.total_rows_accessed, ',') %></strong>
            </div>
          </div>
        </div>

        <%#
          Community activity
        %>
        <div class="panel"> 
          <h1>Community Activity</h1>
          <table class="totals">
            <tr>
              <td class="total">Total Visits:</td>
              <td class="number"><%= number_with_delimiter(@stat.view || 0, ',') %></td>
              <td></td>
            </tr>
            <tr>
              <td class="total">Total Favorites:</td>
              <td class="number"><%= number_with_delimiter(@stat.favorite || 0, ',') %></td>
              <td></td>
            </tr>
            <tr>
              <td class="total">Total Ratings:</td>
              <td class="number"><%= number_with_delimiter(@stat.rating || 0, ',') %></td>
              <td><%= get_blist_rating_html(@stat) %></td>
            </tr>
            <tr>
              <td class="total">Total Comments:</td>
              <td class="number"><%= number_with_delimiter(@stat.comment || 0, ',') %></td>
              <td></td>
            </tr>
          </table>
        </div>
        
        <%#
          Additional Usage
        %>
        <div class="panel">
          <h1>Additional Usage</h1>
          <table class="totals">
            <tr>
              <td class="total">Total Shares:</td>
              <td class="number"><%= number_with_delimiter(@stat.share || 0, ',') %></td>
            </tr>
            <tr>
              <td class="total">Total Downloads:</td>
              <td class="number"><%= number_with_delimiter(@stat.download || 0, ',') %></td>
            </tr>
            <tr>
              <td class="total">Total Emails:</td>
              <td class="number"><%= number_with_delimiter(@stat.email || 0, ',') %></td>
            </tr>
            <tr>
              <td class="total">Total Prints:</td>
              <td class="number"><%= number_with_delimiter(@stat.print || 0, ',') %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="left statsColumn">
        <div class="panel">
            <h1 class="webPub">Web Publishing Activity</h1>
            <div class="clearfix" id="url-grid"></div>
            <div class="blist-tfoot">
              <div id="total-urls">Total: <%= @total_players %></div>
              <div id="total-views"><%= @total_player_views %></div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pageBlockHeaderBR"><div class="pageBlockHeaderBL"></div></div>
</div>

<% content_for :js_footer do %>
  <%= javascript_include_merged 'shared-common-all' %>
  <%= javascript_include_merged 'stats-index' %>
  <script type="text/javascript" charset="utf-8">
    blist.namespace.fetch('blist.stats');
    blist.stats.urlData = [];

    <%# Initialize the data model for the grid %>
    <% (@stat.publish_activity || []).each_with_index do |(url, count), idx| %>
      blist.stats.urlData.push({id: <%= idx %>, url: "<%= (url || '').gsub(/(\r|\n)*/, '') %>", views: <%= count %>, sparkline: null});
    <% end %>
  </script>
  
<% end %>
