<div class="line clearfix">
  <%= f.label :login, 'Email' %>
  <%= f.email_field :login %>
  <% if !CurrentDomain.strings.login_disclaimer.nil? %>
    <span class="helpie"
      title="<%= CurrentDomain.strings.login_disclaimer %>">?</span>
  <% end %>
</div>

<div class="line clearfix">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<%- if feature? "remember_me" -%>
  <div class="line rememberMe clearfix">
    <%= f.label :remember_me %>
    <%= f.check_box :remember_me %>
  </div>
<%- end -%>

<input class="fakeSubmit" type="submit" />
<ul class="finishButtons clearfix">
  <li><a href="#login" class="button loginButton">Sign In</a></li>
  <li id="close_login"><a href="#close_login" class="button close">Cancel</a></li>
</ul>
