<div class="loginForm">

  <%- unless defined? @flashes_displayed -%>
    <%= display_standard_flashes %>
    <%- @flashes_displayed = true -%>
  <%- end -%>

  <%- if @auth0_connections && @auth0_connections.length > 0 %>
    <%= render_translations LocalePart.screens.sign_in %>

    <div class="auth0login">
      <%- @auth0_connections.each do |connection| %>
        <%- if connection.image %>
          <style>.btn-<%= connection.name.downcase.gsub(/\s/, '-').gsub(/[^A-Za-z-]/, '') %>::before { background-image: url(<%= connection.image %>) }</style>
        <%- end -%>
        <button class="btn-login btn-<%= connection.name.downcase %>" data-connection="<%= connection.connection %>">Log in with <%= connection.name %></button>
      <%- end -%>
      <%- if @auth0_connections.length > 1 %>
        <hr>
      <%- end -%>
      <button class="btn-login btn-socrata" data-connection="socrata.com">Log in with Socrata ID</button>
      <p>Or, <a href="/signup" class="login-signup-link">sign up for a Socrata ID</a>.</p>
    </div>
    <div class="authProvider socrata">
      <div class="login-description-container">
        <span class="login-description"><%= t('screens.sign_in.prompt_html') %></span>
      </div>
      <%= form_for @user_session do |f| %>
        <%= render :partial => 'user_sessions/login_form_data', :locals => {:f => f} %>
      <%- end -%>
      <p>Or, <a class="login-back" href="">back to Login Options</a>.</p>
    </div>

  <%- elsif @use_auth0 %>

    <div class="auth0login" id="auth0login"></div>

  <%- else %>
    <%= render_translations LocalePart.screens.sign_in %>

    <div class="authProvider socrata">
      <div class="login-description-container">
        <span class="login-description"><%= t('screens.sign_in.prompt_html') %></span>
      </div>
      <%= form_for @user_session do |f| %>
        <%= render :partial => 'user_sessions/login_form_data', :locals => {:f => f} %>
      <%- end -%>
    </div>

  <%- end -%>

  <%- if FeatureFlags.derive.use_auth0 && AUTH0_ID.present? && AUTH0_URI.present? %>
    <% content_for :js_footer do %>

      <script src="https://cdn.auth0.com/js/lock-7.5.min.js"></script>
      <script type="text/javascript">
        blist.configuration.auth0 = {
          id: '<%= AUTH0_ID %>',
          uri: '<%= AUTH0_URI %>',
          base_uri: '<%= CurrentDomain.base_uri %>'
        };
      </script>

      <%= include_javascripts 'screen-login-auth0' %>

    <% end %>
  <%- end -%>
</div>
