  <%= f.error_messages %>
  <p>
    <%= f.label :login, 'Email' %>
    <%= f.text_field :login %>
    <span class="helpie"
      title="<%= "Legacy users can still sign in using their old usernames, although they have been deprecated and cannot be changed." +
        (CurrentDomain.strings.login_disclaimer.nil? ? "" : "\n\n#{CurrentDomain.strings.login_disclaimer}") %>">?</span>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <%- if feature? "remember_me" -%>
    <p class='rememberMe clearfix'>
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    </p>
  <%- end -%>

  <ul class='actionButtons clearfix'>
    <li id="close_login"><a href='#close_login' class='close'>Cancel</a></li>
    <li class='bare'><input type='image' name='submit'
    src='<%= image_path("button_signin.png") %>' alt="sign in" /></li>
  </ul>
