<div class="loginForm">

  <%- unless defined? @flashes_displayed -%>
    <%= display_standard_flashes %>
    <%- @flashes_displayed = true -%>
  <%- end -%>

  <%- if @auth0_connections && @auth0_connections.length > 0 %>

    <div class="auth0login">
      <p><%= t('screens.sign_in.auth0_intro') %></p>
      <a class="button" data-connection="socrata.com">
        <span class="iconContainer">
          <img src="/stylesheets/images/common/large_logo.png">
        </span>
        <%=raw t('screens.sign_in.sign_in_with', provider: 'Socrata ID') %>
      <%- if @auth0_connections.length > 1 %>
        <hr>
      <%- end -%>
      <%- @auth0_connections.each do |connection| %>
        <a class="button" data-connection="<%= connection.connection %>">
          <%- if connection.image %>
          <span class="iconContainer">
            <img src="<%= connection.image %>">
          </span>
          <%- end -%>
          <span class="description"><%=raw t('screens.sign_in.sign_in_with', provider: connection.name) %></span>
        </a>
      <%- end -%>
    </div>
    <div class="authProvider socrata">
      <p><%=raw t('screens.sign_in.back_to_sign_in_selection') %></p>
      <div class="login-description-container">
        <span class="login-description"><%= t('screens.sign_in.prompt_html') %></span>
        <p class="loginTips"><%= t('screens.sign_in.tips_html') %></p>
      </div>
      <%= form_for @user_session do |f| %>
        <%= render :partial => 'user_sessions/login_form_data', :locals => {:f => f} %>
      <%- end -%>
    </div>

  <%- elsif @use_auth0 %>

    <div class="auth0login" id="auth0login"></div>

  <%- else %>

    <div class="authProvider socrata">
      <div class="login-description-container">
        <span class="login-description"><%= t('screens.sign_in.prompt_html') %></span>
        <p class="loginTips"><%= t('screens.sign_in.tips_html') %></p>
      </div>
      <%= form_for @user_session do |f| %>
        <%= render :partial => 'user_sessions/login_form_data', :locals => {:f => f} %>
      <%- end -%>
    </div>

  <%- end -%>

  <%- if FeatureFlags.derive.use_auth0 && AUTH0_ID.present? && AUTH0_URI.present? %>
    <% content_for :js_footer do %>

      <script src="https://cdn.auth0.com/js/lock-7.5.min.js"></script>
      <script type="text/javascript">
        blist.configuration.auth0 = {
          id: '<%= AUTH0_ID %>',
          uri: '<%= AUTH0_URI %>',
          base_uri: '<%= CurrentDomain.base_uri %>'
        };
      </script>

      <%= include_javascripts 'screen-login-auth0' %>

    <% end %>
  <%- end -%>
</div>
