<% content_for :head do %>
  <title><%= th.site_title %></title>
<% end %>

<% dialog_content('login', "loginBox") do %>
  <div class='header'>
    <h1><%= th.company %></h1>
  </div>

  <div class='mainContent'>
    <div class='title clearfix'>
      <h2>Sign in using your <%= th.company %> ID</h2> 
    </div>

    <%= render(:partial => 'login') %>

    <div class='footer clearfix'>
      <%= render :partial => "rpx/buttons" %>
    </div>
  </div>
<% end %>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <script type="text/javascript">
    $(function ()
    {
        $('#user_session_login').focus();
    });
  </script>
  <script src="https://rpxnow.com/openid/v2/widget"
          type="text/javascript"></script>
  <script type="text/javascript">
    RPXNOW.overlay = true;
    RPXNOW.language_preference = 'en';
  </script>
<% end %>
