<div class="site-chrome-user-header-notifications">
  <div
    id="site-chrome-header-notifications"
    tabIndex="-1"
    class="for-user-header">
    <%# This gets filled in by notifications JS %>
  </div>
</div>

<%= divider %>

<script type="text/javascript">
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      if (window.headerNotifications && document.getElementById('site-chrome-header-notifications')) {
        var template = document.querySelector('#site-chrome-header').getAttribute('template');
        var options = {
          currentDomainFeatures: <%== current_domain_features_map.to_json %>,
          currentUserRole: <%== current_user_role.to_json %>,
          developmentMode: <%== is_development_mode? %>,
          inProductTransientNotificationsEnabled: <%= get_feature_flag('in_product_transient_notifications') %>,
          isSuperAdmin: <%== is_superadmin? %>,
          mapboxAccessToken: <%== mapbox_access_token.to_json %>,
          showMyAlertPreference: <%= show_alert_preference? %>,
          showProductNotifications: false,
          showUserNotifications: true,
        };

        window.headerNotifications('#site-chrome-header-notifications',
          options,
          <%== json_escape current_user_id.to_json %>,
          <%== json_escape I18n.t('.shared.site_chrome.notifications').to_json %>
        );
      }
    },
    false
  );
</script>
