<div class="mobile-menu" aria-expanded="false">
  <h2 class="menu-header-title"><%= t('shared.site_chrome.header.menu') %></h2>
  <a class="menu-toggle" aria-label="<%= t('shared.site_chrome.header.close_button_aria_label') %>" href="#" onclick="mobileMenuToggle()">
    <%= icon_with_aria_text('Close', :class => 'socrata-icon-close-2') %>
  </a>

  <div class="menu-content">
    <%= navbar_links_div(:use_dropdown => false, :is_mobile => true) %>

    <% unless current_user_can_see_admin_link? %>
      <%= render 'site_chrome/mobile_user_actions' unless current_user_can_see_admin_link? %>
      <%= render 'site_chrome/searchbox', path: site_chrome_massage_url('/browse'), mobile: true %>
    <% end %>

    <div class="site-chrome-nav-links site-chrome-social-links">
      <%= render 'site_chrome/social_links', :is_mobile => true %>
    </div>

    <%= render 'site_chrome/mobile_language_switcher' if show_language_switcher? %>
  </div>
</div>
