<div
  class="searchbox"
  data-catalog-autocomplete="<%= get_feature_flag('browse_autocomplete') ? true : false %>"
  data-catalog-autocomplete-disable-animation="true"
  data-catalog-autocomplete-mobile="<%= local_assigns[:mobile] == true %>">
  <form action="<%= path %>" method="get">
    <fieldset>
      <% unless local_assigns[:mobile] %>
        <span class="socrata-icon-search" title="<%= t('header.search') %>"></span>
      <% end %>
      <label>
        <%= text_field_tag('q', nil, id: nil, placeholder: t('header.search'),
          onkeyup: local_assigns[:vanishing_search_button] ? 'toggleSearchButton(this)' : nil) %>
        <span class="searchbox-label"><%= t('header.search') %></span>
      </label>
      <button type="submit" class="search-button site-chrome-btn btn-simple" value="" />
      <% if local_assigns[:mobile] %>
        <span class="socrata-icon-search" title="<%= t('header.search') %>"></span>
      <% else %>
        <%= t('header.search') %>
      <% end %>
      <label>
        <%= text_field_tag('q', nil, id: nil, placeholder: t('header.search'),
          onkeyup: local_assigns[:vanishing_search_button] ? 'toggleSearchButton(this)' : nil) %>
        <span class="searchbox-label"><%= t('header.search') %></span>
      </label>
      <button type="submit" class="search-button site-chrome-btn btn-simple" value="">
        <% if local_assigns[:mobile] %>
          <span class="socrata-icon-search" title="<%= t('header.search') %>"></span>
        <% else %>
          <%= t('header.search') %>
        <% end %>
      </button>
      <%# EN-12158: Force a sortBy of "relevance" on the query results %>
      <input type="hidden" name="sortBy" value="relevance" />
    </fieldset>
  </form>
</div>
