<% if logged_in? %>
  <script>
    window.socrata = window.socrata || {};
    window.socrata.siteChrome = window.socrata.siteChrome || {};
    <%= raw "window.socrata.siteChrome.appToken = '#{app_token}';" if app_token %>
  </script>
  <section
    id="site-chrome-admin-header"
    role="navigation"
    class="<%= local_assigns.has_key?(:size) ? "site-chrome-#{size}" : '' %>">

    <div class="site-chrome-admin-header-section">
      <div class="site-chrome-admin-title">
        <a href="/"><%= admin_title %></a>
      </div>

      <div class="site-chrome-admin-separator"></div>

      <div class="site-chrome-admin-menus" role="menubar">
        <% if open_performance_enabled? %>
          <%= render 'site_chrome/admin/open_performance' %>
        <% else %>
          <div id="site-chrome-data-catalog" class="site-chrome-admin-menu">
            <a href="/browse"><%= t('shared.site_chrome.admin.data_catalog.title') %></a>
          </div>
        <% end %>

        <%- if current_user_can_see_create_menu? -%>
          <%= render 'site_chrome/admin/create_menu' %>
        <%- end -%>
      </div>
    </div>

    <div class="site-chrome-admin-header-section">
      <% if get_feature_flag('enable_header_notifications') %>
        <div
          id="site-chrome-header-notifications"
          tabIndex="-1"
          class="<%= 'site-chrome-with-settings-button' if current_user_can_see_admin_link? && enable_new_admin_ui? %>">
          <%# This gets filled in by notifications JS %>
        </div>

        <div class="site-chrome-admin-separator"></div>
      <% end %>

      <% if current_user_can_see_admin_link? && enable_new_admin_ui? %>
        <div class="site-chrome-admin-settings"
          tabIndex="0"
          role="button"
          aria-haspopup="true"
          aria-label="<%= t('shared.site_chrome.header.settings_menu.title') %>">
          <%= render 'site_chrome/admin/settings' %>
        </div>

        <div class="site-chrome-admin-separator"></div>
      <% end %>

      <% if get_feature_flag('browse_autocomplete') %>
        <div
          class="site-chrome-admin-search"
          data-autocomplete="<%= get_feature_flag('browse_autocomplete') ? true : false %>"
          data-autocomplete-collapsible="true"
          data-admin-header-classes="<%= local_assigns.has_key?(:size) && size == 'small' ? 'for-admin-header site-chrome-small' : 'for-admin-header' %>"></div>
      <% else %>
        <div class="site-chrome-admin-search collapsible-search">
          <span class="socrata-icon-search collapsible-search-toggle"
            title="<%= t('shared.site_chrome.header.search') %>" onclick="toggleCollapsibleSearch(this)"
            onkeypress="toggleCollapsibleByKeypress(event)" role="button" tabindex="0">
          </span>

          <%= render 'site_chrome/searchbox', path: site_chrome_massage_url('/browse'), vanishing_search_button: true %>
        </div>
      <% end %>

      <div class="site-chrome-admin-separator"></div>

      <div
        class="site-chrome-admin-user"
        tabIndex="0"
        role="button"
        aria-haspopup="true"
        aria-label="<%= t('shared.site_chrome.header.profile') %>">
        <%= render 'site_chrome/admin/user' %>
      </div>
    </div>

    <% if get_feature_flag('enable_header_notifications') %>
      <script type="text/javascript">
        document.addEventListener(
          'DOMContentLoaded',
          function() {
            if (window.headerNotifications && document.getElementById('site-chrome-header-notifications')) {
              var options = {
                productUpdatesText: "<%= t('shared.site_chrome.notifications.product_updates') %>",
                viewOlderText: "<%= t('shared.site_chrome.notifications.view_older') %>",
                errorText: "<%= t('shared.site_chrome.notifications.error_text_html') %>"
              };
              window.headerNotifications('#site-chrome-header-notifications', options);
            }
          },
          false
        );
      </script>
    <% end %>
  </section>
<% end %>
