<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= default_meta_tags %>
  <%= csrf_meta_tags %>
  <title>Perspectives Admin</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'admin', media: 'all' %>
  <%= storyteller_javascript_include_tag 'admin' %>
  <%= render 'shared/google_analytics_script' %>
</head>
<body>

<div class="body-wrapper">
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: [name, 'alert'] %>
  <% end -%>

  <%= yield %>
</div>

</body>
</html>
