<!doctype html>
<html>

  <head>
    <%- if params[:controller] == "data_lens" -%>
      <meta name="page_name" content="Data Lens">
    <%- end -%>

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <%= csrf_meta_tags %>
    <%= canary_warning %>

    <link type="text/css" media="all" rel="stylesheet" href="/webfonts/ss-air.css?<%= asset_revision_key %>"/>
    <link type="text/css" media="all" rel="stylesheet" href="/webfonts/socrata-icons/socrata-icons.css?<%= asset_revision_key %>"/>

    <%= angular_theme_tag %>

    <%= angular_stylesheet_tag %>
    <!--[if IE 9]><%= rendered_stylesheet_tag 'ie9' %><![endif]-->

    <%= get_favicon_tag %>

    <%- if site_chrome_enabled? -%>
      <%= site_chrome_meta_viewport_tag %>
      <%= site_chrome_stylesheet_tag %>
    <%- end -%>

    <%= yield :head %>

    <%- unless CurrentDomain.properties.typekit_id.blank? -%>
      <script type="text/javascript" src="//use.typekit.net/<%= CurrentDomain.properties.typekit_id %>.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%- end -%>

    <%= render_angular_config %>
    <%= render_angular_translations %>
    <%= render_user %>
    <%= render_metadata %>

  </head>

  <body ng-app="<%= angular_app %>">

    <% if @migration_metadata %>
      <div class="skip-links">
        <%= link_to 'Go to an accessible version of this page', get_alt_dataset_link(@migration_metadata[:obeId]) %>
      </div>
      <%= render_noscript(@migration_metadata[:obeId]) %>
    <% end %>

    <%= include_webpack_bundle 'open-data/bower-all.js' %>
    <%= render_airbrake_shim %>
    <%= render_airbrake_notifier %>
    <%= angular_javascript_tag %>
    <%= include_webpack_bundle 'data-cards/main.js' %>

    <%= site_chrome_javascript_tag if site_chrome_enabled? %>
    <%= render 'site_chrome/header' if site_chrome_enabled? %>

    <%= yield %>

    <%= render 'site_chrome/footer' if site_chrome_enabled? %>
  </body>


  <%= render_ga_tracking %>
  <!--
  <%#- if enable_site_chrome? -%>
    <%#= site_chrome_google_analytics_tag %>
  <%#- end -%>
  -->
  <%= render :partial => 'templates/mixpanel_tracking' %>

</html>
