<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <%= angular_stylesheet_tag %>
    <%= yield :head %>
  </head>
  <body ng-app="<%= angular_app.gsub('-', '_').camelize(:lower) %>">
    <%= render angular_app %>
    <%= yield :layout %>
  </body>
</html>
