<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link type="text/css" media="all" rel="stylesheet" href="/webfonts/ss-air.css"/>
    <%= angular_stylesheet_tag %>
    <%= yield :head %>
  </head>
  <body ng-app="<%= angular_app %>">
    <%= render angular_app %>
    <%= yield :layout %>
  </body>
</html>
