<!DOCTYPE html>
<html>
<head>
  <title><%= core_attributes['name'] || t('default_page_title') %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'themes/themes.css', media: 'all' %>
  <%= stylesheet_link_tag '/themes/custom.css', media: 'all' %>
  <%= javascript_include_tag 'airbrake-js-client/dist/client' %>
  <%= javascript_include_tag 'application' %>
  <% if needs_view_assets? %>
    <%= stylesheet_link_tag 'story-view', media: 'all' %>
    <%= javascript_include_tag 'view' %>
  <% end %>
  <%= csrf_meta_tags %>

  <!-- Twitter Sharing Metadata -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@govstories">
  <% if @story.block_images.first.present? %>
    <meta name="twitter:image" content="<%= @story.block_images.first %>">
  <% end %>
  <!-- Open Graph Sharing Metadata -->
  <meta property="og:title" content="<%= core_attributes['name'] %>">
  <meta property="og:description" content="<%= core_attributes['description'] %>">
  <% @story.block_images.each do |image| %>
    <meta property="og:image" content="<%= image %>">
  <% end %>

  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body id="story-view">

<%= yield %>

<%= render 'shared/i18n_for_js' %>
<%= render 'shared/app_config_for_js' %>
</body>
</html>
