<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= default_meta_tags() %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= core_attributes['name'] || t('default_page_title') %></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'themes/themes.css', media: 'all' %>
  <%= stylesheet_link_tag '/themes/custom.css', media: 'all' %>
  <%= stylesheet_link_tag 'story-view', media: 'all' %>
  <%= stylesheet_link_tag 'print', media: 'print' %>

  <%= render partial: 'stories/partials/storyteller_environment' %>

  <%= google_font_code_embed %>

  <!-- Twitter Sharing Metadata -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@govstories">
  <% block_images = @story.block_images(:large) -%>
  <% if block_images.present? %>
    <meta name="twitter:image" content="<%= block_images.first %>">
  <% end %>
  <!-- Open Graph Sharing Metadata -->
  <meta property="og:title" content="<%= core_attributes['name'] %>">
  <meta property="og:description" content="<%= core_attributes['description'] %>">
  <% block_images.each do |image| %>
    <meta property="og:image" content="<%= image %>">
  <% end %>
  <%= render 'shared/google_analytics_script' %>
</head>
<body id="story-view">

<%= yield %>

<% if Rails.env.test? -%>
  <%= javascript_include_tag 'sinon-server-1.17.3' %>
  <%= storyteller_javascript_include_tag 'test' %>
<% end -%>
<%= storyteller_javascript_include_tag 'view' %>
</body>
</html>
