<!DOCTYPE html>
<html>
<head>
  <title>Chrome</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= stylesheet_link_tag '/themes/custom.css', media: 'all' %>
  <%= chrome_stylesheet_tag %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
