<!DOCTYPE html>
<html>
<head>
  <title>Storyteller</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'airbrake-js-client/dist/client' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>

<%= yield %>

<%# Adding javascript translations so they're accessable from anywhere %>
<script>
window.I18n = (function () {
  var translationHash = <%= current_js_translations.to_json.html_safe %>;

  return {
    // Intakes translationKeys in the form of:        'a.b.c'
    // Maps to the translationHash in the form of:    ['a']['b']['c']
    t: function t(translationKeys) {
      return _.get(translationHash, translationKeys);
    }
  }
})();

</script>

</body>
</html>
