<!doctype html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta name="description" content="<%= meta_description %>">

    <title><%= @view.name %> | <%= CurrentDomain.strings.site_title %></title>

    <%= rendered_stylesheet_tag("dataset-landing-page") %>
    <link rel="stylesheet" href="/stylesheets/socrata-styleguide/css/styleguide.min.css"/>
    <link rel="stylesheet" href="/stylesheets/socrata-visualizations/socrata-visualizations.css"/>
    <link rel="shortcut icon" href="<%= theme_image_url(CurrentDomain.theme.images.favicon) %>" />
    <link rel="canonical" href="<%= view_path(@view) %>" />

    <%= site_chrome_meta_viewport_tag %>
    <%= site_chrome_stylesheet_tag %>
  </head>

  <body>
    <%= render 'site_chrome/header' %>

    <div id="noticeContainer">
      <%= display_styleguide_flashes %>
    </div>

    <%= yield %>
    <%= render 'site_chrome/footer' %>

    <script>
      var initialState = {
        view: <%= raw transformed_view.to_json %>,
        popularViews: <%= raw @popular_views.to_json %>,
        featuredContent: <%= raw @featured_content.to_json %>
      };
    </script>

    <%= render_dataset_landing_page_translations %>

    <%= render_dataset_landing_page_mixpanel_config %>
    <%= render_dataset_landing_page_session_data %>
    <%= render_dataset_landing_page_server_config %>

    <%= include_webpack_bundle 'dataset-landing-page/main.js' %>
    <%= site_chrome_javascript_tag %>

    <script src="https://www.google.com/recaptcha/api.js?render=explicit" async></script>
  </body>
</html>
