<!doctype html>
<html>
  <head>
    <title><%= @view.name %> | Socrata</title>
    <meta name="description" content="<%= meta_description %>">
    <%= rendered_stylesheet_tag("dataset-landing-page") %>
    <link rel="stylesheet" href="/stylesheets/styleguide/css/styleguide.css"/>
    <link rel="shortcut icon" href="<%= theme_image_url(CurrentDomain.theme.images.favicon) %>" />
  </head>

  <body>
    <%= yield %>

    <script>
      var initialState = {
        view: <%= raw transformed_view.to_json %>,
        featuredViews: <%= raw transformed_featured_views.to_json %>
      };
    </script>

    <%= render_dataset_landing_page_translations %>
    <%= render_current_user %>

    <%= render_mixpanel_config %>
    <%= render_session_data %>

    <%= include_webpack_bundle 'dataset-landing-page/main.js' %>
  </body>
</html>
