<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />

  <link rel="apple-touch-icon-precomposed" media="screen" href="/stylesheets/images/icons/retina_display_icon.png"/>

  <%= rendered_stylesheet_tag 'base' %>

  <%= jquery_include %>

  <%= yield :head %>

  <% unless CurrentDomain.google_analytics_id.blank? %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= CurrentDomain.google_analytics_id %>'],
                ['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
</head>

<body>
  <div id="skipLinks">
    <a href="#content" accesskey="c">Skip to main content</a>
    <a href="#footerLinks" accesskey="f">Skip to footer links</a>
    <%= yield :skip_links %>
  </div>

  <div class="siteOuterWrapper">
    <div class="siteInnerWrapper">

      <div id="siteHeader" class="clearfix">
        <div class="flash notice previewNotice">
          You are currently seeing a preview of our new design, which we will
          be rolling out over the next few weeks. Have feedback? Leave it
          <a href="http://www.getsatisfaction.com/socrata">here</a>.
        </div>
        <%= render_domain_template('header', '2b') %>
      </div>

      <a name="content"></a>
      <%= yield :layout %>

      <a name="footerLinks"></a>
      <div id="siteFooter" class="clearfix">
        <%= render_domain_template('footer', '2b') %>
      </div>

    </div>
  </div>

  <%#
  Better to load JS at the bottom:
  http://developer.yahoo.com/performance/rules.html#js_bottom
  %>

  <div id="templates">
    <%= render :partial => 'shared/control_templates' %>
    <%= yield :templates %>
  </div>

  <%# Libraries for use with BeautyTip %>
  <!--[if IE]>
  <script type="text/javascript" src="/javascripts/plugins/excanvas.compiled.js"></script>
  <![endif]-->
  <!--[if lt IE 7]>
  <script type="text/javascript" src="/javascripts/plugins/jquery.bgiframe.min.js"></script>
  <![endif]-->

  <%= javascript_include_merged 'base' %>

  <% if ENV["RAILS_ENV"] != 'production' %>
      <%= javascript_include_tag "util/debug" %>
  <% end %>

  <script type="text/javascript">
    blist.namespace.fetch('blist.configuration');
    blist.configuration.strings = <%= raw CurrentDomain.strings.to_json %>;
    
    (function ($)
    {
        var loggedInCookie = $.cookies.get('logged_in');
        if (loggedInCookie && loggedInCookie == "true")
        {
            $('#siteHeader .siteUserNav').addClass('loggedInNav');
        }
    })(jQuery);
  </script>

  <div id="modals">
    <%= yield :modals %>

    <div class="modalDialog" id="jqmAlert">
      <a href="#close" class="jqmClose modalDialogClose">Close</a>
      <h2>Alert</h2>
      <p class="alertMessage"></p>
      <div class="finishButtons">
        <a href="#close" class="button jqmClose">Close</a>
      </div>
    </div>
  </div>

  <%= yield :js_footer %>

  <%# we don't trust custom tracking code to be nonblocking like the async
      GA, so put it down here. %>
  <% unless CurrentDomain.custom_tracking_code.blank? %>
    <!-- Custom Tracking Code -->
    <%= raw CurrentDomain.custom_tracking_code %>
  <% end %>
</body>
</html>
