<!doctype html>
<html>
  <head>
    <title><%= @view.name %> | Socrata</title>
    <%= rendered_stylesheet_tag("dataset-landing-page") %>
    <link rel="stylesheet" href="/stylesheets/styleguide/css/styleguide.css"/>
    <link rel="shortcut icon" href="<%= theme_image_url(CurrentDomain.theme.images.favicon) %>" />
  </head>

  <body>
    <%= yield %>

    <%= include_webpack_bundle('datasetLandingPage/main.js') %>
  </body>
</html>
