<!DOCTYPE html>
<html>
<head>
  <%= default_meta_tags %>
  <%= csrf_meta_tags %>
  <title><%= t('editor.default_page_title') %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'themes/themes.css', media: 'all' %>
  <%= stylesheet_link_tag '/themes/custom.css', media: 'all' %>
  <%= javascript_include_tag 'airbrake-js-client/dist/client' %>
  <%= javascript_include_tag 'AssetFinder' %>
  <%= javascript_include_tag 'editor' %>
  <%= javascript_include_tag('test') if Rails.env.test? %>
  <%= render 'shared/google_analytics_script' %>
</head>
<body id="story-edit">

<%= yield %>

</body>
</html>
