<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= default_meta_tags %>
  <%= csrf_meta_tags %>

  <title><%= t('editor.default_page_title') %></title>

  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <style id="themes"><%== @bootstrap_styles[:themes] %></style>
  <style id="custom"><%== @bootstrap_styles[:custom] %></style>

  <%= render partial: 'stories/partials/storyteller_environment' %>
  <script id="storyteller-editor-environment" type="text/javascript">

    window.CURRENT_USER = <%== current_user.to_json %>;
    window.CURRENT_USER_STORY_AUTHORIZATION = <%== current_user_story_authorization.to_json %>;
    window.CUSTOM_THEMES = <%== @custom_themes.to_json %>;
    window.DEFAULT_THEMES = <%== @default_themes.to_json %>;
  </script>

  <% if Rails.env.test? -%>
    <%= javascript_include_tag 'sinon-server-1.17.3' %>
    <%= storyteller_javascript_include_tag 'test' %>
  <% end -%>

  <%= storyteller_javascript_include_tag 'editor' %>
  <%= render 'shared/google_analytics_script' %>
</head>
<body id="story-edit">

<%= yield %>

</body>
</html>
