<!DOCTYPE html>
<html>
<head>
  <%= default_meta_tags %>
  <%= csrf_meta_tags %>

  <title><%= t('editor.default_page_title') %></title>

  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'themes/themes.css', media: 'all' %>
  <%= stylesheet_link_tag '/themes/custom.css', media: 'all' %>

  <script type="text/javascript">
    var meta = document.querySelector('meta[name="csrf-token"]');

    // StorytellerEnvironment bindings.
    window.CSRF_TOKEN = (meta && meta.content) || '';
    window.CURRENT_USER = <%== current_user.to_json %>;
    window.CURRENT_USER_STORY_AUTHORIZATION = <%== current_user_story_authorization.to_json %>;
    window.STORY_DATA = <%== user_story_json %>;
    window.STORY_UID = window.STORY_DATA.uid;
    window.PUBLISHED_STORY_DATA = <%== @published_story.to_json %>;
    window.DEFAULT_THEMES = <%== @default_themes.to_json %>;
    window.CUSTOM_THEMES = <%== @custom_themes.to_json %>;
    window.PRIMARY_OWNER_UID = '<%== @primary_owner_uid %>';
    window.TRANSLATIONS = <%= current_editor_translations.to_json.html_safe %>;
    window.CORE_SERVICE_APP_TOKEN = '<%= Rails.application.config.core_service_app_token %>';
    window.ENVIRONMENT = '<%= Rails.env %>';
    window.AIRBRAKE = <%= airbrake_config_for_js.to_json.html_safe %>;
    window.RELATIVE_URL_ROOT = '<%= config.relative_url_root %>';
    window.THEMES_ASSET_PATH = '<%= asset_path("themes/themes.css") %>';
    window.EMBED_CODE_SANDBOX_IFRAME_ALLOWANCES = '<%= embed_code_iframe_sandbox_allowances %>';
    window.IMAGES = {
      COVER_IMAGE_ICON: '<%= asset_path("editor/cover-image.png") %>'
    };
    window.ENABLE_GOAL_TILES = <%= Rails.application.config.enable_goal_tiles %>;
  </script>

  <% if Rails.env.test? -%>
    <%= javascript_include_tag 'sinon-server-1.17.3' %>
    <%= storyteller_javascript_include_tag 'test' %>
  <% end -%>

  <%= storyteller_javascript_include_tag 'editor' %>
  <%= render 'shared/google_analytics_script' %>
</head>
<body id="story-edit">

<%= yield %>

</body>
</html>
