<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />

  <%= stylesheet_link_tag "base", "common", "info-pane", "layout",
    "outer-chrome", "sidebar", "widgets",
    :cache => "cache/all" %>

  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">
    google.load("jquery", "1.3.1");
  </script>

  <%= yield :head %>

</head>

<body class='<%= @bodyClass %>'>

  <div id='outerContainer'>
    <div id='header'>
      <div id='mainLogo'><%= link_to 'blist', :controller => 'home' %></div>

      <div id='mainNav'>
        <ul>
          <li class='home'><%= link_to "Home", :controller => 'home' %></li>
          <li class='discover'><a href='#'>Discover</a></li>
          <li class='community'><a href='#'>Community</a></li>
        </ul>
      </div>

      <div class='notifications'>
        <ul>
          <li><a href='#' class='messages' title='Messages'>1</a></li>
          <li><a href='#' class='requests' title='Requests'>3</a></li>
        </ul>
      </div>

      <div class='userNav'>
        <ul>
          <li><a href='#'>Help</a></li>
          <li><a href='#'>My Account</a></li>
          <li><a href='#'>Sign Out</a></li>
        </ul>
      </div>

      <form class='search' action='#'>
        <p>
          <input type='text' />
          <input type='image' name='submit'
            src="/stylesheets/images/header/search_button.png" />
        </p>
      </form>
    </div>

    <%= yield :layout %>

    <div id='footer'>
      <%= link_to 'blist', { :controller => 'home'} , { :class => 'homeLink' } %>
      <ul>
        <li><%= link_to('Forums', '/forum') %></li>
        <li><%= link_to('Blog', 'http://blog.blist.com/',
          { :class => 'rss' }) %></li>
        <li><%= link_to('About blist', '/company-info/about-blist') %></li>
        <li><%= link_to('Terms of use', '/help/terms-of-use') %></li>
        <li><%= link_to('Site map', '/site-map') %></li>
        <li><%= link_to('Contact us', '/contact-us') %></li>
      </ul>
    </div>
  </div>

  <%
  # Better to load JS at the bottom:
  # http://developer.yahoo.com/performance/rules.html#js_bottom
  %>
  <%= javascript_include_tag "plugins/jquery.sizes.min",
    "plugins/jquery.dimensions.min", "util/namespace", "util/debug",
    :cache => "cache/all" %>

  <%= yield :js_footer %>
</body>
</html>
