<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://opengraphprotocol.org/schema/">

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <%= meta_tags @meta unless @meta.blank? %>
  <%- unless @link_image_src.blank? -%>
    <link rel="image_src" href="<%= @link_image_src %>" />
  <%- end -%>
  <%= stylesheet_link_merged 'base' %>

  <!--[if IE 7]>
    <link href="/stylesheets/core-ie7.css" rel="stylesheet" type="text/css"/>
  <![endif]-->

  <%= jquery_include %>
  <%= javascript_error_helper_tag %>

  <%= yield :head %>
</head>

<body id='<%= @body_id %>' class='<%= @body_class %>'>

<div id="skipLinks">
  <a href="#content" accesskey="c">Skip to main content</a>
  <a href="#footerLinks" accesskey="f">Skip to footer links</a>
  <%= yield :skip_links %>
</div>

<div class="bodyExterior">
<div class="bodyInterior">
  <div id='outerContainer'>
    <div id='header'>
    </div>

    <a name="content"></a>
    <%= yield :layout %>

  </div>
</div>
</div>

<a name="footerLinks"></a>

  <% dialog_content("jqmAlert") do %>
    <div class='header'>
      <h1>Alert</h1>
    </div>

    <div class='mainContent clearfix'>
      <p class='alertMessage'></p>

      <ul class='actionButtons'>
        <li><a href='#close' class='arrowButton jqmClose'>Close</a></li>
      </ul>
    </div>
  <% end %>

  <%#
  Better to load JS at the bottom:
  http://developer.yahoo.com/performance/rules.html#js_bottom
  %>

  <%# Libraries for use with BeautyTip %>
  <!--[if IE]>
  <script type="text/javascript" src="/javascripts/plugins/excanvas.compiled.js"></script>
  <![endif]-->
  <!--[if lt IE 7]>
  <script type="text/javascript" src="/javascripts/plugins/jquery.bgiframe.min.js"></script>
  <![endif]-->

  <%= javascript_include_merged 'base' %>

  <% if Rails.env != 'production' %>
    <%= javascript_include_tag "util/debug" %>
  <% end %>

  <%# This should be included on all pages, including the marketing site.
  It will update the header appropriately based on your logged-in state %>
  <script type="text/javascript">
    (function ($)
    {
        var loggedInCookie = $.cookies.get('logged_in');
        if (loggedInCookie && loggedInCookie == "true")
        {
            $('#header .userNav, #mainNav .home').addClass('loggedInNav');
        }
    })(jQuery);
  </script>

  <div id="templates">
    <%= yield :templates %>
  </div>

  <%= yield :js_footer %>

  <div class="jqmWindow" id="modal"></div>

</body>
</html>
