<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />

  <%= stylesheet_link_tag "base", "common", "info-pane", "layout",
    "outer-chrome", "sidebar", "widgets",
    :cache => "cache/layout_main_all" %>
    
  <!--[if lt IE 7]>
    <link href="/stylesheets/core-ie6.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" charset="utf-8">
      var isOldIE = true;
    </script>
  <![endif]-->

  <% if ENV["RAILS_ENV"] != 'production' %>
  <script src="/javascripts/jquery-1.3.2.js" type="text/javascript"
    charset="utf-8"></script>
  <% else %>
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">
    google.load("jquery", "1.3.2");
  </script>
  <% end %>

  <%= yield :head %>
  
  <%- if is_gov_site? -%>
  <%= stylesheet_link_tag "gov-override" %>
  <link rel="shortcut icon" href="/dg_favicon.ico" />
  <%- else -%>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%- end -%>

  
</head>

<body id='<%= @body_id %>' class='<%= @body_class %>'>

  <div id='outerContainer'>
    <div id='header'>
      <h1 id='mainLogo' class='<%= @is_marketing_page ? "aboutLogo" : "appLogo" %>'>
        <%= link_to(t(:blist_company), root_path) %>
      </h1>

      <div id='mainNav'>
        <ul class="clearfix">
          <li class='discover'><%= link_to("<span>#{t(:discover_nav_title)}</span>", root_path) %></li>
          <li class='community'><%= link_to("<span>Community</span>", community_path) %></li>
          <li class='home last'><%= link_to("<span>#{t(:my_home_title)}</span>", home_path) %></li>
        </ul>
      </div>

      <div class='userNav'>
        <ul>
          <li><a href='http://www.getsatisfaction.com/socrata' rel="external">Help</a></li>
          <li class='signInLink'><a href='/login'>Sign Up / In</a></li>
          <li class='accountLink'><%= link_to "My Account", account_path%></li>
          <li class='signOutLink'><a href='/logout'>Sign Out</a></li>
        </ul>
      </div>

      <%# This is not supported yet
      <div class='notifications'>
        <ul>
          <li><a href='#' class='messages' title='Messages'>1</a></li>
          <li><a href='#' class='requests' title='Requests'>3</a></li>
        </ul>
      </div>
      %>

      <%- if @show_search_form -%>
        <% form_tag(data_path, :method => :get, :class => "search") do %>
          <p>
            <input type='text' class='textPrompt' name='search'
              title='<%= t(:search_prompt_text) %>'
              value='<%= @discover_search %>' />
            <input type='image' class='submit' name='discoverSubmit' src='/stylesheets/images/common/empty.gif' />
          </p>
        <% end %>
      <%- end -%>
    </div>

    <%= yield :layout %>

    <div id='footer'>
      <%- if is_gov_site? -%>
        <%= render(:partial => "shared/gov_footer") %>
      <%- else -%>
        <%= render(:partial => "shared/footer") %>
      <%- end -%>
    </div>
  </div>

  <% dialog_content("jqmAlert") do %>
    <div class='header'>
      <h1>Alert</h1>
    </div>

    <div class='mainContent clearfix'>
      <p class='alertMessage'></p>

      <ul class='actionButtons'>
        <li><a href='#close' class='arrowButton jqmClose'>Close</a></li>
      </ul>
    </div>
  <% end %>

  <%#
  Better to load JS at the bottom:
  http://developer.yahoo.com/performance/rules.html#js_bottom
  %>
  <%= javascript_include_tag "plugins/jquery.sizes.min", "util/namespace",
    :cache => "cache/layout_main_all" %>

  <% if ENV["RAILS_ENV"] != 'production' %>
    <%= javascript_include_tag "util/debug" %>
  <% end %>


  <%# This should be included on all pages, including the marketing site.
  It will update the header appropriately based on your logged-in state %>
  <%= javascript_include_tag "plugins/jquery.cookies.2.0.1.min" %>
  <script type="text/javascript">
    jQuery((function ($)
    {
        var blistCookie = $.cookies.get('_blist_session_id');
        if (blistCookie && blistCookie !== "")
        {
            var coreCookie = unescape(blistCookie).split("||");
            if (coreCookie[0] && coreCookie[0] !== "")
            {
                $('#header .userNav').addClass('loggedInNav');
            }
        }

        $('#versionLink').click(function (event)
        {
            event.preventDefault();
            alert("Build time: " +
                "<%= REVISION_DATE ? Time.at(REVISION_DATE).to_s : '' %>\n" +
                "Build version: <%= REVISION_NUMBER %>");
        });
    })(jQuery));
  </script>


  <%= yield :js_footer %>
  
  <div class="jqmWindow" id="modal"></div>

  <% if ENV['RAILS_ENV'] == 'production' %>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-9046230-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>
  <% end %>
</body>
</html>
