<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--[if lte IE 7]>
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
        xmlns:og="http://opengraphprotocol.org/schema/" class="ie ie7 noBorderRadius noLinearGradient noCss3"><![endif]-->
<!--[if IE 8]>
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
        xmlns:og="http://opengraphprotocol.org/schema/" class="ie ie8 noBorderRadius noLinearGradient noCss3"><![endif]-->
<!--[if gte IE 9]>
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
        xmlns:og="http://opengraphprotocol.org/schema/" lang="en" class="ie"><![endif]-->
<!--[if !IE]>-->
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
        xmlns:og="http://opengraphprotocol.org/schema/"><!--<![endif]-->

<!--
Powered by the Socrata Open Data Platform
http://www.socrata.com
-->

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%= meta_tags @meta unless @meta.blank? %>

  <link rel="apple-touch-icon-precomposed" media="screen" href="/stylesheets/images/icons/retina_display_icon.png?<%= asset_revision_key %>"/>

  <%= rendered_stylesheet_tag 'base' %>
  <link type="text/css" media="all" rel="stylesheet" href="/webfonts/socrata-apps/socrata-apps.css?<%= asset_revision_key %>"/>

  <%= jquery_include %>
  <%= javascript_error_helper_tag %>

  <%= yield :head %>

</head>

<body>
  <div id="skipLinks">
    <a href="#content">Skip to main content</a>
    <a href="#footerLinks">Skip to footer links</a>
    <%= yield :skip_links %>
  </div>

  <div class="siteOuterWrapper">
    <div class="siteInnerWrapper">

      <div id="siteHeader" class="clearfix">
      </div>

      <a name="content"  tabindex="-1"></a>
      <%= yield :layout %>

    </div>
  </div>

  <div id="siteFooter">
    <a name="footerLinks"  tabindex="-1"></a>
  </div>

  <%#
  Better to load JS at the bottom:
  http://developer.yahoo.com/performance/rules.html#js_bottom
  %>

  <div id="templates" style="display:none">
    <%= render :partial => 'shared/control_templates' %>
    <%= yield :templates %>
  </div>

  <%= include_javascripts 'base' %>

  <script type="text/javascript">
    blist.namespace.fetch('blist.configuration');
    
    (function ($)
    {
        var loggedInCookie = $.cookies.get('logged_in');
        if (loggedInCookie && loggedInCookie == "true")
        {
            $('#siteHeader .siteUserNav').addClass('loggedInNav');
        }
    })(jQuery);
  </script>

  <div id="modals">
    <%= yield :modals %>

    <%= modal :id => 'jqmAlert' do %>
      <h2>Alert</h2>
      <p class="alertMessage"></p>
      <div class="finishButtons">
        <a href="#close" class="button jqmClose">Close</a>
      </div>
    <%- end -%>
  </div>

  <%= yield :js_footer %>

</body>
</html>
