<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--[if lte IE 7]>
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
        xmlns:v="urn:schemas-microsoft-com:vml"
        xmlns:og="http://opengraphprotocol.org/schema/" class="ie ie7 noBorderRadius noLinearGradient noCss3"><![endif]-->
<!--[if IE 8]>
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
        xmlns:v="urn:schemas-microsoft-com:vml"
        xmlns:og="http://opengraphprotocol.org/schema/" class="ie ie8 noBorderRadius noLinearGradient noCss3"><![endif]-->
<!--[if gte IE 9]>
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
        xmlns:v="urn:schemas-microsoft-com:vml"
        xmlns:og="http://opengraphprotocol.org/schema/" lang="en" class="ie"><![endif]-->
<!--[if !IE]>-->
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
        xmlns:og="http://opengraphprotocol.org/schema/"><!--<![endif]-->

<!--
Powered by the Socrata Open Data Platform
http://www.socrata.com
-->

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <%= meta_tags @meta unless @meta.blank? %>
  <%= csrf_meta_tags %>
  <%- unless @link_image_src.blank? -%>
    <link rel="image_src" href="<%= @link_image_src %>" />
  <%- end -%>

  <link rel="apple-touch-icon-precomposed" media="screen" href="/stylesheets/images/icons/retina_display_icon.png"/>
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="<%= CurrentDomain.strings.site_title %>" />
  <%= auto_discovery_link_tag(:rss, '/catalog.rss', :title => 'Subscribe to Datasets') %>

  <!--[if IE]>
  <style type="text/css">
    v\:vmlframe{behavior:url(#default#VML);display:inline-block;}
  </style>
  <![endif]-->
  <%= rendered_stylesheet_tag 'base' %>
  <%- if module_enabled?(:govStat) -%>
    <link type="text/css" media="all" rel="stylesheet" href="/webfonts/ss-pika.css"/>
    <%- if @suppress_govstat -%>
      <%= rendered_stylesheet_tag 'govstat-base' %>
    <%- else -%>
      <%= rendered_stylesheet_tag 'govstat-layout' %>
    <%- end -%>
  <%- end -%>
  <%= rendered_stylesheet_tag 'print', 'print' %>

  <%= jquery_include %>
  <%= javascript_error_helper_tag %>

  <%= yield :head %>

  <%- unless CurrentDomain.properties.custom_css.blank? || (module_enabled?(:govStat) && !@suppress_govstat) -%>
    <link type="text/css" media="all" rel="stylesheet" href="/styles/current_site.css?<%="#{REVISION_NUMBER}.#{CurrentDomain.default_config_id}.#{CurrentDomain.default_config_updated_at}"%>"/>
  <%- end -%>

  <%- if !CurrentDomain.properties.govstat_css.blank? && module_enabled?(:govStat) -%>
    <link type="text/css" media="all" rel="stylesheet" href="/styles/govstat_site.css?<%="#{REVISION_NUMBER}.#{CurrentDomain.default_config_id}.#{CurrentDomain.default_config_updated_at}"%>"/>
  <%- end -%>

  <link rel="shortcut icon" href="<%= theme_image_url(CurrentDomain.theme.images.favicon) %>" />

  <% unless CurrentDomain.google_analytics_id.blank? %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= CurrentDomain.google_analytics_id %>'],
                ['_trackPageview'],
                ['_trackPageLoadTime']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>

  <%- unless CurrentDomain.properties.typekit_id.blank? -%>
    <script type="text/javascript" src="//use.typekit.net/<%= CurrentDomain.properties.typekit_id %>.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%- end -%>

  <%= render :partial => 'templates/mixpanel_tracking' %>

</head>

<body class="<%= "controller_#{controller.controller_name} action_#{controller.controller_name}_#{controller.action_name}#{@suppress_chrome ? ' suppressChrome' : ''} locale_#{I18n.locale} #{@body_class}" %>" data-locale="<%= I18n.locale %>" data-defaultlocale="<%= CurrentDomain.default_locale %>">
  <div id="skipLinks">
    <ul><%= render_text_template('{{urls.skiplinks}}') %></ul>
    <a href="#content">Skip to main content</a>
    <a href="#footerLinks">Skip to footer links</a>
    <%= yield :skip_links %>
  </div>

  <%= yield :body_top %>

  <div class="siteOuterWrapper">
    <div class="siteInnerWrapper">

      <%- if !@suppress_chrome -%>
      <div id="siteHeader" class="clearfix" role="banner">
        <%- if module_enabled?(:govStat) && !@suppress_govstat -%>
          <div class="clearfix">
            <%= render_text_template('{{main_logo}}') %>
            <ul class="siteUserNav">
              <li class="accountLink hide">
                <a href="<%= generic_account_path %>" title="<%= t('govstat.chrome.header.links.account_tooltip') %>">
                  <span class="text"><%= t('govstat.chrome.header.links.account') %></span>
                </a>
              </li>
              <li class="accountLikeLink hide">
                <a href="<%= govstat_my_goals_path %>" title="<%= t('govstat.chrome.header.links.my_goals_tooltip') %>">
                  <span class="text"><%= t('govstat.chrome.header.links.my_goals') %></span>
                </a>
              </li>
              <%= render_text_template('{{sign_up_link}}{{sign_in_link}}{{sign_out_link}}') %>
            </ul>
          </div>
          <ul class="manageActions">
            <%- prefix = 'govstat.chrome.header.links' %>
            <li class="home"><a href="<%= govstat_root_path %>" class="ss-home" title="<%= t("#{prefix}.home_title") %>"><%= t("#{prefix}.home") %></a></li>
            <li class="data"><a href="<%= govstat_data_path %>" class="ss-hdd"
              title="<%= t("#{prefix}.data_title") %>"><%= t("#{prefix}.data") %></a></li>
            <li class="reports"><a href="<%= manage_reports_path %>" class="ss-notepad"
              title="<%= t("#{prefix}.reports_title") %>"><%= t("#{prefix}.reports") %></a></li>
            <li class="goals"><a href="<%= govstat_goals_path %>" class="ss-checkclipboard"
              title="<%= t("#{prefix}.goals_title") %>"><%= t("#{prefix}.goals") %></a></li>
            <li class="config"><a href="<%= manage_site_config_path %>" class="ss-wrench"
              title="<%= t("#{prefix}.configuration_title") %>"><%= t("#{prefix}.configuration") %></a></li>
          </ul>
        <%- else -%>
          <%= render_domain_template(@page_custom_header || 'header_full') %>
        <%- end -%>
      </div>
      <%- end -%>

      <a name="content"  tabindex="-1"></a>
      <%= render_domain_template(@page_custom_chrome || 'content_chrome') if !module_enabled?(:govStat) || @suppress_govstat %>
      <%- if @suppress_content_wrapper -%>
        <%= yield :layout %>
      <%- else -%>
        <div class="siteContentWrapper" role="main">
          <%= yield :layout %>
        </div>
      <%- end -%>
    </div>
  </div>

  <%- if !@suppress_chrome -%>
  <div id="siteFooter" role="contentinfo">
    <a name="footerLinks" tabindex="-1"></a>
    <%= render_domain_template(@page_custom_footer || 'footer_full') %>
  </div>
  <%- end -%>

  <%# socrata modal fragment to supercede jqm %>
  <div class="socrataModal"><div class="socrataModalWrapper"></div></div>

  <%#
  Better to load JS at the bottom:
  http://developer.yahoo.com/performance/rules.html#js_bottom
  %>

  <div id="templates" style="display:none">
    <%= render :partial => 'shared/control_templates' %>
    <%= yield :templates %>
  </div>
  <%= render_translations %>
  <%= yield :translations %>

  <%# Libraries for use with BeautyTip %>
  <!--[if IE]>
  <%= include_javascripts 'excanvas' %>
  <![endif]-->
  <!--[if lt IE 7]>
  <%= include_javascripts 'bgiframe' %>
  <%= include_javascripts 'oldie' %>
  <![endif]-->

  <%= include_javascripts 'base' %>
  <%- if module_enabled?(:govStat) -%>
  <%= include_javascripts 'new-base' %>
  <%- end -%>

  <%= render_view_js %>

  <%- if Rails.env != 'production' -%>
    <%= include_javascripts 'debug' %>
  <%- else -%>
    <script type="text/javascript">
      $.debug = function() {};
    </script>
  <%- end -%>

  <script type="text/javascript">
    blist.namespace.fetch('blist.configuration');
    blist.configuration.strings = <%= safe_json(CurrentDomain.strings) %>;

    <%- if DOWNTIME.should_display(DateTime.now) -%>
      blist.configuration.maintenance_hash = '<%= raw DOWNTIME.hash %>';
      blist.configuration.maintenance_message = '<%= escape_javascript DOWNTIME.html %>';
    <%- end -%>

    blist.configuration.canvasAvailable = <%= module_available?(:canvas2) %>;

    <%- if !@suppress_chrome -%>
    try {
      if ((self !== top) && (self.location.hostname !== top.location.hostname))
        top.location = self.document.location;
    } catch(ex) {
      top.location = self.document.location;
    }
    <%- end -%>

    <%- if module_enabled?(:govStat) -%>
      // Setup GovStat Account Link setup to run after the current user has been loaded
      // using a callback which is checked in all-screens.js.
      blist.configuration.govstat_links_cb = function(user)
      {
      <%- if !@suppress_govstat -%>
        var $siteLinks = $('#siteHeader .siteUserNav');
        var contents = [];
        $siteLinks.find('li a:visible').each(function()
        {
          var $a = $(this);
          contents.push({ className: $a[0].className, text: $a.text(), href: $a.attr('href'),
            rel: $a.attr('rel'), title: $a.attr('title') });
        });
        $siteLinks.remove();
        $siteLinks = $.tag2({_: 'div', className: ['siteUserNav', 'menu']});
        $('#siteHeader').append($siteLinks);
        var menu_style = user === undefined ? 'user' : 'list';
        $siteLinks.menu({ menuButtonClass: 'accountButton ss-user',
          menuButtonContents: user === undefined ? $.t('govstat.chrome.header.links.account') : user.displayName,
          menuButtonTitle: $.t('govstat.chrome.header.links.account_options'), contents: contents });
      <%- end -%>
      };
      // We can generally count that main js is evaled before all-screens, but
      // just in case:
      if (blist.configuration.onCurrentUserComplete !== undefined)
      {
        // The user loading code was loaded before main; make sure this is properly
        // called.
        blist.configuration.onCurrentUserComplete(blist.configuration.govstat_links_cb)
      }
    <%- end -%>
  </script>

  <div id="modals">
    <%= yield :modals %>

    <%= modal :id => 'jqmAlert' do %>
      <h2>Alert</h2>
      <p class="alertMessage"></p>
      <ul class="actions clearfix">
        <li><a href="#close" class="button jqmClose">Close</a></li>
      </ul>
    <%- end -%>
    <%= modal :id => 'jqmConfirm' do %>
      <h2>Alert</h2>
      <p class="confirmMessage"></p>
      <ul class="actions clearfix">
        <li><a href="#close" class="button jqmClose default yes">Yes</a></li>
        <li><a href="#close" class="button jqmClose no">No</a></li>
      </ul>
    <%- end -%>
  </div>
  <div id="newModals">
  	<%= yield :new_modals %>
  </div>

  <%= yield :js_footer %>
  <%= render_jquery_ui_translations %>

  <%- unless CurrentDomain.theme.js.nil? -%>
    <%- if CurrentDomain.theme.js[:type].to_s == 'static' -%>
      <script type="text/javascript" src="<%= CurrentDomain.theme.js.source %>"></script>
    <%- elsif CurrentDomain.theme.js[:type].to_s == 'hosted' -%>
      <script type="text/javascript" src="/assets/<%= CurrentDomain.theme.js.source %>"></script>
    <%- end -%>
  <%- end -%>

  <%# we don't trust custom tracking code to be nonblocking like the async
      GA, so put it down here. %>
  <% unless CurrentDomain.custom_tracking_code.blank? %>
    <%= raw CurrentDomain.custom_tracking_code %>
  <% end %>
</body>
</html>
