<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <%= stylesheet_link_merged 'base' %>
  <%= stylesheet_link_tag "theme/#{CurrentDomain.cname.gsub(/\./, '_')}.css" %>
  <%# TODO: assets service here instead of pathed %>
  <%= stylesheet_link_tag "custom/#{CurrentDomain.theme.stylesheet}" unless CurrentDomain.theme.stylesheet.nil? %>

  <!--[if lt IE 7]>
    <link href="/stylesheets/core-ie6.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" charset="utf-8">
      var isOldIE = true;
    </script>
  <![endif]-->
  <!--[if IE 7]>
    <link href="/stylesheets/core-ie7.css" rel="stylesheet" type="text/css">
  <![endif]-->

  <%= jquery_include %>
  <%= javascript_error_helper_tag %>

  <%= yield :head %>

  <%- if is_gov_site? -%>
  <%= stylesheet_link_tag "gov-override" %>
  <%- end -%>

  <link rel="shortcut icon" href="<%= theme_image_url(CurrentDomain.theme.images.favicon) %>" />
</head>

<body id='<%= @body_id %>' class='<%= @body_class %>'>

<div id="skipLinks"><a href="#content">Skip to main content</a><a href="#footerLinks">Skip to footer links</a></div>

<div class="bodyExterior">
<div class="bodyInterior">
  <div id='outerContainer'>
    <div id='header'>
      <%- if CurrentDomain.cname =~ /medicare/ -%>
        <h1 id='medicareLogo'>
          <%= link_to(CurrentDomain.strings.company, root_path) %>
        </h1>
        <div class='userNav'>
          <ul>
            <%- CurrentDomain.theme.urls.header.each do |link| -%>
              <li><%= link_from_theme(link) %></li>
            <%- end -%>
            <li class='signInLink'><%= link_to "Sign In to Data.Medicare.Gov", login_url, :rel => 'nofollow' %></li>
            <li class='signUpLink'><%= link_to "Create An Account", signup_url, :rel => 'nofollow' %></li>
            <li class='accountLink'>
              <%= link_to "My Data.Medicare.Gov", home_path %>
              <%= render :partial => 'shared/user_menu', :locals => { :menu_class => 'userMenu' } %>
            </li>
            <li class='accountLink'><%= link_to "My Account", account_path %></li>
            <li class='signOutLink'><a href='/logout' rel='nofollow'>Sign Out</a></li>
          </ul>
        </div>
        <% form_tag(data_filter_path, :class => "search large") do %>
          <div class="searchContainer">
            <%= text_field_tag("search", @search_term, :class => "textPrompt", :title => "Search Medicare Datasets") %>
            <%= hidden_field_tag("type", "SEARCH") %>

            <div class="actionsBox">
              <div class="clearBox">
                <a class="clearSearch noHistory hide" title="Clear Search" href="#clear_search">
                  Clear Search
                </a>
              </div>
              <%= image_submit_tag("empty.gif", :name => "discoverSubmit", :class => "submit", :alt => "search") %>
            </div>
          </div>
        <% end %>
      <%- elsif CurrentDomain.cname =~ /cms/ -%>
        <h1 id='mainLogo'>
          <%= link_to(CurrentDomain.strings.company, root_path) %>
        </h1>
        <a id="hhsLink" href="http://www.hhs.gov/">www.hhs.gov</a>
        <div class='userNav'>
          <ul>
            <li class='favoriteLink'>
              <script src="http://s7.addthis.com/js/250/addthis_widget.js?pub=cmsgov" type="text/javascript"></script>
              <a title="Bookmark &amp; Share this page" onclick="return addthis_sendto()" onmouseout="addthis_close()" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" class="BannerToolsShareLink" href="http://www.addthis.com/bookmark.php?v=250&amp;pub=cmsgov">
                Bookmark &amp; Share
              </a>
            </li>
            <li class='signInLink'><%= link_to "Sign In to Data.CMS.Gov", login_url, :rel => 'nofollow' %></li>
            <li class='signUpLink'><%= link_to "Create An Account", signup_url, :rel => 'nofollow' %></li>
            <li class='accountLink dataLink'>
              <%= link_to "My Data.CMS.Gov", home_path %>
              <%= render :partial => 'shared/user_menu', :locals => { :menu_class => 'userMenu' } %>
            </li>
            <li class='accountLink'><%= link_to "My Account", account_path %></li>
            <li class='signOutLink'><a href='/logout' rel='nofollow'>Sign Out</a></li>
          </ul>
        </div>
        <% form_tag(data_filter_path, :class => "search large") do %>
          <div class="searchContainer">
            <%= text_field_tag("search", @search_term, :class => "textPrompt", :title => "Search Medicare Datasets") %>
            <%= hidden_field_tag("type", "SEARCH") %>

            <div class="actionsBox">
              <div class="clearBox">
                <a class="clearSearch noHistory hide" title="Clear Search" href="#clear_search">
                  Clear Search
                </a>
              </div>
              <%= image_submit_tag("empty.gif", :name => "discoverSubmit", :class => "submit", :alt => "search") %>
            </div>
          </div>
        <% end %>
      <%- elsif CurrentDomain.cname =~ /chicago/ -%>
        <h1 id='mainLogo'>
          <%= link_to(CurrentDomain.strings.company, root_path) %>
        </h1>
        <h2 id="mainSubtitle">Data Portal</h2>
        <div class='userNav'>
          <ul>
            <li class='signInLink'><%= link_to "Sign In to Data.CityofChicago.Org", login_url, :rel => 'nofollow' %></li>
            <li class='signUpLink'><%= link_to "Create An Account", signup_url, :rel => 'nofollow' %></li>
            <li class='accountLink'><%= link_to "My Account", account_path %></li>
            <li class='signOutLink'><a href='/logout' rel='nofollow'>Sign Out</a></li>
          </ul>
        </div>
        <div id='mainNav'<%= " class='currentUserNav'" if current_user %>>
          <ul class="clearfix">
            <%# Discovery Module %>
            <% module_enabled :discovery_module do %>
              <li class='discover'><%= link_to("<span>Public Data</span>", root_path) %></li>
            <% end %>

            <%# Community Module %>
            <% module_enabled :community_module do %>
              <li class='community'><%= link_to("<span>Community</span>", community_path) %></li>
            <% end %>

            <%# Home (Features enabled/disabled within this tab) %>
            <li class='home last'>
              <%= link_to("<span>My #{CurrentDomain.strings.company}</span>", home_path) %>

              <%= render :partial => 'shared/user_menu', :locals => { :menu_class => 'subNav' } %>
            </li>
          </ul>
        </div>
        <% form_tag(data_filter_path, :class => "search") do %>
          <div class="searchContainer">
            <%= text_field_tag("search", @search_term, :class => "textPrompt", :title => "Search Chicago Datasets") %>
            <%= hidden_field_tag("type", "SEARCH") %>

            <div class="actionsBox">
              <div class="clearBox">
                <a class="clearSearch noHistory hide" title="Clear Search" href="#clear_search">
                  Clear Search
                </a>
              </div>
              <%= image_submit_tag("/stylesheets/images/domains/data.cityofchicago.org/chicago_search.png", :name => "discoverSubmit", :class => "submit", :alt => "search") %>
            </div>
          </div>
        <% end %>
      <%- else -%>
        <h1 id='mainLogo' class='<%= @is_marketing_page ? "aboutLogo" : "appLogo" %>'<%= @hide_logo %>>
          <%= link_to(CurrentDomain.strings.company, root_path) %>
        </h1>

        <div id='mainNav'<%= " class='currentUserNav'" if current_user %>>
          <ul class="clearfix">
            <%# Discovery Module %>
            <% module_enabled :discovery_module do %>
              <li class='discover'><%= link_to("<span>Public Data</span>", root_path) %></li>
            <% end %>

            <%# Community Module %>
            <% module_enabled :community_module do %>
              <li class='community'><%= link_to("<span>Community</span>", community_path) %></li>
            <% end %>

            <%# Home (Features enabled/disabled within this tab) %>
            <li class='home last'>
              <%= link_to("<span>My #{CurrentDomain.strings.company}</span>", home_path) %>

              <%= render :partial => 'shared/user_menu', :locals => { :menu_class => 'subNav' } %>
            </li>
          </ul>
        </div>

        <div class='userNav'>
          <ul>
            <%- CurrentDomain.theme.urls.header.each do |link| -%>
              <li><%= link_from_theme(link) %></li>
            <%- end -%>
            <li class='signInLink'><%= link_to "Sign In", login_url, :rel => 'nofollow' %></li>
            <li class='signUpLink'><%= link_to "Sign Up", signup_url, :rel => 'nofollow' %></li>
            <li class='accountLink'><%= link_to "My Account", account_path%></li>
            <li class='signOutLink'><a href='/logout' rel='nofollow'>Sign Out</a></li>
          </ul>
        </div>

        <%# This is not supported yet
        <div class='notifications'>
          <ul>
            <li><a href='#' class='messages' title='Messages'>1</a></li>
            <li><a href='#' class='requests' title='Requests'>3</a></li>
          </ul>
        </div>
        %>

        <%- if @show_search_form -%>
          <% form_tag(root_path, :method => :get, :class => "search") do %>
            <p>
              <input type='text' class='textPrompt' name='search'
                title='<%= t(:search_prompt_text) %>'
                value='<%= @discover_search %>' />
              <input type='image' class='submit' name='discoverSubmit' src='/stylesheets/images/common/empty.gif' alt="search" />
            </p>
          <% end %>
        <%- end -%>
      <%- end -%>
    </div>

    <a name="content"></a>
    <%= yield :layout %>

    
  </div>
</div>
</div>

<a name="footerLinks"></a>
<%- if CurrentDomain.cname.match(/cms/) -%>
  <div class="footerContainer">
    <div class="cmsFooterUpper">
      <ul>
        <li><a href="http://www.hhs.gov/">Department of Health and Human Services</a></li>
        <li><a href="http://www.medicare.gov/">Medicare.gov</a></li>
        <li><a href="http://www.usa.gov/">USA.gov</a></li>
        <li><a href="http://www.cms.gov/aboutwebsite">Web Policies &amp; Important Links</a></li>
        <li><a href="http://www.cms.gov/AboutWebsite/02_Privacy%20Policy.asp">Privacy Policy</a></li>
      </ul>
      <ul>
        <li><a href="http://www.cms.gov/AboutWebsite/04_FOIA.asp">Freedom of Information Act</a></li>
        <li><a href="http://www.cms.gov/AboutWebsite/06_NoFearAct.asp">No Fear Act</a></li>
        <li><a href="http://www.cms.gov/ContactCMS">Contact CMS</a></li>
      </ul>
    </div>
    <div class="cmsFooterLower">
      Centers for Medicare &amp; Medicaid Services, 7500 Security Boulevard, Baltimore, MD 21244
    </div>
  </div>
<%- else -%>
  <div class="footerContainer">
    <div id='footer' class="clearfix">
      <span class='copyright'><%= raw CurrentDomain.strings.copyright_string %></span>
      <ul class="clearfix">
        <%- CurrentDomain.theme.urls.footer.each do |link| -%>
          <li><%= link_from_theme(link) %></li>
        <%- end -%>
      </ul>
    </div>
  </div>
<%- end -%>

  <% dialog_content("jqmAlert") do %>
    <div class='header'>
      <h1>Alert</h1>
    </div>

    <div class='mainContent clearfix'>
      <p class='alertMessage'></p>

      <ul class='actionButtons'>
        <li><a href='#close' class='arrowButton jqmClose'>Close</a></li>
      </ul>
    </div>
  <% end %>

  <%#
  Better to load JS at the bottom:
  http://developer.yahoo.com/performance/rules.html#js_bottom
  %>
  <%= javascript_include_merged 'base' %>

  <% if ENV["RAILS_ENV"] != 'production' %>
    <%= javascript_include_tag "util/debug" %>
  <% end %>

  <%# This should be included on all pages, including the marketing site.
  It will update the header appropriately based on your logged-in state %>
  <script type="text/javascript">
    jQuery((function ($)
    {
        var loggedInCookie = $.cookies.get('logged_in');
        if (loggedInCookie && loggedInCookie == "true")
        {
            $('#header .userNav').addClass('loggedInNav');
        }
    })(jQuery));
  </script>


  <%= yield :js_footer %>

  <%- unless CurrentDomain.theme.js.nil? -%>
    <%- if CurrentDomain.theme.js[:type].to_s == 'static' -%>
      <script type="text/javascript" src="<%= CurrentDomain.theme.js.source %>"></script>
    <%- elsif CurrentDomain.theme.js[:type].to_s == 'hosted' -%>
      <script type="text/javascript" src="/assets/<%= CurrentDomain.theme.js.source %>"></script>
    <%- end -%>
  <%- end -%>

  <div class="jqmWindow" id="modal"></div>

  <%- if feature? "persistent_analytics" -%>
    <%= render(:partial => "shared/analytics") %>
  <%- end -%>
</body>
</html>
