<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <%= stylesheet_link_merged 'base' %>
  <%= stylesheet_link_tag "theme/#{CurrentDomain.cname.gsub(/\./, '_')}.css" %>

  <!--[if lt IE 7]>
    <link href="/stylesheets/core-ie6.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" charset="utf-8">
      var isOldIE = true;
    </script>
  <![endif]-->
  <!--[if IE 7]>
    <link href="/stylesheets/core-ie7.css" rel="stylesheet" type="text/css">
  <![endif]-->

  <%= theme_stylesheet_tag(CurrentDomain.theme.stylesheet) %>

  <%= jquery_include %>
  <%= javascript_error_helper_tag %>

  <%= yield :head %>

  <%- if is_gov_site? -%>
  <%= stylesheet_link_tag "gov-override" %>
  <%- end -%>

  <link rel="shortcut icon" href="<%= theme_image_url(CurrentDomain.theme.images.favicon) %>" />

  <% unless CurrentDomain.google_analytics_id.blank? %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= CurrentDomain.google_analytics_id %>'],
                ['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
</head>

<body id='<%= @body_id %>' class='<%= @body_class %>'>

<div id="skipLinks">
  <a href="#content" accesskey="c">Skip to main content</a>
  <a href="#footerLinks" accesskey="f">Skip to footer links</a>
  <%= yield :skip_links %>
</div>

<div class="bodyExterior">
<div class="bodyInterior">
  <div id='outerContainer'>
    <div id='header'>
      <%= render_domain_template('header') %>
    </div>

    <a name="content"></a>
    <%= yield :layout %>

  </div>
</div>
</div>

<a name="footerLinks"></a>
<%= render_domain_template('footer') %>

  <% dialog_content("jqmAlert") do %>
    <div class='header'>
      <h1>Alert</h1>
    </div>

    <div class='mainContent clearfix'>
      <p class='alertMessage'></p>

      <ul class='actionButtons'>
        <li><a href='#close' class='arrowButton jqmClose'>Close</a></li>
      </ul>
    </div>
  <% end %>

  <%#
  Better to load JS at the bottom:
  http://developer.yahoo.com/performance/rules.html#js_bottom
  %>
  <%= javascript_include_merged 'base' %>

  <% if ENV["RAILS_ENV"] != 'production' %>
    <%= javascript_include_tag "util/debug" %>
  <% end %>

  <%# This should be included on all pages, including the marketing site.
  It will update the header appropriately based on your logged-in state %>
  <script type="text/javascript">
    (function ($)
    {
        var loggedInCookie = $.cookies.get('logged_in');
        if (loggedInCookie && loggedInCookie == "true")
        {
            $('#header .userNav, #mainNav .home').addClass('loggedInNav');
        }
    })(jQuery);
  </script>


  <%= yield :js_footer %>

  <%- unless CurrentDomain.theme.js.nil? -%>
    <%- if CurrentDomain.theme.js[:type].to_s == 'static' -%>
      <script type="text/javascript" src="<%= CurrentDomain.theme.js.source %>"></script>
    <%- elsif CurrentDomain.theme.js[:type].to_s == 'hosted' -%>
      <script type="text/javascript" src="/assets/<%= CurrentDomain.theme.js.source %>"></script>
    <%- end -%>
  <%- end -%>

  <div class="jqmWindow" id="modal"></div>

  <%# we don't trust custom tracking code to be nonblocking like the async
      GA, so put it down here. %>
  <% unless CurrentDomain.custom_tracking_code.blank? %>
    <!-- Custom Tracking Code -->
    <%= raw CurrentDomain.custom_tracking_code %>
  <% end %>
</body>
</html>
