<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%- if is_mobile? -%>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- end -%>
    <%= rendered_stylesheet_tag 'bower-styles-all' %>
    <%= rendered_stylesheet_tag 'mobile' %>
    <%= render_angular_config %>
  </head>
  <body>
    <%= yield %>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= include_javascripts 'bower-all' %>
    <%= include_javascripts 'mobile' %>
  </body>
</html>
