<!DOCTYPE html>
<html>
<head>
  <title>Storyteller</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'story-view', media: 'all' %>
  <%= javascript_include_tag 'airbrake-js-client/dist/client' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'view' %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body class="story-view">

<%= yield %>

<%= render 'shared/i18n_for_js' %>
<%= render 'shared/app_config_for_js' %>
</body>
</html>
