<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= yield :head %>

    <link rel="stylesheet" href="/stylesheets/socrata-components/css/styleguide.min.css"/>

    <%= get_favicon_tag %>
    <%= site_chrome_meta_viewport_tag %>
    <%= site_chrome_stylesheet_tag %>
  </head>

  <body>
    <%== site_chrome_header(request, response) %>

    <div id="noticeContainer">
      <%= display_styleguide_flashes %>
    </div>

    <%= yield %>

    <%== site_chrome_footer(request, response) %>

    <%# Ensure mixpanelConfig is defined before loading other scripts %>
    <%= render_mixpanel_config %>

    <!-- dotdotdot and velocity are finicky about jQuery. -->
    <!-- We made jquery an external, load it here and then bind it to window to be loaded into our Webpack bundle. -->
    <%= jquery_include('2.2.4') %>
    <script> window.jquery = window.jQuery </script>

    <%= yield :scripts %>

    <%# These are below `content_for :scripts` because they require jQuery to be present %>
    <%= render_ga_tracking %>
    <%= site_chrome_javascript_tag %>
  </body>
</html>
