<!DOCTYPE html>
<html>
  <head>
    <title><%= site_chrome_window_title %></title>
    <%= site_chrome_favicon_tag %>
    <%= site_chrome_meta_viewport_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= site_chrome_stylesheet_tag %>
    <%= javascript_include_tag 'application' %>
    <%= site_chrome_javascript_tag %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'site_chrome/header' %>
    <%= yield %>
    <%= render 'site_chrome/footer' %>
  </body>
</html>
