<!DOCTYPE html>
<html>
  <head>
    <title><%= site_chrome_window_title %></title>
    <%= site_chrome_favicon_tag %>
    <%= site_chrome_meta_viewport_tag %>
    <%= site_chrome_google_analytics_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= site_chrome_stylesheet_tag %>
    <%= javascript_include_tag 'application' %>
    <%= site_chrome_javascript_tag %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if params[:admin_header] %>
      <%== site_chrome_admin_header(request, response) %>
    <% else %>
      <%== site_chrome_header(request, response) %>
    <% end %>

    <%= yield %>

    <%== site_chrome_footer(request, response) %>
  </body>
</html>
