<!DOCTYPE html>
<html>
  <head>
    <title><%= site_chrome_window_title %></title>
    <%= site_chrome_favicon_tag %>
    <%= site_chrome_meta_viewport_tag %>
    <%= site_chrome_google_analytics_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= site_chrome_stylesheet_tag %>
    <%= javascript_include_tag 'application' %>
    <%= site_chrome_javascript_tag %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'site_chrome/admin_header' %>

    <%==
      SocrataSiteChrome::SiteChromeController.new.tap do |cont|
        cont.request = request
        cont.response = response
      end.header %>

    <%= yield %>
    <%==
      SocrataSiteChrome::SiteChromeController.new.tap do |cont|
        cont.request = request
        cont.response = response
      end.footer %>
  </body>
</html>
