<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--[if lte IE 6]><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="ie ie6 noBorderRadius noLinearGradient noCss3"><![endif]-->
<!--[if IE 7]><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="ie ie7 noBorderRadius noLinearGradient noCss3"><![endif]-->
<!--[if IE 8]><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="ie ie8 noBorderRadius noLinearGradient noCss3"><![endif]-->
<!--[if gte IE 9]><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="ie"><![endif]-->
<!--[if !IE]>--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><!--<![endif]-->

<!--
Powered by the Socrata Open Data Platform
http://www.socrata.com
-->

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= csrf_meta_tags %>

  <%= jquery_include %>

  <%= yield :head %>

  <%= rendered_stylesheet_tag 'base-sdp' %>
  <% unless CurrentDomain.google_analytics_id.blank? || (params[:no_cookie] == 'true') %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= CurrentDomain.google_analytics_id %>'],
                ['_trackPageview'],
                ['_trackPageLoadTime']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
  <!-- start Mixpanel - Measuring UX things -->
  <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
    typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);

  //Session cookies and all events saved
  <%- if CurrentDomain.feature?(:mixpanelTracking) -%>
    mixpanel.init("<%= APP_CONFIG['mixpanel_token'] %>", {cookie_expiration: null});
  //Full tracking is cookies valid for a year and all events saved
  <%- elsif CurrentDomain.feature?(:fullMixpanelTracking) -%>
    mixpanel.init("<%= APP_CONFIG['mixpanel_token'] %>");
  //Default is no tracking, no cookies and no events saved
  <%- else -%>  
    mixpanel.init("<%= APP_CONFIG['mixpanel_token'] %>", {disable_cookie: true});
    mixpanel.disable();
  <%- end -%>  

  </script><!-- end Mixpanel -->
  
</head>

<body>
  <div id="skipLinks">
    <%= yield :skip_links %>
  </div>

  <%= yield :layout %>

  <%#
  Better to load JS at the bottom:
  http://developer.yahoo.com/performance/rules.html#js_bottom
  %>

  <div id="templates" style="display:none">
    <%= render :partial => 'shared/control_templates' %>
    <%= yield :templates %>
  </div>
  <%= render_translations %>

  <%# Libraries for use with BeautyTip %>
  <!--[if IE]>
  <script type="text/javascript" src="/javascripts/plugins/excanvas.compiled.js"></script>
  <![endif]-->
  <!--[if lt IE 7]>
  <script type="text/javascript" src="/javascripts/plugins/jquery.bgiframe.min.js"></script>
  <![endif]-->

  <%= include_javascripts 'base' %>

  <%= render_view_js %>

  <% if Rails.env != 'production' %>
      <%= include_javascripts 'debug' %>
  <%- else -%>
    <script type="text/javascript">
      $.debug = function() {};
    </script>
  <% end %>

  <script type="text/javascript">
    blist.namespace.fetch('blist.configuration');
    blist.configuration.strings = <%= safe_json(CurrentDomain.strings) %>;
    blist.locale = "<%= I18n.locale %>";
  </script>

  <%= yield :js_footer %>

  <%# we don't trust custom tracking code to be nonblocking like the async
      GA, so put it down here. %>
  <% unless CurrentDomain.custom_tracking_code.blank? || (params[:no_cookie] == 'true') %>
    <!-- Custom Tracking Code -->
    <%= raw CurrentDomain.custom_tracking_code %>
  <% end %>
</body>
</html>
