<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <% bundle :name => "widget_css", :bypass => (ENV["RAILS_ENV"] != 'production') do %>
    <%= stylesheet_link_tag "base", "common", "widgets",
    :cache => "cache/layout_widgets_all" %>
  <% end %>

  <% if ENV["RAILS_ENV"] != 'production' %>
  <script src="/javascripts/jquery-1.3.2.js" type="text/javascript"
    charset="utf-8"></script>
  <% else %>
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">
    google.load("jquery", "1.3.2");
  </script>
  <% end %>

  <%= yield :head %>

  <!--[if lt IE 7]>
    <link href="/stylesheets/core-ie6.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" charset="utf-8">
      var isOldIE = true;
    </script>
  <![endif]-->
</head>

<body>

    <%= yield :layout %>

  <%#
  Better to load JS at the bottom:
  http://developer.yahoo.com/performance/rules.html#js_bottom
  %>
  <% bundle :name => "util_namespace", :bypass => (ENV["RAILS_ENV"] != 'production') do %>
    <%= javascript_include_tag "util/namespace" %>
  <% end %>

  <% if ENV["RAILS_ENV"] != 'production' %>
      <%= javascript_include_tag "util/debug" %>
  <% end %>

  <%= yield :js_footer %>

</body>
</html>
