<h1 class="loginHeader modalHeader">
  <%- if CurrentDomain.strings.login_header.present? -%>
    <%= CurrentDomain.strings.login_header %>
  <%- else -%>
    <%= t('screens.sign_in.headline', site: CurrentDomain.strings.company) %>
  <%- end -%>
</h1>
<div class="signupHeader modalHeader">
  <h1>
    <%- if CurrentDomain.strings.signup_header.present? -%>
      <%= CurrentDomain.strings.signup_header %>
    <%- else -%>
      <%= t('screens.sign_up.headline', site: CurrentDomain.strings.company) %>
    <%- end -%>
  </h1>
  <%- if CurrentDomain.strings.signup_explanation.present? -%>
    <div class="signupExplanation explanation"><%= simple_format CurrentDomain.strings.signup_explanation %></div>
  <%- end -%>
</div>

<%# REMOVE THIS AFTER AUTH0 ROLLOUT See EN-13001 %>
<% if FeatureFlags.derive(@view, request).show_new_login_message %>
  <div style="text-align:center;font-size:15px;margin-top:15px;margin-bottom:0;background-color:#eaf4f9;border-color:#288dc1;color:#1c6387;padding:12px;border-radius:1px;border:1px solid #c8c8c8;">
    <%== t('screens.sign_in.new_login_message') %>
  </div>
<% end %>
<%# REMOVE THIS AFTER AUTH0 ROLLOUT See EN-13001 %>
