<%= display_standard_flashes %>
<fieldset>
  <%= hidden_field_tag("inviteToken", @token) %>
  <p>
    <label for="account_firstName">*First Name</label>
    <%= text_field_tag("firstName", nil, :id => 'account_firstName') %>
  </p>
  <p>
    <label for="account_lastName">*Last Name</label>
    <%= text_field_tag("lastName", nil, :id => 'account_lastName') %>
  </p>
  <p>
    <label for="account_email">*Email Address</label>
    <%= text_field_tag("email", nil, :id => 'account_email') %>
  </p>
  <p>
    <label for="account_emailConfirm">*Confirm Email</label>
    <%= text_field_tag("emailConfirm", nil, :id => 'account_emailConfirm') %>
  </p>
  <p>
    <label for="account_login">*Username</label>
    <%= text_field_tag("login", nil, {:maxlength => 40, :id => 'account_login'}) %>
  </p>
  <p>
    <label for="account_password">*Password</label>
    <%= password_field_tag("password", nil, :id => 'account_password') %>
  </p>
  <p>
    <label for="account_passwordConfirm">*Confirm Password</label>
    <%= password_field_tag("passwordConfirm", nil,
      :id => 'account_passwordConfirm') %>
  </p>
</fieldset>

<fieldset class="last">
  <div class="fileInputContainer clearfix">
    <label for="profile_image">Profile Picture</label>
    <div class="fileInput">
      <%= file_field_tag("profile_image", :class => "text") %>
      <div class="fakeFile clearfix">
        <input type="text" name="displayProfileImage" />
        <%= image_tag("/stylesheets/images/account/button_browse.png", :size => "72x24", :alt => "Browse") %>
      </div>
    </div>
  </div>
  <p>
    <label for="account_company">Company</label>
    <%= text_field_tag("company", nil, :id => 'account_company') %>
  </p>
  <p>
    <label for="account_title">Title</label>
    <%= text_field_tag("title", nil, :id => 'account_title') %>
  </p>
  <p class="fieldInfo">
  Share and collaborate with your friends and colleagues. Enter their email addresses and we'll send them an invite on your behalf.
  </p>
  <p>
    <label for="inviteOthers">Invite Others</label>
    <%= text_area_tag("inviteOthers", "", :class => "textPrompt", :title => "Enter email addresses separated by commas") %>
  </p>
</fieldset>
