<%= display_standard_flashes %>
<fieldset>
  <%= hidden_field_tag("inviteToken", @token) %>
  <p>
    <label for="firstName">*First Name</label>
    <%= text_field_tag("firstName") %>
  </p>
  <p>
    <label for="lastName">*Last Name</label>
    <%= text_field_tag("lastName") %>
  </p>
  <p>
    <label for="email">*Email Address</label>
    <%= text_field_tag("email") %>
  </p>
  <p>
    <label for="emailConfirm">*Confirm Email</label>
    <%= text_field_tag("emailConfirm") %>
  </p>
  <p>
    <label for="login">*Username</label>
    <%= text_field_tag("login", nil, :maxlength => 40) %>
  </p>
  <p>
    <label for="password">*Password</label>
    <%= password_field_tag("password") %>
  </p>
  <p>
    <label for="passwordConfirm">*Confirm Password</label>
    <%= password_field_tag("passwordConfirm") %>
  </p>
</fieldset>

<fieldset class="last">
  <div class="fileInputContainer clearfix">
    <label for="profile_image">Profile Picture</label>
    <div class="fileInput">
      <%= file_field_tag("profile_image", :class => "text") %>
      <div class="fakeFile clearfix">
        <input type="text" name="displayProfileImage" />
        <%= image_tag("/stylesheets/images/account/button_browse.png", :size => "72x24", :alt => "Browse") %>
      </div>
    </div>
  </div>
  <p>
    <label for="company">Company</label>
    <%= text_field_tag("company") %>
  </p>
  <p>
    <label for="title">Title</label>
    <%= text_field_tag("title") %>
  </p>
  <p class="fieldInfo">
  Share and collaborate with your friends and colleagues. Enter their email addresses and we'll send them an invite on your behalf.
  </p>
  <p>
    <label for="inviteOthers">Invite Others</label>
    <%= text_area_tag("inviteOthers", "", :class => "textPrompt", :title => "Enter email addresses separated by commas") %>
  </p>
</fieldset>
