<%= display_standard_flashes %>

<fieldset>
  <%= f.hidden_field :inviteToken %>
  <%= f.hidden_field :openIdIdentifierId %>
  <%= f.hidden_field :firstName %>
  <%= f.hidden_field :lastName %>

  <div class="line clearfix">
    <%= f.label :email, 'Email Address', :class => 'required' %>
    <%= f.text_field :email %>
  </div>
  <div class="line clearfix">
    <%= label_tag :emailConfirm, 'Confirm Email', :class => 'required' %>
    <%= f.text_field :emailConfirm %>
  </div>

  <div class="line clearfix">
    <%= f.label :screenName, 'Display Name', :class => 'required' %>
    <%= f.text_field :screenName, :maxlength => 40 %>
  </div>

  <% unless local_assigns[:hide_password] %>
    <div class="line clearfix">
      <%= f.label :password, 'Password', :class => 'required' %>
      <%= f.password_field :password %>
    </div>
    <div class="line clearfix">
      <%= f.label :passwordConfirm, 'Confirm Password', :class => 'required' %>
      <%= f.password_field :passwordConfirm %>
    </div>
  <% end %>
  <div class="line clearfix">
    <span><%= check_box_tag 'signup[accept_terms]', "1", false, :class => 'required' %>
    I agree to the <%= raw CurrentDomain.theme.urls.signup.map{|link| link_from_theme(link)}.to_sentence %></span>
    <label class="error" for="signup[accept_terms]" generated="true"></label>
  </div>
</fieldset>

<div class="required">Required Field</div>

<ul class="finishButtons clearfix">
  <li class="signup_loadingIndicatorContainer" style="display:none">
    <span class="signup_loadingIndicator"></span>
  </li>
  <li>
    <a id="signup_submit" class="button" href="#signup">Sign Up</a>
  </li>
  <%- if local_assigns[:is_modal] -%>
    <li>
      <a href="#close" class="button close jqmClose">Cancel</a>
    </li>
  <%- end -%>
</ul>
