<div class="signupForm">
  <%- unless defined? @flashes_displayed -%>
    <%= display_standard_flashes %>
    <%- @flashes_displayed = true -%>
  <%- end -%>
  <div class="authProvider socrata">
    <div class="login-description-container">
      <span class="login-description"><%= t('screens.sign_up.prompt_html') %></span>
      <p class="loginTips"><%= t('screens.sign_in.tips_html') %></p>
    </div>
  </div>

  <%- if !CurrentDomain.strings.disclaimer.nil? -%>
    <p class="signupDisclaimer"><%= raw CurrentDomain.strings.disclaimer %></p>
  <%- end -%>

  <%= form_for :signup, :url => signup_submit_path,
     :html => {:id => 'signupForm', :class => 'commonForm', :multipart => true} do |f| %>
       <%= render :partial => 'accounts/signup_form_data', :locals => { :f => f,
         :render_captcha => local_assigns[:render_captcha] } %>
  <% end %>
</div>

<%= render_translations LocalePart.screens.sign_up %>

