<%= display_standard_flashes %>

<fieldset>
  <%= f.hidden_field :inviteToken %>
  <%= f.hidden_field :openIdIdentifierId %>
  <%= f.hidden_field :firstName %>
  <%= f.hidden_field :lastName %>
  <%= hidden_field 'signup[accept_terms]', 'true' %>

  <div class="line clearfix">
    <%= f.label :email, 'Email Address', :class => 'required' %>
    <%= f.text_field :email %>
  </div>

  <div class="line clearfix">
    <%= f.label :screenName, 'Display Name', :class => 'required' %>
    <%= f.text_field :screenName, :maxlength => 40 %>
  </div>

  <% unless local_assigns[:hide_password] %>
    <div class="line clearfix">
      <%= f.label :password, 'Password', :class => 'required' %>
      <%= f.password_field :password %>
    </div>
    <div class="line clearfix">
      <%= f.label :passwordConfirm, 'Confirm Password', :class => 'required' %>
      <%= f.password_field :passwordConfirm %>
    </div>
  <% end %>
</fieldset>

<div class="required">Required Field</div>

<p class="terms"><%= raw MASTER_DOMAIN_PREFS['strings.signup_terms'] %></p>

<input class="fakeSubmit" type="submit"/>
<ul class="finishButtons clearfix">
  <li class="signup_loadingIndicatorContainer" style="display:none">
    <span class="signup_loadingIndicator"></span>
  </li>
  <li>
    <a id="signup_submit" class="button default" href="#signup">Create My Account</a>
  </li>
  <%- if local_assigns[:is_modal] -%>
    <li>
      <a href="#close" class="button close jqmClose">Cancel</a>
    </li>
  <%- end -%>
</ul>
