<%= f.hidden_field :inviteToken %>
<%= f.hidden_field :authToken %>
<%= f.hidden_field :openIdIdentifierId %>
<%= f.hidden_field :firstName %>
<%= f.hidden_field :lastName %>
<%= hidden_field_tag 'signup[accept_terms]', 'true' %>

<div class="line">
  <div class="labelLine">
    <%= f.label :email, 'Email Address', :class => 'required main' %>
  </div>
  <%= f.text_field :email %>
</div>

<div class="line">
  <div class="labelLine">
    <%= f.label :screenName, 'Display Name', :class => 'required main' %>
  </div>
  <%= f.text_field :screenName, :maxlength => 40 %>
</div>

<%- if !local_assigns[:hide_password] -%>
<div class="line">
  <div class="labelLine">
    <%= f.label :password, 'Password', :class => 'required passwordLabel main' %>
    <span class="passwordHint">(8 characters or more)</span>
  </div>
  <%= f.password_field :password %>
</div>

<div class="line clearfix">
  <div class="labelLine">
    <%= f.label :passwordConfirm, 'Confirm Password', :class => 'required main' %>
  </div>
  <%= f.password_field :passwordConfirm %>
</div>
<%- end -%>

<p class="signUpHint">
  <%= raw MASTER_DOMAIN_PREFS['strings.signup_terms'] %>
</p>

<div class="formActionButtons">
  <input type="submit" class="button default" value="Create My Account" />
  <span class="accountSignupHint">
    <%= link_to 'I already have an account', login_path, :class => 'signInLink' %>.
  </span>
</div>
