<%= display_standard_flashes %>

<fieldset>
  <%= f.hidden_field :inviteToken %>
  <%= f.hidden_field :openIdIdentifierId %>
  <%= f.hidden_field :firstName %>
  <%= f.hidden_field :lastName %>
  <%= hidden_field 'signup[accept_terms]', 'true' %>

  <div class="line clearfix">
    <%= f.label :email, t('account.common.form.email'), :class => 'required' %>
    <%= f.text_field :email %>
  </div>

  <div class="line clearfix">
    <%= f.label :screenName, t('account.common.form.display_name'), :class => 'required' %>
    <%= f.text_field :screenName, :maxlength => 40 %>
  </div>

  <% unless local_assigns[:hide_password] %>
    <div class="line clearfix">
      <%= f.label :password, t('account.common.form.password'), :class => 'required password' %>
      <%= f.password_field :password %>
    </div>
    <div class="line clearfix">
      <%= f.label :passwordConfirm, t('account.common.form.confirm_password'), :class => 'required' %>
      <%= f.password_field :passwordConfirm %>
    </div>
  <% end %>
  <%= render :partial => 'accounts/captcha', :locals => local_assigns %>
</fieldset>

<div class="required"><%= t('core.forms.required_field') %></div>

<p class="terms"><%= t('screens.sign_up.terms_html') %></p>

<input class="fakeSubmit" type="submit"/>
<ul class="finishButtons clearfix">
  <li class="signup_loadingIndicatorContainer" style="display:none">
    <span class="signup_loadingIndicator"></span>
  </li>
  <li>
  <a id="signup_submit" class="button default" href="#signup"><%= t('screens.sign_up.form.create_account_button') %></a>
  </li>
  <%- if local_assigns[:is_modal] -%>
    <li>
      <a href="#close" class="button close jqmClose"><%= t('core.dialogs.cancel') %></a>
    </li>
  <%- end -%>
</ul>
