<div class="signupForm">
  <%- unless defined? @flashes_displayed -%>
    <%= display_standard_flashes %>
    <%- @flashes_displayed = true -%>
  <%- end -%>
  <div class="authProvider socrata">
    <span class="iconContainer"> <span class="icon"></span> </span>
    <span class="description">
      Create a new <strong><%= MASTER_DOMAIN_PREFS['strings.company'] %> ID</strong>
    </span>
    <p class="loginTips">
      <%= raw MASTER_DOMAIN_PREFS['strings.login_tips'] %>
    </p>
  </div>

  <%- if !CurrentDomain.strings.disclaimer.nil? -%>
    <p class="signupDisclaimer"><%= raw CurrentDomain.strings.disclaimer %></p>
  <%- end -%>

  <%= form_for :signup,
     :html => {:id => 'signupForm', :class => 'commonForm', :multipart => true} do |f| %>
    <%= render :partial => 'accounts/signup_form_data', :locals => {:f => f} %>
  <% end %>
</div>
