<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-login' %>

  <title><%= CurrentDomain.strings.site_title %> | <%= t('screens.forgot_password.title') %></title>
<% end %>

<div class="modalContentBox siteContent forgot-password-modal">
  <div class="contentHeader">
    <h1 class="forgot-password-header"><%= t('screens.forgot_password.title') %></h1>
  </div>
  <div class="contentBoxInner clearfix">
    <%= display_standard_flashes %>

    <p class="explanation"><%= t('screens.forgot_password.prompt') %></p>

    <%- if current_user.nil? -%>
      <%= form_tag(forgot_password_path, :id => "forgotPasswordForm",
        :multipart => true, :class => 'commonForm') do %>
        <div class="line">
          <label for="account_login" class="required"><%= t('account.common.form.email') %></label>
          <%= text_field_tag("login", nil, :id => 'account_login') %>
        </div>
        <div class="submitLine">
          <input type="submit" class="button default" value="<%= t('screens.forgot_password.form.reset_password_button') %>" />
        </div>
      <% end %>
    <%- else -%>
      <div class="flash error">
        <%= t('screens.forgot_password.already_authenticated') %>
      </div>
    <%- end -%>

  </div>
</div>

<% content_for :js_footer do %>
  <%= include_javascripts 'screen-forgot-password' %>
<% end %>
