<% content_for :head do %>
  <title>Forgot password</title>
<% end %>

<div class='dialogBox loginBox'>
  <div class='header'>
    <h1>blist</h1>
  </div>

  <div class='mainContent'>
    <div class='title clearfix'>
      <h2>Recover your password</h2>
      <p style="clear:both">If you've forgotten your password, we can send you an email with a link to reset your password.</p>
    </div>

    <%= display_standard_flashes %>

    <% form_tag(forgot_password_url, :id => "forgotPasswordForm", :multipart => true) do %>
      <div class="fieldContent clearfix">
        <p>
          <label for="account_login">*Login</label>
          <%= text_field_tag("account[login]") %>
        </p>

        
      </div>
      <div class="submitLine clearfix">
        <%= submit_tag "Reset password" %>
      </div>

    <% end %>
    
    <div class="contentFooter">
    </div>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "plugins/jquery.validate", 
       :cache => "cache/accounts_new_all" %>
<% end %>
