<% content_for :head do %>
  <%= stylesheet_link_tag "reset-password-screen" %>
  <title><%= CurrentDomain.strings.company %> | Forgot password</title>
<% end %>

<% dialog_content do %>
  <div class='header authDialog'>
    <h1><%= CurrentDomain.strings.company %></h1>
  </div>

  <div class='mainContent'>
    <div class='title clearfix'>
      <h2>Recover your password</h2>
      <p>If you've forgotten your password, we can send you an email with a link to reset your password.</p>
    </div>

    <%= display_standard_flashes %>

    <% form_tag(forgot_password_path, :id => "forgotPasswordForm",
      :multipart => true) do %>
    <p class='clearfix'>
    <label for="account_login">*Email</label>
    <%= text_field_tag("login", nil, :id => 'account_login') %>
    </p>
      <div class="submitLine clearfix">
        <input type='image' name='submit'
          src='<%= image_path("button_reset_password.png") %>'
          alt="send" />
      </div>

    <% end %>

    <div class="contentFooter">
    </div>
  </div>
<% end %>

<% content_for :js_footer do %>
  <%= javascript_include_merged 'shared-common-all' %>
  <%= javascript_include_tag 'screens/forgot-password-screen' %>
<% end %>
