<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-login' %>

  <title><%= CurrentDomain.strings.site_title %></title>
<% end %>

<% content_for :skip_links do %>
  <%- unless params[:no_js].present? -%>
    <%= link_to t('core.no_js'), '?no_js=true' %>
  <%- end -%>
<% end %>

<%- openid_login = CurrentDomain.module_enabled?(:openid_login) -%>

<div class="modalContentBox signupModal siteContent <%= openid_login ? 'wide' : 'narrow' %>">
  <div class="contentHeader">
    <%= render :partial => 'accounts/login_header' %> 
  </div>
  <div class="contentBoxInner clearfix">
    <div class="loginSignupForm firstColumn column">
      <%= render :partial => 'signup_form', :locals => { :render_captcha => true } %>
      <%- unless params[:no_js].present? -%>
      <%= render :partial => 'user_sessions/login_form' %>
      <%- end -%>
    </div>

    <%- if openid_login -%>
      <div class="rpxLoginPane column">
        <%= render :partial => 'rpx/openid_login', :locals => {:auth_action => 'sign_up'} %>
      </div>
    <%- end -%>
  </div>
</div>

<% content_for :js_footer do %>
  <%- unless params[:no_js].present? -%>
    <%= include_javascripts 'screen-login-signup' %>
    <%= javascript_include_tag 'https://rpxnow.com/openid/v2/widget' %>

    <script type="text/javascript">
      RPXNOW.overlay = true;
      RPXNOW.language_preference = 'en';
    </script>
  <%- end -%>
<% end %>
