<% content_for :head do %>
  <%= stylesheet_link_merged 'accounts-new' %>
  <title><%= CurrentDomain.strings.site_title %></title>
<% end %>

<% dialog_content('signup', "signupBox") do %>
  <div class='header'>
    <h1><%= CurrentDomain.strings.company %></h1>
  </div>

  <div class='mainContent modalContentWrapper'>
    <div class='title clearfix'>
      <h2><strong>We're glad you want to join <%= CurrentDomain.strings.company %>!</strong></h2>
    </div>

    <h3>Create a new <%= CurrentDomain.strings.company %> ID</h3>

    <% if !CurrentDomain.strings.disclaimer.nil? %>
      <p class="signupDisclaimer"><%= raw CurrentDomain.strings.disclaimer %></p>
    <% end %>

    <%= render :partial => "signup_form", :locals => {:is_modal => false} %>

    <%- if module_enabled? :openid_login -%>
      <h3 class="signup"><strong>OR</strong> Sign up using an external account</h3>
      <%= render :partial => "rpx/buttons", :locals => {:action => "Sign up", :return_url => rpx_return_signup_url} %>
    <%- end -%>
  </div>
<% end %>

<% content_for :js_footer do %>
  <%= javascript_include_merged 'shared-common-all' %>
  <%= javascript_include_tag "screens/signup-screen" %>
  <script src="https://rpxnow.com/openid/v2/widget"
          type="text/javascript"></script>
  <script type="text/javascript">
    RPXNOW.overlay = true;
    RPXNOW.language_preference = 'en';
    RPXNOW.flags='show_provider_list';
  </script>

<% end %>
