<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-login' %>
  <title><%= CurrentDomain.strings.site_title %> | Reset Password</title>
<% end %>

<div class="modalContentBox siteContent">
  <div class="contentHeader">
    <h1>Reset Password</h1>
  </div>
  <div class="contentBoxInner clearfix">
    <p class="explanation">Welcome back! Please select a new password</p>

    <%= display_standard_flashes %>

    <%= form_tag(reset_password_path, :id => "resetPasswordForm", :class => 'commonForm') do %>
      <%= hidden_field_tag "uid", params[:uid] %>
      <%= hidden_field_tag "reset_code", params[:reset_code] %>
      <div class="line">
        <label for="password" class="required">Password <span class="passwordHint about">(Restrictions apply <span class="icon">&nbsp;</span>)</span></label>
        <%= password_field_tag("password") %>
      </div>

      <div class="line">
        <label for="confirm_password" class="required">Confirm Password</label>
        <%= password_field_tag("confirm_password") %>
      </div>

      <div class="submitLine">
        <input type='submit' value="Reset Password" class="button default" />
      </div>

    <% end %>
  </div>
</div>

<% content_for :js_footer do %>
  <%= include_javascripts 'screen-reset-password' %>
<% end %>
