<% content_for :head do %>
  <%= stylesheet_link_tag "reset-password-screen" %>
  <title><%= t(:blist_company) %> | Forgot password</title>
<% end %>

<div class='dialogBox'>
  <div class='header'>
    <h1><%= t(:blist_company) %></h1>
  </div>

  <div class='mainContent'>
    <div class='title clearfix'>
      <h2>Reset your password</h2>
      <p>Welcome back! Please select a new password:</p>
    </div>

    <%= display_standard_flashes %>

    <% form_tag(reset_password_url, :id => "resetPasswordForm") do %>
      <%= hidden_field_tag "uid", params[:uid] %>
      <%= hidden_field_tag "reset_code", params[:reset_code] %>
      <p class='clearfix'>
      <label for="password">*Password</label>
      <%= password_field_tag("password") %>
      </p>

      <p class='clearfix'>
      <label for="confirm_password">*Confirm Password</label>
      <%= password_field_tag("confirm_password") %>
      </p>

      <div class="submitLine clearfix">
        <input type='image' name='submit'
          src='<%= image_path("button_reset_password.png") %>' />
      </div>

    <% end %>

    <div class="contentFooter">
    </div>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "plugins/jquery.validate",
    'screens/reset-password-screen',
    :cache => "cache/accounts_reset_password_all" %>
<% end %>
