<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-login' %>
  <title><%= CurrentDomain.strings.site_title %> | <%= t('screens.reset_password.title') %></title>
<% end %>

<div class="modalContentBox siteContent">
  <div class="contentHeader">
    <h1><%= t('screens.reset_password.title') %></h1>
  </div>
  <div class="contentBoxInner clearfix">
    <p class="explanation"><%= t('screens.reset_password.prompt') %></p>

    <%= display_standard_flashes %>

    <%= form_tag(reset_password_path, :id => "resetPasswordForm", :class => 'commonForm') do %>
      <%= hidden_field_tag "uid", params[:uid] %>
      <%= hidden_field_tag "reset_code", params[:reset_code] %>
      <div class="line">
        <label for="password" class="required"><%= t('account.common.form.password') %> <span class="passwordHint about">(<%= t('core.forms.required_field') %> <span class="icon">&nbsp;</span>)</span></label>
        <%= password_field_tag("password") %>
      </div>

      <div class="line">
        <label for="confirm_password" class="required"><%= t('account.common.form.confirm_password') %></label>
        <%= password_field_tag("confirm_password") %>
      </div>

      <div class="submitLine">
        <input type='submit' value="<%= t('screens.reset_password.form.reset_password_button') %>" class="button default" />
      </div>

    <% end %>
  </div>
</div>

<%- content_for :translations do -%>
  <%= render_translations LocalePart.screens.reset_password %>
<%- end -%>

<% content_for :js_footer do %>
  <%= include_javascripts 'screen-reset-password' %>
<% end %>
