<% content_for :head do %>
  <title>Forgot password</title>
<% end %>

<div class='dialogBox loginBox'>
  <div class='header'>
    <h1>blist</h1>
  </div>

  <div class='mainContent'>
    <div class='title clearfix'>
      <h2>Reset your password</h2>
      <p style="clear:both">Welcome back! Please select a new password:
    </div>

    <%= display_standard_flashes %>

    <% form_tag(reset_password_url, :id => "resetPasswordForm") do %>
      <%= hidden_field_tag "uid", params[:uid] %>
      <%= hidden_field_tag "reset_code", params[:reset_code] %>
      <div class="fieldContent clearfix">
        <p>
          <label for="account_password">*Password</label>
          <%= password_field_tag("password") %>
        </p>

        <p>
          <label for="account_password_confirmation">*Confirm Password</label>
          <%= password_field_tag("confirm_password") %>
        </p>

        <%= submit_tag "Reset password" %>

    <% end %> 

    <div class="contentFooter">
    </div>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "plugins/jquery.validate", 'screens/reset-password-screen',
       :cache => "cache/accounts_new_all" %>
<% end %>
