<% content_for :head do %>
  <%= stylesheet_link_tag "account-screen" %>
  <title>Account Settings | <%= th.site_title %></title>
<% end %>


<div class="twoColumnContainer tabContainer clearfix">
  <div id="mainColumnContent" class="column mainContent">
    <div id="account">
      <%= render(:partial => "shared/account_tabs") %>

      <div class='outerContent'>
        <div class='content'>
          <h3>Email Address</h3>
          <div class="listSection emailSection">
            <div class="sectionShow">
              <p>
                <span class="dataEmail"><%= h(current_user.email) %></span>
                <a href="#change" class="showAction"><span>Change</span></a>
              </p>
            </div>
            <div class="sectionEdit formListBox">
              <div class="formListBoxTL"><div class="formListBoxTR">
              <div class="formListBoxBL"><div class="formListBoxBR">
                <% form_tag(accounts_json_url) do %>
                  <dl class="clearfix">
                    <dt>Current Email</dt>
                    <dd class="dataEmail"><%= h(current_user.email) %></dd>
                    <dt><label for="user_email">New Email</label></dt>
                    <dd><%= text_field_tag("user[email]") %></dd>
                    <dt>
                      <label for="user_email_confirm">Retype New Email</label>
                    </dt>
                    <dd><%= text_field_tag("user[email_confirm]") %></dd>
                    <dt><label for="user_email_password">Enter Password</label></dt>
                    <dd>
                      <%= password_field_tag("user[email_password]") %>
                      <span class="fieldNote">(For your security)</span>
                    </dd>
                  </dl>
                  <p class="formListBoxSubmit">
                    <%= image_submit_tag("button_save.png") %>
                  </p>
                  <p class='errorMessage'></p>
                <% end %>
                <p class="formListBoxClose"><a href="#close">Close</a></p>
              </div></div>
              </div></div>
            </div>
          </div>

          <h3>Password</h3>
          <div class="listSection passwordSection">
            <div class="sectionShow">
              <p>
                Change your password
                <a href="#change" class="showAction"><span>Change</span></a>
              </p>
            </div>
            <div class="sectionEdit formListBox">
              <div class="formListBoxTL"><div class="formListBoxTR">
              <div class="formListBoxBL"><div class="formListBoxBR">
                <% form_tag(accounts_json_url) do %>
                  <dl class="clearfix">
                    <dt><label for="user_password_old">Old Password</label></dt>
                    <dd><%= password_field_tag("user[password_old]") %></dd>
                    <dt><label for="user_password_new">New Password</label></dt>
                    <dd><%= password_field_tag("user[password_new]") %></dd>
                    <dt>
                      <label for="user_password_confirm">Retype Password</label>
                    </dt>
                    <dd><%= password_field_tag("user[password_confirm]") %></dd>
                  </dl>
                  <p class="formListBoxSubmit">
                    <%= image_submit_tag("button_save.png") %>
                  </p>
                  <p class='errorMessage'></p>
                <% end %>
                <p class="formListBoxClose"><a href="#close">Close</a></p>
              </div></div>
              </div></div>
            </div>
          </div>

          <h3>OpenID Identifiers</h3>
          <div class="listSection openIdSection">
            <div class="sectionShow">
              <p>
                Log in with your OpenID
                <a id="openid" href="#openid" class="showAction"><span>Change</span></a>
              </p>
            </div>
            <div class="sectionEdit formListBox solid">
              <div class="formListBoxTL"><div class="formListBoxTR">
              <div class="formListBoxBL"><div class="formListBoxBR">
                  <div class="updateLinksContainer int">
                    <p>Log in with your AOL, Facebook, Google, or other 3rd-party credentials. <%= link_to "Learn about OpenID", openid_explained_url(account_url) %></p>
                    <div class="openIdTableContainer">
                      <table cellspacing="0" class="gridList">
                        <colgroup>
                          <col class="edit_handle first" />
                          <col class="edit_identifier" />
                        </colgroup>
                        <thead>
                          <tr>
                            <th class="edit_handle"><span>remove</span></th>
                            <th class="edit_name">Identifier</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%= render(:partial => "openid_identifier_row", :collection => @openid_identifiers) %>
                        </tbody>
                        <tbody id="no_openid_identifiers" class="hidden">
                          <tr>
                            <td colspan="2">
                              <p class="cellInner">You have no OpenID identifiers associated with this account.</p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <% if flash[:openid_error] %>
                      <div class="error">
                        <p><%= flash[:openid_error] %></p>
                      </div>
                    <% end %>
                    <ul class="actionButtons">
                      <li>
                        <%= link_to_rpx "Add an OpenID", add_rpx_token_url(:section => 'openid') %>
                      </li>
                    </ul><p class="clearfix"/>
                    <p class="formListBoxClose"><a href="#close">Close</a></p>
                   </div>
              </div></div>
              </div></div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column scrollContentColumn">
    <% render(:layout => "shared/sidebar_box") do %>
      <%= render(:partial => "shared/current_user_tile", :locals => { :user => current_user }) %>
    <% end %>
    
    <% render(:layout => "shared/sidebar_box", :locals => {:box_class => "jumpToActions"}) do %>
      <h4>Jump To</h4>
      <ul class="actionButtons blockList clearfix">
        <li><%= link_to("Edit Profile", current_user.href) %></li>
      </ul>
    <% end %>
  </div>
</div>

<% content_for :js_footer do %>
  <%= javascript_include_tag "util/sizing", "plugins/jquery.validate", 
    "screens/account-screen", :cache => "cache/accounts_show_all" %>
  <script src="https://rpxnow.com/openid/v2/widget"
          type="text/javascript"></script>
  <script type="text/javascript">
    RPXNOW.overlay = true;
    RPXNOW.language_preference = 'en';
    RPXNOW.flags='show_provider_list';
  </script>
<% end %>
