<% content_for :head do %>
  <%= stylesheet_link_tag "account-screen" %>
  <title><%= t(:page_title) %></title>
<% end %>


<div class="twoColumnContainer tabContainer clearfix">
  <div id="mainColumnContent" class="column mainContent">
    <div id="account">
      <%= render(:partial => "shared/account_tabs") %>

      <div class='outerContent'>
        <div class='content'>
          <h3>Email Address</h3>
          <div class="listSection emailSection">
            <div class="sectionShow">
              <p>
                <span class="dataEmail"><%= h(current_user.email) %></span>
                <a href="#change" class="showAction"><span>Change</span></a>
              </p>
            </div>
            <div class="sectionEdit formListBox">
              <div class="formListBoxTL"><div class="formListBoxTR">
              <div class="formListBoxBL"><div class="formListBoxBR">
                <% form_tag(accounts_json_url) do %>
                  <dl class="clearfix">
                    <dt>Current Email</dt>
                    <dd class="dataEmail"><%= h(current_user.email) %></dd>
                    <dt><label for="user_email">New Email</label></dt>
                    <dd><%= text_field_tag("user[email]") %></dd>
                    <dt>
                      <label for="user_email_confirm">Retype New Email</label>
                    </dt>
                    <dd><%= text_field_tag("user[email_confirm]") %></dd>
                    <dt><label for="user_email_password">Enter Password</label></dt>
                    <dd>
                      <%= password_field_tag("user[email_password]") %>
                      <span class="fieldNote">(For your security)</span>
                    </dd>
                  </dl>
                  <p class="formListBoxSubmit">
                    <%= image_submit_tag("button_save.png") %>
                  </p>
                  <p class='errorMessage'></p>
                <% end %>
                <p class="formListBoxClose"><a href="#close">Close</a></p>
              </div></div>
              </div></div>
            </div>
          </div>

          <h3>Password</h3>
          <div class="listSection passwordSection">
            <div class="sectionShow">
              <p>
                Change your password
                <a href="#change" class="showAction"><span>Change</span></a>
              </p>
            </div>
            <div class="sectionEdit formListBox">
              <div class="formListBoxTL"><div class="formListBoxTR">
              <div class="formListBoxBL"><div class="formListBoxBR">
                <% form_tag(accounts_json_url) do %>
                  <dl class="clearfix">
                    <dt><label for="user_password_old">Old Password</label></dt>
                    <dd><%= password_field_tag("user[password_old]") %></dd>
                    <dt><label for="user_password_new">New Password</label></dt>
                    <dd><%= password_field_tag("user[password_new]") %></dd>
                    <dt>
                      <label for="user_password_confirm">Retype Password</label>
                    </dt>
                    <dd><%= password_field_tag("user[password_confirm]") %></dd>
                  </dl>
                  <p class="formListBoxSubmit">
                    <%= image_submit_tag("button_save.png") %>
                  </p>
                  <p class='errorMessage'></p>
                <% end %>
                <p class="formListBoxClose"><a href="#close">Close</a></p>
              </div></div>
              </div></div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column scrollContentColumn">
    <% render(:layout => "shared/sidebar_box") do %>
      <%= render(:partial => "shared/current_user_tile", :locals => { :user => current_user }) %>
    <% end %>
    
    <% render(:layout => "shared/sidebar_box", :locals => {:box_class => "jumpToActions"}) do %>
      <h4>Jump To</h4>
      <ul class="actionButtons blockList clearfix">
        <li><%= link_to("Edit Profile", current_user.href) %></li>
      </ul>
    <% end %>
  </div>
</div>

<% content_for :js_footer do %>
  <%= javascript_include_tag "util/sizing", "plugins/jquery.validate", 
    "screens/account-screen", :cache => "cache/accounts_show_all" %>
<% end %>
